﻿@model RapidVet.Model.Clinics.Clinic

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.ClinicController.ActivateClinic</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Activate", "Clinics", FormMethod.Post, new { @class = "form-horizontal", id = "clinicActivate" }))
    {
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="groupName" value="@Model.ClinicGroup.Name" />
        <div class="row-fluid">
            <div class="span6">
                <button type="submit" class="btn btn-primary">@RapidVet.Resources.Global.Activate</button>
            </div>
            <div class="span6">
                <button class="btn btn-inverse" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    }

</div>
