﻿@model RapidVet.WebModels.Clinics.ClinicCreate
@{
    var modalId = "clinicModal";
    var indexGridId = "clinicsGrid";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Clinic.Create</h3>
</div>
@using (Html.BeginForm("Create", "Clinics", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.ClinicGroupId)
        <div>
            <label class="control-label">
                @Html.LabelFor(model => model.Name)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                    @RapidVet.Resources.Global.Create
                </button>
            </div>
        </div>
    </div>
}