﻿@model RapidVet.Model.Clinics.Clinic
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.ClinicController.RemoveClinic</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "Clinics", FormMethod.Post, new { @class = "form-horizontal", id = "clinicDelete" }))
    {
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="groupName" value="@Model.ClinicGroup.Name"/>
        @Muze.DeleteButtons()
    }

</div>
