﻿@{
    var clinicId = Url.RequestContext.RouteData.Values["id"];
    var containerId = Url.RequestContext.RouteData.Values["container"];
}

<ul class="nav nav-list affix">
   
    <li>
        <a id="clinic-edit" onclick="PageLoad('@Url.Action("Edit", "Clinics")','@containerId' , this)" href="#">
            @RapidVet.Resources.ClinicEditNavigation.ClinicDetails
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a onclick="PageLoad('@Url.Action("Index", "Diagnoses")','@containerId', this)" href="#">
            @RapidVet.Resources.ClinicEditNavigation.Diagnoses
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a onclick="PageLoad('@Url.Action("Index", "Treatments")','@containerId', this)" href="#">
            @RapidVet.Resources.ClinicEditNavigation.Treatments
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a onclick="PageLoad('@Url.Action("Main", "PriceListItems")','@containerId', this)" href="#">
            @RapidVet.Resources.ClinicEditNavigation.PriceList
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a onclick="PageLoad('@Url.Action("Index", "Issuers")','@containerId', this)" href="#">
            @RapidVet.Resources.ClinicEditNavigation.Issurers
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>


</ul>
