﻿@model RapidVet.Model.Clinics.Clinic
<table id="clinicsTable" class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @RapidVet.Resources.Global.Id
        </th>
        <th>
            @RapidVet.Resources.User.FirstName
        </th>
        <th>
            @RapidVet.Resources.User.LastName
        </th>
        <th>
            @RapidVet.Resources.User.Email
        </th>
        <th>
            @RapidVet.Resources.User.Roles
        </th>
       <th></th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
                @foreach(var role in item.Roles)
                {
                    <span> @role.RoleName | </span> 
                }
            </td>
            <td></td>
        </tr>
    }
</table>
