﻿@model System.Collections.Generic.List<RapidVet.Model.Clinics.TaxRate>
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/TaxRates.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>@RapidVet.Resources.TaxRates.Title</h2>

<div class="well">
    <h4>@RapidVet.Resources.TaxRates.AddNew</h4>

    <div class="alert alert-block alert-error" id="formAlert" style="display: none;">
        <button type="button" class="close" onclick="$('#formAlert').hide();">&times;</button>
        <h4>@RapidVet.Resources.GlobalValidationErrors.SmallerThen99</h4>
    </div>
    <form action="@Url.Action("CreateTaxRate", "Clinics")" method="POST" id="createRate">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span1">
                <label>@RapidVet.Resources.TaxRates.Date</label>
            </div>
            <div class="span2">
                <label>
                        <input type="text" class="date" name="date" data-bind="value: date" readonly />
                </label>
            </div>

            <div class="span1">
                <label>@RapidVet.Resources.TaxRates.Rate</label>
            </div>
            <div class="span2">
                <label>
                        <input name="Rate" data-bind="value: rate" />
                </label>
            </div>
            <div class="span2">
                <label>
                        <button type="submit" class="btn btn-primary" data-bind="click: submitForm,enable: isValid">
                            <i class="icon-ok"></i>
                    </button>
                </label>
            </div>
        </div>
    </div>
    </form>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>@RapidVet.Resources.TaxRates.Date</th>
            <th>@RapidVet.Resources.TaxRates.Rate</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: rates">
        <tr>
            <td>
                <input data-bind="datepicker: date" readonly />
            </td>
            <td>
                <input data-bind="value: rate" /></td>
            <td>
                <button class="btn btn-danger" data-bind="click: $parent.delete"><i class="icon-remove"></i></button>
                <button class="btn btn-primary" data-bind="click: $parent.updateRate, visible: pendingChanges"><i class="icon-ok"></i></button>
            </td>

        </tr>
    </tbody>
</table>
