﻿@model IEnumerable<RapidVet.Model.Clinics.AdvancedPaymentsPercent>
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>שינוי אחוז מקדמות</h2>

@using (Html.BeginForm("ChangeAdvancedPaymentPercent", "Clinics", FormMethod.Post))
{
    
    <div class="form-inline">
        <div class="row control-group">
            <div class="span2">
                <label>הזן ערך חדש</label>
            </div>
            <div class="span2">
                <label>
                    <input type="number" id="advancedPaymentPercent" name="advancedPaymentPercent"
                     data-val-range="עליך להזין ערך חוקי" 
                     data-val-range-max="100" data-val-range-min="0" 
                   data-val="true" data-val-regex="@RapidVet.Resources.GlobalValidationErrors.NumbersOnly" 
               @*    data-val-regex-pattern="(?<=^| )\d+(\.\d+)?(?=$| )"*@ data-val-required="עליך להזין ערך חוקי" />
                </label>
            </div>

            <div class="span2">
                <span class="help-inline">
                    <span class="field-validation-valid" data-valmsg-for="advancedPaymentPercent" data-valmsg-replace="true"></span>
                </span>
            </div>

            <div class="span2">
                <label>
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-ok"></i>
                        הזן
                    </button>
                </label>
            </div>
        </div>
    </div>
}

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>פריט</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@item.PercentChangedDate.ToString("dd/MM/yyyy HH:mm")</span>
                </td>
                <td>
                    <span>@item.Percent</span>
                </td>
            </tr>
        }
    </tbody>
</table>
