﻿@model System.Collections.Generic.List<RapidVet.Model.Clinics.AdvancedPaymentsPercent>
@{
    var issuerId = Url.RequestContext.RouteData.Values["id"];
    var issuerName = Url.RequestContext.HttpContext.Request.Params["name"]; 
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/AdvancedPaymentsPercent.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>@RapidVet.Resources.AdvancedPaymentsPercents.Title @issuerName</h2>

<div class="well">
    <h4>@RapidVet.Resources.AdvancedPaymentsPercents.AddNew</h4>

    <div class="alert alert-block alert-error" id="formAlert" style="display: none;">
        <button type="button" class="close" onclick="$('#formAlert').hide();">&times;</button>
        <h4>@RapidVet.Resources.GlobalValidationErrors.SmallerThen99</h4>
    </div>
    <form action="@Url.Action("CreateAdvancedPaymentPercent", "Clinics", new { issuerId = @issuerId})" method="POST" id="createPercent">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span1">
                <label>@RapidVet.Resources.AdvancedPaymentsPercents.Date</label>
            </div>
            <div class="span2">
                <label>
                        <input type="text" class="date" name="date" data-bind="value: date" readonly />
                </label>
            </div>

            <div class="span1">
                <label>@RapidVet.Resources.AdvancedPaymentsPercents.Percent</label>
            </div>
            <div class="span2">
                <label>
                        <input name="Percent" data-bind="value: percent" />
                </label>
            </div>
            <div class="span2">
                <label>
                        <button type="submit" class="btn btn-primary" data-bind="click: submitForm, enable: isValid">
                            <i class="icon-ok"></i>
                    </button>
                </label>
            </div>
        </div>
    </div>
    </form>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>@RapidVet.Resources.AdvancedPaymentsPercents.Date</th>
            <th>@RapidVet.Resources.AdvancedPaymentsPercents.Percent</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: percents">
        <tr>
            <td>
                <input data-bind="datepicker: date" readonly />
            </td>
            <td>
                <input data-bind="value: percent" /></td>
            <td>
                <button class="btn btn-danger" data-bind="click: $parent.delete"><i class="icon-remove"></i></button>
                <button class="btn btn-primary" data-bind="click: $parent.updatePercent, visible: pendingChanges"><i class="icon-ok"></i></button>
            </td>

        </tr>
    </tbody>
</table>

<input type="hidden" name="issuerId" id="issuerId" value="@issuerId"/>
