﻿@model RapidVet.Model.Clinics.Clinic

@{
    ViewBag.Title = string.Format(RapidVet.Resources.Controllers.ClinicController.CreateNewTitle, Model.ClinicGroup.Name);
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        @Html.HiddenFor(model => model.ClinicGroupID)
        <p>
            <input type="submit" value="@RapidVet.Resources.Global.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(RapidVet.Resources.Global.Back, "Details","ClinicGroups",new {id = Model.ClinicGroup.Id},new{})
</div>
