﻿@model RapidVet.Model.Clinics.Clinic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Clinic</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">DocumentHeader</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentHeader)
    </div>

    <div class="display-label">MainVetId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MainVetId)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">CreatedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedById)
    </div>

    <div class="display-label">UpdatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">UpdatedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedById)
    </div>
    
    <div>@Html.Partial("_UsersPartialView", Model)</div>

</fieldset>

