﻿@model RapidVet.WebModels.Clinics.ClinicEdit
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/autocomplete.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<style type="text/css">
    .ui-autocomplete.ui-front {
        z-index: 9999;
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    label {
        width: 200px !important;
        text-align: right;
    }

    #ShowPopUpWhenClientInDebt{
         position: relative;
         top: -10px;
    }
</style>
<h2>@RapidVet.Resources.Clinic.Edit</h2>

@using (Html.BeginForm("Edit", "Clinics", FormMethod.Post, new { @class = "form-horizontal", id = "clinicEditForm" }))
{
    @Html.HiddenFor(c => c.Id)

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Name)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Name)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Address)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Address)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Phone)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Phone)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Fax)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Fax)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Email)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Email)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.MainVetId)</label>
        <div class="controls">
            @Html.EditorFor(m => m.MainVetId)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.MainVetId)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.DefualtTariffId)</label>
        <div class="controls">
            @Html.EditorFor(m => m.DefualtTariffId)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.DefualtTariffId)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EntryDuration)</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.EntryDuration,
                                      new SelectList(
                                          new List<SelectListItem>
                                              {
                                                  new SelectListItem{Value = "5", Text = "5"},
                                                  new SelectListItem{Value = "10", Text = "10"},
                                                  new SelectListItem{Value = "15", Text = "15"},
                                                  new SelectListItem{Value = "20", Text = "20"},
                                                  new SelectListItem{Value = "30", Text = "30"},
                                                  new SelectListItem{Value = "40", Text = "40"},
                                                  new SelectListItem{Value = "45", Text = "45"},
                                                  new SelectListItem{Value = "60", Text = "60"},
                                                  new SelectListItem{Value = "90", Text = "90"},
                                                  new SelectListItem{Value = "120", Text = "120"}

                                              },
                                          "Value",
                                          "Text",
                                          Model.EntryDuration
                                          )
                     )

            <span class="help-inline">@Html.ValidationMessageFor(m => m.EntryDuration)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.CalendarSpread)</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.CalendarSpread,
                                      new SelectList(
                                          new List<SelectListItem>
                                              {
                                                  new SelectListItem{Value = "00:15:00", Text = "15"},
                                                  new SelectListItem{Value = "00:30:00", Text = "30"}

                                              },
                                          "Value",
                                          "Text",
                                       Model.CalendarSpread
                                          )
                     )

            <span class="help-inline">@Html.ValidationMessageFor(m => m.CalendarSpread)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.CityId)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.CityName, new { data_autocomplete_url = Url.Action("Autocomplete") })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.CityId)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.AnimalKindId)</label>
        <div class="controls">
            @Html.EditorFor(m => m.AnimalKindId)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.AnimalKindId)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.DefaultNewClientStatusId)</label>
        <div class="controls">
            @Html.EditorFor(m => m.DefaultNewClientStatusId)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.DefaultNewClientStatusId)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.RegionalVet)</label>
        <div class="controls">
            @Html.EditorFor(m => m.RegionalVet)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.RegionalVet)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.RegionalCouncilId)</label>
        <div class="controls">
            @Html.EditorFor(m => m.RegionalCouncilId)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.RegionalCouncilId)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.HSInitNumber)</label>
        <div class="controls">
            @Html.EditorFor(m => m.HSInitNumber)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.HSInitNumber)</span>
        </div>
    </div>

    <div class="control-group">
        @Html.EditorFor(model => model.Active)
        <label style="display: inline-block;">
            @Html.LabelFor(model => model.Active)
        </label>

    </div>

    <div class="control-group">
        @Html.EditorFor(model => model.InvoiceReciptOnly)
        <label style="display: inline-block;">
            @Html.LabelFor(model => model.InvoiceReciptOnly)
        </label>

    </div>

    <div class="control-group">
        @Html.EditorFor(model => model.ShowPopUpWhenClientInDebt)
        <label style="display: inline-block;">
            @Html.LabelFor(model => model.ShowPopUpWhenClientInDebt)
        </label>

    </div>

    <h3>@RapidVet.Resources.ClinicGroup.LicensingOptions</h3>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.ArchiveAllocation)</label>
        <div class="controls">
            <span>GB</span>
            @if (CurrentUser.IsAdministrator)
            {
                <input type="number" min="20" class="input-mini" name="ArchiveAllocation" id="ArchiveAllocation" value="@Model.ArchiveAllocation" />
            }
            else
            {
                <span>@Model.ArchiveAllocation</span>                
            }

        </div>

    </div>

    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
}
