﻿@using RapidVet.RapidConsts.Controllers
@{
    var idObj = Url.RequestContext.RouteData.Values["id"];
    int clinicId = 0;
    if (idObj != null)
    {
        int.TryParse(idObj.ToString(), out clinicId);
    }
    var containerId = ClinicConsts.EDIT_MAIN_CONTENT_ID;
}
@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.BreadCrums.ClinicEdit</li>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/App/grid.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/old/RapidVet.css")"/>
<div class="row">
    <div class="span2">
        @Html.Action("EditNavigation", new { id = clinicId, container = containerId })
    </div>
    <div class="span9" id="@containerId">

        <div id="loader" style="display: none;">
            <h1>Loading...</h1>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            PageLoad('@Url.Action("Edit", "Clinics")', '@containerId', $('#clinic-edit'));
        });
    </script>
}
