﻿@model RapidVet.WebModels.Clinics.FinanceClinicEdit
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<style type="text/css">
   
    label {
        width: 200px !important;
        text-align: right;
    }

     #MoveZeroSumTreatmentsToInvoice, #PerformDividingIncomeWithoutConciderationOfDistributedPayment,
     #DontMoveItemsFromVisitToInvoice, #DontAddToVisitNewItemsInInvoice {
         position: relative;
         top: -10px;
         margin-left: 5px;
    }
   
</style>

@if (!Model.MoveItemsFromVisitToInvoiceFromDate.HasValue || Model.MoveItemsFromVisitToInvoiceFromDate.Value.Equals(DateTime.MinValue))
{
    Model.MoveItemsFromVisitToInvoiceFromDate = new DateTime(2000, 1, 1);
}

<h2>@RapidVet.Resources.Clinic.EditFinanceDetails</h2>

@using (Html.BeginForm("FinanceDetails", "Clinics", FormMethod.Post, new { @class = "form-horizontal", id = "clinicEditForm" }))
{
    @Html.HiddenFor(c => c.Id)

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.DollarExchangeRate)</label>
        <div class="controls">@Html.EditorFor(m => m.DollarExchangeRate)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.DollarExchangeRate)</span>
        </div>
    </div>
    
    
    <div class="control-group">
        @Html.EditorFor(m => m.ApplyDividingIncomeModel)
        <label style="display: inline-block;">@Html.LabelFor(m => m.ApplyDividingIncomeModel)</label>
    </div>
    
    
    <div class="control-group">
        @Html.EditorFor(m => m.PerformDividingIncomeWithoutConciderationOfDistributedPayment)
        <label style="display: inline-block;">@Html.LabelFor(m => m.PerformDividingIncomeWithoutConciderationOfDistributedPayment)</label>
    </div>

    <div class="control-group">
        @Html.EditorFor(m => m.CancelAutomaticPrinting)
        <label style="display: inline-block;">@Html.LabelFor(m => m.CancelAutomaticPrinting)</label>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.ArrangeIncomeById)</label>
        <div class="controls">@Html.EditorFor(m => m.ArrangeIncomeById)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.ArrangeIncomeById)</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.DefaultIssuerId)</label>
        <div class="controls">@Html.EditorFor(m => m.DefaultIssuerId)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.DefaultIssuerId)</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.CoSignUserName)</label>
        <div class="controls">@Html.EditorFor(m => m.CoSignUserName)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.CoSignUserName)</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.CoSignPassword)</label>
        <div class="controls">@Html.EditorFor(m => m.CoSignPassword)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.CoSignPassword)</span>
        </div>
    </div>

    <h3>@RapidVet.Resources.Clinic.ItemsManagement</h3>
    
    <div class="control-group">
            @Html.EditorFor(m => m.MoveZeroSumTreatmentsToInvoice)
        <label style="display: inline-block;">@Html.LabelFor(m => m.MoveZeroSumTreatmentsToInvoice)</label>
    </div>

    <div class="control-group">
        @Html.EditorFor(m => m.DontMoveItemsFromVisitToInvoice)
        <label style="display: inline-block;">@Html.LabelFor(m => m.DontMoveItemsFromVisitToInvoice)</label>
    </div>

    <div class="control-group">
        <label style="display: inline-block;">@Html.LabelFor(m => m.MoveItemsFromVisitToInvoiceFromDate)</label>
        <input type="text" class="date input-small"  id="MoveItemsFromVisitToInvoiceFromDate" name="MoveItemsFromVisitToInvoiceFromDate" value="@Model.MoveItemsFromVisitToInvoiceFromDate.Value.ToShortDateString()" readonly/>
    </div>

    <div class="control-group">
        @Html.EditorFor(m => m.DontAddToVisitNewItemsInInvoice)
        <label style="display: inline-block;">@Html.LabelFor(m => m.DontAddToVisitNewItemsInInvoice)</label>
    </div>


        @*<div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.AdvancedPaymentPercent)</label>
            <div class="controls">
                @Html.DisplayTextFor(m => m.AdvancedPaymentPercent)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.AdvancedPaymentPercent)</span>
        </div>
    </div>*@


    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.TaxRate)</label>
            @Html.DisplayTextFor(m => m.TaxRate)
    </div>

<div class="control-group">
    <div class="controls" style="text-align: left;">
        <button type="submit" class="btn ok">
            <img src="/Content/img/RapidVet/ok-v.png">
        </button>
    </div>
</div>


}
