﻿@model IEnumerable<RapidVet.Model.Clinics.Clinic>
@using RapidVet.RapidConsts.Controllers;
@{
    var modalId = ClinicConsts.MODAL_ID;
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}
<div id="@ClinicConsts.GRID_ID">
    @if (CurrentUser.IsAdministrator)
    {
        @Muze.CreateButton(Url.Action("Create"), modalId, RapidVet.Resources.Clinic.Create)
    }
    <br />
    <table id="clinicGroupsTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @RapidVet.Resources.Clinic.Name
            </th>
            <th>
                @RapidVet.Resources.Clinic.MainVet
            </th>
            <th>@RapidVet.Resources.Global.Status
            </th>
            <th></th>
        </tr>
        @foreach (var clinic in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => clinic.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clinic.MainVet.Name)
                </td>
                <td>
                    @if (clinic.Active)
                    {
                        <i class="icon-ok"></i>
                    }
                    else
                    {
                        <i class="icon-remove"></i>
                    }
                </td>
                <td>
                    @if (clinic.Active)
                    {
                        if (CurrentUser.ActiveClinicId == clinic.Id)
                        {
                            <a href="@Url.Action("Edit", "Clinics")">
                                <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                        
                        }
                        else
                        {
                             <a href="@Url.Action("ChangeActiveClinic", "Account",new{id=clinic.Id,returnUrl=Url.Action("Edit")})">
                                <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                        }
                            <span>|</span>
                        <a onclick="GetModal('@Url.Action("Delete", new { id = clinic.Id })', '@modalId'); ">
                            <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>

                    }
                    else
                    {
                        <a onclick="GetModal('@Url.Action("Activate", new { id = clinic.Id })', '@modalId'); ">
                            <i class="icon-eye-open"></i>
                            @RapidVet.Resources.Global.Activate
                        </a>
                    }

                </td>
            </tr>
        }
    </table>


    @Muze.ModalDiv(modalId)
</div>
