﻿@model IEnumerable<RapidVet.Model.Clinics.Clinic>
@{
    var idObj = Url.RequestContext.RouteData.Values["id"];
    int id = 0;
    if (idObj != null)
    {
        int.TryParse(idObj.ToString(), out id);
    }

    var modalId = "clinicModal";
}
<script type="text/javascript">

    function GetEdit(id) {
        var target = "/Clinics/EditMain/" + id;
        $('#EditArea').load(target);
    }
</script>



<div id="clinicsGrid">

    <div>
        <a href="javascript:GetModal('@Url.Action("Create", new { id = id })','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
    </div>
    <br/>
    @Html.Action("IndexGrid", new { id = id })

    <div id="clinicModal" class="modal hide fade">
    </div>
</div>

<div id="EditArea">
</div>
