﻿@model RapidVet.Model.Clinics.Clinic
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>תיק חיה</h2>
@using (Html.BeginForm("PatientHistorySetting", "Clinics", new { @class = "form-horizontal", id = "cForm" }))
{
    @Html.HiddenFor(c => c.Id)
    <div class="control-group">
        <div class="controls">@Html.DisplayFor(m => m.Name)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
        </div>
    </div>
    <br/>
     <h4>הצג את השדות הבאים:</h4>          
    <br/>   
    <div class="control-group">
        <label class="control-label" >תלונה עיקרית</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowComplaint)
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">בדיקות</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowExaminations)
        </div>
    </div>
    
        <div class="control-group">
        <label class="control-label">אבחנות</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowDiagnosis)
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">טיפולים</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowTreatments)
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">תרופות</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowMedicins)
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">טמפרטורה (ערך מדידה אחרון בטיפול)</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowTemperature)
        </div>
    </div>
    
        <div class="control-group">
        <label class="control-label">משקל (ערך מדידה אחרון בטיפול)</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowWeight)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@RapidVet.Resources.Clinic.ShowOldVisits</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowOldVisits)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@RapidVet.Resources.Clinic.ShowVisitNote</label>
        <div class="controls">
            @Html.EditorFor(model => model.ShowVisitNote)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@RapidVet.Resources.Clinic.HideInActiveAnimals</label>
        <div class="controls">
            @Html.EditorFor(model => model.HideInActiveAnimals)
        </div>
    </div>    

    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
}

