﻿ @model RapidVet.Model.Clinics.Clinic

@{
    ViewBag.Title = "Remove";
}

<h2>@RapidVet.Resources.Controllers.ClinicController.RemoveClinic</h2>

<fieldset>
    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>


    <div class="display-label">CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">CreatedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedById)
    </div>

</fieldset>
<br/>
<a class="btn-large btn-danger " data-toggle="modal" onclick="$('#removeClinicModal').modal('show')"  style="cursor: pointer;">@RapidVet.Resources.Controllers.ClinicController.RemoveClinic</a>

<div class="modal hide" id="removeClinicModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>@RapidVet.Resources.Controllers.ClinicController.RemoveClinic</h3>
  </div>
    <div class="modal-body">
        <p>
            @RapidVet.Resources.Controllers.ClinicController.RemoveClinicWarning
        </p>
        <p>@using (Html.BeginForm()) {
               <p>
                   <input type="submit" class="btn-large btn-danger " value="@RapidVet.Resources.Global.Remove" /> 
                   <br/>

                   <a href="@Url.Action("Details","ClinicGroups",new{ id = Model.ClinicGroupID})">@RapidVet.Resources.Global.Back</a>
               </p>
           }</p>
    </div>
</div>