﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Quotations.QuotationDiscountModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Quotations.GeneralDiscountCaption</h3>
</div>
@using (Ajax.BeginForm("GeneralDiscount", "Quotations", new AjaxOptions()@*, new { isPercentDiscount = true } $("#percentDiscount").is(':checked')}*@
       {
           HttpMethod = "Post",
           InsertionMode = InsertionMode.Replace,
           OnSuccess = "Success"
       },
                          new
                              {
                                  @class = "form-horizontal",
                                  id = QuotationsConsts.EDIT_ID
                              }))
{
    <div class="modal-body" style="height: 55px; overflow-y: hidden;">
        @Html.ValidationSummary(true)
        <table style="margin: auto;">
            <tbody>
                <tr>
                    <td style="margin-left: 25px;">
                        <input type="radio" id="percentDiscount" name="discount" checked value="" style="margin-bottom: 2px;">
                        <label style="margin-left: 10px;">@Html.LabelFor(m => m.PercentDiscount)</label></td>
                    <td style="display: inline;">@Html.TextBoxFor(m => m.PercentDiscount, new { style = "width: 70px;" })
                        @Html.ValidationMessageFor(m => m.PercentDiscount)
                    </td>
                </tr>

                <tr>
                    <td style="margin-left: 25px;">
                        <input type="radio" name="discount" value="" style="margin-bottom: 2px;">
                        <label style="margin-left: 10px;">@Html.LabelFor(m => m.SumDiscount)</label></td>
                    <td style="display: inline; width: 70px;">@Html.TextBoxFor(m => m.SumDiscount, new { style = "width: 70px;" })
                        @Html.ValidationMessageFor(m => m.SumDiscount)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="hidden" name="isPercentDiscount" id="isPercentDiscount" value="true" />
    <input type="hidden" name="QuotationId" value="@ViewBag.QuotationId"/>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                &nbsp;
            </div>
            <div class="span6">
                <button type="submit" class="btn ok" style="width: 25%;">
                    <img src="/Content/img/RapidVet/ok-v.png" style="height: 20px;"></button>
            </div>

        </div>
    </div>
        <script type="text/javascript">
            $(document).ready(function () {
                
                $('input[type=radio]').click(function () {
                    var isPercentDiscount = document.getElementById('isPercentDiscount');

                    if (isPercentDiscount)//checking whether it is found on DOM, but not necessary
                    {
                        isPercentDiscount.value = $("#percentDiscount").is(':checked');
                    }
                });
            });

        </script>
}
