﻿//@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var clientId = Url.RequestContext.RouteData.Values["id"];
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/QuotationIndex.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <style>
        .ui_a_btn {
            background-color: transparent;
            border: 0px;
            color: #7dba00;
            text-decoration: none;
        }
    </style>
}
<input type="hidden" name="clientId" id="clientId" value="@clientId" />

<div class="row control-group">
    @Html.Action("GetClientDetailsBar", "Base", new { id = clientId, isPatientId = false })
</div>
<a class="btn btn-primary" href="@Url.Action("Quotation", "Quotations", new { id = clientId })">
    <i class="icon-plus"></i>
    @RapidVet.Resources.Quotations.AddNew
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Quotations.QuotationName</th>
            <th>@RapidVet.Resources.Quotations.PatientName</th>
            <th>@RapidVet.Resources.Quotations.CreationDate</th>
            <th>@RapidVet.Resources.Quotations.UpdateDate</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: quotations">


        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: PatientName"></td>
            <td data-bind="text: Created"></td>
            <td data-bind="text: Updated"></td>
            <td>
                <a data-bind="attr: { href: EditUrl }">
                    <i class="icon-edit"></i>@RapidVet.Resources.Quotations.ShowQuotation
                </a>
                |
                <button data-bind="click: function(executionUrl, treatmentsDescription) { $parent.preExecute(ExecutionUrl() , TreatmentsDescription()) } " class="ui_a_btn">
                    <i class="icon-ok"></i>@RapidVet.Resources.Quotations.Execute
                </button>
                @*<a data-bind="attr: { href: ExecutionUrl ,click: preExecute(TreatmentsDescription) }">

                    </a>*@
                |
                <a data-bind="click: $root.showSaveAsModal">
                    <i class="icon-file"></i>
                    @RapidVet.Resources.Quotations.CloneQuotation
                </a>
                |
                <a data-bind="attr: { href: FinanceUrl }">
                    <i class=" icon-shopping-cart"></i>
                    @RapidVet.Resources.Quotations.CreateInvoiceRecipt
                </a>
                |
                <a data-bind="click: $root.sendEmail">
                    <i class="icon-tag"></i>@RapidVet.Resources.Global.SendEmail
                </a>
                |
                <a data-bind="click: $root.showDeleteModal">
                    <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete
                </a>
            </td>
        </tr>

    </tbody>
</table>

<div class="modal hide fade" id="deleteModal">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideDeleteModal" aria-hidden="true">&times;</button>
        <h3>מחיקת הצעת מחיר</h3>
    </div>
    <div class="modal-body">
        <h3>
            @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
        </h3>
    </div>
    <div class="modal-footer">
        @using (Html.BeginForm("Delete", "Quotations", FormMethod.Post, new { @class = "form-horizontal", id = "deleteForm" }))
        {
            <input type="hidden" name="id" id="id" data-bind="value: quotationToDeleteId" />
            <div class="row-fluid">
                <div class="span6">
                    <button onclick="submitDeleteForm()" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
                </div>
                <div class="span6">
                    <button class="btn btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
                </div>
            </div>
        }

    </div>
</div>

<div class="modal hide fade" id="savePackageAs">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideSaveAsModal" aria-hidden="true">&times;</button>
        <h3>שמור הצעת מחיר בשם</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <div class="row">
                <label>
                    <span>שם הצעת המחיר: </span>
                    <input type="text" data-bind="value: saveAsName" class="input-large" />
                </label>
            </div>
        </div>
        <div class="controls" style="text-align: left;">
            <button data-bind="click: saveAsNewPackage" class="btn ok btn-primary">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
</div>

<div id="indexMoveQuotationToExecutionModel" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Quotations.MoveQuotationToExecutionCaption</h3>
    </div>
    <div class="modal-body">
        <h3>
            @RapidVet.Resources.Quotations.MoveQuotationToExecutionText
        </h3>
        <h3>
            @RapidVet.Resources.Quotations.BelowListOfItems
        </h3>
        <div id="indexMoveQuotationToExecutionItemsList">
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div style="margin-top: 15px;">
                <a data-bind="attr: { href: $root.CurrentExecutionUrl() }" class=" btn btn-primary">@RapidVet.Resources.Global.Ok</a>
                <a onclick="$('#indexMoveQuotationToExecutionModel').modal('hide');" class="btn btn-inverse">@RapidVet.Resources.Global.Cancellation</a>
            </div>

        </div>
    </div>
</div>