﻿@model RapidVet.WebModels.Quotations.QuotationPrefaceModel
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/QuotationPreface.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    

}

<h2>הצעות מחיר - הערות קבועות</h2>

@using (Html.BeginForm("Preface", "Quotations", FormMethod.Post, new {id="prefaceForm", @class = "form-horizontal" }))
{       
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        @Html.Raw(Model.QuotationPreface)
    </textarea>
   <input type="hidden" name="quotationPreface"/>
    <br/><br/>
      <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button onclick="sendForm();" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
         
}