﻿@model RapidVet.WebModels.Quotations.QuotationWebModel
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    var showPrices = ViewBag.Prices;
    var showComments = ViewBag.Comments;
    decimal price = 0;
    decimal totalPrice = 0;
    decimal totalDiscount = 0;
    decimal totalWithoutDiscount = 0;
}

<style>
    .hide {
        display: none;
    }
</style>
<img class="logo" src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;" />
<span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span>
<br />
<span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
<br />
<span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
<br />
<span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
<br />
<span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>


<h3 style="text-align: center; color: red;">הצעת מחיר מתאריך @DateTime.Now.Date.ToString("dd/MM/yyyy")</h3>

@{
    string gender;// = Model.Patient.GenderId == 1 ? (RapidVet.Resources.Gender.Male) : (Model.Patient.GenderId == 2 ? RapidVet.Resources.Gender.Female : RapidVet.Resources.Gender.UndefinedSex);

    if (Model.Patient.GenderId == 1)
    {
        gender = RapidVet.Resources.Gender.Male;
    }
    else if (Model.Patient.GenderId == 2)
    {
        gender = RapidVet.Resources.Gender.Female;
    }
    else
    {
        gender = RapidVet.Resources.Gender.UndefinedSex;
    }


}


<table style="font-weight: bold; width: 65%; border: none; border-collapse: collapse;">
    <tr>
        <td style="border: none;">שם הלקוח/ה: @Model.Patient.Client.FirstName @Model.Patient.Client.LastName</td>
        <td style="border: none;">מס' תיק: @Model.Patient.Client.Id</td>
    </tr>
    <tr>
        <td style="border: none;"></td>
        <td style="border: none;"></td>
    </tr>
    <tr>
        <td style="border: none;">שם החיה: @Model.Patient.Name</td>
        <td style="border: none;">סוג החיה: @Model.Patient.AnimalKind.Value</td>
    </tr>
    <tr>
        <td style="border: none;">מין החיה: @gender</td>
        <td style="border: none;">גיל החיה: ש:@ViewBag.AgeInYears ח:@ViewBag.AgeInMonths</td>
    </tr>
    <tr>
        <td style="border: none;"></td>
        <td style="border: none;"></td>
    </tr>
    <tr>
        <td style="border: none;">שם הצעת המחיר: @Model.Name</td>
        <td style="border: none;"></td>
    </tr>
</table>
@*<div>&nbsp;&nbsp;&nbsp; </div>
<div>&nbsp;&nbsp;&nbsp; </div>
<div>&nbsp;&nbsp;&nbsp; </div>
<br />
<div></div>*@


<br />
<br />
<table style="margin-right: auto; margin-left: auto; text-align: center">
    <thead>
        <tr>
            
            <th>טיפול</th>
            <th>הערה</th>
            <th class="@(showPrices == false ? "hide" : "")">מחיר</th>
            <th>מספר יחידות</th>
            <th class="@(showPrices == false ? "hide" : "")">הנחה</th>
            <th class="@(showPrices == false ? "hide" : "")">מחיר כולל מע"מ</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Treatments)
        {
            <tr>
                
                <td>@Html.DisplayFor(modelT => t.Name)</td>
                <td style="width: 125px;">@Html.DisplayFor(modelT => t.Comments)</td>
                <td class="@(showPrices == false ? "hide" : "")" style="width:75px;">@Html.DisplayFor(modelT => t.Price)</td>
                <td style="width: 75px;">@Html.DisplayFor(modelT => t.Amount)</td>
                <td class="@(showPrices == false ? "hide" : "")" style="width:75px;">@Html.DisplayFor(modelT => t.Discount)</td>
                <td class="@(showPrices == false ? "hide" : "")" style="width:75px;">
                    @{ price = t.Price * t.Amount; }
                    @if (t.Discount > 0 || t.PercentDiscount > 0)
                    {
                        if (t.Discount > 0)
                        {
                            { price = price - t.Discount; }
                        }
                        else
                        {
                            { price = price * ((100 - t.PercentDiscount) / 100); }
                        }
                    }
                    <span>@price.ToString("N")</span>
                </td>

            </tr>
                    totalWithoutDiscount += t.Price * t.Amount;
                    totalPrice += price;
                    totalDiscount += t.Discount;
        }
    </tbody>
</table>
<br />
<br />

<table>
    <tr>
        <td colspan="2">סה"כ</td>
        <td>@totalWithoutDiscount.ToString("F")</td>
    </tr>
    <tr>
        <td style="width: 250px;"></td>
        <td style="width: 100px;">הנחה</td>
        <td style="width: 75px;">@totalDiscount</td>
    </tr>
    <tr>
        <td style="width: 250px;"></td>
        <td style="width: 100px;"><b>מחיר כולל מע"מ</b></td>
        <td style="width: 75px;"><b>@totalPrice.ToString("F")</b></td>
    </tr>
</table>
<br />
<div class="@(showComments == false ? "hide" : "")">
    <p>הערות:</p>
    <div>
        @Html.Raw(Model.Comments)
    </div>
</div>
