﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
    var clientId = Url.RequestContext.RouteData.Values["Id"];
    var quotationId = 0;
    int.TryParse(Request.Params["quotationId"], out quotationId);
    var modalId = QuotationsConsts.MODAL_ID;

}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/RapidVet.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Quotation.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

@section breadcrumb
{
    <li>
        <a href="@Url.Action("Index", "Home")">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>

        @CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">
        <a href="@Url.Action("Patients", "Clients", new { id = Model.Id })">@Model.Name</a>
    </li>
}

<style type="text/css">
    .validationMessage {
        color: red !important;
    }
</style>

<div class="row control-group">
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
</div>


<input type="hidden" name="clientId" id="clientId" value="@clientId" />
<input type="hidden" name="quotationId" id="quotationId" value="@quotationId" />

<h2>הצעת מחיר</h2>
<div>
    <a class="btn btn-primary" href="@ViewBag.BackUrl">חזור</a>
</div>
<br />
<a class="btn btn-primary" href="@Url.Action("Quotation", "Quotations", new { id = clientId })"><i class="icon-plus"></i>הוסף הצעת מחיר חדשה</a>
<br />
<br />
<div class="form-inline well">
    <div class="row control-group">
        <div class="span4">
            <label>
                <span>בחר חיה</span>
                <select required data-bind="options: patients, optionsText: 'Name', optionsValue: 'Id', value: selectedPatient, optionsCaption: 'בחר..'"></select>
            </label>
        </div>
        <div class="span4">
            <label>
                <span>שם הצעת המחיר</span>
                <input required type="text" data-bind="value: name" class="input-medium" />
            </label>

        </div>
        <div class="span4">
            <label>
                <span>סה"כ :</span>
                <input type="text" readonly="readonly" data-bind="value: totalPrice().toFixed(2)" style="font-weight: bold;" />

            </label>

        </div>
    </div>

    <div>
        <a data-bind="click: showGeneralDiscountModal" class="btn btn-primary"><i class="icon-magic"></i>@RapidVet.Resources.Quotations.GeneralDiscountCaption</a>

        <a data-bind="click: clearAllDiscounts " class="btn btn-primary"><i class="icon-eraser"></i>@RapidVet.Resources.Quotations.ClearAllDiscounts</a>
    </div>

</div>
<br />

<div class="row-fluid">
    <div class="span2">
        <a data-bind="click: addTreatment" class="btn btn-primary"><i class="icon-plus"></i>הוסף טיפול</a>
    </div>
    <div class="span2">
        <select data-bind="options: packages, optionsText: 'Name', optionsValue: 'Id', value: selectedPackage, optionsCaption: 'בחר חבילת טיפולים..'" class="input-medium"></select>
    </div>
    <div class="span8">
        <a data-bind="click: loadPackage" class="btn btn-primary"><i class=" icon-tags"></i>טען חבילת טיפולים</a>
        <a data-bind="click: showPackageModal" class="btn btn-primary"><i class="icon-file"></i>שמור חבילת טיפולים</a>


        <a class="btn btn-primary" id="btn_executeTreatments" data-bind="click: saveAndExecutePackage, html: executeText"><i class="icon-ok-circle"></i>העבר הצעת מחיר לביצוע</a>
        <a class="btn btn-primary" id="btn_deleteTreatments" data-bind="click: removeMarkedTreatments, visible: isTreamtmentChosenForExecution"><i class="icon-remove"></i>מחק טיפולים מסומנים</a>
    </div>
</div>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:5%;">סימון</th>
            <th style="width:5%;">סוג</th>
            <th style="width:8%;">קוד</th>
            <th style="width:20%;">תיאור</th>
            <th style="width:7%;">יחידות חיוב</th>
            <th style="width:5%;">מחיר</th>
            <th style="width:6%;">סה"כ עלות לפני הנחה</th>
            <th style="width:8%;">הנחה בשקלים</th>
            <th style="width:8%;">הנחה באחוזים</th>
            <th style="display: none;" class="percentCb">@RapidVet.Resources.Quotations.PercentDiscount?</th>
            <th style="width:5%;">מחיר לאחר הנחה</th>

            <th style="width:17%;">הערה</th>
            <th style="width:5%;"></th>

        </tr>

    </thead>
    <tbody data-bind="foreach: { data: treatments }">
        <tr data-bind="css: cssClass">
            <td><input type="checkbox" data-bind="checked: wasTreatmentMovedToExecution" /><span style="position:relative;margin-right:5px;    " data-bind="text: alreadyExecuted"></span></td>
            <td><span data-bind="text: type"></span></td>
            <td><span data-bind="text: catalog"></span></td>
            <td><span data-bind="text: name"></span></td>
            <td>
                <input type="text" data-bind="value: amount, enable: enableEdit" class="input-mini" />
            </td>
            <td><span data-bind="text: price"></span></td>
            <td><span data-bind="text: totalAmountNoDiscounts()"></span></td>
            <td>
                <input type="text" id="tb_discount" data-bind="value: discount, enable: (enableEdit() && !isItemPercentDiscount())" class="input-mini" />
            </td>
            <td>
                <input type="text" id="tb_percentDiscount" data-bind="value: percentDiscount, enable: (enableEdit() && isItemPercentDiscount())" class="input-mini" />

            </td>
            <td style="display: none; width: 100px;" class="percentCb">
                <input type="checkbox" @*onchange='handleChange(this);'*@ value="true" name="radioDiscountGroup" data-bind="checked: isItemPercentDiscount, enable: enableEdit"
                       style="margin-left: 5px;" />
            </td>

            <td><span data-bind="text: totalAmount"></span></td>
            <td>
                <input type="text" data-bind="value: comments, enable: enableEdit" />
            </td>

            <td>

                <span data-bind="visible: enableEdit() == false">
                    <a data-bind="click: $root.removeTreatment" data-toggle="tooltip" data-placement="top" title="מחיקת רשומה" data-original-title="מחיקת רשומה"><i class="icon-remove"></i></a>
                    |
                    <a data-bind="click: $root.startEditing" data-toggle="tooltip" data-placement="top" title="עריכת רשומה" data-original-title="עריכת רשומה"><i class="icon-edit"></i></a>
                </span>
                <span data-bind="visible: enableEdit()">
                    <a data-bind="click: $root.finisheEditing" data-toggle="tooltip" data-placement="top" title="סיום עריכה" data-original-title="סיום עריכה"><i class="icon-ok"></i></a>
                </span>
            </td>

        </tr>
    </tbody>
</table>

<h3>הערות</h3>
<span>
    <input type="checkbox" data-bind="checked: showCommentsPrint" />
    הדפס הערות
</span>
<div class="well">
    <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
</div>

<div>
    <p>
        <br />
        <input type="checkbox" data-bind="checked: showPricesInPrint" />
        הדפס פירוט מחירים
    </p>
    <a class="btn btn-primary" data-bind="click: saveQuotation"><i class="icon-edit"></i>שמור הצעת מחיר</a>
    <a class="btn btn-primary" data-bind="click: saveAndPrint"><i class="icon-print"></i>שמור והדפס הצעת מחיר</a>
</div>

<div id="savePackageModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        שמירת חבילת טיפולים
    </div>
    <div class="modal-body">

        <div class="row-fluid">
            <div class="span5">
                <h3>בחר חבילת טיפולים קיימת לשמירה</h3>
            </div>
            <div class="span5">
                <select data-bind="options: packages, optionsText: 'Name', optionsValue: 'Id', value: packageSavingDestination, optionsCaption: 'בחר יעד לשמירה..'" class="input-medium"></select>
            </div>
        </div>
        <div data-bind="visible: !packageSavingDestination()">
            <div class="row-fluid">
                <div class="span3">&nbsp;</div>
                <div class="span3">
                    <h2>או</h2>
                </div>
                <div class="span3">&nbsp;</div>

            </div>

            <div class="row-fluid">
                <div class="span5">
                    <h3>הזן שם חבילת טיפולים חדשה</h3>
                </div>
                <div class="span5">
                    <input type="text" data-bind="value: newPackageName" />
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <div class="controls" style="text-align: left;">
                    <button type="submit" data-bind="click: savePackage" class="btn ok btn-primary">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="priceListModal" class="modal hide fade" style="height:400px; width:565px;overflow-y:auto;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        מציג מחיר מחירון עבור לקוח
    </div>
    <div class="row-fluid">
        <div class="span4">
            <select class="input-medium" data-bind="value: selectedCategoryId, options: categories, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..'"></select>
        </div>
        <div class="span4">
            <input class="input-medium" placeholder="@RapidVet.Resources.Global.Search" data-bind="value: searchQuery" />
        </div>
        <div class="span3">
            <a class="btn btn-primary" data-bind="click: $root.clearSearch"><i class="icon-refresh"></i>נקה חיפוש</a>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <th>סוג</th>
            <th>טיפול</th>
            <th>מק"ט</th>
            <th>סכום</th>
            <th></th>
            </thead>
            <tbody data-bind="foreach: priceListOptions">
                <tr>
                    <td data-bind="text: itemType"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: catalog"></td>
                    <td data-bind="text: price"></td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-bind="click: $parent.addToTreatments">
                            הוסף
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="generalDiscountModal" class="modal hide fade" style="width: 425px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        @RapidVet.Resources.Quotations.GeneralDiscountCaption
    </div>
    <div class="modal-body" style="height: 55px; overflow-y: hidden;">

        <table style="margin: auto;">
            <tbody>
                <tr>
                    <td style="margin: auto; width: 135px;">
                        <input type="radio" id="percentDiscount" value="true" name="radioDiscountGroup" data-bind="checked: isPercentDiscount"
                               style="margin-bottom: 11px;" />
                        <label style="position: relative; display: initial; top: -5px;">@RapidVet.Resources.Quotations.PercentDiscount</label>
                    </td>
                    <td style="display: inline;">
                        <input type="text" data-bind="value: totalPercentDiscount" value="0" style="width: 75px;" />

                    </td>
                </tr>

                <tr>
                    <td style="margin: auto; width: 135px;">
                        <input type="radio" value="false" name="radioDiscountGroup" data-bind="checked: isPercentDiscount"
                               style="margin-bottom: 11px;" />
                        <label style="position: relative; display: initial; top: -5px;">@RapidVet.Resources.Quotations.SumDiscount</label>
                    </td>
                    <td style="display: inline;">
                        <input type="text" data-bind="value: totalSumDiscount" value="0" style="width: 75px;" />

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                &nbsp;
            </div>
            <div class="span6">
                <button type="submit" class="btn ok" data-bind="click: applyDiscount" style="width: 25%;">
                    <img src="/Content/img/RapidVet/ok-v.png" style="height: 20px;">
                </button>
            </div>

        </div>
    </div>
</div>

<div id="moveQuotationToExecutionModel" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Quotations.MoveQuotationToExecutionCaption</h3>
    </div>
    <div class="modal-body">
        <h3>
            @RapidVet.Resources.Quotations.MoveQuotationToExecutionText
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div style="margin-top: 15px;">
                <a data-bind="click: function () { moveToExecution(); }" class="btn btn-primary">@RapidVet.Resources.Global.Ok</a>

                <a onclick="$('#moveQuotationToExecutionModel').modal('hide')" class="btn btn-inverse">@RapidVet.Resources.Global.Cancellation</a>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function handleChange(isPercentDiscountCB) {
        if (isPercentDiscountCB.checked == true) {
            $(isPercentDiscountCB).parent().parent().find("#tb_discount").attr("disabled", "disabled");
            $(isPercentDiscountCB).parent().parent().find("#tb_percentDiscount").removeAttr("disabled");
        } else {
            $(isPercentDiscountCB).parent().parent().find("#tb_percentDiscount").attr("disabled", "disabled");
            $(isPercentDiscountCB).parent().parent().find("#tb_discount").removeAttr("disabled");
        }
    }

</script>
