﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/CollectiveDocumentPrinting.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            //datepicker fix here?

            viewModel = new viewModel();

            ko.applyBindings(viewModel);
        });
    </script>
}
<h2>@RapidVet.Resources.FinanceDocumentCollectivePrinting.Title</h2>

<div class="@*container*@">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span2">
                <label style="margin-top: 3px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.DocumentType</label>
            </div>
            <div class="span4">
                <label>
                    <select data-bind="options: DocTypeOptions, optionsText: 'Text', optionsValue: 'Value', value: SelectedDocType, optionsCaption: '@RapidVet.Resources.FinanceDocumentCollectivePrinting.ChooseDocumentType'"></select>
                </label>
            </div>
            <div class="span4" data-bind="visible: typeof SelectedDocType()==='undefined'"><label style="color: red; margin-top:4px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.DocumentTypeError</label></div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label style="margin-top: 3px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.Issuer</label>
            </div>
            <div class="span4">
                <label>
                    <select data-bind="options: issuers, optionsText: 'itemText', optionsValue: 'itemValue', value: issuerId, optionsCaption: '@RapidVet.Resources.FinanceDocumentCollectivePrinting.ChooseIssuer'"></select>
                </label>
            </div>
            <div class="span4" data-bind="visible: typeof issuerId()==='undefined'"><label style="color: red;margin-top:4px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.IssuerError</label></div>
        </div>

        <h3>@RapidVet.Resources.FinanceDocumentCollectivePrinting.FilterBySerialNumber</h3>
        <div class="row control-group">
            <span class="span2">
                <label style="margin-top: 3px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.FromSerialNumber</label></span>
            <span class="span3">
                <label>
               @*     <select data-bind="options: FromSerialNumberOptions, optionsText: 'Text', value: FromSerialNumber"></select>*@
                    <input type="number" class="input-small" min="0" data-bind="value: FromSerialNumber" />
                </label>
            </span>
            <span class="span2">
                <label style="margin-top: 3px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.ToSerialNumber</label></span>
            <span class="span3">
                <label>
                   @* <select data-bind="options: ToSerialNumberOptions, optionsText: 'Text', value: ToSerialNumber"></select>*@
                    <input type="number" class="input-small" min="0" data-bind="value: ToSerialNumber" />
                </label>
            </span>
            <span class="span2">
                <label>
                    <button class="btn btn-primary" data-bind="css: {disabled: !serialValidate()},click: PrintBySerial">@RapidVet.Resources.FinanceDocumentCollectivePrinting.Print</button>
                </label>

            </span>
            <div class="span4" data-bind="visible: !serialValidate()"><label style="color: red; margin-top:5px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.SerialRangeError</label></div>
        </div>

        <h3>@RapidVet.Resources.FinanceDocumentCollectivePrinting.FilterByDate</h3>
        <div class="row control-group">
            <span class="span2">
                <label style="margin-top: 3px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.FromDate</label></span>
            <span class="span3">
                <label>
                    <input class="date" data-bind="value: FromDate" readonly />
                </label>
            </span>
            <span class="span2">
                <label style="margin-top: 3px;">@RapidVet.Resources.FinanceDocumentCollectivePrinting.ToDate</label></span>
            <span class="span3">
                <label>
                    <input class="date" data-bind="value: ToDate" readonly /> </label>
            </span>
            <span class="span2">
                <label>
                    <button class="btn btn-primary" data-bind="css: {disabled: !dateValidate()}, click: PrintByDate ">@RapidVet.Resources.FinanceDocumentCollectivePrinting.Print</button></label>
            </span>
        </div>

    </div>
</div>
