﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ArchiveMigration.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>המרת נתוני ארכיון</h2>
@using (Html.BeginForm("MigrateArchiveRecords", "ArchiveMigration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width: 49%;">מקור</th>
                <th style="width: 49%;">יעד</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: origins">
            <tr>
                <td data-bind="text: name"></td>
                <td>
                    <select required data-bind="value: destination, options: $parent.destinations, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                </td>
            </tr>
        </tbody>
    </table>


    <input type="hidden" name="mapping" data-bind="value: json" />
    
    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
}
