﻿@{
    var clinicId = Url.RequestContext.RouteData.Values["id"];
}

@section scripts
{
    <script type="text/javascript">
        $(function () {

            function viewModel() {

                var self = this;

                //functions
                self.migrateArchiveRecords = function () {

                    var clinicId = $('#clinicId').val();

                    $.post('/ArchiveMigration/MigrateFiles', { clinicId: clinicId }).done(function () {
                        window.location.href = '/Home/Index';
                    });
                };

                //execution
                self.migrateArchiveRecords();
            }

            ko.applyBindings(new viewModel());
        });

    </script>
}

<input type="hidden" name="clinicGroupId" id="clinicGroupId" value="@clinicId"/>
<input type="hidden" name="clinicId" id="clinicId" value="@clinicId"/>


@Html.Partial("_MigrationLoader")