﻿@model RapidVet.WebModels.Clinics.AttendanceLoginWebModel
@{
    var modalId = RapidVet.RapidConsts.Controllers.AttendanceLogConsts.MODAL_ID;
}
<h2>@RapidVet.Resources.Navigation.TimeClock</h2>
<br />
<style type="text/css">
    input[type=radio] {
        margin: 16px 10px auto 5px; 
        position:relative;
    }

</style>
@using (Html.BeginForm("Log", "AttendanceLog", FormMethod.Post, new { id = "attendanceLogForm", @class = "form-horizontal" }))
{
    @Html.Partial("_FormValidationSummary")
    <div class="form-inline" style="width: 30%; min-width: 300px">
        <div class="row-fluid ">
            <div class="span3">
                <label style="margin-right: 10px; margin-top: 3px; height: 22px;">
                    שם עובד:
                </label>
            </div>
            <div class="span8">
                <label>
                    @Html.DropDownList("userId", Model.Users, new {name = "userId", id = "userId", style = "width:100px;"})
                    @Html.ValidationMessageFor(m => m.UserId)
                </label>
            </div>
        </div>
        <br/>
        <div class="row-fluid ">
            <div class="span3">
                <label style="margin-right: 10px; margin-top: 3px; height: 22px;">
                    סיסמה:
                </label>
            </div>
            <div class="span8">
                <label>
                    @Html.PasswordFor(m => m.Password, new {style = "width: 92px;"})
                    @Html.ValidationMessageFor(m => m.Password)
                </label>
            </div>
        </div>
        <br/>
        <div class="row-fluid ">
            <div class="span3" style="height: 44px;">
                @Html.RadioButtonFor(model => model.LogIn, "true")
                <label style="position: relative; display: inline; top: 8px;">@RapidVet.Resources.AttendanceLog.LogIn</label>
            </div>
            <div class="span3">
                @Html.RadioButtonFor(model => model.LogIn, "false") <label style="position: relative; display: inline; top: 8px;">@RapidVet.Resources.AttendanceLog.LogOut</label>
            </div>
        </div>
        <br/>
        <div class="row-fluid ">
            <div class="span11">
                <label style="margin-bottom: -5px;">
                    <button type="submit" class="btn btn-primary" style="float: left"> <i class="icon-check"> </i> אישור</button>
                </label>
            </div>
        </div>
    </div>
    <br />
    if (Model.LastLogIn != null)
    {
        <div id="lastlogin">
        @String.Format("{0}: {1}",RapidVet.Resources.AttendanceLog.LastLogIn,Model.LastLogIn) 
            </div>        
        
             if (Model.LastLogIn.Value.Year == DateTime.Now.Year && Model.LastLogIn.Value.Month == DateTime.Now.Month && Model.LastLogIn.Value.Day != DateTime.Now.Day)
             {
                 <script type="text/javascript">                 
                     $("#lastlogin").css("color", "red");                 
                 </script>
             }        
    }
    if (Model.LastLogOut != null)
    {
        @String.Format("{0}: {1}",RapidVet.Resources.AttendanceLog.LastLogOut,Model.LastLogOut)
    }
}