﻿@model RapidVet.WebModels.Clinics.AttendanceLogsReportModel
@{
    var modalId = RapidVet.RapidConsts.Controllers.AttendanceLogConsts.MODAL_ID;
}
@{
    if (Request.QueryString["UserId"] != null)
    {
        foreach (var user in Model.Users.Where(user => user.Value == Request.QueryString["UserId"]))
        {
            user.Selected = true;
        }
    }

    string totime;
    if (Request.QueryString["toTime"] != null)
    {
        if (Request.QueryString["toTime"].IndexOf('?') > 0)
        {
            totime = Request.QueryString["toTime"].Substring(0, Request.QueryString["toTime"].IndexOf('?'));
        }
        else
        {
            totime = Request.QueryString["toTime"];
        }
    }
    else
    {
        totime = DateTime.Now.ToString("dd/MM/yyyy");
    }


    Layout = ViewBag.ToPrint
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_Layout.cshtml";
}
@*<script src="../../Scripts/App/LogReport.js"></script>*@

<style type="text/css">
    .missingData{
         background-color:#e0959b !important;
    }

   
</style>

<h2>דוח נוכחות</h2>

@if (!ViewBag.ToPrint)
{
    <div class="well">
        <div class="form-inline">
            <div class="row control-group">
                <div class="span1">
                    <label>בחר עובד</label>
                </div>
                <div class="span4">
                    <label>
                        <select id="users">
                            @foreach (var user in Model.Users)
                            {
                                <option value="@user.Value" @if (user.Selected) { <text> selected="selected" </text>           }>@user.Text</option>
                            }
                        </select>
                    </label>
                </div>

                <div class="span1">
                    <label>מתאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="" id="from" readonly value="@(Request.QueryString["fromTime"] ?? DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy"))" />
                    </label>
                </div>

                <div class="span1">
                    <label>עד תאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="" id="to" readonly value="@totime" />

                    </label>
                </div>

                <div class="span2">
                    <label>
                        <a id="refreshLink" class="btn">רענן</a>
                    </label>
                </div>
            </div>
        </div>
    </div>

    if (CurrentUser.IsExcelExport)
    {
        <a class="btn btn-primary" id="csvLink" onclick="">
            <i class="icon-download"></i>
            @RapidVet.Resources.Global.Export
        </a>
    }

    <a class="btn btn-primary" onclick="PrintAttendantLogReport()">
        <i class="icon-print"></i>
        @RapidVet.Resources.Global.Print
    </a>
    <br />
    <br />
}
@if (Model != null && Model.Users != null && Model.Users.Count > 0 && Model.Users.Any(x => x.Selected) && !Model.Users[0].Selected)
{
    <div class="row-fluid">
        <div class="span2">
            <a onclick="addLogReportCreationRow();" class="btn btn-primary"><i class="icon-plus"></i>הוסף</a>
        </div>
    </div>
    <br />
    <table id="tblLogReports" class="table table-striped table-bordered table-hover table-condensed" style="empty-cells: hide; border-collapse: separate; border-bottom: 0px;">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>שם העובד</th>
                <th>שעת כניסה</th>
                <th>שעת יציאה</th>
                <th>סה"כ שעות</th>
            </tr>
        </thead>
        <tbody id="attendancelogs">
            @foreach (var item in Model.AttendanceLogs)
            {
                <tr @*style="border-bottom: 1px;"*@ class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                    <td style="display: none;">
                        <span id="rowUserID">@item.UserId</span>
                    </td>
                    <td class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                        @if (item.StartTime.HasValue)
                        {
                            <span id="@("lbl_startdate_" + item.Id)">@item.StartTime.Value.ToString("dd/MM/yyyy")</span>
                        }
                        else
                        {
                            <span id="@("lbl_startdate_" + item.Id)">@item.EndTime.Value.ToString("dd/MM/yyyy")</span>
                        }

                    </td>
                    <td class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                        <span>@item.UserName</span>
                    </td>
                    <td class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                        <span id="@("lbl_starttime_" + item.Id)">
                            @if (item.StartTime.HasValue)
                            {
                                @item.StartTime.Value.ToString("H:mm")
                            }
                        </span>
                        <span id="@("txt_starttime_" + item.Id)" class="hide">

                            <input type="text" id="@("starttime" + item.Id)" value='@(item.StartTime.HasValue ? item.StartTime.Value.ToString("H:mm") : "")' style="width: 30px;" oninput="autoCompleteTimeSection(this);" onblur="checkvalidTime(this, event);" />
                        </span>
                    </td>
                    <td class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                        <span id="@("lbl_endtime_" + item.Id)">
                            @if (item.EndTime.HasValue)
                            {
                                <text>@item.EndTime.Value.ToString("H:mm")</text>
                            }
                        </span>
                        <span id="@("txt_endtime_" + item.Id)" class="hide">
                            <input type="text" id="@("endtime" + item.Id)" value='@(item.EndTime.HasValue ? item.EndTime.Value.ToString("H:mm") : "")' style="width: 30px;" oninput="autoCompleteTimeSection(this);" onblur="checkvalidTime(this, event);" />
                        </span>
                    </td>
                    <td class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                        <span id="@("comp_endtime_"+item.Id)">
                            @if (item.EndTime.HasValue && item.StartTime.HasValue)
                            {
                                <text>
                                    @(String.Format("{0:0}:{1:00}:{2:00}",
                                          (item.EndTime.Value - item.StartTime.Value).Hours,
                                          (item.EndTime.Value - item.StartTime.Value).Minutes,
                                          (item.EndTime.Value - item.StartTime.Value).Seconds))
                                </text>
                            }
                        </span>
                    </td>
                    <td class="@(!item.StartTime.HasValue || !item.EndTime.HasValue ? "missingData" : "")">
                        <span id="@("edit_icon_"+item.Id)">
                            <a onclick="startEditing(@item.Id);" data-toggle="tooltip" data-placement="top" title="עריכת רשומה" data-original-title="עריכת רשומה"><i class="icon-edit"></i></a>
                            @if (CurrentUser.IsAdministrator || CurrentUser.IsClinicManager || CurrentUser.IsClinicGroupManager)
                            {
                                <a onclick="GetModal('@Url.Action("Delete", new { id = item.Id })','@modalId');" title="מחיקה"><i class="icon-trash"></i></a>
                            }
                        </span>
                        <span id="@("confirm_icon_" + item.Id)" class="hide">
                            <a onclick="finisheEditing(@item.Id);" data-toggle="tooltip" data-placement="top" title="סיום עריכה" data-original-title="סיום עריכה"><i class="icon-ok"></i></a>
                            <a onclick="cancelEditing(@item.Id);" data-toggle="tooltip" data-placement="top" title="ביטול עריכה" data-original-title="ביטול עריכה"><i class="icon-remove"></i></a>
                        </span>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="background-color: antiquewhite">
                    @{
    var value = Model.AttendanceLogs.Where(l => l.EndTime.HasValue && l.StartTime.HasValue).Sum(l => (l.EndTime.Value - l.StartTime.Value).TotalSeconds / 60.0 / 60.0);
                    }
                    @(String.Format("{0:0}:{1:00}:{2:00}",
                          Math.Floor(value), @* //Hours *@
 Math.Floor(((value - Math.Floor(value)) * 60)), @* //Minutes *@
 (((value - Math.Floor(value)) * 60) - @* //Seconds *@
 Math.Floor(((value - Math.Floor(value)) * 60))) * 60))
                </td>
            </tr>
        </tbody>
    </table>
}


@if (Model.HourSums.Any())
{
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>שם העובד</th>
                <th>סה"כ שעות</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HourSums)
            {
                <tr>
                    <td>
                        <span>@item.Key</span>
                    </td>
                    <td>
                        <span>
                            @(String.Format("{0:0}:{1:00}:{2:00}",
                                  Math.Floor((((item.Value) / 60) / 60)), @* //Hours *@
 Math.Floor((((((item.Value) / 60) / 60) - Math.Floor((((item.Value) / 60) / 60))) * 60)), @* //Minutes *@
 ((((((item.Value) / 60) / 60) - Math.Floor((((item.Value) / 60) / 60))) * 60) - @* //Seconds *@
 Math.Floor((((((item.Value) / 60) / 60) - Math.Floor((((item.Value) / 60) / 60))) * 60))) * 60))
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@if (!Model.HourSums.Any() && !Model.AttendanceLogs.Any())
{
    <span>לא נמצאו תוצאות</span>
}

@Muze.ModalDiv(modalId)

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/AttendanceLog/LogReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        function PrintAttendantLogReport() {
            var url = window.location.href + '?toPrint=true';
            if (document.location.search != "") {
                window.location.href = window.location.href + '&toPrint=true';
            }
            window.open(url, '_blank');
        }

        $(function () {
            function setAttributes() {
                $('#refreshLink').attr('href', '/AttendanceLog/LogReport?userId=' + $('#users').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                $('#csvLink').attr('href', '/AttendanceLog/DownloadCsv?userId=' + $('#users').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
            }            

            $.datepicker.setDefaults($.datepicker.regional["he"]);

            $("#from").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    setAttributes();
                },
                isRTL: true
            });
            $("#to").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    setAttributes();
                },
                isRTL: true
            });

            $('#users').on('change', function () {
                setAttributes();
            });

            setAttributes();
        });

    </script>
}