﻿@model System.Collections.Generic.List<RapidVet.Model.Clinics.AttendanceLog>
<h2>דוח נוכחות שבועי</h2>

<div class="well">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span1">
                <label>בחר תאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="" id="dayOfWeek" value="@(Request.QueryString["dayOfWeek"] ?? DateTime.Now.ToString("dd/MM/yyyy"))"/>

                </label>
            </div>

            <div class="span2">
                <label>
                    <a id="refreshLink" class="btn">רענן</a>
                </label>
            </div>
        </div>
    </div>
</div>
@if (Model.Any())
{
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th style="width: 30%">שם העובד</th>
                <th style="width: 10%">א'</th>
                <th style="width: 10%">ב'</th>
                <th style="width: 10%">ג'</th>
                <th style="width: 10%">ד'</th>
                <th style="width: 10%">ה'</th>
                <th style="width: 10%">ו'</th>
                <th style="width: 10%">ש'</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(m => m.User.Name).ThenBy(m => m.StartTime))
            {
                <tr>
                    <td>
                        <span>
                            @item.User.Name
                        </span>
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Sunday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Sunday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Monday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Monday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Tuesday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Tuesday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Wednesday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Wednesday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Thursday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Thursday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Friday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Friday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @if (item.StartTime != null && item.StartTime.Value.DayOfWeek == DayOfWeek.Saturday)
                        {
                            <span>
                                <b>שעת כניסה: </b>
                                @item.StartTime.Value.ToString("H:mm")
                            </span>
                            <br />
                        }
                        @if (item.EndTime != null && item.EndTime.Value.DayOfWeek == DayOfWeek.Saturday)
                        {
                            <span>
                                <b>שעת יציאה:</b>
                                @if (item.EndTime.HasValue)
                                {
                                    <text>@item.EndTime.Value.ToString("H:mm")</text>
                                }
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>לא נמצאו רשומות</span>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#refreshLink').attr('href', '/AttendanceLog/WeeklyLogReport?dayOfWeek=' + $('#dayOfWeek').val());


            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#dayOfWeek").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $('#refreshLink').attr('href', '/AttendanceLog/WeeklyLogReport?dayOfWeek=' + $('#dayOfWeek').val());
                },
                isRTL: true
            });
        });
    </script>
}