﻿@model RapidVet.WebModels.Clinics.IssuerCreate
@{

    var modalId = "issuersModal";
    var indexGridId = "issuersGrid";
}
  <style type="text/css">
      input {
          margin-right: -50px;
      }

      .row {
          margin-bottom: 5px;
      }
      /*label {
        width: 170px;
        text-align: right;
        margin-right: 12px;
    }*/
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Issuer.CreateNew</h3>
</div>
@using (Html.BeginForm("Create", "Issuers", FormMethod.Post, new { @class = "form-horizontal", id = "issuerCreate"}))
{
    <div class="modal-body">
        @Html.Partial("_FormValidationSummary")
        <input type="hidden" name="ClinicId" id="ClinicId" value="@CurrentUser.ActiveClinicId" />
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.Name)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>

        </div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.CompanyId)</div>
                <div class="controls">
                    @Html.EditorFor(m => m.CompanyId)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.CompanyId)</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="control-group" style="margin-bottom: -10px; margin-top: 10px;">
                <div class="row">
                    <button type="submit" style="width: 100px; margin-right: auto; margin-left: auto; display: block;" class="btn btn-primary">
                        @RapidVet.Resources.Global.Create
                    </button>
                </div>
            </div>
        </div>
        }




