﻿@model RapidVet.WebModels.Clinics.IssuerCreate
@{
    var modalId = "issuersModal";
    var indexGridId = "issuersGrid";
}

<style type="text/css">
    input {
           margin-right: -50px;
    }
    .row {
    margin-bottom: 5px;
}
    /*label {
        width: 170px;
        text-align: right;
        margin-right: 12px;
    }*/
</style>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Issuer.Edit</h3>
</div>
@using (Html.BeginForm("Edit", "Issuers", FormMethod.Post, new { @class = "form-horizontal", id = "issuerEdit" }))
{
    <div class="modal-body" style="overflow-x: hidden">
        @Html.Partial("_FormValidationSummary")
        <input type="hidden" name="id" id="id" value="@Model.Id" />
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="controls">
                @Html.TextBoxFor(m => m.Name, new { autofocus = "autofocus" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.Active)
            </div>
            <div class="controls" style="right: -52px; position: relative;">
                @Html.EditorFor(m => m.Active)

            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.CompanyId)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.CompanyId)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.CompanyId)</span>
            </div>
        </div>


        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.InvoiceInitialNum)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.InvoiceInitialNum)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.InvoiceInitialNum)</span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.InvoiceReceiptInitialNum)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.InvoiceReceiptInitialNum)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.InvoiceReceiptInitialNum)</span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.ReceiptInitialNum)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.ReceiptInitialNum)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.ReceiptInitialNum)</span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.ProformaInitialNum)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.ProformaInitialNum)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.ProformaInitialNum)</span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.RefoundInitialNum)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.RefoundInitialNum)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.RefoundInitialNum)</span>
            </div>
        </div>

        @*<div class="control-group">
                <label class="control-label">@Html.LabelFor(m => m.EasyCardClientId)</label>
                <div class="controls">@Html.EditorFor(m => m.EasyCardClientId)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.EasyCardClientId)</span>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">@Html.LabelFor(m => m.EasyCardPassword)</label>
                <div class="controls">@Html.EditorFor(m => m.EasyCardPassword)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.EasyCardPassword)</span>
                </div>
            </div>*@

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.TaxDedationFileNumber)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.TaxDedationFileNumber)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.TaxDedationFileNumber)</span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.BankDetails)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.BankDetails)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.BankDetails)</span>
            </div>
        </div>
        <div class="row" style="margin-right: 20px;"><b>@RapidVet.Resources.Issuer.HSSettings</b></div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.HSInvoiceMovementType)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.HSInvoiceMovementType)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.HSInvoiceMovementType)</span>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.HSRefundMovementType)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.HSRefundMovementType)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.HSRefundMovementType)</span>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                @Html.LabelFor(m => m.HSClientSortKey)
            </div>
            <div class="controls">
                @Html.EditorFor(m => m.HSClientSortKey)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.HSClientSortKey)</span>
            </div>
        </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSVatAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSVatAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSVatAccount)</span>
                </div>
            </div>

            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSIncomeAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSIncomeAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSIncomeAccount)</span>
                </div>
            </div>

            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSFreeIncomeAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSFreeIncomeAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSFreeIncomeAccount)</span>
                </div>
            </div>

            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSCashAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSCashAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSCashAccount)</span>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSChequeAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSChequeAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSChequeAccount)</span>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSTranferAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSTranferAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSTranferAccount)</span>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSRandoClientAccount)
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSRandoClientAccount)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.HSRandoClientAccount)</span>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    @Html.LabelFor(m => m.HSGeneralClientAccount)
                    <div class="span5" style="font-size: 11px;color: gray; left: 20px; position: relative;">
                        * נא להזין בכפוף להנחיית רו״ח במידה ולא מעוניינים בכרטיס לכל לקוח
                    </div>
                </div>
                <div class="controls">
                    @Html.EditorFor(m => m.HSGeneralClientAccount)

                </div>
            </div>
           

        </div>
    <div class="modal-footer">

        <div class="row" style="margin: auto; position: relative; width: 100px;">
            <button type="submit" style="color:white;"
                    class="btn btn-primary">
                @RapidVet.Resources.Global.Save
            </button>
        </div>

    </div>
}
