﻿@model RapidVet.Model.Clinics.Issuer
@{
    ViewBag.Title = "Remove";
}



<div class="container">
    <table id="animalKindsTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>ID
            </th>
            <th>שם מנפיק
            </th>
            <th>מספר חברה
            </th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => Model.Id)</td>
            <td>
                <a href="@Url.Action("Edit", "Issuers", new { id = Model.Id })">
                    <i class="icon-edit"></i>
                    @Html.DisplayFor(modelItem => Model.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.CompanyId)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm("Delete", "Issuers", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-actions" style="width: 30%; margin-left: auto; margin-right: auto;">
            <button type="submit" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
            @Html.ActionLink(@RapidVet.Resources.Global.Cancel, "Edit", "Clinics", new { id = Model.ClinicId }, new { @class = "btn btn-inverse btn-large" })
        </div>
    }
    <div>
        @Html.ActionLink(@RapidVet.Resources.Global.Back, "Index")
    </div>

</div>
