﻿@model IEnumerable<RapidVet.WebModels.Clinics.IssuerCreate>
@{
    var modalId = "issuersModal";
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}


<div id="issuersGrid">
    <h2>@RapidVet.Resources.Issuer.Issuers</h2>
    @if(CurrentUser.IsAdministrator)
    { 
    <div>
        <a onclick="GetModal('@Url.Action("Create", new { id = CurrentUser.ActiveClinicId })','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
    </div>
    }
    <br />
    <table id="issuersTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>@RapidVet.Resources.Issuer.Name
            </th>
            <th>@RapidVet.Resources.Issuer.CompanyId
            </th>
            <th>
                @RapidVet.Resources.Issuer.Status
            </th>
            <th></th>
        </tr>

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @if(item.Active)
                    {
                        @RapidVet.Resources.Issuer.Active
                    }
                    else
                    {
                        @RapidVet.Resources.Issuer.InActive
                    }
                </td>

                <td>
                    @*<a onclick="GetModal('@Url.Action("Delete", new { id = item.Id })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |*@
                    <a onclick="GetModal('@Url.Action("Edit", new { id = item.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                    |
            <a href="@Url.Action("Index", "IssuerCreditTypes", new { @id = item.Id, @name = item.Name })">
                <i class="icon-folder-close"></i>
                עריכת סוגי עסקאות אשראי
            </a>
   
                    |
                    <a href="@Url.Action("Index","CreditCardCodes",new{ @id = item.Id, @name = item.Name})">
                        <i class="icon-folder-close"></i>
                        עריכת חברות אשראי
                    </a>
                     <a href="@Url.Action("ChangeAdvancedPaymentPercent","Clinics",new{ @id = item.Id, @name = item.Name})">
                        <i class="icon-folder-close"></i>
                        עריכת אחוז מקדמות
                    </a>
                    <a href="@Url.Action("EasyCardSettings","Issuers",new{ @id = item.Id, @name = item.Name})">
                        <i class="icon-folder-close"></i>
                        עריכת מסופי איזיקארד
                    </a>
                </td>
            </tr>

            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </table>

    <div id="@modalId" class="modal hide fade">
    </div>
</div>
