﻿@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/App/TreatmentReports/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style>
    select {
        width: 130px !important;
    }

        select[multiple] {
            width: 220px !important;
        }
</style>

<h2>דו"ח ביקורים</h2>
<br />

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#filterBar">
                פילטרים
            </a>
        </div>
        <div id="filterBar" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="well" style="padding-right:0px;padding-left:0px;">
                    <div class="form-inline">
                        <div class="row">

                            <div class="span1">
                                <label>מתאריך</label>
                            </div>
                            <div class="span2" style="margin-right: 0px;">
                                <label>
                                    <input type="text" class="date input-small" readonly data-bind="value: filterFromDate" />
                                </label>
                            </div>

                            <div class="span1" style="margin-right: -20px;">
                                <label>עד תאריך</label>
                            </div>
                            <div class="span2" style="margin-right: 0px;">
                                <label>
                                    <input type="text" class="date input-small" readonly data-bind="value: filterToDate" />
                                </label>
                            </div>

                            <div class="span1" style="margin-right: -10px;">
                                <label>סוג בעל חיים</label>
                            </div>
                            <div class="span2">
                                <label>
                                    <select data-bind="options: animalKinds, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedAnimalKindId"></select>
                                </label>
                            </div>

                            <div class="span1" style="margin-right: 20px;">
                                <label>שם לקוח</label>
                            </div>
                            <div class="span3" style="margin-top: -3px;">
                                <label>
                                    <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
                                </label>
                            </div>
                            <div class="span2">
                                <label class="no-results" style="display:none; position: relative;"> לא נמצאו תוצאות</label>
                            </div>
                            @*<div class="span2">
                                <label>
                                    <select data-bind="options: clients, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedClientId"></select>
                                </label>
                            </div>*@
                        </div>
                        <br />  
                       
                        <div class="row">
                            <div class="span2">
                                <label>בעלי חיים בטווח גילאים:</label>
                            </div>
                            <div class="span">
                                <label>שנה</label>
                            </div>
                            <div class="span">
                                <label>
                                    <input type="number" class="input-mini" data-bind="value: filterAnimalFromYear" min="1" max="99" />
                                </label>
                            </div>

                            <div class="span">
                                <label>חודש</label>
                            </div>
                            <div class="span1">
                                <label>
                                    <input type="number" class="input-mini" data-bind="value: filterAnimalFromMonth" min="1" max="12" />
                                </label>
                            </div>
                            <div class="span2" style="margin-right: 82px;">
                                <label>חוייבו בסכום שבין</label>
                            </div>
                            <div class="span1">
                                <label>
                                    <input type="text" class="input-mini" style="margin-right: -62px;direction: ltr;" data-bind="value: fromSum" />
                                </label>
                            </div>

                            <div class="span1">
                                <label>לסכום-</label>
                            </div>
                            <div class="span1">
                                <label>
                                    <input type="text" class="input-mini" data-bind="value: toSum" style="direction: ltr;"/>
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">                            
                            <div class="span" style=" margin-right: 160px;">
                                <label>ועד שנה</label>
                            </div>
                            <div class="span">
                                <label>
                                    <input type="number" class="input-mini" data-bind="value: filterAnimalToYear" min="1" max="99" />
                                </label>
                            </div>

                            <div class="span">
                                <label>חודש</label>
                            </div>
                            <div class="span1">
                                <label>
                                    <input type="number" class="input-mini" data-bind="value: filterAnimalToMonth" min="1" max="12" />
                                </label>
                            </div>
                            <div class="span3">
                                <label style="margin-right: 62px;">תיאור טיפול/תלונה</label>
                            </div>
                            <div class="span2">
                                <label>
                                    <input type="text" style=" margin-right: -80px;" class="input-medium" data-bind="value: visitDescription" />
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span1">
                                <label>קטגוריה</label>
                                <label style="font-size: 10px;color: gray;">לבחירה מרובה השתמש ב-CTRL</label>
                            </div>
                            <div class="span3">
                                <label style="height:100px;">
                                    <select multiple="multiple" size="2" style="height:100px;"
                                            data-bind="options: categories, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedCategoryId"></select>

                                </label>
                            </div>

                            <div class="span1">
                                <label>טיפול</label>
                                <label style="font-size: 10px;color: gray;">לבחירה מרובה השתמש ב-CTRL</label>
                            </div>
                            <div class="span3" style=" margin-right: 5px;">
                                <label style="height:100px;">
                                    <select multiple="multiple" size="2" style="height:100px;"
                                            data-bind="options: treatments, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedTreatmentId"></select>
                                </label>
                            </div>

                            <div class="span1">
                                <label>בוצעו ע"י רופא</label>
                                <label style="font-size: 10px;color: gray;">לבחירה מרובה השתמש ב-CTRL</label>
                            </div>
                            <div class="span3">
                                <label style="height:100px;">
                                    <select multiple="multiple" size="2" style="height:100px;"
                                            data-bind="options: doctors, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedDoctorId"></select>
                                </label>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            @*<div class="span1">
                                <label>בדיקה</label>
                            </div>
                            <div class="span3">
                                <label>
                                    <select data-bind="options: examinations, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedExaminationId"></select>
                                </label>
                            </div>*@
                            <div class="span1">
                                <label>אבחנה</label>
                            </div>
                            <div class="span3">
                                <label>
                                    <select data-bind="options: diagnoses, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedDiagnosisId"></select>
                                </label>
                            </div>
                            <div class="span1">
                                <label>תרופה</label>
                            </div>
                            <div class="span2">
                                <label>
                                    <select data-bind="options: medications, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedMedicationId"></select>
                                </label>
                            </div>
                            

                            
                        </div>
                        <br />
                        <div class="row" style="text-align: center;max-width:960px">
                            <button data-bind="click: function () { getReportData(); $('#filterBar').collapse('hide'); $('#tableBar').collapse('show'); }" class="btn btn-primary btn-large" style="float: right;">
                                <i class="icon-search"></i>
                                הצג נתונים
                            </button>
                            <div style="float:left">
                                <div class="span1">
                                    <label>בחר פילטר</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <select data-bind="options: filters, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedFilterId"></select>
                                    </label>
                                </div>
                                <div class="span">
                                    <label>
                                        <button class="btn btn-primary" data-bind="click: loadSelectedFilter">
                                            <i class="icon-refresh"></i>
                                            טען פילטר
                                        </button>
                                    </label>
                                </div>
                                <div class="span">
                                    <label>
                                        <button class="btn btn-primary" data-bind="click: showFilterModal">
                                            <i class="icon-file"></i>
                                            שמור פילטר
                                        </button>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#tableFilterBar">
                אפשרויות טבלה
            </a>
        </div>
        <div id="tableFilterBar" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="well">
                    <div class="form-inline">
                        <div class="row control-group">
                            <div class="span4">
                                <input type="checkbox" data-bind="checked: nameVisitCb" />
                                <span>שם הטיפול</span>
                                <br />
                                <input type="checkbox" data-bind="checked: datePerformedCb" />
                                <span>תאריך הביצוע</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientNameCb" />
                                <span>שם הלקוח</span>
                                <br />
                                <input type="checkbox" data-bind="checked: patientNameCb" />
                                <span>שם החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: serialCb" />
                                <span>ת.ז</span>
                                <br />
                                <input type="checkbox" data-bind="checked: addressCb" />
                                <span>כתובת הלקוח</span>
                                <br />
                                <input type="checkbox" data-bind="checked: homePhoneCb" />
                                <span>טלפון בית</span>
                                <br />
                                <input type="checkbox" data-bind="checked: cellPhoneCb" />
                                <span>טלפון סלולרי</span>
                            </div>

                            <div class="span4">
                                <input type="checkbox" data-bind="checked: animalKindCb" />
                                <span>סוג החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalRaceCb" />
                                <span>גזע החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalGenderCb" />
                                <span>מין החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalColorCb" />
                                <span>צבע החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalAgeCb" />
                                <span>גיל החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: sterilizationCb" />
                                <span>עיקור/סירוס</span>
                                <br />
                                <input type="checkbox" data-bind="checked: electronicNumCb" />
                                <span>מספר אלקטרוני</span>
                                <br />
                                <input type="checkbox" data-bind="checked: birthDateCb" />
                                <span>תאריך לידה חיה</span>
                            </div>

                            <div class="span6">
                                <input type="checkbox" data-bind="checked: licenseNumCb" />
                                <span>מספר רשיון</span>
                                <br />
                                <input type="checkbox" data-bind="checked: chargeFeeCb" />
                                <span>חיוב</span>
                                <br />
                                <input type="checkbox" data-bind="checked: performingDocCb" />
                                <span>שם הרופא המבצע</span>
                                <br />
                                <input type="checkbox" data-bind="checked: numOfUnitsCb" />
                                <span>מספר יחידות חיוב</span>
                                <br />
                                <input type="checkbox" data-bind="checked: visitDescCb" />
                                <span>תיאור הטיפול</span>
                                <br />
                                <input type="checkbox" data-bind="checked: treatingDoctorCb" />
                                <span>רופא מטפל</span>
                                <br />
                                <input type="checkbox" data-bind="checked: receiptCb" />
                                <span>תקבול מקביל</span>
                                <br />
                                <span>גודל גופן להדפסה</span>
                                <input type="text" data-bind="value: printFontSize" class="input-mini" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#tableBar" id="tableAcc">
                תוצאות
            </a>
        </div>
        <div id="tableBar" class="accordion-body collapse">
            <div class="accordion-inner">
                <div>
                    <a class="btn btn-primary" data-bind="attr: { href: printUrl }" target="_blank">
                        <i class="icon-print"></i>
                        הדפס
                    </a>
                    @if (ViewBag.Letter)
                    {
                        <a class="btn btn-primary" data-bind="click: showPersonalLetterModal">
                            <i class="icon-print"></i>
                            הדפסת מכתבים אישיים
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-primary disabled">
                            <i class="icon-print"></i>
                            הדפסת מכתבים אישיים
                        </button>
                    }

                    @if (CurrentUser.IsExcelExport)
                    {
                        <a class="btn btn-primary" data-bind="attr: { href: excelUrl }">
                            <i class=" icon-download-alt"></i>
                            ייצוא לאקסל
                        </a>
                    }

                    @if (ViewBag.Stikers)
                    {
                        <a class="btn btn-primary" data-bind="attr: { href: stickersUrl }" target="_blank">
                            <i class="icon-th"></i>
                            הפקת מדבקות
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-primary disabled">
                            <i class=" icon-th"></i>
                            הפקת מדבקות
                        </button>
                    }

                    @if (ViewBag.Sms)
                    {
                        <a class="btn btn-primary" data-bind="click: smsClients">
                            <i class=" icon-envelope"></i>
                            שליחת SMS
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-primary disabled">
                            <i class=" icon-envelope"></i>
                            שליחת SMS
                        </button>
                    }

                    @if (ViewBag.Email)
                    {
                        <a class="btn btn-primary" data-bind="click: emailClients">
                            <i class=" icon-tag"></i>
                            שליחת דוא"ל
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-primary disabled">
                            <i class=" icon-tag"></i>
                            שליחת דוא"ל
                        </button>
                    }
                </div>
                <br />
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th data-bind="visible: nameVisitCb()">שם הטיפול</th>
                                <th data-bind="visible: datePerformedCb()">תאריך הביצוע</th>
                                <th data-bind="visible: clientNameCb()">שם הלקוח</th>
                                <th data-bind="visible: patientNameCb()">שם החיה</th>
                                <th data-bind="visible: serialCb()">ת.ז</th>
                                <th data-bind="visible: addressCb()">כתובת הלקוח</th>
                                <th data-bind="visible: homePhoneCb()">טלפון בית</th>
                                <th data-bind="visible: cellPhoneCb()">טלפון סלולרי</th>
                                <th data-bind="visible: animalKindCb()">סוג החיה</th>
                                <th data-bind="visible: animalRaceCb()">גזע החיה</th>
                                <th data-bind="visible: animalGenderCb()">מין החיה</th>
                                <th data-bind="visible: animalColorCb()">צבע החיה</th>
                                <th data-bind="visible: animalAgeCb()">גיל החיה</th>
                                <th data-bind="visible: sterilizationCb()">עיקור/סירוס</th>
                                <th data-bind="visible: electronicNumCb()">מספר אלקטרוני</th>
                                <th data-bind="visible: birthDateCb()">תאריך לידה חיה</th>
                                <th data-bind="visible: licenseNumCb()">מספר רשיון</th>
                                <th data-bind="visible: chargeFeeCb()">חיוב</th>
                                <th data-bind="visible: performingDocCb()">שם הרופא המבצע</th>
                                <th data-bind="visible: numOfUnitsCb()">מספר יחידות חיוב</th>
                                @*        <th data-bind="visible: plateNumCb()">מספר לוחית</th>*@
                                <th data-bind="visible: visitDescCb()">תיאור הטיפול</th>
                                <th data-bind="visible: treatingDoctorCb()">רופא מטפל</th>
                                <th data-bind="visible: receiptCb()">תקבול מקביל</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: { data: visits, as: 'visit' }">
                            <!-- ko foreach: visit.Items() -->
                            <tr>
                                <td data-bind="visible: $root.nameVisitCb()">
                                    <a data-bind="text: nameVisit, attr: { href: visitUrl }"></a>
                                <td data-bind="visible: $root.datePerformedCb()"><span data-bind="    text: datePerformed"></span></td>
                                <td data-bind="visible: $root.clientNameCb()">
                                    <a data-bind="text: clientName, attr: { href: clientUrl }"></a>
                                    <input type="hidden" data-bind="value: clientId" />
                                </td>
                                <td data-bind="visible: $root.patientNameCb()"><span data-bind="    text: patientName"></span></td>
                                <td data-bind="visible: $root.serialCb()"><span data-bind="    text: serial"></span></td>
                                <td data-bind="visible: $root.addressCb()"><span data-bind="    text: address"></span></td>
                                <td data-bind="visible: $root.homePhoneCb()"><span data-bind="    text: homePhone"></span></td>
                                <td data-bind="visible: $root.cellPhoneCb()"><span data-bind="    text: cellPhone"></span></td>
                                <td data-bind="visible: $root.animalKindCb()"><span data-bind="    text: animalKind"></span></td>
                                <td data-bind="visible: $root.animalRaceCb()"><span data-bind="    text: animalRace"></span></td>
                                <td data-bind="visible: $root.animalGenderCb()"><span data-bind="    text: animalGender"></span></td>
                                <td data-bind="visible: $root.animalColorCb()"><span data-bind="    text: animalColor"></span></td>
                                <td data-bind="visible: $root.animalAgeCb()"><span data-bind="    text: animalAge() != null ? animalAge() : ''"></span></td>
                                <td data-bind="visible: $root.sterilizationCb()"><span data-bind="    text: sterilization"></span></td>
                                <td data-bind="visible: $root.electronicNumCb()"><span data-bind="    text: electronicNum"></span></td>
                                <td data-bind="visible: $root.birthDateCb()"><span data-bind="    text: birthDate"></span></td>
                                <td data-bind="visible: $root.licenseNumCb()"><span data-bind="    text: licenseNum"></span></td>
                                <td data-bind="visible: $root.chargeFeeCb()" class="fix-negativ"><span data-bind="    text: chargeFee"></span></td>
                                <td data-bind="visible: $root.performingDocCb()"><span data-bind="    text: performingDoc"></span></td>
                                <td data-bind="visible: $root.numOfUnitsCb()"><span data-bind="    text: numOfUnits"></span></td>
                                @*  <td data-bind="visible: plateNumCb()"><span data-bind="value: plateNum"></span></td>*@
                                <td data-bind="visible: $root.visitDescCb()"><span data-bind="    text: visitDesc"></span></td>
                                <td data-bind="visible: $root.treatingDoctorCb()"><span data-bind="    text: treatingDoctor"></span></td>
                                <td data-bind="visible: $root.receiptCb()"><span data-bind="    text: receipt"></span></td>
                            </tr>
                            <!-- /ko -->
                            <tr>
                                <td style="background-color: lightgrey" data-bind="attr: { colspan: $parent.columnNum }">
                                    <span>סה"כ סכום חיוב עבור </span><span data-bind="text: Name"></span><span>: </span><span data-bind="text: Sum" class="fix-negativ" style="display: inline-block;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="filterModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>שמירת מסננים</h3>
    </div>
    <div class="modal-body">

        <div class="row-fluid">
            <div class="span5">
                <h3>בחר חבילת מסננים קיימת לשמירה</h3>
            </div>
            <div class="span5">
                <select data-bind="options: filters, optionsText: 'Text', optionsValue: 'Value', value: filterSaveToId, optionsCaption: 'בחר יעד לשמירה..'" class="input-medium"></select>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span3">
                <h2>או</h2>
            </div>
            <div class="span3">&nbsp;</div>

        </div>

        <div class="row-fluid">
            <div class="span5">
                <h3>הזן שם חבילת מסננים חדשה</h3>
            </div>
            <div class="span5">
                <input type="text" data-bind="value: filterRename" />

            </div>
        </div>

        <div class="form-horizontal">
            <div class="control-group">
                <div class="controls" style="text-align: left;">
                    <button type="submit" data-bind="click: saveFilter" class="btn ok btn-primary">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal hide fade" id="personalLetterModal">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hidePersonalLetterModal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.LetterTemplate.SelectPersonalLetter</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <div data-bind="visible: personalTemplateError" class="row" style="color:red;">
                <div class="span2">
                    @RapidVet.Resources.LetterTemplate.SelectTemplateError
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <label>@RapidVet.Resources.LetterTemplate.TemplateName:</label>
                </div>
                <div class="span3">
                    <label>
                        <select required data-bind="options: personalLetters, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..', value: selectedLetterId"></select>
                    </label>
                </div>
                <br />
                <br />
                <div data-bind="visible:selectedLetterId()>0" style="height:100px;width:100%;overflow:auto;border: 1px gray solid">
                    <label data-bind="html: selectedLetterContent"></label>
                </div>
            </div>
        </div>
        <br />
        <div class="controls" style="text-align: center;">
            <button data-bind="click: sendPersonalLetter" class="btn ok btn-primary">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
</div>