﻿@model System.Collections.Generic.List<RapidVet.Model.Visits.VisitReportItem>
    @{
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }

    @{
        var tmpName = "";
        decimal tmpSum = 0;
    }
    <style>
    * {
        font-size: @string.Format(ViewBag.fontSize + "px") !important;
    }

    </style>
    <h2>דו"ח טיפולים</h2>
    <br />
    <table style='table-layout:fixed;'>
        <thead>
            <tr>
                @if (ViewBag.nameVisit)
                {
                    <th>שם הטיפול</th>
                }
                @if (ViewBag.datePerformed)
                {
                    <th>תאריך הביצוע</th>
                }
                @if (ViewBag.clientName)
                {
                    <th>שם הלקוח</th>
                }
                @if (ViewBag.patientName)
                {
                    <th>שם החיה</th>
                }
                @if (ViewBag.serial)
                {
                    <th>ת.ז</th>
                }
                @if (ViewBag.address)
                {
                    <th>כתובת הלקוח</th>
                }
                @if (ViewBag.homePhone)
                {
                    <th>טלפון בית</th>
                }
                @if (ViewBag.cellPhone)
                {
                    <th>טלפון סלולרי</th>
                }
                @if (ViewBag.animalKind)
                {
                    <th>סוג החיה</th>
                }
                @if (ViewBag.animalRace)
                {
                    <th>גזע החיה</th>
                }
                @if (ViewBag.animalGender)
                {
                    <th>מין החיה</th>
                }
                @if (ViewBag.animalColor)
                {
                    <th>צבע החיה</th>
                }
                @if (ViewBag.animalAge)
                {
                    <th>גיל החיה</th>
                }
                @if (ViewBag.sterilization)
                {
                    <th>עיקור/סירוס</th>
                }
                @if (ViewBag.electronicNum)
                {
                    <th>מספר אלקטרוני</th>
                }
                @if (ViewBag.birthDate)
                {
                    <th>תאריך לידה חיה</th>
                }
                @if (ViewBag.licenseNum)
                {
                    <th>מספר רשיון</th>
                }
                @if (ViewBag.chargeFee)
                {
                    <th>חיוב</th>
                }
                @if (ViewBag.performingDoc)
                {
                    <th>שם הרופא המבצע</th>
                }
                @if (ViewBag.numOfUnits)
                {
                    <th>מספר יחידות חיוב</th>
                }
                @if (ViewBag.visitDesc)
                {
                    <th>תיאור הטיפול</th>
                }
                @if (ViewBag.treatingDoctor)
                {
                    <th>רופא מטפל</th>
                }
                @if (ViewBag.receipt)
                {
                    <th>תקבול מקביל</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                if (t == Model.First())
                {
                    tmpName = t.nameVisit;
                }
                if (tmpName != t.nameVisit)
                {
                    <tr style="background-color: lightgrey">
                        <td colspan="@ViewBag.Colspan">
                            סה"כ סכום חיוב עבור
                            <b>@tmpName</b>
                            :
                            @tmpSum
                        </td>
                    </tr>
                    tmpName = t.nameVisit;
                    tmpSum = t.chargeFee.HasValue ? t.chargeFee.Value : 0;
                }
                else
                {
                    tmpSum += t.chargeFee.HasValue ? t.chargeFee.Value : 0;
                }

                <tr>
                    @if (ViewBag.nameVisit)
                    {
                        <td><span>@t.nameVisit</span></td>
                    }
                    @if (ViewBag.datePerformed)
                    {
                        <td><span>@t.datePerformed.ToString("dd/MM/yyyy")</span></td>
                    }
                    @if (ViewBag.clientName)
                    {
                        <td><span>@t.clientName</span></td>
                    }
                    @if (ViewBag.patientName)
                    {
                        <td><span>@t.patientName</span></td>
                    }
                    @if (ViewBag.serial)
                    {
                        <td><span>@t.serial</span></td>
                    }
                    @if (ViewBag.address)
                    {
                        <td><span>@t.address</span></td>
                    }
                    @if (ViewBag.homePhone)
                    {
                        <td><span>@t.homePhone</span></td>
                    }
                    @if (ViewBag.cellPhone)
                    {
                        <td><span>@t.cellPhone</span></td>
                    }
                    @if (ViewBag.animalKind)
                    {
                        <td><span>@t.animalKind</span></td>
                    }
                    @if (ViewBag.animalRace)
                    {
                        <td><span>@t.animalRace</span></td>
                    }
                    @if (ViewBag.animalGender)
                    {
                        <td><span>@t.animalGender</span></td>
                    }
                    @if (ViewBag.animalColor)
                    {
                        <td><span>@t.animalColor</span></td>
                    }
                    @if (ViewBag.animalAge)
                    {
                        @*<td><span>@string.Format("{0:n2}", (t.animalAge.HasValue ? t.animalAge.Value : (decimal?)null))</span></td>*@
                        <td><span>@t.animalAge</span></td>
                    }
                    @if (ViewBag.sterilization)
                    {
                        <td><span>@t.sterilization</span></td>
                    }
                    @if (ViewBag.electronicNum)
                    {
                        <td><span>@t.electronicNum</span></td>
                    }
                    @if (ViewBag.birthDate)
                    {
                        <td><span>@t.birthDate</span></td>
                    }
                    @if (ViewBag.licenseNum)
                    {
                        <td><span>@t.licenseNum</span></td>
                    }
                    @if (ViewBag.chargeFee)
                    {
                        <td><span>@t.chargeFee</span></td>
                    }
                    @if (ViewBag.performingDoc)
                    {
                        <td><span>@t.performingDoc</span></td>
                    }
                    @if (ViewBag.numOfUnits)
                    {
                        <td><span>@t.numOfUnits</span></td>
                    }
                    @if (ViewBag.visitDesc)
                    {
                        <td><span>@t.visitDesc</span></td>
                    }
                    @if (ViewBag.treatingDoctor)
                    {
                        <td><span>@t.treatingDoctor</span></td>
                    }
                    @if (ViewBag.receipt)
                    {
                        <td><span>@t.receipt</span></td>
                    }
                </tr>
                if (t != Model.Last())
                {
                    continue;
                }
                <tr>
                    <td colspan="@ViewBag.Colspan" style="background-color: lightgrey">
                        סה"כ סכום חיוב עבור
                        <b>@tmpName</b>
                        :
                        @tmpSum
                    </td>
                </tr>
            }
        </tbody>
    </table>
