﻿@model IEnumerable<string>
@{
    Layout = ViewBag.Print ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_AuthenticatedLayout.cshtml";
    var pxToMm = (decimal)4.9;
    var columns = ViewBag.ColumnCount;
    var rows = ViewBag.RowCount;
    var rowHeight = string.Format("{0}px", ViewBag.RowHeight * pxToMm);
    var margin = string.Format("{0}px", ViewBag.Margin * pxToMm);
    var marginTop = string.Format("{0}px", ViewBag.MarginTop * pxToMm);
    var columnWidth = string.Format("{0}%", (100 / columns)-1);
    int pageSize = rows * columns;
    var iterations = (Model.Count() + pageSize - 1) / pageSize;
    
}

@if (!ViewBag.Print)
{
    <style>
        .stiker {
            border: 1px solid grey;
        }
    </style>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/App/RapidVet.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

@if (!ViewBag.Print)
{
    <a class="btn btn-primary" href="@ViewBag.PrintUrl">
        <i class="icon-print"></i>
        הדפסה
    </a>
    <a class="btn btn-inverse" onclick="closeWindow();">
        <i class="icon-trash"></i>
        ביטול
    </a>
    <br />
    <br />
}

@for (int i = 0; i < iterations; i++)
{
    var skip = pageSize * i;
    var data = Model.OrderBy(p => p).Skip(skip).Take(pageSize).ToList();
    foreach (var item in data)
    {
    <div class="stiker" style="width: @columnWidth; height: @rowHeight;float: right;">
        <div style="margin-top: @marginTop; margin-left: @margin; margin-right: @margin;text-align: center">
        @Html.Raw(item)
        </div>
    </div>
    }

    if (ViewBag.Print)
    {
    <div class="page-break"></div>
    }
}