﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var now = DateTime.Now;
    var defaultFrom = new DateTime(now.Year, now.Month, 1).ToString("dd/MM/yyyy");
    var defaultTo = now.AddDays(1).ToString("dd/MM/yyyy");
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Statistics/DangerousDrugs.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    <script type="text/javascript">
        var viewModel;

        ko.bindingHandlers.datepicker = {
            init: function (element, valueAccessor, allBindingsAccessor) {
                //initialize datepicker with some optional options              
                $(element).datepicker({
                    changeYear: true,
                    changeMonth: true
                });

                //handle the field changing
                ko.utils.registerEventHandler(element, "change", function () {
                    var observable = valueAccessor();
                    observable($(element).val()); //.datepicker("getDate"));
                });

            },
            update: function (element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());

                //handle date data coming via json from Microsoft
                if (String(value).indexOf('/Date(') == 0) {
                    value = new Date(parseInt(value.replace(/\/Date\((.*?)\)\//gi, "$1")));
                }

                var current = $(element).val(); //.datepicker("getDate");

                if (value - current !== 0) {
                    $(element).val(value); //.datepicker("setDate", value);
                }
            }
        };

        $(function () {
            viewModel = new viewModel("@defaultFrom","@defaultTo");
            ko.applyBindings(viewModel);
        });

    </script>
}
<h2>דו"ח סמים מסוכנים</h2>
<div class="form-inline well">

    <div class="row control-group">
        <div class="span2">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="datepicker: from" readonly>
            </label>
        </div>

        <div class="span2">
            <label>עד תאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="datepicker: to" readonly>
            </label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label>סנן לפי</label>
        </div>
        <div class="span4">
            <label>
                <select data-bind="options: drugOptions, optionsText: 'Text', optionsValue: 'Value', value: drugFilter, optionsCaption: 'הכל'">
                </select>
            </label>
        </div>
    </div>

    <button class="btn btn-primary btn-large" data-bind="click: search">
        <i class="icon-search"></i>
        הצג
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: print, disable:     filtersChanged">
        <i class="icon-print"></i>
        הדפס
    </button>
</div>




<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <th>שם המוצר</th>
            <th>תאריך</th>
            <th>שם הבעלים</th>
            <th>שם החיה</th>
            <th>כמות הזרקה</th>
            <th>כמות השמדה</th>
            <th>פרוצדורה</th>
            <th>שם הרופא</th>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: MedicationName"></td>
                <td data-bind="text: Date"></td>
                <td data-bind="text: OwnerName"></td>
                <td><a data-bind="attr: { href: '/History/Index/' + PatientId() }"><span data-bind="    text: PatientName"></span></a></td>
                <td data-bind="text: AmountInjected"></td>
                <td data-bind="text: AmountDestroyed"></td>
                <td data-bind="text: Procedure"></td>
                <td data-bind="text: DoctorName"></td>
            </tr>
        </tbody>
    </table>

</div>
