﻿@model System.Collections.Generic.List<RapidVet.WebModels.DangerousDrugs.DangerousDrugReportItem>

@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<h2>דו"ח סמים מסוכנים</h2>

 <table>
        <thead>
            <th>שם המוצר</th>
            <th>תאריך</th>
            <th>שם הבעלים</th>
            <th>שם החיה</th>
            <th>כמות הזרקה</th>
            <th>כמות השמדה</th>
            <th>פרוצדורה</th>
            <th>שם הרופא</th>
        </thead>
     <tbody>
         @foreach (var item in Model)
         {
             <tr>
                 <td>@item.MedicationName</td>
                 <td>@item.Date</td>
                 <td>@item.OwnerName</td>
                 <td>@item.PatientName</td>
                 <td>@item.AmountInjected</td>
                 <td>@item.AmountDestroyed</td>
                 <td>@item.Procedure</td>
                 <td>@item.DoctorName</td>
             </tr>
         }
     </tbody>
    </table>