﻿@model RapidVet.WebModels.Finance.DoctorLogModel
@{
    Layout = null;
}
<style type="text/css">
    html, body {
        height: 97%;
    }

    div.page-break {
        display: block;
        height: auto;
        page-break-before: avoid;
        page-break-after: always;
    }

    .print:last-child {
        page-break-before: auto;
        page-break-after: avoid;
    }

    hr {
        border: transparent;
        height: 1px;
        width: 100%;
    }
</style>

@if (Model.Total > 0 || Model.Visits.Any())
{
    <h2>@Model.Day.DayOfYear/@Model.Day.Year - @Model.Day.ToString("dd/MM/yyyy")</h2>
    
    <h3>רשימת לקוחות</h3>
    <br />
    
    if (Model.Visits.Any())
    {
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>שם הלקוח</th>
                <th>תאריך</th>
                <th>סכום</th>
                <th>מספר חשבונית / מס קבלה</th>
                <th>שם הרופא</th>
                <th>הערה לביקור</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Visits)
            {
                <tr style="@(item.IsAddedByCalender ? "background-color: #e7c720;" : "")">
                    @if (ViewBag.ToPrint || item.ClientId == 0)
                    {
                    <td>@item.ClientName</td>
                    }
                    else
                    {
                    <td><a href="@Url.Action("Patients", "Clients", new { id = item.ClientId })">@item.ClientName</a>
                       
                    </td>
                    }
                    <td>
                        <span>@item.VisitDate</span>
                    </td>
                    <td style="direction: ltr;">
                        <span>@item.Price</span>
                    </td>
                    <td>
                        <span>
                            @if (item.SerialNumber > 0)
                            {
                                @item.SerialNumber
                            }
                        </span>
                    </td>
                    <td>
                        <span>@item.DoctorName</span>
                    </td>
                    <td>
                        <span>@item.MainComplaint</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    else if (Model.IssuerRelatedDoctors == 0)
    {
        <span>לא מקושרים רופאים מטפלים למנפיק</span>
        <br /><br />
    }
    else
    {
    <span>לא נמצאו ביקורים</span>
    <br /><br />
    }
    <h3>סיכום תקבולים יומי</h3>
    <br />
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>

                <th>סה"כ מזומן</th>
                <th style="direction: ltr;">@Model.TotalCash</th>
            </tr>
            <tr>
                <th>סה"כ בהעברה בנקאית</th>
                <th style="direction: ltr;">@Model.TotalTransfers</th>
            </tr>
            <tr>
                <th>סה"כ בהמחאה</th>
                <th style="direction: ltr;">@Model.TotalChecks</th>
            </tr>
            <tr>
                <th>סה"כ המחאות שהתקבלו</th>
                <th style="direction: ltr;">@Model.TotalChecksNumberToday</th>
            </tr>
            <tr>
                <th>סה"כ בכ.אשראי</th>
                <th style="direction: ltr;">@Model.TotalCreditCard</th>
            </tr>
            <tr>
                <th>סה"כ תקבולים</th>
                <th style="direction: ltr;">@Model.Total</th>
            </tr>
            <tr>
                <th>סה"כ לפירעון היום</th>
                <th style="direction: ltr;">@Model.TotalToCashToday</th>
            </tr>
            <tr>
                <th>סיכום חשבוניות</th>
                <th style="direction: ltr;">@Model.TotalDocuments</th>
            </tr>
        </thead>
    </table>

    <h3>רשימת המחאות לפרעון היום</h3>
    <br />
    if (Model.Checks.Any())
    {
    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>שם הלקוח</th>
                <th>בנק</th>
                <th>סניף</th>
                <th>מס' חשבון</th>
                <th>מס' המחאה</th>
                <th>סכום כולל מע"מ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Checks)
            {
                <tr>
                    <td>
                        <span>@item.ClientName</span>
                    </td>
                    <td>
                        <span>@item.BankName</span>
                    </td>
                    <td>
                        <span>@item.BankBranch</span>
                    </td>
                    <td>
                        <span>@item.BankAccount</span>
                    </td>
                    <td>
                        <span>@item.ChequeNumber</span>
                    </td>
                    <td style="direction: ltr;">
                        <span>@item.Sum</span>
                    </td>
                </tr>
            }
            <tr class="well">
                <td><strong>כמות המחאות</strong></td>
                <td>@Model.Checks.Count()</td>
                <td colspan="2"></td>
                <td><strong>סה"כ תקבולים בהמחאות</strong></td>
                <td style="direction: ltr;">@Model.Checks.Sum(c => c.Sum)</td>
            </tr>
        </tbody>
    </table>
    }
    else
    {
    <span>לא נמצאו המחאות</span>
    }
    <br />
}
else
{
    if (!ViewBag.ToPrint)
    {
    <h3>אין רישומים</h3>
    }
}
    <hr />
    <div class="page-break"></div>
