﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/IncommingReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/App/Finance/moment.min.js")'></script>
}

<h2>@RapidVet.Resources.Navigation.IncomingsReport</h2>
<br />
<div class="form-inline well">
    <div class="row">
        <div class="span1">
            <label>מנפיק</label>
        </div>
        <div class="span3">
            <label>
                <select class="input-medium" data-bind="options: issuers, optionsText: 'Text', optionsValue: 'Value', value: selectedIssuerId"></select>
            </label>
        </div>
        <div class="span1">
            <label>@RapidVet.Resources.PreventiveReminders.FromDate</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" data-bind="value: fromDate" readonly />
            </label>
        </div>

        <div class="span1">
            <label>@RapidVet.Resources.PreventiveReminders.ToDate</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" data-bind="value: toDate" readonly />
            </label>
        </div>
        </div>
    <br />
    <div class="row">
        <div class="span1">
            <label>משעה</label>
        </div>
        <div class="span2">
            <label>
                <input type="time" min="01:00" max="24:00" step="600" data-bind="value: fromTime" class="input-small" />
            </label>
        </div>
        <div class="span1">
            <label>
                עד שעה
            </label>

        </div>
        <div class="span2">
            <label>
                <input type="time" min="01:00" max="24:00" step="600" data-bind="value: toTime" class="input-small" />
            </label>
        </div>
    </div>
    <br />
        <div class="row">
            <label>
                <button class="btn btn-primary" data-bind="click: search">
                    <i class="icon-search"></i>
                    חפש
                </button>
            </label>
            <label>
                <button class="btn btn-primary" data-bind="click: ExportToExcel">
                    <i class="icon-download"></i>
                    יצוא לExcel
                </button>
            </label>
            <label data-bind="text: errorMsg" style="color:red; margin-right: 20px;"></label>
        </div>
    </div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>תאריך ושעה</th>
            <th>שם הלקוח</th>
            <th>מספר מסמך</th>
            <th>סוג מסמך</th>
            <th>סה"כ במזומן</th>
            <th>סה"כ בהעברה בנקאית</th>
            <th>סה"כ באשראי</th>
            <th>סה"כ בהמחאות</th>
            <th>מספר תשלומים</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: documents">
        <tr>
            <td data-bind="text: Created"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: SerialNumber"></td>
            <td>
                <span data-bind="visible: FinanceDocumentTypeId() == 1">קבלה</span>
                <span data-bind="visible: FinanceDocumentTypeId() == 2">חשבונית מס קבלה</span>
            </td>
            <td class="fix-negativ" data-bind="text: CashPaymentSum"></td>
            <td class="fix-negativ" data-bind="text: BankTransferSum"></td>
            <td class="fix-negativ" data-bind="text: TotalCreditPaymentSum"></td>
            <td class="fix-negativ" data-bind="text: TotalChequesPayment"></td>
            <td class="fix-negativ" data-bind="text: Payments"></td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped well">
    <thead>
        <tr>
            <th>סה"כ במזומן</th>
            <th>סה"כ בהעברות בנקאיות</th>
            <th>סה"כ באשראי</th>
            <th>סה"כ בהמחאות</th>
            <th>סה"כ</th>
        </tr>
        <tr>
            <td data-bind="text: totalCash().toFixed(2)"></td>
            <td data-bind="text: totalTransfers().toFixed(2)"></td>
            <td data-bind="text: totalCredit().toFixed(2)"></td>
            <td data-bind="text: totalChecqes().toFixed(2)"></td>
            <td data-bind="text: totalReport().toFixed(2)"></td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
