﻿@using RapidVet.Repository.Clinics
@{
    if (ViewBag.ToPrint)
    {
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }

    List<SelectListItem> issuers;
    using (IIssuerRepository repository = new IssuerRepository())
    {
        issuers = repository.GetDropdownList(CurrentUser.ActiveClinicId, CurrentUser.Id, false);
    }

    if (Request.QueryString["issuerId"] != null)
    {
        foreach (var issuer in issuers)
        {
            issuer.Selected = issuer.Value == Request.QueryString["IssuerId"];
        }
    }
}

<h2>יומן רופא</h2>
<br />
@if (!ViewBag.ToPrint)
{
    <a class="btn btn-primary" href="@Url.Action("IncomingsReport","DoctorLog")">
        <i class="icon-pencil"></i>
        דו"ח תקבולים יומי
    </a>
    <br />  <br />
    <div class="well">
        <div class="form-inline">
            <div class="row ">
                <div class="span1">
                    <label>בחר תאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="input-small" readonly id="chosenDate" value="@ViewBag.DateString" />
                    </label>
                </div>
                <div class="span1">
                    <label>שם המנפיק</label>
                </div>
                <div class="span3">
                    <label style="top: -2px; position: relative;">
                        <select id="issuers">
                            @foreach (var issuer in issuers)
                            {
                                <option value="@issuer.Value" @if (issuer.Selected) { <text> selected="selected" </text>  }>@issuer.Text</option>
                            }
                        </select>
                    </label>
                </div>



                <div class="span1">
                    <label>
                        <a id="refreshLink" class="btn">הצג</a>
                    </label>
                </div>
                <div class="span2" style="float: left">
                    <label>
                        <a class="btn btn-primary" href="#" onclick="$('#rangeDate').toggle()">הדפס קבוצת תאריכים</a>
                    </label>
                </div>
                <div class="span1" style="float: left">
                    <label>
                        <a class="btn btn-primary" href="#" onclick="window.open('/DoctorLog/index?date=' + $('#chosenDate').val() + '&toPrint=true' + '&issuerId=' + $('#issuers').val(), '_blank');">הדפס</a>
                    </label>
                </div>
            </div>

            <div class="row " id="rangeDate" style="display: none">
                <div class="span1">
                    <label>מתאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="input-small" id="from" value="" />
                    </label>
                </div>
                <div class="span1">
                    <label>עד תאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="input-small" id="to" value="" />
                    </label>
                </div>

                <div class="span3">
                    <label>
                        <a id="printDateRange" class="btn btn btn-primary" target="_blank">הדפס את כל התאריכים בטווח</a>
                    </label>
                </div>
            </div>

        </div>
    </div>
}

@if (ViewBag.ToPrint && ViewBag.PrintDateRange)
{
    var currentDay = ViewBag.FromDate;
    var lastDay = ViewBag.ToDate;
    while (currentDay <= lastDay)
    {
         @Html.Action("DayLog", new {date = currentDay.ToString("dd/MM/yyyy"), toPrint = ViewBag.ToPrint})
         currentDay = currentDay.AddDays(1);
    }
}
else
{
    @Html.Action("DayLog", new {date = ViewBag.DateString, toPrint = ViewBag.ToPrint})
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#refreshLink').attr('href', '/DoctorLog/index?date=' + $('#chosenDate').val() + '&issuerId=' + $('#issuers').val());

            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#chosenDate").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $('#refreshLink').attr('href', '/DoctorLog/index?date=' + $('#chosenDate').val()) + '&issuerId=' + $('#issuers').val();
                },
                isRTL: true
            });
            
            $('#printDateRange').attr('href', '/DoctorLog/index?date=' + $('#chosenDate').val() + '&issuerId=' + $('#issuers').val() + '&toPrint=true&toDate=' + $('#to').val());

            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#from").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    $('#printDateRange').attr('href', '/DoctorLog/index?date=' + $('#from').val() + '&issuerId=' + $('#issuers').val() + '&toPrint=true&toDate=' + $('#to').val());
                },
                isRTL: true
            });
            $("#to").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    $('#printDateRange').attr('href', '/DoctorLog/index?date=' + $('#from').val() + '&issuerId=' + $('#issuers').val() + '&toPrint=true&toDate=' + $('#to').val());
                },
                isRTL: true
            });
            $('#issuers').on('change', function () {
                $('#refreshLink').attr('href', '/DoctorLog/index?date=' + $('#chosenDate').val() + '&issuerId=' + $('#issuers').val() + '&toPrint=false&toDate=' + $('#to').val());
            });
        });


    </script>
}