﻿@using RapidVet.Model.Patients;
@{
    var list = from GenderEnum g in Enum.GetValues(typeof(GenderEnum))
               select new SelectListItem()
                   {
                       Text = RapidVet.Resources.Gender.ResourceManager.GetString(g.ToString()),
                       Value = ((int)g).ToString()
                   };

    var selectedValue = "";
    if (Model != null)
    {
        selectedValue = Model.ToString();
    }
}

@foreach (var item in list)
{
    var selected = "";
    if (item.Value == selectedValue)
    {
        selected = "checked";
    }
    <label class="inline ignore-uniform" style="width: auto;">
        <input type="radio" name="GenderId" value="@item.Value"   @selected/>
        @item.Text
    </label>
}

