﻿<style type="text/css">
    .simpleColorChooser {
        left: 65px !important;
        top: 23px !important;
    }
</style>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" href="css/bootstrap.min.css" />
    <link type="text/css" href="css/bootstrap-timepicker.min.css" />    

    <script type="text/javascript">
    $(document).ready(function() {
        $('#timepicker2').timepicker({
            minuteStep: 5,
            template: 'modal',
            appendWidgetTo: 'body',
            showSeconds: false,
            showMeridian: false,
            defaultTime: false
        });
        $('#cb_generalEntry').click(function() {

            if ($("#cb_generalEntry").is(':checked')) {
             //   if ($('.simpleColorDisplay').css('backgroundColor') === "rgb(51, 204, 204)") {
                    $('.simpleColor').setColor('#ffcc00');
                    color('#ffcc00');
            //    }
            } else {
                if ($('.simpleColorDisplay').css('backgroundColor') === "rgb(255, 204, 0)") {
                    $('.simpleColor').setColor('#33cccc');
                    color('#33cccc');
                }
            }
        });
    });

    </script>
</head>
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('.ui-timepicker-list').hide();">&times;</button>
        <h3 data-bind="visible: entryId() == 0">@RapidVet.Resources.Calendar.AddEntry</h3>
        <h3 data-bind="visible: entryId() != 0">@RapidVet.Resources.Calendar.EditEntry</h3>
    </div>
    <div class="modal-body" style="overflow-x: hidden; max-height: 450px !important;">
        <div class="form-inline">
            <input data-bind="value: entryId" type="hidden">

            <div class="row-fluid control-group" data-bind="visible: entryId() != 0">
                <div class="span12" align="center">
                    <label style="">
                        <button class="btn" data-bind="click: changeIdToZero">@RapidVet.Resources.Calendar.DuplicateEntry</button>
                        <button class="btn" data-bind="click: function () { replaceToNewWaitingListItem(entryId()); }">@RapidVet.Resources.Calendar.MoveToWaitingList</button>
                        <a class="btn" data-bind="    visible: invoiceLinkVisible, attr: { href: invoiceLink }">@RapidVet.Resources.Calendar.Invoice</a>
                        <a class="btn" href="#" data-bind="click: function () { deleteCalenderEntry(entryId()) }">@RapidVet.Resources.Calendar.Delete</a>
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2" style="position:relative;top:4px;">
                    <label for="date">@RapidVet.Resources.Calendar.Date</label>
                </div>
                <div class="span4">
                    <label>
                        <input class="date" readonly style="width: 90px" data-bind="value: date, datepicker: date, datepickerOptions:
                        {
                            defaultDate: '+0',
                            isRTL: true
                        }">
                    </label>
                </div>
                
            </div>

            <div class="row-fluid">
                <div class="span2" style="position: relative; top: 4px;">
                    <label for="time">@RapidVet.Resources.Calendar.StartTime</label>
                </div>
                <label class="span2 input-group bootstrap-timepicker timepicker">
                    <input id="timepicker2" type="text" class="form-control input-small" data-bind="value: time">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                    </span>
                </label>
                <div class="span2" style="margin-right: 90px;top:1px;position:relative;">
                    <label for="duration">@RapidVet.Resources.Calendar.LengthInMinutes</label>
                </div>
                <div class="span1">
                    <label>
                        <input type="text" class="text-box single-line  input-small" data-bind="value: duration">
                    </label>
                </div>
            </div>
           
            <div class="row" data-bind="visible: entryId() == 0" style="margin-top:7px;margin-bottom:7px;">
                <div class="span3" style="margin-right: 90px;">
                    <a class="btn" data-bind="visible: !generalEntry()" href="@Url.Action("Create", "Clients", new { isDirectedFromCalender = true })" target="_blank">
                        @RapidVet.Resources.Calendar.SetAppointmentForNewClient
                    </a>
                </div>
                <div class="span3" style="position: relative; display: inline; float: inherit; top: 3px; margin: 0px;">
                    <input type="checkbox" id="cb_generalEntry" data-bind="checked: generalEntry" />
                    <label style="position: relative; top: 2px;">
                        @RapidVet.Resources.Calendar.GeneralEntry
                    </label>
                </div>
            </div>
           
            <div class="row-fluid">
                <div class="span2" style="margin-top: 6px;" data-bind="visible: !generalEntry()">
                    <label for="clientId">@RapidVet.Resources.Calendar.ClientName</label>
                </div>
                <div class="span6" style="margin-top: 3px; " data-bind="visible: !generalEntry()">
                    <label>
                        @*<select class="form-control input-medium" id="newClientId" data-bind="options: clients, value: clientId, optionsCaption: 'בחר לקוח', optionsText: 'itemText', optionsValue: 'itemValue'"></select>*@
                        <input type="text" class="client-search search-query txtClientName" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />                        
                    </label>
                </div>
                <div class="span3">
                    <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label></div>

                </div>
            <div class="row-fluid" data-bind="visible: generalEntry" style="margin-top:10px;">
                <div class="span2">
                    <label for="title">@RapidVet.Resources.Calendar.EntryDescription</label>
                </div>
                <div class="span9">
                    <label>
                        <input class="text-box single-line" type="text" data-bind="value: title" style="min-width: 210px;">
                    </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2" style="margin-top: 11px;" data-bind="visible: !generalEntry()">
                    <label for="patientId">@RapidVet.Resources.Calendar.Animal</label>
                </div>
                <div class="span4" style="margin-top: 10px;" data-bind="visible: !generalEntry()">
                    <label>
                        <select name="entryPatientsSelect" class="form-control input-medium" data-bind="options: patients, value: patientId, optionsCaption: 'בחר בעל חיים', optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </div>
                <div class="row-fluid" style="margin-top: 9px;">
                    <div class="span2">
                        <label for="color">@RapidVet.Resources.Calendar.Color</label>
                        <div class="span3" style="font-size: 12px; color: grey;">
                            @RapidVet.Resources.Calendar.ColorExplenation
                        </div>
                    </div>
                    <div class="span4">
                       
                            <div class="fluid">
                                <div class="span3" style="margin-right: 0px;">
                                    <span class='simpleColor'></span>
                                    <input type="hidden" name="color" id="color" data-bind="value: color" />
                                </div>

                            </div>
                       
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span2" style="margin-top: 2px;">
                    <label for="doctorId">@RapidVet.Resources.Calendar.Doctor</label>
                </div>
                <div class="span4">
                    <label>
                        <select class="form-control input-medium" data-bind="options: doctors, value: doctorId, optionsCaption: 'בחר רופא', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                    </label>
                </div>
            </div>

            <div class="row-fluid" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="span2" style="margin-top: 2px;">
                    <label for="roomId">@RapidVet.Resources.Calendar.Room</label>
                </div>
                <div class="span9">
                    <label>
                        <select class="form-control input-medium" data-bind="options: rooms, value: roomId, optionsCaption: 'בחר חדר', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2" style="margin-top: 8px;">
                <label for="comments">@RapidVet.Resources.Calendar.Comment</label>
            </div>
            <div class="span9">
                <label>
                    <textarea class="text-box" style="width: 400px;" data-bind="value: comments"></textarea>
                </label>
            </div>
        </div>
        <div class="modal-footer" style="padding-right: 0;    margin-top: 5px;">
            <br />
            <div class="row-fluid" style="position: relative; display: inline; float: right;">
                <div class="span2" style="margin-top: 2px;">
                    <label for="byUserId" style="text-align: right;">@RapidVet.Resources.Calendar.Recorder</label>
                </div>
                <div class="span3">
                    <label>
                        <select class="form-control input-medium" data-bind="options: users, value: byUserId, optionsCaption: 'בחר משתמש', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                    </label>
                </div>

                <a href="#" class="btn btn-primary" data-bind="click: saveCalenderEntry, visible: entryId() == 0">
                    <i class="icon-plus"></i>
                    @RapidVet.Resources.Global.Save
                </a>
                <a href="#" class="btn btn-primary" data-bind="click: saveCalenderEntry, visible: entryId() != 0">
                    <i class="icon-ok"></i>
                    @RapidVet.Resources.Global.Save
                </a>
                <a href="#" data-dismiss="modal" class="btn" onclick="$('.ui-timepicker-list').hide();">
                    <i class="icon-remove"></i>
                    @RapidVet.Resources.Calendar.Undo
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
</script>




