﻿@using RapidVet.Enums
@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Vendor/timepicker/jquery.timepicker.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
    <link href='@Url.Content("~/Scripts/Vendor/timepicker/jquery.timepicker.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' rel="stylesheet" />
}
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 70%; margin-right: -35%;max-height: 50%;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Calendar.LocateEntries</h3>
    </div>
    <div class="modal-body" style="overflow-y:initial !important;">
        <div>
            <a class="btn btn-primary" href="#"
               data-bind="click: printCalenderEntries">@RapidVet.Resources.Global.Print</a>
            <a class="btn btn-primary" href="#"
               data-bind="click: exportCalenderEntries">@RapidVet.Resources.Global.Export</a>
        </div>
        <br />
        <div class="form-inline">
            <div class="row-fluid">
                <div class="span9">
                    <label>בחירת לקוח:</label>
                    <label>
                        @*<select class="form-control" data-bind="options: clients, value: clientId, optionsCaption: 'בחר לפי לקוח', optionsText: 'itemText', optionsValue: 'itemValue'">
                            </select>*@
                        <input id="inputClientNameSearch" type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
                        <label class="no-results" style="display:none;margin-right:10px; position: relative;"> לא נמצאו תוצאות</label>
                    </label>

                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span4">
                    <label>בחירת רופא:</label>
                    <label>
                        <select class="form-control" data-bind="options: doctors, value: doctorId, optionsCaption: 'בחר...', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                    </label>
                </div>
            </div>

            <br />
            <div class="row-fluid ">
                <div class="span12">
                    <label>טווח תאריכים לחיפוש:</label>
                    <label>
                        <select class="input-medium" data-bind="value: searchTimeType">
                            <option value="@((int)(SearchTimeEnum.All))">@RapidVet.Resources.Calendar.AllEntries</option>
                            <option value="@((int)(SearchTimeEnum.Past))">@RapidVet.Resources.Calendar.PastEntries</option>
                            <option value="@((int)(SearchTimeEnum.Future))">@RapidVet.Resources.Calendar.FutureEntries</option>
                            <option value="@((int)(SearchTimeEnum.BetweenDates))">@RapidVet.Resources.Calendar.BetweenDates</option>
                        </select>
                        <label style="margin-right:20px;">כלול פגישות מבוטלות:</label>
                        <select class="input-medium" data-bind="value: searchCancelled">
                            <option value="@true">@RapidVet.Resources.Global.Yes</option>
                            <option value="@false">@RapidVet.Resources.Global.No</option>
                        </select>
                        <label data-bind="visible: searchTimeType() == 3" style="margin-right:20px; ">
                            <label>מתאריך:</label>
                            <input type="text" id="from" data-bind="value: from" class="" readonly />
                            @*value="@(Request.QueryString["fromTime"] ?? DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy"))" />*@
                            <label style="margin-right:20px;">עד תאריך:</label>
                            <input type="text" id="to" data-bind="value: to" class="" readonly />
                            @*       value="@totime" />*@
                        </label>
                    </label>
                </div>
                @*data-bind="display: searchTimeType() == 4"*@
                <br />
                <div class="row-fluid">
                    <div class="span9">
                        <label>
                            <a class="btn btn-primary" href="#" data-bind="click: searchCalenderEntries">@RapidVet.Resources.Calendar.Search <i class="icon-search"></i></a>
                            <label id="chooseClientError" style="color:red;margin-right: 20px;display:none;">אנא בחר לקוח</label>
                        </label>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>@RapidVet.Resources.Calendar.Date</th>
                        <th>@RapidVet.Resources.Calendar.Day</th>
                        <th>@RapidVet.Resources.Calendar.Hour</th>
                        <th>@RapidVet.Resources.Calendar.LengthInMinutes</th>
                        <th>@RapidVet.Resources.Calendar.Doctor</th>
                        <th>@RapidVet.Resources.Calendar.Comment</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: searchResults">
                    <tr>
                        <td>
                            <span data-bind="text: date"></span>
                        </td>
                        <td>
                            <span data-bind="text: color"></span>
                        </td>
                        <td>
                            <span data-bind="text: time"></span>
                        </td>
                        <td>
                            <span data-bind="text: duration"></span>
                        </td>
                        <td>
                            <span data-bind="text: title"></span>
                        </td>
                        <td>
                            <span data-bind="text: comments"></span>
                        </td>
                        <td>
                            <p align="center">
                                <a class="btn btn-primary" href="#" data-bind="click: function () { $('#searchModal').modal('hide'); getCalenderEntry(entryId()); $('#myModal').modal('show'); }">@RapidVet.Resources.Calendar.Show</a>
                                <a class="btn btn-primary" href="#" data-bind="click: function () { deleteCalenderEntry(entryId()) }">@RapidVet.Resources.Calendar.Delete</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

