﻿@using RapidVet.Enums

<div id="waitingListModal" class="modal hide fade" style="width: 70%;margin-right: -35%;">
    @*tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*@
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="waitingListTitle"></h3>
    </div>
    <div class="modal-body">
        <div id="waitingListHeaderButtons">
            <a class="btn btn-primary" href="#" data-bind="click: function () { createNewWaitingListItem() }">הוסף ממתין</a>
            <a class="btn btn-primary"
               data-bind="click: function () {
            window.open('/Calender/PrintWaitingList?doctorId=' + $('#asdf').val(), '_blank');
        }">@RapidVet.Resources.Global.Print</a>
        </div>
        <br />
        <div class="form-inline">

            <div class="row-fluid control-group">
                <div class="span2">
                    <label>
                        @RapidVet.Resources.Calendar.Doctor
                    </label>
                </div>
                <div class="span9">
                    <label>
                        <select id="asdf" class="form-control" data-bind="options: doctors, value: doctorId, optionsCaption: 'כולם', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                    </label>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Calendar.ClientName</th>
                    <th name="waitingListPatienNameHeader">@RapidVet.Resources.Calendar.PatienName</th>
                    <th name="waitingListDayColHeader">@RapidVet.Resources.Calendar.DesiredDays</th>
                    <th>@RapidVet.Resources.Calendar.DesiredHours</th>
                    <th>@RapidVet.Resources.Calendar.LengthInMinutes</th>
                    <th name="waitingListHomePhoneColHeader">@RapidVet.Resources.Calendar.HomePhone</th>
                    <th name="waitingListWorkPhoneColHeader">@RapidVet.Resources.Calendar.WorkPhone</th>
                    <th name="waitingListMobilePhoneColHeader">@RapidVet.Resources.Calendar.CellPhone</th>
                    <th>@RapidVet.Resources.Calendar.Emergency</th>
                    <th>@RapidVet.Resources.Calendar.DestinedDoctor</th>
                    <th>@RapidVet.Resources.Calendar.Comments</th>
                    <th name="waitingListWaitingFromColHeader" class="hide">@RapidVet.Resources.Calendar.WaitingFrom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: waitingListItems">
                <tr data-bind="visible: DoctorId() == doctorId() || doctorId() == null">
                    <td>
                        <span data-bind="text: ClientName"></span>
                    </td>
                    <td name="waitingListPatienNameVal">
                        <span data-bind="text: PatientName"></span>
                    </td>
                    <td name="waitingListDayColVal">
                        <span data-bind="visible: IsSunday()">@RapidVet.Resources.Calendar.Sunday, </span>
                        <span data-bind="visible: IsMonday()">@RapidVet.Resources.Calendar.Monday, </span>
                        <span data-bind="visible: IsTuesday()">@RapidVet.Resources.Calendar.Tuseday, </span>
                        <span data-bind="visible: IsWednesday()">@RapidVet.Resources.Calendar.Wednsday, </span>
                        <span data-bind="visible: IsThursday()">@RapidVet.Resources.Calendar.Thursday, </span>
                        <span data-bind="visible: IsFriday()">@RapidVet.Resources.Calendar.Friday, </span>
                        <span data-bind="visible: IsSaturday()">@RapidVet.Resources.Calendar.Saturday</span>
                    </td>
                    <td>
                        <span data-bind="text: FromTime"></span>- <span data-bind="    text: ToTime"></span>
                    </td>
                    <td>
                        <span data-bind="text: AppointmentDurationInMinutes"></span>
                    </td>
                    <td name="waitingListHomePhoneColVal">
                        <span data-bind="text: HomePhone"></span>
                    </td>
                    <td name="waitingListWorkPhoneColVal">
                        <span data-bind="text: WorkPhone"></span>
                    </td>
                    <td name="waitingListMobilePhoneColVal">
                        <span data-bind="text: MobilePhone"></span>
                    </td>
                    <td>
                        <span data-bind="visible: UrgencyTypeId() == '0'">@RapidVet.Resources.Calendar.NotImportent</span>
                        <span data-bind="visible: UrgencyTypeId() == '1'">@RapidVet.Resources.Calendar.Importent</span>
                        <span data-bind="visible: UrgencyTypeId() == '2'">@RapidVet.Resources.Calendar.Criticle</span>
                    </td>
                    <td>
                        <span data-bind="text: DoctorName"></span>
                    </td>
                    <td>
                        <span data-bind="text: Comments"></span>
                    </td>
                    <td name="waitingListWaitingFromColVal" class="hide">
                        <span data-bind="text: DateStamp"></span>
                    </td>
                    <td>
                        <p align="center">
                            <a name="waitingListEdit" class="btn btn-primary waitingBtn" href="#" data-bind="click: function () { editWaitingListItem(this); }">
                                <i class="icon-edit"></i>
                                @RapidVet.Resources.Global.Edit
                            </a>
                            <a name="waitingListDelete" class="btn btn-primary waitingBtn" href="#" data-bind="click: function () { openDeleteWaitingListItemBox(Id()); }">
                                <i class="icon-trash"></i>
                                @RapidVet.Resources.Calendar.Delete
                            </a>
                            <a name="waitingListExitWaitingRoom" class="btn btn-primary waitingBtn" href="#" data-bind="click: function () { replaceToNewCalenderEntry(this); }">
                                <i class="icon-share-alt"></i>
                                @RapidVet.Resources.Calendar.ExitWaitingRoom
                            </a>
                            <a name="waitingListAddToMeeting" class="btn btn-primary waitingBtn hide" href="#" data-bind="click: function () { AddNewCalenderEntry(this); }">
                                <i class="icon-share-alt"></i>
                                @RapidVet.Resources.Calendar.AddEntry
                            </a>
                            <a class="btn btn-primary waitingBtn" href="#" data-bind="click: function () { window.open('/Clients/Patients/' + ClientId(), '_blank'); }">
                                <i class="icon-user"></i>
                                @RapidVet.Resources.Calendar.OpenClientFile
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

