﻿@using RapidVet.Enums

<div id="waitingListItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> @*data-bind="with: waitingListItem"*@
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 data-bind="visible: WaitingListItemId() == 0">@RapidVet.Resources.Calendar.AddWaiting</h3>
        <h3 data-bind="visible: WaitingListItemId() != 0">@RapidVet.Resources.Calendar.EditEaiting</h3>
    </div>
    <div class="modal-body" style="height: 440px !important; max-height: 450px !important; overflow-x: hidden !important;">
        <div class="form-inline">
            <input data-bind="value: WaitingListItemId" type="hidden">
            <div class="span9" style="position: relative; margin-top: -10px;">
                <label style="color: red;" data-bind="text: errorMsg"></label>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <label for="clientId">@RapidVet.Resources.Calendar.ClientName</label>
                </div>
                <div class="span9">
                 
                    <label>

                        @*<select name="dd_client" class="form-control" data-bind="options: clients, value: ClientId, optionsCaption: 'בחר לקוח', optionsText: 'itemText', optionsValue: 'itemValue',event: { change: getPatientsByID($('select[name=dd_client ]').val()) }"></select>*@
                        <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
                        <label class="no-results" style="display:none;margin-right:10px; position: relative;"> לא נמצאו תוצאות</label>
                        @*<input id="client-search2" type="text" class="search-query" style="border:1px solid gray; padding-top: 3px;margin-bottom: 0px;top: -4px;
                        position: relative;" placeholder="@RapidVet.Resources.Global.Search" />*@
                        @*<label id="no-results" style="display:inline;margin-right:10px; position: relative;"> לא נמצאו תוצאות</label>*@

                    </label>

                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <label for="clientId">@RapidVet.Resources.Calendar.PatienName</label>
                </div>
                <div class="span9">
                    <label>
                        <select name="dd_patient" class="form-control" data-bind="options: patients, value: patientId, optionsCaption: 'בחר בעל חיים', optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </div>
            </div>
            <br />

            <div class="row-fluid">
                <div class="span2">
                    <label for="FromTime">@RapidVet.Resources.Calendar.DesiredDays</label>
                </div>
                <div class="span9">
                    <table style="width: 100%">
                        <thead>
                            <tr>
                                <th>@RapidVet.Resources.Calendar.Sunday</th>
                                <th>@RapidVet.Resources.Calendar.Monday</th>
                                <th>@RapidVet.Resources.Calendar.Tuseday</th>
                                <th>@RapidVet.Resources.Calendar.Wednsday</th>
                                <th>@RapidVet.Resources.Calendar.Thursday</th>
                                <th>@RapidVet.Resources.Calendar.Friday</th>
                                <th>@RapidVet.Resources.Calendar.Saturday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p align="center">
                                        <input id="sunday" type="checkbox" style="padding-right: 10px" data-bind="checked: IsSunday">
                                    </p>
                                </td>
                                <td>
                                    <p align="center">
                                        <input id="monday" type="checkbox" data-bind="checked: IsMonday">
                                    </p>
                                </td>
                                <td>
                                    <p align="center">
                                        <input id="tuesday" type="checkbox" data-bind="checked: IsTuesday">
                                    </p>
                                </td>
                                <td>
                                    <p align="center">
                                        <input id="wednesday" type="checkbox" data-bind="checked: IsWednesday">
                                    </p>
                                </td>
                                <td>
                                    <p align="center">
                                        <input id="thursday" type="checkbox" data-bind="checked: IsThursday">
                                    </p>
                                </td>
                                <td>
                                    <p align="center">
                                        <input id="friday" type="checkbox" data-bind="checked: IsFriday">
                                    </p>
                                </td>
                                <td>
                                    <p align="center">
                                        <input id="saturday" type="checkbox" data-bind="checked: IsSaturday">
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />


            <div class="row-fluid">
                <div class="span3">
                    <label>@RapidVet.Resources.Calendar.DesiredStartTime</label>
                </div>
                <div class="span3">
                    <label>
                        <input id="dd_from" min="09:00" max="22:00" step="1800" class="input-small" type="time" data-bind="value: FromTime"  style=" direction: ltr;"/>
                    </label>
                </div>
                <div class="span3">
                    <label>@RapidVet.Resources.Calendar.DesiredFinishTime</label>
                </div>
                <div class="span3">
                    <label>
                        <input id="dd_to" min="09:00" max="22:00" step="1800" class="input-small" type="time" data-bind="value: ToTime" style=" direction: ltr;" />
                    </label>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span2">
                    <label for="duration">@RapidVet.Resources.Calendar.LengthInMinutes</label>
                </div>
                <div class="span9">
                    <label>
                        <input type="number" id="appointmentLength" class="text-box single-line  input-small" data-bind="value: AppointmentDurationInMinutes">
                    </label>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span2">
                    <label for="doctorId">@RapidVet.Resources.Calendar.Doctor</label>
                </div>
                <div class="span9">
                    <label>
                        <select class="form-control" data-bind="options: doctors, value: WaitingListItemDoctorId, optionsCaption: 'בחר רופא', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                    </label>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span2">
                    <label for="comments">@RapidVet.Resources.Calendar.Emergency</label>
                </div>
                <div class="span9">
                    <label>
                        <select class="input-medium" data-bind="value: WaitingListItemUrgencyTypeId">
                            <option value="@((int)(UrgencyEnum.NotUrgent))">לא דחוף</option>
                            <option value="@((int)(UrgencyEnum.Urgent))">דחוף</option>
                            <option value="@((int)(UrgencyEnum.Critical))">קריטי</option>
                        </select>
                    </label>
                </div>
            </div>
            <br />

            <div class="row-fluid">
                <div class="span2">
                    <label for="comments">@RapidVet.Resources.Calendar.Comment</label>
                </div>
                <div class="span9">
                    <label>
                        <textarea style="width: 405px;" class="text-box" data-bind="value: WaitingListItemComments"></textarea>
                    </label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <br />
            <a href="#" class="btn btn-primary" data-bind="click: function () { saveWaitingListItem(waitingListItem()) }, visible: WaitingListItemId() == 0">
                <i class="icon-plus"></i>
                @RapidVet.Resources.Calendar.AddWaiting
            </a>
            <a href="#" class="btn btn-primary" data-bind="click: function () { saveWaitingListItem(waitingListItem()) }, visible: WaitingListItemId() != 0">
                <i class="icon-ok"></i>
                @RapidVet.Resources.Global.Save
            </a>
            <a href="#" data-dismiss="modal" class="btn">
                <i class="icon-remove"></i>
                @RapidVet.Resources.Calendar.Undo
            </a>
        </div>
    </div>
</div>



<div id="deleteWaitingListItemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Global.Delete</h3>
    </div>
    <div class="modal-body">
        <h3>
            האם הנך בטוח/ה שברצונך למחוק את הממתין?
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <button type="submit" data-dismiss="modal" data-bind="click: function () { deleteWaitingListItem(deleteWaitingListItemId()); }" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    </div>

</div>
