﻿@model RapidVet.WebModels.FullCalender.WeeklyCalenderWebModel
@{
    Layout = "~/Views/Shared/_CalenderLayout.cshtml";
    int defaultDr = CurrentUser.DefaultDrId.HasValue ? CurrentUser.DefaultDrId.Value : 0;
    string calendarSpread = CurrentUser.ActiveClinic.CalendarSpread;
}

<link rel="stylesheet" href="@Url.Content("~/Content/css/bubble.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
<link rel="stylesheet" href="@Url.Content("~/Content/css/Daily.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
<style>
    .bubble {
        margin-top: -104px !important;
        margin-right: 165px !important;
        z-index: 10 !important;
        top: inherit !important;
    }
     .fc-widget-content {
     height: 40px !important;
    } 
</style>

@Html.Partial("_CalenderEntry")
@Html.Partial("_SearchCalenderEntries")
@Html.Partial("_WaitingList")
@Html.Partial("_WaitingListItem")

<input type="hidden" id="defaultDr" name="defaultDr" value="@defaultDr" />

<h2 data-bind="html: JewishDate"></h2>
<div style="height: 615px; overflow: auto;">
    <table style="width: 100%; height: 100%; overflow: auto;">
        <thead>
            <tr>
                @foreach (var doctor in Model.Doctors)
                {
                    
                    <th>
                        @doctor.Text
                    </th>
                }
            </tr>
        </thead>
        <tbody style="height: 100%;">
            <tr style="height: 100%;">
                @foreach (var doctor in Model.Doctors)
                {
                    <td style="height: 100%;">
                        <div id='calendar-@doctor.Value' class="calender" style="overflow-y:hidden; overflow-x:hidden;"></div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>


@section calenderMenu
{
    <a class="btn btn-large btn-primary main-menu" onclick="clearSearchData();$('#searchModal').modal('show');">
        <i class="icon-search"></i>
        @RapidVet.Resources.Calendar.LocateEntries
    </a>
    <br />
    <br />
    <a class="btn btn-large btn-primary main-menu"
       onclick="getAllWaitingListItems();$('#waitingListModal').modal('show').css({'width': '70%','margin-right': function () {return -($(this).width() / 2);}});">
        <i class="icon-user"></i>
        @RapidVet.Resources.Calendar.WaitingList
    </a>
    <br />
    <br />
    <a class="btn btn-large btn-primary main-menu" href="#"
       onclick="window.location = '/Calender/Memos/?date=' + $('#datepicker').datepicker('getDate');">
        <i class="icon-envelope"></i>
        @RapidVet.Resources.Calendar.SendReminder
    </a>
    <br />
    <br />
    <a class="btn btn-large btn-primary main-menu"
       onclick="showHideCalendarsToView();">
        <i class="icon-user"></i>
        @RapidVet.Resources.Calendar.CalendarsToView
    </a>
    <div id="showUsersSettings" class="hide">
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="showHideCalendarsToView();" style="opacity:1 !important; color: #8ac119 !important;" title="@RapidVet.Resources.Global.SaveChanges">&#10004</button>
        </div>
        <div>
            <div>
                <label style="margin-top: 5px; margin-right: 20px; color: #7dba00; font-size: 16px; margin-bottom: auto;">@RapidVet.Resources.Calendar.CalendarsToView</label>
            </div>
            <div class="li-group-cbHeaderDiv">
                @*checked="checked"*@
                <input id="selectDeselectAll" type="checkbox" autocomplete="off" style="width:18px; height:18px;"/>
                <span style="font-size: 12px;">@RapidVet.Resources.Global.SelectDeSelect</span>
            </div>
            <ul class="bubbleContent">
                @for (int i = 0; i < Model.Calendars.Count; i++)
                {
                    <li class="li-group-item">
                        <table>
                            <tr>
                                <td>
                                    @Html.HiddenFor(m => Model.Calendars[i].ID)
                                    @Html.CheckBoxFor(m => Model.Calendars[i].Show, new { @class = "li-group-cb" })
                                </td>
                                <td class="li-group-text">
                                    @Model.Calendars[i].Name
                                </td>
                            </tr>
                        </table>
                    </li>
                }
                @*@for (int i = 0; i < Model.ShowUsersList.Count; i++)
                    {
                        <li class="li-group-item">
                            <table>
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => Model.ShowUsersList[i].Show, new { @class = "li-group-cb" })
                                    </td>
                                    <td class="li-group-text">
                                        @Html.HiddenFor(m => Model.ShowUsersList[i].Id)
                                        @Html.HiddenFor(m => Model.ShowUsersList[i].DoctorId)
                                        @Html.HiddenFor(m => Model.ShowUsersList[i].User)
                                        @Model.ShowUsersList[i].User
                                    </td>
                                </tr>
                            </table>
                        </li>
                    }*@
            </ul>
        </div>
    </div>



}


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Calender/CalenderEntry.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/bubble.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script>
        $('.li-group-cb').change(function() {            
            $.ajax({
                url:"@Html.Raw(Url.Action("ShowCalendarChanged"))",
                data: { Val: $(this)[0].checked, Id: $('#' + $(this)[0].id.replace('Show', 'ID'))[0].value },
            });
        });

        var lastDayClick = 0;

        //Holiday Events
        var holidaySource = {
            url: '@Url.Action("GetHolidays", "Calender")',
            type: 'POST',
            error: function() {
                console.log('there was an error while fetching events!');
            },
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                    if (String(data[i].start).indexOf('/Date(') == 0) {
                        data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                    }
                    if (String(data[i].end).indexOf('/Date(') == 0) {
                        data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                    }
                }
            }
        };

        // one scrollbar for all
        function oneScrollBarForAll() {
            // $('.fc-agendaDay-view').css('overflow', 'hidden ');//$('table.fc-agenda-days.fc-border-separate').css('height', '1027px');
            //$('div.fc-view.fc-agendaDay-view.fc-agenda-view').css('height','');// $('div.fc-view.fc-view-agendaDay.fc-agenda>div>div').css('height', '');
        }


        $(document).ready(function() {
            ko.applyBindings(viewModel());
            getJewishDate(new Date());

            $('.simpleColor').simpleColor({
                defaultColor: '#0066cc',
                displayColorCode: true,
                onSelect: function(hex) {
                    $('#color').val('#' + hex);
                    changeSelfColor(hex);
                }
            });

            //Datepicker initialize
            $('#datepicker').datepicker({
                onSelect: function(dateText, inst) {
                    getJewishDate(new Date(inst.currentYear, inst.currentMonth, inst.currentDay));
                    @foreach (var doctor in Model.Doctors)
                    {
                        <text>
                    $('#calendar-@doctor.Value').fullCalendar('removeEventSource', '@Url.Action("GetDailySchedule", "Calender")');
                    </text>
                    }

                    $('.calender').fullCalendar('gotoDate', new Date(inst.currentYear, inst.currentMonth, inst.currentDay));

                    @foreach (var doctor in Model.Doctors)
                    {
                        <text>

                    var dailySource = {
                        url: '@Url.Action("GetDailySchedule", "Calender")',
                        type: 'POST',
                        data: { docId: @doctor.Value, date: new Date(inst.currentYear, inst.currentMonth, inst.currentDay) },
                        error: function () {
                            console.log('there was an error while fetching events!');
                        },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if (String(data[i].start).indexOf('/Date(') == 0) {
                                    data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                                if (String(data[i].end).indexOf('/Date(') == 0) {
                                    data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                            }
                        }
                    };

                    $('#calendar-@doctor.Value').fullCalendar('addEventSource', dailySource);

                    </text>
                    }

                    oneScrollBarForAll();
                }
            });


            //FullCaledner initialize
            @foreach (var doctor in Model.Doctors)
            {
                <text>
            // docs blocked days
            var blockedDays = {
                url: '@Url.Action("GetDocsBlockedDays", "Calender")',
                type: 'POST',
                data: { doctorId: @doctor.Value },
                error: function () {
                    console.log('there was an error while fetching events!');
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (String(data[i].start).indexOf('/Date(') == 0) {
                            data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }
                        if (String(data[i].end).indexOf('/Date(') == 0) {
                            data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }
                    }
                }
            };



            var options = {
                dayClick: function (date, allDay, jsEvent, view) {
                    var d = new Date();
                    if (d.getTime() - lastDayClick < 1000) {
                        var isBlocked = dateIsBlocked(@doctor.Value, date, date);
                        if (isBlocked) {
                            return;
                        }
                        createCalenderEntry(date, @doctor.Value, null, false);
                        $('#myModal').modal('show');

                        lastDayClick = 0;
                    } else {
                        lastDayClick = d.getTime();
                    }


                },
                eventClick: function (calEvent, jsEvent, view) {
                    if (calEvent.description == "calenderentry") {
                        getCalenderEntry(calEvent.id);
                        $('#myModal').modal('show');
                    }
                },
                eventRender: function(event, element, view) {
                    if (event.rendering == 'background') {
                        element.append("<div class='bgText'>" + event.title + "</div>");
                    }
                    var items = [
                       {
                           label: 'העבר לרשימת ממתינים',
                           action: function () {
                               if (event.id != 0) {
                                   replaceToNewWaitingListItem(event.id);
                               }
                           }
                       }
                    ];

                    if (event.isNoShow == null) {
                        items.push({ label: 'סמן שהופיע', action: function () { setAsShown(event.id); } });
                        items.push({ label: 'סמן לא הופיע', action: function () { setAsNoShow(event.id); } });
                    } else {
                        if (event.isNoShow) {
                            items.push({ label: 'סמן שהופיע', action: function () { setAsShown(event.id); } });
                        } else {
                            items.push({ label: 'סמן לא הופיע', action: function () { setAsNoShow(event.id); } });
                        }
                    }
                    if (event.clientId != null) {
                        items.push({
                            label: 'עבור לכרטיס לקוח',
                            action: function () {
                                if (event.id != 0) {
                                    window.location.href = '/Clients/Patients/' + event.clientId;
                                }
                            }
                        },
                        {
                            label: 'רשימת תורים עתידיים',
                            action: function () { locateEventClientIDEntries(event.clientId, event.title); }
                        },
                            {
                                label: 'חשבונית',
                                action: function () {
                                    if (event.id != 0) {
                                        window.location.href = '/FinanceDocument/InvoiceReceipt?clientId=' + event.clientId;
                                    }
                                }
                            });
                    }

                    if (event.id) {
                        items.push({ label: 'מחיקה', action: function () { deleteCalenderEntry(event.id); } });
                    }

                    if (event.description != 'holiday' && event.description != 'recess') {
                        $(element).contextPopup({
                            title: event.title,
                            items: items
                        });
                    }

                    element.qtip({
                        content: event.comment,
                        show: {
                            delay: 100,
                            solo: true
                        },
                        hide: {
                            delay: 50,
                            when: 'mouseout'
                        },
                        //position: {
                        //    my: 'top center',  // Position my top left...
                        //    at: 'bottom center' // at the bottom right of...

                        //},
                        position: {
                            target: 'mouse',
                            adjust: {
                                x: 10,
                                y: 4,
                                mouse: true,
                                screen: true,
                                scroll: false,
                                resize: false
                            },
                            corner: {
                                target: 'bottomLeft',
                                tooltip: 'bottomLeft'
                            }
                        },
                        style: {
                            tip: 'topLeft',
                            padding: 10,
                            background: event.bgColor,
                            color: event.fgColor,
                            border: {
                                width: 2,
                                radius: 7,
                                color: event.bdrColor
                            },
                            width: element.width,
                            classes: 'qtip-rounded qtip-shadow'
                        },
                        api: {
                            onRender: function () {
                                var self = this;
                                qtipTimeout = setTimeout(function () {
                                    self.show();
                                }, 450);
                            },
                            beforeShow: function () {
                                return (!suspendTooltips);
                            }
                        }
                    });

                },
                eventResize: function (event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {
                    var isBlocked = dateIsBlocked(@doctor.Value, event.start, event.end, event.id);
                    if (isBlocked) {
                        $('.calender').fullCalendar('refetchEvents');
                        return;
                    }
                    updateChangedCalenderEntry(event);
                },
                eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                    var isBlocked = dateIsBlocked(@doctor.Value, event.start, event.end, event.id);
                    if (isBlocked) {
                        $('.calender').fullCalendar('refetchEvents');
                        return;
                    }
                    updateChangedCalenderEntry(event);
                },
                eventAfterRender: function (event, $el, view) {
                    $el.removeClass('fc-short');
                },
                defaultView: 'agendaDay',
                scrollTime: moment().format("HH:mm:ss"),//"08:00:00",
                header: false,
                slotLabelFormat: 'H:mm',
                timeFormat: 'H:mm', //timeFormat: { agenda: 'H:mm{ - H:mm}' },
                isRTL: true,
                monthNames: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי',
                    'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                monthNamesShort: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי',
                    'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                dayNames: ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת'],
                dayNamesShort: ['א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ש'],
                columnFormat: {
                    week: 'ddd d/M'
                },
                snapDuration: '00:05:00',
                slotDuration: '@calendarSpread',//'00:15:00',
                contentHeight: 590,
                allDaySlot: false,
                defaultTimedEventDuration: '02:00:00',
                displayEventTime: true,
                displayEventEnd: true,
                selectOverlap: true,
                //header: {
                //    left: '',
                //    right: ''
                //},
                //axisFormat: 'H:mm',
                //timeFormat: { agenda: 'H:mm{ - H:mm}' },
                //isRTL: true,
                //monthNames: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי',
                //    'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                //monthNamesShort: ['ינו', 'פבר', 'מרץ', 'אפר', 'מאי', 'יונ',
                //    'יול', 'אוג', 'ספט', 'אוק', 'נוב', 'דצמ'],
                //dayNames: ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת'],
                //dayNamesShort: ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת'],
                //columnFormat: {
                //    day: ''
                //},
                //contentHeight: 600,
                //allDaySlot: false,
                eventSources: [ blockedDays ]
            };



            var dailySource = {
                url: '@Url.Action("GetDailySchedule", "Calender")',
                type: 'POST',
                data: { docId: @doctor.Value, date: new Date() },
                error: function () {
                    console.log('there was an error while fetching events!');
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (String(data[i].start).indexOf('/Date(') == 0) {
                            data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }
                        if (String(data[i].end).indexOf('/Date(') == 0) {
                            data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }
                    }
                }
            };

            // docs calender entries events
            var calednerEntries = {
                url: '@Url.Action("GetDocsCalenderEntries", "Calender")',
                type: 'POST',
                data: { doctorId:  @doctor.Value },
                error: function () {
                    console.log('there was an error while fetching events!');
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (String(data[i].start).indexOf('/Date(') == 0) {
                            data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }
                        if (String(data[i].end).indexOf('/Date(') == 0) {
                            data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }
                    }
                }
            };


            $('#calendar-@doctor.Value').fullCalendar(options);
            $('#calendar-@doctor.Value').fullCalendar('addEventSource', holidaySource);
            $('#calendar-@doctor.Value').fullCalendar('addEventSource', dailySource);
            $('#calendar-@doctor.Value').fullCalendar('addEventSource', calednerEntries);



            </text>
            }

            oneScrollBarForAll();
        });

        ko.bindingHandlers.datepicker = {
            init: function(element, valueAccessor, allBindingsAccessor) {
                //initialize datepicker with some optional options
                var options = allBindingsAccessor().datepickerOptions || {};
                $(element).datepicker(options);

                //handle the field changing
                ko.utils.registerEventHandler(element, "change", function() {
                    var observable = valueAccessor();
                    observable($(element).val()); //.datepicker("getDate"));
                });

                //handle disposal (if KO removes by the template binding)
                ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
                    $(element).datepicker("destroy");
                });
            },
            update: function(element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());

                //handle date data coming via json from Microsoft
                if (String(value).indexOf('/Date(') == 0) {
                    value = new Date(parseInt(value.replace(/\/Date\((.*?)\)\//gi, "$1")));
                }

                var current = $(element).val(); //.datepicker("getDate");

                if (value - current !== 0) {
                    $(element).val(value); //.datepicker("setDate", value);
                }
            }
        };
    </script>
}