﻿@using RapidVet.Enums
@model System.Collections.Generic.List<RapidVet.Model.FullCalender.CalenderEntry>
@{

    Layout = ViewBag.ToPrint
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_Layout.cshtml";
}

<h2>@RapidVet.Resources.Calendar.EntriesDate @ViewBag.DateString</h2>

<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            @if (!ViewBag.ToPrint)
            {
                <th></th>
            }
            <th>@RapidVet.Resources.Calendar.ClientName</th>
            <th>@RapidVet.Resources.Calendar.AppointmentTime</th>
            <th>@RapidVet.Resources.Calendar.HomePhone</th>
            <th>@RapidVet.Resources.Calendar.WorkPhone</th>
            <th>@RapidVet.Resources.Calendar.CellPhone</th>
            <th>@RapidVet.Resources.Calendar.Animal</th>
            <th>@RapidVet.Resources.Calendar.Comment</th>
            <th>@RapidVet.Resources.Calendar.Doctor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var entry in Model)
            {
            <tr onclick="$('#c-@entry.Id').prop('checked', !($('#c-@entry.Id').is(':checked')));">

                @if (!ViewBag.ToPrint)
                {
                    <td>
                        <p align="center">
                            <input id="c-@entry.Id" type="checkbox" checked="checked" onclick=" $('#c-@entry.Id    ').prop('checked', !($('#c-@entry.Id    ').is(':checked'))); " />
                        </p>
                    </td>
                }
                @if (entry.ClientId.HasValue)
                {
                    <td>@entry.Client.Name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@entry.Date.ToString("H:mm")</td>
                @if (entry.ClientId.HasValue)
                {
                    if (@entry.Client.Phones.FirstOrDefault(p => p.PhoneTypeId == (int)PhoneTypeEnum.Home) != null)
                    {
                    <td>@entry.Client.Phones.First(p => p.PhoneTypeId == (int)PhoneTypeEnum.Home).PhoneNumber</td>
                    }
                    else
                    {
                    <td></td>
                    }
                    if (@entry.Client.Phones.FirstOrDefault(p => p.PhoneTypeId == (int)PhoneTypeEnum.Work) != null)
                    {
                    <td>@entry.Client.Phones.First(p => p.PhoneTypeId == (int)PhoneTypeEnum.Work).PhoneNumber</td>
                    }
                    else
                    {
                    <td></td>
                    }
                    if (@entry.Client.Phones.FirstOrDefault(p => p.PhoneTypeId == (int)PhoneTypeEnum.Mobile) != null)
                    {
                    <td>@entry.Client.Phones.First(p => p.PhoneTypeId == (int)PhoneTypeEnum.Mobile).PhoneNumber</td>
                    }
                    else
                    {
                    <td></td>
                    }
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                }
                @if (entry.PatientId.HasValue)
                {
                    <td>@entry.Patient.Name</td>
                }
                else
                {
                    <td></td>
                }
                <td>@entry.Comments</td>
                @if (entry.Doctor != null)
                {
                    <td>@entry.Doctor.Name</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>
</table>

@if (!ViewBag.ToPrint)
{
    if (ViewBag.Email)
    {
        <a class="btn btn-primary" onclick="SendMemos('email')">
            <i class="icon-tag"></i>
            @RapidVet.Resources.Calendar.SendEmail
        </a>
    }
    else
    {
        <button class="btn btn-primary disabled">
            <i class="icon-tag"></i>
           @RapidVet.Resources.Calendar.SendEmail
        </button>
    }
    
    if (ViewBag.Sms)
    {
        <a class="btn btn-primary" onclick="SendMemos('sms')">
            <i class="icon-envelope"></i>
           @RapidVet.Resources.Calendar.SendSMS
        </a>
    }
    else
    {
        <button class="btn btn-primary disabled">
            <i class=" icon-envelope"></i>
          @RapidVet.Resources.Calendar.SendSMS
        </button>
    }
    @*<a class="btn btn-primary" onclick="SendMemos('email')">@RapidVet.Resources.Calendar.SendEmail</a>
    <a class="btn btn-primary" onclick="SendMemos('sms')">@RapidVet.Resources.Calendar.SendSMS</a>*@
    <a class="btn btn-primary" target="_blank" data-bind="attr:{href: printUrl}">@RapidVet.Resources.Calendar.DailyReport</a>
}

@section scripts{
    <script type="text/javascript">

        $(function() {

            function viewModel() {
                var self = this;
         
                self.revisedUrl = ko.computed(function() {
                    var result = window.location.href;
                    result = result.substring(0, result.length - 1);
                    return result;
                });
                
                self.printUrl = ko.computed(function() {
                    return self.revisedUrl() + '&toPrint=true';
                });
            }

            ko.applyBindings(new viewModel());
        });

    </script>
}


<script>

    function SendMemos(sendingMethod) {
        ShowLoder();
        var idsArray = [];
        $(":checked").each(function() {
            var unparsed = $(this).prop('id');
            var parsed = unparsed.split('-')[1];
            idsArray.push(parsed);
        });
        
        if (idsArray.length == 0) {
            alert("לא סומנה פגישה!");
            return;
        }
        var idString = JSON.stringify(idsArray);
        $.ajax({
            url: "/Calender/SendCalenderEntriesMemos/",
            data: { idsString: idString, sendingMethod: sendingMethod },
            success: function(data) {
                hideLoder();
                if (data == "") {
                    // toastr.success('ההודעות נשלחו בהצלחה');
                    getCookieMessages();
                } else {
                    toastr.error(data);
                }
            }
        });
    };

</script>
