﻿@model System.Collections.Generic.List<RapidVet.Model.FullCalender.CalenderEntry>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}
    <img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;">

<div class="row">
    <div class="span4">
        <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span><br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
        <br />
        <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
        <br />
        <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
        <br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
    </div>
    <div class="span4">&nbsp;</div>
</div>

<div style="font-size:17px;"><b>@RapidVet.Resources.Calendar.EntriesBySearch</b></div>
<br />
                                          <div style="font-size:15px;">@RapidVet.Resources.Calendar.EntriesScueduledForClient @Model.First().Client.Name</div>
                                          <br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th style="width: 10%;">@RapidVet.Resources.Calendar.Date</th>
            <th style="width: 10%;">@RapidVet.Resources.Calendar.Day</th>
            <th style="width: 10%;">@RapidVet.Resources.Calendar.Hour</th>
            <th style="width: 10%;">@RapidVet.Resources.Calendar.LengthInMinutes</th>
            <th style="width: 20%;">@RapidVet.Resources.Calendar.Doctor</th>
            <th style="width: 25%;">@RapidVet.Resources.Calendar.Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo(RapidVet.Resources.Calendar.CultureInfo);
         
            <tr>
                <td>
                    <span>@entry.Date.ToString("dd/MM/yyyy")</span>
                </td>
                <td>

                    <span>@culture.DateTimeFormat.DayNames[(int)entry.Date.DayOfWeek]</span>
                </td>
                <td>
                    <span>@entry.Date.ToString("H:mm")</span>
                </td>
                <td>
                    <span>@entry.Duration</span>
                </td>
                <td>
                    <span>@entry.Doctor.Name</span>
                </td>
                <td>
                    <span>@entry.Comments</span>
                </td>
            </tr>
        }
    </tbody>
</table>
