﻿@using RapidVet.Enums;
@model IEnumerable<RapidVet.WebModels.Clinics.WaitingListItemJson>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

    <img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;">

<div class="row">
    <div class="span4">
        <span><b>@Html.DisplayFor(m =>CurrentUser.ActiveClinic.Name)</b></span><br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
        <br />
        <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
        <br />
        <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
        <br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
    </div>
</div>


<h2>@RapidVet.Resources.Calendar.WaitingList</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Calendar.ClientName</th>
            <th>@RapidVet.Resources.Calendar.DesiredDays</th>
            <th>@RapidVet.Resources.Calendar.DesiredHours</th>
            <th>@RapidVet.Resources.Calendar.LengthInMinutes</th>
            <th>@RapidVet.Resources.Calendar.HomePhone</th>
            <th>@RapidVet.Resources.Calendar.WorkPhone</th>
            <th>@RapidVet.Resources.Calendar.CellPhone</th>
            <th>@RapidVet.Resources.Calendar.Emergency</th>
            <th>@RapidVet.Resources.Calendar.DestinedDoctor</th>
            <th>@RapidVet.Resources.Calendar.Comments</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var w in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelW => w.ClientName)</td>
                <td>
                    @if (w.IsSunday)
                    {<span>@RapidVet.Resources.Calendar.Sunday,</span>}
                    @if (w.IsMonday)
                    {<span>@RapidVet.Resources.Calendar.Monday,</span>}
                    @if (w.IsTuesday)
                    {<span>@RapidVet.Resources.Calendar.Tuseday,</span>}
                    @if (w.IsWednesday)
                    {<span>@RapidVet.Resources.Calendar.Wednsday,</span>}
                    @if (w.IsThursday)
                    {<span>@RapidVet.Resources.Calendar.Thursday,</span>}
                    @if (w.IsFriday)
                    {<span>@RapidVet.Resources.Calendar.Friday,</span>}
                    @if (w.IsSaturday)
                    {<span>@RapidVet.Resources.Calendar.Saturday</span>}
                </td>
                <td>@Html.DisplayFor(modelW => w.FromTime) - @Html.DisplayFor(modelW => w.ToTime)</td>
                <td>@Html.DisplayFor(modelW => w.AppointmentDurationInMinutes)</td>
                <td>@Html.DisplayFor(modelW => w.HomePhone)</td>
                <td>@Html.DisplayFor(modelW => w.WorkPhone)</td>
                <td>@Html.DisplayFor(modelW => w.MobilePhone)</td>

                <td>
                    @if (w.UrgencyTypeId == (int)UrgencyEnum.Critical)
                    { <span>@RapidVet.Resources.Calendar.Criticle</span>}
                    else if (w.UrgencyTypeId == (int)UrgencyEnum.Urgent)
                    {<span>@RapidVet.Resources.Calendar.Importent</span> }
                    else
                    {<span>@RapidVet.Resources.Calendar.NotImportent</span>}

                </td>
                <td>@Html.DisplayFor(modelW => w.DoctorName)</td>
                <td>@Html.DisplayFor(modelW => w.Comments)</td>
            </tr>
  
            }
        }
    </tbody>
</table>
