﻿<div id="itemsModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>קטלוג פריטים</h3>
    </div>
    <div class="modal-body">
        <div>
            <input type="checkbox" data-bind="checked: showAllItems"/>
            הצג פריטים ללא מחיר
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>קטגוריה</th>
                    <th>פריט</th>
                    <th>מחיר ספק</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: priceListItems">
                <tr data-bind="visible: show">
                    <td data-bind="text: category"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: price"></td>
                    <td><button class="btn btn-primary" data-bind="click: $parent.add">
                            <i class="icon-plus"></i>
                        הוסף להצעה
                        </button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>