﻿@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/CreateOrder.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">ניהול מלאי</a>
        <span class="divider">&gt;</span></li>
    <li class="active">הזמנות</li>
}

<h2>הזמנה חדשה</h2>

<form>
    <div class="form-inline">
        <div class="control-group row">
            <div class="span2">
                <label style="height: 24px;">בחר ספק</label>
            </div>
            <div class="span10">
                <label>
                    <select required data-bind="value: supplierId, options: suppliers, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value', event: { change: selectionChanged } "></select>
                </label>
            </div>
        </div>
        <div class="control-group row">
            <div class="span2">
                <label style="height: 94px;">הערות</label>
            </div>
            <div class="span10">
                <label>
                    <textarea data-bind="value: comment" style="width: 758px;" rows="5"></textarea>
                </label>
            </div>
        </div>
        <div class="control-group row">
            <div class="span2">
                <label style="height: 24px;">שם העובד</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" value="@ViewBag.CurrentUserName" readonly/>
                </label>
            </div>
        </div>
        <h3>פריטים</h3>
        <button class="btn btn-primary" data-bind="click: showItemsModel, disable: priceListItems().length == 0">
            <i class="icon-plus"></i>
            הוסף פריט
        </button>
        <br />
        <br />
        <table class="table table-bordered table-striped" style="width: 50%;">
            <thead>
                <tr>
                    <th>קטגוריה</th>
                    <th>שם הפריט</th>
                    <th>מחיר</th>
                    <th>כמות מבוקשת</th>
                    <th>סה"כ מחיר</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: selectedItems">
                <tr>
                    <td data-bind="text: category"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: price"></td>
                    <td>
                        <input type="number" data-bind="value: quantity" min="1"/></td>
                    <td data-bind="text: total"></td>
                    <td>
                        <a data-bind="click: $parent.remove"><i class="icon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="control-group row">
            <div class="span2">
                <label>סה"כ עלות הזמנה</label>
            </div>
            <div class="span10">
                <label data-bind="text: totalOrder">
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls" style="text-align: left;">
                <button class="btn ok" data-bind="click: save">
                    <img src="/Content/img/RapidVet/ok-v.png"></button>
            </div>
        </div>
    </div>
</form>


@Html.Partial("_ItemsModal")

<input type="hidden" id="Currency" value="@RapidVet.Resources.Global.Currency"/>
