﻿@model RapidVet.Model.Finance.PriceListItem
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/Edit.Js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>עריכת פריט : <span>@Html.DisplayFor(m => m.Category.Name)</span> - <span>@Html.DisplayFor(m => m.Name)</span></h2>

<input type="hidden" name="priceListItemId" id="priceListItemId" value="@Model.Id"/>
<form>
    <div class="form-inline">

        <div class="row control-group">
            <div class="span2">
                <label>יצרן</label>
            </div>
            <div class="span9">
                <label>@Html.EditorFor(m => m.Manufacturer)</label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>מק"ט</label>
            </div>
            <div class="span9">
                <label>@Html.EditorFor(m => m.Catalog)</label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>פריטים ביחידה</label>
            </div>
            <div class="span9">
                <label>@Html.EditorFor(m => m.ItemsInUnit)</label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>ברירת מחדל לצריכה</label>
            </div>
            <div class="span9">
                <label>@Html.EditorFor(m => m.DefultConsuptionAmount)</label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span4">&nbsp;</div>
            <div class="span4">
                @Html.EditorFor(m => m.RequireBarcode)
                נדרש ברקוד
            </div>
            <div class="span4">&nbsp;</div>
        </div>
        <div class="row control-group">
            <div class="span4">&nbsp;</div>
            <div class="span4">
                @Html.EditorFor(m => m.InventoryActive)
                פריט פעיל בניהול מלאי
            </div>
            <div class="span4">&nbsp;</div>
        </div>


        <h3>ספקים</h3>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>פעיל לפריט</th>
                    <th>שם ספק</th>
                    <th>מחיר עלות</th>
                    <th>ספק מועדף</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: suppliers">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checked: ConnectedSupplier" /></td>
                    <td data-bind="text: SupplierName"></td>
                    <td>
                        <input type="number" data-bind="value: CostPrice" /></td>
                    <td>
                        <input type="checkbox" data-bind="checked: DefaultSupplier" /></td>
                </tr>

            </tbody>
        </table>

        <div class="control-group">
            <div class="controls" style="text-align: left;">
                <button class="btn ok" data-bind="click: save">
                    <img src="/Content/img/RapidVet/ok-v.png"></button>
            </div>
        </div>
    </div>
</form>

