﻿@model IEnumerable<RapidVet.Model.Finance.PriceListItem>
    <style>
        .viewBtn {
            width: 110px;
        }
    </style>

    @section breadcrumb
{
        <li>
            <a href="/">@RapidVet.Resources.BreadCrums.Main</a>
            <span class="divider">&gt;</span>
        </li>
        <li>
            <@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
        </li>
        <li class="active">@RapidVet.Resources.Inventories.BreadCrumbsTitle</li>
    }

    <h2>@RapidVet.Resources.Inventories.IndexTitle</h2>
    <br />

    <a class="btn btn-primary viewBtn" href="@Url.Action("Orders", "Inventory")">
        <i class="icon-list"></i>
        @RapidVet.Resources.Inventories.Orders
    </a>
    <a class="btn btn-primary viewBtn" href="@Url.Action("UpdateInventory", "Inventory")">
        <i class="icon-retweet"></i>
        @RapidVet.Resources.Inventories.InventoryUpdate
    </a>
    <a class="btn btn-primary viewBtn" href="@Url.Action("ValueReport", "Inventory")">
        <i class="icon-cog"></i>
        @RapidVet.Resources.Inventories.ValueReport
    </a>
    <a class="btn btn-primary viewBtn" href="@Url.Action("StatusReport", "Inventory")" style="margin-left: 10px;">
        <i class="icon-leaf"></i>
        @RapidVet.Resources.Inventories.StatusReport
    </a>
    @Html.CheckBox("cb_DisplayUnmanagedItems", (bool)ViewBag.DisplayUnmanagedItems) @RapidVet.Resources.Inventories.DisplayUnmanagedItems


    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@RapidVet.Resources.Inventories.Category</th>
                <th>@RapidVet.Resources.Inventories.ItemName</th>
                <th>@RapidVet.Resources.Inventories.Manufacturer</th>
                <th>@RapidVet.Resources.Inventories.Catalogue</th>
                <th>@Html.Raw(RapidVet.Resources.Inventories.ItemsPerUnit)</th>
                <th>@Html.Raw(RapidVet.Resources.Inventories.ConsumptionDefault)</th>
                <th>@RapidVet.Resources.Inventories.Suppliers</th>
                <th>@RapidVet.Resources.Inventories.FavoritSuppliers</th>
                <th>@RapidVet.Resources.Inventories.Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Manufacturer)</td>
                        <td>@Html.DisplayFor(modelItem => item.Catalog)</td>
                        <td>@Html.DisplayFor(modelItem => item.ItemsInUnit)</td>
                        <td>@Html.DisplayFor(modelItem => item.DefultConsuptionAmount)</td>
                        <td>
                            @if (item.Suppliers.Any())
                            {
                                foreach (var s in item.Suppliers)
                                {
                                    <span>@s.Supplier.Name</span>
                                    <span>,&nbsp;</span>
                                }
                            }
                        </td>
                        <td>
                            @if (item.Suppliers.Any(s => s.DefaultSupplier))
                            {
                                foreach (var s in item.Suppliers.Where(p => p.DefaultSupplier))
                                {
                                    <span>@s.Supplier.Name</span>
                                    <span>,&nbsp;</span>
                                }
                            }
                        </td>
                        <td>
                            @if (item.InventoryActive)
                            {
                                <i class="icon-ok"></i>
                            }
                            else
                            { <i class="icon-remove"></i>}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Edit", "Inventory", new { id = item.Id })">
                                <i class="icon-edit"></i>
                                @RapidVet.Resources.Global.Edit
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <script type="text/javascript">
      //  $(document).ready(function () {
            $("#cb_DisplayUnmanagedItems").change(function () {
                var checked = $(this).is(':checked');               
                var url = '@Url.Action("Index", "Inventory")' + '?displayUnmanagedItems=' + checked;

                // redirect
                window.location.href = url;
            });
      //  });


    </script>
