﻿@model IEnumerable<RapidVet.Model.CliinicInventory.InventoryOrder>
@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">@RapidVet.Resources.Inventories.BreadCrumbsTitle</a>
        <span class="divider">&gt;</span></li>
    <li class="active">@RapidVet.Resources.Inventories.Orders</li>
}


<h2>@RapidVet.Resources.Inventories.Orders</h2>
<br />
<br />
<a class="btn btn-primary" href="@Url.Action("CreateOrder", "Inventory")">
    <i class="icon-plus"></i>
    @RapidVet.Resources.Inventories.NewOrder
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Inventories.OrderId</th>
            <th>@RapidVet.Resources.Inventories.OrderDate</th>
            <th>@RapidVet.Resources.Inventories.Supplier</th>
            <th>@RapidVet.Resources.Inventories.OrderSum</th>
            <th>@RapidVet.Resources.Inventories.Comments</th>
            <th>@RapidVet.Resources.Inventories.OrderStatus</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var o in Model)
            {
                <tr>
                    <td>@o.Id</td>
                    <td>@o.Created.ToShortDateString()</td>
                    <td>@Html.DisplayFor(mO => o.Supplier.Name)</td>
                    <td>@o.Amount</td>
                    <td>@Html.DisplayFor(mO => o.Comments)</td>
                    <td>
                        @if (o.Recived)
                        {
                            <span>@RapidVet.Resources.Inventories.OrderRecived</span>
                        }

                    </td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("ViewOrder", "Inventory", new {id = o.Id})">
                                <i class="icon-list-alt"></i>
                                @RapidVet.Resources.Inventories.ToOrder
                            </a>
                        @if (!o.Recived)
                        {
                            <a class="btn btn-primary" href="@Url.Action("ReciveOrder", "Inventory", new {id = o.Id})">
                                <i class="icon-list-alt"></i>
                                @RapidVet.Resources.Inventories.ReciveOrder
                            </a>
                            <a class="btn btn-inverse" href="@Url.Action("Cancel", "Inventory", new {id = o.Id})">
                                <i class="icon-trash icon-white"></i>
                                @RapidVet.Resources.Inventories.CancelOrder
                            </a>
                        }

                         
                    </td>
                </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>
</table>
