﻿@model RapidVet.Model.CliinicInventory.InventoryOrder
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;">

<div class="row">
    <div class="span4">
        <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span><br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
        <br />
        <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
        <br />
        <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
        <br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
    </div>
</div>

<div style="position: relative; display: block; float: left; font-size: smaller;">תאריך הדפסה @DateTime.Now.Date.ToString("dd/MM/yyyy")</div>

<div style="position: relative; display: block; margin: auto; text-align: center;">

    <h3><b>הזמנה עבור @Model.Supplier.Name</b></h3>

</div>

@if (!Model.Recived)
{ 
<table style="font-size: smaller; text-align: center;">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Inventories.Number</th>
            <th>@RapidVet.Resources.Inventories.ItemName</th>
            <th>@RapidVet.Resources.Inventories.Catalogue</th>
            <th>@RapidVet.Resources.Inventories.Price</th>
            <th>@RapidVet.Resources.Inventories.Quantity</th>
            <th>@RapidVet.Resources.Inventories.Total</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var item in Model.Items)
        {
            <tr>
                <td style="width:75px;">@i</td>
                <td style="width:200px;">@item.PriceListItem.Name</td>
                <td style="width:100px;">@item.PriceListItem.Catalog</td>
                <td style="width:100px;">@item.UnitPrice @RapidVet.Resources.Global.Currency</td>
                <td style="width:100px;">@item.OrderedQuantity</td>
                <td style="width:100px;">@Math.Round(Decimal.Multiply(item.UnitPrice, item.OrderedQuantity), 2) @RapidVet.Resources.Global.Currency</td>
            </tr>
            i++;
        }
    </tbody>
</table>
    <br />
    <table style="font-weight: bold; width: 200px; border: none; border-collapse: collapse;font-size: smaller;">
        <tr>
            <td style="border: none;">@RapidVet.Resources.Inventories.TotalWithoutVat:</td>
            <td style="border: none;">@Math.Round(Model.Amount, 2)</td>
        </tr>
        <tr>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none;">@RapidVet.Resources.Inventories.TotalVat: (@ViewBag.TaxRate%)</td>
            <td style="border: none;">@Math.Round((Decimal.Multiply(Model.Amount, ViewBag.TaxRate) / 100), 2)</td>
        </tr>
        <tr>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none;">@RapidVet.Resources.Inventories.TotalWithVat:</td>
            <td style="border: none;"> @Math.Round((Model.Amount + (Decimal.Multiply(Model.Amount, ViewBag.TaxRate) / 100)), 2)</td>
        </tr>
    </table>

}
else
{
    <table style="font-size: smaller; text-align: center;">
        <thead>
            <tr>
                <th>@RapidVet.Resources.Inventories.Number</th>
                <th>@RapidVet.Resources.Inventories.Category</th>
                <th>@RapidVet.Resources.Inventories.ItemName</th>
                <th>@RapidVet.Resources.Inventories.Catalogue</th>
                <th>@RapidVet.Resources.Inventories.OrderPrice</th>
                <th>@RapidVet.Resources.Inventories.ActualPrice</th>
                <th>@RapidVet.Resources.Inventories.OrderdQuantity</th>
                <th>@RapidVet.Resources.Inventories.ArrivedQuantity</th>
                <th>@RapidVet.Resources.Inventories.Total</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1; decimal total = 0;}
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td style="width:75px;">@i</td>
                    <td style="width:200px;">@item.PriceListItem.Category.Name</td>
                    <td style="width:200px;">@item.PriceListItem.Name</td>
                    <td style="width:100px;">@item.PriceListItem.Catalog</td>
                    <td style="width:100px;">@item.UnitPrice @RapidVet.Resources.Global.Currency</td>
                    <td style="width:100px;">@item.ActualUnitPrice</td>
                    <td style="width:100px;">@item.OrderedQuantity</td>
                    <td style="width:100px;">@item.RecievedQuantity</td>
                    <td style="width:100px;">@Decimal.Multiply(item.ActualUnitPrice, item.RecievedQuantity) @RapidVet.Resources.Global.Currency</td>
                </tr>
                i++;
                total += (@Decimal.Multiply(item.ActualUnitPrice, item.RecievedQuantity));
                
            }
        </tbody>
    </table>
    <br />
    <table style="font-weight: bold; width: 200px; border: none; border-collapse: collapse;font-size: smaller;">
        <tr>
            <td style="border: none;">@RapidVet.Resources.Inventories.TotalWithoutVat:</td>
            <td style="border: none;"> @total</td>
        </tr>
        <tr>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none;">@RapidVet.Resources.Inventories.TotalVat: (@ViewBag.TaxRate%)</td>
            <td style="border: none;">@Math.Round((Decimal.Multiply(total, ViewBag.TaxRate) / 100), 2)</td>
        </tr>
        <tr>
            <td style="border: none;"></td>
            <td style="border: none;"></td>
        </tr>
        <tr>
            <td style="border: none;">@RapidVet.Resources.Inventories.TotalWithVat:</td>
            <td style="border: none;"> @Math.Round((total + (Decimal.Multiply(total, ViewBag.TaxRate) / 100)), 2)</td>
        </tr>
    </table>
}
