﻿@model RapidVet.Model.CliinicInventory.InventoryOrder
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/ReciveOrder.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

}

@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">@RapidVet.Resources.Inventories.BreadCrumbsTitle</a>
        <span class="divider">&gt;</span></li>
    <li class="active">@RapidVet.Resources.Inventories.Orders</li>
}

<h2>@RapidVet.Resources.Inventories.ReciveOrderFull @Model.Id</h2>

<br />
<div class="well">
    <table class="table table-bordered">
        <tr>
            <td><strong>@RapidVet.Resources.Inventories.OrderReceptionDate</strong></td>
            <td>@Model.Created.ToShortDateString()</td>
            <td><strong>@RapidVet.Resources.Inventories.Supplier</strong></td>
            <td>@RapidVet.Resources.Inventories.Supplier</td>
            <td><strong>@RapidVet.Resources.Inventories.Comments</strong></td>
            <td>@Model.Comments</td>
            <td><strong>@RapidVet.Resources.Inventories.OrderReceivedBy</strong></td>
            <td>@Model.UserName</td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("ReciveOrder", "Inventory", FormMethod.Post, new { @class = "form-inline", id = "recieveForm" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.SupplierId)
    <input type="hidden" name="items" id="items" data-bind="value: orderedJson" />
    <div class="row control-group">
        <div class="span3">
            <label>@RapidVet.Resources.Inventories.SupplierInvoiceNumber</label>
        </div>
        <div class="span9">
            <label>@Html.EditorFor(m => m.SupplierInvoice)</label>
        </div>
    </div>
    
    <div class="row control-group">
        <div class="span3">
            <label>@RapidVet.Resources.Inventories.SupplierShipmentNumber</label>
        </div>
        <div class="span9">
            <label>@Html.EditorFor(m => m.SupplierShipmentId)</label>
        </div>
    </div>
    
    <div class="row control-group">
        <div class="span3">
            <label>@RapidVet.Resources.Inventories.EmployeeName</label>
        </div>
        <div class="span9">
            <label>
                <input type="text" class="text-box single-line" name="RecivingUserName" id="RecivingUserName" value="@ViewBag.CurrentUserName" readonly/></label>
        </div>
    </div>
    
    <h2>@RapidVet.Resources.Inventories.OrderItems</h2>
    
    <a class="btn btn-primary" data-bind="click: showItemsModel, disable: priceListItems().length == 0">
        <i class="icon-plus"></i>
        @RapidVet.Resources.Inventories.AddItem
    </a>
    <br />
    <br />
    <table class="table table-bordered well" style="width: 50%;">
        <thead>
            <tr>
                <th>@RapidVet.Resources.Inventories.Category</th>
                <th>@RapidVet.Resources.Inventories.ItemName</th>
                <th>@RapidVet.Resources.Inventories.OrderPrice</th>
                <th>@RapidVet.Resources.Inventories.ActualPrice</th>
                <th>@RapidVet.Resources.Inventories.OrderdQuantity</th>
                <th>@RapidVet.Resources.Inventories.ArrivedQuantity</th>
                <th data-bind="visible: barcodes">@RapidVet.Resources.Inventories.Barcode</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: orderedItems">
            <tr>
                <td data-bind="text: category"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: unitPrice"></td>
                <td>
                    <input type="number" data-bind="value: actualUnitPrice" />
                </td>
                <td data-bind="text: ordered"></td>
                <td>
                    <input type="number" data-bind="value: recieved, visible: !requireBarcode()" />
                    <span data-bind="visible: requireBarcode()">1</span>
                </td>
                <td data-bind="visible: $parent.barcodes">
                    <input type="text" data-bind="value: barcode, visible: requireBarcode" />
                    <p style="text-align: center;" data-bind="visible: !requireBarcode()">---</p>
                </td>
                <td>
                    <a data-bind="click: $parent.remove, visible: orderItemId() == 0 || requireBarcode"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    
    @Muze.OkButton()
}

@Html.Partial("_ItemsModal")