﻿@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/Settings.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>קטגוריות לניהול מלאי</h2>
<br/>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>קטגוריה</th>
            <th>הצגה בניהול מלאי</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: categories">
        <tr>
            <td data-bind="text: Text"></td>
            <td>
                <input type="checkbox" data-bind="checked: Selected" /></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary btn-large" data-bind="click: save">
    <i class="icon-ok"></i>
    שמור
</button>
