﻿@section breadcrumb{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">@RapidVet.Resources.Inventories.BreadCrumbsTitle</a>
        <span class="divider">&gt;</span></li>
    <li class="active">@RapidVet.Resources.Inventories.StatusReport</li>
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/StatusReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>@RapidVet.Resources.Inventories.StatusReport</h2>
<br />
<br />
<div class="form-inline">
    <div class="row control-group">
        <div class="span4">
            <label>@RapidVet.Resources.Inventories.SelectItem</label>
        </div>
        <div class="span8">
            <label>
                <select required data-bind="value: priceListItemId, options: priceListItems, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>
    </div>
    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.Inventories.FromDate</label>
        </div>
        <div class="span3">
            <label>
                <input required type="text" data-bind="value: from" class="date" /></label>
        </div>
        <div class="span2">
            <label>
                @RapidVet.Resources.Inventories.ToDate
            </label>

        </div>
        <div class="span3">
            <label>
                <input type="text" required data-bind="value: to" class="date" /></label>
        </div>
        <div class="span2">
            <label>
                <a class="btn btn-primary" data-bind="click: search">
                    <i class="icon-search"></i>
                    @RapidVet.Resources.Global.Search
                </a>
            </label>
        </div>
    </div>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 250px;">@RapidVet.Resources.Inventories.Date</th>
            <th style="width: 250px;">@RapidVet.Resources.Inventories.Action</th>
            <th style="width: 250px;">@RapidVet.Resources.Inventories.ItemName</th>
            <th style="width: 250px;">@RapidVet.Resources.Inventories.Quantity</th>
            <th style="width: 250px;">@RapidVet.Resources.Inventories.Preformer</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: results">
        <tr>
            <td data-bind="text: Date" style="direction:ltr;"></td>
            <td data-bind="text: Action"></td>
            <td data-bind="text: PriceListItem"></td>
            <td style="direction: ltr;">
                <span data-bind="text: Quantity"></span>
            </td>
            <td data-bind="text: UserName"></td>
        </tr>
    </tbody>
</table>

<ul data-bind="visible: showSummery">
    <li>@RapidVet.Resources.Inventories.TotalIncrease: <strong data-bind="text: increses"></strong></li>
    <li>@RapidVet.Resources.Inventories.TotalDecrease: <strong data-bind="text: decreases"></strong></li>
    <li data-bind="visible: showCurrentStatus">@RapidVet.Resources.Inventories.CurrentStatus: <strong style="direction: ltr;" data-bind="    text: currentInventoryStatus"></strong>
    </li>
</ul>

<br />
<br />
