﻿@{
    var visitId = Url.RequestContext.RouteData.Values["id"];
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/AfterVisit.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<h2>עדכון מלאי לאחר טיפול</h2>

<input type="hidden" id="visitId" value="@visitId"/>

<button class="btn btn-primary" data-bind="click: showModal">
    <i class="icon-plus"></i>
    הוסף פריט
</button>

<button class="btn btn-inverse" onclick="closeWindow">
    <i class="icon-trash"></i>
    סגור חלון
</button>
<br />
<br />
<table class="table table-bordered well">
    <thead>
        <tr>
            <th>קטגוריה</th>
            <th>פריט</th>
            <th>כמות</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: visitItems">
        <tr>
            <td data-bind="text: CategoryName"></td>
            <td data-bind="text: Name"></td>
            <td>
                <input type="number" data-bind="value: Quantity" /></td>
            <td>
                <a data-bind="click: $parent.remove">
                    <i class="icon-remove"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div data-bind="visible: visitItems().length > 0" class="form-inline">
    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button class="btn ok" data-bind="click: save">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
</div>

<div id="itemsModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>קטלוג פריטים</h3>
    </div>
    <div class="modal-body">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>קטגוריה</th>
                    <th>פריט</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: priceListItems">
                <tr>
                    <td data-bind="text: CategoryName"></td>
                    <td data-bind="text: Name"></td>
                    <td>
                        <button class="btn btn-primary" data-bind="click: $parent.add">
                            <i class="icon-plus"></i>
                            הוסף להצעה
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
