﻿@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">ניהול מלאי</a>
        <span class="divider">&gt;</span></li>
    <li class="active">עדכון מלאי</li>
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/UpdateInventory.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    .validationMessage {
        color: red !important;
    }
</style>

<h2>עדכון מלאי</h2>

@using (Html.BeginForm("UpdateInventory", "Inventory", FormMethod.Post, new { @class = "form-inline",
                                                                 data_bind="submit: isValid" }))
{
    <div class="row control-group">
        <div class="span4">
            <label>שם העובד</label>
        </div>
        <div class="span8">
            <label>
                <input required type="text"  id="userName" readonly value="@ViewBag.CurrentUserName"/> </label>
        </div>
    </div>
    
    <div class="row control-group">
        <div class="span4">
            <label>פריט</label>
        </div>
        <div class="span8">
            <label>
                  
                <select name="priceListItemId" data-bind="value: priceListItemId, options: priceListItems, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
              @*  <input type="hidden" name="priceListItemId" data-bind="value: priceListItemId" />*@
            </label>
        </div>
    </div>
    
    
    <div class="row control-group">
        <div class="span4">
            <label>כמות פריטים (לקיזוז פריטים יש להכניס ערכים שליליים)</label>
        </div>
        <div class="span8">
            <label>
                <input required type="number" name="quantity" id="quantity" /></label>
        </div>
    </div>
    
      <div class="row control-group">
        <div class="span4">
            <label>מחיר יחידה</label>
        </div>
        <div class="span8">
            <label>
                <input required type="number" name="unitPrice" id="unitPrice" /></label>
        </div>
    </div>
    
    @Muze.OkButton()
}