﻿@model IEnumerable<RapidVet.WebModels.Inventory.InventoryValueReportModel>
@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">ניהול מלאי</a>
        <span class="divider">&gt;</span></li>
    <li class="active">דו"ח שווי מלאי</li>
}

<h2>דו"ח שווי מלאי</h2>
<br />
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>קטגוריה</th>
            <th>פריט</th>
            <th>כמות במלאי</th>
            <th>שווי</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelI => i.Category)</td>
                <td>@Html.DisplayFor(modelI => i.Name)</td>
                <td style="direction: ltr;">@Html.DisplayFor(modelI => i.Quantity)</td>
                <td style="direction: ltr;">@Html.DisplayFor(modelI => i.Sum)</td>
            </tr>
        }
    </tbody>

</table>
