﻿@model RapidVet.Model.CliinicInventory.InventoryOrder

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/ViewOrder.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Index", "Inventory")">ניהול מלאי</a>
        <span class="divider">&gt;</span></li>
    <li class="active">הזמנה</li>
}

<h3>@RapidVet.Resources.Inventories.OrderNumber @Model.Id</h3>


<form>
    <div class="form-inline">

        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.Inventories.OrderDate:</label>
            </div>
            <div class="span3">
                <label style="direction: ltr; display: table-cell; right: 0;">
                    @Model.Created.ToString("dd/MM/yyyy HH:mm")
                </label>
            </div>
            <div class="span2">
                <label>@RapidVet.Resources.Inventories.OrderedBy:</label>
            </div>
            <div class="span3">
                <label>
                    @Model.User.Name
                </label>
            </div>
        </div>

        @if (Model.RecivedDate.HasValue)
        {
            <div class="row">
                <div class="span2">
                    <label>@RapidVet.Resources.Inventories.OrderReceptionDate:</label>
                </div>
                <div class="span3">
                    <label style="direction: ltr; display: table-cell; right: 0;">
                        @Model.RecivedDate.Value.ToString("dd/MM/yyyy HH:mm")
                    </label>
                </div>
                <div class="span2">
                    <label>@RapidVet.Resources.Inventories.OrderReceivedBy:</label>
                </div>
                <div class="span3">
                    <label>
                        @Model.RecivingUser.Name
                    </label>
                </div>
            </div>
        }

        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.Inventories.Supplier:</label>
            </div>
            <div class="span10">
                <label>
                    @Model.Supplier.Name
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.Inventories.Comments:</label>
            </div>
            <div class="span10">
                <label>
                    @if (String.IsNullOrWhiteSpace(Model.Comments))
                    {
                        @RapidVet.Resources.Global.None
                    }
                    else
                    {
                        @Model.Comments
                    }
                </label>
            </div>
        </div>
        <br />

        <h3>פריטים</h3>
        <table class="table table-bordered table-striped" style="width: 50%;">
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Inventories.Category</th>
                    <th>@RapidVet.Resources.Inventories.ItemName</th>
                    <th>@RapidVet.Resources.Inventories.Catalogue</th>
                    <th>@RapidVet.Resources.Inventories.OrderPrice</th>
                    <th data-bind="visible: $root.recieved">@RapidVet.Resources.Inventories.ActualPrice</th>
                    <th>@RapidVet.Resources.Inventories.OrderdQuantity</th>
                    <th data-bind="visible: $root.recieved">@RapidVet.Resources.Inventories.ArrivedQuantity</th>
                    <th>@RapidVet.Resources.Inventories.TotalForItem</th>

                </tr>
            </thead>
            <tbody data-bind="foreach: orderedItems">
                <tr>
                    <td data-bind="text: category"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: catalog"></td>
                    <td data-bind="text: unitPrice"></td>
                    <td data-bind="text: actualPrice, visible: $root.recieved "></td>
                    <td data-bind="text: quantity"></td>
                    <td data-bind="text: arrivedQuantity, visible: $root.recieved"></td>
                    <td data-bind="text: total"></td>

                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.Inventories.OrderTotalPrice:</label>
            </div>
            <div class="span10">
                <label data-bind="text: totalOrder">
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="controls" style="text-align: right;">
                <button type="button" class="btn btn-inverse btn-medium" onclick="location.href='@Url.Action("Orders", "Inventory")'" style="margin-left: 5px;">@RapidVet.Resources.Global.Back</button>
                <a class="btn btn-primary btn-medium" href="@Url.Action("PrintOrder", "Inventory", new { id = Model.Id})" target="_blank">
                    <i class="icon-print"></i>
                    @RapidVet.Resources.Global.Print
                </a>
            </div>

        </div>
    </div>
</form>


<input type="hidden" id="OrderId" value="@Model.Id"/>
<input type="hidden" id="Currency" value="@RapidVet.Resources.Global.Currency"/>
