﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/DocumentDetection/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<style type="text/css">
    .validationMessage{
        color: red !important;
    }
</style>

<h2>איתור מסמכים</h2>


<div class="form-inline well">
    <div class="row">
        <div class="span1">
            <label>מנפיק</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="value: issuerId, options: issuers, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>

        <div class="span1">
            <label>סוג המסמך</label>
        </div>
        <div class="span2" style="margin-left: 20px">
            <label>
                <select data-bind="value: documentTypeId, options: documentTypes, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'" class="input-medium"></select>
            </label>
        </div>

        <div class="span1">
            <label>לקוח</label>
        </div>
        <div class="span3" style="margin-top: 3px;">
            <label>
                <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px; top: -7px; position: relative;" placeholder="@RapidVet.Resources.Global.Search" />
            </label>
        </div>
        <div class="span2">
            <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label>
        </div>
        @*<div class="span3">
            <label>
                <select data-bind="value: clientId, options: clients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>*@
      
    </div>
    <br />
    @*##############################################*@
    <div class="row">
        <div class="span1">
            <label>מספר מסמך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: documentSerial" class="input-small" />
            </label>
        </div>
       

        <div class="span1">
            <label>מספר המחאה</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: chequeNumber" class="input-small" />
            </label>
        </div>

        <div class="span1">
            <label>סכום שהתקבל</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="fix-negativ input-small" data-bind="value: totalToPay"  />
            </label>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary btn-large" data-bind="click: search">
            <i class="icon-search"></i>
            חיפוש
        </button>
        <label>
            <label class="validationMessage" style="margin-right:10px;"  data-bind="text: queryError" />
        </label>
    </div>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הלקוח</th>
            <th>סטטוס</th>
            <th>מספר מסמך</th>
            <th>סכום </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: documents">
        <tr>
            <td data-bind="text: CreatedDate"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: ClientStatus"></td>
            <td data-bind="text: DocumentSerialNumber"></td>
            <td data-bind="text: TotalToPay" class="fix-negativ"></td>
            <td><a class="btn btn-primary" data-bind="attr: { href: PrintUrl }" target="_blank">
                <i class="icon-print"></i>
                הדפסה
            </a></td>
        </tr>
    </tbody>
</table>

