﻿
#patientList {
    list-style: none;
    display: table;
}

    #patientList > li {
        margin-left: 20px;
        margin-right: 20px;
        display: inline-table;
        margin-bottom: 31px;
    }

.patient-image-container {
    border: 1px solid #c6c5c5;
    padding: 1em;
    width: 200px;
    text-align: center;
}

.patient-image {
    max-height: 100px;
    padding: 1em;
}

.patient-name {
    text-align: center;
    margin-top: -1px;
    margin-bottom: -13px;
    border: 1px solid #c6c5c5;
    font-size: 1.3em;
}

.patient-edit-link {
    position: relative;
    top: 10px;
    right: 60px;
    z-index: 999;
}
