@import "globalConst";

#MainContainer .row {
    margin-right: 0;
}

.checkbox {
    width: 18px;
    height: 18px;
    padding: 0 5px 0 0;
    background: url(../img/RapidVet/checkbox.png) no-repeat;
    display: block;
    clear: left;
    float: left;
}

span.checkbox {
    border: 2px @MainFontColor solid;
    border-radius: 5px;
    padding: 0;
}

.form-inline .control-group .checkbox-controler {
    label {
        width: auto;
    }

    span.checkbox {
        margin-top: 10px;
    }
}

.input-validation-error, .form-inline .control-group label > input.input-validation-error:focus, .input-validation-error:hover {
    background-color: @ErrorColor;
}

//.radio {
//  background: url(../img/RapidVet/radio.png) no-repeat;
//}

select {
    height: 24px;
}

form .checkbox-controler, form .radio-controler {
    max-width: 200px;
}

form {
    button {
        &.ok {
            width: 200px;
            background-color: #8ac119;
            background-image: none;
            box-shadow: none;
            border: 1px #c6c5c5 solid;

            &:hover {
                background-color: #c6c5c5;
                background-image: none;
            }
        }
    }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
    color: @MainFontColor;
    padding-top: 0;
    border: none;
    box-shadow: none;
}

.form-inline {
    .control-group {

        >div {
            border-left: 1px #c6c5c5 solid;

            &:last-child {
                border-left: none;
            }

            &:first-child {
            }
        }

        label {
            >span {
                color: @MainFontColor;
                margin-top: 2px;
                padding-right: 5px;
                padding-left: 5px;
                font-size: 14px;
                float: right;
            }

            .styled-select {
                >select {
                    width: 100%;
                }
            }

            >input {
                &:focus {
                    border: none;
                    box-shadow: none;
                    background-color: @TextInputHover;
                }

                margin-top: 2px;
                border: none;
            }

            &:hover input {
                background-color: @TextInputHover;
            }

            margin-bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
        }

        margin-bottom: 20px;
        border: 1px #c6c5c5 solid;
        border-radius: 5px;
    }

    .row-fluid > .span6 {
        width: 48.6%;
    }

    .row-fluid > .span4 {
        width: 31.75%;
    }

    .styled-select {
        select {
            background: transparent;
            width: auto;
            padding: 5px;
            font-size: 16px;
            line-height: 1;
            border: 0;
            border-radius: 0;
            height: 34px;
            -webkit-appearance: none;
            padding-right: 33px;
        }

        width: auto;
        height: 34px;
        overflow: hidden;
        background: url(img/RapidVet/down_arrow_select.jpg) no-repeat right #ddd;
        border: 1px solid #ccc;
    }
}

.close-btn {
    position: absolute;
    left: 5px;
    top: 12px;
}
