﻿.checkbox {
  width: 22px;
  height: 22px;
  padding: 0 5px 0 0;
  background: url(../img/RapidVet/checkbox.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}
span.checkbox {
  border: 2px #5f5f5f solid;
  border-radius: 5px;
  padding: 0;
}
.select {
  position: absolute;
  width: 158px;
  /* With the padding included, the width is 190 pixels: the actual width of the image. */

  height: 27px;
  padding: 0 24px 0 8px;
  color: #5f5f5f;
  font: 12px/21px arial, sans-serif;
  background: url(../img/RapidVet/select.png) no-repeat;
  overflow: hidden;
  margin-top: 14px;
}
form .checkbox-controler,
form .radio-controler {
  max-width: 200px;
}
form button.ok {
  width: 200px;
  background-color: #8ac119;
  background-image: none;
  box-shadow: none;
  border: 1px #c6c5c5 solid;
}
form button.ok:hover {
  background-color: #c6c5c5;
  background-image: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  padding-top: 0;
  border: none;
  box-shadow: none;
}
.form-inline .control-group {
  margin-bottom: 20px;
  border: 1px #c6c5c5 solid;
  border-radius: 5px;
}
.form-inline .control-group > div {
  border-left: 1px #c6c5c5 solid;
}
.form-inline .control-group > div:last-child {
  border-left: none;
}
.form-inline .control-group label {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.form-inline .control-group label > span {
  color: #5f5f5f;
  margin-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
  float: right;
}
.form-inline .control-group label .styled-select > select {
  width: 100%;
}
.form-inline .control-group label > input {
  border: none;
}
.form-inline .control-group label > input:focus {
  border: none;
  box-shadow: none;
  background-color: #f0f0f0;
}
.form-inline .control-group label:hover input {
  background-color: #f0f0f0;
}
.form-inline .row-fluid > .span6 {
  width: 48.6%;
}
.form-inline .row-fluid > .span4 {
  width: 31.75%;
}
.form-inline .styled-select {
  width: auto;
  height: 34px;
  overflow: hidden;
  background: url(img/RapidVet/down_arrow_select.jpg) no-repeat right #dddddd;
  border: 1px solid #ccc;
}
.form-inline .styled-select select {
  background: transparent;
  width: auto;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  padding-right: 33px;
}
