
@NavBackgrounColor: #ebe6e0;
@Green: #7dba00;
@GrayBorder: #9c9a9a;
@MainNavTextColor: #3d3938;
@NavBorderRadius: 7px;
@DarkColor: #3d3938;
@AccountNavItemWidth: 165px;
@ToolsNavItemWidth: 116px;
@BackgrounColor: white;
@MainFontColor: #5F5F5F;
@TextInputHover: #f0f0f0;
@ErrorColor: #f87c90;
@inputBackground: #E6E6E6;  






