@import "globalConst";
    #fountainG{
  position:fixed;
  top:50%;
  left: 50%;
  margin-left: -120px;
  width:240px;
  height:29px;

    }

.fountainG{
  position:absolute;
  top:0;
  background-color:#3d3938;
  width:29px;
  height:29px;
  -moz-animation-name:bounce_fountainG;
  -moz-animation-duration:2.3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-transform:scale(.3);
  -moz-border-radius:19px;
  -webkit-animation-name:bounce_fountainG;
  -webkit-animation-duration:2.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(.3);
  -webkit-border-radius:19px;
  -ms-animation-name:bounce_fountainG;
  -ms-animation-duration:2.3s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-transform:scale(.3);
  -ms-border-radius:19px;
  -o-animation-name:bounce_fountainG;
  -o-animation-duration:2.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-transform:scale(.3);
  -o-border-radius:19px;
  animation-name:bounce_fountainG;
  animation-duration:2.3s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  transform:scale(.3);
  border-radius:19px;
}

#fountainG_1{
  left:0;
  -moz-animation-delay:2.53s;
  -webkit-animation-delay:2.53s;
  -ms-animation-delay:2.53s;
  -o-animation-delay:2.53s;
  animation-delay:2.53s;
}

#fountainG_2{
  left:30px;
  -moz-animation-delay:2.3s;
  -webkit-animation-delay:2.3s;
  -ms-animation-delay:2.3s;
  -o-animation-delay:2.3s;
  animation-delay:2.3s;
}

#fountainG_3{
  left:60px;
  -moz-animation-delay:2.07s;
  -webkit-animation-delay:2.07s;
  -ms-animation-delay:2.07s;
  -o-animation-delay:2.07s;
  animation-delay:2.07s;
}

#fountainG_4{
  left:90px;
  -moz-animation-delay:1.84s;
  -webkit-animation-delay:1.84s;
  -ms-animation-delay:1.84s;
  -o-animation-delay:1.84s;
  animation-delay:1.84s;
}

#fountainG_5{
  left:120px;
  -moz-animation-delay:1.61s;
  -webkit-animation-delay:1.61s;
  -ms-animation-delay:1.61s;
  -o-animation-delay:1.61s;
  animation-delay:1.61s;
}

#fountainG_6{
  left:150px;
  -moz-animation-delay:1.38s;
  -webkit-animation-delay:1.38s;
  -ms-animation-delay:1.38s;
  -o-animation-delay:1.38s;
  animation-delay:1.38s;
}

#fountainG_7{
  left:180px;
  -moz-animation-delay:1.15s;
  -webkit-animation-delay:1.15s;
  -ms-animation-delay:1.15s;
  -o-animation-delay:1.15s;
  animation-delay:1.15s;
}

#fountainG_8{
  left:210px;
  -moz-animation-delay:0.92s;
  -webkit-animation-delay:0.92s;
  -ms-animation-delay:0.92s;
  -o-animation-delay:0.92s;
  animation-delay:0.92s;
}

@-moz-keyframes bounce_fountainG{
  0%{
    -moz-transform:scale(1);
    background-color:#3d3938;
  }

  100%{
    -moz-transform:scale(.3);
    background-color:#7dba00;
  }

}

@-webkit-keyframes bounce_fountainG{
  0%{
    -webkit-transform:scale(1);
    background-color:#3d3938;
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:#7dba00;
  }

}

@-ms-keyframes bounce_fountainG{
0%{
  -ms-transform:scale(1);
  background-color:#3d3938;
}

100%{
  -ms-transform:scale(.3);
  background-color:#7dba00;
}

  }

@-o-keyframes bounce_fountainG{
  0%{
    -o-transform:scale(1);
    background-color:#3d3938;
  }

  100%{
    -o-transform:scale(.3);
    background-color:#7dba00;
  }

}

@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color:#3d3938;
  }

  100%{
    transform:scale(.3);
    background-color:#7dba00;
  }

}
