@import "globalConst";

@loginBorderColor: #8c7d70;
@inputBackgroundColor: #fffbbe;
@loginInputColor: #fffbbe;

#login-page {
    .container {
        position: relative;
        background-color: @NavBackgrounColor;
        border-radius: @NavBorderRadius;
        border: 1px solid @loginBorderColor;
        height: 340px;
    }

    .logo {
        position: absolute;
        left: 20px;
        top: 10px;
    }

    button {
        position: absolute;
        color: #ffffff;
        width: 300px;
        left: 20px;
        top: 114px;
        height: 115px;
        font-size: 3em;
    }

    label {
        font-size: 1.3em;
    }

    .input {

        input {
            background-color: @loginInputColor;
        }

        padding: 0.5em;
        background-color: @loginInputColor;
        border: 2px solid @loginBorderColor;
        border-radius: @NavBorderRadius;
    }

    .input, .checkbox-controler {
        margin-right: 20px;
        margin-top: 2em;
    }

    form .checkbox-controler {
        max-width: 220px;
        margin-right: 24px;
    }

    .checkbox-controler label {
        margin-left: 10px;
    }

    .alert-error {
        ul {
            list-style-type: none;
        }

        margin: 0;
        text-shadow: none;
        text-align: center;
        font-size: 2em;
        width: 412px;
        background-color: #ffbec0;
        padding: 0.5em;
        margin-right: 20px;
        margin-top: 20px;
        position: absolute;
        border: 2px solid @loginBorderColor;
        border-radius: @NavBorderRadius;
    }

    background-color: @BackgrounColor;
    color: @loginBorderColor;
}
