@import "globalConst";

* {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

body {
    background-color: @BackgrounColor;
}

a {
    color: @Green;

    &:hover {
        color: @Green;
        text-decoration: none;
        cursor: pointer;
    }
}

.btn-primary {
    &:hover {
        background-color: #8ac119;
        color: @BackgrounColor;
    }

    background-color: #8ac119;
    color: @MainNavTextColor;
    background-image: none;
    box-shadow: none;
    border: 1px #c6c5c5 solid;
    text-shadow: none;

    i {
        margin-left: 5px;
    }
}



.mega-nav {
    background-color: @NavBackgrounColor;
    min-width: 1200px;
}

.navbar {

    .navbar-inner {
        padding-left: 20px;
        padding-right: 20px;

        .container {
            width: auto;
        }
    }

    :focus {
        outline: none;
        border: none;
    }

    .nav > li.dropdown.open > .dropdown-toggle {
        background: none;
    }

    .nav li.dropdown.open > .dropdown-toggle, .nav li.dropdown:hover > .dropdown-toggle {
        color: @NavBackgrounColor;
    }

        .nav li.dropdown:hover > .dropdown-toggle .caret, .nav li.dropdown.open > .dropdown-toggle .caret {
            border-top-color: @NavBackgrounColor;
            border-bottom-color: @NavBackgrounColor;
        }

    .dropdown-menu {
        margin-top: 4px;

        li > a {
            color: @MainNavTextColor;
        }
    }

    .nav > li .dropdown-menu > li > a:hover {
        background: @Green;
    }

    .nav > li .dropdown-menu {
        width: (@ToolsNavItemWidth * 2);
        background-color: @NavBackgrounColor;
        border: 1px @GrayBorder solid;
        left: auto;
        right: 0;
    }

    .nav > li > .dropdown-menu::after, .nav > li > .dropdown-menu::before {
        display: none;
    }

    .nav > li > .dropdown.open > a {
        background: none;
        color: @NavBackgrounColor;

        img {
            display: none;
        }

            img.hover {
                display: block;
            }
    }
}


.breadcrumb {

    a {
        color: @MainNavTextColor;
    }

    > .active {
        color: @Green;
    }

    background-color: @BackgrounColor;
    margin-bottom: 0;
    padding-right: 29px;
    border: none;
    background-image: none;
}

.dateandtime {
    background-color: @BackgrounColor;
    margin-bottom: 0;
    padding-right: 29px;

    >span {
        margin-left: 80px;
    }
}


#loder {
    background-color: @NavBackgrounColor;
    opacity: 0.9;
    position: fixed;
    top: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

#MainContainer {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.ui-autocomplete.ui-front {
    z-index: 9999;
}

.not-active-row {
    /*background-color: gray;*/
}

label > input {
    background-color: @inputBackground;
}

label > textarea {
    background-color: @inputBackground;
}

label > select {
    background-color: @inputBackground;
}
.fix-negativ
{
    direction: ltr;
text-align: right;
}