@import "globalConst";

@ModalBackgrounColor: #fffbbe;
@ModalBorderColor: #a39487;


.modal-backdrop {
  background-color: @BackgrounColor;
}

.modal {

  .modal-header { 
    border: none;
    background-color: @BackgrounColor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .modal-body {
    border: none;
    background-color: @ModalBackgrounColor;
  }
  .modal-footer {
    button {
     &.ok
      {
        background-color: #8ac119;
        color: @BackgrounColor;
      }
      &.cancel
      { 
        background-color: #f87c90;
        color: @MainFontColor;
      }
      width: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
      box-shadow: none;
      border: 2px @ModalBorderColor solid;
      text-align: center;
      background-image: none;
      text-shadow: none;
    }
    border: none;
    background-color: @ModalBackgrounColor;
    padding-top: 0;
  }
  border: 2px @ModalBorderColor solid;
}

#issuersModal .modal-body{
    padding: 5px;
}

.price-list-modal {
    overflow: auto;
    height:400px;
} 

