﻿.visit-close-btn {
    top: 6px;
    float: left;
    margin-left: -30px;
}


.preventive {

    .nameColumn {
        width: 30%;
    }

    .checkboxColumn {
        width: 10px;
        text-align: center;
    }

    .dateColumn {
        width: 15%;
    }

    .future {
        color: green;
    }

    .past {
        color: red;
    }
}


.patientLabTests {

    table {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .numberColumn {
        width: 15%;
    }

    .nameColumn {
        width: 25%;
    }

    .indicatorColumn {
        width: 25%;
    }

    .indicatorMarker {
        font-weight: bold;
        font-size: 1.5em;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }
}

.close-button-column{
    text-align: center;
}