@import "globalConst";

.item-price {
}

td > form > .input-mini {
    margin-bottom: -11px;
}

.bold {
    font-weight: bold;
}

#targetClinics {
    list-style: none;
}

    #targetClinics > li {
        display: inline-table;
        margin-left: 20px;
    }
