@import "globalConst";

ul.nav-list {
    >li {
        a:hover {
            background: none;
            color: @BackgrounColor;
        }

        a {
            i {
                position: absolute;
                left: 5px;
                top:5px;
                display: none;
            }


            color: @Green;
            text-shadow: none;
            position: relative; 
        }
         
            a.active {
                i {
                    display: block;
                }
            }
    }

    background-color: @MainNavTextColor;
}






