@import "globalConst";

.navbar.sub-nav {
  margin-bottom: 0;
  .nav {


    float: right;
    > li {
      float: right;
      width: @ToolsNavItemWidth;

    }
    > li > a {
      text-shadow: none;
      color: @Green; 
      padding: 10px 10px 10px;
      i {
        float: left;
      } 
    }
    > li:hover  > a {
      color: @NavBackgrounColor;
    }
  }
  .navbar-inner .nav:first-child {
    border-left: 2px @NavBackgrounColor solid;
  }

  .navbar-inner {
    padding-right: 0;
    background: @DarkColor;
    border: none;
    .container
    {
      margin-right: 15px;
    }
  }
  li.dropdown > .dropdown-toggle .caret {
    float: right;
    border-top-color: @Green;
    border-bottom-color: @Green;
  }

  .navbar-search {
   float: right;
    width: 320px;
    .search-query {
      border-radius: @NavBorderRadius;
      border: 1px @Green solid;
      z-index: 1;
      box-shadow: none;
      position: absolute;
      background: @BackgrounColor;
    }
    i{
      position: absolute;
      left: 40px;
      top:4px;
    }
    .dropdown-menu {
      padding-top: 30px;
      top: 0;
      border-radius: @NavBorderRadius;
      border: 1px @Green solid;
      z-index: 0;
      box-shadow: none;
      right: 0;
      background: @BackgrounColor;
      li > a {
        color: @MainNavTextColor;
        background: none;
      }
      li > a:hover {
        background: @Green;
        color: @NavBackgrounColor;
      }
    }
  }
}



