@import "globalConst";

.navbar.top {
    padding-top: 30px;

    .brand {
        padding: 0;
        margin-left: 0;
        position: absolute;
        left: 20px;
    }

    .nav {
        float: right;
        border: 2px @GrayBorder solid;
        border-radius: @NavBorderRadius;
        background-color: @Green;

        > li {
            width: (@ToolsNavItemWidth - 2);
            text-align: center;
            background: none;
            float: right;
            border-left: 2px @NavBackgrounColor solid;
            padding: 0;
            margin: 0;

             
            > a, > a:focus {
                color: @MainNavTextColor;
                text-shadow: none;
            }

                > a:hover {
                    color: @NavBackgrounColor;
                }
        }

        li:first-child {
            a:hover {
                border-top-right-radius: (@NavBorderRadius - 2);
                border-bottom-right-radius: (@NavBorderRadius - 2);
            }
        }

        li:last-child {
            border-left: none;

            a:hover {
                border-top-left-radius: (@NavBorderRadius - 2);
                border-bottom-left-radius: (@NavBorderRadius - 2);
            }

            .dropdown-menu { //        left: 0;
                //        right: auto;
            }
        }

        .dropdown {
            a {
                text-align: right;
                padding: 10px 10px 10px;
            }
             a.topMenue {
                    padding: 0 10px 0;
                }

            i {
                float: left;
            }
        }
    }

        .nav.account-nav > li {
            width: (@AccountNavItemWidth - 2);
        }

    .navbar-inner {
        background: @NavBackgrounColor;
        box-shadow: none;
        border: none;
        padding-right: 3px;
    }


    .account-nav {

        .dropdown-menu {
            width: (@AccountNavItemWidth );
        }
    }

    .tools-nav {
        margin-right: @ToolsNavItemWidth;

        .caret {
            display: none;
        }
    }

    li.dropdown > .dropdown-toggle .caret {
        float: right;
        border-top-color: @MainNavTextColor;
        border-bottom-color: @MainNavTextColor;
    }
}

.scrollGroup {
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}
