﻿@model RapidVet.Model.FullCalender.Room
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Global.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Remove", "Rooms", FormMethod.Post,new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Muze.DeleteButtons()
    }

</div>