﻿@model RapidVet.Model.FullCalender.Room
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>חדרי מרפאה</h2>
<br />

@using (Html.BeginForm("Edit", "Rooms", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="well">
        <input type="hidden" name="id" id="id" value="@Model.Id"/>
        <input type="hidden" name="clinicId" id="clinicId" value="@Model.ClinicId"/>
        <input type="hidden" name="active" id="active" value="@Model.Active"/>

        <br />
        <div class="control-group">
            <label class="control-label">שם: </label>
            <div class="controls">@Html.EditorFor(m => m.Name)
                <span class="help-inline"></span>
            </div>
        </div>

        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button type="submit"
                        class="btn btn-primary">
                        @if (Model.Id == 0)
                        {
                            <h3>@RapidVet.Resources.Global.Create</h3>
                        }
                        else
                        {
                            <h3>@RapidVet.Resources.Global.Save</h3>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
}