﻿@model List<RapidVet.Model.FullCalender.Room>

@{
    var modalId = "roomTypeModal";
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>חדרי מרפאה</h2>
 
<br />
<a class="btn btn-primary" href="@Url.Action("Edit")" style="margin-top: -11px"><i class="icon-plus"></i>צור חדר מרפאה</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>שם החדר
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var room in Model)
            {
            <tr>
                <td>@room.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Rooms", new { id = room.Id})" title="ערוך"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                    |   
                            <a onclick=" GetModal('@Url.Action("Remove", new { id = room.Id })', '@modalId'); ">
                                <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>

</table>
<div id="roomTypeModal" class="modal hide fade">
</div>
