﻿@model RapidVet.WebModels.Referrals.ReferralEditWebModel
<input type="hidden" id="initialClientId" value="@ViewBag.ClientId"/>
<input type="hidden" id="initialPatientId" value="@ViewBag.PatientId"/>
<input type="hidden" id="initialreferredDoctorId" value="@ViewBag.ReferredTo"/>

<input type="hidden" data-bind="value: selectedPatientId" name="patientId" id="patientId" />
<input type="hidden" data-bind="value: selectedClientId" name="clientId" id="clientId" />
<input type="hidden" data-bind="value: selectedReferralDoctorId" name="RefferedToUserId" id="RefferedToUserId" />

@Html.HiddenFor(x => x.IsForPrint)
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.SelectClient</label>
    </div>
    <div class="span3" style="margin-top: 3px;">
        <label>
            @*<select class="form-control input-medium" id="newClientId" data-bind="options: clients, value: clientId, optionsCaption: 'בחר לקוח', optionsText: 'itemText', optionsValue: 'itemValue'"></select>*@
            <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
        </label>
    </div>
    <div class="span3">
        <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label>
    </div>
    @*<div class="span4">
        <label>
            <select required data-bind="value: selectedClientId, options: clients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>*@
</div>
<br />
    <div class="row">
        <div class="span2">
            <label>@RapidVet.Resources.Controllers.Referrals.ClientId</label>
        </div>
        <div class="span4">
            <label>
                <input type="text" readonly="readonly" data-bind="value: idCard" />
            </label>
        </div>
    </div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.SelectPatient</label>
    </div>
    <div class="span10">
        <label>
            <select required data-bind="value: selectedPatientId, options: patients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.RefferedToDoctor</label>
    </div>
    <div class="span5">
        <label>
            <select required data-bind="value: selectedReferralDoctorId, options: referralDoctors, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>
    <div class="span2" data-bind="visible: isExternalReferral" name="RefferedToUserId">
        <label>@RapidVet.Resources.Controllers.Referrals.ExternalDoctorName</label>
    </div>
    <div class="span5" data-bind="visible: isExternalReferral">
        <label>
            @Html.EditorFor(m => m.RefferedToExternal)</label>        
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.RefferalDate</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextBox("DateTime", Model.DateTime.ToShortDateString(), new { @class = "date", @readonly = "readonly" })
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.RefferingDoctor</label>
    </div>
    <div class="span10">
        <label>
            @Html.EditorFor(m => m.RefferingUserId)
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.RefferedClicnicAddress</label>
    </div>
    <div class="span10">
        <label>
            @Html.EditorFor(m => m.RefferingClinicAddress)
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.RefferedClinicPhone</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.RefferingClinicPhone)</label>
        <span class="help-inline">@Html.ValidationMessageFor(m => m.RefferingClinicPhone)</span>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>@RapidVet.Resources.Controllers.Referrals.RefferingReason</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextAreaFor(m => m.Reason)
        </label>
    </div>
</div>


