﻿@model RapidVet.WebModels.Referrals.ReferralEditWebModel
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Referrals/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>יצירת הפנייה חדשה</h2>



@using (Html.BeginForm("Create", "Referrals", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.Partial("_MainForm", Model)

    //   @Muze.OkButton()
    <br />
    <div>
        <div class="controls" style="text-align: right;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>        
    </div>
}