﻿@using iTextSharp.text
@model RapidVet.WebModels.Referrals.ReferralEditWebModel
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Referrals/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>עריכת הפנייה</h2>



@using (Html.BeginForm("Edit", "Referrals", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.HiddenFor(m => m.Id)

    @Html.Partial("_MainForm", Model)

    <br />
    <div>
        <div class="controls" style="text-align: right;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>

    if (Request.Url != null)
    {
        <br />
        <div>
            <div class="controls" style="text-align:right;">
                <button id="btnOkAndPrint" class="btn ok">
                    <i class="icon-print" style="zoom: 1.6;margin-left: 10px;"></i>
                    <img src="/Content/img/RapidVet/ok-v.png">
                </button>                
            </div>
        </div>
    }
}
