﻿@model IEnumerable<RapidVet.Model.Patients.Referral>
@{
    var tableId = "reffrealsTable";
    var modalId = "deleteModal";
}


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Referrals/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>הפניות</h2>


<input type="hidden" id="from" value="@ViewBag.From"/>
<input type="hidden" id="to" value="@ViewBag.To"/>
<input type="hidden" id="months" value="@ViewBag.Months"/>

<div class="form-inline well">
    <div class="row control-group">
        <div class="span1">
            <input type="radio" value="0" data-bind="checked: method" />
        </div>
        <div class="span2">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: from" class="date" readonly /></label>
        </div>
        <div class="span2">
            <label>
                עד תאריך
            </label>

        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: to" class="date" readonly /></label>
        </div>

    </div>
    <div class="row control-group">
        <div class="span1"><input type="radio" value="1" data-bind="checked: method" /></div>
        <div class="span2">
            <label>מספר חודשים</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: months" /></label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span12">
            <label>
                <a class="btn btn-primary" data-bind="attr: { href: searchLink }">
                    <i class="icon-search"></i>
                    חפש
                </a>
                <a class="btn btn-primary" href="@Url.Action("Index", "Referrals")">
                    <i class="icon-refresh"></i>
                    אפס
                </a>
            </label>
        </div>
    </div>
</div>
<a class="btn btn-primary" href="@Url.Action("Create", "Referrals")">
    <i class="icon-plus"></i>
    הפנייה חדשה
</a>
<br />
<br />
<div class="form-inline">
    <div class="row control-group">
        <div class="span4">
            <label>
                @Muze.QuickSearch(tableId)
            </label>
        </div>
    </div>
</div>
<br />
<table id="@tableId" class="table table-bordered">
    <thead>
        <tr>
            <th>תאריך הפנייה</th>
            <th>שם הלקוח</th>
            <th>שם החיה</th>
            <th>רופא מפנה</th>
            <th>מופנה לרופא</th>
            <th>סיבת ההפנייה</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.DateTime.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelR => r.Patient.Client.Name)</td>
                <td>@Html.DisplayFor(modelR => r.Patient.Name)</td>
                <td>@Html.DisplayFor(modelR => r.RefferingUser.Name)</td>
                <td>@(r.RefferedToUser != null ? Html.DisplayFor(modelR => r.RefferedToUser.Name) : Html.DisplayFor(modelR => r.RefferedToExternal))
                </td>
                <td>@Html.DisplayFor(modelR => r.Reason)</td>
                <td>
                    @if (r.RefferedToUser != null)
                    {
                        <span class="alert-success">פנימי</span>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Referrals", new { id = r.Id })">
                        <i class="icon-edit"></i>
                        @RapidVet.Resources.Global.Edit
                    </a>

                    <a class="btn btn-primary"  onclick="GetModal('@Url.Action("Delete", "Referrals", new { id = r.Id })','@modalId')">
                        <i class="icon-remove"></i>
                        @RapidVet.Resources.Global.Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="@modalId" class="modal hide fade"></div>
