﻿@model RapidVet.WebModels.Referrals.ReferralEditWebModel
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    var patientId = Url.RequestContext.RouteData.Values["id"];
}
<link rel="@Url.Content("~/Content/print/print.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/css" />
<style>
    .future {
        color: green;
    }

    .past {
        color: red;
    }

    .vot-title {
        font-size: 2em;
    }

    .vot-container {
        text-align: center;
    }

    .vot-table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div style="width:100%; height:100%;">
    <table style="margin:auto; width:80%;">
        <thead>
            <th width="50%"></th>
            <th width="50%"></th>
        </thead>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.ClientID
            </td>
            <td>
               @ViewBag.ClientIdCard
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.Client
            </td>
            <td>
                @ViewBag.ClientName
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.Animal
            </td>
            <td>
                @ViewBag.AnimalName
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.ReferedToDoctor
            </td>
            <td>
                @ViewBag.ReferedToDoctor
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.ReferralDate
            </td>
            <td>
                @ViewBag.ReferralDate
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.RefferingDoctorName
            </td>
            <td>
                @ViewBag.RefferingUser
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.ReferralClinicAddress
            </td>
            <td>
                @Model.RefferingClinicAddress
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.ReferralClinicPhone
            </td>
            <td>
                @Model.RefferingClinicPhone
            </td>
        </tr>
        <tr>
            <td>
                @RapidVet.Resources.Refferals.ReferralReason
            </td>
            <td>
                @Model.Reason
            </td>
        </tr>
    </table>
</div>