﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Finance.SimpleCategoryModel
@{
    var containerId = PriceListItemsConsts.PRICE_LIST_ITEMS_CONTAINER_ID;
    var categoryColumn = Url.RequestContext.RouteData.Values["categoryColumnId"];
    var itemsGrid = PriceListItemsConsts.PRICE_LIST_ITEMS_GRID_ID;
    var categoryModalId = CategoryConsts.CATEGORY_MODAL_ID;
    var itemModalId = PriceListItemsConsts.PRICE_LIST_ITEMS_MODAL_ID;
    var activeObj = Request.Params["active"];
    var openMenu = false;
    bool.TryParse(activeObj, out openMenu);
    var menuCss = openMenu ? "grid-active" : "inactive";
}


<h3>@Html.DisplayFor(model => model.Name)</h3>

<div class="@menuCss">
    <ul style="list-style: none;">
        <li>
            <a href="javascript:GetModal('@Url.Action("Delete", "PriceListCategories", new { id = Model.Id, priceListContainerId = containerId })','@categoryModalId');">
                <i class="icon-trash"></i>@RapidVet.Resources.PriceListItem.DeleteCategory </a></li>
        <li>
            <a href="javascript:GetModal('@Url.Action("Edit", "PriceListCategories",
                                                      new
                                                          {
                                                              id = Model.Id,
                                                              categoryColumnId = categoryColumn,
                                                              itemsGridId = itemsGrid,
                                                              priceListContainerId = containerId,
                                                              categoryModalId = categoryModalId,
                                                              itemModalId = itemModalId
                                                          })','@categoryModalId');">
                <i class="icon-edit"></i>@RapidVet.Resources.PriceListItem.EditCategory </a>
        </li>
        <li>
            <a href="javascript:GetModal('@Url.Action("Create", new { categoryId = Model.Id, itemsGridId = itemsGrid })','@itemModalId');">
                <i class="icon-plus"></i>@RapidVet.Resources.PriceListItem.AddItemToCategory</a>
        </li>
    </ul>
</div>
