﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Finance.PriceListItemModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.PriceListItem.CreateItem</h3>
</div>
@using (Html.BeginForm("Create", "PriceListItems", FormMethod.Post, new { @class = "form-horizontal", id = PriceListItemsConsts.PRICE_LIST_ITEMS_CREATE, }))
{
    
    <div class="modal-body">
        @Html.Partial("_MainForm", Model)
    </div>

    <div class="modal-footer">
        <div class="control-group" style="width: 38%; margin: 0 auto;">
            <div class="span2">
                <button type="submit"
                        class="btn btn-primary">
                    @RapidVet.Resources.Global.Create
                </button>
            </div>
        </div>
    </div>
}
