﻿@model RapidVet.WebModels.Finance.DuplicatePricesTariffModel
@using RapidVet.Helpers;
@using RapidVet.RapidConsts.Controllers

<script type="text/javascript">
    $(function () {
        var selectedCategoryId = $('#categoriesList').val();
        $("input[id=selectedCategoryId]:hidden").val(selectedCategoryId);
        console.log('hidden input\'s selectedCategoryId value has been set to :' + selectedCategoryId);
    });
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.DuplicateTariffPrices.DuplicatePricesTitle</h3>
</div>
@using (Ajax.BeginForm("DuplicatePricesTariff", "PriceListItems", new AjaxOptions()
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "Success",
        LoadingElementId = Global.AJAX_LOADER_ID
    },
                       new
                           {
                               @class = ".form-inline",
                               id = TariffConsts.TARIFF_DUPLICATE_TARIFF_FORM,
                           }))
{
    <input type="hidden" name="selectedCategoryId" id="selectedCategoryId" value="" />
    <div class="modal-body">
        <div class="row">
            <div class="span2 bold">@RapidVet.Resources.DuplicateTariffPrices.CopyFromTariff</div>
            <div class="span3">
                @Html.Action("TariffDDL", "Tariffs", new { elementId = "SourceTariffId" })
            </div>
            <div class="span2 bold">@RapidVet.Resources.DuplicateTariffPrices.ToTariff</div>
            <div class="span3">
                @Html.Action("TariffDDL", "Tariffs", new { elementId = "DestinationTariffId" })
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="control-group" style="width: 38%; margin: 0 auto;">
            <div class="span2">
                <button type="submit"
                        class="btn ok">
                    @RapidVet.Resources.Global.Ok
                </button>
            </div>
        </div>
    </div>
}
