﻿@model IEnumerable<RapidVet.WebModels.Finance.DuplicatePricesClinicModel>
@using RapidVet.RapidConsts.Controllers

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.DuplicateTariffPrices.DuplicatePricesClinic</h3>
</div>
@using (Ajax.BeginForm("DuplicatePricesClinic", "PriceListItems", new AjaxOptions()
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "ShowMessage",
        LoadingElementId = Global.AJAX_LOADER_ID
        
    },
                       new
                           {
                               @class = "form-inline",
                               id = TariffConsts.TARIFF_DUPLICATE_CLINIC_FORM,
                           }))
{
    <div class="modal-body">
        <div class="row">

            <ul class="control-group" id="targetClinics">
                @foreach (var clinic in Model)
                {
                    <li>
                        <div class="checkbox-controler">
                            <label>
                                @Html.CheckBox(string.Format("clinic_{0}", clinic.ClinicId))
                            </label>
                            @Html.DisplayFor(modelClinic => clinic.ClinicName, new { @class = "styled" })

                        </div>
                    </li>
             
                }
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <div  style="width: 38%; margin: 0 auto;">
            <div class="span2">
                <button type="submit"
                        class="btn ok">
                    @RapidVet.Resources.Global.Ok
                </button>
            </div>
        </div>
    </div>
}
