﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Finance.PriceListItemModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.PriceListItem.EditItem</h3>
</div>
@using (Html.BeginForm("Edit", "PriceListItems", FormMethod.Post, new
{
    @class = "form-horizontal",
    id = PriceListItemsConsts.PRICE_LIST_ITEMS_EDIT,
}))
{
    @*<input type="hidden" name="CategoryId" id="CategoryId" value="@Model.CategoryId"/>*@
    
    <div class="modal-body" style="max-height:452px;">

        @Html.Partial("_MainForm", Model)

        <div class="control-group">
            <label class="control-label">@RapidVet.Resources.PriceListItem.Available</label>
            <div class="controls">
                @Html.EditorFor(model => model.Available)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Available)</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group" style="width: 38%; margin: 0 auto;">
            <div class="span2">
                <button type="submit"
                        class="btn btn-primary">
                    @RapidVet.Resources.Global.Save
                </button>
            </div>
        </div>
    </div>
}
