﻿@model  IEnumerable<int>
@using RapidVet.RapidConsts.Controllers


<div id="@CategoryConsts.CATEGORY_GRID_ID" class="row-fluid control-group">
    @Html.Action("CategoriesDDL", "PriceListCategories")

    @Muze.ModalDiv(CategoryConsts.CATEGORY_MODAL_ID)
</div>

<div id="@PriceListItemsConsts.PRICE_LIST_ITEMS_GRID_ID" class="row" style="margin-right: -22px;">
    <div class="span9">
        <div id="@PriceListItemsConsts.TPRICE_LIST_ITEMS_TABLE_ID" class="well">
            <h2>@RapidVet.Resources.PriceListCategory.SelectCategory</h2>
            @* when selecting cateroy from Categories DDL, the data is loaded here by js from
        PriceListItems\CategoryItemsView *@
        </div>
    </div>
</div>
