﻿@model RapidVet.WebModels.Finance.PriceListItemModel
@using RapidVet.Repository.Finances
@{
    
    List<SelectListItem> categories;
    using (IPriceListCategoryRepository repository = new PriceListCategoryRepository())
    {
        categories = repository.GetDropdownList(CurrentUser.ActiveClinicId);
    }

    if (Model.CategoryId != 0)
    {
        foreach (var category in categories)
        {
            category.Selected = category.Value == Model.CategoryId.ToString();
        }
    }
}

@*<input type="hidden" name="CategoryId" id="CategoryId" value="@Model.CategoryId"/>*@
<input type="hidden" name="Id" id="Id" value="@Model.Id"/>



<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.Name</label>
    <div class="controls">
        @Html.TextBoxFor(m => m.Name, new { autofocus = "autofocus" })
        <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.Code</label>
    <div class="controls">
        @Html.EditorFor(model => model.Catalog)
        <span class="help-inline">@Html.ValidationMessageFor(model => model.Catalog)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.Barcode</label>
    <div class="controls">
        @*@Html.EditorFor(model => model.Barcode)*@
        @Html.TextBoxFor(model => model.Barcode, new { onkeyup = "BarcodeRead();" })
        <span class="help-inline">@Html.ValidationMessageFor(model => model.Barcode)</span>
    </div>
</div>


<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.Category</label>
    <div class="controls">
      
            <select id="CategoryId" name="CategoryId">
                @foreach (var category in categories)
                {
                    <option value="@category.Value" @if (category.Selected)
                                                  { <text> selected="selected" </text>      }>@category.Text</option>
                }
            </select>
  

    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.Type</label>
    <div class="controls">
        @Html.EditorFor(model => model.ItemTypeId)
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.IsRabiesVaccine</label>
    <div class="controls">
        @Html.EditorFor(model => model.IsRabiesVaccine)
        <span class="help-inline">@Html.ValidationMessageFor(model => model.IsRabiesVaccine)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.FixedPrice</label>
    <div class="controls">
        @Html.EditorFor(model => model.FixedPrice)
        <span class="help-inline">@Html.ValidationMessageFor(model => model.FixedPrice)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.PriceListItem.CopyFixedPrice</label>
    <div class="controls">
        @Html.EditorFor(model => model.CopyFixedPrice)
        <span class="help-inline">@Html.ValidationMessageFor(model => model.CopyFixedPrice)</span>
    </div>
</div>
