﻿@using RapidVet.Helpers;
@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Finance.PriceShiftModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Tariff.PriceShift</h3>
</div>
@using (Ajax.BeginForm("PriceShift", "Tariffs", new AjaxOptions()
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "Success"
    },
                       new
                           {
                               @class = ".form-inline",
                               id = TariffConsts.TARIFF_PRICE_SHIFT_FORM,
                           }))
{
    <div class="modal-body">
        <div class="row">
            <div class="row-fluid">
                <div class="span3">@Html.EditorFor(model => model.PriceShiftAction)</div>
                <div class="span3">@Html.Action("TariffDDL", "Tariffs")</div>
                <div class="span1 bold">@RapidVet.Resources.PriceShift.In</div>
                <div class="span2">@Html.TextBoxFor(model => model.Amount, new { @class = "input-mini" })</div>
                <div class="span3">@Html.EditorFor(model => model.PriceShiftMethod)</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group" style="width: 38%; margin: 0 auto;">
            <div class="span2">

                <button type="submit"
                        class="btn ok">
                    @RapidVet.Resources.Global.Ok
                </button>
            </div>
        </div>
    </div>
}
