﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Finance.PriceListModel
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
    var categoryId = Url.RequestContext.RouteData.Values["id"];
    var gridId = PriceListItemsConsts.PRICE_LIST_ITEMS_GRID_ID;
    var itemModalId = PriceListItemsConsts.PRICE_LIST_ITEMS_MODAL_ID;
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/grid.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>פריטים בקטגוריית @ViewBag.CategoryName</h2>
<br />

<a onclick="GetModal('/PriceListItems/Create/@categoryId','itemsModal');" class="btn btn-primary" style=" margin-left: 20px;">
    <i class="icon-plus"></i>
    פריט חדש
</a>
 @Html.CheckBox("cb_DisplayInactiveItems", (bool)ViewBag.DisplayInactiveItems) @RapidVet.Resources.PriceListItem.DisplayInactiveItems


<br />
<br />
<table class="table table-striped table-bordered table-condensed" style="width: 100%;">
    <thead>
        <tr>
            <th style="vertical-align:middle">@RapidVet.Resources.PriceListItem.Name</th>
            @if ((bool)ViewBag.DisplayInactiveItems)
            { 
            <th style="vertical-align:middle;width: 50px;">@RapidVet.Resources.PriceListItem.ItemStatus</th>
            }
            @foreach (var tariff in Model.Tariffs)
            {
                <th style="width: 5%;vertical-align:middle">@Html.DisplayFor(modelTariff => tariff.Name)</th>
            }
        </tr>
    </thead>
    <tbody>

        @if (Model.Items.Any())
        {
            foreach (var item in Model.Items)
            {
            <tr>
                <td style="vertical-align: middle;">
                    <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                    <br />
                    <a onclick="GetModal('@Url.Action("Delete", "PriceListItems", new { id = item.Id })','@PriceListItemsConsts.PRICE_LIST_ITEMS_MODAL_ID');">
                        <i class="icon-trash"></i>
                        @RapidVet.Resources.PriceListItem.DeleteItem
                    </a>
                    |
                    <a onclick="GetModal('@Url.Action("Edit", "PriceListItems", new { id = item.Id })','@PriceListItemsConsts.PRICE_LIST_ITEMS_MODAL_ID');">
                        <i class="icon-edit"></i>
                        @RapidVet.Resources.PriceListItem.EditItem
                    </a>
                    |
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                </td>
                @if ((bool)ViewBag.DisplayInactiveItems)
                {
                    <td style="vertical-align: middle;">
                        @if (item.Available)
                        {
                            <text>@RapidVet.Resources.PriceListItem.Available</text>
                        }
                        else
                        {
                            <text>@RapidVet.Resources.PriceListItem.NotAvailable</text>
                        }
                    </td>
                }
                    @foreach (var price in item.ItemsTariffs.OrderBy(it => it.TariffName))
                    {
                        var elementName = string.Format("{0}_{1}_{2}", "itemTariff", item.Id, price.TariffId);
<td>
                        @using (Ajax.BeginForm("PriceUpdate", "PriceListItems", new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                }, new { @class = "item-price" }))
                        {
                            <input type="hidden" name="itemId" id="@string.Format("{0}_{1}", elementName, "itemId")" value="@price.ItemId"/>
                            <input type="hidden" name="tariffId" id="@string.Format("{0}_{1}", elementName, "tariffId")" value="@price.TariffId"/>
                            <input type="hidden" name="TariffName" id ="@string.Format("{0}_{1}", elementName, "TariffName")id" value="@price.TariffName"/>
                            <input class="input-mini"
                                       data-val="true"
                                       data-val-number="The field Price must be a number." 
                                       data-val-regex="מספר אינו תקין"
                                       data-val-regex-pattern="(^N/A$)|(^[-]?(\d+)(\.\d{0,3})?$)|(^[-]?(\d{1,3},(\d{3},)*\d{3}(\.\d{1,3})?|\d{1,3}(\.\d{1,3})?)$)"
                                     @*  data-val-required="שדה זה הינו חובה" *@
                                       id="@elementName" 
                                       name="price" onchange=" $(this).parent('form').submit(); "
                                       type="text"
                                       value="@price.Price" />

                            <span class="help-block">@Html.ValidationMessage(elementName)</span>
                        }
                    </td>
                }
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>
</table>


@Muze.ModalDiv(PriceListItemsConsts.PRICE_LIST_ITEMS_MODAL_ID, "width: auto;")

<script type="text/javascript">
    $("#cb_DisplayInactiveItems").change(function () {
        var checked = $(this).is(':checked');
        var url = '@Url.Action("CategoryItemsView", "PriceListItems")' + '?displayInactiveItems=' + checked;

        // redirect
        window.location.href = url;
    });


</script>
