﻿@using RapidVet.RapidConsts.Controllers
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/PriceList/Categories.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style>
    .tblBtn {
        width: 60px;
    }
</style>
    <a onclick="GetModal('@Url.Action("PriceShift", "PriceListItems")','@TariffConsts.TARIFF_MODAL_ID')" class="btn btn-primary">
        <i class="icon-retweet"></i>
        @RapidVet.Resources.Tariff.PriceShift
    </a>

    <a onclick="GetModal('@Url.Action("DuplicatePricesTariff", "PriceListItems")','@TariffConsts.TARIFF_MODAL_ID')" class="btn btn-primary">
        <i class="icon-random"></i>
        @RapidVet.Resources.DuplicateTariffPrices.DuplicatePricesTitle
    </a>
    <a onclick="GetModal('@Url.Action("DuplicatePricesClinic", "PriceListItems")','@TariffConsts.TARIFF_MODAL_ID')" class="btn btn-primary">
        <i class="icon-refresh"></i>
        @RapidVet.Resources.DuplicateTariffPrices.DuplicatePricesClinicTitle
    </a>

<br/><br/>
<h2>קטגוריות מחירון</h2>
<br />
<a class="btn btn-primary" data-bind="click: showCreateCategory">
    <i class="icon-plus"></i>
    הוספת קטגוריה
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 60%;">שם</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: categories">

        <tr>
            <td data-bind="text: name"></td>
            <td>
                <a class="btn btn-primary tblBtn" data-bind="attr: { href: itemsUrl }">
                    <i class=" icon-th-list"></i>
                    פריטים
                </a>

                <a class="btn btn-primary tblBtn" data-bind="click: $parent.showEditCategory">
                    <i class="icon-edit"></i>
                    עריכה                </a>

                <a class="btn btn-danger tblBtn" data-bind="click: $parent.showDeleteCategory">
                    <i class="icon-remove"></i>
                    מחיקה                </a>

            </td>
        </tr>
    </tbody>
</table>


<div class="modal hide fade" id="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 data-bind="text: modalTitle"></h3>
    </div>
    <div class="modal-body">
        <form method="POST" id="form" class="form-inline" data-bind="attr: { action: formAction }">
            <div class="row-fluid">
                <div class="span3">
                    <label>שם</label>
                </div>
                <div class="span8">
                    
                        <input type="text" required name="Name" data-bind="value: categoryName" autofocus/>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="controls" style="text-align: left;">
                    <button data-bind="click: submit" class="btn ok">
                        <img src="/Content/img/RapidVet/ok-v.png"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal hide fade" id="deletemodal" data-bind="with: categoryToDelete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>מחיקת קטגוריה:  <span data-bind="text: name" style="text-decoration: underline;"></span></h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Delete", "PriceListCategories", FormMethod.Post, new { id = "deleteForm", @class = "form-horizontal" }))
        {
            <input type="hidden" name="Id" data-bind="value: id " />
            <div class="row-fluid" align="center">
                <div class="span6">
                    <button data-bind="click: $parent.deleteCategory" style="width:60%;" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
                </div>
                <div class="span6">
                    <button class="btn btn-primary btn-large" style="width:60%;" data-dismiss="modal">@RapidVet.Resources.Global.Cancellation</button>
                </div>
            </div>
        }
    </div>
</div>


@Muze.ModalDiv(TariffConsts.TARIFF_MODAL_ID)
