﻿@using RapidVet.RapidConsts.Controllers
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/App/grid.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<div id="@PriceListItemsConsts.PRICE_LIST_ITEMS_CONTAINER_ID">
    @Html.Action("Index", "PriceListItems")
</div>
