﻿@using RapidVet.RapidConsts.Controllers
@{
    var selectedObj = Request.Params["selected"];
    int selected = 0;
    if (selectedObj != null)
    {
        int.TryParse(selectedObj.ToString(), out selected);
    }
}
<div class="row-fluid">

    @if (selected > 0)
    {
@*   
        <a href="javascript:GetModal('@Url.Action("Create", "PriceListCategories", new { id = selected })','@CategoryConsts.CATEGORY_MODAL_ID');" class="btn btn-primary">
            <i class="icon-plus"></i>@RapidVet.Resources.PriceListCategory.Create
        </a>*@

        <a href="javascript:GetModal('@Url.Action("Create", "PriceListItems", new { id = selected })','@PriceListItemsConsts.PRICE_LIST_ITEMS_MODAL_ID');"
                    class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.PriceListItem.AddItemToCategory</a>

        <a href="javascript:GetModal('@Url.Action("Edit", "PriceListCategories", new { id = selected })','@CategoryConsts.CATEGORY_MODAL_ID')" class="btn btn-primary">
            <i class="icon-edit"></i>
            @RapidVet.Resources.PriceListCategory.Edit
        </a>

        <a href="javascript:GetModal('@Url.Action("Delete", "PriceListCategories", new { id = selected })','@CategoryConsts.CATEGORY_MODAL_ID')" class="btn btn-primary">
            <i class="icon-trash"></i>
            @RapidVet.Resources.PriceListCategory.Delete
        </a>


    }
</div>
<div class="row-fluid">&nbsp;</div>
