﻿@using RapidVet.RapidConsts.Controllers
@model IEnumerable<RapidVet.Model.Finance.PriceListCategory>
@{
    var selectedObj = Url.RequestContext.RouteData.Values["id"];
    int selected = 0;
    if (selectedObj != null)
    {
        int.TryParse(selectedObj.ToString(), out selected);
    }
}



<div class="row-fluid">
    <select name="categoriesList" id="categoriesList" onchange="CategoryChange();">

        @if (selected == 0)
        {
            <option value="0" selected="selected">@RapidVet.Resources.PriceListCategory.SelectCategory</option>
        }
        else
        {
            <option value="0">@RapidVet.Resources.Global.Select</option>
        }

        @foreach (var category in Model)
        {
            if (category.Id == selected)
            {
            
            <option value="@category.Id" selected="selected">@Html.DisplayFor(modelCategory => category.Name)</option>
            }
            else
            {
            <option value="@category.Id">@Html.DisplayFor(modelCategory => category.Name)</option>
            }
        }

        <option value="-1">
            @RapidVet.Resources.PriceListCategory.Create
        </option>
    </select>
</div>
<div class="row-fluid" id="@CategoryConsts.MENU_BAR">
    @Html.Partial("_CategoryMenuBar", new { selected = selected })
</div>
