﻿@model RapidVet.WebModels.Finance.PriceListCategoryModel

@{
    var modalId = Request.Params["modalId"];
    var targetElementId = Request.Params["priceListContainerId"];
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.PriceListCategory.Create</h3>
</div>
@using (Ajax.BeginForm("Create", "PriceListCategories", new AjaxOptions()
                                                         {
                                                             HttpMethod = "Post",
                                                             InsertionMode = InsertionMode.Replace,
                                                             OnSuccess = "Success"
                                                         },
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "categoryCreate",
                                                             }))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.ClinicId)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Available)
        @Muze.AjaxFormHidden(modalId,targetElementId,Url.Action("Index","PriceListItems", new{id = Model.ClinicId}))
        
        <div class="control-group">
                <label class="control-label">@Html.LabelFor(m => m.Name)</label>
                <div class="controls">@Html.EditorFor(m => m.Name)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>
    </div>
       <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                       @RapidVet.Resources.Global.Create
                </button>
            </div>
        </div>
    </div>
}
