﻿@model RapidVet.WebModels.Finance.PriceListCategoryModel
@{
    var modalId = Request.Params["modalId"];
    var targetElementId = Request.Params["priceListContainerId"];
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.PriceListCategory.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Ajax.BeginForm("Delete", "PriceListCategories", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "Success"
        },
                           new
                               {
                                   @class = "form-horizontal",
                                   id = "categoryDelete",
                               }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClinicId)
        @Html.HiddenFor(model => model.Name)
        @Muze.AjaxFormHidden(modalId, targetElementId, Url.Action("Index", "PriceListItems", new { id = Model.ClinicId }))
        @Muze.DeleteButtons()

    }

</div>
