﻿@model RapidVet.WebModels.Finance.PriceListCategoryModel
@{
    var targetElementId = Request.Params["categoryColumnId"];
    var itemsGridId = Request.Params["itemsGridId"];
    var priceListContainerId = Request.Params["priceListContainerId"];
    var categoryModalId = Request.Params["categoryModalId"];
    var itemModalId = Request.Params["itemModalId"];
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.PriceListCategory.Edit</h3>
</div>
@using (Ajax.BeginForm("Edit", "PriceListCategories", new AjaxOptions()
                                                         {
                                                             HttpMethod = "Post",
                                                             InsertionMode = InsertionMode.Replace,
                                                             OnSuccess = "categoryColumnSuccess"
                                                         },
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "categoryEdit",
                                                             }))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClinicId)
        @Muze.AjaxFormHidden(categoryModalId, targetElementId, Url.Action("CategoryColumn", "PriceListItems"
                                                                        , new { id = Model.Id,
                                                                        categoryColumnId = targetElementId,
                                                                        itemsGridId = itemsGridId,
                                                                        priceListContainerId = priceListContainerId,
                                                                        categoryModalId = categoryModalId,
                                                                        itemModalId = itemModalId,
                                                                        active = true
                                                                        }))
        
        <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Name)</label>
            <div class="controls">@Html.EditorFor(m => m.Name)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                    @RapidVet.Resources.Global.Save
                </button>
            </div>
        </div>
    </div>
}
