﻿@model IEnumerable<RapidVet.WebModels.Finance.PriceListCategoryModel>
@{
    var modalId = Request.Params["categoryModalId"];
    var targetElementId = Request.Params["priceListContainerId"];
    var itemsGridId = Request.Params["itemsGridId"];
    var itemModalId = Request.Params["itemModalId"];
    var categoryColumnId = Request.Params["categoryColumnId"];
}

<div id="categoriesGrid">
    <h2>@RapidVet.Resources.PriceListCategory.Categories</h2>
    <div>
        <a href="javascript:GetModal('@Url.Action("Create", new {modalId = modalId, priceListContainerId = targetElementId })','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
    </div>
    <br />
    <table id="categoriesTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>@RapidVet.Resources.PriceListCategory.Name
            </th>
            <th>@RapidVet.Resources.PriceListCategory.Available
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.Name)
                </td>
                <td>
                    @if (item.Available)
                    {
                        <i class="icon-ok"></i>
                    }
                    else
                    {
                        <i class="icon-remove"></i>
                    }
                </td>
                <td>
                    <a href="javascript:GetModal('@Url.Action("Delete", new { id = item.Id, modalId = modalId, priceListContainerId = ""  })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |
                  <a href="javascript:GetModal('@Url.Action("Edit", new { id = item.Id, modalId = modalId,  })','@modalId');">
                      <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                </td>
            </tr>
        }
    </table>

    <div id="CategoryModal" class="modal hide fade">
    </div>
</div>
