﻿<div class="invoice-container">
    בחר חשבונית לשיוך:
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>מספר ח-ן</th>
                <th>תאריך</th>
                <th>סכום</th>
                <th>יתרה לתשלום</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: OpenInvoices">
            <tr>
                <td>
                    <input data-bind="checkedValue: $data, checked: $root.RelatedDocuments" type="checkbox" /></td>
                <td data-bind="text: SerialNumber"></td>
                <td data-bind="text: Date"></td>
                <td data-bind="text: Sum"></td>
                <td data-bind="text: SumToPay"></td>
            </tr>
        </tbody>
    </table>
    <h3>סה"כ:
        <span data-bind="text: SelectedOpenInvoicesSum"></span>
    </h3>

</div>
