﻿<div class="form-inline control-group ">
    <div class="invoice-container">
        <table class=" invoice-table">
            <tbody>
                <tr>
                    <td>
                        <label>מנפיק</label></td>
                    <td>
                        <label>
                            <select data-bind=" value: IssuerId, options: IssuerOptions, optionsText: 'Text', optionsValue: 'Value', disable: disableIssuerChange"></select>
                        </label>
                    </td>


                    <td>
                        <label>לקוח</label></td>
                    <td width="250px">
                        <input id="client-search" type="text" class="search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
                        @*<label>
                            <select data-bind=" value: ClientId, options: ClientOptions, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר...'"></select>
                        </label>*@
                        <div class="row error-message" data-bind="validationMessage: ClientId"></div>
                    </td>
                    <td width="250px">   <label id="no-results" style="display:none;"> לא נמצאו תוצאות</label></td>
                </tr>
                <tr>
                    <td>
                        <label>רופא מטפל</label></td>
                    <td>
                        <label>
                            <select class="ddlDoctorId" data-bind=" value: DoctorId, options: DoctorOptions, optionsText: 'Text', optionsValue: 'Value', Selected: 'Selected'"></select>
                        </label>
                    </td>
                    <td>
                        <label>שם לקוח</label></td>
                    <td>
                        <label>
                            <input type="text" data-bind="value: ClientName, attr: { 'readonly': ClientId() != 0  }" class="input-large" />
                        </label>
                    </td>
                    <td width="250px" data-bind="visible: ClientId() != 'undefined' && ClientId()  > 0"> <span style="font-weight: bold; float: right">&nbsp;יתרה:&nbsp;</span> 
                    <div style="direction: ltr; text-align: left; float: right">
                         <span data-bind="css: ClientBalance() >= 0 ? 'positiveBalance' : 'negativeBalance',text: ClientBalance"></span>
                    </div>
                    </td>
                </tr>
                <tr>
                    @if (ViewBag.DocType == 2 || ViewBag.DocType == 4)
                    { 
                    <td><input type="checkbox" data-bind="checked: CasualClient" />
                            <label> לקוח מזדמן </label></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td></td>

                    <td>
                        <label>כתובת</label></td>
                    <td>
                        <label>
                            <input type="text" data-bind="value: ClientAddress, attr: { 'readonly': ClientId() != 0 }" class="input-large" />
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <label>טלפון</label></td>
                    <td>
                        <label>
                            <input type="text" data-bind="value: ClientPhone, attr: { 'readonly': ClientId() != 0 }" class="input-large" />
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--ko if: Receipt() && !Invoice()-->
    @Html.Partial("_ChooseInvoice")
    <!--/ko-->
  @*  <div class="invoice-container">*@
      

    @* </div> *@
    <!--ko if: Receipt -->
    @Html.Partial("_Payment")
    <!--/ko-->
    @Html.Partial("_InvoiceItems")

    <div @*class="invoice-container"*@ style="text-align: left">

        <form>
            <a class="btn btn-inverse" href="@Url.Action("RedirectToLastClient")">ביטול</a>
            @*  <button class="btn ok" data-bind="click: save">*@
            <button class="btn ok" data-bind="click: save">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </form>
    </div>
    @Html.Partial("_PriceList")
</div>

