﻿<div class="invoice-container">
    <h4>
        פריטים לחיוב &nbsp;
        <button class="btn btn-primary" data-bind="click: showPriceList">הוסף ממחירון</button>
        <button class="btn btn-primary" data-bind="click: showEmptyItemLineModal">הוסף שורה ריקה</button>
    </h4>
    <div>
        <table class="table invoice-item">
            <tbody>
                <tr>
                    <td>
                        <label>מק"ט</label>
                    </td>
                    <td>
                        <label>תיאור</label>
                    </td>
                    <td>
                        <label>כמות</label>
                    </td>
                    <td>
                        <label>מחיר ליחידה ללא מע"מ</label>
                    </td>
                    <td>
                        <label>מחיר ליחידה כולל מע"מ</label>
                    </td>
                    <td>
                        <label>אחוזי הנחה  ליחידה</label>
                    </td>
                    <td>
                        <label>הנחה נוספת ליחידה בשקלים</label>
                    </td>
                    <td>
                        <label>סה"כ ללא מע"מ</label>
                    </td>
                    <td>
                        <label>סה"כ כולל מע"מ</label>
                    </td>
                    <td>
                        <label>נוסף ע"י</label>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody data-bind="foreach: items, validationOptions: { insertMessages: false }">
                <!-----------------------------------------GENERAL ITEM INFO ----------------------------------------------->
                <tr>
                    <td style="display:none;">
                        <label data-bind="value: itemExaminationID" />
                        <label data-bind="value: itemMedicationID" />
                        <label data-bind="value: itemPreventiveMedicineID" />
                        <label data-bind="value: itemTreatmentID" />
                    </td>
                    <td>
                        <label>
                            <input type="text" class="input-small" data-bind="value: CatalogNumber, disable: !AllowUpdate()" readonly />
                        </label>
                    </td>
                    <td>
                        <label>
                            <input class="input-medium" type="text" data-bind="value: Description, disable: !AllowUpdate()" />
                        </label>
                        <div class="row error-message" data-bind="validationMessage: Description"></div>
                    </td>

                    <!----------------------------------------ITEM PRICE CALCULATIONS ------------------------------------------>

                    <td>
                        <label>
                            <input class="input-mini fix-negativ OnlyPlus1 QuantityR" type="number" data-bind="value: Quantity" id="QuantityR" />
                        </label>@*, disable: !AllowUpdate()*@
                        <script type="text/javascript">
                            $('.OnlyPlus1').bind('input propertychange', function () {
                                if (!isNumberOnlyPlus1($(this).val()))
                                    $(this).val("");
                            });
                            function isNumberOnlyPlus1(n) {
                                if (window.location.href.indexOf("/Refound") > -1)
                                    return (!isNaN(parseFloat(n.toString().split(',').join(''))) && isFinite(n)) || n == '.';
                                else
                                    return true;
                            }
                        </script>

                        <div class="row error-message" data-bind="validationMessage: Quantity"></div>
                    </td>

                    <td data-bind="text: UnitPrice().toFixed(2)" class="fix-negativ"></td>

                    <td data-bind="text: PriceWithVAT().toFixed(2)" class="fix-negativ"></td>

                    <td>
                        <label>
                            <input class="input-mini fix-negativ" type="number" data-bind="value: DiscountPercentage, disable: !AllowUpdate()" />
                        </label>
                        <div class="row error-message" data-bind="validationMessage: DiscountPercentage" />
                    </td>

                    <td>
                        <label>
                            <input class="input-mini fix-negativ" type="number" data-bind="value: Discount, disable: !AllowUpdate()" />
                        </label>
                        <div class="row error-message" data-bind="validationMessage: Discount"></div>
                    </td>

                    <td data-bind="text: TotalBeforeVAT().toFixed(2)" class="fix-negativ TotalBeforeVAT"></td>
                    
                    <td data-bind="text: TotalAfterVAT().toFixed(2)" class="fix-negativ TotalAfterVAT"></td>
                    <td data-bind="text: AddedBy"></td>
                    <td>
                        <label data-bind="visible: AllowUpdate">
                            <input type="checkbox" data-bind="checked: UpdateItemInVisit" />
                            עדכן בתיק
                        </label>
                    </td>
                    <td>
                        <label>
                            <button class="btn btn-link" data-bind="click: $root.removeItem">X</button>
                        </label>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>    
</div>
<!-----------------------total----------------------------->
<div class="invoice-container row">

    <div class="span5">
        הערות:
        <label>
            <textarea cols="50" rows="5" data-bind="value: Comments"></textarea>
        </label>
    </div>
    <div class="span7">
        <!--ko if: Invoice -->
        <div class="row-fluid">
            <div class="span4">סה"כ לפני מע"מ:</div>
            <div class="span3 fix-negativ"><span data-bind="text: TotalBeforeVAT().toFixed(2)"></span></div>
        </div>
        <!--/ko-->
        <!--ko if: Invoice() || !Receipt() -->
        <div class="row-fluid">
            <div class="span4">הנחה כללית:</div>
            <div class="span3">
                <label>
                    <input type="number" class="input-small fix-negativ" data-bind="value: GlobalDiscount, disable: partialPaymentActive()" />
                </label>
                @*    <div class="row error-message" data-bind="validationMessage: GlobalDiscount "></div>*@
            </div>
            <div class="span4">
                <label>
                    <input type="checkbox" data-bind="checked: GlobalDiscountIsPercent, disable: roundTotal() || partialPaymentActive()" />
                </label>&nbsp; הנחה באחוזים
            </div>
        </div>

        <div class="row-fluid">
            <div class="span4">
                סה"כ אחרי הנחה:
            </div>
            <div class="span3 fix-negativ"><span data-bind="text: TotalAfterDiscount().toFixed(2)"></span></div>
        </div>
        <!--/ko-->
        <!--ko if: Invoice -->
        <div class="row-fluid" data-bind="visible: DocumentTypeId() != 1">
            <div class="span4">
                <label>
                    <input type="checkbox" data-bind="checked: roundTotal" style="text-decoration:underline;" />
                </label> &nbsp; @RapidVet.Resources.Finance.RoundTotal
            </div>
            <div class="span3 fix-negativ">
                <span data-bind="text: RoundingFactorForDisplay()"></span>

            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">מע"מ: </div>
            <div class="span3">
                <span data-bind="text: TaxRate"></span>%
            </div>
            <div class="span4">
                <label>
                    <input type="checkbox" data-bind="checked: NoVAT" />
                </label>
                &nbsp; פטור ממע"מ
            </div>
        </div>
        <!--/ko-->


        <div class="row-fluid">
            <div class="span4">
                סה"כ:
            </div>
            <div class="span3 fix-negativ">
                <span data-bind="text: TotalToPay().toFixed(2)"></span>

            </div>
            <div class="error-message" data-bind="validationMessage: TotalToPay"></div>

        </div>
    </div>
</div>

<div id="partialPaymentModel" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Finance.PartialPaymentCaption</h3>
    </div>
    <div class="modal-body">
        <h3>
            @RapidVet.Resources.Finance.PartialPaymentText
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div style="margin-top: 15px;">
                <a data-bind="click: function () { partialPayment(); }" class="btn btn-primary">@RapidVet.Resources.Global.Ok</a>

                <a onclick="$('#partialPaymentModel').modal('hide')" class="btn btn-inverse">@RapidVet.Resources.Global.Cancellation</a>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function SetTotalBeforeVAT() {
        setCheckMinus();
        if (window.location.href.indexOf("/Receipt") > -1) {
            $('.TotalBeforeVAT').text($('.TotalAfterVAT').text());
        }
    }

    $(".QuantityR").bind('keyup mouseup', function () {
        alert();
        if (this.value * 1.0 < 0) {
            this.value = "0";
        }
    });
    function setCheckMinus()
    {
        for (var i = 0; i < $(".QuantityR").length; i++) {
            $("#" + $(".QuantityR")[i].id).bind('keyup mouseup', function () {
                if (this.value * 1.0 < 0) {
                    this.value = "0";
                }
            });
        }
    }
    
</script>