﻿<!---------------------------------------------- PAYMENT OPTIONS MENU------------------------------------------>
<div class="invoice-container">
    <table class="invoice-table">
        <tbody>
            <tr>
                <td>
                    <label>אפשרויות תשלום</label>
                </td>
                <td>
                    <input type="checkbox" data-bind="checked: CashPayment" />
                    <label>מזומן</label>
                </td>
                <td>
                    <input type="checkbox" id="cb_ChequePayment" data-bind="checked: ChequePayment" />
                    <label>המחאה</label>
                </td>
                <td>
                    <input type="checkbox" data-bind="checked: CreditPayment, disable: disableCreditPayment" />
                    <label>אשראי</label>
                </td>

                <td style="width:15%;">
                    <input type="checkbox" data-bind="checked: BankTransfer" />
                    <label>העברה בנקאית</label>
                </td>
                <td>
                    <input type="checkbox" class="NoMham" data-bind="checked: NoMham"  />
                    <label class="NoMhamlabel">ללא מע"מ</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!---------------------------------------------- CASH PAYMENT ------------------------------------------------->
<div class="invoice-container" data-bind="visible: CashPayment">
    <h4>תשלום במזומן</h4>
    <table class="invoice-table">
        <tbody>
            <tr>

                <td>
                    <label>סכום</label>
                </td>
                <td>
                    <label>
                        <input type="number" class="fix-negativ" data-bind="value: CashPaymentSum" />
                    </label>
                   @* <div class="row error-message" data-bind="validationMessage: CashPaymentSum"></div>*@
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!---------------------------------------------- CHEQUE PAYMENT------------------------------------------------>
<div class="invoice-container" data-bind="visible: ChequePayment">
    <h4 style="margin-bottom: 6px;">
        @RapidVet.Resources.Finance.ChequePayment
        <button class="btn btn-primary" data-bind="click: addCheque">@RapidVet.Resources.Finance.AddCheque</button>
        <button class="btn btn-primary" data-bind="click: showMultipleCheques">@RapidVet.Resources.Finance.MultipleCheques</button>
    </h4>
    <div>
        <label id="chequeDetailsEroorMsg" style="color: red; display: none;">@RapidVet.Resources.Finance.ChequeDetailsErrorMessage</label>
    </div>

    @*<table class="invoice-table">*@
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@RapidVet.Resources.Finance.ChequeIndex</th>
                <th>@RapidVet.Resources.Finance.Date</th>
                <th>@RapidVet.Resources.Finance.Bank</th>
                <th>@RapidVet.Resources.Finance.Branch</th>
                <th>@RapidVet.Resources.Finance.Account</th>
                <th>@RapidVet.Resources.Finance.ChequeNumber</th>
                <th>@RapidVet.Resources.Finance.Sum</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Cheques">
            <tr>
                <td style="width: 50px;"><span data-bind="text: ($index()  + 1) "></span></td>


                <td style="width: 250px;">
                    <input type="text" class="input-small " readonly data-bind="datepicker: true, value: ChequeDate" />
                </td>
                <td style="width: 250px;">
                    <label>                        
                        <select class="input-large BankCodeId" data-bind="value: BankCodeId, options: $parent.BankCodeOptions, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '@RapidVet.Resources.Finance.ChooseBank'"></select>
                    </label>
                </td>
                <td style="width: 250px;">
                    <input type="text" class="input-mini Branch" data-bind="value: Branch" />
                </td>
                <td style="width: 250px;">

                    <input type="text" class="input-small Account" data-bind="value: Account" />
                </td>
                <td style="width: 250px;">

                    <input class="input-medium ChequeNumber" type="text" data-bind="value: ChequeNumber" />

                </td>
                <td style="width: 250px;">

                    <input type="number" class="input-small fix-negativ" data-bind="value: Sum" />

                   @* <div class="row error-message" data-bind="validationMessage: Sum"></div>*@
                </td>
                <td>

                    <a data-bind="click: $parent.removeCheque" data-toggle="tooltip" data-placement="top" title="מחיקת רשומה" data-original-title="מחיקת רשומה"><i class="icon-remove"></i></a>

                    @*<button class="btn btn-link" data-bind="click: $parent.removeCheque">X</button></td>*@
            </tr>
        </tbody>
    </table>


</div>
<!---------------------------------------------- CREDIT PAYMENT------------------------------------------------>
<div class="invoice-container" data-bind="visible: CreditPayment">
    <h4>
        תשלום בכרטיס אשראי
    </h4>
    <table class="invoice-table" data-bind="visible: EasyCard">
        <tbody>
            <tr data-bind="visible: !disableCreditPayment()">
                <td width="68px" data-bind="visible: !ManualCreditPayment()">
                    <label>בחר מסוף</label>
                </td>
                <td width="136px" data-bind="visible: !ManualCreditPayment()">
                    <label>

                        <select class="input-small" data-bind=" value: terminalObject, options: TerminalOptions, optionsText: 'Name',optionsAfterRender: $root.selectDefault"></select>
                    </label>
                </td>
                <td width="115px" data-bind="visible: !ManualCreditPayment()">
                    <label>הזן סכום</label>
                </td>
                <td width="234px" data-bind="visible: !ManualCreditPayment()">
                    <label>
                        <input type="number" class="input-small fix-negativ" data-bind="value: EasyCardSum" />
                    </label>
                    <div class="row error-message" data-bind="validationMessage: EasyCardSum"></div>
                </td>
                <td width="50px" data-bind="visible: !ManualCreditPayment()">
                    <button class="btn btn-primary"
                            onclick="window.open('/EasyCard/Redirect?issuerId=' + viewModel.IssuerId() + '&amount=' + viewModel.EasyCardSum() + '&terminalId=' + viewModel.terminalObjectId(), '_blank', 'height=700,width=850,status=yes,toolbar=no,menubar=no,location=no')">
                        המשך
                    </button>
                </td>
                <td>
                    <input type="checkbox" data-bind="checked: ManualCreditPayment, visible: !disableCreditPayment()" />
                    <label>עסקה ידנית</label>
                </td>
                
            </tr>
            <tr data-bind="visible: ((ManualCreditPayment()) || (EasyCardPaidSum() != 0))">
                @* data-bind="visible: EasyCardPaidSum() != 0">*@
                <td>
                    <label>סוג עסקה</label>
                </td>
                <td>
                    <label>
                        <select class="input-small" data-bind="value: creditPaymentTypeObject, options: CreditPaymentTypeOptions, optionsText: 'Name'"></select>
                        @*<input type="text" class="input-small" data-bind="value: EasyCardDealType" />*@
                    </label>
                </td>

                <td>
                    <label>סוג כרטיס</label>
                </td>
                <td>
                    <label>
                        <select class="input-medium" data-bind=" value: CreditCardCodeId, options: CreditCardCodeOptions, optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </td>

                <td>
                    <label>מספר שובר</label>
                </td>
                <td>
                    <label>
                        <input id="DealNumber" type="text" class="input-small" data-bind="value: CreditDealNumber" />
                    </label>
                </td>

                <td>
                    <label>מספר אישור</label>
                </td>
                <td>
                    <label>
                        <input id="OkNumber" type="text" class="input-small" data-bind="value: CreditOkNumber" />
                    </label>
                </td>
                <td>
                    <label>4 ספרות אחרונות</label>
                </td>
                <td>
                    <label>
                        <input id="CardNumber" class="input-mini" type="text" data-bind="value: CardNumberLastFour" />
                    </label>
                </td>
            </tr>
            <tr data-bind="visible:  ((ManualCreditPayment()) || (EasyCardPaidSum() != 0))">
                <td>
                    <label>תוקף</label>
                </td>
                <td>
                    <label>
                        <input type="number" min="@DateTime.Now.Year" max="@DateTime.Now.AddYears(20).Year" class="input-small" data-bind="value: CreditValidDateYear" style="width:50px;" /> /
                        <input type="number" min="1" max="12" class="input-small" data-bind="value:CreditValidDateMonth" style="width:35px;" />
                    </label>
                </td>

                <td data-bind="visible: CreditPaymentPostponed()">
                    <label>מספר תשלומים</label>
                </td>
                <td data-bind="visible: CreditPaymentPostponed()">
                    <label>
                        <input type="number" class="input-small fix-negativ" data-bind="value: NumOfCreditPayments" />
                    </label>
                </td>


                <td>
                    <label>סכום תשלום ראשון</label>
                </td>
                <td>
                    <label>
                        <input type="number" class="input-small fix-negativ FirstCreditPaymentSum" data-bind="value: FirstCreditPaymentSum" />
                    </label>
                </td>
                <td >
                    <label>סכום תשלום נוסף</label>
                </td>
                <td >
                    <label>
                        <input type="number" class="input-small fix-negativ" data-bind="value: FurtherCreditPaymentsSum" />
                    </label>
                </td>
                <td >
                    <label>שולם</label>
                </td>
                <td >
                    <label>
                        <input id="Total" class="input-small fix-negativ" type="text" data-bind="value: EasyCardTotal" readonly />
                    </label>
                </td>
            </tr>
        </tbody>

    </table>
    <table class="invoice-table" data-bind="visible: !EasyCard() && !disableCreditPayment()">
        <tbody>
            <tr>
                <td>
                    <label>סוג עסקה</label>
                </td>
                <td>
                    <label>
                        <select class="input-small" data-bind=" value: creditPaymentTypeObject, options: CreditPaymentTypeOptions, optionsText: 'Name'"></select>
                    </label>
                </td>


                <td>
                    <label>סוג כרטיס</label>
                </td>
                <td>
                    <label>
                        <select class="input-medium" data-bind=" value: CreditCardCodeId, options: CreditCardCodeOptions, optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </td>

                <td>
                    <label>מספר שובר</label>
                </td>
                <td>
                    <label>
                        <input class="input-small" type="text" data-bind="value: CreditDealNumber" />
                    </label>
                </td>

                <td>
                    <label>מספר אישור</label>
                </td>
                <td>
                    <label>
                        <input class="input-small" type="text" data-bind="value: CreditOkNumber" />
                    </label>
                </td>
                <td></td>
                @*<td data-bind="style: { visibility: !CreditPaymentPostponed() ? 'visible' : 'hidden' }">
                        <label>סכום תשלום</label></td>
                    <td data-bind="style: { visibility: !CreditPaymentPostponed() ? 'visible' : 'hidden' }">
                        <label>
                            <input type="number" class="input-small" data-bind="value: FirstCreditPaymentSum " />
                        </label>
                        <div class="row error-message" data-bind="validationMessage: FirstCreditPaymentSum"></div>
                    </td>*@
                <td>
                    <label>4 ספרות אחרונות</label>
                </td>
                <td>
                    <label>
                        <input class="input-mini" data-bind="value: CardNumberLastFour" />
                    </label>
                </td>

            </tr>
            <tr>
                <td>
                    <label>תוקף</label>
                </td>
                <td>
                    <label>
                        <input type="number" min="@DateTime.Now.Year" max="@DateTime.Now.AddYears(20).Year" class="input-small" data-bind="value: CreditValidDateYear" style="width:50px;" /> /
                        <input type="number" min="1" max="12" class="input-small" data-bind="value:CreditValidDateMonth" style="width:35px;" />
                    </label>
                </td>
                <td data-bind="visible: CreditPaymentPostponed()">
                    <label>מספר תשלומים</label>
                </td>
                <td data-bind="visible: CreditPaymentPostponed()">
                    <label>
                        <input type="number" class="input-small" data-bind="value: NumOfCreditPayments" min="1" />
                    </label>
                    @*<div class="row error-message" data-bind="validationMessage: NumOfCreditPayments"></div>*@
                </td>
                <td>
                    <label data-bind="text: firstPaymentText()"></label>
                </td>
                <td>
                    <label>
                        <input type="number" class="input-small fix-negativ FirstCreditPaymentSum"  data-bind=" value firstcreditpaymentsum " />
                    </label>
                    @*<div class="row error-message" data-bind="validationMessage: FirstCreditPaymentSum"></div>*@
                </td>

                <td data-bind="visible: CreditPaymentPostponed()">
                    <label>סכום תשלום נוסף</label>
                </td>
                <td data-bind="visible: CreditPaymentPostponed()">
                    <label>
                        <input type="number" class="input-small fix-negativ" data-bind="value: FurtherCreditPaymentsSum" />
                    </label>
                    @*<div class="row error-message" data-bind="validationMessage: FurtherCreditPaymentsSum"></div>*@
                </td>
                <td data-bind="visible: CreditPaymentPostponed()">סך הכל:</td>
                <td data-bind="visible: CreditPaymentPostponed(), text: TotalCreditPaymentSum" class="fix-negativ"></td>
            </tr>
        </tbody>
    </table>

</div>
<!---------------------------------------------- BANK TRANSFER PAYMENT----------------------------------------->
<div class="invoice-container" data-bind="visible: BankTransfer">
    <h4>
        תשלום בהעברה בנקאית
        <button class="btn btn-primary" data-bind="click: addBankTransfer">הוסף העברה</button>
    </h4>
    <div data-bind="foreach: BankTransfers">
        <table class="invoice-table">
            <tbody>
                <tr>
                    <td>
                        <label>תאריך</label>
                    </td>
                    <td>
                        <label>
                            <input class="input-small" type="text" data-bind="datepicker: true, value: TransferDate" />
                        </label>
                        @*<div class="row error-message" data-bind="validationMessage: TransferDate"></div>*@
                    </td>
                    <td>
                        <label>בנק</label>
                    </td>
                    <td colspan="2">
                        <label>
                            <select class="input-large" data-bind="value: TransferBankCodeId, options: $root.BankCodeOptions, optionsText: 'Text', optionsValue: 'Value', optionsCaption: '@RapidVet.Resources.Finance.ChooseBank'"></select>                            
                        </label>
                    </td>
                    <td>
                        <label>מספר חשבון</label>
                    </td>
                    <td>
                        <label>
                            <input type="text" class="input-small" data-bind="value: TransferAccount" />
                        </label>
                    </td>
                    <td>
                        <label>מספר סניף</label>
                    </td>
                    <td>
                        <label>
                            <input class="input-mini" type="text" class="input-mini" data-bind="value: TransferBranch" />
                        </label>
                    </td>
                    <td>
                        <label>מספר העברה</label>
                    </td>
                    <td>
                        <label>
                            <input class="input-small" type="text" data-bind="value: BankTransferNumber" />
                        </label>
                    </td>
                    <td>
                        <label>סכום</label>
                    </td>
                    <td>
                        <label>
                            <input class="input-mini fix-negativ" type="number" data-bind="value: BankTransferSum" />
                        </label>
                       @* <div class="row error-message" data-bind="validationMessage: BankTransferSum"></div>*@
                    </td>
                    <td>
                        <label>ניכוי במקור</label>
                    </td>
                    <td>
                        <label>
                            <input class="input-mini" type="number" data-bind="value: WitholdingTax" />
                        </label>
                        <div class="row error-message" data-bind="validationMessage: WitholdingTax"></div>
                    </td>
                    <td>
                        <button class="btn btn-link" data-bind="click: $parent.removeBankTransfer">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!---------------------------------------------- TOTAL --- ---------------------------------------------------->
<div class="invoice-container">
    <h4>
        סך הכל לתשלום:
        <span class="fix-negativ" style="display: inline-block;" data-bind="text: TotalSumPaid()"></span>


        (<span class="fix-negativ TotalToPay" style="display: inline-block;" data-bind="text: TotalToPay().toFixed(2)"></span>)
    </h4>

</div>

<div id="multipleCheques" class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideMultipleCheques" aria-hidden="true">×</button>
        <div class="row-fluid" style="margin-bottom: 5px;">
            <h3>@RapidVet.Resources.Finance.MultipleCheques</h3>
        </div>

        <div class="container-fluid well" style="margin-bottom: 10px;">
            <table cellspacing="5">
                <tr>
                    <td>
                        <label style="margin-left: 10px;">@RapidVet.Resources.Finance.MultipleChequesBody:</label>
                    </td>
                    <td>
                        <input class="input-mini fix-negativ" type="number" min="1" data-bind="value: multipleChequesNumber" />
                    </td>
                </tr>
                <tr class="separator" style="height: 10px;"></tr>
                <tr style="margin-top: 5px;">
                    <td>
                        <label style="margin-left: 10px;">@RapidVet.Resources.Finance.AdditionalChequeSum:</label>
                    </td>
                    <td>
                        <input class="input-mini fix-negativ" type="number" data-bind="value: futureChequeSum" />
                    </td>
                </tr>
            </table>
        </div>


        <div>
            <button type="submit" style="float: left; margin-bottom: 9px;" class="btn btn-primary" data-bind="click: addMultipleCheques">
                @RapidVet.Resources.Finance.OK
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    //FirstCreditPaymentSum
    //(<span class="fix-negativ" style="display: inline-block;" data-bind="text: TotalToPay().toFixed(2)"></span>)
    //$('.FirstCreditPaymentSum').on('blur', function() {
    //    alert();
    //    $('.TotalToPay').html(this.value);
    //});
</script>


