﻿<div id="priceListModal" class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hidePriceList" aria-hidden="true">×</button>
        <div class="row-fluid">
            <h3>מחירון</h3>
        </div>

        <div class="container-fluid well">
            <div class="span2">
                <label>בחר מחירון</label></div>
            <div class="span4">
                <label>
                    <select data-bind="options: TariffOptions, optionsText: 'Text', optionsValue: 'Value', value: SelectedTariff">
                    </select>
                </label>
            </div>
        </div>
      
        <div class="row-fluid">
            <div class="span2"><label>בחר קטגוריה</label></div>
            <div class="span4">
                <select class="input-medium" data-bind="value: selectedCategoryId, options: priceListCategories, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..'"></select>
            </div>
            <div class="span4">
                <input class="input-medium" placeholder="חיפוש" data-bind="value: searchQuery, valueUpdate: 'keyup'" />
            </div>
        </div>
        <div style="height: 300px; overflow: auto;">
            <table class="table table-striped">
                <thead>
                    <th>סוג</th>
                    <th>בדיקה</th>
                    <th>מק"ט</th>
                    <th>ברקוד</th>
                    <th>סכום</th>
                    <th></th>
                </thead>
                <tbody data-bind="foreach: priceListOptions">
                    <tr>
                        <td data-bind="text: ItemType"></td>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Catalog"></td>
                        <td data-bind="text: Barcode"></td>
                        <td data-bind="text: Price"></td>
                        <td>
                            <button type="submit" class="btn btn-primary" data-bind="click: $parent.addItemFromPriceList">
                                הוסף
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="EmptyItemModal" class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" onclick='$("#EmptyItemModal").modal("hide");' aria-hidden="true">×</button>
        <div class="row-fluid" style="margin-bottom: 5px;">
            <h3>@RapidVet.Resources.Finance.AddEmptyItemCaption</h3>
        </div>

        <div class="container-fluid well" style="margin-bottom: 10px;">
            <table cellspacing="5">
                <tr>
                    <td>
                        <label style="margin-left: 10px;">@RapidVet.Resources.Finance.ItemName:</label>
                    </td>
                    <td>
                        <input class="input-medium" type="text" data-bind="value: itemName" />
                    </td>
                    <td id="itemNameError" style="color:red;margin-right: 10px;display: none;">@RapidVet.Resources.Finance.ItemNameError</td>
                </tr>
                <tr class="separator" style="height: 10px;"></tr>
                <tr style="margin-top: 5px;">
                    <td>
                        <label style="margin-left: 10px;">@RapidVet.Resources.Finance.ItemPrice:</label>
                    </td>
                    <td>
                        <input class="input-mini fix-negativ OnlyPlus" type="text" data-bind="value: itemPrice" />
                        <script type="text/javascript">
                            $('.OnlyPlus').bind('input propertychange', function () {
                                if (!isNumberOnlyPlus($(this).val()))
                                    $(this).val("");
                            });
                            function isNumberOnlyPlus(n) {
                                if (window.location.href.indexOf("/Refound") > -1)
                                    return (!isNaN(parseFloat(n.toString().split(',').join(''))) && isFinite(n)) || n == '.';
                                else
                                    return true;
                            }
                        </script>
                    </td>
                    <td id="itemPriceError" style="color:red;margin-right: 10px;display: none;">@RapidVet.Resources.Finance.ItemPriceError</td>
                </tr>
            </table>
        </div>


        <div>
            <button type="submit" style="float: left; margin-bottom: 9px;" class="btn btn-primary" data-bind="click: hideEmptyItemLineModal">
                @RapidVet.Resources.Finance.AddItem
            </button>
        </div>
    </div>
</div>