﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/NewFinanceDocument.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="../../Scripts/App/Finance/moment.min.js"></script>
   @* <script type="text/html" id="error-template">
        <div class="row-fluid" style="color: red;" data-bind="visible: !field.isValid()">
            <span data-bind="text: field.error"></span>
        </div>
    </script>*@

    <script type="text/javascript">
    var vatFactor = @ViewBag.VatFactor;
    var taxRate = @ViewBag.TaxRate;
    var invoice = @ViewBag.Invoice;
    var receipt = @ViewBag.Receipt;
    var quotation = @ViewBag.QuotationId;
    var updateItemInPatientFile = '@ViewBag.UpdateItemInVisit' == "True";
    var NoMham = "@ViewBag.NoMham";

    var viewModel;


    $(function() {
        if(vatFactor == 1)
        {
            alert('לא הוגדר אחוז מע"מ למרפאה');
        }

        /*-------------------knockout----------------*/
        ko.bindingHandlers.datepicker = {
            init: function(element) {
                $(element).datepicker({
                    changeMonth: true,
                    changeYear: true
                });
            }
        };

        viewModel = new viewModel(@ViewBag.ClientId, @ViewBag.Invoice, @ViewBag.Receipt, @ViewBag.DocType,@ViewBag.DefaultTariff, @ViewBag.DefaultIssuerId, updateItemInPatientFile);

            ko.validation.registerExtenders();
            //ko.validation.init({ messageTemplate: 'error-template' });
            ko.applyBindings(viewModel);


    });
       
        if(window.location.href.indexOf("InvoiceReceipt") > -1)
        {
            $('.NoMham').hide();
            $('.NoMhamlabel').hide();
        }
        else
        {
            if(NoMham=="True")
            {
                setTimeout(function(){
                    $('.NoMham')[0].checked = true;
                    $('.NoMhamlabel').css("color","red");
                    $('.NoMhamlabel').css("font-weight","700");
                },500);
            }
        }
        function SetCheckChangeNoMham()
        {
            
            //qs = {
            //    tariff: qs.tariff,
            //    noMham: $('.NoMham')[0].checked
            //};

            //$.get('GetPriceListItems', $.param(qs), function (data) {
            //    ko.mapping.fromJS(data.Items, self.priceListItems);
            //    ko.mapping.fromJS(data.Categories, self.priceListCategories);
            //});
        }
    </script>
}
    <h2>@ViewBag.Title</h2>
    @if (ViewBag.Receipt == "true" && ViewBag.Invoice == "true") { 
        <input type="button" class="btn btn-primary" style="float:left;top: -30px;position: relative;" value="@RapidVet.Resources.Finance.RecieptPrintingOnly" onclick="location.href='@Url.Action("Receipt", "FinanceDocument")'" />
    }
    @Html.Partial("_FinanceDocument")