@model RapidVet.Model.Finance.FinanceDocument
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<style>
    @@media print and (min-width: 350px) {
        .stdPrint { margin-top: 0 /*60px*/; }
        .termalPrint .std { display: none;  }
        .stdPrint .termal { display: none;  }
        /* td { font-weight: normal;   }
       .termalPrint #total-table {   width: 100%;   }
        .termalPrint #comments {  margin-top: 20px;  }
        .termalPrint {     width: 300px; margin-right: 10px;    }
        .termalPrint .item-description {     width: 180px;      }*/
    
        .logo {
            max-width: 100%;
            float: left;
        }

        .clinicName {
           font-size: 18px;
        }

        .clinicDetails {
           font-size: 12px;
        }

        .documentType {
            font-size: 18px; 
            text-align: center; 
            width: 100%;
        }

        .docDates {
            float: left;
        }

        .originalString {
            text-decoration: underline;
            font-size: 16px;
        }

        #items-table {
            width: 100%;
        }

        .total-price, .quantity, .price, .disscount {
            width: 65px;
            text-align: center;
            direction:ltr;
        }
        #total-table {
            float: left;
        }

        #total-table td {
            font-weight: bold;
        }

        .total-description {
            width: 133px;
        }

        #comments {
            width: 100%;
            clear: both;
           /* margin-top: 140px;*/
        }

        #cheques, #credit, #transfer {
            width: 100%;
        }

        #cheques td, #cheques th, #credit td, #credit th {
            text-align: center;
        }

    }
     @@media print and (max-width: 349px) {
        .stdPrint { width: 300px; max-width:300px; font-size:16px; margin-top: 0;}
        .termalPrint .std { display: none;  }
        .stdPrint .termal { display: none;  }
        /* td { font-weight: normal;   }
       .termalPrint #total-table {   width: 100%;   }
        .termalPrint #comments {  margin-top: 20px;  }
        .termalPrint {     width: 300px; margin-right: 10px;    }
        .termalPrint .item-description {     width: 180px;      }*/
    
        .logo {
            max-width: 100%;
            position:relative;
            display:block;
            margin:auto;

        }

        .clinicName {
           font-size: 18px;
        }

        .clinicDetails {
           font-size: 16px;
        }

        .documentType {
            font-size: 16px; 
            text-align: center; 
            width: 100%;
        }

        .docDates {
            float: left;
            width: 50%;
        }

        .originalString {
            text-decoration: underline;
            font-size: 16px;
        }

        .clientDetails {
            width: 45%;
            margin-top: 18px;
        }

        #items-table {
            width: 90%;
            position:relative;
            margin:auto;
        }

        .item-description {
            width: 30%;
            text-align: right;
        }
        .total-price, .quantity, .price, .disscount {
            width: 15%;
            text-align: right;
            direction:ltr;
        }
        #total-table {
            float: none;
             width: 90%;
            position:relative;
            margin:auto;
        }

        #total-table td {
            font-weight: normal;
        }

        .total-description {
            width: 75%;
        }

        .total-price {
            width: 25%;
        }

        #comments {
            width: 100%;
            clear: both;
           /* margin-top: 140px;*/
        }
    
        #cheques {
            width: 92%;
            position:relative;
            margin:auto;
        }

        #credit {
            width: 90% !important;
             position:relative;
            margin:auto;
            font-size: 14px;
            font-weight:normal;
        }

        #transfer {
            width: 90% !important;
             position:relative;
            margin:auto;
            font-size: 12px;
            font-weight:normal;
        }

        #cheques td, #cheques th, #credit td, #credit th {
            text-align: center;
        }

    }
</style>

<style type="text/css" media="print">
    .dontprint {
        display: none;
    }
</style>
 
<img src="/ClinicGroups/LogoImage" class="logo" style="max-height: 150px;max-width: 150px;">
<div class="@ViewBag.PrinterClass">
    <div class="row std">
        @*  <div class="span3 offset3">
            <img src="/ClinicGroups/LogoImage" style="max-width: 100%;">
        </div>*@
        <div class="span6">
            <span class="clinicName" ><b>@Model.Clinic.Name</b></span><br />
            <span class="clinicDetails"><b>עוסק מורשה:
                @Model.Issuer.CompanyId</b>
            </span>
            <br />
            <span class="clinicDetails">@Model.Issuer.Name</span><br />
            <span class="clinicDetails">@Model.Clinic.Address</span><br />
            <span class="clinicDetails">טל:@Model.Clinic.Phone</span><br />
            <span class="clinicDetails">@Model.Clinic.Email</span><br />
        </div>

    </div>

    @{
        var now = DateTime.Now;
    }

    <div class="row std">
        <div class="span6 offset3" style="text-decoration: underline;margin-bottom:7px;margin-top:3px;">
            <div class="documentType">


                <b>
                    @RapidVet.Resources.Enums.Finances.FinanceDocumentType.ResourceManager.GetString(Model.FinanceDocumentType.ToString())
                מספר
                @Model.SerialNumber
            </b>

            @if (Model.ConvertedFromRecipt)
            {

                <div style="font-size:12px;">
                   <b> @RapidVet.Resources.FinanceDocumentCollectivePrinting.SpecialInvoiceCaption @Model.ConvertedFromReciptSerialNumber </b>
                </div>
            }
            </div>
        </div>

            <div class="span3 docDates">
                <span class="originalString"><b>@ViewBag.OriginalString</b>
                </span>
                <br />
                <span>תאריך הפקה: &nbsp;
                @Model.Created.ToShortDateString()  @Model.Created.ToShortTimeString()
                </span>
                <br />
                @if (ViewBag.OriginalDateString != null)
                {
                    <span>תאריך הדפסת מקור:
                    @ViewBag.OriginalDateString
                    </span>
                    <br />
                
                }
                <span>תאריך הדפסה:
                   @now.ToShortDateString() @now.ToShortTimeString()
                </span>
                <br />
            </div>
        </div>

    </div>
    

    <div class="row">
        <div class="span3 clientDetails">
            <span>עבור:
                @Model.ClientName
            </span>
            <br />
            <span>כתובת:
               @Model.ClientAddress
            </span>
            <br />
            <span>טלפון:
                    @Model.ClientPhone
            </span>
            <br />
            @if (Model.Client != null)
            {
                <span>ת"ז/ח"פ:
                     @Model.Client.IdCard
                </span>
            }
        </div>

    </div>

    <br />
    <br />
    <div>
        <table id="items-table">
            <thead>
                <tr>
                    <th class="item-description">שם הפריט</th>
                    <th class="price">מחיר</th>
                    <th class="quantity">כמות</th>
                    <th class="disscount">הנחה לפריט</th>
                    <th class="total-price">סה"כ מחיר</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td class="item-description">@item.Description</td>
                        <td class="price" style="direction: ltr;">@item.UnitPrice.Value.ToString("F")</td>
                        @if (Model.FinanceDocumentType == RapidVet.Enums.Finances.FinanceDocumentType.Refound)
                        {
                            decimal quantity = @item.Quantity.Value * -1;
                            decimal total = @item.TotalBeforeVAT * -1;
                            
                            <td class="quantity">@quantity</td>
                            <td class="disscount" style="direction: ltr;">@item.TotalDiscount.ToString("F")                                                                      
                            </td>
                       
                            <td class="total-price" style="direction: ltr;">@total.ToString("F")</td>
                        }
                        else
                        {
                            <td class="quantity">@item.Quantity</td>
                            <td class="disscount" style="direction: ltr;">
                                @item.TotalDiscount.ToString("F")
                        </td>
                            <td class="total-price" style="direction: ltr;">@item.TotalBeforeVAT.ToString("F")</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <table id="total-table">
            <tbody>
                <tr>
                    <td class="total-description">סה"כ ללא מע"מ</td>
                    @if (Model.FinanceDocumentType == RapidVet.Enums.Finances.FinanceDocumentType.Refound)
                    {
                        decimal total = @Model.TotalBeforeVAT * -1;
                        <td class="total-price" style="direction: ltr;">@total.ToString("F")</td>
                    }
                    else
                    {
                        <td class="total-price" style="direction: ltr;">@Model.TotalBeforeVAT.ToString("F")</td>
                    }                   
                </tr>
                <tr>
                    <td class="total-description">הנחה</td>
                    <td class="total-price" style="direction: ltr;">@Model.Discount.ToString("F")</td>
                </tr>
                @if (Model.RoundingFactor != 0)
                { 
                <tr>
                    <td class="total-description">עיגול</td>
                    <td class="total-price" style="direction: ltr;">@Model.RoundingFactor.ToString("F")</td>
                </tr>
                }
                <tr>
                    <td class="total-description">מע"מ @Model.VatPrcent.ToString("F")%</td>
                    <td class="total-price" style="direction: ltr;">@Model.VatPayed.ToString("F")</td>
                </tr>
                <tr>
                    <td class="total-description">סה"כ כולל מע"מ</td>
                    <td class="total-price" style="direction: ltr;">@Model.TotalSum.ToString("F")</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div id="comments">
        @if (Model.Comments != null)
        {
            <span>הערה: 
           @Model.Comments
            </span>
        }
    </div>
    <br />
    <div id="payments">
        @if (Model.CashPaymentSum != 0)
        {
            <div>
                <b>שולם במזומן:
                    <span style="direction: ltr; display: inline-block;">@Model.CashPaymentSum.ToString("F")</span>
                </b>
            </div>
        }
        @if (Model.BankTransferSum != 0)
        {
            <div>
                <b>שולם בהעברה בנקאית:
                </b>
                <table id="transfer" >
                    <thead>
                        <tr>
                            <th>תאריך</th>
                            <th>בנק</th>
                            <th>סניף</th>
                            <th>חשבון</th>
                            <th>מספר</th>
                            <th>סכום</th>
                            <th>נוכה</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transfer in Model.Payments.Where(p => p.PaymentTypeId == (int)RapidVet.Enums.Finances.PaymentType.Transfer))
                        {
                            <tr>
                                <td>@transfer.DueDate.Value.ToShortDateString()</td>

                                <td>@if (transfer.BankCode != null)
                                    {<text>@transfer.BankCode.Name</text>}</td>
                                <td>@transfer.BankBranch</td>
                                <td>@transfer.BankAccount</td>
                                <td>@transfer.BankTransferNumber</td>
                                <td style="direction: ltr;">@transfer.Sum.ToString("F")</td>
                                <td>@transfer.WitholdingTax</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.TotalChequesPayment != 0)
        {
            <div>
                <b>שולם בהמחאות:
                </b>
                <table id="cheques">
                    <thead>
                        <tr>
                            <th>תאריך</th>
                            <th>בנק</th>
                            <th>סניף</th>
                            <th>חשבון</th>
                            <th>מס' המחאה</th>
                            <th>סכום</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cheque in Model.Payments.Where(p => p.PaymentTypeId == (int)RapidVet.Enums.Finances.PaymentType.Cheque))
                        {
                            <tr>
                                <td style="width:10%;">@cheque.DueDate.Value.ToShortDateString()</td>
                                <td style="width:20%;">@cheque.BankCode.Name</td>
                                <td style="width:7%;">@cheque.BankBranch</td>
                                <td style="width:15%;">@cheque.BankAccount</td>
                                <td style="width:15%;">@cheque.ChequeNumber</td>
                                <td style="direction: ltr;width:15%;">@cheque.Sum</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (Model.TotalCreditPaymentSum != 0)
        {
            var credit = Model.Payments.First(p => p.PaymentTypeId == (int)RapidVet.Enums.Finances.PaymentType.CreditCard);
            <div>
                <b>שולם באשראי:
                </b>
                <table id="credit">
                    <thead>
                        <tr>
                            <th>חברת אשראי</th>
                            <th>סוג עסקה</th>
                            <th>מספר כרטיס</th>
                            <th>תוקף</th>
                            <th>שובר</th>
                            <th>סכום</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@credit.CreditCardCode.Name</td>
                            <td>@credit.IssuerCreditType.Name</td>
                            <td>@credit.CardNumberLastFour</td>
                            <td>@credit.CreditValidDate</td>
                            <td>@credit.CreditDealNumber</td>
                            <td style="direction: ltr;">@Model.TotalCreditPaymentSum </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div>
        <br />
        <br />
        <span><b>חתימה..................</b></span>
        <br />
        <br />
        
        <h4>@Model.DocumentCloseNote</h4>
    </div>
    @if (ViewBag.IsSignature != null)
    {
        <div class="dontprint">
            <a href="@Url.Action("GetDigitalSignedDocument", "FinanceDocument", new { id = Model.Id })" style="display: block; float: left; margin-top: -21px">
                @RapidVet.Resources.Global.ToDigitalSignature
            </a>
        </div>
    }
    else
    {
        <div class="dontprint">
            <a href="signature.p7b" style="display: block; float: left; margin-top: -21px">
                @*@RapidVet.Resources.Global.DigitalSignature*@
            </a>
        </div>
    }
</div>

