﻿@model List<string>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}
<style type="text/css">
    html, body {
        height: 97%;
    }

    div.page-break {
        display: block;
        height: auto;
        page-break-before: avoid;
        page-break-after: always;
    }

    .print:last-child {
        page-break-before: auto;
        page-break-after: avoid;
    }

    hr {
        border: transparent;
        height: 1px;
        width: 100%;
    }
</style>

@if (Model.Any())
{
    foreach (var item in Model)
    {

        @Html.Action("Print", new { id = item })
        <hr />
        <div class="page-break"></div>
    }
}
else
{
    <h2>לא קיימים מסמכים להדפסה בחתך המבוקש</h2>
}