﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/NewFinanceDocument.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    <script type="text/html" id="error-template">
        <div class="row-fluid" style="color: red;" data-bind="visible: !field.isValid()">
            <span data-bind="text: field.error"></span>
        </div>
    </script>

    <script type="text/javascript">
        var vatFactor = @ViewBag.VatFactor;
        var taxRate = @ViewBag.TaxRate;
        var viewModel;
        $(function() {
            /*-------------------knockout----------------*/
            ko.bindingHandlers.datepicker = {
                init: function(element) {
                    $(element).datepicker({
                        changeMonth: true,
                        changeYear: true
                    });
                }
            };

            viewModel = new viewModel(@ViewBag.ClientId, false, true, @ViewBag.DocType);
            ko.validation.registerExtenders();
            ko.validation.init({ messageTemplate: 'error-template' });     
            ko.applyBindings(viewModel);
        

        });
        if (NoMham.length == 0)
            NoMham = "True";
        self.NoMham(NoMham);


    </script>
}
קבלה חדשה

    @Html.Partial("_FinanceDocument")