﻿.bubble {
    background-color: #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    margin: 20px;
    width: 275px;
    position: absolute;
    top: 148px;
    margin-right: 964px;
    height: 220px;
}

    .bubble::after {
        background-color: #e6e6e6;
        box-shadow: 1px -2px 0 0 rgba( 180, 180, 180, .4 );
        content: "\00a0";
        display: block;
        height: 20px;
        left: 10px;
        position: relative;
        top: -148px;
        transform: rotate( 45deg );
        -moz-transform: rotate( 45deg );
        -ms-transform: rotate( 45deg );
        -o-transform: rotate( 45deg );
        -webkit-transform: rotate( 45deg );
        width: 20px;
    }

.bubbleContent {
    width: 255px;
    margin: 10px;
    font-size: 0px;
    height: 165px;
    overflow-y: auto;
}

.li-group-text {
    font-size: 17px;
    text-overflow: ellipsis;
    max-width: 223px;
    padding: 2px;
}

.li-group-item {
    margin-top: -10px;
    height: auto;
}

.li-group-cb {
    margin-bottom: 12px !important;
    margin-left: 10px !important;
}

.li-group-cbHeaderDiv {
    background: #e6e6e6;
    border: #e6e6e6 5px double;
    margin-right: -10px;
    border-radius: 10px;
    margin-bottom: -15px;
}
