﻿.comment textarea {
  width: 100%;
  height: 6em;
}
.comment {
  padding-left: 10px;
}
#hiddenComment textarea {
  background-color: #7dba00;
}
#commentNav {
  margin-bottom: 0;
}
.form-inline .small-controller-group,
.address:last-child {
  margin-bottom: 2px;
}
.positiveBalance {
  color: green;
}
.negativeBalance {
  color: red;
}

