﻿.main-menu {
    width: 115px;
}

.transparent {
    opacity: 0.6;
}

.transparentRecess {
    opacity: 0.7;
    color: white;
    min-height: 20px !important;
}

.transparentHoliday {
    opacity: 0.4;
}

.bgText {
    font-size: 11px;
    text-align: center;
}

.qtip-content {
    direction: rtl;
    text-align: right;
}
