﻿
.ui-jqgrid .ui-jqgrid-bdiv
{
    overflow-y: auto;
    overflow-x: hidden;
    background-color:White;
}

        
.ui-pg-table
{
    background-color: #F3F3F3;
    font-size: 14px;
    text-align:right;
    direction:ltr;
}
        
.footrow
{
    font-weight: 500 !important;
}
.footrow-rtl
{
    font-weight: 500 !important;
}
.ui-jqgrid-ftable
{
    font-weight: 500 !important;
    background-color: White !important;
    color: Gray !important;
    border-top:1px solid gray;
}
.pgNum
{
    border:1px solid black;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    font: 14px 'Segoe UI' , 'Helvetica Neue' , 'Droid Sans' ,Arial,Tahoma,Geneva,Sans-serif;
}
        #jQGridPager_center
{
    /*display:none;*/
}
        #searchmodfbox_jQGrid
{
    background-color:gray !important;
}
.ui-paging-info
{
    
}
.ui-widget-content.ui-state-highlight
{
    background-color:#E3E3E3 !important;
}
.ui-widget-content
{
    background: none !important;
    color: Gray !important; 
    /*background-color: #EDEDED !important;*/
}
.ui-search-menu {
    background-color: #EDEDED !important;
}
.ui-row-rtl
{
    background-color: white !important;
}
.ui-priority-secondary /*alt*/
{
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    opacity: 1 !important;
    background-color: #F9F9F9 !important;
}
th.ui-th-column div
{
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
}
.ui-jqgrid tr.jqgrow td
{
    white-space: normal !important;
    vertical-align:middle;
}
.jqgrow {
    height:40px;
}       
.grid-col
{
    padding: 2px !important;
    /*color: black !important;*/
    font: 14px 'Segoe UI' , 'Helvetica Neue' , 'Droid Sans' ,Arial,Tahoma,Geneva,Sans-serif;
    border-left: none !important;
}
.ui-widget-header
{
    background: #F3F3F3 url(none) 50% 50% repeat-x !important;
    color: #7C7C7C;
    height: 22px;
    font: 14px 'Segoe UI' , 'Helvetica Neue' , 'Droid Sans' ,Arial,Tahoma,Geneva,Sans-serif;
    font-weight: 600;
     border: 1px solid #e78f08;
    /*background: #31708f url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;*/
    color: #8797B3;
    font-weight: bold;
  
}
.ui-jqgrid-title-rtl{
    margin-right:5px !important; 
    margin-top:5px !important; 
}
.ui-jqgrid-resize.ui-jqgrid-resize-rtl
{
    display: none !important;
}
.ui-jqgrid tr.ui-row-rtl td
{
    border-left: none !important;
}
.ui-jqgrid .ui-jqgrid-view
{
    font: 14px 'Segoe UI' , 'Helvetica Neue' , 'Droid Sans' ,Arial,Tahoma,Geneva,Sans-serif;
}
.dPartItems
{
    background-color: #EDEDED;
}

.ui-jqgrid-titlebar
{
    background-color: #E2E3E4;
    height:40px;
}
.ui-jqgrid-sortable
{
    font-size: 12px;
    font-weight: 600;
    color: #593928 !important;
    font: 14px 'Segoe UI' , 'Helvetica Neue' , 'Droid Sans' ,Arial,Tahoma,Geneva,Sans-serif;
    background-color: #8AC119 !important;
    border: none !important;
    min-height: 100%;
    text-align:center;
    font-weight:600;
    padding-top:10px !important;
}
.aLink {
    text-decoration:underline;
    color:blue !important;
}
.pager {
    position: fixed;
    height:40px;
}
.ui-jqgrid-labels {
    height:40px;    
}
.ui-pager-control {
    height:40px;    
}
.ui-jqgrid-pager {
    height:40px !important;
}
.ui-pg-input {
    height:20px !important;
    font-size:14px !important;
    text-align:center !important;
    width:35px;
}
.errDiv {
    color: #ff0000;
    font-weight: bold;
}
.ui-icon-circle-triangle-n {
    background: url(images/Excel-icon.png) 10% 10% repeat-x !important;
}
.ui-icon-pdf {
    background: url(images/pdf_icon.png) -10% 10% repeat-x ;
}
.ui-icon-print {
    background: url(images/print_icon.png) -10% 10% repeat-x;
}
.jqmID1 {
    background-color:#3D3938 !important;
    color:#8AC119 !important;
}
.input-elm {
    width:255px !important;
    margin-right:5px;
}
.selectopts{
    width:100px !important;
    margin-right:5px;
}
.columns select{
    width:70px !important;
}
.ui-datepicker {
    background-color:#3D3938 !important;
    color:#8AC119 !important;
}
.ui-search-input input {
    margin-top:2px !important;
    height:30px !important;
}