.invoice-container {
  border: 1px #c6c5c5 solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
.invoice-table {
  width: 100%;
}
.invoice-table td {
  padding: 5px;
  vertical-align: top;
}
.invoice-item {
  width: 100%;
  border: 1px #c6c5c5 solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.invoice-item td {
  padding: 5px;
}
.error-message {
  color: red;
}
.report-table {
  width: 100%;
}
.report-table td {
  width: 15%;
}
