* {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}

body {
    background-color: #ffffff;
}

a {
    color: #7dba00;
}

    a:hover {
        color: #7dba00;
        text-decoration: none;
        cursor: pointer;
    }

.btn-primary {
    background-color: #8ac119;
    color: #3d3938;
    background-image: none;
    box-shadow: none;
    border: 1px #c6c5c5 solid;
    text-shadow: none;
}

    .btn-primary:hover {
        background-color: #8ac119;
        color: #ffffff;
    }

    .btn-primary i {
        margin-left: 5px;
    }

.mega-nav {
    background-color: #ebe6e0;
    min-width: 1200px;
}

.navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
}

    .navbar .navbar-inner .container {
        width: auto;
    }

.navbar :focus {
    outline: none;
    border: none;
}

.navbar .nav > li.dropdown.open > .dropdown-toggle {
    background: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown:hover > .dropdown-toggle {
    color: #ebe6e0;
}

    .navbar .nav li.dropdown:hover > .dropdown-toggle .caret,
    .navbar .nav li.dropdown.open > .dropdown-toggle .caret {
        border-top-color: #ebe6e0;
        border-bottom-color: #ebe6e0;
    }

.navbar .dropdown-menu {
    margin-top: 4px;
}

    .navbar .dropdown-menu li > a {
        color: #3d3938;
    }

.navbar .nav > li .dropdown-menu > li > a:hover {
    background: #7dba00;
}

.navbar .nav > li .dropdown-menu {
    width: 232px;
    background-color: #ebe6e0;
    border: 1px #9c9a9a solid;
    left: auto;
    right: 0;
}

.navbar .nav > li > .dropdown-menu::after,
.navbar .nav > li > .dropdown-menu::before {
    display: none;
}

.navbar .nav > li > .dropdown.open > a {
    background: none;
    color: #ebe6e0;
}

    .navbar .nav > li > .dropdown.open > a img {
        display: none;
    }

        .navbar .nav > li > .dropdown.open > a img.hover {
            display: block;
        }

.breadcrumb {
    background-color: #ffffff;
    margin-bottom: 0;
    padding-right: 29px;
    border: none;
    background-image: none;
}

    .breadcrumb a {
        color: #3d3938;
    }

    .breadcrumb > .active {
        color: #7dba00;
    }

.dateandtime {
    background-color: #ffffff;
    margin-bottom: 0;
    padding-right: 29px;
}

    .dateandtime > span {
        margin-left: 80px;
    }

#loder {
    background-color: #ebe6e0;
    opacity: 0.9;
    position: fixed;
    top: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

#MainContainer {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.ui-autocomplete.ui-front {
    z-index: 9999;
}

.not-active-row {
    /*background-color: gray;*/
}

label > input {
    background-color: #e6e6e6;
}

label > textarea {
    background-color: #e6e6e6;
}

label > select {
    background-color: #e6e6e6;
}

.fix-negativ {
    direction: ltr;
    text-align: right;
}
