.modal-backdrop {
  background-color: #ffffff;
}
.modal {
  border: 2px #a39487 solid;
}
.modal .modal-header {
  border: none;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal .modal-body {
  border: none;
  background-color: #fffbbe;
}
.modal .modal-footer {
  border: none;
  background-color: #fffbbe;
  padding-top: 0;
}
.modal .modal-footer button {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: none;
  border: 2px #a39487 solid;
  text-align: center;
  background-image: none;
  text-shadow: none;
}
.modal .modal-footer button.ok {
  background-color: #8ac119;
  color: #ffffff;
}
.modal .modal-footer button.cancel {
  background-color: #f87c90;
  color: #5f5f5f;
}
#issuersModal .modal-body {
  padding: 5px;
}
.price-list-modal {
  overflow: auto;
  height: 400px;
}
