.sprite-icon {
  background: url(../img/updated-nav.png) no-repeat top left;
  display: inline-block;
}
.sprite-accounts {
  background-position: 0 0;
  width: 27px;
  height: 22px;
}
.sprite-calender {
  background-position: 0 -144px;
  width: 22px;
  height: 22px;
}
.sprite-clients {
  background-position: 0 -288px;
  width: 30px;
  height: 22px;
}
.sprite-clinics {
  background-position: 0 -432px;
  width: 22px;
  height: 22px;
}
.sprite-invoice {
  background-position: 0 -576px;
  width: 23px;
  height: 22px;
}
.sprite-last-clients {
  background-position: 0 -720px;
  width: 23px;
  height: 22px;
}
.sprite-new-client {
  background-position: 0 -958px;
  width: 16px;
  height: 22px;
}
.sprite-remainder {
  background-position: 0 -1102px;
  width: 28px;
  height: 20px;
}
.sprite-reports {
  background-position: 0 -1242px;
  width: 25px;
  height: 22px;
}
.sprite-search {
  background-position: 0 -1386px;
  width: 21px;
  height: 22px;
}
.sprite-tools {
  background-position: 0 -1458px;
  width: 23px;
  height: 22px;
}
.sprite-users {
  background-position: 0 -1602px;
  width: 15px;
  height: 22px;
}
.sprite-financereports {
  background-position: 0 -1746px;
  width: 23px;
  height: 22px;
}
.sprite-logo {
  background-position: 0 -864px;
  width: 156px;
  height: 44px;
}
.open .sprite-accounts,
a:hover .sprite-accounts {
  background-position: 0 -72px;
  width: 27px;
  height: 22px;
}
.open .sprite-calender,
a:hover .sprite-calender {
  background-position: 0 -216px;
  width: 22px;
  height: 22px;
}
.open .sprite-clients,
a:hover .sprite-clients {
  background-position: 0 -360px;
  width: 30px;
  height: 22px;
}
.open .sprite-clinics,
a:hover .sprite-clinics {
  background-position: 0 -504px;
  width: 22px;
  height: 22px;
}
.open .sprite-invoice,
a:hover .sprite-invoice {
  background-position: 0 -648px;
  width: 23px;
  height: 22px;
}
.open .sprite-last-clients,
a:hover .sprite-last-clients {
  background-position: 0 -792px;
  width: 23px;
  height: 22px;
}
.open .sprite-new-client,
a:hover .sprite-new-client {
  background-position: 0 -1030px;
  width: 16px;
  height: 22px;
}
.open .sprite-remainder,
a:hover .sprite-remainder {
  background-position: 0 -1172px;
  width: 28px;
  height: 20px;
}
.open .sprite-reports,
a:hover .sprite-reports {
  background-position: 0 -1314px;
  width: 25px;
  height: 22px;
}
.open .sprite-tools,
a:hover .sprite-tools {
  background-position: 0 -1530px;
  width: 23px;
  height: 22px;
}
.open .sprite-users,
a:hover .sprite-users {
  background-position: 0 -1674px;
  width: 15px;
  height: 22px;
}
.open .sprite-financereports,
a:hover .sprite-financereports {
  background-position: 0 -1818px;
  width: 23px;
  height: 22px;
}
