﻿.paginationCUST {
    display: block;
    margin: 15px 0;
    direction: ltr;
}

    .paginationCUST a {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        border: ridge 2px grey;
        margin: 1px 1px 0 0;
        display: inline-block;
        width: 15px;
        font-weight: bold;
    }

        .paginationCUST a.active {
            background-color: #8ac119;
            color: white;
        }

        .paginationCUST a:hover:not(.active) {
            background-color: #ddd;
        }

.hidePaging {
    display: none !important;
}
