﻿.visit-close-btn {
  top: 6px;
  float: left;
  margin-left: -30px;
}
.preventive .nameColumn {
  width: 30%;
}
.preventive .checkboxColumn {
  width: 10px;
  text-align: center;
}
.preventive .dateColumn {
  width: 15%;
}
.preventive .future {
  color: green;
}
.preventive .past {
  color: red;
}
.patientLabTests table {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.patientLabTests .numberColumn {
  width: 15%;
}
.patientLabTests .nameColumn {
  width: 25%;
}
.patientLabTests .indicatorColumn {
  width: 25%;
}
.patientLabTests .indicatorMarker {
  font-weight: bold;
  font-size: 1.5em;
}
.patientLabTests .red {
  color: red;
}
.patientLabTests .green {
  color: green;
}
.close-button-column {
  text-align: center;
}
