ul.nav-list {
  background-color: #3d3938;
}
ul.nav-list > li a:hover {
  background: none;
  color: #ffffff;
}
ul.nav-list > li a {
  color: #7dba00;
  text-shadow: none;
  position: relative;
}
ul.nav-list > li a i {
  position: absolute;
  left: 5px;
  top: 5px;
  display: none;
}
ul.nav-list > li a.active i {
  display: block;
}
