.navbar.sub-nav {
  margin-bottom: 0;
}
.navbar.sub-nav .nav {
  float: right;
}
.navbar.sub-nav .nav > li {
  float: right;
  width: 116px;
}
.navbar.sub-nav .nav > li > a {
  text-shadow: none;
  color: #7dba00;
  padding: 10px 10px 10px;
}
.navbar.sub-nav .nav > li > a i {
  float: left;
}
.navbar.sub-nav .nav > li:hover > a {
  color: #ebe6e0;
}
.navbar.sub-nav .navbar-inner .nav:first-child {
  border-left: 2px #ebe6e0 solid;
}
.navbar.sub-nav .navbar-inner {
  padding-right: 0;
  background: #3d3938;
  border: none;
}
.navbar.sub-nav .navbar-inner .container {
  margin-right: 15px;
}
.navbar.sub-nav li.dropdown > .dropdown-toggle .caret {
  float: right;
  border-top-color: #7dba00;
  border-bottom-color: #7dba00;
}
.navbar.sub-nav .navbar-search {
  float: right;
  width: 320px;
}
.navbar.sub-nav .navbar-search .search-query {
  border-radius: 7px;
  border: 1px #7dba00 solid;
  z-index: 1;
  box-shadow: none;
  position: absolute;
  background: #ffffff;
}
.navbar.sub-nav .navbar-search i {
  position: absolute;
  left: 40px;
  top: 4px;
}
.navbar.sub-nav .navbar-search .dropdown-menu {
  padding-top: 30px;
  top: 0;
  border-radius: 7px;
  border: 1px #7dba00 solid;
  z-index: 0;
  box-shadow: none;
  right: 0;
  background: #ffffff;
}
.navbar.sub-nav .navbar-search .dropdown-menu li > a {
  color: #3d3938;
  background: none;
}
.navbar.sub-nav .navbar-search .dropdown-menu li > a:hover {
  background: #7dba00;
  color: #ebe6e0;
}
