.navbar.top {
  padding-top: 30px;
}
.navbar.top .brand {
  padding: 0;
  margin-left: 0;
  position: absolute;
  left: 20px;
}
.navbar.top .nav {
  float: right;
  border: 2px #9c9a9a solid;
  border-radius: 7px;
  background-color: #7dba00;
}
.navbar.top .nav > li {
  width: 114px;
  text-align: center;
  background: none;
  float: right;
  border-left: 2px #ebe6e0 solid;
  padding: 0;
  margin: 0;
}
.navbar.top .nav > li > a,
.navbar.top .nav > li > a:focus {
  color: #3d3938;
  text-shadow: none;
}
.navbar.top .nav > li > a:hover {
  color: #ebe6e0;
}
.navbar.top .nav li:first-child a:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbar.top .nav li:last-child {
  border-left: none;
}
.navbar.top .nav li:last-child a:hover {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navbar.top .nav .dropdown a {
  text-align: right;
  padding: 10px 10px 10px;
}
.navbar.top .nav .dropdown a.topMenue {
  padding: 0 10px 0;
}
.navbar.top .nav .dropdown i {
  float: left;
}
.navbar.top .nav.account-nav > li {
  width: 163px;
}
.navbar.top .navbar-inner {
  background: #ebe6e0;
  box-shadow: none;
  border: none;
  padding-right: 3px;
}
.navbar.top .account-nav .dropdown-menu {
  width: 165px;
}
.navbar.top .tools-nav {
  margin-right: 116px;
}
.navbar.top .tools-nav .caret {
  display: none;
}
.navbar.top li.dropdown > .dropdown-toggle .caret {
  float: right;
  border-top-color: #3d3938;
  border-bottom-color: #3d3938;
}
.scrollGroup {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
