﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <script src="/Scripts/Vendor/jquery-1.9.0.min.js"></script>
    <script>
        (function ($) {
            $.QueryString = (function (a) {
                if (a == "") return {};
                var b = {};
                for (var i = 0; i < a.length; ++i) {
                    var p = a[i].split('=');
                    if (p.length != 2) continue;
                    b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
                }
                return b;
            })(window.location.search.substr(1).split('&'))
        })(jQuery);

        $(function () {
            //window.opener.document.getElementById('OkNumber').value = $.QueryString["OkNumber"];
            //window.opener.document.getElementById('CardNumber').value = $.QueryString["CardNumber"];
            //window.opener.document.getElementById('DealNumber').value = $.QueryString["DealNumber"];
            //window.opener.document.getElementById('Total').value = $.QueryString["Total"];
            window.opener.creditUpdateFinish(
                $.QueryString["OkNumber"],
                $.QueryString["CardNumber"],
                $.QueryString["DealNumber"],
                $.QueryString["Total"],
                $.QueryString["DealType"],
                $.QueryString["PayNumber"],
                $.QueryString["FirstPay"],
                $.QueryString["AddPay"],
                $.QueryString["CardNameID"],
                $.QueryString["CardDate"],
                $.QueryString["DealID"]);
            window.close();
        });
    </script>
</head>
<body>
    <div>
        התשלום בוצע בהצלחה, ניתן לסגור דף זה
    </div>
</body>
</html>
