﻿@{
    ViewBag.Title = "Test";
}

<h2>Credit Card Test Number :  4580000000000000 

</h2>
<h2>12/13</h2>

<h2>Test</h2>
<h1>
    <button class="btn" onclick="window.open('Redirect?issuerId=1&amount=20','_blank','height=700,width=850,status=yes,toolbar=no,menubar=no,location=no')">פתח חלון</button>
</h1>

<h2>
    <input id="OkNumber" type="text" value="" />
    <input id="CardNumber" type="text" value="" />
    <input id="DealNumber" type="text" value="" />
    
    <input id="Total" type="text" value="" />

</h2>

<h1>
    @RapidVet.Helpers.CalenderHelper.GetHebrewJewishDateString(DateTime.Now , true)
</h1>

<h1>
    @RapidVet.Helpers.CalenderHelper.GetHebrewJewishDateString(DateTime.Now.AddDays(1) , false)
</h1>

<h1>
    @RapidVet.Helpers.CalenderHelper.GetHebrewJewishDateString(DateTime.Now.AddDays(2) , false)
</h1>