﻿@model List<RapidVet.Model.FullCalender.CalenderEntry>
@{
    var startYear = 2000;
    var currentYear = DateTime.Now.Year;
    var selectedYear = Request.QueryString["year"] ?? currentYear.ToString();
}

<h2>סיכום תורים</h2>

<div class="well">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span1">
                <label>בחר שנה</label>
            </div>
            <div class="span4">
                <label>
                    <select id="year">
                        @while (startYear <= currentYear + 1)
                        {
                            <option value="@startYear" @if (startYear.ToString() == selectedYear)
                                                      { <text>selected="selected"</text> }>@startYear</option>
                                                      startYear++;
                        }
                    </select>
                </label>
            </div>

            <div class="span2">
                <label>
                    <a id="refreshLink" class="btn">רענן</a>
                </label>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>לקוחות רגילים</th>
            <th>לקוחות חדשים</th>
            <th>אי הופעות</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <span>ינואר</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 1 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 1 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 1 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>פברואר</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 2 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 2 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 2 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>מרץ</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 3 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 3 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 3 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>אפריל</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 4 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 4 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 4 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>מאי</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 5 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 5 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 5 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>יוני</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 6 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 6 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 6 && m.IsNoShow== true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>יולי</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 7 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 7 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 7 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>אוגוסט</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 8 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 8 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 8 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>ספטמבר</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 9 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 9 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 9 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>אוקטובר</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 10 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 10 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 10 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>נובמבר</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 11 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 11 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 11 && m.IsNoShow == true)</span>
            </td>
        </tr>
        <tr>
            <th>
                <span>דצמבר</span>
            </th>
            <td>
                <span>@Model.Count(m => m.Date.Month == 12 && m.IsNoShow == false && !m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 12 && m.IsNewClient)</span>
            </td>
            <td>
                <span>@Model.Count(m => m.Date.Month == 12 && m.IsNoShow == true)</span>
            </td>
        </tr>
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#refreshLink').attr('href', '/CalenderReports/EntriesReports?year=' + $('#year').val());
            $('#year').on('change', function () {
                $('#refreshLink').attr('href', '/CalenderReports/EntriesReports?year=' + $('#year').val());
            });
        });
    </script>
}