﻿@model System.Collections.Generic.List<RapidVet.Model.FullCalender.CalenderEntry>

@{
    Layout = ViewBag.ToPrint
              ? "~/Views/Shared/_PrintingLayout.cshtml"
              : "~/Views/Shared/_Layout.cshtml";
}


<h2>דוח אי הופעות וביטולים לפגישות</h2>

@if (!ViewBag.ToPrint)
{
    <div class="well">
        <div class="form-inline">
            <div class="row control-group">
                <div class="span1">
                    <label>מתאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="" readonly id="from" value="@(Request.QueryString["fromTime"] ?? DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy"))" />
                    </label>
                </div>

                <div class="span1">
                    <label>עד תאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="" readonly id="to" value="@(Request.QueryString["toTime"] ?? DateTime.Now.ToString("dd/MM/yyyy"))" />
                    </label>
                </div>

                <div class="span2">
                    <label>
                        <a id="refreshLink" class="btn">רענן</a>
                    </label>
                </div>
            </div>
            <div class="row control-group">
                <div class="span1">
                    <label>@RapidVet.Resources.Calendar.WhatToShow</label>
                </div>
                <span class="span6">
                    <label>
                        <select class="input-medium" id="ShowSelection">
                            <option value="0" @(Request.QueryString["showSelection"] == "0" ? "selected" : String.Empty)> @RapidVet.Resources.Calendar.ShowAll</option>
                            <option value="1" @(Request.QueryString["showSelection"] == "1" ? "selected" : String.Empty)> @RapidVet.Resources.Calendar.NoShows</option>
                            <option value="2" @(Request.QueryString["showSelection"] == "2" ? "selected" : String.Empty)> @RapidVet.Resources.Calendar.Cancels</option>
                        </select>
                    </label>
                </span>
            </div>
        </div>
    </div>
    
    <a class="btn btn-primary" onclick="PrintNoShowsReport()">הדפס</a>
    if (CurrentUser.IsExcelExport)
    {
        <a class="btn btn-primary" id="csvLink" onclick="">
            <i class="icon-download"></i>
            @RapidVet.Resources.Global.Export
        </a>
    }
    <br/><br/>
}


@if (Model.Any())
{
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>@RapidVet.Resources.Calendar.Date</th>
                <th>@RapidVet.Resources.Calendar.Hour</th>
                <th>@RapidVet.Resources.Calendar.TreatedName</th>
                <th>@RapidVet.Resources.Calendar.QueueLengthInMinutes</th>
                <th>@RapidVet.Resources.Calendar.EventType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(m => m.Date))
            {
                <tr>
                    <td>
                        <span>@item.Date.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td>
                        <span>@item.Date.ToString("H:mm")</span>
                    </td>
                    <td>
                        <span>
                            @if (item.Client != null)
                            {
                                @item.Client.NameWithPatients
                            }
                        </span>
                    </td>
                    <td>
                        <span>@item.Duration דק'</span>
                    </td>
                    <td>
                        <span>@(item.IsCancelled ? "ביטול" : "אי הופעה")</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>לא נמצאו תוצאות</span>
}


@section scripts
{
    <script type="text/javascript">
        function PrintNoShowsReport() {
            if (document.location.search != "") {
                window.location.href = window.location.href + '&toPrint=true';
            } else {
                window.location.href = window.location.href + '?toPrint=true';
            }
        }

        $(function () {
            function setAttributes() {
                $('#refreshLink').attr('href', '/CalenderReports/NoShowsReports?fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&showSelection=' + $('#ShowSelection').val());
                $('#csvLink').attr('href', '/CalenderReports/DownloadCsv?fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&showSelection=' + $('#ShowSelection').val());
            }            
            setAttributes();

            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#from").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function(selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    setAttributes();
                },
                isRTL: true
            });
            $("#to").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function(selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    setAttributes();
                },
                isRTL: true
            });

            $("#ShowSelection").change(function () {
                setAttributes();
            });
        });

    </script>
}