﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/OpenFormat.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    
    
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new viewModel();
            ko.applyBindings(viewModel);
        });
    </script>
}

<h2> יצוא קבצים בפורמט פתוח</h2>


<div class="form-inline well">
    <div class="row control-group">
        <div class="span1">
            <label>מנפיק</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="value: issuerId, options: issuers, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>


    </div>
    @*##############################################*@
    <div class="row control-group">
        <div class="span1">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date" data-bind="value: fromDate" />
            </label>
        </div>

        <div class="span1">
            <label>עד תאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date" data-bind="value: toDate" />
            </label>
        </div>
    </div>

    <button class="btn btn-primary btn-large" data-bind="click: create">
        <i class="icon-search"></i>
        הפקה
    </button>
</div>
<div data-bind="visible: showLink" class="form-inline well">
    
    <p data-bind="test: path"></p>
    <a class="btn btn-primary btn-large" data-bind="attr:{href:url}">
        לחצו כאן להורדה
    </a>
    
</div>


<div data-bind="visible: showErrors" class="form-inline well">
    
    <p data-bind="test: path" style="color: red;">
        נא לבחור טווח תאריכים ומנפיק
    </p>
    
</div>