﻿@model RapidVet.WebModels.Patients.AnimalRaceModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.AnimalRaceController.Create</h3>
</div>
@using (Html.BeginForm("Create", "AnimalRaces", new { @class = "form-horizontal", id = "animalRaceCreate" }))
{
    <div class="modal-body">

        @Html.HiddenFor(model => model.AnimalKindId)
        <div class="control-group">
            <label class="control-label">@RapidVet.Resources.Controllers.AnimalRaceController.Value</label>
            <div class="controls">
                @Html.EditorFor(model => model.Value)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Value)</span>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                    @RapidVet.Resources.Global.Create
                </button>
            </div>
        </div>
    </div>
}

