﻿@model RapidVet.Model.Patients.AnimalRace
@{
    ViewBag.Title = "ClinicGroupCreate";
}

<h2>@Model.AnimalKind.ClinicGroup.Name > @Model.AnimalKind.Value</h2>

@using (Html.BeginForm("Create", "AnimalRaces", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_FormValidationSummary")
    @Html.HiddenFor(model => model.AnimalKindId)
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.Value)
            </label>
            <div class="editor-field">
                @Html.EditorFor(model => model.Value)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Value)</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="@RapidVet.Resources.Global.Create" class="btn" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink(RapidVet.Resources.Global.Back, "Edit","AnimalKinds", new { id = Model.AnimalKind.ClinicGroupId})
</div>
