﻿@model RapidVet.Model.Patients.AnimalRace
@{
    ViewBag.Title = @RapidVet.Resources.Global.Delete;
}

<h2>@RapidVet.Resources.Global.Delete</h2>

<h3>@RapidVet.Resources.Global.DeleteMessage</h3>
<fieldset>
    <legend>גזעים</legend>
    <table id="animalRacesTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @RapidVet.Resources.Global.Id
            </th>
            <th>
                @RapidVet.Resources.Controllers.AnimalRaceController.Value
            </th>
        </tr>
         <tr>
        <td>@Model.Id</td>
        <td>
            @Model.Value
        </td>
    </tr>
    </table>
</fieldset>

@using (Html.BeginForm("Delete", "AnimalRaces", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.AnimalKindId)
    <div class="form-actions" style="width: 30%; margin-left: auto; margin-right: auto;">
        <button type="submit" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
        @Html.ActionLink(@RapidVet.Resources.Global.Cancel, "Edit", "AnimalKinds", new { id = Model.AnimalKind.ClinicGroupId , null }, new { @class = "btn btn-inverse btn-large" })
    </div>
}
<div>
    @Html.ActionLink(@RapidVet.Resources.Global.Back, "Edit","AnimalKinds", new { id = Model.AnimalKind.ClinicGroupId , null })
</div>


