﻿@using RapidVet.Web.Controllers
@model RapidVet.Model.Patients.AnimalRace
@{
    ViewBag.Title = RapidVet.Resources.Global.Edit;
}
<h2>
    @RapidVet.Resources.Global.Edit</h2>
@using (Html.BeginForm("Edit", "AnimalRaces", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_FormValidationSummary")
    <fieldset>
        <legend>גזעי חיות</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AnimalKindId)
        <div class="control-group">
            <label>@Html.LabelFor(model => model.Value)</label>
            <div class="controls">
                @Html.EditorFor(model => model.Value)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Value)</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="@RapidVet.Resources.Global.Save" class="btn"/>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink(@RapidVet.Resources.Global.Back, "Edit","AnimalKind" ,new { id = Model.AnimalKind.ClinicGroupId , null})
</div>
