﻿@model RapidVet.Model.Patients.AnimalKind

@{
    ViewBag.Title = "גזעי חיות";
}

<h2> @Model.ClinicGroup.Name > @Model.Value </h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="icon-plus"></i> @RapidVet.Resources.Global.Create</a>
</p>

<table  id="animalRacesTable" class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
          @RapidVet.Resources.Global.Id
        </th>
        <th>
            @RapidVet.Resources.Controllers.AnimalRaceController.Value
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.AnimalRaces) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink(RapidVet.Resources.Global.Delete, "Delete", new {id=item.Id })
        </td>
    </tr>
}

</table>
