﻿@model RapidVet.WebModels.Finance.PriceListCategoryModel
           
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.PriceListCategory.Create</h3>
</div>
@using (Ajax.BeginForm("CategoryCreate", "PriceLists", new AjaxOptions()
                                                         {
                                                             HttpMethod = "Post",
                                                             InsertionMode = InsertionMode.Replace,
                                                             UpdateTargetId = "categoriesGrid",
                                                             OnSuccess = "CategorySuccess();"
                                                         },
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "categoryCreateForm",
                                                             }))
{
    <div class="modal-body">
        @Html.Partial("_FormValidationSummary")
        @Html.HiddenFor(model => model.ClinicId)
         <div class="control-group">
                <label class="control-label">@Html.LabelFor(m => m.Name)</label>
                <div class="controls">@Html.EditorFor(m => m.Name)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>

            </div>
    </div>
       <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                    @RapidVet.Resources.Global.Create
                </button>
            </div>
        </div>
    </div>
}