﻿@model IEnumerable<RapidVet.WebModels.Finance.PriceListCategoryModel>
@{
    var idObj = Url.RequestContext.RouteData.Values["id"];
    int clinicId = 0;
    if (idObj != null)
    {
        int.TryParse(idObj.ToString(), out clinicId);
    }
}
<script type="text/javascript">
    function GetCategoryCreateModal(id) {
        var target = "/PriceLists/CategoryCreate/" + id;
        $('#CategoryModal').load(target, function () {
            $('#CategoryModal').modal('toggle');
        });
    }

    function GetCategoryEditModal(id) {
        var target = "/PriceLists/CategoryEdit/" + id;
        $('#CategoryModal').load(target, function () {
            $('#CategoryModal').modal('toggle');
        });
    }

    function GetCategoryDeleteModal(id) {
        var target = "/PriceLists/Delete/" + id;
        $('#CategoryModal').load(target, function () {
            $('#CategoryModal').modal('toggle');
        });
    }

    function CategorySuccess() {
        $('#CategoryModal').modal('hide');
        $('.modal-backdrop').remove();
    }

    ;

</script>

<div id="categoriesGrid">
    <h2>@RapidVet.Resources.PriceListCategory.Categories</h2>
    <div>
        <a href="javascript:GetCategoryCreateModal(@clinicId);" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
    </div>
    <table id="categoriesTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>@RapidVet.Resources.PriceListCategory.Name
            </th>
            <th>@RapidVet.Resources.PriceListCategory.Available
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.Name)
                </td>
                <td>
                    @if (item.Available)
                    {
                        <i class="icon-ok"></i>
                    }
                    else
                    {
                        <i class="icon-remove"></i>
                    }
                </td>
                <td>
                    <a href="javascript:GetCategoryDeleteModal(@item.Id);">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |
                    <a href="javascript:GetCategoryEditModal(@item.Id);">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                </td>
            </tr>
        
        }

    </table>

    <div id="CategoryModal" class="modal hide fade">
    </div>
</div>
