﻿@model  RapidVet.WebModels.Finance.PriceListModel
<table class="table">
    <thead>
        <tr>
            <th style="width:10%;">
                @RapidVet.Resources.PriceListCategory.Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@Html.DisplayFor(modelCategory => category.Name)</td>
                <td>
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>@RapidVet.Resources.PriceList.Items</th>
                                @foreach (var tariff in Model.Tariffs)
                                {
                                    <th>@Html.DisplayFor(modelTariff => tariff.Name)</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in category.Items)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    @foreach (var price in item.ItemsTariffs)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelPrice => price.Price)
                                            @Html.HiddenFor(modelPrice => price.ItemId)
                                            @Html.HiddenFor(modelPrice => price.TariffId)
                                        </td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
