﻿@model RapidVet.Model.Finance.PriceListItem
<td>
    <a href="@Url.Action("EditItem", new { id = Model.Id })">
        <i class="icon-edit"></i>
        @Html.DisplayFor(model => model.Name)
    </a>
</td>
<td>@Model.PriceListItemType</td>
<td>@Model.Catalog
</td>
<td>@Model.MainPrice
</td>
<td>@Model.RefferedPrice
</td>
<td>@Model.FriendsPrice
</td>
<td>@Model.RealtivesPrice
</td>
<td>@Model.FamilyPrice
</td>
<td>@Model.CostPrice
</td>
<td>@Model.TotalPrice
</td>
<td>@Model.ClinicPrice
</td>
<td>@Model.LabPrice
</td>
<td>@Model.MaterialsPrice
</td>
<td>@Model.CreatedDate
</td>
<td>@Model.UpdatedDate
</td>
<td>@Model.Available
</td>
<td>
    @Html.ActionLink(RapidVet.Resources.Global.Delete, "ItemDetails", new { id = Model.Id })
</td>
