﻿@model IEnumerable<RapidVet.Model.Finance.PriceListCategory>

@{
    ViewBag.Title = "Categories";
}

<h2>קטגוריות מחירונים</h2>

<p>
    <a href="@Url.Action("CategoryCreate", "PriceLists", new { id = Url.RequestContext.RouteData.Values["id"] })" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
</p>
<table id="animalKindsTable" class="table table-striped table-bordered table-condensed">
    <tr>
        <th>ID
        </th>
        <th>שם
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(c=>c.Available))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                <a href="@Url.Action("CategoryEdit", "PriceLists", new { id = item.Id })">
                    <i class="icon-edit"></i>
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.ActionLink(RapidVet.Resources.Global.Delete, "CategoryDetails", "PriceLists", new { id = item.Id }, null)
            </td>
        </tr>
        
    }

</table>