﻿@model RapidVet.Model.Finance.PriceListCategory

@{
    ViewBag.Title = RapidVet.Resources.Global.Delete;
}

<h2><legend>קטגוריית מחירון</legend>
</h2>

<h3>@RapidVet.Resources.Global.DeleteMessage</h3>
<fieldset>
    <legend>קטגוריית מחירון</legend>
    <table id="animalKindsTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>ID
            </th>
            <th>שם
            </th>
        </tr>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm("RemoveCategory", "PriceLists", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ClinicId)
    <div class="form-actions" style="width: 30%; margin-left: auto; margin-right: auto;">
        <button type="submit" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
        @Html.ActionLink(@RapidVet.Resources.Global.Cancel, "Edit","Clinics",new{ id = Model.ClinicId},new{@class="btn btn-inverse btn-large"})
    </div>
}
<div>
    @Html.ActionLink(@RapidVet.Resources.Global.Back,"ClinicClinicGroupEdit","Clinics",new{ id = Model.ClinicId})
</div>
