﻿@model RapidVet.Model.Finance.PriceListCategory
@{
    ViewBag.Title = "יצירת קטגורית מחיר";
}

<div class="container">
    @using (Html.BeginForm("CategoryCreate", "PriceLists", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>יצירת קטוגריה חדשה</legend>
            @Html.Partial("_FormValidationSummary")
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(m => m.Name)</label>
                <div class="controls">@Html.EditorFor(m => m.Name)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">@RapidVet.Resources.Global.Create</button>
                </div>
            </div>
        </fieldset>
    }
</div>
