﻿@model RapidVet.Model.Finance.PriceListCategory
@{
    ViewBag.Title = "עריכת קטגוריית מחירון";
}

<h2>עריכת קטגוריית מחירון</h2>

@using (Html.BeginForm("CategoryEdit", "PriceLists", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_FormValidationSummary")
    <fieldset>
        <legend>קטגוריית מחירון</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="control-group">

            <label class="control-label">שם</label>

            <div class="controls">
                @Html.EditorFor(model => model.Name)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>

        <div class="control-group">

            <label class="control-label">זמינות</label>

            <div class="controls">
                @Html.EditorFor(model => model.Available)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Available)</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="@RapidVet.Resources.Global.Save" class="btn" />
            </div>
        </div>
    </fieldset>
}

<div class="well">
    @Html.Partial("~/Views/PriceLists/Items.cshtml" , Model.PriceListItems)
</div>

<div>
    @Html.ActionLink(RapidVet.Resources.Global.Back, "ClinicEdit", "Clinics", new{ id = Model.ClinicId })
</div>
