﻿@model RapidVet.Model.Finance.PriceListItem
@{
    ViewBag.Title = string.Format("צור פריט במחירון {0}", Model.Category.Name);
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateItem", "PriceLists", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.CategoryId)
    @Html.Partial("_FormValidationSummary")
    <fieldset>
        <legend>פריט מחירון</legend>

        <div class="control-group">
            <label class="control-label">
                סוג פריט
            </label>
            <div class="controls">
                @Html.DropDownListFor(model => model.PriceListItemType , new SelectList(Enum.GetValues(typeof(RapidVet.Model.Finance.PriceListItemType))))
                <span class="help-inline">@Html.ValidationMessageFor(model => model.ItemTypeId)</span>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">
                שם
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.Catalog)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.Catalog)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Catalog)</span>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.MainPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.MainPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.MainPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.RefferedPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.RefferedPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.RefferedPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.FriendsPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.FriendsPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.FriendsPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.RealtivesPrice)
            </label>

            <div class="controls">
                @Html.EditorFor(model => model.RealtivesPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.RealtivesPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.FamilyPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.FamilyPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.FamilyPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.CostPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.CostPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.CostPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.TotalPrice)</label>
            <div class="controls">
                @Html.EditorFor(model => model.TotalPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.TotalPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.ClinicPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.ClinicPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.ClinicPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.LabPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.LabPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LabPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.MaterialsPrice)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.MaterialsPrice)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.MaterialsPrice)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                זמינות</label>
            <div class="controls">
                @Html.EditorFor(model => model.Available)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Available)</span>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <input type="submit" value="@RapidVet.Resources.Global.Save" class="btn" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink(RapidVet.Resources.Global.Back, "Edit", "Clinics", new { id = Model.Category.ClinicId }, null)
</div>
