﻿@model RapidVet.Model.Finance.Tariff
@{
    ViewBag.Title = RapidVet.Resources.Tariff.CreateTariff;
}

<h2>@RapidVet.Resources.Tariff.CreateTariff</h2>

@using (Html.BeginForm("CreateTariff", "PriceLists", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_FormValidationSummary")
    <fieldset>
        <legend>@RapidVet.Resources.Tariff.CreateTariff</legend>

        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.Name)
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.Name)
             <span class="help-inline">   @Html.ValidationMessageFor(model => model.Name)</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="@RapidVet.Resources.Global.Create" class="btn" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink(RapidVet.Resources.Global.Back, "Edit","Clinics",new{id = Model.ClinicId},null)
</div>
