﻿@model RapidVet.Model.Finance.PriceListItem
@{
    ViewBag.Title = "מחיקת פריט";
}

<h2>@Model.Category.Name > @Model.Name</h2>

<h3>@RapidVet.Resources.Global.DeleteMessage</h3>

<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>שם
        </th>
        <th>סוג
        </th>
        <th>קוד
        </th>
        <th>מחירון<br />
            ראשי
        </th>
        <th>מחירון<br />
            מופנים
        </th>
        <th>מחירון<br />
            חברים
        </th>
        <th>מחירון<br />
            קרובים
        </th>
        <th>מחירון<br />
            משפחה
        </th>
        <th>מחירון<br />
            עלות
        </th>
        <th>מחירון<br />
            כולל
        </th>
        <th>מחירון<br />
            מרפאה
        </th>
        <th>מחירון<br />
            מעבדה
        </th>
        <th>מחירון<br />
            חומרים
        </th>
        <th>ת.יצירה
        </th>
        <th>ת.עדכון
        </th>
        <th>זמינות
        </th>
    </tr>
    <tr>
        <td>
            <a href="@Url.Action("EditItem", new { id = Model.Id })">
                <i class="icon-edit"></i>
                @Html.DisplayFor(model => model.Name)
            </a>
        </td>
        <td>@Model.PriceListItemType</td>
        <td>@Model.Catalog
        </td>
        <td>@Model.MainPrice
        </td>
        <td>@Model.RefferedPrice
        </td>
        <td>@Model.FriendsPrice
        </td>
        <td>@Model.RealtivesPrice
        </td>
        <td>@Model.FamilyPrice
        </td>
        <td>@Model.CostPrice
        </td>
        <td>@Model.TotalPrice
        </td>
        <td>@Model.ClinicPrice
        </td>
        <td>@Model.LabPrice
        </td>
        <td>@Model.MaterialsPrice
        </td>
        <td>@Model.CreatedDate
        </td>
        <td>@Model.UpdatedDate
        </td>
        <td>@Model.Available
        </td>
    </tr>
</table>

@using (Html.BeginForm("RemoveItem", "PriceLists", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CategoryId)
<div class="form-actions" style="width:30%; margin-left: auto; margin-right: auto;">
  <button type="submit" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
    @Html.ActionLink(@RapidVet.Resources.Global.Cancel, "CategoryEdit","PriceLists",new{ id = @Model.CategoryId},new{@class="btn btn-inverse btn-large"})
</div>
}
<div>
    @Html.ActionLink(@RapidVet.Resources.Global.Back, "CategoryEdit","PriceLists",new{ id = @Model.CategoryId})
</div>