﻿@model IEnumerable<RapidVet.Model.Finance.PriceListItem>
@{
    ViewBag.Title = "פריטי מחירון";
    ViewBag.unavailable = " class=\"inactive\"";
    var id = int.Parse(Url.RequestContext.RouteData.Values["id"].ToString());
}

<h2>פריטי מחירון</h2>

<p>
    <a href="@Url.Action("CreateItem",new{ id = id})" class="btn btn-primary"><i class="icon-plus"></i> @RapidVet.Resources.Global.Create</a>
</p>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>שם
        </th>
        <th>סוג
        </th>
        <th>קוד
        </th>
        <th>מחירון<br/>ראשי
        </th>
        <th>מחירון<br/>מופנים
        </th>
        <th>מחירון<br/>חברים
        </th>
        <th>מחירון<br/>קרובים
        </th>
        <th>מחירון<br/>משפחה
        </th>
        <th>מחירון<br/>עלות
        </th>
        <th>מחירון<br/>כולל
        </th>
        <th>מחירון<br/>מרפאה
        </th>
        <th>מחירון<br/>מעבדה
        </th>
        <th>מחירון<br/>חומרים
        </th>
        <th>ת.יצירה
        </th>
        <th>ת.עדכון
        </th>
        <th>זמינות
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Available)
        {
        <tr>
            @Html.Partial("_ItemPartialView",item)
        </tr>
        }
        else
        {
        <tr class="inactive">
            @Html.Partial("_ItemPartialView",item)
        </tr>
        }

    }

</table>
