﻿@model IEnumerable<RapidVet.Model.Finance.Tariff>

@{
    ViewBag.Title = "Tariffs";
}

<h2>Tariffs</h2>


<p>
    <a href="@Url.Action("CreateTariff",new{ id = Url.RequestContext.RouteData.Values["id"] })"
         class="btn btn-primary"><i class="icon-plus"></i> @RapidVet.Resources.Global.Create</a>
</p>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            @RapidVet.Resources.Tariff.Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("ClinicClinicGroupEditTariff", new { id = item.Id })">
                    <i class="icon-edit"></i>
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
        </td>
    
        <td>
            @Html.ActionLink("Delete","RemoveTariff", new { id=item.Id })
        </td>
    </tr>
}

</table>
