﻿@{
    var clinicId = CurrentUser.ActiveClinicId;
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/DirectoryTypes.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<h2>סיווגי טלפונים</h2>

<input type="hidden" name="clinicId" id="clinicId" value="@clinicId" />

<a class="btn btn-primary" data-bind="click: add">
    <i class="icon-plus"></i>
    הוסף
</a>
<br /><br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>סיווג</th>               
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: types">
        <tr>
            <td>
                <input type="text" data-bind="value: name" /></td>
            
            <td>
                <a class="btn btn-primary" data-bind="click: $parent.save">
                    <i class="icon-edit"></i>
                    שמור
                </a>
                <a class="btn btn-danger" data-bind="click: $parent.remove">
                    <i class="icon-trash"></i>
                    מחק
                </a>
            </td>
        </tr>
    </tbody>
</table>
