﻿@model RapidVet.WebModels.Clinics.TelephoneDirectoryEdit
@{

    var directoryTypeId = Model.TelephoneDirectoryTypeId;
    if (directoryTypeId != null)
    {
        foreach (var directoryType in Model.TelephoneDirectoryTypes.Where(d => d.Value.Equals(directoryTypeId.ToString())))
        {
            directoryType.Selected = true;
        }
    }

   

}
<div class="modal-header">
    @if (Model.Id == 0)
    {
        <h3>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Create</h3>
    }
    else
    {
        <h3>@RapidVet.Resources.Global.Edit</h3>
    }
</div>
@using (Html.BeginForm("Edit", "TelephoneDirectory", FormMethod.Post, new { @class = "form-inline", @id="TelephoneEditForm" }))
{
    <input type="hidden" name="id" id="id" value="@Model.Id" />
    <input type="hidden" name="clinicId" id="clinicId" value="@Model.ClinicId" />
    <input type="hidden" name="TelephoneDirectoryTypeId" id="TelephoneDirectoryTypeId" value="@Model.TelephoneDirectoryTypeId" />

    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.Name
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.EditorFor(m => m.Name)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>

            </label>
        </div>
    </div>


    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.Address
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.EditorFor(m => m.Address)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Address)</span>

            </label>
        </div>
    </div>


    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.PrimaryPhone
            </label>
        </div>
        <div class="span4">

            <label>
                @Html.TextBoxFor(m => m.PrimaryPhone, new { style = "width:98px;" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.PrimaryPhone)</span>
            </label>

            <label>
                @Html.TextBoxFor(m => m.PrimaryPhoneComment, new { style = "width:98px;margin-right: -5px;" })
            </label>

        </div>
    </div>

    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.CellPhone
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.TextBoxFor(m => m.CellPhone, new { style = "width:98px;" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.CellPhone)</span>
            </label>
            <label>
                @Html.TextBoxFor(m => m.CellPhoneComment, new { style = "width:98px;margin-right: -5px;" })
            </label>
        </div>
    </div>

    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.SecondaryPhone
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.TextBoxFor(m => m.SecondaryPhone, new { style = "width:98px;" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.SecondaryPhone)</span>
            </label>
            <label>
                @Html.TextBoxFor(m => m.SecondaryPhoneComment, new { style = "width:98px;margin-right: -5px;" })
            </label>
        </div>
    </div>


    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.Fax
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.EditorFor(m => m.Fax)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Fax)</span>
            </label>
        </div>
    </div>

    <div class="row ">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.Email
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.EditorFor(m => m.Email)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Email)</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.ContactPerson
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.EditorFor(m => m.ContactPerson)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.ContactPerson)</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>@RapidVet.Resources.Controllers.TelephoneDirectoryController.DirectoryType</label>
        </div>
        <div class="span4">
            <label>
            <select id="TelephoneDirectoryType" style="width:218px;">
                <option value="">@RapidVet.Resources.Controllers.TelephoneDirectoryController.Choose</option>
                @foreach (var directoryType in Model.TelephoneDirectoryTypes)
                {
                    <option value="@directoryType.Value" 
                            @if (directoryType.Selected)
                            { 
                                <text> selected="selected" </text>   
                            }>
                            @directoryType.Text</option>
                }
            </select>
                       
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>
                @RapidVet.Resources.Controllers.TelephoneDirectoryController.Comments
            </label>
        </div>
        <div class="span4">
            <label>
                @Html.EditorFor(m => m.Comments)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Comments)</span>
            </label>
        </div>
    </div>

    @*<div class="row" style="text-align:left;">
            <button type="submit" class="btn btn-primary" data-bind="click: submitForm" style=" width: 150px;">
               <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>*@
    <br />
    <div class="row">
        <div class="controls">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        
        $('#TelephoneEditForm').submit(function () {
            var e = document.getElementById("TelephoneDirectoryType");
            var strUser = e.options[e.selectedIndex].value;
            document.getElementById('TelephoneDirectoryTypeId').value = strUser;
            return true; // return false to cancel form action
        });
    });
</script>