﻿@model IEnumerable<RapidVet.Model.Clinics.TelephoneDirectory>
  
                    
    <script src="@Url.Content("~/Scripts/App/TelephoneDirectory.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
   
    <div>
       
            <div>
                @Muze.CreateButton(Url.Action("Edit", "TelephoneDirectory", new { id = 0 }), RapidVet.Resources.Controllers.TelephoneDirectoryController.Create)
                @*<a data-bind="click: print" class="btn btn-primary"><i class="icon-print"></i>@RapidVet.Resources.Global.Print</a>*@
                <button class="btn btn-primary" data-bind="click: print">
                    <i class="icon-print"></i>
                    @RapidVet.Resources.ClinicTasks.Print
                </button>
            </div>
       
        <h2>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Title</h2>

          <div>
                <div class="pull-left">                  
                    <input type="search" data-bind="value: search, valueUpdate: 'keyup'" placeholder="@RapidVet.Resources.Global.Search" style="border: 1px solid lightgray" />

                </div>
                <div class="span4">
                    <label>
                        <label style="display: inline;position: relative; bottom: 4px;">
                            @RapidVet.Resources.Controllers.TelephoneDirectoryController.DirectoryType:
                        </label>
                        <select style="display: inline;" class="input-medium" 
                                data-bind="options: telephoneDirectoryTypes, optionsText: 'itemText', optionsValue: 'itemValue', value: selectedDirectoryType, optionsCaption: '@RapidVet.Resources.Controllers.TelephoneDirectoryController.Choose'"></select>

                    </label>
                </div>

                <div class="pull-right">
                    <a class="btn btn-info" href="http://www.b144.co.il" target="_blank">144</a>
                    <a class="btn btn-warning" href="http://www.d.co.il/" target="_blank">דפי זהב</a>
                </div>
            </div>
       

        <table class="table table-striped table-bordered table-condensed" id="tableId">
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Name</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Address</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.PrimaryPhone</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.SecondaryPhone</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.CellPhone</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Fax</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.ContactPerson</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Comments</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Email</th>
                    @*<th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.DirectoryType</th>*@
                    
                    <th></th>
                    
                </tr>
            </thead>
            <tbody data-bind="foreach: computedRecords">
                <tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: address"></td>
                    <td data-bind="text: primaryPhone"></td>
                    <td data-bind="text: secondaryPhone"></td>
                    <td data-bind="text: cellPhone"></td>
                    <td data-bind="text: fax"></td>
                    <td data-bind="text: contactPerson"></td>
                    <td data-bind="text: comments"></td>
                    <td data-bind="text: email"></td>
                    @*<td data-bind="text: telephoneDirectoryType"></td>*@

                    <td>
                        <a data-bind="attr: { href: editUrl }">
                            <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit
                        </a>
                        |
                        <a data-bind="click: $root.showDeleteModal">
                            <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete
                        </a>

                    </td>

                </tr>
            </tbody>

        </table>     
    </div>


    <div class="modal hide fade" id="deleteModal">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: hideDeleteModal" aria-hidden="true">&times;</button>
            <h3>מחיקה</h3>
        </div>
        <div class="modal-body">
            <h3>
                @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
            </h3>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div style="margin-top: 15px;">
                    <a data-bind="click: function () { deleteRecord(); }" class="btn btn-primary">@RapidVet.Resources.Global.Ok</a>

                    <a onclick="$('#deleteModal').modal('hide')" class="btn btn-inverse">@RapidVet.Resources.Global.Cancellation</a>
                </div>

            </div>
        </div>
    </div>
