﻿@model IEnumerable<RapidVet.Model.Clinics.TelephoneDirectory>
    @{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }

    <div>

        <h2>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Title</h2>



        <table class="table table-striped table-bordered table-condensed" id="tableId">
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Name</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Address</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.PrimaryPhone</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.SecondaryPhone</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.CellPhone</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Fax</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.ContactPerson</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Comments</th>
                    <th>@RapidVet.Resources.Controllers.TelephoneDirectoryController.Email</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.PrimaryPhone</td>
                    <td>@item.SecondaryPhone</td>
                    <td>@item.CellPhone</td>
                    <td>@item.Fax</td>
                    <td>@item.ContactPerson</td>
                    <td>@item.Comments</td>
                    <td>@item.Email</td>

                </tr>
                }
                }
                else
                {
                @Muze.EmptyGridMessage()
                }
            </tbody>
        </table>

    </div>

