﻿@using RapidVet.WebModels.Google
@model RapidVet.WebModels.Google.GoogleSyncSet
@using (Html.BeginForm("UpdateSyncCal", "Google", FormMethod.Post, new { id = "updatecal_request" }))
{
    <div class="modal hide fade" id="@("updateSyncCalModal" + Model.Id)">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>@RapidVet.Resources.Google.SyncCalendarDetails</h3>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.DoctorID)
        @Html.HiddenFor(m => m.GoogleTokenId)
        <div class="modal-body">
            <div class="row">
                <div class="span6">
                    <table class=" table table-bordered">
                        <tr>
                            <td>
                                RapidVet.Resources.Google.Calendar
                            </td>
                            <td>
                                @Model.DoctorName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @RapidVet.Resources.Google.SyncronizingIsEnabled
                            </td>
                            <td>
                                @Html.EditorFor(m => m.AllowSync)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @RapidVet.Resources.Google.SyncContacts
                            </td>
                            <td>
                                @Html.EditorFor(m => m.AllowSyncContacts)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @RapidVet.Resources.Google.SyncCalendar
                            </td>
                            <td>
                                @Html.EditorFor(m => m.AllowSyncCalendar)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @RapidVet.Resources.Google.GoogleCalendarName
                            </td>
                            <td>
                                @Html.EditorFor(m => m.GoogleCalName)
                                @Html.ValidationMessageFor(m => m.GoogleCalName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                               @RapidVet.Resources.Google.SyncBackDays
                            </td>
                            <td>
                                @Html.DropDownListFor(x => x.SyncCalBackDays, RapidVet.Helpers.GoogleHelper.GetBackForwardDays(Model.SyncCalBackDays))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @RapidVet.Resources.Google.SyncForwardDays
                            </td>
                            <td>
                                @Html.DropDownListFor(x => x.SyncCalForwardDays, RapidVet.Helpers.GoogleHelper.GetBackForwardDays(Model.SyncCalForwardDays))
                            </td>
                        </tr>
                        <tr>
                            <td>
                               @RapidVet.Resources.Google.SyncEventsFromGoogle
                            </td>
                            <td>
                                @Html.EditorFor(m => m.SyncCalFromGoogle)
                            </td>
                        </tr>
                        <tr>
                            <td>
                               @RapidVet.Resources.Google.SyncEventsToGoogle
                            </td>
                            <td>
                                @Html.EditorFor(m => m.SyncCalToGoogle)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @RapidVet.Resources.Google.SyncEvery_Minutes
                            </td>
                            <td>
                                @Html.DropDownListFor(x => x.SyncPeriod, RapidVet.Helpers.GoogleHelper.GetSyncPeriods(Model.SyncPeriod))
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @ViewBag.ErrorMsg
            @if (CurrentUser.IsAdministrator || CurrentUser.IsClinicGroupManager || Model.AccountEmail == CurrentUser.CurrentGoogleSyncEmail)
            {
                @Muze.OkButton()
            }
        </div>

    </div>
}
