﻿@using RapidVet.Web.Infra.Google
@model RapidVet.WebModels.Google.GoogleSyncHistoryModel
@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Google.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        $.datepicker.setDefaults($.datepicker.regional["he"]);

        $("#from").datepicker({
            defaultDate: "+0",
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            },
            isRTL: true
        });
        $("#to").datepicker({
            defaultDate: "+0",
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            },
            isRTL: true
        });
    </script>
}

<style type="text/css">
    label {
        height: 25px;
    }

    input[type=checkbox] {
        height: 20px;
    }

    .tagHeader {
        color: #48ab00;
        background: #f5f5f5;
    }

    .tagHeaderCenter {
        font-size: 18px;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<h2>@RapidVet.Resources.Google.CalSyncHistoryFor @Model.DoctorName</h2>
@using (Html.BeginForm("History", "Google", FormMethod.Post, null))
{
    @Html.HiddenFor(m => m.GoogleSettingId)
    <div class="well">
        <div class="form-inline">
            <div class="row control-group">
                <div class="span1">
                    <label>@RapidVet.Resources.Google.FromDate</label>
                </div>
                <div class="span2">
                    <label>
                        @Html.TextBoxFor(m => m.From, new { Value = Model.From.ToString("dd/MM/yyyy"), @readonly = "readonly", @id = "from" })
                    </label>
                </div>
                <div class="span1">
                    <label>@RapidVet.Resources.Google.ToDate</label>
                </div>
                <div class="span2">
                    <label>
                        @Html.TextBoxFor(m => m.To, new { Value = Model.To.ToString("dd/MM/yyyy"), @readonly = "readonly", @id = "to" })
                    </label>
                </div>
                <div class="span2">
                    <label>@RapidVet.Resources.Google.ShowErrorsOnly</label>
                </div>
                <div class="span1">
                    <label>
                        @Html.CheckBoxFor(m => m.WithErrorsOnly)
                    </label>
                </div>
                <div class="span2">
                    <label>@RapidVet.Resources.Google.ShowChangesOnly</label>
                </div>
                <div class="span1">
                    <label>
                        @Html.CheckBoxFor(m => m.HasChangesOnly)
                    </label>
                </div>
                <div class="span2">
                    <label>
                        <input type="submit" value="@RapidVet.Resources.Google.View" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div style="overflow-y:auto; max-height:1500px;">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="2" class="tagHeader"><center class="tagHeaderCenter">@RapidVet.Resources.Google.Contacts</center></th>
                    <th colspan="6" class="tagHeader"><center class="tagHeaderCenter">@RapidVet.Resources.Google.Calendar</center></th>
                    <th></th>
                </tr>
                <tr>
                    <th width="8%;">@RapidVet.Resources.Google.StartDate</th>
                    <th width="8%;">@RapidVet.Resources.Google.EndDate</th>
                    <th width="7%;">@RapidVet.Resources.Google.Updated</th>
                    <th width="7%;">@RapidVet.Resources.Google.Created</th>
                    <th width="7%;">@RapidVet.Resources.Google.Updated @RapidVet.Resources.Google.InGoogle</th>
                    <th width="7%;">@RapidVet.Resources.Google.Updated @RapidVet.Resources.Google.InSite</th>
                    <th width="7%;">@RapidVet.Resources.Google.Created @RapidVet.Resources.Google.InGoogle</th>
                    <th width="7%;">@RapidVet.Resources.Google.Created @RapidVet.Resources.Google.InSite</th>
                    <th width="7%;">@RapidVet.Resources.Google.Deleted @RapidVet.Resources.Google.InGoogle</th>
                    <th width="7%;">@RapidVet.Resources.Google.Deleted @RapidVet.Resources.Google.InSite</th>
                    <th width="28%;">@RapidVet.Resources.Google.Error</th>
                </tr>
                @foreach (var item in Model.Reports)
                {
                    <tr>
                        <td>@item.SyncStarted.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@(item.SyncEnded.HasValue ? item.SyncEnded.Value.ToString("dd/MM/yyyy HH:mm") : RapidVet.Resources.Google.NoEnded)</td>
                        <td>@item.ContactsUpdatedInGoogle</td>
                        <td>@item.ContactsCreatedInGoogle</td>
                        <td>@item.EventsUpdatedInGoogle</td>
                        <td>@item.EventsUpdatedInRapid</td>
                        <td>@item.EventsCreatedInGoogle</td>
                        <td>@item.EventsCreatedInRapid</td>
                        <td>@item.EventsDeletedInGoogle</td>
                        <td>@item.EventsDeletedInRapid</td>
                        <td>@(item.ErrorMsg == null && item.SyncEnded.HasValue ? RapidVet.Resources.Google.SyncSucceded : item.ErrorMsg)</td>
                    </tr>
                }
            </thead>
            <tbody></tbody>
        </table>
    </div>
}