﻿@using RapidVet.Web.Infra.Google
@using RapidVet.Model.Users
@model RapidVet.WebModels.Google.GoogleSyncModel
@section scripts{

    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Google.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    .googleProflbl {
        width: 800px;
        font-size: 15px;
        font-family: monospace;
        margin: 8px 10px 0px 0px;
    }

    .googleValid {
        color: #7dba00;
    }

    .googleNotValid {
        color: red;
    }

    .googleSettingsListStyle {
        width: 900px;
        margin-top: 30px;
    }

    .modal-body {
        max-height: 500px !important;
    }

    iframe{
        left: auto !important;
    }
</style>

<head>
    <meta name="google-signin-scope" content="@GoogleAuthorizationHelper.GetScopes()">
    <meta name="google-signin-client_id" content="@GoogleAuthorizationHelper._clientId">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

@using (Html.BeginForm("Settings", "Google", FormMethod.Post, null))
{
    <div>
        <hidden id="hd1"></hidden>
        @Html.HiddenFor(m => m.MaxSyncAllowedForClinigGroup)
    </div>
    <div class="well row-fluid">
        <div class="row ">
            <div class="span2">
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
            <div class="span2">
                <label id="googleDetailsLbl" class="googleProflbl">
                </label>
            </div>
        </div>
        <div class="row" id="GoogleOfflineValidaionMessage" style="display:none;">
            <div class="span2">
                <label id="googleOfflineCheckLbl" class="googleProflbl googleNotValid" style="margin-top: 50px;">
                    @RapidVet.Resources.Google.PleaseWait_ValidatingOfflineAccess
                </label>
            </div>
        </div>
        <div id="GoogleSettingsContainer" style="display:none;">
            <div class="row">
                <div class="span2">
                    <label class="googleProflbl" style="margin-top: 25px;">
                        @if (ViewBag.CanAddCalendarsForSync == true)
                        {
                            //href="@Url.Action("AddNewSyncCal", "Google")"
                            <a class="btn btn-primary" onclick="$('#addSyncCalModal').modal('show'); return false;">
                                <i class=" icon-cog"></i>@RapidVet.Resources.Google.AddCalendarForSync
                            </a>
                        }
                        else
                        {
                            <label class="googleProflbl googleNotValid">
                                @RapidVet.Resources.Google.AddingCalendarsBlocked_AccountSyncCalExceeded
                            </label>
                        }
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="span2" style="max-height:500px; overflow-y:auto; overflow-x:hidden; width:900px;">
                    <table class="table table-bordered table-striped googleSettingsListStyle">
                        <thead>
                        <th width="26%;">@RapidVet.Resources.Google.CalendarName</th>
                        <th width="26%;">@RapidVet.Resources.Google.Clinic</th>
                        <th width="26%;">@RapidVet.Resources.Google.SyncronizingAccount</th>
                        <th width="5%;">@RapidVet.Resources.Google.SyncronizingIsEnabled</th>
                        <th width="5%;"></th>
                        <th width="5%;"></th>
                        <th width="5%;"></th>
                        <tbody>
                            @foreach (var gs in Model.GSettings)
                            {
                                <tr>
                                    <td>
                                        @gs.DoctorName
                                    </td>
                                    <td>
                                        @gs.ClinicName
                                    </td>
                                    <td>
                                        @gs.AccountEmail
                                    </td>
                                    <td>
                                        @(gs.AllowSync ? RapidVet.Resources.Global.Yes : RapidVet.Resources.Global.No)
                                    </td>
                                    <td>
                                        <a onclick="$('#updateSyncCalModal' + @gs.Id).modal('show'); return false;"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                                        @Html.Partial("_UpdatesyncCal", gs)
                                    </td>
                                    <td>
                                        <a href="@(Url.Action("History", "Google", new { id = gs.Id, doctoName = gs.DoctorName }))" target="_blank"><i class="icon-file"></i>@RapidVet.Resources.Google.History</a>
                                    </td>
                                    <td title="@RapidVet.Resources.Google.ResetGoogleCalendar">
                                        @if (gs.HasGoogleCalendarID && (CurrentUser.IsAdministrator || CurrentUser.IsClinicGroupManager))
                                        {
                                            <a onclick="resetGoogleCalendarID(@gs.Id, this); false;"><i class="icon-trash"></i>@RapidVet.Resources.Google.ResetCalendar</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row" style="margin-top: 20px;">
            <div class="controls">
                <button class="btn ok" type="submit" name="Edit">@RapidVet.Resources.Global.Save</button>
            </div>
        </div>*@
}
@Html.Partial("_AddSyncCal", new RapidVet.Model.Google.GoogleSettings() { UsersList = ViewBag.UsersList as List<RapidVet.WebModels.Users.UsersSettingsShowUserModel> })
