﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = @Url.RequestContext.RouteData.Values["id"];
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patients/comments.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}
<input type="hidden" name="patientId" id="patientId" value="@patientId" />
<div class="well">
    <h3>@RapidVet.Resources.Comments.CommentsAmount:
        <span data-bind="text: comments().length"></span></h3>
</div>

<button class="btn btn-primary btn-small" data-bind="click: add">
    <i class="icon-plus"></i>
    @RapidVet.Resources.Comments.Adding
</button>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Comments.InsertionDate</th>
            <th>@RapidVet.Resources.Comments.Creator  </th>
            <th>@RapidVet.Resources.Comments.Content  </th>
            <th>@RapidVet.Resources.Comments.ValidThrough</th>
            <th>@RapidVet.Resources.Comments.Popup</th>
            <th></th>
        </tr>

    </thead>
    <tbody data-bind="foreach: comments">
        <tr>
            <td data-bind="text: CreatedDate"></td>
            <td data-bind="text: CreatedBy"></td>
            <td>
                <textarea style="width: 95%;" data-bind="value: CommentBody"></textarea></td>
            <td>
                <input class="date" readonly data-bind="value: ValidThrough" type="text" /></td>
            <td>
                <input type="checkbox" data-bind="checked: Popup" /></td>
            <td>
                <button class="btn btn-primary btn-small" data-bind="click: save, visible: Id() > 0">
                    <i class="icon-ok"></i>
                    @RapidVet.Resources.Comments.Saving
                </button>
                <button class="btn btn-primary btn-small" data-bind="click: create, visible: Id() == 0">
                    <i class="icon-ok"></i>
                    @RapidVet.Resources.Comments.Saving
                </button>
                <button class="btn btn-danger btn-small" data-bind="click: remove">
                    <i class="icon-remove"></i>
                    @RapidVet.Resources.Comments.Deleting
                </button>
            </td>
        </tr>
    </tbody>
</table>
