﻿<script src="@Url.Content("~/Scripts/App/Expenses/MainForm.js")"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
<style type="text/css">
    #Description, #Comments {
        width: 500px;
    }

    #InvoiceNumber, #ReciptNumber {
        width: 100px;
    }
</style>

<input type="hidden" name="expenseId" id="expenseId" value="@ViewBag.ExpenseId" />
<input type="hidden" name="taxRate" id="taxRate" value="@ViewBag.TaxRate" />
<div style="width:730px;">
    <div class="row-fluid ">
        <div class="span2">
            <label>תאריך הקלדה</label>
        </div>
        <div class="span9">
            <label>
                <input type="text" data-bind="value: enteredDate" class="date input-small" readonly />
            </label>
        </div>
    </div>
    <br />

    <div class="row-fluid">
        <div style="float:right;width:45%;position:relative;margin-right:-20px;">
            <div style="display: inline-block;margin-bottom:8px;">
                <div class="span3">
                    <label>קבוצת הוצאות</label>
                </div>
                <div class="span2" style="margin-right: -92px;">
                    <label>
                        <select class="input-medium" data-bind="options: expenseGroupOptions, optionsText: 'Text', optionsValue: 'Value', value: expenseGroupId"></select>
                    </label>
                </div>
            </div>
            <br />
            <div style="display: inline-block;margin-bottom:8px;">
                <div class="span3">
                    <label>מנפיק</label>
                </div>
                <div class="span2" style="margin-right: -92px;">
                    <label>
                        <select class="input-medium" data-bind="options: issuers, optionsText: 'Text', optionsValue: 'Value', value: selectedIssuerId"></select>
                    </label>
                </div>

            </div>
            <br />
            <div style="display: inline-block;margin-bottom:8px;">
                <div class="span3">
                    <label>ספק</label>
                </div>
                <div class="span2" style="margin-right: -92px;">
                    <label>
                        <select class="input-medium" data-bind="options: supplier, optionsText: 'Text', optionsValue: 'Value', value: supplierId"></select>
                    </label>
                </div>

            </div>
            <br />
            <div style="display: inline-block;">
                <div class="span3">
                    <label>תאריך חשבונית</label>
                </div>
                <div class="span2" style="margin-right: -92px;">
                    <label>
                        <input type="text" data-bind="value: invoiceDate" class="date input-small" readonly />
                    </label>
                </div>
            </div>
        </div>
        <div style="float:right;padding:7px;border: 1px gray solid;margin-top:-8px;border-radius: 5px;">
            <div style="display: inline-block;">
                <div class="span1">
                    <label>סכום כולל מע"מ</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="number" data-bind="value: totalAmount" class="input-small fix-negativ" />
                    </label>
                </div>
            </div>
            <br />
            <div style="display: inline-block;">
                <div class="span1">
                    <label>אחוז מוכר</label>
                </div>
                <div class="span2">
                    <label data-bind="text: recognitionPercent" class="input-small fix-negativ">
                    </label>
                </div>
            </div>
            <br />
            <div style="display: inline-block;">
                <div class="span1">
                    <label>סכום מוכר כולל מע"מ</label>
                </div>
                <div class="span2">
                    <label data-bind="text: recognitionTotalAmountIncludingVat().toFixed(2)" class="input-small fix-negativ">
                    </label>
                </div>
            </div>
            <br />
            <div style="display: inline-block; margin-bottom: -10px;">
                <div class="span1">
                    <label>המע"מ</label>
                </div>
                <div class="span2">
                    <label data-bind="text: vat().toFixed(2)" class="input-small fix-negativ">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row-fluid ">
        <div class="span2">
            <label>מספר חשבונית</label>
        </div>
        <div class="span3">
            <label>
                <input type="text" data-bind="value: invoiceNumber" class="input-small" />
            </label>
            <a data-bind ="click: copyInvoiceNumber">
                <img src="/Content/img/RapidVet/Actions-arrow-left-icon.png" style="width:20px;height:20px;" />
            </a>
        </div>
        <div class="span2">
            <label>מספר קבלה</label>
        </div>
        <div class="span1">
            <label>
                <input type="text" data-bind="value: reciptNumber" class="input-small" />
            </label>
        </div>
    </div>
    <br />

    <div class="row-fluid ">
        <div class="span2">
            <label>תיאור</label>
        </div>
        <div class="span9">
            <label>
                <textarea type="text" data-bind="value: description" cols="100" rows="2" style="width:430px;"></textarea>
            </label>
        </div>
    </div>
    <br />
    <div class="row-fluid" style="border: 1px gray solid; padding-top: 10px; padding-right: 5px; margin-right: -5px; margin-top: -12px; width: 77%; padding-bottom: 5px;border-radius: 5px;">
        <div class="row-fluid ">
            <div class="span2" style="margin-left:25px;">
                <label>אמצעי תשלום</label>
            </div>
            <div class="span2" style="margin-left:95px;">
                <label>
                    <select class="input-medium" data-bind="options: paymentType, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: paymentTypeId"></select>
                </label>
            </div>
            <div class="span2" style="margin-left: 30px;">
                <label>תאריך תשלום</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" data-bind="enable: paymentTypeId() > -1, value: paymentDate" class="date input-small" readonly />
                </label>
            </div>
        </div>

        <br />

        <div class="row-fluid ">
            <div class="span2" style="margin-left:23px;">
                <label>הערות תשלום</label>
            </div>
            <div class="span9">
                <label>
                    <textarea type="text" data-bind="value: comments" cols="100" rows="2" style="width:430px;"></textarea>
                </label>
            </div>
        </div>
    </div>
        <br />
<div>
    <div class="controls" style="text-align:left;margin-left: 165px;">
        <button data-bind="click: save" class="btn ok">
            <img src="/Content/img/RapidVet/ok-v.png">
        </button>
    </div>
   

</div>
</div>
