﻿@model IEnumerable<RapidVet.WebModels.Expenses.ExpenseIndexWebModel>
<table>
    <thead>
        <tr>
            <th>תאריך חשבונית</th>
            <th>תאריך תשלום</th>
            <th>מנפיק</th>
            <th>ספק</th>
            <th>תיאור הוצאה</th>
            <th>מספר חשבונית</th>
            <th>סכום כולל מע"מ</th>
            <th>סכום ללא מע"מ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.InvoiceDate</td>
                <td>@r.PaymentDate</td>
                <td>@r.IssuerName</td>
                <td>@r.Supplier</td>
                <td>@r.Description</td>
                <td>@r.InvoiceNumber</td>
                <td>@r.TotalAmount</td>
                <td>@((r.TotalAmount - r.Vat).ToString("F2"))</td>
                @*<td>
                    @{ var noVat = r.TotalAmount * (100 - r.Vat) / 100;}
                    @noVat.ToString("F2")
                </td>*@
            </tr>
        }
        @foreach (var r in Model)
        {
            <tr>
                <td colspan="6">סה"כ</td>
                <td>@Model.Sum(x => x.TotalAmount)</td>
                <td>
                    @*@{ var noVat = Model.Sum(x => x.TotalAmount) * (100 - r.Vat) / 100;}
                    @noVat.ToString("F2")*@
                    @{ var noVat = Model.Sum(x => x.TotalAmount) - Model.Sum(x => x.Vat) ;}
                    @noVat.ToString("F2")
                </td>
            </tr>
            break;
        }
    </tbody>
</table>
