﻿@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Expenses/Reports.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style>
    .btn-primary {
        width: 182px;
    }
</style>

<h2>דו"חות הוצאות</h2>
<br />
<br />
<div class="form-inline">

    <div class="row-fluid ">
        <div class="span2">
            <label>מתאריך</label>
        </div>
        <div class="span3">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: fromDate" />
            </label>
        </div>
        <div class="span2">
            <label>עד תאריך</label>
        </div>
        <div class="span3">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: toDate" />
            </label>
        </div>
    </div>
    <br />
    <div class="row-fluid ">
        <div class="span2">
            <label>ספק</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="value: selectedSupplierId, options: suppliers, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>
        
        <div class="span2">
            <label>מנפיק</label>
        </div>
        <div class="span3">
            <label>               
                    <select data-bind="options: issuers, optionsText: 'Text', optionsValue: 'Value', value: selectedIssuerId"></select>               
            </label>
        </div>
    </div>

</div>
<br />
<div class="row-fluid">
    <a class="btn btn-primary" data-bind=" css: withSupplier, attr: { href: reportBySupplier, target: reportBySupplierTarget } ">
        <i class="icon-search"></i>
        חיתוך הוצאות תקופתי על פי ספק
    </a>
    <span data-bind="visible: notWithSupplier">
        <a class="btn btn-primary" target="_blank" data-bind="css: notWithSupplier, attr: { href: reportByGroups }">
            <i class="icon-search"></i>
            חיתוך על פי קבוצת הוצאות
        </a>
        
        <a class="btn btn-primary" target="_blank" data-bind="css: notWithSupplier, attr: { href: monthlyReport }">
            <i class="icon-search"></i>
            דו"ח הוצאות חיתוך חודשי
        </a>

        <a class="btn btn-primary" target="_blank" data-bind="css: notWithSupplier, attr: { href: quarterlyRepot }">
            <i class="icon-search"></i>
            דו"ח הוצאות חיתוך רבעוני
        </a>
    </span>
</div>