﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Expenses/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<h2>הוצאות</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "Expenses")">
    <i class="icon-plus"></i>
    הוסף הוצאה חדשה
</a>
<br />
<br />
<div class="form-inline">
    <div class="well" style="padding-bottom: 60px;">
        <div class="span1">
            <label>מנפיק</label>
        </div>
        <div class="span3" style="margin-left: -30px;">
            <label>
                <select class="input-medium" data-bind="options: issuers, optionsText: 'Text', optionsValue: 'Value', value: selectedIssuerId"></select>
            </label>
        </div>

        <div class="span2">
            <label>
                מתאריך
                <select class="input-small" data-bind="options: dateTypes, optionsText: 'Text', optionsValue: 'Value', value: selectedDateType"></select>
            </label>
        </div>
        <div class="span2" style="margin-left: -28px;">
            <label>
                <input type="text" data-bind="value: from" class="date input-small" readonly />
            </label>
        </div>
        <div class="span1">
            <label>
                עד תאריך
            </label>

        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: to" class="date input-small" readonly />
            </label>
        </div>
        
        <div class="span12" style="margin-top:10px;">
            <div class="span2" style="width:75px;">
                <label>
                    <a class="btn btn-primary" data-bind="click: getData">
                        <i class="icon-search"></i>
                        חפש
                    </a>
                </label>
            </div>

            <div class="span2" style="width:75px;">
                <label>
                    <a class="btn btn-primary" data-bind="click: print">
                        <i class="icon-print"></i>
                        הדפס
                    </a>
                </label>
            </div>
            <div class="span2" style="width:75px;">
                <label>
                    <a class="btn btn-primary" data-bind="click: exportCsv">
                        <i class="icon-download"></i>
                        ייצא
                    </a>
                </label>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" data-bind="visible: displayResults">
    <thead>
        <tr>
            <th>תאריך הקלדה</th>
            <th>תאריך חשבונית</th>
            <th>ספק</th>
            <th>קבוצה</th>
            <th>תיאור</th>
            <th>מספר חשבונית</th>
            <th>סכום כולל מע"מ</th>
            <th>אחוז הכרה</th>
            <th>מע"מ</th>
            <th>תאריך תשלום</th>
            <th></th>
        </tr>
    </thead>

    <tbody data-bind="foreach: expenses">
        <tr>
            <td data-bind="text: enteredDate"></td>
            <td data-bind="text: invoiceDate"></td>
            <td data-bind="text: supplier"></td>
            <td data-bind="text: expenseGroup"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: invoiceNumber"></td>
            <td data-bind="text: totalAmount"></td>
            <td data-bind="text: recognitionPercent"></td>
            <td data-bind="text: vat"></td>
            <td data-bind="text: paymentDate"></td>
            <td>
                <a class="btn btn-primary" data-bind="attr: { href: editUrl }">
                    <i class="icon-edit"></i>
                    @RapidVet.Resources.Global.Edit
                </a>

                <a class="btn btn-primary" data-bind="attr: { href: deleteUrl }">
                    <i class="icon-remove"></i>
                    @RapidVet.Resources.Global.Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div id="deleteModal" class="modal hide fade"></div>
