﻿@model IEnumerable<RapidVet.WebModels.Expenses.ExpenseReportModel>
           
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}
<h2>@ViewBag.Title</h2>

@foreach (var group in Model)
{
    <h4>@group.Title</h4>
    @Html.Partial("_ReportTable", group.Expenses)
                  
}