﻿@model System.Collections.Generic.List<RapidVet.WebModels.Expenses.ExpenseIndexWebModel>
    @{
        Layout = "~/Views/Shared/_PrintingLandscapeLayout.cshtml";
    }

    @if (Model.Any())
    {
        <img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;" />

        <div class="row">
            <div class="span4">
                <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span><br />
                <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
                <br />
                <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
                <br />
                <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
                <br />
                <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
            </div>
            <div class="span4">&nbsp;</div>
        </div>
        <center><h3>@(string.Format("הוצאות לפי תאריך {0} {1}-{2}", ViewBag.DateType, ViewBag.From, ViewBag.To))</h3></center>

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>תאריך הקלדה</th>
                    <th>תאריך חשבונית</th>
                    <th>ספק</th>
                    <th>קבוצה</th>
                    <th>תיאור</th>
                    <th>מספר חשבונית</th>
                    <th>סכום כולל מע"מ</th>
                    <th>אחוז הכרה</th>
                    <th>מע"מ</th>
                    <th>תאריך תשלום</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var expence in Model)
                {
                    <tr>
                        <td>@expence.EnteredDate</td>
                        <td>@expence.InvoiceDate</td>
                        <td>@expence.Supplier</td>
                        <td>@expence.ExpenseGroup</td>
                        <td>@expence.Description</td>
                        <td>@expence.InvoiceNumber</td>
                        <td>@expence.TotalAmount</td>
                        <td>@expence.RecognitionPercent</td>
                        <td>@expence.Vat</td>
                        <td>@expence.PaymentDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <center><h1>לא נמצאו הוצאות</h1></center>
    }
