﻿@model IEnumerable<RapidVet.WebModels.Expenses.ExpenseIndexWebModel>
           
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}


<h2>@ViewBag.Title</h2>
<br />
<br />
@Html.Partial("_ReportTable", Model)