﻿@model RapidVet.WebModels.GeneralReports.RabiesReportWebModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        function viewModel() {
            var self = this;

            self.options = ko.observableArray(@Html.Raw(Json.Encode(Model.PostOptions)));

            self.fromDate = ko.observable(moment().month(moment().month() - 1).set('date', 1).format("DD/MM/YYYY"));
            self.toDate = ko.observable(moment().subtract(1, 'month').endOf('month').format("DD/MM/YYYY"));

            self.validate = ko.computed(function () {
                return typeof self.fromDate() !== 'undefined' && self.fromDate() != null && self.fromDate() != "" &&
                    self.toDate() !== 'undefined' && self.toDate() != null && self.toDate() != "";
            });

            self.postUrl = ko.observable();
            self.excluded = ko.mapping.fromJS([]);

            self.getExportSummaryForDoctorat = function()
            {
                if (self.postUrl() == "/Rabies/ExportToDoctorat" || self.postUrl() == "/Rabies/ExportToReverseDoctorat")
                {
                    var $form = $("#rabiesForm");

                    
                    var url = '/Rabies/GetExportSummaryForDoctorat/?' + $form.serialize();
                    $.getJSON(url, function (data) {

                        ko.mapping.fromJS(data, self.excluded);

                        if (self.excluded().length > 0) {
                            $('#excludedFromExportModal').modal('show');
                        }
                     

                    });

                  
                }

                $("#rabiesForm").submit();
            }
        }

        var viewModel;

        $(function () {
            viewModel = new viewModel();
            ko.applyBindings(viewModel);
        });

    </script>
}

<h2>דו"ח חיסוני כלבת</h2>
<form id="rabiesForm" data-bind="attr: { action: postUrl }"  target="_blank">

    <input type="hidden" name="id" value="1" />
    <div class="form-inline well">
        <div class="row ">
            <div class="span1">
                <label>מתאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="date input-small" name="from" data-bind="value: fromDate" readonly autocomplete="OFF" />
                </label>
            </div>

            <div class="span1">
                <label>עד תאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="date input-small" name="to" data-bind="value: toDate" readonly autocomplete="OFF"/>
                </label>

            </div>

            <div class="span1">
                <label>
                    סוג בע"ח
                </label>
            </div>
            <div class="span2">
                <label>
                    @Html.DropDownListFor(m => m.AnimalTypeId, Model.AnimalTypeOptions, new { @class = "input-small" })
                </label>
            </div>
        </div>
        <br />
        <div class="row ">
           
            <div class="span1">
                <label>
                    עיקור
                </label>
            </div>
            <div class="span2">
                <label>
                    @Html.DropDownListFor(m => m.SterilizationOption, Model.SterilizationOptions, new { @class = "input-small" })
                </label>
            </div>
            <div class="span1">
                <label>רשות</label>
            </div>
            <div class="span2">
                <label>
                    @Html.DropDownListFor(m => m.RegionalCouncilId, Model.RegionalCouncilOptions, new { @class = "input-medium" })

                </label>
            </div>
            <div class="span1">
                <label>עיר</label>
            </div>
            <div class="span2">
                <label>
                    @Html.DropDownListFor(m => m.CityId, Model.CityOptions, new { @class = "input-medium" })

                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span1">
                <label>קוד לאתר מלונה </label>
            </div>
            <div class="span2">
                <label>@Html.TextBoxFor(m => m.MeloonaCode, new { @style="width:100px;"})</label>
            </div>
            <div class="span1">
                <label>בחר פעולה</label>
            </div>
            <div class="span3">
                <label>
                    <select data-bind="options: options, value: postUrl, optionsText: 'Text', optionsValue: 'Value'"></select>
                </label>
            </div>
            <div class="span2">
                <button type="submit" class="btn btn-primary" data-bind="css: { disabled: !validate() }, click: getExportSummaryForDoctorat">בצע</button>
            </div>
        </div>
    </div>
</form>

<div id="excludedFromExportModal" class="modal hide fade" style="max-height:500px; width:565px;overflow-y:hidden;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <b> @RapidVet.Resources.Controllers.RabiesController.DoctoratExportErrorCaption </b>
    </div>
   
    <div class="modal-body">
        <div class="row">
            <label>@RapidVet.Resources.Controllers.RabiesController.DoctoratExportErrorBody</label>
        </div>
        
           
        <ul data-bind="foreach: {data: excluded}">            
                <li data-bind="text: $data"></li>            
        </ul>
        
    </div>
    <div class="modal-footer" style="margin-top: 3px; text-align: center; background-color: white; padding-bottom: 3px;">

        <a onclick="$('#excludedFromExportModal').modal('hide')" class="btn btn-primary">@RapidVet.Resources.Global.Ok</a>
    </div>
</div>
