﻿@model RapidVet.WebModels.GeneralReports.RabiesReportPrintModel
@{
    Layout = Url.Content("~/Views/Shared/_PrintingLandscapeLayout.cshtml");
   
}
<style>
    .emailCol {
        max-width: 100px;
    }
   html, body {
        height: 98%;
    }
  
    div.page-break {
        display: block;
        height: auto;
        page-break-before: avoid;
        page-break-after:always;
    }

        .print:last-child {
            page-break-before: auto;
            page-break-after: avoid;
        }

        hr{
            border: transparent;
            height: 1px;
            width: 98%;
        }
</style>

@if (Model.ReportItemsByRegionalCouncils.Any())
{
    foreach (var list in Model.ReportItemsByRegionalCouncils)
    {
        if (list.Any())
        {
            var currentCity = list.First().RegionalCouncil;

    <img src="@Url.Content("/ClinicGroups/LogoImage")" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;"/>
    <div class="row" style="font-size:12px;">
        <div class="span4">
            <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span><br />
            <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
            <br />
            <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
            <br />
            <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
            <br />
            <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
        </div>      
    </div>
    <br />
    <div class="row" style="font-size:12px;">
        <div style="text-align: right; width: 30%;float: right;">

            <div style="margin-bottom: -15px;display: inherit;">
                <b>משרד החקלאות</b>
            </div>
            <br />
            השרותים הוטרינרים ובריאות המקנה
            <br />
            השרותים הוטרינרים בשדה
        </div>
        <div style="text-align: center; width: 70%">

            <div style="margin-bottom: -15px;display: inherit;"><b>מדינת ישראל</b></div>       <br />
            גליון רישום וחיסון נגד מחלת הכלבת
            <br />
            <div><b>@currentCity @Model.From - @Model.To</b></div>
        </div>
    </div>
    <br />
    <div>
        <table style="border: 0.1px; font-size:11px;">
            <thead>
                <tr>
                    <th rowspan="2">תש</th>
                    <th rowspan="2">תאריך</th>
                    <th colspan="8">בעל החיה</th>
                    <th colspan="12">תיאור החיה</th>
                </tr>
                <tr>

                    <th>ת.ז.</th>
                    <th>שם משפחה</th>
                    <th>שם פרטי</th>
                    <th>כתובת</th>
                    <th>טלפון בית</th>
                    <th>טלפון נייד</th>
                    <th>דוא"ל</th>
                    <th class="emailCol">הצג טלפון</th>

                    <th>שם</th>
                    <th>גזע</th>
                    <th>מין</th>
                    <th>תאריך לידה</th>
                    <th>צבע</th>
                    <th>סוג</th>
                    <th>מס' אלקטרוני</th>
                    <th>מספר רישוי</th>
                    <th>מספר אצווה</th>
                    <th>סירוס/עיקור</th>
                    <th> פטור וסוג פטור</th>
                </tr>
            </thead>
            @foreach (var item in list)
        {
        <tr>
            <td>@item.ClientPaidOrReturnedTollVaucher</td>
            <td>@item.VaccinationDate</td>
            <td>@item.OwnerIdCard</td>
            <td>@item.OwnerFirstName</td>
            <td>@item.OwnerLastName</td>
            <td>@item.Address</td>
            <td>@item.HomePhone</td>
            <td>@item.CellPhone</td>
            <td class="emailCol">@item.Email</td>
            <td>@item.DisplayPhone</td>

            <td>@item.AnimalName</td>
            <td>@item.AnimalRace</td>
            <td>@item.Gender</td>
            <td>@item.Birthdate</td>
            <td>@item.Color</td>
            <td>@item.AnimalKind</td>
            <td>@item.ElectronicNumber</td>
            <td>@item.LicenceNumber</td>
            <td>@item.BatchNumber</td>

            @if (item.SterilizationBool && item.Gender == "זכר")
                {
                <td>סירוס</td>
                }
                else if (item.SterilizationBool && item.Gender == "נקבה")
                {
                <td>עיקור</td>
                }
                else
                {
                <td></td>
                }
            @if (item.Exemption)
                {
                <td>כן - @item.ExemptionCause</td>
                }
                else
                {
                <td>לא - @item.ExemptionCause</td>
                }
           
        </tr>
        }
        </table>

        <div style="width: 100%; font-size:12px;">
            * הנני מצהיר כי בעל החיים המתואר לא נשך אדם או בעל חיים בעשרת (10) הימים האחרונים
        </div>
    </div>
    <div class="page-break"></div>
        }
    }
}
else
{
    <center><h1>לא נמצאו נתונים</h1></center>
}