﻿@model RapidVet.WebModels.GeneralReports.RabiesReportPrintModel
@{
    Layout = Url.Content("~/Views/Shared/_PrintingLayout.cshtml");
   
}


@if (Model.ReportItemsByRegionalCouncils.Any())
{
    foreach (var list in Model.ReportItemsByRegionalCouncils)
    {
        if (list.Any())
        {
            var currentCity = list.First().City;

            var header = Model.ClinicHeader;
    <div style="float: left">
        <img src="@Url.Content("/Content/img/RapidVet/logo.png?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />

    </div>
    
    <div style="float: right; width: 100%">
        <h3>@header.Name</h3>
        <br />
        @header.Address<br />
        טל: @header.Phone<br />
        פקס: @header.Phone<br />
        @header.Email   :e-mail
    </div>
    
    <br />
    <div style="float: right; width: 100%">
        <p>
            <h3>לכבוד
                        <br />
                עירית אשדוד
            </h3>


            המחלקה הוטרינרית
        </p>
        <p>
            <b>@Model.ClinicHeader.Name</b>
            <br />
            @Model.ClinicHeader.Phone
        </p>

    </div>
    <br />
    <div style="width: 100%; text-align: center">
        <b>גליון רישום וחיסון נגד מחלת הכלבת
                <br />
            @currentCity @Model.From - @Model.To
        </b>
    </div>
    <table>
        <tr>
            <th>#</th>
            <th>תאריך חיסון</th>
            <th>שם משפחה ופרטי</th>
            <th>ת.ז.</th>
            <th>תאריך לידה של בעל החיה</th>
            <th>כתובת</th>
            <th>טלפון/נייד</th>
            <th>שם החיה</th>
            <th>סוג/גזע</th>
            <th>מסוכן</th>
            <th>מין</th>
            <th>צבע</th>
            <th>תאריך לידה של החיה</th>
            <th>מספר לוחית</th>
            <th>מספר שבב</th>
        </tr>
        @{ var index = 0; }
        @foreach (var item in list)
        {
            index++;
            <tr>
                <td>@index</td>
                <td>@item.VaccinationDate</td>
                <td>@item.OwnerFirstName @item.OwnerLastName</td>
                <td>@item.OwnerIdCard</td>
                <td>@item.OwnerBirthDate</td>
                <td>@item.Address @item.City </td>
                <td>@{
                        if (String.IsNullOrEmpty(item.HomePhone))
                        {
                            @item.CellPhone
                        }
                        else
                        {
                            @item.HomePhone
                        }
                    }

                </td>

                <td>@item.AnimalName</td>
                <td>
                    @item.AnimalKind 
                    @item.AnimalRace
                </td>
                <td>@item.IsDangerous</td>
                <td>@item.Gender

                    מעוקר/ת: @item.Sterilization
                </td>
                <td>@item.Color</td>
                <td>@item.Birthdate</td>
             
                <td>@item.LicenceNumber</td>
                <td>@item.ElectronicNumber</td>
            </tr>
        }
    </table>
    <div style="width: 100%">
        * הנני מצהיר כי בעל החיים המתואר לא נשך אדם או בעל חיים בעשרת (10) הימים האחרונים 
    </div>
    <div class="page-break"></div>
        }
    }
}

 else
    {
    <center><h1>לא נמצאו נתונים</h1></center>
    }