﻿@if (ViewBag.Success.Count > 0)
{
    <div class="row">
        <div class="span6 alert alert-success">
            @foreach (var element in ViewBag.Success)
            {
                @element <br />
            }
        </div>
    </div>
    <br />
}

@if (ViewBag.Failure.Count > 0)
{
    <div class="row">
        <div class="span6 alert alert-danger">
            @foreach (var element in ViewBag.Failure)
            {
                @element <br />
            }
        </div>
    </div>

    <br />
}

@if (ViewBag.NoEmail.Count > 0)
{
    <div class="row">
        <div class="span6 alert alert-warning">
            @foreach (var element in ViewBag.NoEmail)
            {
                @element <br />
            }
        </div>
    </div>
}