﻿<h2>דו"ח לקוחות</h2>
<br />
<style>
    select {
        width: 130px !important;
    }

        select[multiple] {
            width: 220px !important;
        }
</style>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#filterBar">
                פילטרים
            </a>
        </div>
        <div id="filterBar" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="well">
                    <div class="form-inline">
                        <h3>נתונים כללים</h3>
                        <div class="row control-group" style="border: 1px solid #7dba00;">
                            <div class="span3">
                                <input type="checkbox" name="toggleAnimalFilter" data-bind="checked: toggleAnimalFilter, click: resetPatientFilters()" />
                                <span>כלול רק מידע על הלקוח</span>
                            </div>
                            <div class="span5">
                                <input type="radio" name="onlyNonFilteredClients" value="false" data-bind="checked: onlyNonFilteredClients" />
                                <span>
                                    לקוחות שעונים על החתך
                                </span>
                                <br />
                                <input type="radio" name="onlyNonFilteredClients" value="true" data-bind="checked: onlyNonFilteredClients" />
                                <span>
                                    לקוחות שאינם עונים על החתך
                                </span>
                            </div>
                            <div class="span4">
                                <input type="checkbox" data-bind="checked: onlyClientsWithoutVisits" />
                                <span>
                                    לקוחות ללא רישום בתיק
                                </span>

                            </div>
                        </div>
                        <h3>נתוני לקוח</h3>
                        <div class="row control-group" style="border: 1px solid #7dba00;">
                            <div class="row control-group">
                                <div class="span1">
                                    <label>סטטוס לקוח</label>
                                </div>
                                <div class="span3">
                                    <label>
                                        <select multiple="multiple" size="2" style="height: 70px;"
                                                data-bind="options: clientStatuses, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedClientStatusId"></select>
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>לקוחות עם מס בע"ח גדול מ</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" data-bind="value: onlyWithNumPatientsMoreThan" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>לקוחות שמתגוררים בעיר</label>
                                </div>
                                <div class="span3">
                                        <select multiple="multiple" size="2" style="height: 70px;">
                                        @foreach (var d in ViewBag.CityOptions)
                                        {
                                            <option value="@d.Value">@d.Text</option>
                                        }
                                        </select>
                                </div>

                                <div class="span1">
                                    <label>כלול רק לקוחות לפי כתובת דוא"ל</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" data-bind="value: emailKeyWord" />
                                    </label>
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="span1">
                                    <label>לקוחות שביקרו בין התאריכים</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date input-small" readonly data-bind="value: visitedFrom" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>עד תאריך</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date" readonly data-bind="value: visitedTo" />
                                    </label>
                                </div>


                                <div class="span1">
                                    <label>לקוחות שנוצרו בין התאריכים</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date" readonly data-bind="value: createdFrom" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>עד תאריך</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date" readonly data-bind="value: createdTo" />
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="span1">
                                    <label>לקוחות בין הגילאים</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" data-bind="value: ageFrom" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>עד גיל</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" data-bind="value: ageTo" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>רופא מטפל</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <select data-bind="options: doctors, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedDoctorId"></select>
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>כלול רק לקוחות לפי וטרינר חיצוני</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" data-bind="value: externalVetKeyWord" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>לקוחות שלא ביקרו לאחר תאריך</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date" readonly data-bind="value: onlyWithNoVisitFrom" />
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="span3">
                                    <label>
                                        <span>כלול רק לקוחות</span>
                                    </label>
                                    <input type="radio" name="onlyWithOrWithoutFutureAppointment" value="" data-bind="checked: onlyWithOrWithoutFutureAppointment" />
                                    <span>
                                        הכל
                                    </span>
                                    <br />
                                    <input type="radio" name="onlyWithOrWithoutFutureAppointment" value="true" data-bind="checked: onlyWithOrWithoutFutureAppointment" />
                                    <span>
                                        בעלי תורים עתידיים
                                    </span>
                                    <br />
                                    <input type="radio" name="onlyWithOrWithoutFutureAppointment" value="false" data-bind="checked: onlyWithOrWithoutFutureAppointment" />
                                    <span>
                                        ללא תורים עתידיים
                                    </span>
                                    <br />
                                </div>

                                <div class="span4">
                                    <label>
                                        <span>כלול רק לקוחות</span>
                                    </label>
                                    <input type="radio" name="noReference" value="" data-bind="checked: noReference" />
                                    <span>
                                        הכל
                                    </span>
                                    <br />
                                    <input type="radio" name="noReference" value="false" data-bind="checked: noReference" />
                                    <span>
                                        שהופנו ע"י
                                        <input type="text" data-bind="value: referredByKeyWord, enable: noReference() == 'false'" class="input-medium" />
                                    </span>
                                    <br />
                                    <input type="radio" name="noReference" value="true" data-bind="checked: noReference" />
                                    <span>
                                        ללא גורם מפנה
                                    </span>
                                </div>

                                <div class="span3">
                                    <input type="checkbox" name="onlyClientsWithoutVisits" data-bind="checked: onlyWithInactivePatients" />
                                    <span>
                                        לקוחות בעלי חיות לא פעילות
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div id="animalFilters" data-bind="visible: !toggleAnimalFilter()">
                            <h3>נתוני בע"ח</h3>
                            <div class="row control-group" style="border: 1px solid #7dba00;">
                                <div class="row control-group">
                                    <div class="span1">
                                        <label>סוג בעל חיים</label>
                                    </div>
                                    <div class="span3">
                                        <label>
                                            <select multiple="multiple" size="2" style="height: 70px;" data-bind="options: animalKinds, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedAnimalKindId"></select>
                                        </label>
                                    </div>

                                    <div class="span1">
                                        <label>סטטוס בעל חיים</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <select data-bind="options: patientActiveStatuses, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'הכל', value: selectedPatientActiveStatusId"></select>
                                        </label>
                                    </div>

                                    <div class="span1">
                                        <label>גזע בעל חיים</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <select data-bind="options: animalRaces, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedAnimalRaceId"></select>
                                        </label>
                                    </div>

                                    <div class="span1">
                                        <label>צבע בעל חיים</label>
                                    </div>
                                    <div class="span3">
                                        <label>
                                            <select multiple="multiple" size="2" style="height: 70px;" data-bind="options: animalColors, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedAnimalColorId"></select>
                                        </label>
                                    </div>
                                </div>

                                <div class="row control-group">
                                    <div class="span2">
                                        <label>בעלי חיים שטופלו בין התאריכים</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <input type="text" class="date" readonly data-bind="value: treatedFrom" />
                                        </label>
                                    </div>

                                    <div class="span1">
                                        <label>עד תאריך</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <input type="text" class="date" readonly data-bind="value: treatedTo" />
                                        </label>
                                    </div>

                                    <div class="span2">
                                        <label>כלול רק בעלי חיים שלא טופלו לאחר</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <input type="text" class="date" readonly data-bind="value: onlyWithNoTreatmentFrom" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row control-group">
                                    <div class="span3">
                                        <label>
                                            <span>
                                                מין החיה
                                            </span>
                                        </label>
                                        <input type="radio" name="animalGender" value="0" data-bind="checked: animalGender" />
                                        <span>
                                            הכל
                                        </span>
                                        <br />
                                        <input type="radio" name="animalGender" value="1" data-bind="checked: animalGender" />
                                        <span>
                                            זכר
                                        </span>
                                        <br />
                                        <input type="radio" name="animalGender" value="2" data-bind="checked: animalGender" />
                                        <span>
                                            נקבה
                                        </span>
                                    </div>

                                    <div class="span3">
                                        <label>
                                            <span>
                                                מעוקר/מסורס
                                            </span>
                                        </label>
                                        <input type="radio" name="sterilized" value="" data-bind="checked: sterilized" />
                                        <span>
                                            הכל
                                        </span>
                                        <br />
                                        <input type="radio" name="sterilized" value="true" data-bind="checked: sterilized" />
                                        <span>
                                            מעוקר/מסורס
                                        </span>
                                        <br />
                                        <input type="radio" name="sterilized" value="false" data-bind="checked: sterilized" />
                                        <span>
                                            לא מעוקר/מסורס
                                        </span>
                                    </div>

                                    <div class="span3">
                                        <label>
                                            <span>
                                                הפרייה
                                            </span>
                                        </label>
                                        <input type="radio" name="fertilized" value="" data-bind="checked: fertilized" />
                                        <span>
                                            הכל
                                        </span>
                                        <br />
                                        <input type="radio" name="fertilized" value="true" data-bind="checked: fertilized" />
                                        <span>
                                            מופרה
                                        </span>
                                        <br />
                                        <input type="radio" name="fertilized" value="false" data-bind="checked: fertilized" />
                                        <span>
                                            לא מופרה
                                        </span>
                                    </div>

                                    <div class="span3">
                                        <label>
                                            <span>
                                                כלול רק בע"ח
                                            </span>
                                        </label>

                                        <input type="radio" name="onlyGoneThroughTreatment" value="" data-bind="checked: onlyGoneThroughTreatment" />
                                        <span>
                                            הכל
                                        </span>
                                        <br />
                                        <input type="radio" name="onlyGoneThroughTreatment" value="true" data-bind="checked: onlyGoneThroughTreatment" />
                                        <span>
                                            בעלי חיים שעברו טיפול
                                        </span>
                                        <br />
                                        <input type="radio" name="onlyGoneThroughTreatment" value="false" data-bind="checked: onlyGoneThroughTreatment" />
                                        <span>
                                            בעלי חיים שלא עברו טיפול
                                        </span>
                                        <label>
                                            <select data-bind="options: treatments, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר טיפול..',
    value: selectedTreatmentId, enable: onlyGoneThroughTreatment() != ''"></select>
                                        </label>
                                    </div>

                                    <div class="span3">
                                        <input type="checkbox" data-bind="checked: pureBred" />
                                        <span>
                                            בעלי חיים גזעיים בלבד
                                        </span>
                                        <br />
                                        <input type="checkbox" data-bind="checked: onlyWithElectornicNumber" />
                                        <span>
                                            בעלי חיים עם מספר אלקטרוני
                                        </span>
                                        <br />
                                        <input type="checkbox" data-bind="checked: onlyNotVaccined" />
                                        <span>
                                            בעלי חיים שלא חוסנו מעולם
                                        </span>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="span1">
                                        <label>בעלי חיים בין הגילאים</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <input type="text" data-bind="value: patientAgeFrom" />
                                        </label>
                                    </div>

                                    <div class="span1">
                                        <label>עד גיל</label>
                                    </div>
                                    <div class="span2">
                                        <label>
                                            <input type="text" data-bind="value: patientAgeTo" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>נתונים פיננסים</h3>
                        <div class="row control-group" style="border: 1px solid #7dba00;">
                            <div class="row control-group">
                                <div class="span1">
                                    <label>יתרה בסכום בין</label>
                                </div>
                                <div class="span1" style="width: 88px !important;">
                                    <label>
                                        <input type="text" data-bind="value: fromBalance" class="fix-negativ" style="width: 68px !important;" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>לסכום-</label>
                                </div>
                                <div class="span1" style="width: 88px !important;">
                                    <label>
                                        <input type="text" data-bind="value: toBalance" class="fix-negativ" style="width: 68px !important;" />
                                    </label>
                                </div>

                                <div class="span2">
                                    <label>רק לקוחות ששילמו מעל מס תשלומים בטווח תאריכים</label>
                                </div>

                                <div class="span1">
                                    <label>מס תשלומים</label>
                                </div>
                                <div class="span1">
                                    <label>
                                        <input type="text" data-bind="value: paymentsNumMoreThan" style="width: 20px;" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>מתאריך</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date" readonly data-bind="value: paymentFrom" />
                                    </label>
                                </div>

                                <div class="span1">
                                    <label>עד תאריך</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <input type="text" class="date" readonly data-bind="value: paymentTo" />
                                    </label>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="span2">
                                    <label>
                                        <span>רק לקוחות ביתרה</span>
                                    </label>
                                    <input type="radio" name="onlyWithPositiveBalance" value="" data-bind="checked: onlyWithPositiveBalance" />
                                    <span>
                                        הכל
                                    </span>
                                    <br />
                                    <input type="radio" name="onlyWithPositiveBalance" value="true" data-bind="checked: onlyWithPositiveBalance" />
                                    <span>
                                        חיובית
                                    </span>
                                    <br />
                                    <input type="radio" name="onlyWithPositiveBalance" value="false" data-bind="checked: onlyWithPositiveBalance" />
                                    <span>
                                        שלילית
                                    </span>
                                </div>

                                <div class="span1">
                                    <label>רק לקוחות במחירון</label>
                                </div>
                                <div class="span2">
                                    <label>
                                        <select data-bind="options: priceListItems, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedPriceListId"></select>
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="row control-group" style="text-align: center; border: 0px">
                            <button data-bind="click: function () { getReportData(); $('#filterBar').collapse('hide'); $('#tableBar').collapse('show'); }" class="btn btn-primary btn-large" style="margin-right: auto; margin-left: auto;">
                                <i class="icon-search"></i>
                                הצג נתונים
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#tableFilterBar">
                אפשרויות טבלה
            </a>
        </div>
        <div id="tableFilterBar" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="well">
                    <div class="form-inline">
                        <div class="row control-group" onclick="DoubleScroll(document.getElementById('wrapper'));">
                            <div class="span4">
                                <input type="checkbox" data-bind="checked: idCardCb" />
                                <span>
                                    ת.ז.
                                </span>
                                <br />
                                <input type="checkbox" data-bind="checked: workPhoneCb" />
                                <span>
                                    טלפון עבודה
                                </span>
                                <br />
                                <input type="checkbox" data-bind="checked: homePhoneCb" />
                                <span>טלפון בית</span>
                                <br />
                                <input type="checkbox" data-bind="checked: cellPhoneCb" />
                                <span>טלפון סלולארי</span>
                                <br />
                                <input type="checkbox" data-bind="checked: addressCb" />
                                <span>כתובת</span>
                                <br />
                                <input type="checkbox" data-bind="checked: treatingDocCb" />
                                <span>רופא מטפל</span>
                                <br />
                                <input type="checkbox" data-bind="checked: emailCb" />
                                <span>דוא"ל</span>
                                <br />
                                <input type="checkbox" data-bind="checked: localIdCb" />
                                <span>מס כרטיס לקוח</span>
                                <br />
                            </div>

                            <div class="span4">
                                <input type="checkbox" data-bind="checked: referedByCb" />
                                <span>שם המפנה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientStatusCb" />
                                <span>סטטוס לקוח</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientTitleCb" />
                                <span>תואר לקוח</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientNameCb" />
                                <span>שם הלקוח</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientCreateDateCb" />
                                <span>תאריך קליטת לקוח</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientDetailsUpdatedDateCb" />
                                <span>תאריך עדכון פרטים אישיים</span>
                                <br />
                                <input type="checkbox" data-bind="checked: lastTreatmentDateCb" />
                                <span>תאריך טיפול אחרון</span>
                                <br />
                                <input type="checkbox" data-bind="checked: clientAgeCb" />
                                <span>גיל הבעלים</span>
                            </div>

                            <div class="span4">
                                <input type="checkbox" data-bind="checked: balanceCb" />
                                <span>יתרה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: patientNameCb" />
                                <span>שם החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalKindCb" />
                                <span>סוג החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalRaceCb" />
                                <span>גזע החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalGenderCb" />
                                <span>מין החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: patientCommentsCb" />
                                <span>הערות חיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: externalVetCb" />
                                <span>וטרינר חיצוני</span>
                                <br />
                                <input type="checkbox" data-bind="checked: animalColorCb" />
                                <span>צבע החיה</span>
                            </div>

                            <div class="span4">
                                <input type="checkbox" data-bind="checked: animalAgeCb" />
                                <span>גיל החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: pureBredCb" />
                                <span>גזעיות החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: sterilizedCb" />
                                <span>עיקור/סירוס</span>
                                <br />
                                <input type="checkbox" data-bind="checked: electronicNumCb" />
                                <span>מספר אלקטרוני</span>
                                <br />
                                <input type="checkbox" data-bind="checked: SAGIRNumCb" />
                                <span>מספר סגיר</span>
                                <br />
                                <input type="checkbox" data-bind="checked: licenseNumCb" />
                                <span>מספר רישיון</span>
                                <br />
                                <input type="checkbox" data-bind="checked: patientWeightCb" />
                                <span>משקל החיה</span>
                                <br />
                                <input type="checkbox" data-bind="checked: owner_farmCb" />
                                <span>בעלים/חווה</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#tableBar" id="tableAcc">
                תוצאות
            </a>
        </div>
        <div id="tableBar" class="accordion-body collapse">
            <div class="accordion-inner">
                <div id="table-buttons">
                    <a class="btn btn-primary" data-bind="attr: { href: printUrl }" target="_blank">
                        <i class="icon-print"></i>
                        הדפס
                    </a>
                    <script type="text/javascript">
                        ClinicId = '@ViewBag.ClinicId';
                                    </script>
                                    @if (ViewBag.Letter)
                    {
                    <a class="btn btn-primary" data-bind="click: showPersonalLetterModal">
                        <i class="icon-print"></i>
                        הדפסת מכתבים אישיים
                    </a>
                    }
                    else
                    {
                    <button class="btn btn-primary disabled">
                        <i class="icon-print"></i>
                        הדפסת מכתבים אישיים
                    </button>
                    }

                                    @if (CurrentUser.IsExcelExport)
                    {
                    <a class="btn btn-primary" data-bind="attr: { href: excelUrl }">
                        <i class=" icon-download-alt"></i>
                        ייצוא לאקסל
                    </a>
                    }

                                    @if (ViewBag.Stikers)
                    {
                    <a class="btn btn-primary" data-bind="attr: { href: stickersUrl }" target="_blank">
                        <i class="icon-th"></i>
                        הפקת מדבקות
                    </a>
                    }
                    else
                    {
                    <button class="btn btn-primary disabled">
                        <i class=" icon-th"></i>
                        הפקת מדבקות
                    </button>
                    }

                                    @if (ViewBag.Sms)
                    {
                    <a class="btn btn-primary" data-bind="click: smsClients">
                        <i class=" icon-envelope"></i>
                        שליחת SMS
                    </a>
                    }
                    else
                    {
                    <button class="btn btn-primary disabled">
                        <i class=" icon-envelope"></i>
                        שליחת SMS
                    </button>
                    }

                                    @if (ViewBag.Email)
                    {
                    <a class="btn btn-primary" data-bind="click: emailClients">
                        <i class=" icon-tag"></i>
                        שליחת דוא"ל
                    </a>
                    }
                    else
                    {
                    <button class="btn btn-primary disabled">
                        <i class=" icon-tag"></i>
                        שליחת דוא"ל
                    </button>
                    }
                                </div>
                                <br />
                                <div style="overflow-x: auto;" id="wrapper">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th data-bind="visible: clientTitleCb()" style="max-width: 15px">תואר לקוח</th>
                                                <th data-bind="visible: clientNameCb()">שם הלקוח</th>
                                                <th data-bind="visible: patientNameCb()">שם החיה</th>
                                                <th data-bind="visible: idCardCb()">ת.ז.</th>
                                                <th data-bind="visible: workPhoneCb()">טלפון עבודה</th>
                                                <th data-bind="visible: homePhoneCb()">טלפון בית</th>
                                                <th data-bind="visible: cellPhoneCb()">טלפון סלולארי</th>
                                                <th data-bind="visible: addressCb()">כתובת</th>
                                                <th data-bind="visible: treatingDocCb()">רופא מטפל</th>
                                                <th data-bind="visible: emailCb()">דוא"ל</th>
                                                <th data-bind="visible: localIdCb()">מס כרטיס לקוח</th>
                                                <th data-bind="visible: referedByCb()">שם המפנה</th>
                                                <th data-bind="visible: clientStatusCb()">סטטוס לקוח</th>
                                                <th data-bind="visible: clientCreateDateCb()">תאריך קליטת לקוח</th>
                                                <th data-bind="visible: clientDetailsUpdatedDateCb()">תאריך עדכון פרטים אישיים</th>
                                                <th data-bind="visible: lastTreatmentDateCb()">תאריך טיפול אחרון</th>
                                                <th data-bind="visible: clientAgeCb()">גיל הבעלים</th>
                                                <th data-bind="visible: balanceCb()">יתרה</th>
                                                <th data-bind="visible: animalKindCb()">סוג החיה</th>
                                                <th data-bind="visible: animalRaceCb()">גזע החיה</th>
                                                <th data-bind="visible: animalGenderCb()">מין החיה</th>
                                                <th data-bind="visible: patientCommentsCb()">הערות חיה</th>
                                                <th data-bind="visible: externalVetCb()">וטרינר חיצוני</th>
                                                <th data-bind="visible: animalColorCb()">צבע החיה</th>
                                                <th data-bind="visible: animalAgeCb()">גיל החיה</th>
                                                <th data-bind="visible: pureBredCb()">גזעיות החיה</th>
                                                <th data-bind="visible: sterilizedCb()">עיקור/סירוס</th>
                                                <th data-bind="visible: electronicNumCb()">מספר אלקטרוני</th>
                                                <th data-bind="visible: SAGIRNumCb()">מספר סגיר</th>
                                                <th data-bind="visible: licenseNumCb()">מספר רישיון</th>
                                                <th data-bind="visible: patientWeightCb()">משקל החיה</th>
                                                <th data-bind="visible: owner_farmCb()">בעלים/חווה</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: reports">
                                            <tr>
                                                <td data-bind="visible: $parent.clientTitleCb()"><span data-bind="    text: clientTitle"></span></td>
                                                <td data-bind="visible: $parent.clientNameCb()">
                                                    <a data-bind="    text: clientName, attr: { href: clientUrl }"></a>
                                                    <input type="hidden" data-bind="value: clientId" />
                                                </td>
                                                <td data-bind="visible: $parent.patientNameCb()"><span data-bind="    text: patientName"></span></td>
                                                <td data-bind="visible: $parent.idCardCb()"><span data-bind="    text: idCard"></span></td>
                                                <td data-bind="visible: $parent.workPhoneCb()"><span data-bind="    text: workPhone"></span></td>
                                                <td data-bind="visible: $parent.homePhoneCb()"><span data-bind="    text: homePhone"></span></td>
                                                <td data-bind="visible: $parent.cellPhoneCb()"><span data-bind="    text: cellPhone"></span></td>
                                                <td data-bind="visible: $parent.addressCb()"><span data-bind="    text: address"></span></td>
                                                <td data-bind="visible: $parent.treatingDocCb()"><span data-bind="    text: treatingDoc"></span></td>
                                                <td data-bind="visible: $parent.emailCb()"><span data-bind="    text: email"></span></td>
                                                <td data-bind="visible: $parent.localIdCb()"><span data-bind="    text: localId"></span></td>
                                                <td data-bind="visible: $parent.referedByCb()"><span data-bind="    text: referedBy"></span></td>
                                                <td data-bind="visible: $parent.clientStatusCb()"><span data-bind="    text: clientStatus"></span></td>
                                                <td data-bind="visible: $parent.clientCreateDateCb()"><span data-bind="    text: clientCreateDate"></span></td>
                                                <td data-bind="visible: $parent.clientDetailsUpdatedDateCb()"><span data-bind="    text: clientDetailsUpdatedDate"></span></td>
                                                <td data-bind="visible: $parent.lastTreatmentDateCb()"><span data-bind="    text: lastTreatmentDate"></span></td>
                                                <td data-bind="visible: $parent.clientAgeCb()"><span data-bind="    text: clientAge"></span></td>
                                                <td data-bind="visible: $parent.balanceCb()"><span data-bind="    text: balance"></span></td>
                                                <td data-bind="visible: $parent.animalKindCb()"><span data-bind="    text: animalKind"></span></td>
                                                <td data-bind="visible: $parent.animalRaceCb()"><span data-bind="    text: animalRace"></span></td>
                                                <td data-bind="visible: $parent.animalGenderCb()"><span data-bind="    text: animalGender"></span></td>
                                                <td data-bind="visible: $parent.patientCommentsCb()"><span data-bind="    text: patientComments"></span></td>
                                                <td data-bind="visible: $parent.externalVetCb()"><span data-bind="    text: externalVet"></span></td>
                                                <td data-bind="visible: $parent.animalColorCb()"><span data-bind="    text: animalColor"></span></td>
                                                <td data-bind="visible: $parent.animalAgeCb(), if: animalAge() != null"><span data-bind="    text: animalAge()"></span></td>
                                                <td data-bind="visible: $parent.pureBredCb()"><span data-bind="    text: pureBred"></span></td>
                                                <td data-bind="visible: $parent.sterilizedCb()"><span data-bind="    text: sterilized"></span></td>
                                                <td data-bind="visible: $parent.electronicNumCb()"><span data-bind="    text: electronicNum"></span></td>
                                                <td data-bind="visible: $parent.SAGIRNumCb()"><span data-bind="    text: SAGIRNum"></span></td>
                                                <td data-bind="visible: $parent.licenseNumCb()"><span data-bind="    text: licenseNum"></span></td>
                                                <td data-bind="visible: $parent.patientWeightCb()"><span data-bind="    text: patientWeight"></span></td>
                                                <td data-bind="visible: $parent.owner_farmCb()"><span data-bind="    text: owner_farm"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal hide fade" id="personalLetterModal">
                    <div class="modal-header">
                        <button type="button" class="close" data-bind="click: hidePersonalLetterModal" aria-hidden="true">&times;</button>
                        <h3>@RapidVet.Resources.LetterTemplate.SelectPersonalLetter</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline">
                            <div data-bind="visible: personalTemplateError" class="row" style="color:red;">
                                <div class="span2">
                                    @RapidVet.Resources.LetterTemplate.SelectTemplateError
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <label>@RapidVet.Resources.LetterTemplate.TemplateName:</label>
                                </div>
                                <div class="span3">
                                    <label>
                                        <select required data-bind="options: personalLetters, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..', value: selectedLetterId"></select>
                                    </label>
                                </div>
                                <br />
                                <br />
                                <div data-bind="visible:selectedLetterId()>0" style="height:100px;width:100%;overflow:auto;border: 1px gray solid">
                                    <label data-bind="html: selectedLetterContent"></label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="controls" style="text-align: center;">
                            <button data-bind="click: sendPersonalLetter" class="btn ok btn-primary">
                                <img src="/Content/img/RapidVet/ok-v.png">
                            </button>
                        </div>
                    </div>
                </div>

                <div id="sendSmsModal" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>שליחת הודעות</h3>
                    </div>
                    <div class="modal-body">
                        <h3>
                            אנא אשר שליחת
                            <span data-bind="text: smsCount"></span>
                            הודעות
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <div class="row-fluid">
                            <div class="span6">
                                <button data-bind="click: sendSmsAfterVerification" class="btn btn-danger">@RapidVet.Resources.Global.Ok</button>
                            </div>
                            <div class="span6">
                                <button class="btn btn-primary" data-bind="click: clearSMSModal">@RapidVet.Resources.Global.Cancellation</button>
                            </div>
                        </div>
                    </div>
                </div>

                @section scripts{
                    <script type="text/javascript" src='@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
                    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ClientsReports/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
                }
