﻿@model IEnumerable<string>
@{
    Layout = ViewBag.Print
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
  <style type="text/css">  
    html, body {
        height: 99%;
    }
  
    div.page-break {
        display: block;
        height: auto;
        page-break-before: avoid;
        page-break-after:always;
    }

        .print:last-child {
            page-break-before: auto;
            page-break-after: avoid;
        }

        hr{
            border: transparent;
            height: 1px;
            width: 100%;
        }
      </style>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/App/RapidVet.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>*@

@if (!ViewBag.Print)
{
    <a class="btn btn-primary" href="@ViewBag.PrintUrl">
        <i class="icon-print"></i>
        הדפסה
    </a>
    <a class="btn btn-inverse" onclick="closeWindow();">
        <i class="icon-trash"></i>
        ביטול
    </a>
    <br />
    <br />
}

@foreach (var item in Model)
{
    if (ViewBag.Print)
    {
        <hr />
    <div class="page-break">@Html.Raw(item)</div>
    }
    else { 
    <div>
        @Html.Raw(item)
    </div>  
    }
}


