﻿@model System.Collections.Generic.List<RapidVet.WebModels.Clients.ClientReportItem>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<h2>דו"ח לקוחות</h2>
<br />
<table style='table-layout: fixed;'>
    <thead>
        <tr>
            @if (ViewBag.idCard)
            {
                <th>ת.ז.</th>
            }
            @if (ViewBag.clientTitle)
            {
                <th>תואר לקוח</th>
            }
            @if (ViewBag.clientName)
            {
                <th>שם הלקוח</th>
            }
            @if (ViewBag.patientName)
            {
                <th>שם החיה</th>
            }
            @if (ViewBag.address)
            {
                <th>כתובת</th>
            }
            @if (ViewBag.workPhone)
            {
                <th>טלפון עבודה</th>
            }
            @if (ViewBag.homePhone)
            {
                <th>טלפון בית</th>
            }
            @if (ViewBag.cellPhone)
            {
                <th>טלפון סלולארי</th>
            }
            @if (ViewBag.animalKind)
            {
                <th>סוג החיה</th>
            }
            @if (ViewBag.animalRace)
            {
                <th>גזע החיה</th>
            }
            @if (ViewBag.animalGender)
            {
                <th>מי החיה</th>
            }
            @if (ViewBag.animalColor)
            {
                <th>צבע החיה</th>
            }
            @if (ViewBag.animalAge)
            {
                <th>גיל החיה</th>
            }
            @if (ViewBag.email)
            {
                <th>אימייל</th>
            }
            @if (ViewBag.electronicNum)
            {
                <th>מספר אלקטרוני</th>
            }
            @if (ViewBag.localId)
            {
                <th>מס כרטיס לקוח</th>
            }
            @if (ViewBag.licenseNum)
            {
                <th>מספר רישיון</th>
            }
            @if (ViewBag.referedBy)
            {
                <th>שם המפנה</th>
            }
            @if (ViewBag.clientStatus)
            {
                <th>סטטוס לקוח</th>
            }
            @if (ViewBag.treatingDoc)
            {
                <th>רופא המטפל</th>
            }
            @if (ViewBag.clientCreateDate)
            {
                <th>תאריך קליטת לקוח</th>
            }
            @if (ViewBag.clientDetailsUpdatedDate)
            {
                <th>תאריך עדכון פרטים אישיים</th>
            }
            @if (ViewBag.lastTreatmentDate)
            {
                <th>תאריך טיפול אחרון</th>
            }
            @if (ViewBag.clientAge)
            {
                <th>גיל הבעלים</th>
            }
            @if (ViewBag.balance)
            {
                <th>יתרה</th>
            }
            @if (ViewBag.patientComments)
            {
                <th>הערות החיה</th>
            }
            @if (ViewBag.externalVet)
            {
                <th>וטרינר חיצוני</th>
            }
            @if (ViewBag.sterilized)
            {
                <th>עיקור/סירוס</th>
            }
            @if (ViewBag.pureBred)
            {
                <th>גזעיות החיה</th>
            }
            @if (ViewBag.SAGIRNum)
            {
                <th>מספר סגיר</th>
            }
            @if (ViewBag.patientWeight)
            {
                <th>משקל החיה</th>
            }
            @if (ViewBag.owner_farm)
            {
                <th>בעלים/חווה</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                @if (ViewBag.idCard)
                {
                    <td><span>@t.idCard</span></td>
                }
                @if (ViewBag.clientTitle)
                {
                    <td><span>@t.clientTitle</span></td>
                }

                @if (ViewBag.clientName)
                {
                    <td><span>@t.clientName</span></td>
                }
                @if (ViewBag.patientName)
                {
                    <td><span>@t.patientName</span></td>
                }
                @if (ViewBag.address)
                {
                    <td><span>@t.address</span></td>
                }
                @if (ViewBag.workPhone)
                {
                    <td><span>@t.workPhone</span></td>
                }
                @if (ViewBag.homePhone)
                {
                    <td><span>@t.homePhone</span></td>
                }
                @if (ViewBag.cellPhone)
                {
                    <td><span>@t.cellPhone</span></td>
                }
                @if (ViewBag.animalKind)
                {
                    <td><span>@t.animalKind</span></td>
                }
                @if (ViewBag.animalRace)
                {
                    <td><span>@t.animalRace</span></td>
                }
                @if (ViewBag.animalGender)
                {
                    <td><span>@t.animalGender</span></td>
                }
                @if (ViewBag.animalColor)
                {
                    <td><span>@t.animalColor</span></td>
                }
                @if (ViewBag.animalAge)
                {
                    @*<td><span>@string.Format("{0:n2}", (t.animalAge.HasValue ? t.animalAge.Value : (decimal?)null))</span></td>*@
                    <td><span>@t.animalAge</span></td>
                }
                @if (ViewBag.email)
                {
                    <td><span>@t.email</span></td>
                }
                @if (ViewBag.electronicNum)
                {
                    <td><span>@t.electronicNum</span></td>
                }
                @if (ViewBag.localId)
                {
                    <td><span>@t.localId</span></td>
                }
                @if (ViewBag.licenseNum)
                {
                    <td><span>@t.licenseNum</span></td>
                }
                @if (ViewBag.referedBy)
                {
                    <td><span>@t.referedBy</span></td>
                }
                @if (ViewBag.clientStatus)
                {
                    <td><span>@t.clientStatus</span></td>
                }
                @if (ViewBag.treatingDoc)
                {
                    <td><span>@t.treatingDoc</span></td>
                }
                @if (ViewBag.clientCreateDate)
                {
                    <td><span>@(t.clientCreateDate.HasValue ? t.clientCreateDate.Value.ToString("dd/MM/yyyy") : null)</span></td>
                }
                @if (ViewBag.clientDetailsUpdatedDate)
                {
                    <td><span>@(t.clientDetailsUpdatedDate.HasValue ? t.clientDetailsUpdatedDate.Value.ToString("dd/MM/yyyy") : null)</span></td>
                }
                @if (ViewBag.lastTreatmentDate)
                {
                    <td><span>@(t.lastTreatmentDate.HasValue ? t.lastTreatmentDate.Value.ToString("dd/MM/yyyy") : null)</span></td>
                }
                @if (ViewBag.clientAge)
                {
                    <td><span>@t.clientAge</span></td>
                }
                @if (ViewBag.balance)
                {
                    <td><span>@t.balance</span></td>
                }
                @if (ViewBag.patientComments)
                {
                    <td><span>@t.patientComments</span></td>
                }
                @if (ViewBag.externalVet)
                {
                    <td><span>@t.externalVet</span></td>
                }
                @if (ViewBag.sterilized)
                {
                    <td><span>@t.sterilized</span></td>
                }
                @if (ViewBag.pureBred)
                {
                    <td><span>@t.pureBred</span></td>
                }
                @if (ViewBag.SAGIRNum)
                {
                    <td><span>@t.SAGIRNum</span></td>
                }
                @if (ViewBag.patientWeight)
                {
                    <td><span>@t.patientWeight</span></td>
                }
                @if (ViewBag.owner_farm)
                {
                    <td><span>@t.owner_farm</span></td>
                }
            </tr>
        }
    </tbody>
</table>
