﻿@model RapidVet.WebModels.Patients.AnimalKindModel
@using RapidVet.Model.Patients
@{
    var icons = ViewBag.icons as List<AnimalIcon>;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.AnimalKindController.Create</h3>
</div>
@using (Html.BeginForm("Create", "AnimalKinds", FormMethod.Post, new { @class = "form-horizontal", id = "animalKindCreate" }))
{
    <div class="modal-body">
        @Html.Partial("_FormValidationSummary")
        @Html.HiddenFor(model => model.ClinicGroupId)
        <div class="control-group">
            <label class="control-label">@RapidVet.Resources.Controllers.AnimalKindController.Value</label>
            <div class="controls">
                @Html.EditorFor(model => model.Value)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Value)</span>
            </div>

        </div>
        <div class="control-group">

            @foreach (var item in icons)
            {
                if (item.Id == icons.First().Id)
                {
                <input type="radio" name="AnimalIconId" value="@item.Id" checked="checked"/>
                }
                else
                {
                <input type="radio" name="AnimalIconId" value="@item.Id" />
                }
                <img style="max-height: 25px; margin-left: 15px;" src="@string.Format("/Content/img/RapidVet/animale-icons/{0}", item.FileName)" /> 
            }

            @Html.ValidationMessageFor(model => model.AnimalIconId)


        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                &nbsp;
            </div>
            <div class="span6">
                <button class="btn ok" type="submit">@RapidVet.Resources.Global.Create</button>
            </div>

        </div>
    </div>
}

