﻿@model RapidVet.WebModels.Patients.AnimalKindModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.AnimalKindController.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "AnimalKinds", FormMethod.Post, new { @class = "form-horizontal", id = "animalKindDelete" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClinicGroupId)
        @Html.HiddenFor(model => model.Value)
        @Muze.DeleteButtons()
    }
</div>
