﻿@model IEnumerable<RapidVet.WebModels.Patients.AnimalKindModel>
@{
    var modalId = "animalKindModal";
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}


<div id="animalKindGrid">
    <div>
        <a onclick="GetModal('@Url.Action("Create", "AnimalKinds")','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Controllers.AnimalKindController.Create</a>
    </div>
    <h2>@RapidVet.Resources.Controllers.AnimalKindController.Kinds</h2>
    <table id="" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @RapidVet.Resources.Controllers.AnimalKindController.Value
            </th>
            <th>@RapidVet.Resources.Controllers.AnimalRaceController.Value</th>
        </tr>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Value)</p>
                    <p>
                        <img style="max-height: 25px; margin-left: 15px;" src="@string.Format("/Content/img/RapidVet/animale-icons/{0}", item.AnimalIconFileName)" />
                    </p>
                    <p>
                        <a href="javascript:GetModal('@Url.Action("Delete", new { id = @item.Id })','@modalId');">
                            <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                        |
                    <a href="javascript:GetModal('@Url.Action("Edit", new { id = @item.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                        |
                    <a href="javascript:GetModal('@Url.Action("Create", "AnimalRaces", new { id = item.Id })','@modalId');">
                        <i class="icon-plus-sign"></i>
                        @RapidVet.Resources.Controllers.AnimalKindController.AddRace
                    </a>
                    </p>
                </td>
                <td>
                    @if (item.AnimalRaces.Count > 0)
                    {
                        <table class="table table-bordered table-condensed">
                            @foreach (var race in item.AnimalRaces)
                            {
                                <tr>
                                    <td style="width: 40%;">
                                        @Html.DisplayFor(modelRace => race.Value)
                                    </td>
                                    <td>
                                        <a href="javascript:GetModal('@Url.Action("Delete", "AnimalRaces", new { id = race.Id })','@modalId');">
                                            <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                                        |
                    <a href="javascript:GetModal('@Url.Action("Edit", "AnimalRaces", new { id = race.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <a href="javascript:GetModal('@Url.Action("Create", "AnimalRaces", new { id = item.Id })','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Controllers.AnimalKindController.AddRace</a>
                    }
                </td>
            </tr>

            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </table>

    <div id="animalKindModal" class="modal hide fade">
    </div>
</div>
