﻿@{
    ViewBag.Title = "Index";
   // var taxRate = CurrentUser.ActiveClinic.TaxRate;
}

<h2>המרה של קבלות לחשבונית חודשית</h2>

<h3>יש להפעיל אפשרות זו רק בתחילת החודש</h3>
<div>
    @if (ViewBag.TaxRate == 0)
    {
        <br />
        <div>
            <p style="color:red;">  יש להגדיר אחוז מע"מ לפני ביצוע הפעולה. </p>
        </div>
    }else
    { 
        <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal" >הפעל</a>
    }
</div>


<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>המרה של קבלות לחשבונית חודשית</h3>
  </div>
  <div class="modal-body">
    <p>יש להפעיל אפשרות זו רק בתחילת החודש</p>
  </div>
  <div class="modal-footer">
        @using (Html.BeginForm())
    {
        <button class="btn btn-danger">הפעל</button>
    }
  </div>
</div>

