﻿@using RapidVet.Enums.Finances
@using RapidVet.Repository.Clinics
@model List<RapidVet.Model.Finance.FinanceDocumentPayment>
    @{
        List<SelectListItem> issuers;
        using (IIssuerRepository repository = new IssuerRepository())
        {
            issuers = repository.GetDropdownList(CurrentUser.ActiveClinicId, -1);
        }

        if (Request.QueryString["IssuerId"] != null)
        {
            foreach (var issuer in issuers)
            {
                issuer.Selected = issuer.Value == Request.QueryString["IssuerId"];
            }
        }
        string from;
        string to;

        if (Request.QueryString["fromTime"] == null && Request.QueryString["toTime"] == null)
        {
            var now = DateTime.Now;
            from = (new DateTime(now.Year, now.Month, 1)).ToString("dd/MM/yyyy");
            to = (new DateTime(now.Year, now.Month, DateTime.DaysInMonth(now.Year, now.Month))).ToString("dd/MM/yyyy");

        }
        else
        {
            to = Request.QueryString["toTime"];
            from = Request.QueryString["fromTime"];

        }

    }




    <h2>המרה של קבלות יומית מיוחדת</h2>

    <div class="well">
        <div class="form-inline">
            <div class="row ">
                <div class="span1">
                    <label style="margin-top: 4px;">שם המנפיק</label>
                </div>
                <div class="span3">
                    <label>
                        <select id="issuers">
                            @foreach (var issuer in issuers)
                            {
                                <option value="@issuer.Value" @if (issuer.Selected) { <text> selected="selected" </text>   }>@issuer.Text</option>
                            }
                        </select>
                    </label>
                </div>

                <div class="span2" style="margin-left: -50px;">
                    <label style="margin-top: 4px;">מתאריך פרעון</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="input-small" id="from" readonly value="@from" style="margin-top: 4px;" />
                    </label>
                </div>

                <div class="span1">
                    <label style="margin-top: 4px;">עד תאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="input-small" readonly id="to" value="@to" style="margin-top: 4px;" />
                    </label>
                </div>

                <div class="span1">
                    <label>
                        <a id="refreshLink" class="btn">רענן</a>
                    </label>

                </div>
            </div>
        </div>
    </div>



    @if (Model.Count() > 0)
    {
        <h3>בחר קבלות והמר אותן בלבד</h3>
        using (Html.BeginForm())
        {
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="max-width:15px;"></th>
                        <th style="width:17%;">תאריך הפקת הקבלה</th>
                        <th style="width:17%;">לקוח</th>
                        <th style="width:17%;">קבלה</th>
                        <th style="width:17%;">תאריך פרעון</th>
                        <th style="width:17%;">אמצעי תשלום</th>
                        <th style="width:17%;">סכום</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="@item.Id" name="paymentsIds" />
                            </td>
                            <td>
                                @item.Recipt.Created.ToShortDateString()
                            </td>
                            <td>
                                @item.Recipt.ClientName
                            </td>
                            <td>@item.Recipt.SerialNumber</td>
                            <td>
                                @if (item.DueDate != null)
                                {
                                    @item.DueDate.Value.ToShortDateString()
                                }
                        </td>
                        <td>@RapidVet.Resources.Enums.Finances.PaymentType.ResourceManager.GetString(item.PaymentType.ToString())</td>
                        <td>@item.Sum.ToString("F")</td>
                    </tr>
                    }
                </tbody>
            </table>


            <div>
                <button class="btn btn-danger" onclick="ShowLoder()">הפעל</button>
            </div>
        }
    }
    else
    {
        <h3>לא נמצאו קבלות להמרה</h3>
    }


    @section scripts
{
        <script type="text/javascript">
            $(function () {
                $.datepicker.setDefaults($.datepicker.regional["he"]);
                $("#from").datepicker({
                    defaultDate: "+0",
                    dateFormat: 'dd/mm/yy',
                    onClose: function (selectedDate) {
                        $("#to").datepicker("option", "minDate", selectedDate);
                        $('#refreshLink').attr('href', '/ReciptToInvoice/Special?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                    },
                    isRTL: true
                });
                $("#to").datepicker({
                    defaultDate: "+0",
                    dateFormat: 'dd/mm/yy',
                    onClose: function (selectedDate) {
                        $("#from").datepicker("option", "maxDate", selectedDate);
                        $('#refreshLink').attr('href', '/ReciptToInvoice/Special?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                    },
                    isRTL: true
                });
                $('#issuers').on('change', function () {
                    $('#refreshLink').attr('href', '/ReciptToInvoice/Special?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                });
            });

        </script>
    }
