﻿@model RapidVet.WebModels.Finance.SpecialInvoiceConversionWebModel
@{
    ViewBag.Title = "Sucsess";
}

<h2>המרת קבלות מיוחדת בוצעה בהצלחה!</h2>
<h3>נוצרו @Model.Converted חשבוניות מס</h3>
@if (Model.AllowedToViewFinancialReports)
{
    <h3><a href="@Model.Url">למעבר לדו״ח</a></h3>
}