﻿@{
    ViewBag.Title = "Home Page";
}
        <h1>כותרת 1</h1>

        <h3>sdlfksjdflsdj</h3>

        <h2>כותרת 2</h2>

        <h3>כותרת 3</h3>

        <p>טקסט רגיל</p>

        <h3>ריבוי שדות בשורה</h3>

        <form class="form-inline">
            <div class="row-fluid">
                <div class="span8 offset4 ">
                    <div class="control-group row-fluid">
                        <div class="span6">
                            <label>
                                <span>טקסט 1</span><input id="text1" type="text" />
                            </label>
                        </div>
                        <div class="span6">
                            <label>
                                <span>טקסט 2</span><input id="text2" type="text" />
                            </label>
                        </div>


                    </div>
                    <div class="control-group row-fluid">
                        <div class="span4">
                            <label>
                                <span>טקסט 1</span><input id="text3" type="text" />
                            </label>
                        </div>
                        <div class="span4">
                            <label>
                                <span>טקסט 2</span><input id="text4" type="text" />
                            </label>
                        </div>
                        <div class="span4">
                            <label>
                                <span>טקסט 2</span><input id="text5" type="text" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </form>


        <h3>תיבת סימון
        </h3>

        <form class="form-inline">
            <div class="checkbox-controler">
                <label>תווית לתיבת סימון</label>
                <input type="checkbox" name="a" class="styled" />
            </div>

        </form>

        <!--<h3>-->
        <!--תיבות רדיו-->
        <!--</h3>-->

        <!--<form class="form-inline">-->
        <!--<div class="radio-controler">-->
        <!--<label class="radio inline">-->
        <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
        <!--אפשרות א-->
        <!--</label>-->
        <!--<label class="radio inline">-->
        <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
        <!--אפשרות ב-->
        <!--</label>-->
        <!--</div>-->

        <!--</form>-->

        <h3>תיבת בחירה
        </h3>


        <form>
            <h3>כפתור אישור</h3>
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png"></button>

        </form>
        <form class="form-inline">
            <div class="row-fluid">
                <div class="span8 offset4 ">
                    <div class="control-group row-fluid">
                        <div class="span6">
                            <label>
                                <span>טקסט 1</span><input type="text" />
                            </label>
                        </div>
                        <div class="span4">
                            <label>
                                <span>טקסט 2</span>

                                <div class="styled-select">
                                    <select>
                                        <option>Here is the first option</option>
                                        <option>The second option</option>
                                    </select>
                                </div>
                            </label>
                        </div>


                    </div>
                    <div class="control-group row-fluid">
                        <div class="span4">
                            <label>
                                <span>טקסט 1</span><input type="text" />
                            </label>
                        </div>
                        <div class="span4">
                            <label>
                                <span>בחר 2</span>

                                <div style="float: right;">
                                    <select id="select1" class="styled">
                                        <option>בחירה 1</option>
                                        <option>בחירה 2</option>
                                        <option>בחירה 3</option>
                                        <option>בחירה 4</option>
                                        <option>בחירה 5</option>
                                    </select>

                                </div>
                            </label>
                        </div>
                        <div class="span4">
                            <label>
                                <span>טקסט 2</span><input type="text" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <h3>מסך טעינה
        </h3>

        <p>
            <button onclick="$('#loder').show(500);window.setTimeout(function(){$('#loder').hide(500);} , 10000);">
                לחיצה
            להדגמה של 10 שניות
            </button>
        </p>

        <h3>חלון קופץ
        </h3>
        <!-- Button to trigger modal -->
        <button href="#myModal" role="button" class="btn" data-toggle="modal">פתיחת חלון קופץ</button>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-header">
                <h3 id="myModalLabel">כותרת החלון</h3>
            </div>
            <div class="modal-body">
                <p>תוכן ההודעה</p>

                <p>תוכן ההודעה</p>

                <p>תוכן ההודעה</p>

                <p>תוכן ההודעה</p>
            </div>
            <div class="modal-footer">
                <div class="row-fluid">
                    <div class="span6">
                        <button class="btn cancel" data-dismiss="modal" aria-hidden="true">ביטול</button>
                    </div>
                    <div class="span6">
                        <button class="btn ok">אישור</button>
                    </div>

                </div>

            </div>
        </div>