﻿@using RapidVet.Enums
@model RapidVet.WebModels.FullCalender.WeeklyCalenderWebModel
@{
    ViewBag.Title = "Home Page";
    int defaultDr = CurrentUser.DefaultDrId.HasValue ? CurrentUser.DefaultDrId.Value : 0;
    string calendarSpread = CurrentUser.ActiveClinic.CalendarSpread;
}

@section breadcrumb
{
    <li class="active">ראשי</li>
}

<style>
    .transparent {
        opacity: 0.6;
    }

    .transparentRecess {
        opacity: 0.7;
        color: white;
        min-height: 20px !important;
    }

    .transparentHoliday {
        opacity: 0.4;
    }

    .bgText {
        font-size: 11px;
        text-align: center;
    }

    .qtip-content {
        direction: rtl;
        text-align: right;
    }

    #StorageUsage, #MailsSentUsage {
        width: 180px;
        height: 120px;
    }

    .fc-widget-content {
        height: 40px !important;
    }
</style>
<link rel='stylesheet' type='text/css' href='@Url.Content("/Scripts/fullcalendar/fullcalendar.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' />
<link rel='stylesheet' type='text/css' href='@Url.Content("/Content/css/jquery.contextmenu.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' />
<link rel='stylesheet' type='text/css' href='@Url.Content("/Content/css/jquery.qtip.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' />
<script src='@Url.Content("/Scripts/Vendor/JustGage/raphael-2.1.4.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
<script src='@Url.Content("/Scripts/Vendor/JustGage/justgage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>

<input type="hidden" id="defaultDr" name="defaultDr" value="@defaultDr" />

@Html.Partial("~/Views/Calender/_CalenderEntry.cshtml")

<div class="row-fluid">

    @switch ((int)ViewBag.Display)
    {
        case (int)UserHomePageDisplay.Empty:
            <br />
            <div class="span9" style="height: 20px;"></div>
            break;
        case (int)UserHomePageDisplay.Calender:
        <div class="span9">
            <h2 data-bind="html: JewishDate"></h2>
            <div style="height: 615px; overflow: auto;">
                <table style="width: 100%; height: 100%; overflow: auto;">
                    <thead>
                        <tr>
                            @foreach (var doctor in Model.Doctors)
                            {
                                <th>
                                    @doctor.Text
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody style="height: 100%;">
                        <tr style="height: 100%;">
                            @foreach (var doctor in Model.Doctors)
                            {
                                <td style="height: 100%;">
                                    <div id='calendar-@doctor.Value' class="calender" style="overflow-y:hidden; overflow-x:hidden;"></div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

                            break;
        case (int)UserHomePageDisplay.Admin:
        <div class="span9 ">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div style="height: 615px; overflow: auto;">
                <table style="width: 25%;overflow: auto;" class="table table-bordered table-striped">
                    
                    
                    <tbody>
                        <tr>

                            <td>
                                <b>
                                    @RapidVet.Resources.Admin.NumberOfClinics:
                                </b>
                            </td>
                            <td>@ViewBag.NumberOfClinics </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    @RapidVet.Resources.Admin.NumberOfActiveClinics:
                                </b>
                            </td>
                            <td>@ViewBag.NumberOfActiveClinics </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    @RapidVet.Resources.Admin.NumberOfUsers:
                                </b>
                            </td>
                            <td>@ViewBag.NumberOfUsers </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    @RapidVet.Resources.Admin.NumberOfActiveUsers:
                                </b>
                            </td>
                            <td>@ViewBag.NumberOfActiveUsers </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                            break;
                            @*case (int)UserHomePageDisplay.Reminders:
                                <div class="span9">
                                    <div id="reminders"></div>

                                </div>

                                                    break;
                                case (int)UserHomePageDisplay.Icons:
                                <div class="span9">
                                    <br />
                                    <div>
                                        <div class="span12">
                                            <button onclick="window.location.href = '@Url.Action("Create", "Clients")'" class="btn-inverse btn-large" style="font-size: 30px; width: 200px;"><i class="sprite-new-client sprite-icon"></i>לקוח חדש </button>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <div class="span12">
                                            <button onclick="window.location.href = '@Url.Action("Index", "Calender")'" class="btn-inverse btn-large" style="font-size: 30px; width: 200px"><i class="sprite-calender sprite-icon"></i>יומן </button>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <div class="span12">
                                            <button onclick="window.location.href = '@Url.Action("Index", "PreventiveMedicineReminders")'" class="btn-inverse btn-large" style="font-size: 30px; width: 200px"><i class="sprite-remainder sprite-icon"></i>תזכורות </button>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <div class="span12">
                                            <button onclick="window.location.href = '@Url.Action("InvoiceReceipt", "FinanceDocument")'" class="btn-inverse btn-large" style="font-size: 30px; width: 200px"><i class="sprite-invoice sprite-icon"></i>חשבוניות </button>
                                        </div>
                                    </div>
                                </div>
                                                    break;*@
    }
    <style>
        .table tbody tr:hover th {
            background-color: transparent;
        }
    </style>
    <div class="span3">
        <div style="direction:ltr;">
            @if (ViewBag.ExpireDays != "")
            {
                <label style="text-align: center;">
                    <b>פקיעת תוקף:</b>
                    @ViewBag.ExpireDays
                    ימים
                </label>

            }
            @if (CurrentUser.IsClinicGroupManager)
            {
                <div style="display: flex;">
                    <div id="MailsSentUsage"></div>
                    <div id="StorageUsage"></div>
                </div>
            }
        </div>
        <div style="background-color: #fffaa3; border-right: 1px solid #ddd; border-radius: 22px;margin-top:8px;" class="table-bordered">
            <table class="table" style="border: 0px; border-right: 0px">
                <tbody>
                    <tr style="height: 50px">
                        <th style="border-right: 0px">
                            <img style="margin-top: 5px; margin-right: 10px;" src="/Content/img/RapidVet/trumpet.png" width="30" height="22" alt="" />
                        </th>
                    </tr>
                    @foreach (var task in Model.Tasks)
                    {
                        <tr style="cursor: pointer;max-height: 30px; border-top: 1px solid #ddd;" onclick="window.location.href = '@string.Format(Url.Action("Index", "ClinicTasks"))'">
                            <td style="border-right: 0px"><span>@task.StartDate: </span><span><u>@task.Name</u> -  @task.Description</span></td>
                        </tr>
                    }
                    @for (var i = 0; i <= Model.RowsNum; i++)
                    {
                        <tr style="height: 30px">
                            <td style="border-right: 0px"><span></span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="margin-top: 20px; height: 200px; background-color: #e5f1cc; border-radius: 22px; border-right: 1px solid #ddd;" class="table-bordered">
            <div style="margin-top: 10px; margin-right: 10px;">
                <img src="/Content/img/RapidVet/help.png" />
                <div id="textToScroll" style="height: 115px; overflow: hidden; margin-top: 10px; width: 96%;">


                    <marquee behavior="scroll" direction="up" height="100"
                             scrollamount="2" scrolldelay="10" onmouseover="this.stop()" onmouseout="this.start()">
                        @Html.Raw(Model.GeneralText)
                    </marquee>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!--popup tester goes here-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/PopupTest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">

        var g1 = new JustGage({
            id: "StorageUsage",
            value: @ViewBag.StorageUsagePercent ,
            min: 0,
            max: 100,
            title: '@RapidVet.Resources.Global.StorageUsage',
            symbol : "%",
            label: '@ViewBag.StorageUsageGB.ToString("F")' + '/' + '@ViewBag.StorageUsageQuota' + "GB",
            levelColorsGradient: false,
            customSectors : [{"lo":0,"hi":79,"color":"#7dba00"},
                 {"lo":80,"hi":94,"color":"#f89406"},
                {"lo":95,"hi":100,"color":"#da4f49"}],
        });

        var g2 = new JustGage({
            id: "MailsSentUsage",
            value: @ViewBag.MailsSentThisMonth ,
            min: 0,
            max: @ViewBag.MailsSentThisMonth > 1000 ? Math.ceil((@ViewBag.MailsSentThisMonth) / 1000) * 1000 : 1000,
            title: '@RapidVet.Resources.Global.MailsSentThisMonth',

            levelColorsGradient: false,
            customSectors : [{"lo":0,"hi":1000,"color":"#7dba00"},
                //{"lo":11,"hi":22,"color":"#f9c802"},
                {"lo":1001,"hi":100000000000,"color":"#f89406"}],
        });

        $(function() {
            if (qs['printFinanceDocument'] == undefined) {
                testPopup();
            }




            @*@if (ViewBag.Display == (int)UserHomePageDisplay.Reminders)
             {
                <text>
            $.ajax({
                type: "POST",
                url: '/Home/GetRemindersOfToday/',
                success: function (data) {
                    $('#reminders').html(data);
                }
            });

            </text>*@
        }
        );
    </script>

    @if (ViewBag.Display == (int)UserHomePageDisplay.Calender)
    {
        <text>

            <script type='text/javascript' src="@Url.Content("~/Scripts/fullcalendar/lib/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
            <script type='text/javascript' src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
            <script type='text/javascript' src="@Url.Content("~/Scripts/Vendor/jquery.contextmenu.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/App/Calender/CalenderEntry.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
            <script type="text/javascript" src="@Url.Content("~/Scripts/qtip/jquery.qtip.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

            <script>
                var lastDayClick = 0;

                //Holiday Events
                var holidaySource = {
                    url: '@Url.Action("GetHolidays", "Calender")',
                    type: 'POST',
                    error: function() {
                        console.log('there was an error while fetching events!');
                    },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            if (String(data[i].start).indexOf('/Date(') == 0) {
                                data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                            }
                            if (String(data[i].end).indexOf('/Date(') == 0) {
                                data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                            }
                        }
                    }
                };

                // one scrollbar for all

                function oneScrollBarForAll() {
                    //  $('table.fc-agenda-days.fc-border-separate').css('height', '1027px');
                    //  $('div.fc-view.fc-view-agendaDay.fc-agenda>div>div').css('height', '');
                }


                $(document).ready(function() {
                    ko.applyBindings(viewModel());
                    getJewishDate(new Date());

                    $('.simpleColor').simpleColor({
                        defaultColor: '#0066cc',
                        displayColorCode: true,
                        onSelect: function(hex) {
                            $('#color').val('#' + hex);
                            changeSelfColor(hex);
                        }
                    });

                    //Datepicker initialize
                    $('#datepicker').datepicker({
                        onSelect: function(dateText, inst) {
                            getJewishDate(new Date(inst.currentYear, inst.currentMonth, inst.currentDay));
                            @foreach (var doctor in Model.Doctors)
                    {
                        <text>
                            $('#calendar-@doctor.Value').fullCalendar('removeEventSource', '@Url.Action("GetDailySchedule", "Calender")');
                            </text>
                    }

                            $('.calender').fullCalendar('gotoDate', new Date(inst.currentYear, inst.currentMonth, inst.currentDay));

                            @foreach (var doctor in Model.Doctors)
                    {
                        <text>

                            var dailySource = {
                                url: '@Url.Action("GetDailySchedule", "Calender")',
                                type: 'POST',
                                data: { docId: @doctor.Value, date: new Date(inst.currentYear, inst.currentMonth, inst.currentDay) },
                                error: function () {
                                    console.log('there was an error while fetching events!');
                                },
                                success: function (data) {
                                    for (var i = 0; i < data.length; i++) {
                                        if (String(data[i].start).indexOf('/Date(') == 0) {
                                            data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                        }
                                        if (String(data[i].end).indexOf('/Date(') == 0) {
                                            data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                        }
                                    }
                                }
                            };

                            $('#calendar-@doctor.Value').fullCalendar('addEventSource', dailySource);

                            </text>
                    }

                            oneScrollBarForAll();
                        }
                    });


                    //FullCaledner initialize
                    @foreach (var doctor in Model.Doctors)
            {
                <text>
                    // docs blocked days
                    var blockedDays = {
                        url: '@Url.Action("GetDocsBlockedDays", "Calender")',
                        type: 'POST',
                        data: { doctorId: @doctor.Value },
                        error: function () {
                            console.log('there was an error while fetching events!');
                        },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if (String(data[i].start).indexOf('/Date(') == 0) {
                                    data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                                if (String(data[i].end).indexOf('/Date(') == 0) {
                                    data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                            }
                        }
                    };



                    var options = {
                        dayClick: function (date, allDay, jsEvent, view) {
                            var d = new Date();
                            if (d.getTime() - lastDayClick < 1000) {
                                var isBlocked = dateIsBlocked(@doctor.Value, date, date);
                                if (isBlocked) {
                                    return;
                                }
                                createCalenderEntry(date, @doctor.Value);
                                $('#myModal').modal('show');
                                lastDayClick = 0;
                            } else {
                                lastDayClick = d.getTime();
                            }


                        },
                        eventClick: function (calEvent, jsEvent, view) {
                            if (calEvent.description == "calenderentry") {
                                getCalenderEntry(calEvent.id);
                                $('#myModal').modal('show');
                            }
                        },
                        eventRender: function (event, element, view) {
                            if (event.rendering == 'background') {
                                element.append("<div class='bgText'>" + event.title + "</div>");
                            }
                            var items = [
                                {
                                    label: 'העבר לרשימת ממתינים',
                                    action: function () {
                                        if (event.id != 0) {
                                            replaceToNewWaitingListItem(event.id);
                                        }
                                    }
                                }
                            ];
                            if (event.isNoShow == null) {
                                items.push({ label: 'סמן שהופיע', action: function () { setAsShown(event.id); } });
                                items.push({ label: 'סמן לא הופיע', action: function () { setAsNoShow(event.id); } });
                            } else {
                                if (event.isNoShow) {
                                    items.push({ label: 'סמן שהופיע', action: function () { setAsShown(event.id); } });
                                } else {
                                    items.push({ label: 'סמן לא הופיע', action: function () { setAsNoShow(event.id); } });
                                }
                            }

                            if (event.clientId != null) {
                                items.push({
                                    label: 'עבור לכרטיס לקוח',
                                    action: function () {
                                        if (event.id != 0) {
                                            window.location.href = '/Clients/Patients/' + event.clientId;
                                        }
                                    }
                                },
                                {
                                    label: 'רשימת תורים עתידיים',
                                    action: function () { locateEventClientIDEntries(event.clientId, event.title); }
                                },
                                    {
                                        label: 'חשבונית',
                                        action: function () {
                                            if (event.id != 0) {
                                                window.location.href = '/FinanceDocument/InvoiceReceipt?clientId=' + event.clientId;
                                            }
                                        }
                                    });
                            }

                            if (event.description != 'holiday' && event.description != 'recess') {
                                $(element).contextPopup({
                                    title: event.title,
                                    items: items
                                });
                            }

                            element.qtip({
                                content: event.comment,
                                show: {
                                    delay: 100,
                                    solo: true
                                },
                                hide: {
                                    delay: 50,
                                    when: 'mouseout'
                                },
                                //position: {
                                //    my: 'top center',  // Position my top left...
                                //    at: 'bottom center' // at the bottom right of...

                                //},
                                position: {
                                    target: 'mouse',
                                    adjust: {
                                        x: 10,
                                        y: 4,
                                        mouse: true,
                                        screen: true,
                                        scroll: false,
                                        resize: false
                                    },
                                    corner: {
                                        target: 'bottomLeft',
                                        tooltip: 'bottomLeft'
                                    }
                                },
                                style: {
                                    tip: 'topLeft',
                                    padding: 10,
                                    background: event.bgColor,
                                    color: event.fgColor,
                                    border: {
                                        width: 2,
                                        radius: 7,
                                        color: event.bdrColor
                                    },
                                    width: element.width,
                                    classes: 'qtip-rounded qtip-shadow'
                                },
                                api: {
                                    onRender: function () {
                                        var self = this;
                                        qtipTimeout = setTimeout(function () {
                                            self.show();
                                        }, 450);
                                    },
                                    beforeShow: function () {
                                        return (!suspendTooltips);
                                    }
                                }
                            });
                        },
                        eventResize: function (event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {
                            var isBlocked = dateIsBlocked(@doctor.Value, event.start, event.end, event.id);
                            if (isBlocked) {
                                $('.calender').fullCalendar('refetchEvents');
                                return;
                            }
                            updateChangedCalenderEntry(event);
                        },
                        eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                            var isBlocked = dateIsBlocked(@doctor.Value, event.start, event.end, event.id);
                            if (isBlocked) {
                                $('.calender').fullCalendar('refetchEvents');
                                return;
                            }
                            updateChangedCalenderEntry(event);
                        },
                        eventAfterRender: function (event, $el, view) {
                            $el.removeClass('fc-short');
                        },
                        defaultView: 'agendaDay',
                        scrollTime: moment().format("HH:mm:ss"),//"08:00:00",
                        snapDuration: '00:05:00',
                        slotDuration: '@calendarSpread',//'00:15:00',
                        header: false,
                        slotLabelFormat: 'H:mm',
                        timeFormat: 'H:mm', //timeFormat: { agenda: 'H:mm{ - H:mm}' },
                        isRTL: true,
                        monthNames: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי',
                            'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                        monthNamesShort: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי',
                            'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                        dayNames: ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת'],
                        dayNamesShort: ['א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ש'],
                        columnFormat: {
                            week: 'ddd d/M'
                        },
                        contentHeight: 590,
                        allDaySlot: false,
                        defaultTimedEventDuration: '02:00:00',
                        displayEventTime: true,
                        displayEventEnd: true,
                        selectOverlap: true,
                        //header: {
                        //    left: '',
                        //    right: ''
                        //},
                        //axisFormat: 'H:mm',
                        //timeFormat: { agenda: 'H:mm{ - H:mm}' },
                        //isRTL: true,
                        //monthNames: ['ינואר', 'פברואר', 'מרץ', 'אפריל', 'מאי', 'יוני', 'יולי',
                        //    'אוגוסט', 'ספטמבר', 'אוקטובר', 'נובמבר', 'דצמבר'],
                        //monthNamesShort: ['ינו', 'פבר', 'מרץ', 'אפר', 'מאי', 'יונ',
                        //    'יול', 'אוג', 'ספט', 'אוק', 'נוב', 'דצמ'],
                        //dayNames: ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת'],
                        //dayNamesShort: ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי', 'שבת'],
                        //columnFormat: {
                        //    day: ''
                        //},
                        //contentHeight: 600,
                        //allDaySlot: false,
                        eventSources: [ blockedDays ]
                    };



                    var dailySource = {
                        url: '@Url.Action("GetDailySchedule", "Calender")',
                        type: 'POST',
                        data: { docId: @doctor.Value, date: new Date() },
                        error: function () {
                            console.log('there was an error while fetching events!');
                        },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if (String(data[i].start).indexOf('/Date(') == 0) {
                                    data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                                if (String(data[i].end).indexOf('/Date(') == 0) {
                                    data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                            }
                        }
                    };

                    // docs calender entries events
                    var calednerEntries = {
                        url: '@Url.Action("GetDocsCalenderEntries", "Calender")',
                        type: 'POST',
                        data: { doctorId:  @doctor.Value },
                        error: function () {
                            console.log('there was an error while fetching events!');
                        },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                if (String(data[i].start).indexOf('/Date(') == 0) {
                                    data[i].start = new Date(parseInt(data[i].start.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                                if (String(data[i].end).indexOf('/Date(') == 0) {
                                    data[i].end = new Date(parseInt(data[i].end.replace(/\/Date\((.*?)\)\//gi, "$1")));
                                }
                            }
                        }
                    };


                    $('#calendar-@doctor.Value').fullCalendar(options);
                    $('#calendar-@doctor.Value').fullCalendar('addEventSource', holidaySource);
                    $('#calendar-@doctor.Value').fullCalendar('addEventSource', dailySource);
                    $('#calendar-@doctor.Value').fullCalendar('addEventSource', calednerEntries);



                    </text>
            }

                    oneScrollBarForAll();
                });

                ko.bindingHandlers.datepicker = {
                    init: function(element, valueAccessor, allBindingsAccessor) {
                        //initialize datepicker with some optional options
                        var options = allBindingsAccessor().datepickerOptions || {};
                        $(element).datepicker(options);

                        //handle the field changing
                        ko.utils.registerEventHandler(element, "change", function() {
                            var observable = valueAccessor();
                            observable($(element).val()); //.datepicker("getDate"));
                        });

                        //handle disposal (if KO removes by the template binding)
                        ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
                            $(element).datepicker("destroy");
                        });
                    },
                    update: function(element, valueAccessor) {
                        var value = ko.utils.unwrapObservable(valueAccessor());

                        //handle date data coming via json from Microsoft
                        if (String(value).indexOf('/Date(') == 0) {
                            value = new Date(parseInt(value.replace(/\/Date\((.*?)\)\//gi, "$1")));
                        }

                        var current = $(element).val(); //.datepicker("getDate");

                        if (value - current !== 0) {
                            $(element).val(value); //.datepicker("setDate", value);
                        }
                    }
                };


            </script>
        </text>
    }
}