﻿@{
    Layout = null;
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/RapidCssBundle.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
<body dir="rtl">
    <div style="padding: 20px">
        <p>
            <img src="@Url.Content("~/Content/img/RapidVet/logo.png?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
        </p>
        <p>
            RapidVet בודק שאין חסימת חלונות פופ-אפ 
        </p>
        <p>
            חלון זה ייסגר אוטומטית.
        </p>
        <p>
            <button class="btn btn-toolbar" onclick="window.close()">לא נסגר? לחץ כאן</button>

        </p>
    </div>
</body>
