﻿@model List<RapidVet.Model.PreventiveMedicine.PreventiveMedicineItem>
@{
    Layout = null;
}

   <h2>תזכורות חיסונים</h2>
<br />

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>שם הבעלים</th>
                <th>שם החיה</th>
                <th>שם החיסון/טיפול</th>
            </tr>
        </thead>
        <tbody id="remindersTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Patient.Client.Name</td>
                    <td>@item.Patient.Name</td>
                    <td>@item.PriceListItem.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        אין תזכורות.
    </div>
}