﻿@{
    ViewBag.Title = "UploadTest";
    Layout = "";
}

<html>


<body>
    <h2>UploadTest</h2>

    @using (Html.BeginForm("UploadTest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input name="file" id="file" type="file" />
    
        <input type="submit" value="send" />
    }
</body>
</html>

