﻿@using RapidVet.Enums.Finances
@model System.Collections.Generic.List<RapidVet.Model.Finance.FinanceDocumentPayment>

<a class="btn btn-primary" target="_blank" href="/FinanceDeposits/PrintDeposits/@Model.First().DepositId">
    <i class="icon-print"></i>
    הדפסה
</a>

<h2>הפקדות</h2>
<h4>
    מספר הפקדה: 
    @Model.First().DepositNumber
</h4>
@if (Model.Any())
{
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>שם הלקוח</th>
                <th>מספר מסמך</th>
                <th>סוג מסמך</th>
                <th>סכום כולל מע"מ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@ViewBag.DepositDate.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td>
                        <span>@item.Recipt.ClientName</span>
                    </td>
                    <td>
                        <span>@item.ReciptId</span>
                    </td>
                    <td>
                        @switch (item.Recipt.FinanceDocumentType)
                        {
                            case FinanceDocumentType.Invoice:
                                <span>חשבונית מס</span>
                                break;
                            case FinanceDocumentType.Receipt:
                                <span>קבלה</span>
                                break;
                            case FinanceDocumentType.InvoiceReceipt:
                                <span>חשבונית מס קבלה</span>
                                break;
                            case FinanceDocumentType.Proforma:
                                <span>חשבונית עסקה</span>
                                break;
                            case FinanceDocumentType.Refound:
                                <span>זיכוי</span>
                                break;
                        }

                    </td>
                    <td>
                        <span>@item.Sum</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h2>סה"כ סכום הפקדה: @Model.Sum(p => p.Sum)</h2>
}