﻿<h2>ניהול קופה</h2>
<style>
    .selectedRow {
        background-color: khaki !important;
    }
</style>

<div class="well">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span1">
                <label>מנפיק</label>
            </div>
            <div class="span4">
                <label>                         
                     <select data-bind="options: issuers, optionsText: 'itemText', optionsValue: 'itemValue', value: issuerId, optionsCaption: 'בחר מנפיק...'"></select>
                </label>
            </div>
            <div class="span2">
                <label>אמצעי תשלום</label>
            </div>
            <div class="span3">
                <label>
                    <select class="form-control"  data-bind="options: paymentTypes, value: paymentTypeId,  optionsCaption: 'בחר אמצעי תשלום...', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                </label>
            </div>
            </div>
        <div class="row control-group">
            <div class="span1">
                <label>סוג מסמך</label>
            </div>
            <div class="span4">
                <label>
                    <select class="form-control" data-bind="options: documentTypes, value: documentTypeId, optionsCaption: 'בחר...', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                </label>
            </div>
            <div class="span2">
                <label>מצב הפקדה</label>
            </div>
            <div class="span3">
                <label>
                    <select class="form-control" data-bind="options: depositOptions, value: IsDeposited, optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                </label>
            </div>
        </div>
        <div class="row control-group">
            <div class="span1">
                <label>מתאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" id="from" readonly data-bind="datepicker: fromDate" />
                </label>
            </div>
            <div class="span1">
                <label>עד תאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" id="to" readonly data-bind="datepicker: toDate" />
                </label>
            </div>
            <div class="span2">
                <label>
                    <a class="btn btn-primary" data-bind="click: function () { getPayments(); }"><i class="icon-search"></i>חפש</a>
                </label>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th><input type="checkbox" id="cbAll" title="כולם" onchange="CbAllChange(this.checked);" /></th>
            <th>מספר</th>
            <th>תאריך המסמך</th>
            <th>שם הלקוח</th>
            <th>סוג מסמך</th>
            <th>מספר מסמך</th>
            <th>סכום כולל מע"מ</th>
            <th>בנק</th>
            <th>סניף</th>
            <th>חשבון</th>
            <th>מספר המחאה</th>
            @*<th>מספר אסמכתא</th>*@
            <th>אמצעי  תשלום</th>
            <th>חברת אשראי</th>
            @*<th>סוג אשראי</th>*@
            <th>ארבע ספרות אחרונות</th>
            <th>שובר אשראי</th>
            <th data-bind="visible: IsDeposited()=='true'">מספר הפקדה</th>
            <th data-bind="visible: IsDeposited()=='true'">תאריך הפקדה</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: payments">
        <tr class="success" data-bind="click: function () {
    var origin = event.srcElement || event.target;
    if (origin.tagName && origin.tagName.match(/td/i)) {
        isChecked(isChecked() != true);
    }
    else { return true; }
}"
            style="cursor: pointer">
            <td data-bind="css: { selectedRow: isChecked() }">
                <input type="checkbox" class = "cbSet" data-bind="checked: isChecked" />
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: $index() + 1"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: date"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: clientName"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: documentTypeName"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: serialNumber"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }" class="fix-negativ">
                <span data-bind="text: amountIncludingTax"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: bankName"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: branchNumber"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: accountNumber"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: checkNumber"></span>
            </td>
            @*<td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: bankTransferNumber"></span>
            </td>*@
              <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: PaymentType"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: creditCardCompanyName"></span>
            </td>
            @*<td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: creditCardPaymentTypeName"></span>
            </td>*@
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: lastFourDigits"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }">
                <span data-bind="text: creditCardCoupon"></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }, visible: IsDeposited()=='true'">
                <span data-bind="text: depositNumber"  ></span>
            </td>
            <td data-bind="css: { selectedRow: isChecked() }, visible: IsDeposited()=='true'">
                <span data-bind="text: depositDate"></span>
            </td>
        </tr>
    </tbody>
</table>

<form>
    <div class="row-fluid">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn btn-primary btn-large" id="submit" data-bind="click: function () { savePayments() }">
                הפקדה
            </button>
        </div>
    </div>
</form>


@section scripts{
    <script src="../../Scripts/App/Finance/moment.min.js"></script>
    <script>
        ko.bindingHandlers.datepicker = {
            init: function (element, valueAccessor, allBindingsAccessor) {
                //initialize datepicker with some optional options
                var options = allBindingsAccessor().datepickerOptions || {};
                $(element).datepicker(options);

                //handle the field changing
                ko.utils.registerEventHandler(element, "change", function () {
                    var observable = valueAccessor();
                    observable($(element).val()); //.datepicker("getDate"));
                });

                //handle disposal (if KO removes by the template binding)
                ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                    $(element).datepicker("destroy");
                });
            },
            update: function (element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());

                //handle date data coming via json from Microsoft
                if (String(value).indexOf('/Date(') == 0) {
                    value = new Date(parseInt(value.replace(/\/Date\((.*?)\)\//gi, "$1")));
                }

                var current = $(element).val(); //.datepicker("getDate");

                if (value - current !== 0) {
                    $(element).val(value); //.datepicker("setDate", value);
                }
            }
        };

        // mapper for list item

        function SelectItem(value, text) {
            var self = this;
            self.itemValue = value;
            self.itemText = text;
        }

        function viewModel() {
            var self = this;
            //results
            self.payments = ko.mapping.fromJS([]);
            self.forDeposits = ko.observable([]);

            //filters
            self.issuers = ko.observable([]);
            self.paymentTypes = ko.observable([]);
            self.documentTypes = ko.observable([]);
            self.depositOptions = ko.observable([]);

            // filter selecters
            self.fromDate = ko.observable(moment().set('month', 0).set('date', 1).format("DD/MM/YYYY"));
            self.toDate = ko.observable(moment().set('month', 11).set('date', 31).set('year',moment().year()+2).format("DD/MM/YYYY"));
            self.issuerId = ko.observable(undefined).extend({
                required: { message: "שדה חובה" }
            });
            self.paymentTypeId = ko.observable().extend({ required: { params: true, message: "שדה חובה" } });
            self.documentTypeId = ko.observable();
            self.IsDeposited = ko.observable("false");
            self.Errors = ko.validation.group(self);
                       
            self.getMetaData = function () {
                $.get('/FinanceDeposits/GetMetaData', function (data) {
                    var mappedIssuers = $.map(data.Issuers, function (item) {
                        return new SelectItem(item.Value, item.Text);
                    });
                    self.issuers(mappedIssuers);

                    var mappedPaymentTypes = $.map(data.PaymentTypes, function (item) {
                        return new SelectItem(item.Value, item.Text);
                    });
                    self.paymentTypes(mappedPaymentTypes);

                    var mappedDocumentTypes = $.map(data.DocumentTypes, function (item) {
                        return new SelectItem(item.Value, item.Text);
                    });
                    self.documentTypes(mappedDocumentTypes);

                    var mappedDepositOptions = $.map(data.DepositOptions, function (item) {
                        return new SelectItem(item.Value, item.Text);
                    });
                    self.depositOptions(mappedDepositOptions);

                }, 'json');
            };

            self.getPayments = function () {
                if (self.Errors().length == 0) {
                    ShowLoder();
                    self.payments([]);
                    $.get('/FinanceDeposits/GetPayments?fromDate=' + self.fromDate() + '&toDate=' + self.toDate() + '&issuerId=' + self.issuerId() + '&paymentTypeId=' + self.paymentTypeId() + '&documentTypeId=' + self.documentTypeId() + '&isDeposited=' + self.IsDeposited(), function (data) {
                        ko.mapping.fromJS(data, self.payments);
                    });
                    hideLoder();
                }
                else {
                    self.Errors.showAllMessages(true);
                }
            };

            self.savePayments = function () {
                self.forDeposits([]);
                for (var i = 0; i < self.payments().length; i++) {
                    if (self.payments()[i].isChecked() == true) {
                        self.forDeposits().push(self.payments()[i]);
                    }
                }
                $.post('/FinanceDeposits/SavePayments/' , {
                    issuerId : self.issuerId(),
                    paymentsString: ko.toJSON(self.forDeposits())
                },
                    function (data) {
                        var numberOfChecked =self.forDeposits().length
                        if (data > 0) {
                            window.location.href = "/FinanceDeposits/Deposits/" + data;
                        }
                        else if (data == 0) {
                            if (numberOfChecked == 0) {
                                alert("נא לבחור מסמך להפקדה");
                            }
                            
                            //alert("אירעה שגיאה!");
                        }
                        else if (data < 0) {
                            alert("לא ניתן להפקיד רשומה שהופקדה בעבר!");
                        }
                    }, 'json');
            };

            self.getMetaData();
        }


        $(function () {
            ko.validation.configure({
                messagesOnModified: true,
                insertMessages: true
            });
            ko.applyBindings(viewModel(), document.body);
            $(".validationMessage").css("color", "red");
            
            //var year = moment().year();
            //$("#from").val("01/01/" + year);
            //$("#to").val("31/12/" + (year+2));
        });
        function CbAllChange(checked)
        {
            for (var i = 0; i < $('.cbSet').length ; i++) {
                if (checked) {
                    $('.cbSet')[i].checked = false;
                }
                else {
                    $('.cbSet')[i].checked = true;
                }
                $('.cbSet')[i].click();
            }
        }
    </script>
}