﻿@using RapidVet.Enums.Finances
@model System.Collections.Generic.List<RapidVet.Model.Finance.FinanceDocumentPayment>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}



<img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;"/>

<div class="row">
    <div class="span4">
        <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span><br />
        <span><b>עוסק מורשה: @Model.First().Issuer.CompanyId</b></span><br />
        <span>@Model.First().Issuer.Name</span><br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
        <br />
        <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
        <br />
        <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
        <br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
    </div>
  
</div>

<div style="position: relative; display: block; margin: auto; text-align: center;">
<h3>
דו"ח הפקדות קופה - @RapidVet.Resources.Enums.Finances.PaymentType.ResourceManager.GetString(Model.First().PaymentType.ToString())  - הפקדה מס' @Model.First().DepositNumber 

</h3>
</div>

    <table class="table table-striped table-bordered table-hover table-condensed" style="font-size: small;">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>שם הלקוח</th>
                <th>מספר</th>
                <th>סוג</th>
                 @if (Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.Cheque) || Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.Transfer))
                 {
                     <th>בנק</th>
                     <th>סניף</th>
                     <th>מספר חשבון</th>
                     if (Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.Transfer))
                     {
                        <th>מספר</th>    
                     }
                     else
                     {
                        <th>מס' המחאה</th>
                     }
                 }
                 else if (Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.CreditCard))
                 {
                     <th>חברת האשראי</th>
                     <th>סוג האשראי</th>
                     <th>מספר כרטיס</th>
                     <th>שובר אשראי</th>
                 }
                
                <th>סכום</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@ViewBag.DepositDate.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td>
                        <span>@item.Recipt.ClientName</span>
                    </td>
                    <td>
                        <span>@item.ReciptId</span>
                    </td>
                    <td>
                        @switch (item.Recipt.FinanceDocumentType)
                        {
                            case FinanceDocumentType.Invoice:
                            <span>חשבונית מס</span>
                                break;
                            case FinanceDocumentType.Receipt:
                            <span>קבלה</span>
                                break;
                            case FinanceDocumentType.InvoiceReceipt:
                            <span>חש. מס/קבלה</span>
                                break;
                            case FinanceDocumentType.Proforma:
                            <span>חשבונית עסקה</span>
                                break;
                            case FinanceDocumentType.Refound:
                            <span>זיכוי</span>
                                break;
                        }

                    </td>
                     @if (Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.Cheque) || Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.Transfer))
                     {
                     <td>
                        <span>@item.BankCode.Name @item.BankCode.Code</span>
                    </td>
                    <td>
                        <span>@item.BankBranch</span>
                    </td>
                     <td>
                        <span>@item.BankAccount</span>
                    </td>
                    <td>
                         @if (Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.Transfer))
                         {
                            <span>@item.BankTransferNumber</span>    
                         }
                         else
                         {
                            <span>@item.ChequeNumber</span>
                         }
                        
                    </td>
                     }
                     else if (Model.First().PaymentType.Equals(RapidVet.Enums.Finances.PaymentType.CreditCard))
                     {
                     <td>
                        <span>@item.CreditCardCode.Name</span>
                    </td>
                    <td>
                        <span>@item.IssuerCreditType.Name</span>
                    </td>
                     <td>
                        <span>@item.CardNumberLastFour</span>
                    </td>
                    <td>
                        <span>@item.CreditDealNumber</span>
                    </td>
                     }
                    <td>
                        <span>@item.Sum</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <h5>סך-הכל סכום: @Model.Sum(p => p.Sum)</h5>
