﻿@using RapidVet.RapidConsts.Controllers
@using RapidVetMembership
@model RapidVet.Model.Users.User
@{
    var modalId = UserConsts.MODAL_ID;
}

<tr>
    <td style="width: 130px;">
        <p>@Html.DisplayFor(model => model.Name)</p>

        <ul style="list-style: none;">
            <li><a onclick="GetModal('@Url.Action("Delete", new { id = Model.Id })','@modalId');">
                <i class="icon-trash"></i>@RapidVet.Resources.Controllers.UsersController.DeleteUser </a>
            </li>
            <li>
                <a href="#" onclick="GetModal('@Url.Action("Edit", "Users", new { id = Model.Id })','@modalId')">
                    <i class="icon-edit"></i>@RapidVet.Resources.Controllers.UsersController.EditUserDetails</a>
            </li>
            <li>
                <a href="#" onclick="GetModal('@Url.Action("EditRoles", "Users", new { id = Model.Id })','@modalId')">
                    <i class="icon-check"></i>@RapidVet.Resources.Controllers.UsersController.EditUserRoles</a>
            </li>
@*            @if (ConcurrentUserInfo.GetConcurrentUserByUserName(Model.Username) != null)
            {
                <li>

                    <a href="#" onclick=" PageLoad('@Url.Action("Edit", "Users", new { id = Model.Id })', 'editContent', $('#users-edit')) ">
                        <i class="icon-ban-circle"></i>@RapidVet.Resources.User.Disconnect</a>
                </li>
            }*@
            <li>
                <a data-bind="click: showInventoryModal">
                    <input type="hidden" name="userId" value="@Model.Id"/>
                    <i class="icon-leaf"></i>
                    @RapidVet.Resources.User.InventoryRole
                </a>
            </li>
        </ul>

    </td>
    <td style="vertical-align: middle;">
        @Html.Action("UserRolesTable", new { id = Model.Id })
    </td>
    <td style="text-align: center; vertical-align: middle;">
        @Html.Action("IsClinicGroupManager", new { userName = Model.Username })
    </td>
</tr>


<div id="inventoryModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.User.InventoryRole</h3>
    </div>
    <div class="modal-body">
        <ul data-bind="foreach: inventoryRoles">
            <li>
                <input type="checkbox" data-bind="checked: Selected" />
                <span data-bind="text: Text"></span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-bind="click: saveInventoryRoles">
            <i class="icon-ok"></i>
            שמירה
        </a>
        <a class="btn btn-inverse" data-dismiss="modal">
            <i class="icon-trash"></i>
            ביטול
        </a>
    </div>
</div>
