﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Users.UserModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.UsersController.DeleteUser</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Ajax.BeginForm("Delete", "Users", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "Success"
        },
                           new
                               {
                                   @class = "form-horizontal",
                                   id = UserConsts.DELETE_ID,
                               }))
    {
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="name" value="@string.Format("{0} {1}", Model.FirstName, Model.LastName)"/>
        @Muze.DeleteButtons()
    }

</div>
