﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Users.UserModel
         
<script type="text/javascript">
    $(function () {

        $('#Password').attr('data-val-length-min', '6');
        $('#Password').attr('data-val-length', 'יש להזין סיסמה בת 6 תווים לפחות');
        $('#Password').attr('data-val', 'true');
        $('#Password').val('@RapidVet.Resources.User.GENERIC_PASSWORD');
        $('#PasswordReType').val('@RapidVet.Resources.User.GENERIC_PASSWORD');
    });
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.UsersController.EditUserDetails</h3>
</div>
@using (Ajax.BeginForm("Edit", "Users", new AjaxOptions()
       {
           HttpMethod = "Post",
           InsertionMode = InsertionMode.Replace,
           OnSuccess = "Success"
       },
                          new
                              {
                                  @class = "form-horizontal",
                                  id = UserConsts.EDIT_ID
                              }))
{
    <div class="modal-body" style="min-height: 520px;overflow-y:hidden;">
        @Html.HiddenFor(model => model.Id)
        @Html.Partial("_MainForm", Model)
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                &nbsp;
            </div>
            <div class="span6">
                <button type="submit" class="btn btn-small ok" style="width:35%;">
                    <img src="/Content/img/RapidVet/ok-v.png" style="width:40%;"></button>
            </div>

        </div>
    </div>
}
