﻿@using RapidVet.RapidConsts.Controllers;
@model RapidVet.WebModels.Users.UserRolesEditModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.UsersController.EditPermissionCaption @Model.UserFullName</h3>
</div>
@using (Html.BeginForm("EditRoles", "Users", new { @class = "form-horizontal", id = UserConsts.EDIT_ROLES_ID }, FormMethod.Post, new { id = "EditRolesForm" }))
{
    @Html.HiddenFor(model => model.UserId)

    <div class="modal-body">
        <div class="row-fluid">
            <div class="checkbox-controler">
                <div class="row-fluid">
                    <div id="noPermissionSelectedError" style="display:none;color: red; width: 350px; margin-bottom: 5px;margin-top: -5px;">
                    @RapidVet.Resources.Controllers.UsersController.UserRolesNoPermissionSelectedError</div>
                    <div class="span5">
                        <label>@RapidVet.Resources.Controllers.UsersController.ClinicGroupManager</label>
                    </div>
                    <div class="span3">
                        @Html.CheckBox("isClinicGroupManager", Model.isClinicGroupManager, new { onclick = "javascript:checkAll('EditRolesForm');" })
                    </div>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row-fluid">
            <table class="table table-bordered table-condensed" style="width: 100%; text-align: center">
                <tr>
                    <th>@RapidVet.Resources.Controllers.UsersController.ClinicName</th>
                    <th>@RapidVet.Resources.Roles.Secretary</th>
                    <th>@RapidVet.Resources.Roles.Doctor</th>
                    <th>@RapidVet.Resources.Roles.NoDiary</th>
                    <th>@RapidVet.Resources.Roles.ViewReports</th>
                    <th>@RapidVet.Resources.Roles.ViewFinancialReports</th>
                    <th>@RapidVet.Resources.Roles.ExcelExport</th>
                    <th>@RapidVet.Resources.Roles.ClinicManager</th>                    
                </tr>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelRole => role.ClinicName)</td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("secretary_{0}", role.ClinicId), role.isSecretary)
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("doctor_{0}", role.ClinicId), role.isDoctor, new { @onchange = "CheckIfNoDiaryChecked(this.checked, this.id);" })
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("nodiary_{0}", role.ClinicId), role.isNoDiary, new { @onchange = "CheckIfDoctorChecked(this.checked, this.id);" } )
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("reports_{0}", role.ClinicId), role.isViewReports)
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("financial_{0}", role.ClinicId), role.isViewFinancialReports)
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("excel_{0}", role.ClinicId), role.isExcelExport)
                            </div>
                        </td>
                        <td>
                            <div class="checkbox-controler">
                                @Html.CheckBox(string.Format("manager_{0}", role.ClinicId), role.isClinicManager)
                            </div>
                        </td>
                        
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                        class="btn btn-primary">
                    @RapidVet.Resources.Global.Save
                </button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var form_id = "EditRolesForm";

        $('#' + form_id).submit(function (e) {
            var self = this;
            e.preventDefault()

            var myForm = document.getElementById(form_id);
            checkboxes = myForm.getElementsByTagName('input');
            var selected = false;
           // debugger;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    if (checkboxes[i].checked) {
                        selected = true;
                        break;
                    }
                }
            }

            if (!selected) {
                $("#noPermissionSelectedError").show();
                return false;
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].disabled = false;
                    }
                }
                myForm.submit();
            }
        });


        function checkAll(form_id) {
            var checkboxes = new Array();
            // debugger;
            var myForm = document.getElementById(form_id);//document.forms.form_id;
            checkboxes = myForm.getElementsByTagName('input'); //myForm.elements['input'];
            var is_checked = $('#isClinicGroupManager').is(':checked');
            if (is_checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = true;
                        checkboxes[i].disabled = true;
                    }
                }

                document.getElementById("isClinicGroupManager").removeAttribute('disabled');
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].checked = checkboxes[i].checked;//save current cb status
                        checkboxes[i].disabled = false;
                    }
                }

                document.getElementById("isClinicGroupManager").removeAttribute('disabled');
            }
        }
        function CheckIfDoctorChecked(checked, id) {
            if (checked) {
                var doctorID = "doctor_" + id.split('_')[1];
                if ($('#' + doctorID)[0].checked) {
                    return;//ok
                }
                else {
                    alert('הרופא במרפאה אינו מסומן ולכן לא ניתן לסמן ללא יומן.');
                    $('#' + id)[0].checked = false;
                    return;
                }
            }
        }
        function CheckIfNoDiaryChecked(checked, id) {
            if (!checked) {
                var nodiaryID = "nodiary_" + id.split('_')[1];
                if (!($('#' + id)[0].checked)) {
                    $('#' + nodiaryID)[0].checked = false;//אם הרופא לא מסומן גם ללא יומן לא מסומן
                    return;
                }
            }
        }
        $(document).ready(function () {
            checkAll(form_id);
        });

    </script>
}