﻿@using RapidVet.RapidConsts.Controllers;
@model RapidVet.Model.Users.UsersExtendedPermissionsIndexModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.UsersController.UserIssuerPermissionsCaption </h3>
</div>
@using (Html.BeginForm("EditIssuerPermissions", "Users", new { @class = "form-horizontal", id = UserConsts.EDIT_ROLES_ID }, FormMethod.Post, new { id = "EditRolesForm" }))
{

    <div class="modal-body">
        <div class="row-fluid">
            @*<div class="checkbox-controler">
                <div class="row-fluid">
                    <div id="noPermissionSelectedError" style="display:none;color: red; width: 350px; margin-bottom: 5px;margin-top: -5px;">
                    @RapidVet.Resources.Controllers.UsersController.UserRolesNoPermissionSelectedError</div>
                    <div class="span5">
                        <label>@RapidVet.Resources.Controllers.UsersController.ClinicGroupManager</label>
                    </div>
                    <div class="span3">
                        @Html.CheckBox("isClinicGroupManager", Model.isClinicGroupManager, new { onclick = "javascript:checkAll('EditRolesForm');" })
                    </div>
                </div>
            </div>*@
        </div>
        <div>&nbsp;</div>
        <div class="row-fluid">
            <table class="table table-bordered table-condensed" style="width: 100%; text-align: center">
                <tr>
                    <th>@RapidVet.Resources.Controllers.UsersController.Value</th>
                    @foreach(var issuer in Model.Issuers)
                    { 
                          <th>@issuer.Name</th>
                    }
                </tr>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Name</td>
                        @foreach(var issuer in Model.Issuers)
                            {
                        <td>
                                                         
                                <div class="checkbox-controler">
                                    @Html.CheckBox(string.Format("{0}_{1}", issuer.Id, user.Id), Model.Permissions.Any(p => p.UserId == user.Id && p.ObjectId == issuer.Id), new { @class = "li-perm-cb" })
                                </div>
                                                      
                        </td>   
                        }                      
                    </tr>
                }

            </table>
        </div>
    </div>
    @*<div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                        class="btn btn-primary">
                    @RapidVet.Resources.Global.Save
                </button>
            </div>
        </div>
    </div>*@
    <script type="text/javascript">
        $('.li-perm-cb').change(function () {
            $.ajax({
                url:"@Html.Raw(Url.Action("SetUserIssuerPermission"))",
                data: { Val: $(this)[0].checked, Ids: $(this)[0].name },
                });
        });

        var form_id = "EditRolesForm";

        $('#' + form_id).submit(function (e) {
            var self = this;
            e.preventDefault()

            var myForm = document.getElementById(form_id);
            checkboxes = myForm.getElementsByTagName('input');
            var selected = false;
           // debugger;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    if (checkboxes[i].checked) {
                        selected = true;
                        break;
                    }
                }
            }

            if (!selected) {
                $("#noPermissionSelectedError").show();
                return false;
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].type == 'checkbox') {
                        checkboxes[i].disabled = false;
                    }
                }
                myForm.submit();
            }
        });


        //function checkAll(form_id) {
        //    var checkboxes = new Array();
        //    // debugger;
        //    var myForm = document.getElementById(form_id);//document.forms.form_id;
        //    checkboxes = myForm.getElementsByTagName('input'); //myForm.elements['input'];
        //    var is_checked = $('#isClinicGroupManager').is(':checked');
        //    if (is_checked) {
        //        for (var i = 0; i < checkboxes.length; i++) {
        //            if (checkboxes[i].type == 'checkbox') {
        //                checkboxes[i].checked = true;
        //                checkboxes[i].disabled = true;
        //            }
        //        }

        //        document.getElementById("isClinicGroupManager").removeAttribute('disabled');
        //    }
        //    else {
        //        for (var i = 0; i < checkboxes.length; i++) {
        //            if (checkboxes[i].type == 'checkbox') {
        //                checkboxes[i].checked = checkboxes[i].checked;//save current cb status
        //                checkboxes[i].disabled = false;
        //            }
        //        }

        //        document.getElementById("isClinicGroupManager").removeAttribute('disabled');
        //    }
        //}

        //$(document).ready(function () {
        //    checkAll(form_id);
        //});
    </script>
}