﻿@using RapidVet.RapidConsts.Controllers
@model IEnumerable<RapidVet.Model.Users.User>
@{
    var modalId = UserConsts.MODAL_ID;
    //var moreUsersAllowed = CurrentUser.ActiveClinicGroup.MaxUsers > CurrentUser.ActiveClinicGroup.Users.Where(u => u.Active).Count();
}
<div id="@UserConsts.GRID_ID">

    <div>
        @*@if (moreUsersAllowed)
        {*@
            <a onclick="GetModal('@Url.Action("Create", "Users")', '@modalId'); " class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
            <a onclick="GetModal('@Url.Action("EditIssuerPermissions", "Users")', '@modalId'); " class="btn btn-primary" style="float:left;"><i class="icon-edit"></i>@RapidVet.Resources.Controllers.UsersController.UserIssuerPermissionsCaption</a>
        @*}
        else
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>@RapidVet.Resources.Controllers.UsersController.FullQuota</h4>
                @RapidVet.Resources.Controllers.UsersController.NoMoreUsersForYou
            </div>
        }*@
    </div>
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>
                <h2>@RapidVet.Resources.Controllers.UsersController.ClinicGroupUsers</h2>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <select id="ddlUsersActive" class="select" style="padding-top:5px;width:145px;" onchange="ddlUsersActive_change(this.value)">
                    <option selected="selected" value="OnlyActive">הצג פעילים בלבד</option>
                    <option value="OnlyDontActive">הצג לא פעילים בלבד</option>
                    <option value="All">הצג כלל המשתמשים</option>
                </select>
            </td>
        </tr>
    </table>
    
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                <div>
                    @RapidVet.Resources.Controllers.UsersController.Value
                    <div style="margin-top:8px;">
                        <a onclick="GetModal('@Url.Action("DeleteAll")','@modalId');">
                            <i class="icon-trash"></i>@RapidVet.Resources.Controllers.UsersController.DeleteAllUsers
                        </a>
                    </div>  
                    <div style="margin-top:4px;">
                        <a onclick="GetModal('@Url.Action("ActivateAll")','@modalId');">
                            <i class="icon-eye-open"></i>@RapidVet.Resources.Controllers.UsersController.ReactivateAllUsers
                        </a>
                    </div>                   
                </div>
            </th>
            <th>@RapidVet.Resources.Controllers.UsersController.UserClinicRoles</th>
            <th style="width: 73px; text-align: center;">@RapidVet.Resources.Controllers.UsersController.ClinicGroupManager</th>
        </tr>
        @if (Model.Any())
        {
            foreach (var user in Model)
            {
                if (user.IsApproved && !user.IsLockedOut)
                {
            @Html.Partial("_ActiveUser", user)
                }
                else
                {
            @Html.Partial("_NotActiveUser", user)
                }
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </table>

    @Muze.ModalDiv(modalId)
</div>
    <script type="text/javascript">
        function ddlUsersActive_change(val) {
            var url = window.location.href;
            url = url.split('?')[0];
            window.location.href = url + "?ActiveStatus=" + val;
        }
        $('#ddlUsersActive').val('@ViewBag.ActiveStatus');
    </script>

