﻿@model RapidVet.WebModels.Users.UserModel
<style type="text/css">
    .modal.fade.in {
        top: 45%;
    }
</style>  
<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.Username)</label>
    <div class="controls">@Html.EditorFor(m => m.Username)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Username)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.TitleId)</label>
    <div class="controls">@Html.EditorFor(m => m.TitleId)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.TitleId)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.FirstName)</label>
    <div class="controls">@Html.EditorFor(m => m.FirstName)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.FirstName)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.LastName)</label>
    <div class="controls">@Html.EditorFor(m => m.LastName)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.LastName)</span>
    </div>
</div>


<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.LicenceNumber)</label>
    <div class="controls">@Html.EditorFor(m =>  m.LicenceNumber)
        <span class="help-inline">@Html.ValidationMessageFor(m =>  m.LicenceNumber)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.Email)</label>
    <div class="controls">@Html.EditorFor(m => m.Email)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Email)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.MobilePhone)</label>
    <div class="controls">@Html.EditorFor(m => m.MobilePhone)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.MobilePhone)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.Password)</label>
    <div class="controls">@Html.PasswordFor(m => m.Password)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Password)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.PasswordReType)</label>
    <div class="controls">@Html.PasswordFor(m => m.PasswordReType)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.PasswordReType)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Html.LabelFor(m => m.DefaultDrId)</label>
    <div class="controls">@Html.EditorFor(m => m.DefaultDrId)      
    </div>
</div>

@if (Model.IsDoctor)
{
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.DefaultIssuerEmployerId)</label>
        <div class="controls">
            @Html.EditorFor(m => m.DefaultIssuerEmployerId)
    </div>
</div>
}