﻿@using RapidVet.RapidConsts.Controllers
@using RapidVetMembership
@model RapidVet.Model.Users.User
@{
    var modalId = UserConsts.MODAL_ID;
   // var moreUsersAllowed = CurrentUser.ActiveClinicGroup.MaxUsers > CurrentUser.ActiveClinicGroup.Users.Where(u => u.Active).Count();
}

<tr class="not-active-row">
    <td style="width: auto;">
        <p>@Html.DisplayFor(model => model.Name)</p>

        <ul style="list-style: none;">
            @*@if (moreUsersAllowed)
            {*@
                <li><a onclick="GetModal('@Url.Action("ActivateUser", new { id = Model.Id })','@modalId');">
                    <i class="icon-eye-open"></i>@RapidVet.Resources.Controllers.UsersController.ReactivateUser </a>
                </li>
            @*}
            else
            {
                <li><i class="icon-eye-open"></i>@RapidVet.Resources.Controllers.UsersController.ReactivateUser
                </li>
            }*@
        </ul>
    </td>
    <td style="vertical-align: middle;">
        @Html.Action("UserRolesTable", new { id = Model.Id })
    </td>
    <td style="text-align: center; vertical-align: middle;">
        @Html.Action("IsClinicGroupManager", new { userName = Model.Username })
    </td>
</tr>
