﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Users.UserModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.UsersController.ReactivateUser</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.Controllers.UsersController.ReactivateUser)
    </h3>
</div>
<div class="modal-footer">
    @using (Ajax.BeginForm("ActivateUser", "Users", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "Success"
        },
                           new
                               {
                                   @class = "form-horizontal",
                               }))
    {
        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="name" value="@string.Format("{0} {1}", Model.FirstName, Model.LastName)"/>
        <div class="row-fluid">
            <div class="span6">
                <button type="submit" class="btn btn-info">@RapidVet.Resources.Controllers.UsersController.Reactivate</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    }

</div>
