﻿@model RapidVet.WebModels.Users.UserRolesModel
<table style="width: 100%;">
    <tr>
        <th>@RapidVet.Resources.Controllers.UsersController.ClinicName</th>
        <th>@RapidVet.Resources.Roles.Secretary</th>
        <th>@RapidVet.Resources.Roles.Doctor</th>
        <th>@RapidVet.Resources.Roles.ViewReports</th>
        <th>@RapidVet.Resources.Roles.ViewFinancialReports</th>
        <th>@RapidVet.Resources.Roles.ExcelExport</th>
        <th>@RapidVet.Resources.Roles.ClinicManager</th>

    </tr>
    @foreach (var clinicRole in Model.ClinicRoles)
    {
        <tr>
            <td><span style="font-weight: bold;">@Html.DisplayFor(modelClinicRole => clinicRole.ClinicName)</span></td>
           <td style="text-align: center; width: 20px;">
                @if (clinicRole.isSecretary)
                {
                    <i class="icon-ok"></i>
                }
            </td>
            <td style="text-align: center; width: 20px;">
                @if (clinicRole.isDoctor)
                {
                    <i class="icon-ok"></i>
                }
            </td>
            <td style="text-align: center; width: 20px;">
                @if (clinicRole.isViewReports)
                {
                    <i class="icon-ok"></i>
                }
            </td>
            <td style="text-align: center; width: 20px;">
                @if (clinicRole.isViewFinancialReports)
                {
                    <i class="icon-ok"></i>
                }
            </td>
             <td style="text-align: center; width: 20px;">
                @if (clinicRole.isExcelExport)
                {
                    <i class="icon-ok"></i>
                }
            </td>
            <td style="text-align: center; width: 20px;">
                @if (clinicRole.isClinicManager)
                {
                    <i class="icon-ok"></i>
                }
            </td>
        </tr>
    }
</table>
