﻿@model RapidVet.Model.Users.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Comment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">IsApproved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>

    <div class="display-label">PasswordFailuresSinceLastSuccess</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordFailuresSinceLastSuccess)
    </div>

    <div class="display-label">LastPasswordFailureDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPasswordFailureDate)
    </div>

    <div class="display-label">LastActivityDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastActivityDate)
    </div>

    <div class="display-label">LastLockoutDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLockoutDate)
    </div>

    <div class="display-label">LastLoginDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginDate)
    </div>

    <div class="display-label">ConfirmationToken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmationToken)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">IsLockedOut</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsLockedOut)
    </div>

    <div class="display-label">LastPasswordChangedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPasswordChangedDate)
    </div>

    <div class="display-label">PasswordVerificationToken</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordVerificationToken)
    </div>

    <div class="display-label">PasswordVerificationTokenExpirationDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordVerificationTokenExpirationDate)
    </div>

    <div class="display-label">ClinicGroupTariffId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClinicGroupTariffId)
    </div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">CreatedByTariffId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedById)
    </div>

    <div class="display-label">UpdatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">UpdatedByTariffId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedByTariffId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("ClinicClinicGroupEdit", "Edit", new { id=Model.UserTariffId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
