﻿@model RapidVet.WebModels.Users.UsersSettingsWebModel
@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/bubble.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<link rel="stylesheet" href="@Url.Content("~/Content/css/bubble.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
<style type="text/css">
    .row-fluid input[type="text"] {
        width: 150px !important;
        left: 38px;
        position: relative;
    }

    label > select {
        width: 159px !important;
        left: 38px;
        position: relative;
    }

    #Email {
        left: 38px;
        position: relative;
        direction: ltr;
    }
</style>

<form class="form-inline" action="@Url.Action("EditProfile", "Users")" method="POST">
    @Html.AntiForgeryToken()
    <div class="row-fluid">
        <div class="row ">
            <div class="span2">
                @RapidVet.Resources.User.Title
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.TitleId)
                </label>
            </div>

            <div class="span2">
                @RapidVet.Resources.User.FirstName
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.FirstName)
                </label>
            </div>
            <div class="span2">
                @RapidVet.Resources.User.LastName
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.LastName)
                </label>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="span2">
                @RapidVet.Resources.User.Email
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.Email)
                </label>
            </div>
            <div class="span2">
                @RapidVet.Resources.User.Mobile
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.MobilePhone)
                </label>
            </div>
            <div class="span2">
                @RapidVet.Resources.User.HomePageDisplay
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.HomePageDisplay)
                </label>
            </div>
            <div id="showUsersSettings" class="bubble">
                <div>
                    <div>
                        <label style="margin-top: 5px; margin-right: 20px; color: #7dba00; font-size: 16px; margin-bottom: auto;">@RapidVet.Resources.User.ClinicsToViewOnMainWindow</label>
                    </div>
                    <div class="li-group-cbHeaderDiv">
                        <input checked="checked" id="selectDeselectAll" type="checkbox" autocomplete="off" style="width:18px; height:18px;" />
                        <span style="font-size: 12px;">@RapidVet.Resources.Global.SelectDeSelect</span>
                    </div>
                    <ul class="bubbleContent">
                        @for (int i = 0; i < Model.ShowUsersList.Count; i++)
                        {
                            <li class="li-group-item">
                                <table>
                                    <tr>
                                        <td>
                                            @Html.CheckBoxFor(m => Model.ShowUsersList[i].Show, new { @class = "li-group-cb" })
                                        </td>
                                        <td class="li-group-text">
                                            @Html.HiddenFor(m => Model.ShowUsersList[i].Id)
                                            @Html.HiddenFor(m => Model.ShowUsersList[i].DoctorId)
                                            @Html.HiddenFor(m => Model.ShowUsersList[i].User)
                                            @Model.ShowUsersList[i].User
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span2">
                @string.Format(RapidVet.Resources.User.ShortCut, "1")
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.ShortCutAId)
                </label>
            </div>
            <div class="span2">
                @string.Format(RapidVet.Resources.User.ShortCut, "2")
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.ShortCutBId)
                </label>
            </div>
            <div class="span2">
                @string.Format(RapidVet.Resources.User.ShortCut, "3")
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.ShortCutCId)
                </label>
            </div>
        </div>
        <br />

        @if (CurrentUser.IsDoctor)
        {
            <div class="row">
                <div class="span2">
                    @RapidVet.Resources.User.DefaultIssuer
                </div>
                <div class="span2">
                    <label>
                        @Html.EditorFor(model => model.DefaultIssuerId)
                    </label>

                </div>
                <div class="span2">
                    @RapidVet.Resources.User.LicenceNumber
                </div>
                <div class="span2">
                    <label>
                        @Html.EditorFor(model => model.LicenseNumber)
                    </label>
                </div>
                <div class="span2">
                    Google Sync
                </div>
                <div class="span2" style="margin-right: -17px; width: 155px;">
                    <input type="button" value="Settings" onclick="location.href='@Url.Action("Settings", "Google" )'" style="width:100%;" />
                </div>
            </div>
        }
        <br />
        <p style="text-align: right;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </p>
    </div>
    <script type="text/javascript">
        $('#HomePageDisplay').change(function () {
            document.getElementById('showUsersSettings').className = $('#HomePageDisplay').val() == '0' ? 'bubble' : 'hide';
        });
    </script>
</form>
