﻿@using RapidVet.RapidConsts.Controllers
@using RapidVetMembership
@model IEnumerable<RapidVet.Model.Users.User>
@{
   
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Inventory/Roles.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

@Html.Action("IndexGrid", "Users")