﻿@model IEnumerable<RapidVetMembership.ConcurrentUserInfo>
@{
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

<h2>@RapidVet.Resources.ClinicGroupNavigation.OnlineUsers</h2>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @RapidVet.Resources.Controllers.UsersController.Value
        </th>
        <th>נתק</th>
    </tr>
    @if (Model.Any())
    {
        foreach (var user in Model)
        {
        <tr>
            <td>@user.User.Name</td>
            <td>
                <a href="@Url.Action("DisconnectUser","Users", new { id = user.UserName})">
                    <i class="icon-remove"></i>
                </a>

            </td>
        </tr>
        }
    }
    else
    {
        @Muze.EmptyGridMessage()
    }

</table>
