﻿@model RapidVet.WebModels.DischargePapers.DischargePaperWebModel
           
@{
    var checkupDate = Model.CheckUp.HasValue && Model.CheckUp.Value > DateTime.MinValue
                          ? Model.CheckUp.Value.ToShortDateString() : null;
}

<input type="hidden" id="initialClientId" value="@ViewBag.ClientId"/>
<input type="hidden" id="initialPatientId" value="@ViewBag.PatientId"/>

<input type="hidden" data-bind="value: selectedPatientId" name="patientId" id="patientId" />
<input type="hidden" data-bind="value: selectedClientId" name="clientId" id="clientId" />
<input type="hidden" data-bind="value: print" name="print" id="print"/>

<div class="row spnFont">
    <div class="span2">
        <label>בחר לקוח</label>
    </div>
    <div class="span3" style="margin-top: 3px;">
        <label>
            <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
        </label>
    </div>
    <div class="span3">
        <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label>
    </div>

   @* <div class="span4">
    <label>
         <select required data-bind="value: selectedClientId, options: clients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
     </label>
    </div>*@

    </div>
    <br />
<div class="row">
    <div class="span2">
        <label>ת.ז לקוח</label></div>
    <div class="span4">
        <label>
            <input type="text" readonly="readonly" data-bind="value: idCard" /></label></div>
</div>
<br />
<div class="row spnFont">
    <div class="span2">
        <label>בחר חיה</label>
    </div>
    <div class="span10">
        <label>
            <select required data-bind="value: selectedPatientId, options: patients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>
</div>
<br />

<div class="row spnFont">
    <div class="span2">
        <label>מאת</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.From)</label>
    </div>
</div>
<br />
<div class="row spnFont">
    <div class="span2">
        <label>תאריך</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextBox("DateTime", Model.DateTime.ToShortDateString(), new { @class = "date" })
        </label>
    </div>
</div>
<br />
<div class="row spnFont">
    <div class="span2">
        <label>לכבוד</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.To)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>סיכום רפואי</label>
    </div>
    <div class="span10">
        <label>@Html.TextAreaFor(m => m.Summery,new{@style="width: 758px;",rows="5"})</label>
    </div>
</div>
<br />
<div class="row spnFont">
    <div class="span2">
        <label>רקע רפואי</label>
    </div>
    <div class="span10">
        <label>@Html.TextAreaFor(m => m.Background,new{@style="width: 758px;",rows="5"})</label>
    </div>
</div>
<br />
<div class="row spnFont">
    <div class="span2">
        <label>המלצות להמשך טיפול</label>
    </div>
    <div class="span10">
        <label>@Html.TextAreaFor(m => m.Recommendations,new{@style="width: 758px;",rows="5"})</label>
    </div>
</div>
<br />
<div class="row spnFont">
    <div class="span2">
        <label>תאריך ביקורת</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextBox("CheckUp", checkupDate, new { @class = "date" })
        </label>
    </div>
</div>
<br />

    <button class="btn btn-inverse btn-large" data-bind="click: back">
        <i class="icon-remove"></i>
        ביטול
    </button>
    <button class="btn btn-primary btn-large">
        <i class="icon-ok"></i>
        שמירה
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: saveAndPrint">
        <i class="icon-print"></i>
        שמירה והדפסה
    </button>