﻿@model RapidVet.WebModels.DischargePapers.DischargePaperWebModel

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/MedicalProcedures/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>יצירת מכתב שחרור חדש</h2>

@using (Html.BeginForm("Create", "DischargePapers", FormMethod.Post, new { @class = "form-inline", id = "form" }))
{
    @Html.Partial("_MainForm", Model)

}