﻿@model RapidVet.WebModels.DischargePapers.DischargePaperWebModel
           
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/MedicalProcedures/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>עריכת מכתב שחרור</h2>

@using (Html.BeginForm("Edit", "DischargePapers", FormMethod.Post, new { @class = "form-inline", id="form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.Partial("_MainForm", Model)
}