﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/GeneralReports/PreformedPreventive.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Grid/jquery.jqGrid.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/jquery-ui-1.10.4.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/ui.jqgrid.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/grid.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />

<script type="text/javascript" src="@Url.Content("~/Scripts/Grid/grid.locale-he.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Grid/grid.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript">
    BackClick = function () {
        //$('#fsMain').show("fast");
        $('#dGrid').hide();
        //$('#dBackBtn').hide();
    }
    function ShowGrid() {
        SetReportGrid($('#ReportType').val(), $('#ddlDocType').val());
    }

    function GetWidth(per) {
        return winWidth * per / 100 + "px";
    }

    var winWidth = $(window).width() - 60;
    var isLoaded = false;
    
    function GetPreformedPreventiveData() {

        var l = document.location.toString();
        var url = l.substr(0, l.toLocaleLowerCase().indexOf('/preformedpreventive'));

        $('#dGrid').show("fast");
        /*GetPreformedPreventiveData(string strFromDate, string strToDate, string strSelectedItems, 
            string AnimalKindId, string IncludeExternalPreformances, string IncludeInactivePatients)*/
        if (isLoaded) {
            setTimeout("ReLoadGrid(\"" +url + "/PreformedPreventive/GetPreformedPreventiveData?strFromDate=" + escape($('.fromDate').val()) + "&strToDate=" + escape($('.toDate').val()) + "&strSelectedItems=" + escape(self.selectedItems)
                + "&AnimalKindId=" + escape($('.AnimalKindId').val()) + "&includeExternalPreformances=" + escape($('.includeExternalPreformances')[0].checked)
                + "&IncludeInactivePatients=" + escape($('.includeInactivePatients')[0].checked)+ "\");", 10);
            return;
        }
        GridURL = url + "/PreformedPreventive/GetPreformedPreventiveData?strFromDate=" + escape($('.fromDate').val()) + "&strToDate=" + escape($('.toDate').val()) + "&strSelectedItems=" + escape(self.selectedItems)
                + "&AnimalKindId=" + escape($('.AnimalKindId').val()) + "&includeExternalPreformances=" + escape($('.includeExternalPreformances')[0].checked)
                + "&IncludeInactivePatients=" + escape($('.includeInactivePatients')[0].checked);

        $("#jqGrid").jqGrid({
            url: GridURL,
            mtype: "POST",
            datatype: "json",
            data: "",
            colModel: [
                 {
                     label: 'תאריך', name: 'date', width: GetWidth(7), align: "Right", editable: true, stype: "text", sorttype: "date", formatoptions: { newformat: 'd/m/Y' }, datefmt: 'd/m/Y',
                     searchoptions: {
                         searchOperators: true,
                         searchOnEnter: true,
                         sopt: ['gt', 'eq', 'lt'],
                         dataInit: function (elem) {
                             $(elem).datepicker({
                                 dateFormat: 'dd/mm/yy',
                                 changeYear: true,
                                 changeMonth: true,
                                 showWeek: true,
                                 onSelect: function (dateText, inst) {
                                     setTimeout(function () {
                                         $('#jqGrid')[0].triggerToolbar();
                                     }, 100);
                                 }
                             });
                         }
                     },
                     formatoptions: {
                         srcformat: 'd/m/Y',
                         newformat: 'd/m/Y'


                     }
                 },
                { label: 'שם הבעלים', name: 'clientName', width: GetWidth(8), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'שם החיה', name: 'patientName', width: GetWidth(5), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'סוג החיה', name: 'patientKind', width: GetWidth(5), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'מין החיה', name: 'patientGender', width: GetWidth(5), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'צבע החיה', name: 'patientColor', width: GetWidth(5), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'גיל החיה', name: 'patientAge', width: GetWidth(5), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'שם החיסון', name: 'priceListItemName', width: GetWidth(10), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'כתובת', name: 'address', width: GetWidth(11), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'טלפון בית', name: 'cellPhone', width: GetWidth(7), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'טלפון סלולארי', name: 'PatientKind', width: GetWidth(5), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'ת.ז', name: 'clientIdCard', width: GetWidth(7), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'מספר אלקטרוני', name: 'patientChip', width: GetWidth(7), align: "Right", editable: true, stype: "text", sorttype: "text" },
                { label: 'הרופא/ה<br/>המטפל/ת', name: 'preformingDoctor', width: GetWidth(9), align: "Right", editable: true, stype: "text", sorttype: "text" },
            ],
            loadError: function (xhr, st, err) {
                alert("כמות הנתונים שחוזרת הינה גדולה מידיי להצגה, אנא הזן טווח תאריכים אחר");
                window.location.reload();

                //;alert("Type: " + st + "; Response: " + xhr.status + " " + xhr.statusText);
            },
            altRows: true,
            direction: "rtl",
            viewrecords: true,
            height: 510,
            rowNum: 30,
            pager: "#jqGridPager",
            loadonce: true,
            pager: '#jQGridPager',
            prmNames: { page: "pageNumber", rows: "rowSize" },
            viewrecords: true,
            sortname: "ClientName",
            sortorder: 'asc',
            caption: "<div id='dHeaderT'>דוח חיסונים שבוצעו</div>",
            toppager: false,
            lang: "he",
            loadComplete: function (data) {
                isLoaded = true;
                SetExport(GridURL, 'jqGrid');

            }
        });
        $('#jqGrid').jqGrid('filterToolbar', { searchOnEnter: true, ignoreCase: true, searchOperators: true, defaultSearch: 'cn', stringResult: false, sopt: ['gt', 'eq', 'lt'] });
        $('#jqGrid').jqGrid('navGrid', '#jQGridPager', {
            edit: false,
            add: false,
            del: false,
            refresh: true
        });
        //fixSearchOperators();
    }
    function fixSearchOperators() {
        var $grid = $("#jqGrid"),
            columns = $grid.jqGrid('getGridParam', 'colModel'),
            filterToolbar = $($grid[0].grid.hDiv).find("tr.ui-search-toolbar");

        filterToolbar.find("th").each(function (index) {
            var $searchOper = $(this).find(".ui-search-oper");
            if (!(columns[index].searchoptions && columns[index].searchoptions.searchOperators)) {
                $searchOper.hide();
            }
        });
    }
</script>

}

<h2>דו"ח חיסונים שבוצעו</h2>
<br />
<br />
<input type="hidden" id="from" value="@ViewBag.From"/>
<input type="hidden" id="to" value="@ViewBag.To"/>

<div class="form-inline well">
    <div class="row">
        <div class="span2">
            <label>בחר סוג חיה</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="value: animalKindId, options: animalKinds, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'" class="AnimalKindId"></select>
            </label>
        </div>
        <div class="span4">
            <input type="checkbox" data-bind="checked: includeInactivePatients" class="includeInactivePatients" />
            כלול חיסונים שבוצעו בבעלי חיים שאינם פעילים
        </div>
        <div class="span3">
            <input type="checkbox" data-bind="checked: includeExternalPreformances" class="includeExternalPreformances" />
            כלול חיסונים שבוצעו במרפאות חיצוניות
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span2">
            <label>חיסונים וטיפולים מונעים</label>
            <label style="font-size: 10px;color: gray;margin-top:-5px;">@RapidVet.Resources.PreventiveReminders.MultipleSelectionHint</label></div>
        <div class="span9">
            <label style="height:110px;">
                <select multiple="multiple" size="2" style="height:110px;"
                        data-bind="options: preventiveMedicineItems, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: preventiveItemIdsList"></select>
            </label>
            @*<ul style="list-style-type: none; list-style: none;" data-bind="foreach: preventiveMedicineItems">
                <li style="display: inline-table; margin-left: 8px;">
                    <input type="checkbox" style="margin-left: 3px;" data-bind="checked: Selected" />
                    <span data-bind="text: Text"></span>
                </li>
            </ul>*@
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span2">
            <label>מתאריך</label>
        </div>
        <div class="span3">
            <label>
                <input type="text" data-bind="value: from" class="date fromDate" readonly /></label>
        </div>
        <div class="span2">
            <label>
                עד תאריך
            </label>

        </div>
        <div class="span3">
            <label>
                <input type="text" data-bind="value: to" class="date toDate" readonly /></label>
        </div>
        <div class="span2">
            <label>
                <a class="btn btn-primary" onclick="GetPreformedPreventiveData();">
                    <i class="icon-search"></i>
                    חפש
                </a>

            </label>
        </div>
    </div>
</div>
<br />
<a class="btn btn-primary" target="_blank" data-bind="attr: { href: printUrl }">
    <i class="icon-print"></i>
    הדפסה
</a>
@if (CurrentUser.IsExcelExport)
{
    <a class="btn btn-primary" target="_blank" data-bind="attr: { href: exportUrl }">
        <i class="icon-download"></i>
        ייצא לקובץ
    </a>
}
<br />
<br />
<div style="direction: rtl; width: 700px; float: right; height: 480px;display:none;" align="center" id="dGrid">
    <table id="jqGrid"></table>
    <div id="jQGridPager" class="pager">
    </div>
</div>
@*<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הבעלים</th>
            <th>שם החיה</th>
            <th>סוג החיה</th>
            <th>מין החיה</th>
            <th>צבע החיה</th>
            <th>גיל החיה</th>
            <th>שם החיסון</th>
            <th>כתובת</th>
            <th>טלפון בית</th>
            <th>טלפון סלולארי</th>
            <th>ת.ז</th>
            <th>מספר אלקטרוני</th>
            <th>הרופא/ה המטפל/ת</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: results">
        <tr>
            <td data-bind="text: Date"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: PatientName"></td>
            <td data-bind="text: PatientKind"></td>
            <td data-bind="text: PatientGender"></td>
            <td data-bind="text: PatientColor"></td>
            <td data-bind="text: PatientAge"></td>
            <td data-bind="text: PriceListItemName"></td>
            <td data-bind="text: Address"></td>
            <td data-bind="text: HomePhone"></td>
            <td data-bind="text: CellPhone"></td>
            <td data-bind="text: ClientIdCard"></td>
            <td data-bind="text: PatientChip"></td>
            <td data-bind="text: PreformingDoctor"></td>
        </tr>
    </tbody>
</table>*@
