﻿@model IEnumerable<RapidVet.WebModels.GeneralReports.PreformedPreventiveReportModel>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}
<h2>דוח חיסונים שבוצעו @ViewBag.To  -  @ViewBag.From</h2>

<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הבעלים</th>
            <th>שם החיה</th>
            <th>סוג החיה</th>
            <th>מין החיה</th>
            <th>גיל החיה</th>
            <th>צבע החיה</th>
            <th>שם החיסון</th>
            <th>כתובת</th>
            <th>טלפון בית</th>
            <th>טלפון סלולארי</th>
            <th>ת.ז</th>
            <th>מספר אלקטרוני</th>
            <th>הרופא/ה המטפל/ת</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var i in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelI => i.Date)</td>
                <td>@Html.DisplayFor(modelI => i.ClientName)</td>
                <td>@Html.DisplayFor(modelI => i.PatientName)</td>
                <td>@Html.DisplayFor(modelI => i.PatientKind)</td>
                <td>@Html.DisplayFor(modelI => i.PatientGender)</td>
                <td>@Html.DisplayFor(modelI => i.PatientAge)</td>   
                   <td>@Html.DisplayFor(modelI => i.PatientColor)</td>
                <td>@Html.DisplayFor(modelI => i.PriceListItemName)</td>
                <td>@Html.DisplayFor(modelI => i.Address)</td>
                <td>@Html.DisplayFor(modelI => i.HomePhone)</td>
                <td>@Html.DisplayFor(modelI => i.CellPhone)</td>
                <td>@Html.DisplayFor(modelI => i.ClientIdCard)</td>
                <td>@Html.DisplayFor(modelI => i.PatientChip)</td>
                <td>@Html.DisplayFor(modelI => i.PreformingDoctor)</td>
            </tr>
            }
        }
    </tbody>
</table>
