﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Clients.ClientStatusModel

<style type="text/css">
    .simpleColorChooser {
        left: 21px !important;
        top: 0px !important;
    }
</style>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.ClientStatusController.Create</h3>
</div>
@using (Html.BeginForm("Create", "ClientStatuses", FormMethod.Post, new { @class = "form-inline", id = ClientStatusConsts.EDIT_FORM }))
{
    <div class="modal-body" style=" height: 210px;">
        <div class="row-fluid">
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Global.Name</span>
                    @Html.EditorFor(model => model.Name)
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.Name)</span>
                </label>
            </div>
            <br />
            <div class="row">
                <div class="span2" style=" margin-left: -20px;">
                    @RapidVet.Resources.Controllers.ClientStatusController.MeetingColor
                </div>
                <div class="span3">
                    <input id="MeetingColor" name="MeetingColor" class='simpleColor' value='@(string.IsNullOrEmpty(Model.MeetingColor) ? "#33cccc" : Model.MeetingColor)' />
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button type="submit"
                            class="btn ok">
                        @RapidVet.Resources.Global.Save
                    </button>
                </div>
            </div>
        </div>
        }
<script type="text/javascript">
    $('.simpleColor').simpleColor();
</script>