﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.Clients.ClientStatusModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.ClientStatusController.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "ClientStatuses", FormMethod.Post, new { @class = "form-inline", id = ClientStatusConsts.DELETE_FORM }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Muze.DeleteButtons()
    }

</div>
