﻿@using RapidVet.RapidConsts.Controllers
@model IEnumerable<RapidVet.WebModels.Clients.ClientStatusModel>
@{
    var modalId = ClientStatusConsts.MODAL_ID;
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

    <style type="text/css">

.color-box {
    width: 60px;
    height: 15px;    
    position: relative;
    margin:auto;
    border: 1px solid gray;
}
    </style>
<div id="@ClientStatusConsts.GRID_ID">

    @Muze.CreateButton(Url.Action("Create"), modalId, RapidVet.Resources.Global.Create)
    <br />

    <table class="table table-striped table-bordered table-condensed">

        <tr>
            <th>@RapidVet.Resources.Global.Name</th>
            <th>@RapidVet.Resources.Controllers.ClientStatusController.MeetingColor</th>
            <th></th>
        </tr>
        @if (Model.Any())
        {
            foreach (var clientStatus in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelClisentStatus => clientStatus.Name)</td>
                <td class="input-color" style="width: 100px;"><div class="color-box" style="background-color: @clientStatus.MeetingColor;"></div></td>
                <td>
                    <a onclick="GetModal('@Url.Action("Edit", "ClientStatuses", new { id = clientStatus.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                    |
                    <a onclick="GetModal('@Url.Action("Delete", "ClientStatuses", new { id = clientStatus.Id })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </table>

    @Muze.ModalDiv(ClientStatusConsts.MODAL_ID)

</div>
