﻿@model RapidVet.WebModels.Medications.MedicationEditWebModel
<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.Name</label>
    <div class="controls">
        @Html.EditorFor(m => m.Name)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.MedicationAdministrationTypeId</label>
    <div class="controls">
        @Html.EditorFor(m => m.MedicationAdministrationTypeId)
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.Dosage</label>
    <div class="controls">
        @Html.EditorFor(m => m.Dosage)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Dosage)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.TimesPerDay</label>
    <div class="controls">
        @Html.EditorFor(m => m.TimesPerDay)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.TimesPerDay)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.NumberOfDays</label>
    <div class="controls">
        @Html.EditorFor(m => m.NumberOfDays)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.NumberOfDays)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.UnitPrice</label>
    <div class="controls">
        @Html.EditorFor(m => m.UnitPrice)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.UnitPrice)</span>
    </div>
</div>


<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.Insturctions</label>
    <div class="controls">
        @Html.TextAreaFor(m => m.Insturctions)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Insturctions)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.DangerousDrug</label>
    <div class="controls">
        @Html.EditorFor(m => m.DangerousDrug)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.DangerousDrug)</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@RapidVet.Resources.Medication.DoctorInfo</label>
    <div class="controls">
        @Html.TextAreaFor(m => m.DoctorInfo)
        <span class="help-inline">@Html.ValidationMessageFor(m => m.DoctorInfo)</span>
    </div>
</div>

