﻿@model RapidVet.Model.Visits.Medication

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Medication</legend>

    <div class="display-label">ClinicGroup</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClinicGroup.Name)
    </div>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">MedicationAdministrationTypeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MedicationAdministrationTypeId)
    </div>

    <div class="display-label">Dosage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dosage)
    </div>

    <div class="display-label">TimesPerDay</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimesPerDay)
    </div>

    <div class="display-label">NumberOfDays</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfDays)
    </div>

    <div class="display-label">Insturctions</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Insturctions)
    </div>

    <div class="display-label">UnitPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>

    <div class="display-label">DangerousDrug</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DangerousDrug)
    </div>

    <div class="display-label">DoctorInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DoctorInfo)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
