﻿@model IEnumerable<RapidVet.Model.Visits.Medication>
@{
    var modalId = "medicationModal";
    if (ViewBag.Print == true)
    {
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }
}


<h2>@RapidVet.Resources.Medication.Medications</h2>

<div>
    @Muze.CreateButton(Url.Action("Create", "Medication"), RapidVet.Resources.Medication.Create)
    @Muze.PrintButton(Url.Action("Index", "Medication", new { print = true }))
    <br />
    <br />
</div>

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>
            @RapidVet.Resources.Medication.Name
        </th>
        <th>
            @RapidVet.Resources.Medication.MedicationAdministrationTypeId
        </th>
        <th>
            @RapidVet.Resources.Medication.Dosage
        </th>
        <th>
            @RapidVet.Resources.Medication.TimesPerDay
        </th>
        <th>
            @RapidVet.Resources.Medication.NumberOfDays
        </th>
        <th>
            @RapidVet.Resources.Medication.Insturctions
        </th>
        <th>
            @RapidVet.Resources.Medication.UnitPrice
        </th>
        <th>
            @RapidVet.Resources.Medication.DangerousDrug
        </th>
        <th>
            @RapidVet.Resources.Medication.DoctorInfo
        </th>
        <th></th>
    </tr>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationAdministrationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insturctions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangerousDrug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorInfo)
            </td>
            <td>
                <a onclick="GetModal('@Url.Action("Delete", new { id = item.Id })','@modalId');">
                    <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                |
                        <a href="@Url.Action("Edit", new { id = item.Id })">
                            <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
            </td>
        </tr>
        }
    }
    else
    {
        @Muze.EmptyGridMessage()
    }

</table>

<div class="modal hide fade" id="@modalId"></div>
