﻿@{
    var issuerId = Url.RequestContext.RouteData.Values["id"];
    var issuerName = Url.RequestContext.HttpContext.Request.Params["name"]; 
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/IssuerCreditType.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<h2>סוגי עסקאות אשראי למנפיק @issuerName</h2>

<input type="hidden" name="issuerId" id="issuerId" value="@issuerId"/>
<a class="btn btn-primary" data-bind="click: add">
    <i class="icon-plus"></i>
    הוסף
</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>שם</th>
            <th style="width: 10%">דחיית תשלום</th>          
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: types">
        <tr>
            <td>
                <input type="text" data-bind="value: name" /></td>
            <td style="width: 10%">
                <input type="checkbox" data-bind="checked: postponedPayment" />
            </td>
            <td>
                <a class="btn btn-primary" data-bind="click: $parent.save">
                    <i class="icon-edit"></i>
                    שמור
                </a>
                <a class="btn btn-danger" data-bind="click: $parent.remove">
                    <i class="icon-trash"></i>
                    מחק
                </a>
            </td>
        </tr>
    </tbody>
</table>
