﻿@model RapidVet.Model.RegionalCouncil
<div class="row">
    <div class="span2">
        <label>שם</label></div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.Name)</label></div>
</div>

<div class="row">
    <div class="span2">
        <label>קוד</label></div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.Code)</label></div>
</div>

<div class="row">
    <div class="span2">
        <label>אימייל</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.Email)</label>
    </div>
</div>

@Muze.OkButton()