﻿@model IEnumerable<RapidVet.Model.RegionalCouncil>
<h2>מועצות אזוריות</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "RegionalCouncils")">
    <i class="icon-plus"></i>
    מועצה אזורית חדשה
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>שם</th>
            <th>קוד</th>
            <th>אימייל</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var r in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelR => r.Name)</td>
                <td>@Html.DisplayFor(modelR => r.Code)</td>
                <td>@Html.DisplayFor(modelR => r.Email)</td>
                <td><a class="btn btn-primary" href="@Url.Action("Edit", "RegionalCouncils", new { id = r.Id })">
                    <i class="icon-edit"></i>
                    עריכה
                </a></td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </tbody>
</table>
