﻿@model IEnumerable<RapidVet.Model.Finance.CreditCardCode>
@{
    var issuerId = Url.RequestContext.RouteData.Values["id"];
    var issuerName = Url.RequestContext.HttpContext.Request.Params["name"]; 
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/CreditCardCodes.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>סוגי כרטיסי אשראי למנפיק @issuerName</h2>
    
<br />
<br />
<a class="btn btn-primary" data-bind="click: add">
    <i class="icon-plus"></i>
    הוסף
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <th>שם</th>
        <th>מזהה חיצוני</th>
        <th></th>
    </thead>
    <tbody data-bind="foreach: cardCodes">
        <tr>
            <td>
                <input type="text" data-bind="value: name" /></td>
          <td><input type="text" data-bind="value: externalAccountId" /></td>
              <td>
                <a class="btn btn-primary" data-bind="click: $parent.save">
                    <i class="icon-edit"></i>
                    שמור
                </a>
                <a class="btn btn-danger" data-bind="click: $parent.remove">
                    <i class="icon-trash"></i>
                    מחק
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div id="deleteModal" class="modal hide fade"></div>
  
   <input type="hidden" name="issuerId" id="issuerId" value="@issuerId"/>