﻿@model RapidVet.WebModels.Users.LogOnModel
@{
    ViewBag.Title = RapidVet.Resources.WebModels.Account.LogOnTitle;
    Layout = "";
}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Rapid Vet @typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/RapidCssBundle.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
    <style>
        body {
            padding-top: 190px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body dir="rtl" id="login-page">
    <!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->


    <div class="container" style="width: 960px;">
               @Html.Partial("_FormValidationSummary")
            <div class="row">
                <div class="span6 right">
                    <h2>בעיית אבטחה</h2>
                    <p>יתכן ומשתמש נוסף השתמש בשם המשתמש שלך ממחשב אחר.
                    </p>
                    <p>
                        <a href="/">לחץ כאן להתחברות מחדש</a>
                    </p>
                </div>
                <div class="span6 left">
                    <img class="logo" src="/Content/img/RapidVet/logo.png">
                </div>
            </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; width: 940px;">
        <div class=" row">
            <div class="span12">
                לתמיכה צור קשר עם מרכז התמיכה של רפיד
            </div>

        </div>
    </div>


    @Html.Partial("_Scripts")
    
    <script>
        $(function() {
            $("input[type=text]:first").focus();
        });
    </script>

    <div id="loder">
        <div id="fountainG">
            <div id="fountainG_1" class="fountainG">
            </div>
            <div id="fountainG_2" class="fountainG">
            </div>
            <div id="fountainG_3" class="fountainG">
            </div>
            <div id="fountainG_4" class="fountainG">
            </div>
            <div id="fountainG_5" class="fountainG">
            </div>
            <div id="fountainG_6" class="fountainG">
            </div>
            <div id="fountainG_7" class="fountainG">
            </div>
            <div id="fountainG_8" class="fountainG">
            </div>
        </div>
    </div>

</body>
</html>
