﻿@model RapidVet.Model.FullCalender.Recess
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript">
        var isValid = true;
        
        function checkDisableForm() {
            if (isValid) {
                $('.save-form button').attr('disabled', false);
            } else {
                $('.save-form button').attr('disabled', true);
            }
        }
        
        function highlightErrors(startSelector,endSelector) {
            $(startSelector).addClass('timeValidationError');
            $(endSelector).addClass('timeValidationError');
        }
        
        function unhighlightErrors(startSelector, endSelector) {
            $(startSelector).removeClass('timeValidationError');
            $(endSelector).removeClass('timeValidationError');
        }
        function validSelection(startSelector, endSelector) {
            var startDate = $(startSelector).timepicker('getTime', new Date());
            var endDate = $(endSelector).timepicker('getTime', new Date());
            return endDate > startDate;
        }

        $('.start, .end').change(function() {
            if (!validSelection('.start', '.end')) {
                isValid = false;
                highlightErrors('.start', '.end');

            } else {
                isValid = true;
                unhighlightErrors('.start', '.end');
            }
            checkDisableForm();
        });
       
    </script>
}

<style>
    
    .form-inline .control-group label>input.timeValidationError{
        background-color: rgb(248, 124, 144);
    }

        .form-inline .control-group label > input.timeValidationError:focus {
            background-color: rgb(248, 124, 144);
        }
</style>


<h2>@RapidVet.Resources.Recesses.Title</h2>
<br />

@using (Html.BeginForm("Edit", "Recesses", FormMethod.Post, new { @class = "form-inline" }))
{
    <input type="hidden" name="Id" id="Id" value="@Model.Id"/>
    <input type="hidden" name="UserId" id="UserId" value="@Model.UserId"/>

    <br />

    <div class="row control-group dateSelector">
        <div class="span2">
            <label class="control-label">@RapidVet.Resources.Recesses.Day: </label>
        </div>
        <div class="span10">
            <label>
                @Html.DropDownListFor(m => m.DayId,
                                      new SelectList(
                                          new List<Object>
                                              {
                                                  new {value = 0, text = RapidVet.Resources.Recesses.Sunday},
                                                  new {value = 1, text = RapidVet.Resources.Recesses.Monday},
                                                  new {value = 2, text = RapidVet.Resources.Recesses.Tuesday},
                                                  new {value = 3, text = RapidVet.Resources.Recesses.Wednesday},
                                                  new {value = 4, text = RapidVet.Resources.Recesses.Thursday},
                                                  new {value = 5, text = RapidVet.Resources.Recesses.Friday},
                                                  new {value = 6, text = RapidVet.Resources.Recesses.Saturday},
                                              },
                                          "value",
                                          "text",
                                          Model.DayId
                                          )
                     )
                <span class="help-inline"></span>
            </label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.Recesses.Start:</label>
        </div>
        <div class="span10">
            <label>
                @Html.TextBox("Start", Model.Start.ToShortTimeString(), new { @type = "time", @class="input-small" })
                <span class="help-inline"></span>
            </label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.Recesses.End:</label>
        </div>
        <div class="span10">
            <label>
                @Html.TextBox("End", Model.End.ToShortTimeString(), new { @type = "time" })
                <span class="help-inline"></span>
            </label>
        </div>
    </div>
    <div class="save-form">
    @Muze.OkButton()
          </div>
}
