﻿@model System.Collections.Generic.List<RapidVet.Model.FullCalender.Recess>
@{
    var modalId = "recessTypeModal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        $(function() {
            $.ajax({
                url: '/MetaData/GetClinicDoctors/',
                type: 'POST',
                data: {  },
                success: function (data) {
                    $.each(data, function (i, value) {
                        if (value.Id == "@ViewBag.UserId") {
                            $('#clinicUsersId').append($('<option>').text(value.Name).attr('value', value.Id).attr('selected', true));
                        } else {
                            $('#clinicUsersId').append($('<option>').text(value.Name).attr('value', value.Id));
                        }
                    });
                    @CurrentUser.Id
                }
            });

            $('#clinicUsersId').on('change', function() {
                window.location.href = '/Recesses/Index/' + $('#clinicUsersId').val();
            });
        });
    </script>    
}


<h2>@RapidVet.Resources.Recesses.Title</h2>
<br/>

<div class="form-inline well">
    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.User.Username</label>
        </div>
        <div class="span2">
            <label>
                <select id="clinicUsersId">
                    
                </select>
            </label>
        </div>
    </div>
</div>

<br />
<a class="btn btn-primary" href="@Url.Action("Edit", new { userId = ViewBag.UserId})" style="margin-top: -11px"><i class="icon-plus"></i>@RapidVet.Resources.Recesses.CreateNew</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Recesses.Day
            </th>
            <th>@RapidVet.Resources.Recesses.Start
            </th>
            <th>@RapidVet.Resources.Recesses.End
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var recess in Model)
            {
            <tr>
                <td>
                    @switch (recess.DayId)
                    {
                        case 0:
                        <span>@RapidVet.Resources.Recesses.Sunday</span>
                            break;
                        case 1:
                        <span>@RapidVet.Resources.Recesses.Monday</span>
                            break;
                        case 2:
                        <span>@RapidVet.Resources.Recesses.Tuesday</span>
                            break;
                        case 3:
                        <span>@RapidVet.Resources.Recesses.Wednesday</span>
                            break;
                        case 4:
                        <span>@RapidVet.Resources.Recesses.Thursday</span>
                            break;
                        case 5:
                        <span>@RapidVet.Resources.Recesses.Friday</span>
                            break;
                        case 6:
                        <span>@RapidVet.Resources.Recesses.Saturday</span>
                            break;
                    }
                </td>

                <td>@recess.Start.ToShortTimeString()</td>
                <td>@recess.End.ToShortTimeString()</td>

                <td>
                    <a href="@Url.Action("Edit", "Recesses", new { id = recess.Id, userId = ViewBag.UserId })" title="@RapidVet.Resources.Global.Edit"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                    |   
                            <a onclick=" GetModal('@Url.Action("Remove", new { id = recess.Id })', '@modalId'); ">
                                <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>

</table>
<div id="recessTypeModal" class="modal hide fade">
</div>
