﻿@*<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                                                                             class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="#">Rapid Vet</a>
            @Html.Partial("~/Views/Account/_LogOnPartial.cshtml")
            <div class="nav-collapse">
                <ul class="nav">
                    <li>@Html.PriceShiftActionLink(RapidVet.Resources.Navigation.ClinicGroups, "Index", "ClinicGroups")</li>
                    <li>@Html.PriceShiftActionLink(RapidVet.Resources.Navigation.AdminUsers, "Index", "Users")</li>
                </ul>
            </div>
            
        </div>
    </div>
</div>*@
@*<div class="alert alert-info">
    אתה מבצע פעולות כקבוצת מרפאות גל
    -  <a href="#">שינוי</a>
</div>*@