﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "index";
    var currentPage = (currentController + "-" + currentAction).ToLower();
    currentAction = currentAction.ToLower();

}

@section breadcrumb
{
    <li>
        <a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.AdminNavigation.SupporterTools</li>
}

<div class="row">
    <div class="span2">
        <div class="tabbable">
            <ul class="nav nav-list affix">
                <li class="@(currentPage == "admin-generalmessage" ? "active open" : "")">
                    <a href="@Url.Action("GeneralMessage", "Admin")">
                        @RapidVet.Resources.AdminNavigation.DefineGeneralMessage
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-moverecieptstoanotherissuer" ? "active open" : "")">
                    <a href="@Url.Action("MoveRecieptsToAnotherIssuer", "Admin")">
                        @RapidVet.Resources.AdminNavigation.MoveRecieptsToAnotherIssuer
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-exportclinic" ? "active open" : "")">
                    <a href="@Url.Action("ExportClinic", "Admin")">
                        @RapidVet.Resources.AdminNavigation.ExportClinic
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-unitepreventiveitems" ? "active open" : "")">
                    <a href="@Url.Action("UnitePreventiveItems", "Admin")">
                        @RapidVet.Resources.AdminNavigation.UnitePreventiveItems
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-recalculatebalance" ? "active open" : "")">
                    <a href="@Url.Action("RecalculateBalance", "Admin")">
                        @RapidVet.Resources.AdminNavigation.RecalculateBalance
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-recalculatepatientnames" ? "active open" : "")">
                    <a href="@Url.Action("RecalculatePatientNames", "Admin")">
                        @RapidVet.Resources.AdminNavigation.RecalculatePatientNames
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-storageusagereport" ? "active open" : "")">
                    <a href="@Url.Action("StorageUsageReport", "Admin")">
                        @RapidVet.Resources.AdminNavigation.StorageUsageReport
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "admin-emailsusagereport" ? "active open" : "")">
                    <a href="@Url.Action("EmailsUsageReport", "Admin")">
                        @RapidVet.Resources.AdminNavigation.EmailsUsageReport
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                @*   <li class="@(currentPage == "clinics-index" ? "active open" : "")">
                            <a  href="@Url.Action("Index", "Clinics")">
                                @RapidVet.Resources.ClinicGroupNavigation.GroupClinics
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "animalkinds-index" ? "active open" : "")">
                            <a href="@Url.Action("Index", "AnimalKinds")">
                                @RapidVet.Resources.ClinicGroupNavigation.Animals
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "clientstatuses-index" ? "active open" : "")">
                            <a  href="@Url.Action("Index", "ClientStatuses")">
                                @RapidVet.Resources.ClinicGroupNavigation.ClientStatus
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "animalcolors-index" ? "active open" : "")">
                            <a  href="@Url.Action("Index", "AnimalColors")">
                                @RapidVet.Resources.ClinicGroupNavigation.Colors
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage.StartsWith("medication") ? "active open" : "")">
                            <a  href="@Url.Action("Index", "Medication")">
                                @RapidVet.Resources.ClinicGroupNavigation.Medications
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li style="color:white;">@RapidVet.Resources.ClinicGroupNavigation.Templates
                            <ul class="nav nav-list affix">
                                <li class="@(currentPage == "clinicgroups-editcalendartemplates" ? "active open" : "")">
                                    <a href="@Url.Action("EditCalendarTemplates", "ClinicGroups")">
                                        @RapidVet.Resources.ClinicGroupNavigation.EditCalendarTemplates
                                    <i class="icon-chevron-left icon-white"></i>
                                    </a>
                                </li>
                                <li class="@(currentPage == "clinicgroups-editpreventivereminderstemplates" ? "active open" : "")">
                                    <a href="@Url.Action("EditPreventiveRemindersTemplates", "ClinicGroups")">
                                        @RapidVet.Resources.ClinicGroupNavigation.EditPreventiveRemindersTemplates
                                        <i class="icon-chevron-left icon-white"></i>
                                    </a>
                                </li>
                                <li class="@(currentPage == "clinicgroups-editbirthdaytemplates" ? "active open" : "")">
                                    <a href="@Url.Action("EditBirthdayTemplates", "ClinicGroups")">
                                        @RapidVet.Resources.ClinicGroupNavigation.EditBirthdayTemplates
                                        <i class="icon-chevron-left icon-white"></i>
                                    </a>
                                </li>
                                <li class="@(currentPage == "clinicgroups-editvisitreporttemplates" ? "active open" : "")">
                                    <a href="@Url.Action("EditVisitReportTemplates", "ClinicGroups")">
                                        @RapidVet.Resources.ClinicGroupNavigation.EditVisitReportTemplates
                                        <i class="icon-chevron-left icon-white"></i>
                                    </a>
                                </li>
                                <li class="@(currentPage == "clinicgroups-editclientsreporttemplates" ? "active open" : "")">
                                    <a href="@Url.Action("EditClientsReportTemplates", "ClinicGroups")">
                                        @RapidVet.Resources.ClinicGroupNavigation.EditClientsReportTemplates
                                        <i class="icon-chevron-left icon-white"></i>
                                    </a>
                                </li>
                                <li class="@(currentPage == "clinicgroups-editfollowupstemplates" ? "active open" : "")">
                                    <a href="@Url.Action("EditFollowUpsTemplates", "ClinicGroups")">
                                        @RapidVet.Resources.ClinicGroupNavigation.EditFollowUpsTemplates
                                        <i class="icon-chevron-left icon-white"></i>
                                    </a>
                                </li>
                        </ul>
                    </li>*@
            </ul>
        </div>
    </div>
    <div class="span9 well">
        @RenderBody()
    </div>
</div>
@section scripts
{
    @RenderSection("scripts", false)
}