﻿@if (!string.IsNullOrWhiteSpace(Alert))
{
    switch (AlertType)
    {
        case RapidVet.Helpers.AlertType.Information:
    <div class="alert alert-info">
        @Html.Raw(Alert)
    </div>
            break;
        case RapidVet.Helpers.AlertType.Error:
    <div class="alert alert-error">
        @Html.Raw(Alert)
    </div>
            break;
        case RapidVet.Helpers.AlertType.Success:
    <div class="alert alert-success">
        @Html.Raw(Alert)
    </div>
            break;
        case RapidVet.Helpers.AlertType.Normal:
    <div class="alert">
        @Html.Raw(Alert)
    </div>
            break;

    }

}