﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "index";
    var currentPage = (currentController + "-" + currentAction).ToLower();
    currentAction = currentAction.ToLower();
  
}

@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinicGroup.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">יומן</li>
}

<link rel='stylesheet' type='text/css' href='@Url.Content("/Scripts/fullcalendar/fullcalendar.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' />
<link rel='stylesheet' type='text/css' href='@Url.Content("/Content/css/jquery.contextmenu.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' />
<link rel='stylesheet' type='text/css' href='@Url.Content("/Content/css/jquery.qtip.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' />

<br/>
<div class="row-fluid">
    <div class="span3" style="text-align:center;">
        <div id="datepicker" style="width:250px;margin-left:auto;margin-right:auto;">
        </div>
        <br/>
        @RenderSection("calenderMenu", false)
    </div>
    <div class="span9" style="right: 1vw; position: relative;width: 71vw;">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="@(currentAction == "weekly" ? "active open" : "")" ><a href="@Url.Action("Weekly","Calender")">תצוגה שבועית</a></li>
                <li class="@(currentAction == "docsdaily" ? "active open" : "")" ><a href="@Url.Action("DocsDaily","Calender")">תצוגה יומית רופאים</a></li>
                <li class="@(currentAction == "roomsdaily" ? "active open" : "")" ><a href="@Url.Action("RoomsDaily","Calender")">תצוגה יומית חדרים</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
</div>



@section scripts
{
    <script type='text/javascript' src="../../Scripts/fullcalendar/lib/moment.min.js"></script>
    <script type='text/javascript' src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/Scripts/Vendor/jquery.contextmenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/qtip/jquery.qtip.min.js")"></script>


    @RenderSection("scripts", false)
}