﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentController = (ViewContext.RouteData.Values["controller"] as string ?? "Home").ToLower();
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "index";
    var currentPage = (currentController + "-" + currentAction).ToLower();
    currentAction = currentAction.ToLower();
  
}

@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinicGroup.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.BreadCrums.ClinicEdit</li>
}
<script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<div class="row">
    <div class="span2">
        <div class="tabbable">
            <ul class="nav nav-list affix">

                <li class="@(currentPage == "clinics-edit" ? "active open" : "")">
                    <a href="@Url.Action("Edit", "Clinics")">
                        @RapidVet.Resources.ClinicEditNavigation.ClinicDetails
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "clinics-financedetails" ? "active open" : "")">
                    <a href="@Url.Action("FinanceDetails", "Clinics")">
                        @RapidVet.Resources.ClinicEditNavigation.Finance
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                <li class="@(currentPage == "clinics-changetaxrate" ? "active open" : "")">
                    <a href="@Url.Action("ChangeTaxRate", "Clinics")">
                        @RapidVet.Resources.ClinicEditNavigation.ChangeTaxRate
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                <li class="@(currentPage == "diagnoses-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Diagnoses")">
                        @RapidVet.Resources.ClinicEditNavigation.Diagnoses
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "vaccinesandtreatments-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "VaccinesAndTreatments")">
                        @RapidVet.Resources.ClinicEditNavigation.VaccinesAndTreatments
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "labtests-templatesindex" || currentPage == "labtests-chooseanimalkindforlabtest" ? "active open" : "")">
                    <a href="@Url.Action("ChooseAnimalKindForLabTest", "LabTests")">
                        @RapidVet.Resources.ClinicEditNavigation.LabTests
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="@(currentController == "tariffs" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Tariffs")">סוגי מחירונים
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentController == "pricelistitems" ? "active open" : "")">
                    <a href="@Url.Action("Categories", "PriceListItems")">
                        @RapidVet.Resources.ClinicEditNavigation.PriceList
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                <li class="@(currentPage == "issuers-index" || currentPage == "creditcardcodes-index" || currentPage == "clinics-changeadvancedpaymentpercent" || currentPage == "issuers-easycardsettings" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Issuers")">
                        @RapidVet.Resources.ClinicEditNavigation.Issurers
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                @*<li class="@(currentPage == "issuercredittypes-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "IssuerCreditTypes", new { id = 1 })">סוגי עסקאות אשראי
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>*@
                <li class="divider"></li>
                <li class="@(currentPage == "quotations-preface" ? "active open" : "")">
                    <a href="@Url.Action("Preface", "Quotations")">הצעת מחיר-הערות קבועות
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentController == "lettertemplates" ? "active open" : "")">
                    <a href="@Url.Action("Index", "LetterTemplates")">תבניות מסמכים
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                <li class="@(currentPage == "clinics-patienthistorysetting" ? "active open" : "")">
                    <a href="@Url.Action("PatientHistorySetting", "Clinics")">תיק חיה
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="divider"></li>

                <li class="@(currentPage == "holidays-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Holidays")">חגים ומועדים
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                <li class="@(currentPage == "rooms-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Rooms")">חדרי מרפאה
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="@(currentController == "expensegroups" ? "active open" : "")">
                    <a href="@Url.Action("Index", "ExpenseGroups")">קבוצות הוצאות
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentController == "suppliers" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Suppliers")">ספקים
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>

                <li class="divider"></li>
                <li class="@(currentController == "followups" ? "active open" : "")">
                    <a href="@Url.Action("Settings", "FollowUps")">הגדרות מעקבים
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="@(currentController == "inventory" ? "active open" : "")">
                    <a href="@Url.Action("Settings", "Inventory")">קטגוריות לניהול מלאי
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentController == "telephonedirectory" ? "active open" : "")">
                    <a href="@Url.Action("DirectoryTypes", "TelephoneDirectory")">
                        סוגי טלפונים
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="well" style="width: 75vw;position: absolute; right: 195px; margin-left: 5px;">
        @RenderBody()
    </div>
</div>
@section scripts
{
    @RenderSection("scripts", false)
    
}