﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "index";
    var currentPage = (currentController + "-" + currentAction).ToLower();
    currentAction = currentAction.ToLower();
  
}

@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinicGroup.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.BreadCrums.ClinicGroupEdit</li>
}

<div class="row">
    <div class="span2">
        <div class="tabbable">
            <ul class="nav nav-list affix">
                <li class="@(currentPage == "clinicgroups-edit" ? "active open" : "")">
                    <a  href="@Url.Action("Edit", "ClinicGroups")">
                        @RapidVet.Resources.ClinicGroupNavigation.ClinicGroup
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "users-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "Users")">
                        @RapidVet.Resources.ClinicEditNavigation.Users
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "users-online" ? "active open" : "")">
                    <a href="@Url.Action("Online", "Users")">@RapidVet.Resources.ClinicGroupNavigation.OnlineUsers
                         <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "clinics-index" ? "active open" : "")">
                    <a  href="@Url.Action("Index", "Clinics")">
                        @RapidVet.Resources.ClinicGroupNavigation.GroupClinics
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "animalkinds-index" ? "active open" : "")">
                    <a href="@Url.Action("Index", "AnimalKinds")">
                        @RapidVet.Resources.ClinicGroupNavigation.Animals
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "clientstatuses-index" ? "active open" : "")">
                    <a  href="@Url.Action("Index", "ClientStatuses")">
                        @RapidVet.Resources.ClinicGroupNavigation.ClientStatus
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage == "animalcolors-index" ? "active open" : "")">
                    <a  href="@Url.Action("Index", "AnimalColors")">
                        @RapidVet.Resources.ClinicGroupNavigation.Colors
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li class="@(currentPage.StartsWith("medication") ? "active open" : "")">
                    <a  href="@Url.Action("Index", "Medication")">
                        @RapidVet.Resources.ClinicGroupNavigation.Medications
                        <i class="icon-chevron-left icon-white"></i>
                    </a>
                </li>
                <li style="color:white;">@RapidVet.Resources.ClinicGroupNavigation.Templates
                    <ul class="nav nav-list affix">
                        <li class="@(currentPage == "clinicgroups-editcalendartemplates" ? "active open" : "")">
                            <a href="@Url.Action("EditCalendarTemplates", "ClinicGroups")">
                                @RapidVet.Resources.ClinicGroupNavigation.EditCalendarTemplates
                            <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "clinicgroups-editpreventivereminderstemplates" ? "active open" : "")">
                            <a href="@Url.Action("EditPreventiveRemindersTemplates", "ClinicGroups")">
                                @RapidVet.Resources.ClinicGroupNavigation.EditPreventiveRemindersTemplates
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "clinicgroups-editbirthdaytemplates" ? "active open" : "")">
                            <a href="@Url.Action("EditBirthdayTemplates", "ClinicGroups")">
                                @RapidVet.Resources.ClinicGroupNavigation.EditBirthdayTemplates
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "clinicgroups-editvisitreporttemplates" ? "active open" : "")">
                            <a href="@Url.Action("EditVisitReportTemplates", "ClinicGroups")">
                                @RapidVet.Resources.ClinicGroupNavigation.EditVisitReportTemplates
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "clinicgroups-editclientsreporttemplates" ? "active open" : "")">
                            <a href="@Url.Action("EditClientsReportTemplates", "ClinicGroups")">
                                @RapidVet.Resources.ClinicGroupNavigation.EditClientsReportTemplates
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                        <li class="@(currentPage == "clinicgroups-editfollowupstemplates" ? "active open" : "")">
                            <a href="@Url.Action("EditFollowUpsTemplates", "ClinicGroups")">
                                @RapidVet.Resources.ClinicGroupNavigation.EditFollowUpsTemplates
                                <i class="icon-chevron-left icon-white"></i>
                            </a>
                        </li>
                </ul>
            </li>
            </ul>
        </div>
    </div>
    <div class="well" style="width: 75vw;position: absolute; right: 195px; margin-left: 5px;">
        @RenderBody()
    </div>
</div>
@section scripts
{
    @RenderSection("scripts", false)
}