﻿@using RapidVet.RapidConsts.Controllers
@{
    var usersnapCurrentUserId = CurrentUser != null ? CurrentUser.Id : 0;
    var usersnapCurrentUserClinicId = CurrentUser != null ? CurrentUser.ActiveClinicId : 0;
}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Rapid Vet</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    @*    <link rel="stylesheet" href="@Url.Content("~/Scripts/Vendor/timepicker/jquery.timepicker.css")"/>*@
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Uniform/css/uniform.default.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/RapidCssBundle.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/side-nav.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">

    <style>
        #warning-message {
            display: none;
        }

        @@media only screen and (orientation:portrait) {
            #MainContainer {
                display: none;
            }

            #warning-message {
                display: block;
            }
        }

        @@media only screen and (orientation:landscape) {
            #warning-message {
                display: none;
            }
        }

        body {
            padding-top: 190px;
            padding-bottom: 40px;
        }

        #PreventiveMedicineEmailTemplate, #PreventiveMedicineEmailMultiAnimalsTemplate,
        #BirthdayEmailTemplate, #TreatmentEmailTemplate, #ClientsEmailTemplate,
        #FollowUpsEmailTemplate, #PreventiveMedicineLetterTemplate,
        #PreventiveMedicineLetterMultiAnimalsTemplate, #PreventiveMedicinePostCardTemplate,
        #BirthdayLetterTemplate, #CalenderEntryEmailTemplate, #PreventiveMedicinePostCardMultiAnimalsTemplate {
            width: 455px;
            height: 270px;
        }

        #PreventiveMedicineSmsTemplate, #PreventiveMedicineSmsMultiAnimalsTemplate, #CalenderEntrySmsTemplate,
        #BirthdaySmsTemplate, #TreatmentSmsTemplate, #ClientsSmsTemplate, #FollowUpsSmsTemplate {
            width: 455px;
            height: 60px;
        }

        .validationMessage {
            color: red;
        }

        #PreventiveMedicineStikerTemplate, #BirthdayStickerTemplate, #TreatmentStikerTemplate,
        #ClientsStikerTemplate {
            width: 455px;
            height: 90px;
        }

        #CalenderEntryEmailSubject, #PreventiveMedicineEmailSubject, #PreventiveMedicineEmailMultiAnimalsSubject,
        #BirthdayEmailSubject, #TreatmentEmailSubject, #ClientsEmailSubject, #FollowUpsEmailSubject {
            width: 455px;
        }

        .not_executed {
        }


        .executed {
            color: blue;
            pointer-events: none;
        }
    </style>

    @*  style="min-width:1345px"  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>*@
    <script src="@Url.Content("~/Scripts/CDN/jquery-1.8.3.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-1.2.1.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
    <script src="@Url.Content("~/signalr/hubs?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
</head>
<body dir="rtl">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
        improve your experience.</p>
    <![endif]-->



    <div class="mega-nav navbar-fixed-top">
        @Html.Partial("_Navigation")
        <ul class="breadcrumb">
            @RenderSection("breadcrumb", false)
        </ul>

        <div class="dateandtime">

            <span id="date"></span>

            <span id="weekday"></span>

            <span id="time"></span>
        </div>
    </div>

    <div class="container" id="MainContainer">
        @RenderBody()
    </div>
    <!-- /container -->
    @Html.Partial("_Scripts")
    @RenderSection("scripts", false)

    <!--<script>-->
    <!--var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];-->
    <!--(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];-->
    <!--g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';-->
    <!--s.parentNode.insertBefore(g,s)}(document,'script'));-->
    <!--</script>-->
    <div id="@Global.AJAX_LOADER_ID">
        <div id="fountainG">
            <div id="fountainG_1" class="fountainG">
            </div>
            <div id="fountainG_2" class="fountainG">
            </div>
            <div id="fountainG_3" class="fountainG">
            </div>
            <div id="fountainG_4" class="fountainG">
            </div>
            <div id="fountainG_5" class="fountainG">
            </div>
            <div id="fountainG_6" class="fountainG">
            </div>
            <div id="fountainG_7" class="fountainG">
            </div>
            <div id="fountainG_8" class="fountainG">
            </div>
        </div>
    </div>
    <div id="warning-message" align="center">
        <img src="/Content/img/RapidVet/rotatescreen.png">
    </div>
    <input type="hidden" name="no_results" id="no_results" value="@RapidVet.Resources.Global.SearchNoResults" />
    <input type="hidden" name="usersnapCurrentUserId" id="usersnapCurrentUserId" value="@usersnapCurrentUserId" />
    <input type="hidden" name="usersnapCurrentUserClinicId" id="usersnapCurrentUserClinicId" value="@usersnapCurrentUserClinicId" />

    <script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/fkjf56px'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()</script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/App/UserSnap.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
    <script type="text/javascript">
        var width = $(window).width();
        if (width > 1025) {
            var _usersnapconfig = {
                consoleRecorder: true,
                loadHandler: function () {
                    UserSnap.on("beforeSend", function (obj) {
                        obj.addInfo = {
                            ClinicId: document.getElementById('usersnapCurrentUserClinicId').value,
                            UserId: document.getElementById('usersnapCurrentUserId').value
                        };
                    });
                }
            }
        };
    </script>
   
    <div id="commentModal" style="width: 600px" class="modal hide fade in" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2>הערות לחיה</h2>
        </div>
        <div class="modal-body">

            <ul id="commentsContent"></ul>

        </div>
        <div class="modal-footer">
            <a data-dismiss="modal" class="btn btn-primary">סגירה</a>
        </div>
    </div>
</body>
</html>
