﻿<div class="alert alert-error" style=" width: 100%;">
    <div id="floatingCirclesG" style="float: right; margin-right: 200px; margin-left: 0px">
        <div class="f_circleG" id="frotateG_01">
        </div>
        <div class="f_circleG" id="frotateG_02">
        </div>
        <div class="f_circleG" id="frotateG_03">
        </div>
        <div class="f_circleG" id="frotateG_04">
        </div>
        <div class="f_circleG" id="frotateG_05">
        </div>
        <div class="f_circleG" id="frotateG_06">
        </div>
        <div class="f_circleG" id="frotateG_07">
        </div>
        <div class="f_circleG" id="frotateG_08">
        </div>
    </div>
    <h1 style="text-align: center; width: 680px;">תהליך ההמרה מתבצע
    </h1>
</div>