﻿@using RapidVet.Repository
@using RapidVetMembership
@{
    var x = CurrentUser;
    IQueryable<RapidVet.Model.Clients.LastClient> _lastClients = ViewBag.LastClients;
}
<style type="text/css">
    .disabled {
        color: gray;
        text-align: right;
        padding-right: 10px;
    }
</style>

<div class="navbar  top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img src="@Url.Content("~/Content/img/RapidVet/logo.png?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
            </a>

            <div>
                <ul class="nav account-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-users sprite-icon"></i>@(CurrentUser != null ? CurrentUser.Name : "")<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a class="topMenue" href="@Url.Action("Index", "AttendanceLog")">@RapidVet.Resources.Navigation.TimeClock</a></li>
                            <li><a class="topMenue" href="@Url.Action("EditProfile", "Users")">@RapidVet.Resources.Navigation.Settings</a></li>
                            @if (CurrentUser != null ? CurrentUser.IsClinicGroupManager : false)
                            {
                                <li><a class="topMenue" href="@Url.Action("Index", "DailySchedule")">@RapidVet.Resources.Navigation.WeeklySchedule</a></li>
                                <li><a class="topMenue" href="@Url.Action("Index", "Recesses")">@RapidVet.Resources.Navigation.Recesses</a></li>
                            }
                            @if (CurrentUser != null && CurrentUser.IsAdministrator)
                            {
                                <li><a class="topMenue" href="@Url.Action("GeneralMessage", "Admin")">@RapidVet.Resources.AdminNavigation.SupporterTools</a></li>
                            }
                            <li><a class="topMenue" href="@Url.Action("LogOff", "Account")">@RapidVet.Resources.Navigation.LogOut</a></li>

                        </ul>
                    </li>

                    @if (CurrentUser != null ? CurrentUser.IsAdministrator : false)
                    {
                        //Add a list of clinic groups to the sys administrator
                        <li class="dropdown" style="max-width: 136px;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="sprite-users sprite-icon"></i><span class="ddSpanEllipsisBreak">@CurrentUser.ActiveClinicGroup.Name</span><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <div class="scrollGroup">
                                    @using (var clinicGroupRepo = new RapidVet.Repository.Clinics.ClinicGroupRepository())
                                    {
                                        foreach (var clinicGroup in clinicGroupRepo.GetAllActive().OrderBy(cg => cg.Name))
                                        {
                                            <li><a class="topMenue" href="@Url.Action("ChangeActiveClinicGroup", "Account", new { id = clinicGroup.Id })">@clinicGroup.Name</a></li>
                                        }
                                    }
                                </div>
                                <li class="divider"></li>
                                <li><a class="topMenue" href="@Url.Action("Index", "ClinicGroups")">@RapidVet.Resources.AdminNavigation.ClinicGroupsManagement</a></li>
                                <li><a class="topMenue" href="@Url.Action("Index", "Cities")">@RapidVet.Resources.AdminNavigation.CitiesManagement</a></li>
                                @*<li><a class="topMenue" href="@Url.Action("Index", "DataMigration")">@RapidVet.Resources.AdminNavigation.DataMigration</a></li>
                                    <li><a class="topMenue" href="@Url.Action("Index", "ArchiveMigration")">@RapidVet.Resources.AdminNavigation.ArchiveMigration</a></li>*@
                                <li><a class="topMenue" href="@Url.Action("Index", "RegionalCouncils")">@RapidVet.Resources.AdminNavigation.RegionalCouncilsManagement</a></li>
                            </ul>
                        </li>

                    }
                    @{
                        var memberInClinics = CurrentUser != null ? CurrentUser.UsersClinicsRoleses.Where(c => c.ClinicId != CurrentUser.ActiveClinicId).Count() : 0;
                        if (memberInClinics > 0 || (CurrentUser != null ? CurrentUser.IsClinicGroupManager : false))
                        {

                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="sprite-clinics sprite-icon"></i>
                                    @if (CurrentUser.ActiveClinic != null)
                                    {
                                        <span class="ddSpanEllipsisBreak">@CurrentUser.ActiveClinic.Name</span>
                                    }
                                    else
                                    {
                                        <span>--------</span>
                                    }
                                    <b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu" id="memberInClinics" style="height: 200px; overflow: auto">

                                    @if (CurrentUser.IsClinicGroupManager)
                                    {
                                        using (var clinicRepo = new RapidVet.Repository.Clinics.ClinicRepository())
                                        {
                                            foreach (var clinic in clinicRepo.GetAllActiveClinicsInGroup(CurrentUser.ActiveClinicGroupId))
                                            {
                                                if (clinic.Id != CurrentUser.ActiveClinicId)
                                                {
                                                    <li><a class="topMenue" href="@Url.Action("ChangeActiveClinic", "Account", new { id = clinic.Id })">@clinic.Name</a></li>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        var lastClinicId = 0;

                                        foreach (var clinicRole in CurrentUser.UsersClinicsRoleses.Where(c => c.Clinic.Active && c.ClinicId != CurrentUser.ActiveClinicId).OrderBy(c => c.ClinicId))
                                        {
                                            if (clinicRole.ClinicId > lastClinicId)
                                            {
                                                using (var clinicRepo = new RapidVet.Repository.Clinics.ClinicRepository())
                                                {
                                                    lastClinicId = clinicRole.ClinicId;
                                                    var clinic = clinicRepo.GetClinic(clinicRole.ClinicId);
                                                   
                                                    if (clinic.Active)
                                                    {
                                                        <li><a class="topMenue" href="@Url.Action("ChangeActiveClinic", "Account", new { id = clinic.Id })">@clinic.Name</a></li>
                                                    }
                                                }
                                            }
                                        }


                                    }

                                    @if (CurrentUser.IsClinicManager)
                                    {
                                        <li class="divider"></li>
                                        if (CurrentUser.ActiveClinic != null)
                                        {
                                            <li><a class="topMenue" href="@Url.Action("Edit", "Clinics")">@RapidVet.Resources.Navigation.ClinicSettings</a></li>
                                        }
                                        if (CurrentUser.IsClinicGroupManager)
                                        {
                                            <li><a class="topMenue" href="@Url.Action("Edit", "ClinicGroups")">@RapidVet.Resources.Navigation.ClinicGroupSettings</a></li>
                                        }
                                    }
                                </ul>

                            </li>
                        }
                    }

                </ul>
                <ul class="nav tools-nav" style="height: 41px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-clients sprite-icon"></i>@RapidVet.Resources.Navigation.Office<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">@RapidVet.Resources.Navigation.Clients</li>
                            <li><a class="topMenue" href="@Url.Action("Create", "Clients")">@RapidVet.Resources.Navigation.NewClient</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "InactiveClients")">@RapidVet.Resources.Navigation.InactiveClients</a></li>
                            <li><a class="topMenue" href="@Url.Action("AdvancedSearch", "Clients")">@RapidVet.Resources.Navigation.AdvancedSearch</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.Summeries</li>
                            <li><a class="topMenue" href="@Url.Action("Index", "MedicalProcedures")">@RapidVet.Resources.Navigation.OperationSummery</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "DischargePapers")">@RapidVet.Resources.Navigation.ReleaseLeatter</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.RemindersAndFollow</li>
                            <li><a class="topMenue" href="@Url.Action("Index", "Calender")">@RapidVet.Resources.Navigation.Calender</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "PreventiveMedicineReminders")">@RapidVet.Resources.Navigation.VacinationReminder</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "FollowUps")">@RapidVet.Resources.Navigation.Follow</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "Referrals")" class="disabled">@RapidVet.Resources.Navigation.Refferance</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-icon sprite-accounts"></i>@RapidVet.Resources.Navigation.Accounting<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="topMenue" href="@Url.Action("Index", "DoctorLog")">@RapidVet.Resources.Navigation.DoctorLog</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.Documents</li>
                            <li><a class="topMenue" href="@Url.Action("InvoiceReceipt", "FinanceDocument")">@RapidVet.Resources.Navigation.InvoiceReceipt</a></li>
                            <li><a class="topMenue" href="@Url.Action("Invoice", "FinanceDocument")">@RapidVet.Resources.Navigation.Invoice</a></li>
                            <li><a class="topMenue" href="@Url.Action("Receipt", "FinanceDocument")">@RapidVet.Resources.Navigation.Receipt</a></li>
                            <li><a class="topMenue" href="@Url.Action("Proforma", "FinanceDocument")">@RapidVet.Resources.Navigation.Deal</a></li>
                            <li><a class="topMenue" href="@Url.Action("Refound", "FinanceDocument")">@RapidVet.Resources.Navigation.RefoundInvoice</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.ReceiptToInvoice</li>
                            <li><a class="topMenue" href="@Url.Action("Index", "ReciptToInvoice")">@RapidVet.Resources.Navigation.MonthlyTransfer</a></li>
                            <li><a class="topMenue" href="@Url.Action("Special", "ReciptToInvoice")">@RapidVet.Resources.Navigation.InitiatedTransfer</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.Tools</li>
                            <li><a class="topMenue" href="@Url.Action("Index", "FinanceDocumentCollectivePrinting")" class="disabled">@RapidVet.Resources.Navigation.Copies</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "FinanceDocumentDetection")">@RapidVet.Resources.Navigation.DocumentsLocation</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "Expenses")">@RapidVet.Resources.Navigation.Expenses</a></li>

                            <li><a class="topMenue" href="@Url.Action("Index", "FinanceDeposits")" class="disabled">@RapidVet.Resources.Navigation.Checkout</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "FinanceDocumentDivision")" class="disabled">@RapidVet.Resources.Navigation.IncomeDistribution</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.Search</li>

                            <li><a class="topMenue" href="@Url.Action("Index", "OpenFormat")">@RapidVet.Resources.Navigation.OpenFormat</a></li>
                            @if (CurrentUser != null && CurrentUser.ActiveClinicGroup.HSModule)
                            {
                                <li><a class="topMenue" href="@Url.Action("Index", "HS")">@RapidVet.Resources.Navigation.Hs</a></li>
                            }
                            else
                            {
                                <li class="disabled">@RapidVet.Resources.Navigation.Hs</li>
                            }

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-financereports sprite-icon"></i>@RapidVet.Resources.Navigation.AccountingReports<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="nav-header">@RapidVet.Resources.Navigation.FinancialStatements</li>
                            <li><a class="topMenue" href="@Url.Action("Income", "FinanceReports")">@RapidVet.Resources.Navigation.Income</a></li>
                            <li><a class="topMenue" href="@Url.Action("ClientsInDebt", "FinanceReports")">@RapidVet.Resources.Navigation.Debts</a></li>
                            <li><a class="topMenue" href="@Url.Action("PaymentMethodsSegmentation", "FinanceReports")">@RapidVet.Resources.Navigation.PaymentMethodsDistribution</a></li>
                            <li><a class="topMenue" href="@Url.Action("ChequesReport", "FinanceReports")">@RapidVet.Resources.Navigation.Checqes</a></li>
                            <li><a class="topMenue" href="@Url.Action("InvoiceReport", "FinanceReports")">@RapidVet.Resources.Navigation.InvoiceReport</a></li>
                            <li><a class="topMenue" href="@Url.Action("ReciptReport", "FinanceReports")">@RapidVet.Resources.Navigation.ReciptReport</a></li>
                            <li><a class="topMenue" href="@Url.Action("ExpensesDistribution", "FinanceReports")">@RapidVet.Resources.Navigation.ExpensesDistribution</a></li>
                            <li><a class="topMenue" href="@Url.Action("CashFlow", "FinanceReports")">@RapidVet.Resources.Navigation.CashFlow</a></li>
                            <li><a class="topMenue" href="@Url.Action("YearlyCashFlow", "FinanceReports")">@RapidVet.Resources.Navigation.AnualCashFlow</a></li>
                            <li class="nav-header">אחר</li>
                            <li><a class="topMenue" href="@Url.Action("SalesReport", "FinanceReports")">@RapidVet.Resources.Navigation.SalesReport</a></li>
                            <li><a class="topMenue" href="@Url.Action("PeriodTaxCalculation", "FinanceReports")">@RapidVet.Resources.Navigation.PeriodicCalculation</a></li>
                            <li><a class="topMenue" href="@Url.Action("AnnualBalance", "FinanceReports")">@RapidVet.Resources.Navigation.AnnualBalance</a></li>
                            <li><a class="topMenue" href="@Url.Action("Report", "FinanceDocumentDivision")">@RapidVet.Resources.Navigation.IncomeDistributionReport</a></li>
                            <li><a class="topMenue" href="@Url.Action("ExpensesReports", "Expenses")">@RapidVet.Resources.Navigation.ExpensesReports</a></li>
                            @*<li><a class="topMenue" href="@Url.Action("IncomingsReport", "DoctorLog")">@RapidVet.Resources.Navigation.IncomingsReport</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-reports sprite-icon"></i>@RapidVet.Resources.Navigation.Reports<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">@RapidVet.Resources.Navigation.Vaccines</li>
                            <li><a class="topMenue" href="@Url.Action("Index", "Rabies")" class="disabled">@RapidVet.Resources.Navigation.RabiesVaccines</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "PreformedPreventive")">@RapidVet.Resources.Navigation.VaccinesMade</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.Meetings</li>
                            <li><a class="topMenue" href="@Url.Action("EntriesReports", "CalenderReports")">@RapidVet.Resources.Navigation.SummaryOfMeetings</a></li>
                            <li><a class="topMenue" href="@Url.Action("NoShowsReports", "CalenderReports")">@RapidVet.Resources.Navigation.NoShows</a></li>
                            @*<li><a href="#" class="disabled">@RapidVet.Resources.Navigation.MeetingsByEmployees</a></li>*@
                            <li class="nav-header">@RapidVet.Resources.Navigation.Statistics</li>
                            <li><a class="topMenue" href="@Url.Action("Index", "ClientsReports")">@RapidVet.Resources.Navigation.Customers</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "TreatmentReports")">@RapidVet.Resources.Navigation.Visits</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "TreatmentsDistributionReport")">@RapidVet.Resources.Navigation.DistributionOfTreatments</a></li>
                            <li><a class="topMenue" href="@Url.Action("DangerousDrugsReport", "Statistics")" class="disabled">@RapidVet.Resources.Navigation.DangerousDrugs</a></li>
                            <li class="nav-header">@RapidVet.Resources.Navigation.Marketing</li>

                            <li><a class="topMenue" href="@Url.Action("Index", "Birthdays")" class="disabled">@RapidVet.Resources.Navigation.Birthdays</a></li>


                            <li class="nav-header">@RapidVet.Resources.Navigation.Attendance</li>
                            <li><a class="topMenue" href="@Url.Action("LogReport", "AttendanceLog")" class="disabled">@RapidVet.Resources.Navigation.AttendanceReport</a></li>
                            <li><a class="topMenue" href="@Url.Action("WeeklyLogReport", "AttendanceLog")" class="disabled">@RapidVet.Resources.Navigation.WeeklyAttendanceReport</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-tools sprite-icon"></i>@RapidVet.Resources.Navigation.Tools <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @if (CurrentUser != null && CurrentUser.IsClinicManager)
                            {
                                <li><a class="topMenue" href="@Url.Action("Index", "Auditings")">@RapidVet.Resources.Navigation.Auditings </a></li>
                            }
                            <li><a class="topMenue" href="@Url.Action("Index", "BackgroundJobs")">@RapidVet.Resources.BackgroundJobs.Title </a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "TelephoneDirectory")">@RapidVet.Resources.Navigation.Phones </a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "ClinicTasks")" class="disabled">@RapidVet.Resources.Navigation.Tasks</a></li>
                            <li><a class="topMenue" href="http://www.rapid-image.com/" target="_blank">@RapidVet.Resources.Navigation.RapidSite</a></li>
                            <li><a class="topMenue" href="@Url.Action("Index", "MinistryOfAgriculture")" class="disabled">@RapidVet.Resources.Navigation.MoagReport</a></li>
                            <li><a class="topMenue" href="http://www.vtr.moag.gov.il/vtr/DogCenter/search.asp" target="_blank">@RapidVet.Resources.Navigation.DogDB</a></li>
                            <li><a class="topMenue" href="#" onclick="OpenClac()">@RapidVet.Resources.Navigation.Calc</a></li>
                            <li><a class="topMenue" href="@Url.Action("index", "ImportRapidFile")">@RapidVet.Resources.Navigation.ImportRapidFile</a></li>

                            @if (CurrentUser != null && CurrentUser.ActiveClinicGroup.StockModule)
                            {
                                <li><a class="topMenue" href="@Url.Action("index", "Inventory")">@RapidVet.Resources.Navigation.InventoryManagement</a></li>
                            }
                            else
                            {
                                <li class="disabled">@RapidVet.Resources.Navigation.InventoryManagement</li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="navbar  sub-nav ">
    <div class="navbar-inner">
        <div class="container">


            <div>
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="sprite-last-clients sprite-icon"></i>@RapidVet.Resources.Navigation.Last <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @if (CurrentUser != null ? !CurrentUser.IsAdministrator : false)
                            {
                                if (_lastClients != null && _lastClients.Any() && !CurrentUser.IsAdministrator)
                                {
                                    foreach (var item in _lastClients)
                                    {
                                        <li><a class="topMenue" href="@Url.Action("Patients", "Clients", new { id = item.Client.Id })">@item.Client.Name</a></li>
                                    }
                                }
                                else
                                {
                                    <li>@RapidVet.Resources.Navigation.NoClientsInList</li>
                                }
                            }
                            else
                            {
                                <li>@RapidVet.Resources.Navigation.LastClientsAdmin</li>
                            }
                        </ul>
                    </li>
                    <li><a class="topMenue" href="@Url.Action("Create", "Clients")"><i class="sprite-new-client sprite-icon"></i>חדש</a></li>
                    <li><a class="topMenue" href="@Url.Action("Index", "Calender")"><i class="sprite-calender sprite-icon"></i>יומן</a></li>
                    <li><a class="topMenue" href="@Url.Action("Index", "PreventiveMedicineReminders")"><i class="sprite-remainder sprite-icon"></i>@RapidVet.Resources.Navigation.Reminders</a></li>
                    <li style="width: 130px;"><a class="topMenue" href="@Url.Action("InvoiceReceipt", "FinanceDocument")"><i class="sprite-invoice sprite-icon"></i>@RapidVet.Resources.Navigation.InvoiceReceipt</a></li>
                </ul>


            </div>
            @if (CurrentUser != null)
            {
                <ul class="nav">
                    <li>
                        <form class="navbar-search">
                            <input id="main-search" style="margin-right:0px;" type="text" class="search-query" placeholder="@RapidVet.Resources.Global.SearchExtended" />

                            <a class="topMenue" href="@Url.Action("AdvancedSearch", "Clients")"><i class="sprite-icon sprite-search"></i></a>



                        </form>
                    </li>
                </ul>
                <ul class="nav">
                    @Muze.CostumShortCut(CurrentUser.ShortCutAId)
                    @Muze.CostumShortCut(CurrentUser.ShortCutBId)
                    @Muze.CostumShortCut(CurrentUser.ShortCutCId)
                </ul>

            }
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
