﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "index";
    currentAction = currentAction.ToLower();
    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "index";
    currentController = currentController.ToLower();
    var currentPage = string.Format("{0}-{1}", currentController, currentAction);
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section breadcrumb
{
    @*  @RenderSection("breadcrumb", false)*@
    @Html.Action("GetPatientBreadcrumbs", "Base")
}

@RenderSection("clientDetailsBar", false)
@RenderSection("patientDetailsBar", false)

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li id="currentVisit" class="@(currentController == "visit" ? "active open" : "")"><a href="@Url.Action("Index", "Visit", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.CurrentVisit</a></li>
        <li class="@(currentController == "preventive" ? "active open" : "")"><a href="@Url.Action("Index", "Preventive", new { id = patientId })">פנקס חיסונים</a></li>
        <li class="@(currentController == "history" ? "active open" : "")"><a href="@Url.Action("Index", "History", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.History</a></li>
        <li class="@(currentController == "vitalsigns" ? "active open" : "")"><a href="@Url.Action("Index", "VitalSigns", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.Vitals</a></li>
        <li class="@(currentController == "labs" ? "active open" : "")"><a href="@Url.Action("Index", "Labs", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.LabTests</a></li>
        <li class="@(currentController == "comments" ? "active open" : "")"><a href="@Url.Action("Index", "Comments", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.Comments</a></li>
        <li class="@(currentPage == "patients-edit" ? "active open" : "")"><a href="@Url.Action("Edit", "Patients", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.DetailsUpdate</a></li>
        <li class="@(currentController == "archives" ? "active open" : "")"><a href="@Url.Action("Index", "Archives", new { id = patientId })">@RapidVet.Resources.Controllers.Views.PatientIndex.Archive</a></li>
        <li class="@(currentController == "letters" ? "active open" : "")"><a href="@Url.Action("Index", "Letters", new { id = patientId })">הפקת מסמכים</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", false)
    <script>
        $(function () {    
            getCookieComments();
            getCookieAllergies();
        });     

        function getCookieAllergies() {
            var allergies = getCookie("allergies");
            if (allergies != null) {
                jaaulde.utils.cookies.del('allergies');
                var allergiesSplit = allergies.split("|");
                for (var i = 0; i < allergiesSplit.length; i++) {
                    $("#allergiesContent").append("<li>" + allergiesSplit[i] + "</li>");
                }
                $("#AllergyModal").modal();
            }
        }
    </script>
}


<div id="commentModal" style="width: 600px" class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>הערות לחיה</h2>
    </div>
    <div class="modal-body">

        <ul id="commentsContent"></ul>

    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary">סגירה</a>
    </div>
</div>

<div id="AllergyModal" style="width: 600px" class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2>רגישויות</h2>
    </div>
    <div class="modal-body">

        <ul id="allergiesContent"></ul>

    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary">סגירה</a>
    </div>
</div>
