﻿@using RapidVet.RapidConsts.Controllers
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    @*<link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap-rtl.min.css")">*@
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Rapid Vet @typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@Url.Content("~/Content/print/printLandscape.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />

    @*    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>*@
</head>
<body dir="rtl" style="color: black;">

    @RenderSection("clientDetailsBar", false)
    @RenderSection("patientDetailsBar",false)

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
                                                                                              your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
            improve your experience.</p>
    <![endif]-->


    <div class="container">
        @RenderBody()
    </div>
    <!-- /container -->
    <!--<script>-->
    <!--var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];-->
    <!--(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];-->
    <!--g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';-->
    <!--s.parentNode.insertBefore(g,s)}(document,'script'));-->
    <!--</script>-->

    @if (Request.QueryString["preview"] != "True")
    {
        <script src="@Url.Content("~/Scripts/CDN/jquery-1.8.3.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            var funcPrint = function () {
                var r = $.Deferred();
                window.print();
                setTimeout(function () {
                    r.resolve();
                }, 2500);

                return r;
            };

            var funcClose = function () {
                window.close();
            };

            funcPrint().done(funcClose);
        </script>
    }
    @RenderSection("scripts", false)
</body>

</html>

