﻿<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>-->

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/Vendor/jquery.ui.datepicker-he.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/Vendor/timepicker/jquery.timepicker.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/Vendor/jquery.simple-color.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

<Script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></Script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout.mapping-latest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout.validation.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/CDN/modernizr.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/CDN/jquery.unobtrusive-ajax.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CDN/jquery.validate.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CDN/jquery.validate.unobtrusive.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>

@*<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.2.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>*@



<script src="@Url.Content("~/Scripts/bootstrap.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap-timepicker.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Vendor/bootstrap-typeahead.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript" ></script>
<script src="@Url.Content("~/Scripts/Vendor/globalize.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript" ></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.cookies.2.2.0.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/toastr.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/App/messages.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/Uniform/jquery.uniform.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/App/RapidVet.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript" ></script>

<script src="@Url.Content("~/Scripts/App/calc.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript" ></script>
<script src="/Scripts/vendor/underscore-min.js"></script>

<script src="@Url.Content("~/Scripts/App/main.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/App/TimeDisplay.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script src="@Url.Content("~/Scripts/App/FixInputWidth.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

<script src="@Url.Content("~/Scripts/jquery.quicksearch.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
