﻿<div class="alert alert-error" style="text-align: center;">
    <h1>@RapidVet.Resources.GlobalValidationErrors.UnAuthorizedViewLn1</h1>
    <h2>@RapidVet.Resources.GlobalValidationErrors.UnAuthorizedViewLn2</h2>
</div>