﻿<div class="alert alert-error" style="text-align: center;">
    <h1>@RapidVet.Resources.GlobalValidationErrors.UnAuthorizedModuleAccessLn1</h1>
    <h2>@RapidVet.Resources.GlobalValidationErrors.UnAuthorizedModuleAccessLn2</h2>
</div>