﻿@model System.Web.Mvc.HandleErrorInfo
<div style="text-align: center;" class="alert alert-error">
    <h1>אירעה שגיאה</h1>
    <br />
    <br />
    <a href="/" class="btn btn-primary btn-large">
        <i class="icon-home"></i>
        חזרה לדף הבית
    </a>
</div>
