﻿@model RapidVet.WebModels.Visits.VisitModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Visit.DeleteVitalSign</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Ajax.BeginForm("Delete", "VitalSigns", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "Success"
        },
                           new
                               {
                                   @class = "form-horizontal",
                                   id = "deleteUser",
                               }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ManualId)
        @Html.HiddenFor(model => model.VitalSignID)        
        @Muze.DeleteButtons()
    }
</div>
