﻿@using RapidVet.Model.Visits
@{
    var modalId = RapidVet.RapidConsts.Controllers.VitalSignConsts.MODAL_ID;
}
@model RapidVet.WebModels.VitalSigns.VitalSignsIndexModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    decimal prevTestWeight = 0;
    decimal prevTestBCS = 0;
    decimal prevTestBPM = 0;
    decimal prevTestPulse = 0;
    decimal prevTestTemp = 0;
    int vitalSignID = -1;
    string coml_id;
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.ClientDetailsModel)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/VitalSign.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    .graphseparator {
        border-bottom: 2px ridge black;
        height: 20px;
    }

    .graphListTD {
        vertical-align: top;
        padding-right: 20px;
        padding-top: 40px;
    }
</style>
<table style="width: 900px;">
    <tr>
        <td>
            <img src="@Url.Action("WeightChart", new {id = patientId})" />
        </td>
        <td class="graphListTD">
            <table id="tblWeight" class="table table-condensed table-striped table-bordered">
                <thead>
                <th style="width: 34%">
                    תאריך
                </th>
                <th style="width: 22%">
                    משקל
                </th>
                <th style="width: 22%">
                    אחוז שינוי ממדידה קודמת
                </th>
                <th style="width: 22%; min-width: 50px;"></th>
                </thead>
                <tbody>
                    @{ vitalSignID = (int)VitalSignType.Weight;}
                    @foreach (var visit in Model.Visits.Where(v => v.Weight > 0).OrderBy(v => v.VisitDate))
                    {
                        <tr>
                            @{coml_id = visit.Id + "_" + visit.ManualId + "_" + vitalSignID;}
                            <td>
                                <span id="@("lbl_date_" + coml_id)">@visit.VisitDate.ToShortDateString()</span>
                                <span id="@("txt_date_" + coml_id)" class="hide">
                                    <input id="@("editDP_" + coml_id)" type="text" class="datepicker_recurring_start" style="width: auto;" autocomplete="off" value="@visit.VisitDate.ToShortDateString()" />
                                </span>
                            </td>
                            <td>
                                <span id="@("lbl_val_" + coml_id)">@(visit.Weight)</span>
                                <span id="@("txt_val_" + coml_id)" class="hide">
                                    <input type="text" id="@("val_" + coml_id)" value='@(visit.Weight)' style="width: 30px;" />
                                </span>
                            </td>
                            <td>
                                <span>@(prevTestWeight > 0 ? ((int)Math.Abs(100 * (prevTestWeight - visit.Weight) / visit.Weight)).ToString() : "--")</span>
                            </td>
                            <td>
                                <span id="@("startEditing_icons_" + coml_id)">
                                    <a onclick="editVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה"><i class="icon-edit"></i></a>
                                    <a onclick="GetModal('@Url.Action("Delete", new {id = (coml_id + "_" + vitalSignID)})', '@modalId');" data-toggle="tooltip" data-placement="top" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                                </span>
                                <span id="@("confirm_icons_" + coml_id)" class="hide">
                                    <a onclick="saveVitalRow('@visit.Id', '@visit.ManualId', @(vitalSignID));" data-toggle="tooltip" data-placement="top" title="אישור" data-original-title="אישור"><i class="icon-ok"></i></a>
                                    <a onclick="cancelEditVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="ביטול" data-original-title="ביטול"><i class="icon-remove"></i></a>
                                </span>
                            </td>
                        </tr>
                            prevTestWeight = visit.Weight;
                    }
                    <tr>
                        <td colspan="4">
                            <a onclick="addManualVitalSign(@(vitalSignID), @patientId, 'tblWeight')" class="btn btn-primary">
                                <i class="icon-plus"></i>
                                @RapidVet.Resources.Controllers.Views.PatientIndex.AddWeight
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="graphseparator"><td colspan="2" /></tr>
    <tr>
        <td>
            <img src="@Url.Action("BCSChart", new {id = patientId})" />
        </td>
        <td class="graphListTD">
            <table id="tblBCS" class="table table-condensed table-striped table-bordered">
                <thead>
                <td style="width: 34%">
                    תאריך
                </td>
                <td style="width: 22%">
                    BCS
                </td>
                <td style="width: 22%">
                    אחוז שינוי ממדידה קודמת
                </td>
                <td style="width: 22%; min-width: 50px;"></td>
                </thead>
                <tbody>
                    @{ vitalSignID = (int)VitalSignType.BCS; }
                    @foreach (var visit in Model.Visits.Where(v => v.BCS > 0).OrderBy(v => v.VisitDate))
                    {
                        <tr>
                            @{coml_id = visit.Id + "_" + visit.ManualId + "_" + vitalSignID;}
                            <td>
                                <span id="@("lbl_date_" + coml_id)">@visit.VisitDate.ToShortDateString()</span>
                                <span id="@("txt_date_" + coml_id)" class="hide">
                                    <input id="@("editDP_" + coml_id)" type="text" class="datepicker_recurring_start" style="width: auto;" autocomplete="off" value="@visit.VisitDate.ToShortDateString()" />
                                </span>
                            </td>
                            <td>
                                <span id="@("lbl_val_" + coml_id)">@visit.BCS</span>
                                <span id="@("txt_val_" + coml_id)" class="hide">
                                    <input type="text" id="@("val_" + coml_id)" value='@visit.BCS' style="width: 30px;" />
                                </span>
                            </td>
                            <td>
                                <span>@(prevTestBCS > 0 ? ((int)Math.Abs(100 * (prevTestBCS - visit.BCS) / visit.BCS)).ToString() : "--")</span>
                            </td>
                            <td>
                                <span id="@("startEditing_icons_" + coml_id)">
                                    <a onclick="editVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה"><i class="icon-edit"></i></a>
                                    <a onclick="GetModal('@Url.Action("Delete", new {id = (coml_id)})', '@modalId');" data-toggle="tooltip" data-placement="top" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                                </span>
                                <span id="@("confirm_icons_" + coml_id)" class="hide">
                                    <a onclick="saveVitalRow('@visit.Id', '@visit.ManualId', @(vitalSignID));" data-toggle="tooltip" data-placement="top" title="אישור" data-original-title="אישור"><i class="icon-ok"></i></a>
                                    <a onclick="cancelEditVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="ביטול" data-original-title="ביטול"><i class="icon-remove"></i></a>
                                </span>
                            </td>
                        </tr>
                            prevTestBCS = visit.BCS;
                    }
                    <tr>
                        <td colspan="4">
                            <a onclick="addManualVitalSign(@(vitalSignID), @patientId, 'tblBCS')" class="btn btn-primary">
                                <i class="icon-plus"></i>
                                @RapidVet.Resources.Controllers.Views.PatientIndex.AddBCS
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="graphseparator"><td colspan="2" /></tr>
    <tr>
        <td>
            <img src="@Url.Action("BPMChart", new {id = patientId})" />
        </td>
        <td class="graphListTD">
            <table id="tblBPM" class="table table-condensed table-striped table-bordered">
                <thead>
                <td style="width: 34%">
                    תאריך
                </td>
                <td style="width: 22%">
                    BPM
                </td>
                <td style="width: 22%">
                    אחוז שינוי ממדידה קודמת
                </td>
                <td style="width: 22%; min-width: 50px;"></td>
                </thead>
                <tbody>
                    @{ vitalSignID = (int)VitalSignType.Respiration;}
                    @foreach (var visit in Model.Visits.Where(v => v.BPM > 0).OrderBy(v => v.VisitDate))
                    {
                        <tr>
                            @{coml_id = visit.Id + "_" + visit.ManualId + "_" + vitalSignID;}
                            <td>
                                <span id="@("lbl_date_" + coml_id)">@visit.VisitDate.ToShortDateString()</span>
                                <span id="@("txt_date_" + coml_id)" class="hide">
                                    <input id="@("editDP_" + coml_id)" type="text" class="datepicker_recurring_start" style="width: auto;" autocomplete="off" value="@visit.VisitDate.ToShortDateString()" />
                                </span>
                            </td>
                            <td>
                                <span id="@("lbl_val_" + coml_id)">@visit.BPM</span>
                                <span id="@("txt_val_" + coml_id)" class="hide">
                                    <input type="text" id="@("val_" + coml_id)" value='@visit.BPM' style="width: 30px;" />
                                </span>
                            </td>
                            <td>
                                <span>@(prevTestBPM > 0 ? ((int)Math.Abs(100 * (prevTestBPM - visit.BPM) / visit.BPM)).ToString() : "--")</span>
                            </td>
                            <td>
                                <span id="@("startEditing_icons_" + coml_id)">
                                    <a onclick="editVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה"><i class="icon-edit"></i></a>
                                    <a onclick="GetModal('@Url.Action("Delete", new {id = (coml_id + "_" + vitalSignID)})', '@modalId');" data-toggle="tooltip" data-placement="top" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                                </span>
                                <span id="@("confirm_icons_" + coml_id)" class="hide">
                                    <a onclick="saveVitalRow('@visit.Id', '@visit.ManualId', @(vitalSignID));" data-toggle="tooltip" data-placement="top" title="אישור" data-original-title="אישור"><i class="icon-ok"></i></a>
                                    <a onclick="cancelEditVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="ביטול" data-original-title="ביטול"><i class="icon-remove"></i></a>
                                </span>
                            </td>
                        </tr>
                            prevTestBPM = visit.BPM;
                    }
                    <tr>
                        <td colspan="4">
                            <a onclick="addManualVitalSign(@(vitalSignID), @patientId, 'tblBPM')" class="btn btn-primary">
                                <i class="icon-plus"></i>
                                @RapidVet.Resources.Controllers.Views.PatientIndex.AddBPM
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="graphseparator"><td colspan="2" /></tr>
    <tr>
        <td>
            <img src="@Url.Action("PulseChart", new {id = patientId})" />
        </td>
        <td class="graphListTD">
            <table id="tblPulse" class="table table-condensed table-striped table-bordered">
                <thead>
                <td style="width: 34%">
                    תאריך
                </td>
                <td style="width: 22%">
                    דופק
                </td>
                <td style="width: 22%">
                    אחוז שינוי ממדידה קודמת
                </td>
                <td style="width: 22%; min-width: 50px;"></td>
                </thead>
                <tbody>
                    @{ vitalSignID = (int)VitalSignType.Pulse;}
                    @foreach (var visit in Model.Visits.Where(v => v.Pulse > 0).OrderBy(v => v.VisitDate))
                    {
                        <tr>
                            @{coml_id = visit.Id + "_" + visit.ManualId + "_" + vitalSignID;}
                            <td>
                                <span id="@("lbl_date_" + coml_id)">@visit.VisitDate.ToShortDateString()</span>
                                <span id="@("txt_date_" + coml_id)" class="hide">
                                    <input id="@("editDP_" + coml_id)" type="text" class="datepicker_recurring_start" style="width: auto;" autocomplete="off" value="@visit.VisitDate.ToShortDateString()" />
                                </span>
                            </td>
                            <td>
                                <span id="@("lbl_val_" + coml_id)">@visit.Pulse</span>
                                <span id="@("txt_val_" + coml_id)" class="hide">
                                    <input type="text" id="@("val_" + coml_id)" value='@visit.Pulse' style="width: 30px;" />
                                </span>
                            </td>
                            <td>
                                <span>@(prevTestPulse > 0 ? ((int)Math.Abs(100 * (prevTestPulse - visit.Pulse) / visit.Pulse)).ToString() : "--")</span>
                            </td>
                            <td>
                                <span id="@("startEditing_icons_" + coml_id)">
                                    <a onclick="editVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה"><i class="icon-edit"></i></a>
                                    <a onclick="GetModal('@Url.Action("Delete", new {id = (coml_id + "_" + vitalSignID)})', '@modalId');" data-toggle="tooltip" data-placement="top" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                                </span>
                                <span id="@("confirm_icons_" + coml_id)" class="hide">
                                    <a onclick="saveVitalRow('@visit.Id', '@visit.ManualId', @(vitalSignID));" data-toggle="tooltip" data-placement="top" title="אישור" data-original-title="אישור"><i class="icon-ok"></i></a>
                                    <a onclick="cancelEditVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="ביטול" data-original-title="ביטול"><i class="icon-remove"></i></a>
                                </span>
                            </td>
                        </tr>
                            prevTestPulse = visit.Pulse;
                    }
                    <tr>
                        <td colspan="4">
                            <a onclick="addManualVitalSign(@(vitalSignID), @patientId, 'tblPulse')" class="btn btn-primary">
                                <i class="icon-plus"></i>
                                @RapidVet.Resources.Controllers.Views.PatientIndex.AddPulse
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="graphseparator"><td colspan="2" /></tr>
    <tr>
        <td>
            <img src="@Url.Action("TempChart", new {id = patientId})" />
        </td>
        <td class="graphListTD">
            <table id="tblTemp" class="table table-condensed table-striped table-bordered">
                <thead>
                <td style="width: 34%">
                    תאריך
                </td>
                <td style="width: 22%">
                    טמפרטורה
                </td>
                <td style="width: 22%">
                    אחוז שינוי ממדידה קודמת
                </td>
                <td style="width: 22%; min-width: 50px;"></td>
                </thead>
                <tbody>
                    @{ vitalSignID = (int)VitalSignType.Temp;}
                    @foreach (var visit in Model.Visits.Where(v => v.Temp > 0).OrderBy(v => v.VisitDate))
                    {
                        <tr>
                            @{coml_id = visit.Id + "_" + visit.ManualId + "_" + vitalSignID;}
                            <td>
                                <span id="@("lbl_date_" + coml_id)">@visit.VisitDate.ToShortDateString()</span>
                                <span id="@("txt_date_" + coml_id)" class="hide">
                                    <input id="@("editDP_" + coml_id)" type="text" class="datepicker_recurring_start" style="width: auto;" autocomplete="off" value="@visit.VisitDate.ToShortDateString()" />
                                </span>
                            </td>
                            <td>
                                <span id="@("lbl_val_" + coml_id)">@(visit.Temp)</span>
                                <span id="@("txt_val_" + coml_id)" class="hide">
                                    <input type="text" id="@("val_" + coml_id)" value='@(visit.Temp)' style="width: 30px;" />
                                </span>
                            </td>
                            <td>
                                <span>@(prevTestTemp > 0 ? ((int)Math.Abs(100 * (prevTestTemp - visit.Temp) / visit.Temp)).ToString() : "--")</span>
                            </td>
                            <td>
                                <span id="@("startEditing_icons_" + coml_id)">
                                    <a onclick="editVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה"><i class="icon-edit"></i></a>
                                    <a onclick="GetModal('@Url.Action("Delete", new {id = (coml_id + "_" + vitalSignID)})', '@modalId');" data-toggle="tooltip" data-placement="top" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                                </span>
                                <span id="@("confirm_icons_" + coml_id)" class="hide">
                                    <a onclick="saveVitalRow('@visit.Id', '@visit.ManualId', @(vitalSignID));" data-toggle="tooltip" data-placement="top" title="אישור" data-original-title="אישור"><i class="icon-ok"></i></a>
                                    <a onclick="cancelEditVitalRow('@(coml_id)');" data-toggle="tooltip" data-placement="top" title="ביטול" data-original-title="ביטול"><i class="icon-remove"></i></a>
                                </span>
                            </td>
                        </tr>
                            prevTestTemp = visit.Temp;
                    }
                    <tr>
                        <td colspan="4">
                            <a onclick="addManualVitalSign(@(vitalSignID), @patientId, 'tblTemp')" class="btn btn-primary">
                                <i class="icon-plus"></i>
                                @RapidVet.Resources.Controllers.Views.PatientIndex.AddTemp
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
@Muze.ModalDiv(modalId)
