﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/GeneralReports/Birthdays.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new viewModel('@ViewBag.LettersActive', '@ViewBag.EmailActive', '@ViewBag.SmsActive', '@ViewBag.StickerActive');
            ko.applyBindings(viewModel);
        });

    </script>
}

<h2>@RapidVet.Resources.Birthdays.BirthdaysTitle</h2>

<div class="row form-inline well">
    <div class="span4">
        <label>
            @RapidVet.Resources.Birthdays.SelectDate            &nbsp;
            <input class="date input-small" readonly data-bind="value: Date" />
            &nbsp;
            <input type="checkbox" data-bind="checked: AllMonth " />
            @RapidVet.Resources.Birthdays.AllMonth
        </label>
    </div>
    <div class="span4">
        <button class="btn btn-primary" data-bind="click: getBirthdays">
            <i class="icon-search"></i>
            @RapidVet.Resources.Birthdays.Show
        </button>
    </div>
</div>
<div data-bind="visible: displayResults">
    <div class="row form-inline">
        <label>
            @RapidVet.Resources.Birthdays.FilterBy
            &nbsp;
        <select data-bind="options: clientStatusOptions, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value', value: clientStatusFilter">
        </select></label>

    </div>
    <br />
    <div class="row form-inline">
        <button class="btn btn-primary" data-bind="disable: criteriaChanged() || filteredItems().length == 0, click: print">
            <i class="icon-print"></i>
            @RapidVet.Resources.Birthdays.PrintList
        </button>

        @if (ViewBag.LettersActive)
        {
            <button class="btn btn-primary viewBtn" data-bind="disable: !lettersActive() || criteriaChanged() || filteredItems().length == 0, click: $root.showPersonalLetterModal">
                <i class="icon-print"></i>
                @RapidVet.Resources.Birthdays.PrintLetters
            </button>
        }
        else
        {
            <button class="btn btn-primary disabled">
                <i class="icon-print"></i>
                @RapidVet.Resources.Birthdays.PrintLetters
            </button>
        }
       
        <button class="btn btn-primary" data-bind="disable: !emailActive() || criteriaChanged() || filteredItems().length == 0, click: sendEmails">
            <i class=" icon-tag"></i>
            @RapidVet.Resources.Birthdays.SendEmail
        </button>
        <button class="btn btn-primary" data-bind="disable: !smsActive() || criteriaChanged() || filteredItems().length == 0, click: sendSms">
            <i class=" icon-envelope"></i>
            @RapidVet.Resources.Birthdays.SendSMS
        </button>
        <button class="btn btn-primary" data-bind="disable: !stickerActive() || criteriaChanged() || filteredItems().length == 0, click: printStickers">
            <i class=" icon-th"></i>
            @RapidVet.Resources.Birthdays.PrintStickers
        </button>
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered table-striped">
            <tr>
                <th>@RapidVet.Resources.Birthdays.ClientName</th>
                <th>@RapidVet.Resources.Birthdays.AnimalName</th>
                <th>@RapidVet.Resources.Birthdays.Address</th>
                <th>@RapidVet.Resources.Birthdays.Phone</th>
                <th>@RapidVet.Resources.Birthdays.WorkPhone</th>
                <th>@RapidVet.Resources.Birthdays.Mobile</th>
                <th>@RapidVet.Resources.Birthdays.BirthDate</th>
                <th>@RapidVet.Resources.Birthdays.Email</th>
                <th>@RapidVet.Resources.Birthdays.ClientStatus</th>
            </tr>
            <tbody data-bind="foreach: filteredItems, visible: filteredItems().length > 0">
                <tr>
                    <td data-bind="text: ClientName"></td>
                    <td data-bind="text: PatientName"></td>
                    <td data-bind="text: Address"></td>
                    <td data-bind="text: Phone"></td>
                    <td data-bind="text: WorkPhone"></td>
                    <td data-bind="text: CellPhone"></td>
                    <td data-bind="text: BirthDate"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="text: Status"></td>
                </tr>
            </tbody>
            <tbody data-bind="visible: filteredItems().length == 0">
                @Muze.EmptyGridMessage()
            </tbody>
        </table>
    </div>
</div>

<div class="modal hide fade" id="personalLetterModal">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hidePersonalLetterModal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.LetterTemplate.SelectPersonalLetter</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <input type="hidden" data-bind="value: followUpId" />
            <div data-bind="visible: personalTemplateError" class="row" style="color:red;">
                <div class="span2">
                    @RapidVet.Resources.LetterTemplate.SelectTemplateError
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <label>@RapidVet.Resources.LetterTemplate.TemplateName:</label>
                </div>
                <div class="span3">
                    <label>
                        <select required data-bind="options: personalLetters, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..', value: selectedLetterId"></select>
                    </label>
                </div>
                <br />
                <br />
                <div data-bind="visible:selectedLetterId()>0" style="height:100px;width:100%;overflow:auto;border: 1px gray solid">
                    <label data-bind="html: selectedLetterContent"></label>
                </div>
            </div>
        </div>
        <br />
        <div class="controls" style="text-align: center;">
            <button data-bind="click: sendPersonalLetter" class="btn ok btn-primary">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
</div>