﻿@model System.Collections.Generic.List<RapidVet.WebModels.GeneralReports.BirthdayWebModel>

@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<h2>ימי הולדת</h2>

  <table>
            <tr>
                <th>שם הלקוח</th>
                <th>שם בעל החיים</th>
                <th>כתובת</th>
                <th>טלפון</th>
                <th>טלפון בעבודה</th>
                <th>טלפון נייד</th>
                <th>תאריך לידה</th>
                <th>דוא"ל</th>
                <th>סטטוס</th>
            </tr>
      <tbody>
          @foreach (var item in Model)
          {
              <tr >
                  <td>@item.ClientName</td>
                  <td>@item.PatientName</td>
                  <td>@item.Address</td>
                  <td>@item.Phone</td>
                  <td>@item.WorkPhone</td>
                  <td>@item.CellPhone</td>
                  <td>@item.BirthDate</td>
                  <td>@item.Email</td>
                  <td>@item.Status</td>
              </tr>
          }
      </tbody>
        </table>