﻿@model RapidVet.WebModels.MedicalProcedures.MedicalProcedureWebModel
           

<input type="hidden" id="initialClientId" value="@ViewBag.ClientId"/>
<input type="hidden" id="initialPatientId" value="@ViewBag.PatientId"/>

<input type="hidden" data-bind="value: selectedPatientId" name="patientId" id="patientId" />
<input type="hidden" data-bind="value: selectedClientId" name="clientId" id="clientId" />
<input type="hidden" data-bind="value: print" name="print" id="print" />

<div class="row">
    <div class="span2">
        <label>בחר לקוח</label>
    </div>
    <div class="span3" style="margin-top: 3px;">
        <label>
            @*<select class="form-control input-medium" id="newClientId" data-bind="options: clients, value: clientId, optionsCaption: 'בחר לקוח', optionsText: 'itemText', optionsValue: 'itemValue'"></select>*@
            <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
        </label>
    </div>
    <div class="span3">
        <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label>
    </div>
    @*<div class="span4">
        <label>
            <select required data-bind="value: selectedClientId, options: clients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>*@
    </div>
<br />
    <div class="row">
        <div class="span2"><label>ת.ז לקוח</label></div>
        <div class="span4"><label><input type="text" readonly="readonly" data-bind="value: idCard" /></label></div>
    </div>
<br />
<div class="row">
    <div class="span2">
        <label>בחר חיה</label>
    </div>
    <div class="span10">
        <label>
            <select required data-bind="value: selectedPatientId, options: patients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>
</div>

<br />
<div class="row">
    <div class="span2">
        <label>אבחנה</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.DisagnosisId)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>הניתוח</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.ProcedureName)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>תאריך הניתוח</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextBox("ProcedureDate", Model.ProcedureDate.ToShortDateString(), new { @class = "date" })
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>משעה</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextBox("Start", Model.Start.ToShortTimeString(), new { @type = "time" })
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>עד שעה</label>
    </div>
    <div class="span10">
        <label>
            @Html.TextBox("Finish", Model.Finish.ToShortTimeString(), new { @type = "time" })
        </label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>סוג</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.ProcedureTypeId)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>מקום</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.ProcedureLocation)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>רופא מנתח</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.SurgeonName)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>רופא מרדים</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.AnesthesiologistName)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>אחות</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.NurseName)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>עוזר/ת נוספ/ת</label>
    </div>
    <div class="span10">
        <label>@Html.EditorFor(m => m.AdditionalPersonnel)</label>
    </div>
</div>
<br />
<div class="row">
    <div class="span2">
        <label>סיכום</label>
    </div>
    <div class="span10">
        <label>@Html.TextAreaFor(m => m.Summery,new{@style="width: 758px;",rows="5"})</label>
    </div>
</div>
<br />
    <button class="btn btn-inverse btn-large" data-bind="click: back">
        <i class="icon-remove"></i>
        ביטול
    </button>
    <button class="btn btn-primary btn-large">
        <i class="icon-ok"></i>
        שמירה
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: saveAndPrint">
        <i class="icon-print"></i>
        שמירה והדפסה
    </button>