﻿@model RapidVet.WebModels.MedicalProcedures.MedicalProcedureWebModel
     
<style>
    .btn-large {
        width: 161px;
    }
</style>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/MedicalProcedures/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>יצירת סיכום ניתוח</h2>

@using (Html.BeginForm("Create", "MedicalProcedures", FormMethod.Post, new { @class = "form-inline", id = "form" }))
{
    <input type="hidden" name="print" data-bind="value: print" />
    
    @Html.Partial("_MainForm", Model)
}