﻿@model RapidVet.WebModels.MedicalProcedures.MedicalProcedureWebModel
           
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/MedicalProcedures/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>עריכת סיכום ניתוח</h2>

@using (Html.BeginForm("Edit", "MedicalProcedures", FormMethod.Post, new { @class = "form-inline", id = "form" }))
{
    @Html.HiddenFor(m => m.Id)

    @Html.Partial("_MainForm", Model)
}