﻿@model IEnumerable<RapidVet.Model.Patients.MedicalProcedure>
@{
    var modalId = "deleteModal";
}

<h2>סיכומי ניתוח</h2>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/MedicalProcedures/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<input type="hidden" id="from" value="@ViewBag.From"/>
<input type="hidden" id="to" value="@ViewBag.To"/>

<div class="form-inline">
    <div class="row control-group">
        <div class="span2">
            <label>מתאריך</label>
        </div>
        <div class="span3">
            <label>
                <input type="text" data-bind="value: from" class="date" readonly /></label>
        </div>
        <div class="span2">
            <label>
                עד תאריך
            </label>

        </div>
        <div class="span3">
            <label>
                <input type="text" data-bind="value: to" class="date" readonly /></label>
        </div>
        <div class="span2">
            <label>
                <a class="btn btn-primary" data-bind="attr: { href: searchLink }">
                    <i class="icon-search"></i>
                    חפש
                </a>
                <a class="btn btn-primary" href="@Url.Action("Index", "MedicalProcedures")">
                    <i class="icon-refresh"></i>
                    אפס
                </a>
            </label>
        </div>
    </div>
</div>
<a class="btn btn-primary" href="@Url.Action("Create", "MedicalProcedures")">
    <i class="icon-plus"></i>
    הוספת סיכום ניתוח
</a>
<a class="btn btn-primary" data-bind="attr: { href: printAllLink }">
    <i class="icon-print"></i>
    הדפס את כל סיכומי הניתוח המוצגים
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך הניתוח</th>
            <th>שם הלקוח</th>
            <th>סוג</th>
            <th>ניתוח</th>
            <th>רופא מנתח</th>
            <th>רופא מרדים</th>
            <th>אחות</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Start.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(modelM => m.Patient.Client.Name)</td>
                <td>@RapidVet.Resources.Enums.MedicalProcedureType.ResourceManager.GetString(m.ProcedureType.ToString())</td>
                <td>@Html.DisplayFor(modelM => m.ProcedureName)</td>
                <td>@Html.DisplayFor(modelM => m.SurgeonName)</td>
                <td>@Html.DisplayFor(modelM => m.AnesthesiologistName)</td>
                <td>@Html.DisplayFor(modelM => m.NurseName)</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", "MedicalProcedures", new { id = m.Id })">
                        <i class="icon-edit"></i>
                        @RapidVet.Resources.Global.Edit
                    </a>

                    <a class="btn btn-primary"  onclick="GetModal('@Url.Action("Delete", "MedicalProcedures", new { id = m.Id })','@modalId')">
                        <i class="icon-remove"></i>
                        @RapidVet.Resources.Global.Delete
                    </a>

                    <a class="btn btn-primary" href="@Url.Action("Index", "Patients", new { id = m.PatientId })">
                        <i class="icon-home"></i>
                        תיק חיה
                    </a>

                    <a href="@Url.Action("PrePrint", "MedicalProcedures", new { id = m.Id })" class="btn btn-primary">
                        <i class="icon-print"></i>
                        @RapidVet.Resources.Global.Print
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id ="@modalId" class="modal hide fade"></div>
