﻿@{
    var id = Url.RequestContext.RouteData.Values["id"] ?? Request.Params["id"];
    var from = Request.Params["fromDate"];
    var to = Request.Params["toDate"];
}

<h2>הדפסת סיכומי ניתוח</h2>


@section scripts
{
    <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Scripts/App/MedicalProcedures/Print.js")"></script>
}


<input type="hidden" name="id" id="id" value="@id"/>
<input type="hidden" name="from" id="from" value="@from"/>
<input type="hidden" name="to" id="to" value="@to"/>


<a class="btn btn-inverse" href="@Url.Action("Index", "MedicalProcedures")">
    <i class="icon-trash"></i>
    @RapidVet.Resources.Global.Cancel
</a>

<a class="btn btn-primary" data-bind="click: save">
    <i class="icon-file"></i>
     @RapidVet.Resources.Global.Save
</a>

<a class="btn btn-primary" data-bind="click: saveAndPrint">
    <i class="icon-print"></i>
      @RapidVet.Resources.Global.SaveAndPrint
</a>
<br/><br/>
<div class="form-inline" data-bind="foreach: { data: procedures, afterRender: initTextEditor }">

    <div class="row control-group">
        <div class="row">
            <textarea data-bind="html: letter, attr: { id: editorId }"></textarea>
        </div>
    </div>

</div>

