﻿@model IEnumerable<RapidVet.Model.Patients.MedicalProcedure>
@{ 
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<style type="text/css">
    html, body {
        height: 97%;
    }

    div.page-break {
        display: block;
        height: auto;
        page-break-before: avoid;
        page-break-after: always;
    }

    .print:last-child {
        page-break-before: auto;
        page-break-after: avoid;
    }

    hr {
        border: transparent;
        height: 1px;
        width: 100%;
    }
</style>



@foreach (var mp in Model)
{
    @Html.Raw(mp.Letter)
    <hr />
    <div class="page-break"></div>
}