﻿@model RapidVet.Model.Clients.Client
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>הפוך לקוח ללא פעיל</h3>
</div>
<div class="modal-body">
  &nbsp;
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Deactivate", "InactiveClients", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        <div class="row-fluid">
            <div class="span6">
                <button type="submit" class="btn btn-danger">הפוך ללא פעיל</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    }

</div>
