﻿@model int

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>הפוך את כל הלקוחות ללא פעילים</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    
     <div class="row-fluid">
        <div class="span6">
            <button type="submit" onclick="window.location = '@Url.Action("Index", new { id = Model, toPrint = false, toDeactivate = true })'" class="btn btn-danger">הפוך את כולם ללא פעילים</button>
        </div>
        <div class="span6">
            <button class="btn btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button> 
        </div>
    </div>
</div>