﻿@model List<RapidVet.WebModels.Clients.InactiveClient>
@{
    var modalId = "inactiveClientModal";
    var modalAllId = "inactiveClientsModal";
    var monthsBack = Url.RequestContext.RouteData.Values["id"];
    if (ViewBag.ToPrint)
    {
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }
}
<div>
    @if (!ViewBag.ToPrint)
    {
        <div>
            @Muze.PrintButton(Url.Action("Index", "InactiveClients", new { id = monthsBack, toPrint = true }))
        </div>
    }
    <h2>לקוחות לא פעילים</h2>
    @if (!ViewBag.ToPrint)
    {
        <label>בחר כמות חודשים:</label>
        <input id="monthsBack" type="text" value="@monthsBack" style="border: solid 1px; height: 21px" class="input-mini"/>
        <a class="btn btn-primary" href="#" onclick=" window.location = '/InactiveClients/index/' + $('#monthsBack').val() " style="margin-top: -8px;">טען</a>

        <div>
            <div class="pull-left">
                @Muze.QuickSearch("tableId")
            </div>
            <div class="pull-right">
                <a class="btn btn-warning" href="#" onclick=" GetModal('@Url.Action("DeactivateAllInactiveClients", new { id = monthsBack })', '@modalAllId'); ">הפוך את כל הלקוחות ללא פעילים</a>
            </div>
        </div>
    }
    <table class="table table-striped table-bordered table-condensed" id="tableId">
        <thead>
            <tr>
                <th>שם הלקוח</th>
                <th>כתובת</th>
                <th>טלפון בית</th>
                <th>טלפון סלולארי</th>
                <th>מועד ביקור אחרון</th>
                @if (ViewBag.ToPrint != true)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Address</td>
                    <td>@item.HomeNumber</td>
                    <td>@item.CellularNumer</td>
                    <td>
                        @if (item.LastVisitDateString == null)
                        {
                            <text>לא ביקר</text>
                        }
                        else
                        {
                            <text>@item.LastVisitDateString</text>
                        }
                    </td>
                    @if (ViewBag.ToPrint != true)
                    {
                        <td>
                            <a href="#" onclick=" GetModal('@Url.Action("Deactivate", new { id = item.ClientId })', '@modalId'); " class="btn btn-danger">הפוך ללא פעיל</a>
                        </td>
                    }
                </tr>
                }
            }
            else
            {
                @Muze.EmptyGridMessage()
            }
        </tbody>
    </table>
    <div id="inactiveClientModal" class="modal hide fade">
    </div>

    <div id="inactiveClientsModal" class="modal hide fade">
    </div>
</div>

