﻿@model RapidVet.Model.PreventiveMedicine.PreventiveMedicineItem
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>מחיקת ביצוע חיסון</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm((ViewBag.ShowDeleteFromTreatmentCheckBox != null && ViewBag.ShowDeleteFromTreatmentCheckBox == true ? "DeleteHistory" : "Delete"), "Preventive", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PriceListItem.Name)
        <div class="modal-body">
            @if (ViewBag.ShowDeleteFromTreatmentCheckBox != null && ViewBag.ShowDeleteFromTreatmentCheckBox == true)
            {
                <span>
                    @Html.CheckBoxFor(m => m.DeleteFromTreatment, new { @class = "ui-floatRight" })
                </span>
                <span class="ui-floatRight" style="font-size: 18px; margin-right: 20px;">
                    @RapidVet.Resources.Preventive.DeleteFromTreatmentMsg
                </span>
            }
        </div>
        @Muze.DeleteButtons()
    }
</div>
