﻿@model RapidVet.Model.PreventiveMedicine.PreventiveMedicineItem
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>מחיקת תזכור עבור @Model.PriceListItem.Name </h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("DeleteReminder", "Preventive", new { preventiveId = @Model.Id}, FormMethod.Post, new { @class = "form-horizontal" }))
    {
       
       
        @Muze.DeleteButtons()
    }
</div>
