﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineIndexModel

@{
    var modalId = PreventiveConsts.MODAL_ID;
}

<link rel="stylesheet" href="@Url.Content("~/Content/css/History.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך ביצוע</th>
            <th>פריט</th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var v in Model.Vaccines.Where(va => va.Preformed.HasValue && va.Preformed.Value > DateTime.MinValue))
        {
            <tr>
                <td>@Html.DisplayFor(modelV => v.PreformedStr)</td>
                <td>@Html.DisplayFor(modelV => v.Name)</td>
                <td>
                    @if (v.IsRabiesVaccine)
                    {
                        <a onclick="GetModal('@Url.Action("UpdateTollData", "Preventive", new { id = v.Id })','@modalId');" style="margin-left:20px;">
                            <i class="icon-edit"></i>@RapidVet.Resources.Preventive.UpdateTollData
                        </a>
                    }
                    else
                    {

                    }
                    <a onclick="GetModal('@Url.Action("DeleteItem", "Preventive", new { id = v.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Delete
                    </a>
                </td>
            </tr>
        }
        @foreach (var v in Model.Treatments.Where(va => va.Preformed.HasValue && va.Preformed.Value > DateTime.MinValue))
        {
            <tr>
                <td>@Html.DisplayFor(modelV => v.PreformedStr)</td>
                <td>@Html.DisplayFor(modelV => v.Name)</td>
                <td>
                    <a onclick="GetModal('@Url.Action("DeleteItem", "Preventive", new { id = v.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>

@Muze.ModalDiv(PreventiveConsts.MODAL_ID)