﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineItemWebModel

<script src="@Url.Content("~/Scripts/Vendor/jquery.ui.datepicker-he.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>


<style type="text/css">
    #ClientPaidOrReturnedTollVaucher
    {
        margin-top: 0px !important;
    }
     #TollPrice, #TollPaymentDate, #TollPaymentMethodId
    {
            top: -10px;
            position: relative;
    }

</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Preventive.UpdateTollData</h3>
</div>
@using (Html.BeginForm("EditTollData", "Preventive",FormMethod.Post, new { @class = "form-inline",id = PreventiveConsts.EDIT_FORM}))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PriceListItemId)

        <div class="row-fluid">
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Preventive.VaccineName</span>                  
                </label>

                <label>
                    <span class="span2" style="margin-right: 0;">@Model.Name</span>
                </label>
            </div>
            <br />
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Preventive.VaccineDate</span>
                </label>

                <label>
                    <span class="span2" style="margin-right: 0;">@Model.Preformed.Value.ToShortDateString()</span>
                </label>
            </div>
            <br />
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Preventive.TollStatus</span>
                    @Html.EditorFor(model => model.ClientPaidOrReturnedTollVaucher)
                </label>

            </div>
            <br />
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Preventive.TollPrice</span>
                </label>

                <label>
                    @Html.TextBoxFor(model => model.TollPrice, new { @type = "number", @class = "input-mini fix-negativ" })
                </label>
            </div>
            <br />
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Preventive.TollPaymentMethod</span>
                </label>

                <label>
                   @Html.EditorFor(m => m.TollPaymentMethodId)
                    
                </label>

                <label id="TollPaymentMethodError" style="color:red;position: relative; top: -10px; margin-right: 15px;display:none;">
                    @RapidVet.Resources.Preventive.TollPaymentMethodError

                </label>
            </div>
            <br />
            <div class="row">
                <label>
                    <span class="span2">@RapidVet.Resources.Preventive.TollPaymentDate</span>
                </label>

                <label>     
                    <input type="text" id="TollPaymentDate" name="TollPaymentDate" class="input-small" value="@(Model.TollPaymentDate.HasValue ? Model.TollPaymentDate.Value.ToString("dd/MM/yyyy") : "")" readonly />
                    @* 
    @Html.TextBox("TollPaymentDate", Model.TollPaymentDate.HasValue ? Model.TollPaymentDate.Value.ToString("dd/mm/yyyy") : DateTime.Now.ToString("dd/mm/yyyy"), new { @type = "date" })*@
                </label>
                <label id="TollPaymentDateError" style="color:red;position: relative; top: -10px; margin-right: 15px;display:none;">
                    @RapidVet.Resources.Preventive.TollPaymentDateError

                </label>
            </div>
           
            </div>
    </div>
    <div class="modal-footer">
       
            <div class="controls" style="text-align: center;">
                <a href="#" class="submitForm btn ok btn-primary">
                    @RapidVet.Resources.Global.Save
                </a>
            </div>
       
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#TollPaymentDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            yearRange: "-100:+1"
        });

        $("a.submitForm").click(function (event) {
            event.preventDefault();

            var valid = true;
            if($("#TollPaymentMethodId").val() == "")
            {
                valid = false;
                $("#TollPaymentMethodError").show();
            }
            else
            {
                $("#TollPaymentMethodError").hide();
            }

            if($("#TollPaymentDate").val() == "")
            {
                valid = false;
                $("#TollPaymentDateError").show();
            }
            else
            {
                $("#TollPaymentDateError").hide();
            }

            if(valid)
            {
                debugger;
                $('#@PreventiveConsts.MODAL_ID').modal('hide');
                $("#loder").show();
                $('#@PreventiveConsts.EDIT_FORM').submit();
            }
            else
            {
                return false;
            }
        });
    });
</script>