﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineIndexModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    
    Layout = "~/Views/Shared/_PatientsLayout.cshtml";
}

@section clientDetailsBar
  {
    @Html.Action("GetClientDetailsBar", "Base", new { id = patientId })
}

@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}


<h2>הסטוריית חיסונים</h2>


@Muze.PrintButton(Url.Action("HistoryPrint", "Preventive", new { id = patientId }))

<a class="btn btn-primary" href="@Url.Action("PrintCertificate", "Preventive", new { id = patientId })" target="_blank"><i class="icon-print"></i>הדפסת פנקס חיסונים</a>

<br />
<br />

@Html.Partial("_MainHistory", Model)

