﻿@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineIndexModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];

    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<style type="text/css">
    .dontPrint{
        display:none;
    }
</style>

@Html.Action("GetClientDetailsBar","Base",new{id = patientId})

@Html.Action("GetPatientDetailsBar","Base",new{id = patientId})


<h2>הסטוריית חיסונים</h2>

@Html.Partial("_MainHistory", Model)

