﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    var defaultDr = CurrentUser.DefaultDrId != null ? CurrentUser.DefaultDrId.Value : 0;
    var isDog = ViewBag.IsDog;
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/PreventiveMedicine.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="../../Scripts/App/Finance/moment.min.js"></script>

    <script type="text/html" id="error-template">
        @*<div style="color: red;top: -10px;left: 73px;position:relative;" data-bind="visible: !field.isValid()">
                <span data-bind="text: field.error"></span>
            </div>*@
        <span style="color: red;top: 35px;right: 85px;position:absolute;margin:0;margin-bottom:-17px;" data-bind="visible: field.isModified() && !field.isValid(), validationMessage: field">
            @*<span style="color: red;top: -4px;position:relative;margin:0;margin-bottom:-17px;" data-bind="visible: field.isModified() && !field.isValid(), text: field.error">        *@
        </span>
    </script>
}


@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}

@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<input type="hidden" name="patientId" id="patientId" value="@patientId" />
<input type="hidden" name="defaultDr" id="defaultDr" value="@defaultDr" />
<input type="hidden" name="isDog" id="isDog" value="@isDog" />

<div class="inline">

    <a class="btn btn-primary" data-bind="click: selectAll"><i class="icon-ok"></i>בחר הכל</a>

    <a class="btn btn-primary" data-bind="click: clearAllSelected"><i class="icon-refresh"></i>נקה הכל</a>

    <a class="btn btn-primary" data-bind="click: selectToday"><i class="icon-calendar"></i>פריטים שבוצעו היום בלבד</a>
    <a class="btn btn-primary" data-bind="click: executeSelectedTreatments"><i class="icon-ok-circle"></i>בצע פריטים שנבחרו</a>

    <a class="btn btn-primary" data-bind="attr: { href: printUrl }" target="_blank"><i class="icon-print"></i>הדפס פריטים שנבחרו</a>
    <a href="@Url.Action("History", "Preventive", new { id = patientId })" class="btn btn-primary"><i class="icon-folder-open"></i>הצג הסטוריית חיסונים</a>

    <a href="@Url.Action("Reminders", "Preventive", new { id = patientId })" class="btn btn-primary"><i class="icon-folder-open"></i>הצג תזכורות חיסונים</a>
</div>
<br />
<br />
<div class="row preventive">
    <div class="span2">
        <br />
        <br />
        <br />
        <a href="#vaccines" class="btn btn-primary">חיסונים</a>
        <br />
        <br />
        <a href="#treatments" class="btn btn-primary">טיפולים מונעים</a>
    </div>
    <div class="span9">
        <div id="vaccines">
            <h3>חיסונים</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="checkboxColumn"></th>
                        <th class="nameColumn">שם</th>
                        <th class="dateColumn" style="width:55px;">תאריך</th>
                        <th class="dateColumn" style="width:55px;">הבא</th>
                        <th>מחיר</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vaccines">
                    <tr>
                        <td>
                            <input type="checkbox" data-bind="checked: selected" class="checkbox" />
                        </td>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: last"></td>
                        <td data-bind="text: next, css: cssClass"></td>
                        <td data-bind="text: price"></td>
                        <td>
                            <a class="btn btn-primary" data-bind="click: $root.showExecutionModal"><i class="icon-ok-circle"></i>בצע</a>
                            |
                            <a class="btn btn-primary" data-bind="click: $root.showUpdateModal"><i class="icon-edit"></i>תיקון</a>
                            <span data-bind="visible: deleteVisible">
                                |
                                <a class="btn btn-primary" data-bind="click: $root.showDeleteModal"><i class="icon-trash"></i>מחק</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="treatments">
            <h3>טיפולים מונעים</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="checkboxColumn"></th>
                        <th class="nameColumn">שם</th>
                        <th class="dateColumn" style="width:55px;">תאריך</th>
                        <th class="dateColumn" style="width:55px;">הבא</th>
                        <th>מחיר</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: treatments">
                    <tr>
                        <td>
                            <input type="checkbox" data-bind="checked: selected" class="checkbox" />
                        </td>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: last"></td>
                        <td data-bind="text: next, css: cssClass"></td>
                        <td data-bind="text: price"></td>
                        <td>
                            <a class="btn btn-primary" data-bind="click: $root.showExecutionModal"><i class="icon-edit"></i>בצע</a>
                            |
                            <a class="btn btn-primary" data-bind="click: $root.showUpdateModal"><i class="icon-edit"></i>תיקון</a>
                            <span data-bind="visible: deleteVisible">
                                |
                                <a class="btn btn-primary" data-bind="click: $root.showDeleteModal"><i class="icon-trash"></i>מחק</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal hide fade" id="executionModal" data-bind="css: modalCssClass">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 data-bind="text: selectedItemName"></h2>
    </div>
    <div class="modal-body" data-bind="css: modalBodyCssClass">
        <div class="form-inline">

            <div class="row-fluid control-group">
                <div class="span3">
                    <label style="margin-right: 10px;">בוצע ע"י</label>
                </div>
                <div class="span4" style="height: 38px;">
                    <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="DrTypeGroup" value="true" data-bind="checked: regularDr">
                    <label style="position: relative; top: 10px; display: inline;">רופא פנימי</label>
                </div>
                <div class="span4">
                    <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="DrTypeGroup" value="false" data-bind="checked: regularDr">
                    <label style="position: relative; top: 10px; display: inline;">רופא חיצוני</label>
                </div>
            </div>

            <div class="row-fluid control-group" id="regularDrDiv">
                <div class="span3">
                    <label style="height: 24px; margin-right: 10px; position: relative; top: 3px;">בחר רופא</label>
                </div>
                <div class="span6">
                    <label>
                        <select required data-bind="value: selectedDoctorId, options: doctors, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </div>
            </div>

            <div class="row-fluid control-group" id="externalDrDiv" style="display: none;">
                <div class="span3">
                    <label style="margin-right: 10px;">שם רופא חיצוני</label>
                </div>
                <div class="span2" style="margin-left: -4px; padding-left: 90px; height: 38px;">
                    <input type="text" class="inline" style="width: 150px; margin-left: 32px; position: relative; top: 8px;" data-bind="value: externalDrName" />
                </div>
                <div class="span2" style="height: 38px; width: 73px;">
                    <label style="display: inline;">מס' רישיון רופא חיצוני</label>
                </div>
                <div class="span2">
                    <input type="text" class="inline" style="width: 100px; position: relative; top: 8px;" data-bind="value: externalDrLicenseNumber" />
                </div>
            </div>

            <div class="row-fluid control-group">
                <div class="span3">
                    <label style="margin-right: 10px;">חיוב עבור ביצוע</label>
                </div>
                <div class="span8" style="width: 169px; height: 38px;">
                    <input type="checkbox" style="position: relative; top: 9px;" class="inline" id="cb_chargeForTreatment" data-bind="checked: externallyPreformed" />
                </div>
                <div class="span2" style="height: 38px; width: 69px;">
                    <label style="display: inline; position: relative; top: 10px;">תאריך</label>
                </div>
                <div class="span2">
                    <label style="display: inline; position: relative; top: 10px;" data-bind="text: date"></label>
                    @*<input type="text" class="date" name="date" style="width: 100px; position: relative; top: 8px;" data-bind="datepicker: date" readonly />*@
                </div>
            </div>



            <div class="row-fluid control-group">
                <div class="span3" style="height: 30px;" data-bind="visible: !executeMultipleTreatments()">
                    <label style="margin-right: 10px; position: relative; top: -4px;">מחיר</label>
                </div>
                <div class="span2" style="height: 30px;" data-bind="visible: !executeMultipleTreatments()">

                    <input type="number" class="fix-negativ" style="width: 60px; position: relative; top: 4px;" data-bind="value: executionPrice" />

                </div>
                <div class="span3" style="height: 30px;">
                    <label style="margin-right: 10px; position: relative; top: -4px;">מספר אצווה</label>
                </div>
                <div class="span2" style="height: 30px;">

                    <input type="text" style="width: 150px; position: relative; top: 4px;" data-bind="value: batchNumber" />

                </div>
            </div>

            <div class="row-fluid control-group">
                <div class="span3" style="height: 30px;">
                    <label style="margin-right: 10px; position: relative; top: -4px;">הערות</label>
                </div>
                <div class="span2" style="height: 30px;">

                    <input type="text" style="width: 363px; position: relative; top: 4px;" data-bind="value: comment" />

                </div>
            </div>

            <div class="row-fluid control-group">
                <div class="span3">
                    <label style="margin-right: 10px;">הדפסת מסמכים</label>
                </div>
                <div class="span2" style="height: 38px; width: 55px;">
                    <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="rabies" value="dontPrint" data-bind="checked: rabiesPrint">
                    <label style="position: relative; top: 9px; display: inline;">ללא</label>
                </div>
                <div class="span3" style="height: 38px; width: 155px;">
                    <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="rabies" value="printDogOwnerLicense" data-bind="checked: rabiesPrint, disable: executeMultipleTreatments()">
                    <label style="position: relative; top: 9px; display: inline;">הדפסת רשיון אחזקת כלב</label>
                </div>
                <div class="span3" style="width: 145px;">
                    <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="rabies" value="printRabiesVaccineSlip" data-bind="checked: rabiesPrint, disable: executeMultipleTreatments()">
                    <label style="position: relative; top: 9px; display: inline;">הדפסת אישור חיסון כלבת</label>
                </div>
            </div>

            <div data-bind="visible: rabiesSectionVisible()">
                <table class="row-fluid control-group" style="border-collapse: separate; border-spacing: 0;">
                    <tbody>
                        <tr class="row-fluid  span10">
                            <td>
                                <label style="margin-right: 10px;">חיסון כלבת</label>
                            </td>
                        </tr>
                        <tr class="row-fluid control-group">
                            <td style="margin-right: 10px; position: relative; border-top: 1px #c6c5c5 solid;">
                                <label style="margin-right: 10px; width: 100px; margin-left: 25px;">מספר אלקטרוני</label>

                            </td>
                            <td style="border-left: 1px #c6c5c5 solid; border-top: 1px #c6c5c5 solid; padding-left: 30px;">
                                <input type="text" style="width: 120px; margin-right: -30px; position: relative; top: -1px;" data-bind="value: electronicNumber" />
                            </td>
                            <td style="position: relative; border-top: 1px #c6c5c5 solid;">
                                <label style="margin-right: 12px; width: 100px; margin-left: 12px;">מספר רישיון</label>

                            </td>
                            <td style="border-top: 1px #c6c5c5 solid;">
                                <input type="text" style="width: 120px; position: relative; top: -1px; margin-left: 20px; margin-right: -20px;" data-bind="value: licenseNumber" />
                            </td>
                        </tr>
                        <tr class="row-fluid control-group">
                            <td colspan="4" style="position: relative; border-top: 1px #c6c5c5 solid;padding: 10px;padding-bottom:11px;">
                                <input type="checkbox" style="position: relative; top: -2px;" data-bind="checked: clientPaidOrReturnedTollVaucher" />
                                <label style="margin-right: 10px; position: relative; display: inline; ">הלקוח החזיר/שילם את שובר האגרה</label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="control-group">
                <div class="controls" style="text-align: left;" data-bind="click: preformItem">
                    <button type="submit" class="btn btn-primary ok">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="modal hide fade" id="confirmModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>ביצוע חיסון</h3>
    </div>
    <div class="modal-body">
        <h3>
            @Html.Raw(RapidVet.Resources.PreventiveReminders.ExecutePreventiveAgain)
        </h3>
    </div>
    <div class="modal-footer">
       @Muze.ConfirmButtons("$('#confirmModal').modal('hide'); $('#executionModal').modal('show');")
    </div>
</div>

<div class="modal hide fade" id="deleteModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>מחיקת <span data-bind="text: elementToDeleteName()"></span></h3>
    </div>
    <div class="modal-body">
        <h3>
            @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <button data-bind="click: deletePreformance" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-bind="click: clearDeleteModal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" id="updateModal" >
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>עריכת <span data-bind="text: elementToUpdateName()"></span></h3>
</div>
<div class="modal-body">
   
   
    <div class="row">
        <div class="span2" style="margin-right:0;">
            <input type="checkbox" data-bind="checked: updateDate" />
            <label style="display: inline; position: relative; margin-left: 15px;">@RapidVet.Resources.Preventive.UpdatePerformedDate</label>
        </div>
        <div class="span2">
            <input type="text" class="date" name="date" style="width: 100px; position: relative; " data-bind="visible: updateDate, datepicker: elementToUpdateDate" readonly />
        </div>
        <div class="span3" data-bind="visible: updateDate" style="display:inline-block;position:relative;margin:0;">
            <input type="checkbox" data-bind="checked: updateScheduledPreventiveItems" />
            <label style="display: inline; position: relative; margin-left: 15px;">@RapidVet.Resources.Preventive.UpdateScheduledPreventiveItems</label>
            <input type="checkbox" data-bind="checked: billAccordingToTariff" />
            <label style="display: inline; position: relative; margin-left: 15px;">@RapidVet.Resources.Preventive.BillAccordingToTariff</label>
        </div>
        <label style="display: inline;color:red; position: relative; margin-left: 15px;" data-bind="text:updateDateError"></label>
    </div>
    <div data-bind="visible: updateDate">
        <div class="row-fluid">
            <div class="span3">
                <label style="margin-right: 10px;margin-top: 10px;">מספר אצווה</label>
            </div>       
            <div class="span4" style="height: 38px;">
                <input type="text" style="width: 150px; position: relative; top: 4px;" data-bind="value: batchNumber" />
            </div>     
        </div>
        <div class="row-fluid">
            <div class="span3">
                <label style="margin-right: 10px;margin-top: 10px;">בוצע ע"י</label>
            </div>
            <div class="span4" style="height: 38px;">
                <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="DrTypeGroupForUpdate" value="true" data-bind="checked: regularDr">
                <label style="position: relative; top: 10px; display: inline;">רופא פנימי</label>
            </div>
            <div class="span4">
                <input type="radio" class="radio inline" style="position: relative; top: 8px;" name="DrTypeGroupForUpdate" value="false" data-bind="checked: regularDr">
                <label style="position: relative; top: 10px; display: inline;">רופא חיצוני</label>
            </div>
        </div>
        <br />
        <div class="row-fluid" id="regularDrDivForUpdate">
            <div class="span3">
                <label style="height: 24px; margin-right: 10px; position: relative; top: 3px;">בחר רופא</label>
            </div>
            <div class="span6">
                <label>
                    <select required data-bind="value: updateDoctorId, options: doctors, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                </label>
            </div>
        </div>

        <div class="row-fluid " id="externalDrDivForUpdate" style="display: none;">
            <div class="span3">
                <label style="margin-right: 10px;margin-top: 10px;">שם רופא חיצוני</label>
            </div>
            <div class="span2" style="margin-left: -4px; padding-left: 90px; height: 38px;">
                <input type="text" class="inline" style="width: 150px; margin-left: 32px; position: relative; top: 8px;" data-bind="value: externalDrName" />
            </div>
            <div class="span2" style="height: 38px; width: 73px;">
                <label style="display: inline;">מס' רישיון רופא חיצוני</label>
            </div>
            <div class="span2">
                <input type="text" class="inline" style="width: 100px; position: relative; top: 8px;" data-bind="value: externalDrLicenseNumber" />
            </div>
        </div>
        <label style="display: inline;color:red; position: relative; margin-left: 15px;" data-bind="text:updateSelectDoctorError"></label>
    </div>
    <hr style=" display: block; height: 2.5px;background-color: #808080;" />
  
    <div class="row">
        <div class="span3" style="margin-right:0;">
            <input type="checkbox" data-bind="checked: updateNextDate" />
            <label style="display: inline; position: relative; margin-left: 15px;" data-bind="text: updateNextDateString"></label>
        </div>
        <div class="span2">
            <input type="text" class="date" name="date" style="width: 100px; position: relative; " data-bind="visible: updateNextDate, datepicker: elementToUpdateNextDate" readonly />
        </div>
        <label style="display: inline;color:red; position: relative; margin-left: 15px;" data-bind="text:updateNextDateError"></label>
    </div>
    <br />
    
      
</div>
<div class="modal-footer">
    <div class="row-fluid">
        <div class="span6">
            <button data-bind="click: updateTreatment" class="btn btn-primary">@RapidVet.Resources.Global.Ok</button>
        </div>
        <div class="span6">
            <button class="btn btn-inverse" onclick="$('#updateModal').modal('hide')">@RapidVet.Resources.Global.Cancellation</button>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='DrTypeGroup']").change(function (e) {
            if ($(this).val() == 'true') {
                $("#regularDrDiv").show();
                $("#externalDrDiv").hide();
                $("#cb_chargeForTreatment").attr('checked', true);
            }
            else {
                $("#externalDrDiv").show();
                $("#regularDrDiv").hide();
                $("#cb_chargeForTreatment").attr('checked', false);
            }
        });

        $("input[name='DrTypeGroupForUpdate']").change(function (e) {
            if ($(this).val() == 'true') {
                $("#regularDrDivForUpdate").show();
                $("#externalDrDivForUpdate").hide();                
            }
            else {
                $("#externalDrDivForUpdate").show();
                $("#regularDrDivForUpdate").hide();                
            }
        });
    });

</script>
