﻿@model RapidVet.WebModels.PreventiveMedicine.CertificateWebModel
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}
<link rel="@Url.Content("~/Content/print/print.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/css" />

<table>
    <tr>
        <th>פרטי לקוח</th>

        <td colspan="2">@Html.DisplayFor(m => m.ClientFullName)</td>
        <td colspan="2">@Html.DisplayFor(m => m.ClientAddress)</td>


    </tr>
    <tr>
        <th rowspan="2">פרטי חיה</th>


        <td>@Html.DisplayFor(m => m.PatientName)</td>
        <td>@Html.DisplayFor(m => m.PatientAnimalKindName)</td>
        <td>@Html.DisplayFor(m => m.PatientRaceName)</td>
        <td>@Html.DisplayFor(m => m.PatientSex)</td>
    </tr>
    <tr>
        <td>@Model.PatientBirthDate</td>
        <td>@Html.DisplayFor(m => m.PatientChipNumber)</td>
        <td colspan="2">@Html.DisplayFor(m => m.FertilizationSterilization)</td>
    </tr>

</table>



<h3>חיסונים</h3>
<table>
    <thead>
        <tr>
            <th>שם</th>
            <th>תאריך</th>
            <th>הבא</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.Items.Vaccines)
        {
            <tr>
                <td>@Html.DisplayFor(modelV => v.Name)</td>
                <td>@Html.DisplayFor(modelV => v.PreformedStr)</td>
                <td>@Html.DisplayFor(modelV => v.NextStr)</td>
            </tr>
        }
        @foreach (var v in Model.Items.Treatments)
        {
            <tr>
                <td>@Html.DisplayFor(modelV => v.Name)</td>
                <td>@Html.DisplayFor(modelV => v.PreformedStr)</td>
                <td>@Html.DisplayFor(modelV => v.NextStr)</td>
            </tr>
        }
    </tbody>
</table>

