﻿@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineIndexModel
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    var patientId = Url.RequestContext.RouteData.Values["id"];
}
<link rel="@Url.Content("~/Content/print/print.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/css" />
<style>
    .dontPrint
    {
        display: none;
    }

    .future {
        color: green;
    }

    .past {
        color: red;
    }

    .vot-title {
        font-size: 2em;
    }

    .vot-container {
        text-align: center;
    }

    .vot-table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>



<img class="logo" src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;" />
<span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span>
<br />
<span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
<br />
<span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
<br />
<span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
<br />
<span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
<br /><br />

@Html.Action("GetClientDetailsBar", "Base", new { id = patientId })
<br />
@Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })

<div style="text-align:center;"><h2>פנקס חיסונים</h2></div>
@if (Model.Vaccines.Any())
{
    <div class="vot-container">
        <h3>חיסונים</h3>
        <table class="vot-table">
            <thead>
                <tr>
                    <th>שם</th>
                    <th>תאריך</th>
                    <th>הבא</th>                   
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Vaccines)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelV => v.Name)</td>
                        <td>@Html.DisplayFor(modelV => v.PreformedStr)</td>
                        <td class="@(v.IsNextFuture ? "future" : "past")">@Html.DisplayFor(modelV => v.NextStr)</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Treatments.Any())
{
    <div class="vot-container">
        <h3>טיפולים מונעים</h3>
        <table class="vot-table">
            <thead>
                <tr>
                    <th>שם</th>
                    <th>תאריך</th>
                    <th>הבא</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Treatments)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelT => t.Name)</td>
                        <td>@Html.DisplayFor(modelT => t.PreformedStr)</td>
                        <td class="@(t.IsNextFuture ? "future" : "past")">@Html.DisplayFor(modelV => t.NextStr)</td>                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
}