﻿@using RapidVet.Repository.PreventiveMedicine
@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineIndexModel

@{
        Layout = "~/Views/Shared/_PatientsLayout.cshtml";
        var patientId = ViewBag.PatientId; //Url.RequestContext.RouteData.Values["id"];

        List<SelectListItem> preventiveItems;
        using (IPreventiveMedicineRepository repository = new PreventiveMedicineRepository())
        {
            preventiveItems = repository.GetPreventiveMedicineItemsDropDownForClinic(CurrentUser.ActiveClinicId);
        }
        //foreach (var pli in Model.Vaccines)
        //{
        //    if (!preventiveItems.Any(p => p.Value == pli.PriceListItemId.ToString()))
        //    {
        //        preventiveItems.Add(new SelectListItem() { Selected = false, Text = pli.Name, Value = pli.PriceListItemId.ToString() });
        //    }
        //}

        //foreach (var pli in Model.Treatments)
        //{
        //    if (!preventiveItems.Any(p => p.Value == pli.PriceListItemId.ToString()))
        //    {
        //        preventiveItems.Add(new SelectListItem() { Selected = false, Text = pli.Name, Value = pli.PriceListItemId.ToString() });
        //    }
        //}

        //preventiveItems.Sort();
        preventiveItems.Insert(0, new SelectListItem() { Selected = true, Text = RapidVet.Resources.Global.Select, Value = "" });

        if (Request.QueryString["PriceListItemId"] != null)
        {
            foreach (var pli in preventiveItems)
            {
                pli.Selected = pli.Value == Request.QueryString["PriceListItemId"];
            }
        }


}

@section clientDetailsBar
  {
    @Html.Action("GetClientDetailsBar", "Base", new { id = patientId })
}

@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<h2>תזכורות חיסונים</h2>

<div class="well">
    <div class="form-inline">
        <div class="row ">
            <div class="span3">
                <label style="margin-top: 4px;">שם החיסון/טיפול מונע</label>
            </div>
            <div class="span4">
                <label>
                    <select id="ddl_PreventiveItems" name="ddl_PreventiveItems">
                        @foreach (var pli in preventiveItems)
                            {
                            <option value="@pli.Value" @if (pli.Selected) { <text> selected="selected" </text>      }>@pli.Text</option>
                            }
                    </select>
                </label>
            </div>

            @*<div class="span1">
        <label style="margin-top: 4px;">מתאריך</label>
    </div>
    <div class="span2">
        <label>
            <input type="text" class="input-small" id="from" readonly value="@from" style="margin-top: 4px;" />
        </label>
    </div>*@

    <div class="span2">
        <label>
            <a id="refreshLink" class="btn">רענן</a>
        </label>

    </div>
        </div>
    </div>
</div>



@*@if (Model.Count() > 0)
    {*@

<br />
@*@using (Html.BeginForm("DeleteReminders", "Preventive", FormMethod.Post, new { @id = "frm_DeleteReminders" }))
    {*@
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            @*  <th style="max-width:15px;"><input type="checkbox" id="markAll" onclick="toggle(this)" /></th>*@
            <th style="width:40%;">שם הפריט</th>
            <th style="width:20%;">תאריך תזכור</th>
            <th style="width:30%;">הערה</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="100%" style="font-weight:bold;">
                חיסונים
            </td>
        </tr>
        @foreach (var item in Model.Vaccines.Where(va => va.Next.HasValue && va.Next.Value > DateTime.MinValue))
                    {
            <tr>
                @*<td>
                        <input type="checkbox" value="@item.PriceListItemId" name="priceListItemIds" />
                    </td>*@
                <td>
                    @item.Name
                </td>
                <td>
                    @item.NextStr
                </td>
                <td>
                    <input type="text" id="@(string.Format("comment_{0}_{1}", patientId, item.Id))" class="input-large" value="@item.Comment" />
                </td>
                <td>
                    <a href="javascript:GetModal('@Url.Action("DeleteReminderConfirmMessage", "Preventive", new { id = patientId, preventiveId = item.Id })','deleteModal');" data-toggle="tooltip" data-placement="top" class="btn btn-danger" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                    <button onclick="updatePreventiveMedicineItem(@patientId, @item.Id)" data-toggle="tooltip" data-placement="top" class="btn btn-success " title="שמירה" data-original-title="שמירה"><i class="icon-ok"></i></button>
                </td>

            </tr>
                    }
        <tr>
            <td colspan="100%" style="font-weight:bold;">
                טיפולים מונעים
            </td>
            @foreach (var item in Model.Treatments.Where(va => va.Next.HasValue && va.Next.Value > DateTime.MinValue))
                    {
            <tr>
                @*<td>
                        <input type="checkbox" value="@item.PriceListItemId" name="priceListItemIds" />
                    </td>*@
                <td>
                    @item.Name
                </td>
                <td>
                    @item.NextStr
                </td>
                <td>
                    <input type="text" id="@(string.Format("comment_{0}_{1}", patientId, item.Id))" value="@item.Comment" />
                </td>
                <td>
                <a href="javascript:GetModal('@Url.Action("DeleteReminderConfirmMessage", "Preventive", new { id = patientId, preventiveId = item.Id })','deleteModal');" data-toggle="tooltip" data-placement="top" class="btn btn-danger" title="מחיקה" data-original-title="מחיקה"><i class="icon-trash"></i></a>
                    <button onclick="updatePreventiveMedicineItem(@patientId, @item.Id)" data-toggle="tooltip" data-placement="top" class="btn btn-success" title="שמירה" data-original-title="שמירה"><i class="icon-ok"></i></button>
                </td>
            </tr>
                    }
        </tbody>
    </table>

    <div id="deleteModal" class="modal hide fade">
    </div>

   


    @section scripts
{
        <script type="text/javascript">
            $(function () {
                //$.datepicker.setDefaults($.datepicker.regional["he"]);
                //$("#from").datepicker({
                //    defaultDate: "+0",
                //    dateFormat: 'dd/mm/yy',
                //    onClose: function (selectedDate) {
                //        $('#refreshLink').attr('href', '/Admin/MoveRecieptsToAnotherIssuer?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val());
                //    },
                //    isRTL: true
                //});

                $('#ddl_PreventiveItems').on('change', function () {
                    $('#refreshLink').attr('href', '/Preventive/Reminders?id=' +@patientId +'&PriceListItemId=' + $('#ddl_PreventiveItems').val()); //+ '&fromTime=' + $('#from').val()
                    $('#refreshLink')[0].click();
                    //  disableChosenIssuer();
                });
                ///disableChosenIssuer();
            });

            function toggle(source) {
                checkboxes = document.getElementsByName('priceListItemIds');
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    checkboxes[i].checked = source.checked;
                }
            }

            function updatePreventiveMedicineItem(patientId, preventiveMedicineItemId)
            {
                var comment = $("#comment_" + patientId + "_" + preventiveMedicineItemId).val();
                ShowLoder();
                $.ajax({
                    type: "POST",
                    url: '/Preventive/EditReminderComment',
                    data: {
                        'Id': patientId,
                        'preventiveMedicineItemId': preventiveMedicineItemId,
                        'comment':comment
                    },
                    success: function (data) {
                        if (data.Success) {
                            hideLoder();
                            getCookieMessages();
                        }
                    },
                    failure: function () {
                        hideLoder();
                        getCookieMessages();
                    }
                });
            }
          
        </script>
    }
