﻿@using System.Diagnostics
@using RapidVet.Model

@helper AjaxFormHidden(string modalId, string targetElementId, string targetUrl)
{

    <input type="hidden" name="modalId" value="@modalId" />
    <input type="hidden" name="indexGridId" value="@targetElementId" />
    <input type="hidden" name="target" value="@targetUrl" />

}

@helper ModalDiv(string divId, string style = "")
{
    if (string.IsNullOrWhiteSpace(style))
    {
        <div id="@divId" class="modal hide fade"></div>
    }
    else
    {
        <div id="@divId" class="modal hide fade" style="@style"></div>
    }
}

@helper CreateButton(string url, string modalId, string title)
{
    <div>
        <a onclick="GetModal('@url','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@title</a>
    </div>
}

@helper CreateButton(string url, string title)
{
    <a href="@url" class="btn btn-primary"><i class="icon-plus"></i>@title</a>
}

@helper PrintButton(string url)
{
    <a href="@url" class="btn btn-primary" target="_blank"><i class="icon-print"></i>@RapidVet.Resources.Global.Print</a>

}

@helper OkAndPrintButton(string onClickCommand)
{
    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button id="btnOkAndPrint" class="btn ok" @( String.IsNullOrEmpty(onClickCommand) ? "" : "onclick='@onClickCommand'")>
            <i class="icon-print" style="zoom: 1.6;margin-left: 10px;"></i>
            <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
}

@helper EmptyGridMessage()
{
    <tr>
        <td colspan="20">
            <h3>@RapidVet.Resources.Global.NoExistingRecords</h3>
        </td>
    </tr>
}

@helper CostumShortCut(int? shortCutId)
{
    if (shortCutId != null)
    {
        var shortCut = RapidVet.Repository.ShortCutsRepository.GetShortCut(shortCutId.Value);
        if (shortCut.Link == "#")
        {
            <li style="display: none;"></li>
        }
        else
        {

            <li><a href="@shortCut.Link">@shortCut.Name</a></li>
        }
    }

}

@helper DeleteButtons()
{
    <div class="row-fluid">
        <div class="span6">
            <button type="submit" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
        </div>
        <div class="span6">
            <button class="btn btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
        </div>
    </div>
}

@helper ConfirmButtons(string okExecute)
{
    <div class="row-fluid">
        <div class="span6">
            <button type="submit" class="btn btn-danger" onclick="@okExecute">@RapidVet.Resources.Global.Ok</button>
        </div>
        <div class="span6">
            <button class="btn btn-primary" data-dismiss="modal" onclick="return false;">@RapidVet.Resources.Global.Cancel</button>
        </div>
    </div>
}

@helper OkButton()
{
    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
}

@helper QuickSearch(string tableId)
{
    <input id="quickSearch-input" type="search" placeholder="@RapidVet.Resources.Global.Search" style="border: 1px solid lightgray" />
    <script>
        $(function () {
            $('#quickSearch-input').quicksearch('#@tableId tbody tr');
        });
    </script>
}

@helper QuickSearch(string tableId, string inputId)
{
    <input id="quickSearch-input-@inputId" type="search" placeholder="@RapidVet.Resources.Global.Search" />
    <script>
        $(function () {
            $('#quickSearch-input-@inputId').quicksearch('#@tableId tbody tr');
        });
    </script>
}