﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Tools/MinistryOfAgricultureReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new viewModel();
            ko.applyBindings(viewModel);
        });
    </script>
}
<h2>דיווח למשרד החקלאות</h2>
<div class="form-inline well">
    <div class="row control-group">
        <div class="span4">
            <label>סוג אירוע</label>
        </div>
        <div class="span6">
            <label>
                <select data-bind="options: reportTypeOptions, optionsText: 'Text', optionsValue: 'Value', value: reportTypeId">
                </select></label>
        </div>
    </div>


    <div class="row control-group">
        <div class="span2">
            <label>מתאריך</label>
        </div>
        <div class="span4">
            <label>
                <input type="text" class="date" data-bind="value: to">
            </label>
        </div>

        <div class="span2">
            <label>עד תאריך</label>
        </div>
        <div class="span4">
            <label>
                <input type="text" class="date" data-bind="value: from">
            </label>
        </div>
    </div>
    <button class="btn btn-primary btn-large" data-bind="click: search">
        <i class="icon-search"></i>
        חיפוש
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: print">
        <i class="icon-print"></i>
        הדפס
    </button>
        <a class="btn btn-primary btn-large" data-bind="attr: { href: exportToFileUrl }">
        <i class="icon-file"></i>
        ייצא לקובץ
    </a>
</div>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <th>תאריך</th>
            <th>סוג</th>
            <th>שם הבעלים</th>
            <th>שם החיה</th>
            <th>הערות</th>
        </thead>
        <tbody>
            <!-- ko foreach: items -->
            <tr>
                <td data-bind="text: DateTime"></td>
                <td data-bind="text: ReportType"></td>
                <td data-bind="text: ClientName "></td>
                <td data-bind="text: PatientName "></td>
                <td data-bind="text: Comments"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>

</div>
