﻿@model System.Collections.Generic.List<RapidVet.WebModels.MinistryOfAgricultureReport.MinistryOfAgricultureReportItem>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<h2>דיווח למשרד החקלאות</h2>
<table>
    <thead>
        <th>תאריך</th>
        <th>סוג</th>
        <th>שם חיה</th>
        <th>הערות</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateTime</td>
                <td>@item.ReportType</td>
                <td>@item.PatientName</td>
                <td>@item.Comments</td>
            </tr>
        }
    </tbody>
</table>

