﻿@model RapidVet.WebModels.Visits.TreatmentAdminModel

@{
    var modalId = "treatmentModal";
    var indexGridId = "treatmentGrid";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Treatment.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Ajax.BeginForm("Delete", "Treatments", new AjaxOptions()
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "Success"
        },
                           new
                               {
                                   @class = "form-horizontal",
                                   id = "tretmentDelete",
                               }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Muze.AjaxFormHidden(modalId, indexGridId, Url.Action("Index"))
        @Muze.DeleteButtons()

    }

</div>
