﻿@model RapidVet.WebModels.Visits.TreatmentAdminModel
           

@{
    
    var modalId = "treatmentModal";
    var indexGridId = "treatmentGrid";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Treatment.Update</h3>
</div>
@using (Ajax.BeginForm("Edit", "Treatments", new AjaxOptions()
                                                         {
                                                             HttpMethod = "Post",
                                                             InsertionMode = InsertionMode.Replace,
                                                             OnSuccess = "Success"
                                                         },
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "treatmentEdit",
                                                             }))
{
    <div class="modal-body">
        @Muze.AjaxFormHidden(modalId,indexGridId,Url.Action("Index"))
        
        <div class="control-group">
                <label class="control-label">@Html.LabelFor(m => m.Name)</label>
                <div class="controls">@Html.EditorFor(m => m.Name)
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
            </div>
    </div>
       <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                       @RapidVet.Resources.Global.Save
                </button>
            </div>
        </div>
    </div>
}

