﻿@model IEnumerable<RapidVet.WebModels.Visits.TreatmentAdminModel>
@{
    var idObj = Url.RequestContext.RouteData.Values["id"];
    int clinicId = 0;
    if (idObj != null)
    {
        int.TryParse(idObj.ToString(), out clinicId);
    }

    var modalId = "treatmentModal";
    var gridId = "treatmentGrid";
}

<div id="@gridId">
    <h2>@RapidVet.Resources.Treatment.Treatments</h2>
    <div>
        <a onclick="GetModal('@Url.Action("Create", new { id = clinicId })','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
    </div>
    <br />
    <table id="categoriesTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>@RapidVet.Resources.Treatment.Name
            </th>
            <th></th>
        </tr>

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modeItem => item.Name)
                    </td>
                    <td>
                        <a onclick="GetModal('@Url.Action("Delete", new {id = item.Id})','@modalId');">
                            <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                        |
                        <a onclick="GetModal('@Url.Action("Edit", new {id = item.Id})','@modalId');">
                            <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                    </td>
                </tr>

            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </table>

    <div id="@modalId" class="modal hide fade">
    </div>
</div>
