﻿@model IEnumerable<SelectListItem>
<h2>המרת נתונים</h2>
<br/><br/>

@using (Html.BeginForm("StartMigration", "DataMigration", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="row control-group">
        <div class="span3">
            <label>בחר תיקייה לשליפת נתונים</label></div>
        <div class="span9">
            <label>
                @Html.DropDownList("path", Model, RapidVet.Resources.Global.Select,new{style="width: auto;", required="required"})
            </label>
        </div>
    </div>
    
    @Muze.OkButton()
}
