﻿@using RapidVet.RapidConsts
@model IEnumerable<RapidVet.Model.Users.User>
@{
    Layout = ViewBag.Print
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_AuthenticatedLayout.cshtml";
    var clinicId = Url.RequestContext.RouteData.Values["id"];
}


<h2>המרת הנתונים למרפאת @ViewBag.ClinicName הסתיימה בהצלחה</h2>

<h3>הוקמו המשתמשים הבאים</h3>
<br/><br/>
@if (!ViewBag.Print)
{
    <a class="btn btn-primary btn-large" target="_blank" href="@Url.Action("MigrationComplete", "DataMigration", new { id = clinicId, print = true })">
        <i class="icon-print"></i>
        הדפסה
    </a>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>שם</th>
            <th>שם משתמש</th>
            <th>סיסמה</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var u in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelU => u.FirstName)</td>
                <td>@Html.DisplayFor(modelU => u.Username)</td>
                <td>@MigrationConsts.DEFAULT_USER_PASSWORD</td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>
</table>

