﻿@model System.Collections.Generic.List<string>

@{
    ViewBag.Title = "שגיאה בהמרות";
}

<h2>לא ניתן להתחיל בתהליך ההמרה עקב השגיאות הבאות:</h2>

<ul dir="ltr">
    @foreach (var e in Model)
    {
        <li>@e</li>
    }
</ul>