﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/DataMigration.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<link rel="stylesheet" href="@Url.Content("~/Content/MigrationLoader.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />

<h2>המרת נתונים</h2>


@Html.Partial("_MigrationLoader")

<table class="table table-bordered" style="margin-top: 70px;">
    <thead>
        <tr>
            <th>מספר</th>
            <th>שם</th>
            <th>סטטוס</th>
            <th>מידע נוסף</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: stages">
        <tr>
            <td data-bind="text: number"></td>
            <td data-bind="text: name"></td>
            <td data-bind="html: statusText"></td>
              <td data-bind="html: info"></td>
        </tr>
    </tbody>
</table>

