﻿@model RapidVet.Model.FullCalender.Holiday
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>חגים ומועדים</h2>
<br />

@using (Html.BeginForm("Edit", "Holidays", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="id" id="id" value="@Model.Id"/>
    <input type="hidden" name="clinicId" id="clinicId" value="@Model.ClinicId"/>
    
    <br />
    <div class="control-group">
        <label class="control-label">שם: </label>
        <div class="controls">@Html.EditorFor(m => m.Name)
            <span class="help-inline"></span>
        </div>
    </div>
    
    <br />
    <div class="control-group">
        <label class="control-label">תאריך התחלה: </label>
        <div class="controls">@Html.TextBox("StartDayString", Model.StartDayString, new { @class = "date", @readonly = "readonly" })
            <span class="help-inline"></span>
        </div>
    </div>
    
    <br />
    <div class="control-group">
        <label class="control-label">תאריך סיום: </label>
        <div class="controls">@Html.TextBox("EndDayString", Model.EndDayString, new { @class = "date", @readonly = "readonly" })
            <span class="help-inline"></span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">קיים ערב חג: </label>
        <div class="controls">@Html.EditorFor(m => m.HasHolidayEve)
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="span7">
        <label id="errorFilterToDate" title="@RapidVet.Resources.PreventiveReminders.ErrorStartEndDateSequence" class="error-message" style="font-size: 20px;" />
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit" onclick="return validateAndSubmit()"
                    class="btn btn-primary">
                    @if (Model.Id == 0)
                    {
                        <h3>@RapidVet.Resources.Global.Create</h3>
                    }
                    else
                    {
                        <h3>@RapidVet.Resources.Global.Save</h3>
                    }
                </button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#StartDayString").change(function (e) {
            validateDates($("#StartDayString"), $("#EndDayString"), document.getElementById('errorFilterToDate'), e);
        });

        $("#EndDayString").change(function (e) {
            validateDates($("#StartDayString"), $("#EndDayString"), document.getElementById('errorFilterToDate'), e);
        });
           

        function validateDates(fromD, toD, errorLblElem, e) {
            if (fromD.val() != "" && toD.val() != "" && fromD.val() > toD.val()) {
                fromD.css('background-color', '').css('background-color', errorBackground);
                toD.css('background-color', '').css('background-color', errorBackground);
                errorLblElem.innerText = errorLblElem.title;
            } else {
                fromD.css('background-color', '').css('background-color', '#e6e6e6');
                toD.css('background-color', '').css('background-color', '#e6e6e6');
                errorLblElem.innerText = '';
            }
        };
    });

    function validateAndSubmit() {
        return document.getElementById('errorFilterToDate').innerHTML.trim().length == 0;
        
    }
</script>