﻿@model System.Collections.Generic.List<RapidVet.Model.FullCalender.Holiday>
@{
    var modalId = "holidayTypeModal";
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>חגים ומועדים</h2>

<br />
<a class="btn btn-primary" href="@Url.Action("Edit")" style="margin-top: -11px"><i class="icon-plus"></i>צור חג/מועד חדש</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>שם החג/המועד
            </th>
            <th>תאריך התחלה</th>
            <th>תאריך סיום</th>
            <th>קיים ערב חג</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var holiday in Model)
            {
            <tr>
                <td>@Html.DisplayFor(mHoliday => holiday.Name)</td>
                <td>@holiday.StartDay.ToShortDateString()</td>
                <td>@holiday.EndDay.ToShortDateString()</td>
                <td>@if (holiday.HasHolidayEve)
                    {<i class="icon-ok"></i>}</td>
                <td>
                    <a href="@Url.Action("Edit", "Holidays", new { id = holiday.Id })" title="ערוך"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                    |   
                            <a onclick="GetModal('@Url.Action("Remove", new { id = holiday.Id })', '@modalId'); ">
                                <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>

</table>
<div id="holidayTypeModal" class="modal hide fade">
</div>
