﻿@model RapidVet.WebModels.Expenses.ExpenseGroupWebModel
<div class="row-fluid control-group">
    <div class="span2">
        <label>שם</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.Name)
            <span class="inline">@Html.ValidationMessageFor(m => m.Name)</span>
        </label>
    </div>
</div>

<div class="row-fluid control-group">

    <div class="span11">
        @Html.CheckBoxFor(m => m.IsTextDeductible)
        האם מוכר להחזר מס
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>אחוז הכרה במס</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.RecognitionPercent)
            <span class="inline">@Html.ValidationMessageFor(m => m.RecognitionPercent)</span>
        </label>
    </div>
</div>

@*<div class="row-fluid control-group">
    <div class="span2">
        <label>מזהה חיצוני</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ExternalId)
        </label>
    </div>
</div>*@

@Muze.OkButton()