﻿@model IEnumerable<RapidVet.Model.Expenses.ExpenseGroup>
@{
    var modalId = "deleteModal";
}
<h2>קבוצות הוצאות</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "ExpenseGroups")">
    <i class="icon-plus"></i>
    הוספת קבוצת הוצאות
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>שם</th>
            <th>מוכר להחזר מס</th>
            <th>אחוז הכרה</th>
            @*<th>מזהה חיצוני</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mE => e.Name)</td>
                <td>@if (e.IsTextDeductible)
                    {
                    <i class="icon-ok"></i>
                    }</td>
                <td>@Html.DisplayFor(mE => e.RecognitionPercent)</td>
   @*             <td>@Html.DisplayFor(mE => e.ExternalId)</td>*@
                <td>
                   @* <a class="btn btn-primary" onclick="GetModal('@Url.Action("Delete", "ExpenseGroups", new { id = e.Id })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |*@
                        <a class="btn btn-primary" href="@Url.Action("Edit", "ExpenseGroups", new { id = e.Id })">
                            <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="@modalId" class="modal hide fade"></div>
