﻿
a, input {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    line-height: normal;
}

table, th, td {
    border: 1px solid black;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

input[type='checkbox'] {
    display: block;
}

@media all {
    .page-break {
        display: none;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
    @page { size: landscape; }
}
