﻿@using RapidVet.Enums
@model RapidVet.WebModels.Patients.GenericLetterModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.Client)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<h2>הפקת מסמך אישור בריאות - אנגלית</h2>

@using (Html.BeginForm("PrePrintHub", "Letters", FormMethod.Post, new { @class = "form-inline" }))
{
    <input type="hidden" name="id" id="id" value="@patientId"/>
    <input type="hidden" name="letterTemplateTypeId" id="letterTemplateTypeId" value="@((int)LetterTemplateType.BillOfHealthEn)"/>

    <div class="row">
        <div class="span2">
            <label>בחר רופא</label>
        </div>
        <div class="span10">
            <label>
                @Html.EditorFor(m => m.DoctorName)
                <span id="docError" style="color:red;margin-right: 30px;position: relative;display:none;">
                    אנא בחר רופא
                </span>
            </label>
        </div>

    </div>
    <br />
    <div class="row ">
        <div class="span2">
            <label>תאריך בדיקה</label>
        </div>
        <div class="span10">
            <label>@Html.TextBox("ExaminationDate", Model.ExaminationDate, new { @class = "date input-medium" })</label>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="controls" style="text-align: right;">
            <button type="submit" class="btn ok" style="width:100px;" onclick="return validateForm();">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
}

<script type="text/javascript">

    function isEmptyOrWhiteSpaces(str) {
        return typeof str == "undefined" || str === null || str.match(/^ *$/) !== null;
    }

    function validateForm() {
        var valid = true;

        if (isEmptyOrWhiteSpaces($('#vetId').val())) {
            $('#docError').show();
            valid = false;
        }
        else {
            $('#docError').hide();
        }

        return valid;
    }

</script>