﻿@using RapidVet.Enums
@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<h2>הפקת מסמך רשיון לאחזקת כלב</h2>

@using (Html.BeginForm("PrePrintHub", "Letters", FormMethod.Post, new { @class = "form-inline" }))
{
    <input type="hidden" name="id" id="id" value="@patientId"/>
    <input type="hidden" name="letterTemplateTypeId" id="letterTemplateTypeId" value="@((int)LetterTemplateType.DogOwnerLicense)"/>
    
    <div class="row ">
        <div class="span2">
            <label>מספר רשיון</label>
        </div>
        <div class="span10">
            <label>
                <input type="number" name="LicenseNumber" /></label>
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="span2">
            <label>שנה</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" name="Year" value="@DateTime.Now.Year"/></label>
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="span2">
            <label>תאריך</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" class="date" name="Date" value="@DateTime.Now.ToShortDateString()"/>
            </label>
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="span2">
            <label>סימנים מיוחדים של החיה</label>
        </div>
        <div class="span10">
            <label>
                <textarea  name="PatientFeatures" > </textarea>
            </label>
        </div>
    </div>
    <br />
    @*<div class="row control-group">
        <div class="span2">
            <label>כלב נחייה</label>
        </div>
        <div class="span10">
            <label>
                <input type="checkbox" name="SeeingEyeDog" class="styled" /></label>
        </div>
    </div>*@
    
    <div class="row ">
        <div class="span2">
            <label>סכום אגרה</label>
        </div>
        <div class="span10">
            <label>
                <input type="number" name="toll" /></label>
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="span2">
            <label>לתשלום עד</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" name="payThrough" class="date" value="@DateTime.Now.ToShortDateString()" />
            </label>
        </div>
    </div>
    <br />

    <div class="controls" style="text-align: right;">
        <button type="submit" class="btn ok" style="width:100px;">
            <img src="/Content/img/RapidVet/ok-v.png">
        </button>
    </div>

}