﻿@using RapidVet.Enums
@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    var personalLetterTemplates = new List<RapidVet.Model.Clinics.LetterTemplate>();
    using (var letterTemplateRepo = new RapidVet.Repository.Clinics.LetterTemplatesRepository())
    {
        personalLetterTemplates = letterTemplateRepo.GetClinicPersonalLetters(CurrentUser.ActiveClinicId).ToList();
    }
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}
<h2>הפקת מסמכים</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>מסמכים</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LetterTemplateType l in Enum.GetValues(typeof(LetterTemplateType)))
        {
            if (l != LetterTemplateType.PersonalLetter)
            {
                if (l == LetterTemplateType.MedicalProcedureSummery)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Create", "MedicalProcedures", new { id = patientId })">
                                @RapidVet.Resources.Enums.LetterTemplateEnum.MedicalProcedureSummery
                            </a>
                        </td>
                    </tr>
                }
                else if (l == LetterTemplateType.PatientDischargePaper)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Create", "DischargePapers",new { id = patientId })">
                                @RapidVet.Resources.Enums.LetterTemplateEnum.PatientDischargePaper
                            </a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <a href="@Url.Action(l.ToString(), "Letters", new { id = patientId })">
                                @RapidVet.Resources.Enums.LetterTemplateEnum.ResourceManager.GetString(l.ToString())
                            </a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<br />
@if (personalLetterTemplates.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>מכתבים אישיים</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var personalLetter in personalLetterTemplates)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("ShowPersonalLetter", "Letters", new { id = patientId, personalLetterId = personalLetter.Id })">
                            @personalLetter.TemplateName
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}