﻿@using RapidVet.Enums
@model RapidVet.WebModels.Patients.MinistryOfAgricultureReportWebModel
@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.Client)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = Model.PatientId })
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patients/CreateMoAgReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function() {
            viewModel = new viewModel(@Model.PatientId,@Html.Raw(Json.Encode(Model.ReportTypeOptions)),
            @Html.Raw(Json.Encode(Model.ComplaintTypeOptions)),@Html.Raw(Json.Encode(Model.OffenceTypeOptions)),
            @Html.Raw(Json.Encode(Model.DischargeTypeOptions)));
            ko.applyBindings(viewModel);
        });

        $('button[type=submit]').on('click', function() {
            $('button[type=submit]').attr('disabled', 'true');
            $('#newReport').submit();
        });
    </script>
}


<h2>דיווח למשרד החקלאות</h2>


<form id="newReport" class="form-inline" method="POST" data-bind="attr:{action: postUrl}">
    <input type="hidden" name="patientId" value="@Model.PatientId"/>
@*    <div class="row control-group">
        <div class="span2">
            <label>תאריך</label>
        </div>
        <div class="span10">
            <label>
                <input class="date input-small" name="reportDate" />
            </label>
        </div>
    </div>*@

    <div class="row control-group">
        <div class="span2">
            <label>סוג אירוע</label>
        </div>
        <div class="span10">
            <label>
                <select data-bind="options: reportTypeOptions,value: reportType, optionsText: 'Text',optionsValue: 'Value'"></select></label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label>הערות</label>
        </div>
        <div class="span10">
            <label>
                <textarea name="comments"></textarea>
            </label>
        </div>
    </div>
    
      <div class="row control-group">
            <div class="span2">
                <label>
                תאריך אירוע
                </label>
            </div>
            <div class="span3">
                <label>
                    <input class="date" type="text" name="Date" value=""/>
                </label>
            </div>
        </div>

    <!------------------------------------------CHIP IMPLANT--------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.ChipImplant)">
      
        <div class="row control-group">
            <div class="span2">
                <label>
                    רישיון רופא
                </label>
            </div>

            <div class="span3">
                <label>
                    <input type="text" name="VetLicense"></input>
                </label>
            </div>
        </div>
        <div class="row control-group">
            <div class="span12">
                <input type="checkbox" name="reimplant" value="true"/>
                <input type="hidden" name="reimplant" value="false" />
                השתלה מחדש
            </div>
        </div>
    </div>
    <!------------------------------------------RABIES VACCINATION--------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.RabiesVaccination)">
 
        <div class="row control-group">
            <div class="span2">
                <label>רשיון רופא מחסן</label>
            </div>
            <div class="span3">
                <label>
                    <input type="text" name="VaccinatingVetLicense" /></label>
            </div>
        </div>
        <div class="row control-group">
            <div class="span2">
                <label>אצווה</label>
            </div>
            <div class="span3">
                <label>
                    <input type="text" name="batch" /></label>
            </div>
        </div>
    </div>
    <!------------------------------------------  ATTACK-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.Attack)">
        <div class="row control-group">
            <div class="span2">
                <label>תיאור</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="description" />
                </label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>תאריך ביטול</label>
            </div>
            <div class="span3">
                <label>
                    <label>
                        <input type="text" class="date" name="cancellationDate" /></label>
                </label>
            </div>
        </div>
    </div>
    <!------------------------------------------     COMPLAINT REPORT-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.ComplaintReport)">

        <div class="row control-group">
            <div class="span2">
                <label>סוג תלונה</label>
            </div>
            <div class="span10">
                <label>
                    <select class="input-large" data-bind="options: complaintOptions,optionsText: 'Text',optionsValue:'Value'" name="ComplaintTypeId"></select>
                </label>
            </div>
        </div>
        <div class="row control-group">
            <div class="span2">
                <label>סוג עבירה</label>
            </div>
            <div class="span10">
                <label>
                    <select class="input-large" data-bind="options:offenceOptions, optionsText: 'Text',optionsValue:'Value' " name="OffenceTypeId"></select></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>פרטי התלונה</label>
            </div>
            <div class="span10">
                <label>
                    <textarea name="ComplaintDetails"></textarea>
                </label>
            </div>
        </div>
        <div class="row control-group">
            <div class="span4">
                <input type="checkbox" name="legalProceeding" value="true"/>
                <input type="hidden" name="legalProceeding" value="false" />

                ננקט הליך משפטי
            </div>
        </div>
    </div>
    <!------------------------------------------           DANGEROUS DOG-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.DangerousDog)">
        
        <div class="row control-group">
            <div class="span2">
                <label>תאריך תום ביטוח</label>
            </div>
            <div class="span3">
                <label>
                    <input type="text" class="date" name="insuranceFinishDate" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>חברת ביטוח</label>
            </div>
            <div class="span3">
                <label>
                    <input type="text" name="insuranceCompany" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>מספר פוליסה</label>
            </div>
            <div class="span3">
                <label>
                    <input type="text" name="insuranceNumber" /></label>
            </div>
        </div>
        
        <div class="row control-group">
            <div class="span2">
                <label>סיבה</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="dangerousDogReason" /></label>
            </div>
        </div>

    </div>
    <!------------------------------------------    DOG LICENSE GRANTING-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.DogLicenseGranting)">

        <div class="row control-group">
            <div class="span2">
                <label>מספר רשיון</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="dogLicenseNumber" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>מספר אישור</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="verificationNumber" /></label>
            </div>
        </div>

    </div>
    <!------------------------------------------     FINDING A DOG-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.FindingADog)">
        
        <div class="row control-group">
            <div class="span2">
                <label>פרטים</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="details" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span12">
                <input type="checkbox" name="reportedToOwner" value="true" />
                <input type="hidden" name="reportedToOwner" value="false" />
                דיווח לבעלים
            </div>
        </div>

    </div>
    <!------------------------------------------    QUARANTINE ADMISSION -------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.QuarantineAdmission)">

        <div class="row control-group">
            <div class="span2">
                <label>שם מתקן</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="facilityName" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>סיבה</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="admissionReason" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>איש קשר</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="contactName" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>טלפון</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="phone" /></label>
            </div>
        </div>
        
    </div>
    <!------------------------------------------    QUARANTINE DISCHARGE-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.QuarantineDischarge)">

        <div class="row control-group">
            <div class="span2">
                <label>שם מתקן</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="dischargingFacilityName" /></label>
            </div>
        </div>

        <div class="row control-group">
            <div class="span2">
                <label>צורת שחרור</label>
            </div>
            <div class="span10">
                <label>
                <select data-bind="options: dischargeOptions,optionsText:'Text',optionsValue:'Value'" name="dischargeTypeId"></select>
                </label>
            </div>
        </div>
    </div>
    <!------------------------------------------     REVOKING LICENSE-------------------------------------------------->
    <div data-bind="visible: reportType()==@((int)MinistryOfAgricultureReportType.RevokingLicense)">

        <div class="row control-group">
            <div class="span2">
                <label>סיבה</label>
            </div>
            <div class="span10">
                <label>
                    <input type="text" name="revokingReason" /></label>
            </div>
        </div>
    </div>

    @Muze.OkButton()
</form>
