﻿@using RapidVet.Enums
@model RapidVet.Model.Patients.Letter
@{
    Layout = "~/Views/Shared/_PrintLetterLayout.cshtml";
}

<div>
    @Html.Raw(Model.Content)
</div>

@if (Model.LetterTemplateType == LetterTemplateType.Sterilization)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>@*nassar*@
        @Html.Raw(Model.Content)
    </div>
}

