﻿@using RapidVet.Enums
@model RapidVet.WebModels.Clients.ClientDetailsModel

@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<h2>הפקת מסמך אישור חיסון כלבת</h2>

@using (Html.BeginForm("PrePrintHub", "Letters", FormMethod.Post, new {@class="form-inline"}))
{
    <input type="hidden" name="id" id="id" value="@patientId"/>
    <input type="hidden" name="letterTemplateTypeId" id="letterTemplateTypeId" value="@((int)LetterTemplateType.RabiesVaccineCertificate)"/>
}

@Muze.OkButton()