﻿@model RapidVet.WebModels.Patients.LetterWebModel
@{
    Layout = "~/Views/Shared/_PatientsLayout.cshtml";
}

@section scripts
{
   <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Scripts/App/PatientLetter.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}



@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.Client)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = Model.PatientId })
}



<h2>הפקת מסמך @RapidVet.Resources.Enums.LetterTemplateEnum.ResourceManager.GetString(Model.LetterTemplateType.ToString())</h2>

@using (Html.BeginForm("Delete", "Letters"))
{
    <input type="hidden" name="Id" id="Id" value="@Model.Id"/>
    <button class="btn btn-primary" type="submit"><i class="icon-trash"></i>בטל הפקת טופס</button>
}

<input type="hidden" name="letterId" id="letterId" value="@Model.Id"/>
@Html.HiddenFor(m => m.PatientId)
@Html.HiddenFor(m => m.LetterTemplateTypeId)


<div class="form-horizontal">
    @Html.HiddenFor(m => m.Id)

    <div class="control-group">
        <textarea name="editor1" id="editor1" rows="10" cols="80">
            @Html.Raw(Model.Content)
        </textarea>   
    </div>

    <br />
    <br />
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls" style="position: relative; left: 158px;">
            <input type="checkbox" id="saveInAnimalFile" data-bind="checked: showInHistory" />
            תעד מסמך בתיק חיה
        </div>
    </div>

    <br />
    <br />

    <button class="btn btn-primary" id="btnSave" data-bind="click: saveForm">
        <i class="icon-file"></i>
        שמור
    </button>
    <button class="btn btn-primary" id="btnSaveAndPrint" data-bind="click: saveAndPrint">
        <i class="icon-print"></i>
        שמור והדפס
    </button>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#saveInAnimalFile").on("click", function () {
            if (document.getElementById("saveInAnimalFile").checked) {
                $("#btnSave").show();
                document.getElementById("btnSaveAndPrint").innerHTML = '<i class="icon-print"></i>שמור והדפס';
            }
            else {
                $("#btnSave").hide();
                document.getElementById("btnSaveAndPrint").innerHTML = '<i class="icon-print"></i>הדפס';
            }
        });
    });

</script>
