﻿@using RapidVet.Enums;
@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}
<h2>הפקת מסמך עיקור / סירוס</h2>

@using (Html.BeginForm("PrePrintHub", "Letters", FormMethod.Post, new { @class = "form-inline" }))
{
    <input type="hidden" name="id" id="id" value="@patientId"/>
    <input type="hidden" name="letterTemplateTypeId" id="letterTemplateTypeId" value="@((int)LetterTemplateType.Sterilization)"/>
    
    <div class="row">
        <div class="span2">
            <label>תאריך</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" class="date" name="Date" value="@DateTime.Now.ToShortDateString()"/>
            </label>
        </div>
    </div>
    <br />
    <div class="row ">
        <div class="span3">
            <label>
                @Html.RadioButton("Action", "בוצע עיקור/סירוס",true, new { @class = "styled" })
                בוצע עיקור/סירוס
            </label>
        </div>
        <div class="span5">
            <label>
                @Html.RadioButton("Action", "ביצוע עיקור/סירוס", new { @class = "styled" })
                אושר ביצוע עיקור/סירוס
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span2">
            <label>סימנים מיוחדים של החיה</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" name="patientFeatures" />
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span2">
            <label>העתק</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" name="copiesTo" />
            </label>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="span2">
            <label>הערות</label>
        </div>
        <div class="span10">
            <label>
                <input type="text" name="Comments" />
            </label>
        </div>
    </div>
    <br />

    <div class="controls" style="text-align: right;">
        <button type="submit" class="btn ok" style="width:100px;">
            <img src="/Content/img/RapidVet/ok-v.png">
        </button>
    </div>


}
