﻿@using RapidVet.WebModels.Patients
@model RapidVet.WebModels.Patients.PatientCreateModel
@*-------------------------------------------------*@
<div class="span3">
    <label>
        <span>@RapidVet.Resources.Patient.BloodType</span>
        @Html.EditorFor(model => model.BloodType)
    </label>
</div>
@*-------------------------------------------------*@
<div class="span3">
    <label>
        <span>@RapidVet.Resources.Patient.Allergies</span>
        @Html.EditorFor(model => model.Allergies)
    </label>
</div>
@*-------------------------------------------------*@
<div class="span3">
    <label>
        <span>@RapidVet.Resources.Patient.FoodType</span>
        @Html.EditorFor(model => model.FoodTypeId)
    </label>
</div>
@*-------------------------------------------------*@
<div class="span2">
    <label>
        <span>@RapidVet.Resources.Patient.FoodAmount</span>
        @Html.EditorFor(model => model.FoodAmount)
    </label>
</div>
@*-------------------------------------------------*@