﻿@model RapidVet.WebModels.Patients.PatientCommentModel
<div class="row-fluid control-group comment" style="position: relative; width: auto;">
    <input type="hidden" name="Id" value="@Model.Id"/>
    @*<div class="span2">
        <label>
            <span>@RapidVet.Resources.PatientComment.DateTime</span>
            @Html.TextBox("ValidThrough", Model.ValidThrough.ToShortDateString(), new { @class = "date-selector", @readonly = "readonly" })
        </label>
    </div>*@
    <div class="span8">
        <label>
            <span>@RapidVet.Resources.PatientComment.Comment</span>
            @Html.EditorFor(model => model.CommentBody)
        </label>
    </div>
    <div class="span3 checkbox-controler">
        <label>
            @RapidVet.Resources.PatientComment.isJumping
        </label>
      @*  @Html.CheckBox("Popup", Model.Popup, new { @class = "styled" })*@
        @Html.CheckBoxFor(model=>model.Popup)
         <a href="#" class="close-btn" onclick="RemoveElement(this,'comment');">X</a>
    </div>
</div>
