﻿@using RapidVet.WebModels.Patients
@model RapidVet.WebModels.Patients.PatientCreateModel
@{
    var birthDate = Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : string.Empty;
}
<div class="row control-group">
    @*-------------------------------------------------*@
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Patient.Age</span>
            @Html.EditorFor(model => model.Age)
        </label>
    </div>
    @*-------------------------------------------------*@
    <div class="span3">
        <label>
            <span>@RapidVet.Resources.Patient.BirthDate</span>
            @*@Html.EditorFor(model => model.BirthDate)*@
            @Html.TextBox("BirthDate", birthDate, new { @id = "BirthDate", @readonly = "true" })
        </label>
    </div>
    @*-------------------------------------------------*@
    <div class="span2 checkbox-controler">
        <label>
            @RapidVet.Resources.Patient.PureBred
        </label>
        @*        @Html.CheckBox("PureBread", Model.PureBred, new { @class = "styled" })*@
        @Html.CheckBoxFor(model => model.PureBred)
        @*      @Html.HiddenFor(model => model.PureBred)*@
    </div>
    @*-------------------------------------------------*@
    <div class="span2 checkbox-controler">
        <label>
            @RapidVet.Resources.Patient.Fertilization
        </label>
        @*        @Html.CheckBox("Fertilization", Model.Fertilization, new { @class = "styled" })*@
        @Html.CheckBoxFor(model => model.Fertilization)

        @*    @Html.HiddenFor(model => model.Fertilization)*@
    </div>
    @*-------------------------------------------------*@
    <div class="span2 checkbox-controler" id="sterilizationContainer">
        <label>
            @RapidVet.Resources.Patient.Sterilization
        </label>
        @*        @Html.CheckBox("Sterilization", Model.Sterilization, new { @class = "styled"})*@

        <input type="hidden" id="InitialSterilizationStatus" value="@Model.Sterilization"/>

        @Html.CheckBoxFor(model => model.Sterilization, new { @data_bind = "checked: Sterilization" })

    </div>
    @*-------------------------------------------------*@
    @if (Model.SterilizationDate != null)
    {
        <div class="span3 ">
            <label>
                <span>@RapidVet.Resources.Patient.SterilizationDate</span>
                <input type="text" id="SterilizationDate" name="SterilizationDate" class="date" value="@Model.SterilizationDate.Value.ToShortDateString()" data-bind="disable: !Sterilization()"/>


                @*                @Html.TextBox("SterilizationDate", Model.SterilizationDate.Value.ToShortDateString(), new { @class = "date" })*@
            </label>
        </div>
    }
    else
    {
        <div class="span3">
            <label>
                <span>@RapidVet.Resources.Patient.SterilizationDate</span>
                <input type="text" id="SterilizationDate" name="SterilizationDate" class="date" data-bind="disable: !Sterilization()" />

                @*                @Html.TextBox("SterilizationDate", Model.SterilizationDate, new { @class = "date", disabled = "disabled" })*@
            </label>
        </div>
    }

    @*-------------------------------------------------*@
</div>
@*####################################################*@

<div class="row control-group">
    @*-------------------------------------------------*@
    <div class="span2 checkbox-controler">
        <label>
            @RapidVet.Resources.Patient.SeeingEyeDog
        </label>
        @*        @Html.CheckBox("PureBread", Model.PureBred, new { @class = "styled" })*@
        @Html.CheckBoxFor(model => model.SeeingEyeDog)
        @*      @Html.HiddenFor(model => model.PureBred)*@
    </div>

    @*-------------------------------------------------*@
    <div class="span2 checkbox-controler">
        <label>
            @RapidVet.Resources.Patient.Exemption
        </label>
        @*        @Html.CheckBox("PureBread", Model.PureBred, new { @class = "styled" })*@
        @Html.CheckBoxFor(model => model.Exemption)
        @*      @Html.HiddenFor(model => model.PureBred)*@
    </div>
    @*-------------------------------------------------*@
    <div class="span3">
        <label>
            <span>@RapidVet.Resources.Patient.ExemptionCause</span>
 @Html.EditorFor(model => model.ExemptionCause)
        </label>
    </div>


    @*-------------------------------------------------*@
</div>
@*####################################################*@

<div class="row control-group">
    @*-------------------------------------------------*@
    <div class="span3">
        <label>
            <span>@RapidVet.Resources.Patient.ElectronicNumber</span>
            @Html.EditorFor(model => model.ElectronicNumber)
        </label>
    </div>
    @*-------------------------------------------------*@
    <div class="span3">
        <label>
            <span>@RapidVet.Resources.Patient.LicenseNumber</span>
            @Html.EditorFor(model => model.LicenseNumber)
        </label>
    </div>
    @*-------------------------------------------------*@
    <div class="span3">
        <label>
            <span>@RapidVet.Resources.Patient.Owner_Farm</span>
            @Html.EditorFor(model => model.Owner_Farm)
        </label>
    </div>
    @*-------------------------------------------------*@
    <div class="span3">
        <label>
            <span>@RapidVet.Resources.Patient.SAGIRNumber</span>
            @Html.EditorFor(model => model.SAGIRNumber)
        </label>
    </div>
    @*-------------------------------------------------*@
</div>
