﻿@model RapidVet.WebModels.Patients.PatientBreadcrumbs

<li><a href="@Url.Action("Index", "Home")">@RapidVet.Resources.BreadCrums.Main</a>
    <span class="divider">&gt;</span>
</li>
<li>@CurrentUser.ActiveClinic.Name
    <span class="divider">&gt;</span>
</li>
<li><a href="@Url.Action("Patients","Clients",new{id=Model.ClientId})">@Model.ClientName</a>
      <span class="divider">&gt;</span>
</li>
<li class="active">@Model.PatientName
    </li>
