﻿@using RapidVet.Model.Patients
@using RapidVet.Repository.Clinics
@using RapidVet.Model.Users
@model RapidVet.Model.Patients.Patient
@*<script type="text/javascript" src="@Url.Content("~/Scripts/App/ClientPatients.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>*@
@{ 
int defaultDr = CurrentUser.DefaultDrId.HasValue ? CurrentUser.DefaultDrId.Value : 0;

List<User> doctors;
using (IClinicRepository repository = new ClinicRepository())
{
    doctors = repository.GetClinicDoctors(CurrentUser.ActiveClinicId);
}


var selectedValue = "";
if (defaultDr != 0)
{
    selectedValue = defaultDr.ToString();
}


var list = doctors.Select(d => new SelectListItem()
{
    Value = d.Id.ToString(),
    Text = d.Name,
    Selected = d.Id.ToString() == selectedValue
});
}
<script>
    var self;

    $(document).ready(function () {
        var birthdate = $('#patientBirthDate').val();
        if(birthdate != "")
        {
            var age = getAge(birthdate, 3);
            document.getElementById('patientAge').innerHTML = age;
        }
    });

    function sendSms() {
        $('#smsModal').modal('hide');
        ShowLoder();
        $.post("/Clients/SendSms", { phone: $('#smsPhone').val(), message: $('#smsContent').val(), clientId: @Model.Client.Id }, function (data) {
            toastr.options.positionClass = "toast-top-left";
            if (data == true) {
                toastr.success("ההודעה נמסרה למשלוח");
            } else {
                toastr.error("לא ניתן לשלוח הודעה ללקוח. נא לבדוק הגדרות חשבון.");
            }
            hideLoder();
        });
    }

    function addFollowUp() {
        //var form = document.getElementById("followUpForm");
      
        $("#followUpForm").submit();
        $('#followupModal').modal('hide');
       
    }

    
    function clearClientSearch(element) {
        self.selectedClientId(undefined);
        element.value = "";
        $(".no-results").hide();
    };

    $(function () {
        self = this;
        self.selectedClientId = ko.observable();

        $(".client-search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Clients/Search",
                    type: "POST",
                    data: {
                        query: request.term
                    },
                    success: function (data) {
                        response(data);

                        if (data.length == 0) {
                            $(".no-results").show();
                            setTimeout(function () { $(".no-results").hide(); }, 5000);
                        }
                        else {
                            $(".no-results").hide();
                        }
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                event.preventDefault();
                if (self.selectedClientId == null)
                    self.selectedClientId = ko.observable(ui.item.value.toString());
                else
                    self.selectedClientId(ui.item.value.toString());

                this.value = ui.item.label;

                //window.location = "/Clients/Patients/" + ui.item.value;
            },
            focus: function (event, ui) {
                event.preventDefault();
                this.value = ui.item.label;
            }
            ,
            change: function (event, ui) {
                event.preventDefault();
                if (this.value == "undefined" || isEmptyOrWhiteSpaces(this.value) ||
                    typeof self.selectedClientId() == "undefined") {
                    clearClientSearch(this);
                }

            },
            open: function () {
                $(".ui-autocomplete").css("max-height", 120);
                $(".ui-autocomplete").css("max-width", 225);
                $(".ui-autocomplete").css("overflow-y", "auto");
                $(".ui-autocomplete").css("overflow-x", "hidden");

            }
        });
    });

    
    function getAge(dateString, dateType) {
        /*
           function getAge
           parameters: dateString dateType
           returns: boolean
        
           dateString is a date passed as a string in the following
           formats:
        
           type 1 : 19970529
           type 2 : 970529
           type 3 : 29/05/1997
           type 4 : 29/05/97
        
           dateType is a numeric integer from 1 to 4, representing
           the type of dateString passed, as defined above.
        
           Returns string containing the age in years, months and days
           in the format yyy years mm months dd days.
           Returns empty string if dateType is not one of the expected
           values.
        */
        if(dateString == "")
        {
            return;
        }
        var now = new Date();
        var today = new Date(now.getYear(), now.getMonth(), now.getDate());

        var yearNow = now.getYear();
        var monthNow = now.getMonth();
        var dateNow = now.getDate();

        if (dateType == 1)
            var dob = new Date(dateString.substring(0, 4),
                                dateString.substring(4, 6) - 1,
                                dateString.substring(6, 8));
        else if (dateType == 2)
            var dob = new Date(dateString.substring(0, 2),
                                dateString.substring(2, 4) - 1,
                                dateString.substring(4, 6));
        else if (dateType == 3)
            var dob = new Date(dateString.substring(6, 10),
                                dateString.substring(3, 5) - 1,
                                dateString.substring(0, 2));
        else if (dateType == 4)
            var dob = new Date(dateString.substring(6, 8),
                                dateString.substring(3, 5) - 1,
                                dateString.substring(0, 2));
        else
            return '';

        var yearDob = dob.getYear();
        var monthDob = dob.getMonth();
        var dateDob = dob.getDate();

        yearAge = yearNow - yearDob;

        if (monthNow >= monthDob)
            var monthAge = monthNow - monthDob;
        else {
            yearAge--;
            var monthAge = 12 + monthNow - monthDob;
        }

        if (dateNow >= dateDob)
            var dateAge = dateNow - dateDob;
        else {
            monthAge--;
            var dateAge = 31 + dateNow - dateDob;

            if (monthAge < 0) {
                monthAge = 11;
                yearAge--;
            }
        }

        return monthAge >= 12 || monthAge <= 0 ? yearAge : yearAge + '.' + monthAge;
        //  return yearAge + ' years ' + monthAge + ' months ' + dateAge + ' days'; original return value
        //   return month >= 12 || month <= 0 ? years : years + "." + month;
    }
</script>
<input type="hidden" name="patientBirthDate" id="patientBirthDate" value="@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : "")" />
<div class="row">
    <div class="span2 dontPrint">
        <img style="max-height: 50px;max-width:125px;" src="@Url.Action("ProfileImage", "Patients", new { id = Model.Id })" />
    </div>
    <div class="span10">
        <table class=" table table-bordered">
            <tr>
                <td><span style="font-weight: bold;">שם</span></td>
                <td>@Html.DisplayFor(m => m.Name)</td>

                <td><span style="font-weight: bold;">סוג</span></td>
                <td>@Html.DisplayFor(m => m.AnimalRace.AnimalKind.Value)</td>

                <td><span style="font-weight: bold;">גזע</span></td>
                <td>@Html.DisplayFor(m => m.AnimalRace.Value)</td>

                <td><span style="font-weight: bold;">גיל</span></td>
                @*<td>@ViewBag.Age</td>*@
                <td id="patientAge"></td>
                <td>
                    <span>@RapidVet.Resources.Gender.ResourceManager.GetString(((GenderEnum)Model.GenderId).ToString())</span>
                    &nbsp;

                    @if (Model.Sterilization && Model.GenderId == (int)GenderEnum.Male)
                    {
                        <span>מסורס  </span>
                    }
                    else if (Model.Sterilization && Model.GenderId == (int)GenderEnum.Female)
                    {
                        <span>מעוקרת  </span>
                    }

                </td>
                <td><span style="font-weight: bold;">משקל</span></td>
                <td>@ViewBag.weight</td>
                <td><span style="font-weight: bold;">מספר אלקטרוני</span></td>
                <td>@Model.ElectronicNumber</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">רגישויות</span></td>
                <td colspan="12" style="color:red;">@Html.DisplayFor(m => m.Allergies)</td>
            </tr>
        </table>
    </div>
</div>
<div class="row dontPrint">
    <a href="@Url.Action("Index", "Quotations", new { id = Model.Client.Id })" class="btn btn-primary">
        <i class=" icon-cog"></i>הצעות מחיר
    </a>
    <a onclick="" class="btn btn-primary" href="#smsModal" role="button" data-toggle="modal">
        <i class="icon-comment"></i>הודעת טקסט
    </a>
    <a onclick="" class="btn btn-primary" href="#ownershipModal" role="button" data-toggle="modal">
        <i class="icon-user"></i>
        החלפת בעלות
    </a>
    <a onclick="" class="btn btn-primary" href="#followupModal" role="button" data-toggle="modal">
        <i class="icon-plus"></i>
       הוספת מעקב
    </a>
</div>
<br />
<div class="modal hide fade dontPrint" id="smsModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>שליחת הודעת טקסט ללקוח</h3>
    </div>
    <div class="modal-body" style="direction: rtl;">
        <label>מספר טלפון:</label>
        <select id="smsPhone">
            @foreach (var phone in Model.Client.Phones.Where(p => p.PhoneTypeId == 1))
            {
                <option value="@phone.PhoneNumber">@phone.PhoneNumber</option>
            }
        </select>
        <label>תוכן:</label>
        <br />
        <textarea id="smsContent"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" onclick="sendSms()">שליחה</a>
        <a href="#" data-dismiss="modal" class="btn">ביטול</a>
    </div>
</div>
<div class="modal hide fade dontPrint" id="ownershipModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>העברת בעלות על החיה @Model.Name</h3>
    </div>
    <div class="modal-body" style="direction: rtl;">
        @using (Html.BeginForm("ChangeOwnership", "Clients", FormMethod.Post, new { @class = "form-inline" }))
        {
            <input type="hidden" name="clientId" id="clientId" value="@Model.Client.Id" />
            <input type="hidden" name="id" value="@Model.Client.Id" />
            <input type="hidden" name="patientId" value="@Model.Id" />
            <input type="hidden" name="destinationOwnerId" data-bind="value: self.selectedClientId" />
            <div class="row-fluid ">
                <div class="span2">
                    <label>בחר לקוח</label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" class="client-search search-query"
                               style="border:1px solid gray; width: 190px;padding-top: 3px;" placeholder="@RapidVet.Resources.Global.Search" />
                    </label>
                    <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label>
                </div>

                @*<div class="span9">
                        <label>

                            <select required data-bind="value: selectedClientId, options: clientOptions, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                        </label>
                    </div>*@
            </div>

            <br />
            <div>
                <div class="controls" style="text-align: right;">
                    <button type="submit" class="btn ok">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>
        }

    </div>
   
</div>

<div class="modal hide fade dontPrint" id="followupModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>הוספת מעקב - @Model.Name</h3>
    </div>
@using (Ajax.BeginForm("CreateFromPatientFile", "FollowUps", null, new AjaxOptions()
        {
            HttpMethod = "Post",
            OnSuccess = "Success"
        },
                           new
                               {
                                   @class = "form-inline",
                                   @id="followUpForm"
                               }))
    { 
        <input type="hidden" name="patientId" value="@Model.Id" />
        <div class="modal-body">
        
            <div class="row ">
                <div class="span2">
                    <label style="height: 24px;">תאריך</label>
                </div>
                <div class="span4">
                    <label style="width:233px;">

                        @*@Html.TextBox("DateTime", DateTime.Now.ToString("yyyy-MM-dd"), new { type = "date" })*@
                        <input type="date" id="DateTime" name="DateTime" data-date="" data-date-format="DD/MM/YYYY" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        @*<input id="DateTime" name="DateTime" type="date" value="@string.Format("{0:yyyy-MM-dd}",DateTime.Now)}" />*@

                    </label>
                </div>
            </div>

            <div class="row ">
                <div class="span2">
                    <label style="height: 40px;">הערה</label>
                </div>
                <div class="span4">
                    <label>
                        <textarea cols="20" id="Comment" name="Comment" rows="2"></textarea>

                    </label>
                </div>
            </div>

            <div class="row ">
                <div class="span2">
                    <label style="height: 24px;">רופא</label>
                </div>
                <div class="span4">
                    <label>
                        <select id="UserId" name="UserId">
                            @foreach (var doctor in list)
                            {
                                <option value="@doctor.Value" @if (doctor.Selected) { <text> selected="selected" </text>    }>@doctor.Text</option>
                            }
                        </select>

                    </label>
                </div>
            </div>
        </div>
       
            <div class="controls" style="text-align: center;    margin-top: 15px;">
                <button type="button" onclick="addFollowUp()" class="btn ok">
                    <img src="/Content/img/RapidVet/ok-v.png">
                </button>
            </div>
           
       
    }
</div>




