﻿@using RapidVet.WebModels.Patients
@model RapidVet.WebModels.Patients.PatientCreateModel

<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/AutoComplete_DropDown/jquery-ui.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
<script type="text/javascript" src="@Url.Content("~/Scripts/AutoComplete_DropDown/jquery-ui.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/AutoComplete_DropDown/jquery-ui.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/AutoComplete_DropDown/ComboBox.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<style type="text/css">
    .txtAC {
        width: 200px;
        margin-top: 11px;
        height: 14px;
        background-color: #E6E6E6;
        margin-right: 5px;
    }

    .tblHead1 {
        vertical-align: middle;
        padding-top: 9px;
        font-size: 14px;
    }

    .dontShow {
        display: none;
    }

    .custom-combobox {
        position: relative;
        display: inline-block;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
        width:130px;
        margin-top:5px;
    }
    .custom-combobox-toggle{
        margin-top:5px;
        width:30px;
        background-color:lightgrey;
        background-image:url("../../Content/img/RapidVet/arrow_drop_down.png");
        height:30px;
        margin-right:-2px;
    }
    #Name {
        height:25px;
        margin-top:-3px;
    }
    select {
        height:30px !important;
        width:180px !important;
    }
</style>


<div class="span7">
    @*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*@
    <div class="row-fluid control-group" id="animal">
        @*-------------------------------------------------*@
        <div class="span3">
            <label>
                <span>@RapidVet.Resources.Patient.Name</span> @Html.EditorFor(model => model.Name)
            </label>
            <div id="nameError" style="color:red;margin-right: 30px;margin-top: -5px;display:none;">
                אנא הזן שם
            </div>
        </div>
        @*-------------------------------------------------*@
        <input type="hidden" id="InitialAnimalKindId" value="@Model.AnimalKindId" />
        <input type="hidden" id="AnimalKindId" name="AnimalKindId" data-bind="value: animalKindId" />
        <select class="input-small" id="ddlOrgAnimalKind" data-bind="options: kindOptions, value: animalKindId, optionsText: 'Text', optionsValue: 'Value'" required="" style="display:none;"></select>
        <div class="span3">
            <table cellpadding="2" cellspacing="2" width="100%">
                <tr>
                    <td class="tblHead1">
                        @RapidVet.Resources.Patient.AnimalKind
                    </td>
                    <td>
                        @*<input id="acAnimalKind" class="input-small txtAC">*@
                        <select id="comboboxAnimalKind" class="input-small txtAC"> </select>
                    </td>
                </tr>
            </table>

            <div id="kindError" style="color:red;margin-right: 30px;margin-top: -5px;display:none;">
                אנא בחר סוג
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.oldAnimalType) && !string.IsNullOrEmpty(Model.oldAnimalRace))
        {
            <text> @(string.Format("תכנה ישנה ({0} - {1})", Model.oldAnimalType, Model.oldAnimalRace))</text>
        }
        @*-------------------------------------------------*@

            @*              @Html.EditorFor(model => model.AnimalRaceId)*@
            <input type="hidden" id="InitialAnimalRace" value="@Model.AnimalRaceId" />
            <input type="hidden" id="AnimalRaceId" name="AnimalRaceId" data-bind="value: animalRaceId" />
            <select class="input-small" id="ddlAnimalRace" data-bind="options: raceOptions, value: animalRaceId, optionsText: 'Text', optionsValue: 'Value'" required="" style="display:none;"></select>
            <div class="span3">
                <table cellpadding="2" cellspacing="2" width="100%">
                    <tr>
                        <td class="tblHead1">
                            @RapidVet.Resources.Patient.AnimalRace
                        </td>
                        <td>
                            @*<input id="acAnimalRace" class="input-small txtAC">*@
                            <select id="comboboxAnimalRace" class="input-small txtAC"> </select>
                        </td>
                    </tr>
                </table>
                <div id="raceError" style="color:red;margin-right: 30px;margin-top: -5px;display:none;">
                    אנא בחר גזע
                </div>
            </div>
            @*-------------------------------------------------*@
        </div>
        @*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*@
        <div class="row-fluid control-group">
            <div class="span6">
                <div class="dontShow">
                    @Html.EditorFor(model => model.AnimalColorId)
                </div>

                <table cellpadding="2" cellspacing="2" width="100%">
                    <tr>
                        <td class="tblHead1">
                            @RapidVet.Resources.Patient.AnimalColor
                        </td>
                        <td>
                            @*<input id="acAnimalColor" class="input-small txtAC" style="width:177px;">*@
                            <select id="comboboxAnimalColor" class="input-small txtAC"></select>
                            <div id="colorError" style="color:red;margin-right: 30px;margin-top: -5px;display:none;">
                                אנא בחר צבע
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span3">
                        <label>@RapidVet.Resources.Patient.Gender</label>
                    </div>
                    <div class="span8">
                        @Html.EditorFor(model => model.GenderId)
                    </div>
                </div>
            </div>
        </div>
        @*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*@
    </div>
    @*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*@
    <div class="span1">&nbsp;</div>
    @*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*@
    <div class="span4">
        @*-------------------------------------------------*@
        <div class="row-fluid control-group">
            <label>

                <img style="max-height: 150px; max-width: 400px; padding: 1em; position: relative; margin: auto; display: block;" class="ProfileImage" src="@Url.Action("ProfileImage", new { id = Model.Id })" />
                <a href="#" class="upload-document-image" style="display:none;">Upload Image</a>
                <input type="file" id="profilePic" onchange="handleFiles(this)" name="profilePic" title="@RapidVet.Resources.Global.SelectFile" value="@RapidVet.Resources.Global.SelectFile" accept="image/*" />


                @* <span class="document-image-frame">
                        <a href="#" class="upload-document-image">Upload Image</a>
                        <input type="file" accept="image/*" style="display:none" onchange="handleFiles(this)" />
                    </span>*@

            </label>
        </div>
        <div id="fileError" style="margin-top: -15px; color:red; display:none;">

        </div>
        <div class="row-fluid">
            <div class="span10">
                @*-------------------------------------------------*@
                <div class="row-fluid checkbox-controler">
                    <label>
                        @RapidVet.Resources.Patient.AnimalDangerous
                    </label>
                    @Html.CheckBox("AnimalDangerous", Model.AnimalDangerous, new { @class = "styled" })
                </div>
                @*-------------------------------------------------*@
                <div class="row-fluid checkbox-controler">
                    <label>
                        @RapidVet.Resources.Patient.HumanDangerous
                    </label>
                    @Html.CheckBox("HumanDangerous", Model.HumanDangerous, new { @class = "styled" })
                </div>
                @*-------------------------------------------------*@
            </div>
            <div class="span1">
                <div class="checkbox-controler">
                    <label>
                        פעיל
                    </label>
                    @Html.CheckBox("Active", Model.Active, new { @class = "styled" })
                    @*-------------------------------------------------*@
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var t = 0;
        function SetInint() {
            t++;
            if (document.readyState == "complete") {
               
                var options = $("#animalColorId").html();
                $('#comboboxAnimalColor').html(options);

                options = $("#ddlOrgAnimalKind").html();
                $('#comboboxAnimalKind').html(options);
                

                $("#comboboxAnimalKind").combobox({
                    select: function (event, ui) {
                        $('#AnimalRaceId').val('0');

                        var label = ui.item.label;
                        var value = ui.item.value;
                        //store in session

                        $("#comboboxAnimalKind option").each(function () {
                            if ($(this).text() == label) {
                                document.valueSelectedForacAnimalKind = $(this).val();
                                $('#ddlOrgAnimalKind').val($(this).val());
                                $('#AnimalKindId').val($(this).val());
                                var valRace = $('#AnimalRaceId').val();
                                
                                updateRace($(this).val());
                                selfAll.updateRace($(this).val());

                                if (valRace * 1.0 > 0) {
                                    $('#AnimalRaceId').val(valRace)
                                }
                                return;
                            }
                        });
                    }
                });
                $("#comboboxAnimalColor").combobox({
                    select: function (event, ui) {                       
                        var label = ui.item.label;
                        var value = ui.item.value;

                        $("#animalColorId option").each(function () {
                            if ($(this).text() == label) {
                                document.valueSelectedForacAnimalColor = $(this).val();
                                $('#animalColorId').val($(this).val());
                                return;
                            }
                        });

                        var valRace = $('#AnimalRaceId').val();
                        
                        SetInint();
                        var txt = "";
                        try {
                            if (valRace * 1.0 > 0) {
                                var qs = {
                                    kindId: $('#AnimalKindId').val()
                                };
                                $.get('/Patients/GetAnimalRaceOptions', $.param(qs), function (data) {
                                    var obj = []

                                    for (var i = 0; i < data.length; i++) {
                                        var selected = "";

                                        if (data[i].Value * 1.0 == valRace * 1.0) {
                                            selected = "selected='selected'";
                                            txt = data[i].Text;
                                        }
                                        if (data[i].Text.length > 1)
                                            obj.push("<option " + selected + " value='" + data[i].Value + "'>" + data[i].Text + "</option>");
                                    }

                                    $('#comboboxAnimalRace').html(obj);
                                    $('#comboboxAnimalRace')[0].parentElement.children[1].children[0].value = txt;
                                });

                                $('#AnimalRaceId').val(valRace);
                                $("#comboboxAnimalRace").val(valRace);
                            }
                        }
                        catch (e) {
                        }
                    },
                    
                });
                $("#toggle").on("click", function () {                    
                    $("#comboboxAnimalColor").toggle();
                });
                
                $("#comboboxAnimalRace").combobox({
                    select: function (event, ui) {
                        var label = ui.item.label;
                        var value = ui.item.value;
                        //store in session
                        
                        document.valueSelectedForacAnimalKind = value;
                        $('#AnimalRaceId').val(value);
                        updateRace(value);
                        return;
                    }
                });
             
                $("#toggle").on("click", function () {
                    $("#comboboxAnimalRace").toggle();
                });
                updateRace($('#AnimalKindId').val());
                $("#comboboxAnimalKind")[0].parentElement.children[1].children[0].value = $("#ddlOrgAnimalKind :selected").text();
                $("#comboboxAnimalRace")[0].parentElement.children[1].children[0].value = $("#ddlAnimalRace :selected").text();
            }
            
        }
        document.onreadystatechange = function () {
            SetInint();
        }
        var self = this;
        updateRace = function (newValue) {
            $("#comboboxAnimalRace")[0].parentElement.children[1].children[0].value = "";
                if (typeof newValue !== 'undefined') {
                    var qs = {
                        kindId: newValue
                    };
                    $.get('/Patients/GetAnimalRaceOptions', $.param(qs), function (data) {
                        var obj = []
                        
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Text.length > 1)
                                obj.push("<option value='" + data[i].Value + "'>" + data[i].Text + "</option>");
                        }
                        
                        $('#comboboxAnimalRace').html(obj);
                    });
                }
        };
    </script>
