﻿@using RapidVet.WebModels.Patients
@model RapidVet.WebModels.Patients.PatientCreateModel
@{
    var formId = "mainForm";
    var submitBtnId = "submit-btn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumb
{
    <li><a href="@Url.Action("Index", "Home")">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li><a href="@Url.Action("Patients", "Clients", new { id = Model.ClientId })">@Model.Client.Name</a>
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.BreadCrums.NewPatient</li>
}
@section scripts{
    <script src='@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patient.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    @*    <script type="text/javascript" src="@Url.Content("~/Scripts/Vendor/jquery.cascadingdropdown.js")"> </script>*@

    <!-----knockout patch for DDL----->
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patients/PatientCreateEdit.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    @if (IsPost)
    {
        <script type="text/javascript">

            var viewModel;
            $(function() {
                InitEditForm();

                viewModel = new raceAndKindDDL();
                ko.applyBindings(viewModel);
            });
        </script>
    }
    else
    {
        <script type="text/javascript">

            var viewModel;
            $(function() {
                InitCreateForm();

                viewModel = new raceAndKindDDL();
                ko.applyBindings(viewModel);
            });
        </script>
    }

    <script>
        $(function () {
            HideValidFormSubmitBtn('mainForm', 'submit-btn');
        });
    </script>

}


<div class="row control-group">
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.Client)
</div>

<div class="row-fluid">
    @using (Html.BeginForm("Create", "Patients", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data", id = formId }))
    {
        @Html.HiddenFor(model => model.ClientId)
        
@*####################################################*@
        <div class="row-fluid">
            @Html.Partial("_TopRow", Model)
        </div>
@*####################################################*@
        @Html.Partial("_MiddleRow", Model)
@*####################################################*@
        <div class="row-fluid control-group small-controller-group">
            @Html.Partial("_BottomRow", Model)
        </div>
@*####################################################*@
        <a class="client-add-btn" href="#" onclick="AppendComment();"><i class="icon-plus"></i>@RapidVet.Resources.Patient.AddComment</a> 
        <div id="comments">
            @if (Model.Comments.Any())
            {
                foreach (var comment in Model.Comments)
                {
                @Html.Partial("_Comment", comment)
                }
            }
            else
            {
                @Html.Partial("_Comment", new PatientCommentModel() { ValidThrough = DateTime.Now, Id = 0 })
            }
        </div>
@*####################################################*@
        <div class="row-fluid">
            <div class="controls" style="text-align: left;">
                <button type="submit" class="btn ok" id="@submitBtnId" onclick="return validateForm();">
                    <img src="/Content/img/RapidVet/ok-v.png">
                </button>
            </div>
        </div>
    }
</div>


<div style="display: none">

    <div id="commentTemplate" class="template">
        @Html.Partial("_Comment", new PatientCommentModel() { ValidThrough = DateTime.Now })
    </div>

</div>
