﻿@model RapidVet.WebModels.Patients.PatientCreateModel
@using RapidVet.WebModels.Patients

@{
    Layout = "~/Views/Shared/_PatientsLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/FileUploadRest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src='@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patient.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
@*    <script type="text/javascript" src="@Url.Content("~/Scripts/Vendor/jquery.cascadingdropdown.js")"> </script>*@
    
    <!-----knockout patch for DDL----->
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patients/PatientCreateEdit.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

            <script type="text/javascript">

                var viewModel;

            $(function() {
                InitEditForm();

                //knockout patch!
                viewModel = new raceAndKindDDL();
                ko.applyBindings(viewModel);
            });

            </script>
        
    }

@section clientDetailsBar
{
    @Html.Action("GetClientDetailsBar", "Base", new { id = Model.Id})
}


<div class="row-fluid">
    @using (Html.BeginForm("Edit", "Patients", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClientId)
        
@*####################################################*@
        <div class="row-fluid">
            @Html.Partial("_TopRow", Model)
        </div>
@*####################################################*@
        @Html.Partial("_MiddleRow", Model)
@*####################################################*@
        <div class="row-fluid control-group small-controller-group">
            @Html.Partial("_BottomRow", Model)
        </div>
@*####################################################*@
        <a class="client-add-btn" href="#" onclick="AppendComment();"><i class="icon-plus"></i>@RapidVet.Resources.Patient.AddComment</a> 
        <div id="comments">
            @if (Model.Comments.Any())
            {
                foreach (var comment in Model.Comments)
                {
                @Html.Partial("_Comment", comment)
                }
            }
            else
            {
                @Html.Partial("_Comment", new PatientCommentModel() { ValidThrough = DateTime.Now, Id = 0 })
            }
        </div>

@*####################################################*@
        <div>&nbsp;</div>
        <div class="row-fluid">
            <div class="controls" style="text-align: left;">
                <button type="submit" class="btn ok" onclick="return validateForm();">
                    <img src="/Content/img/RapidVet/ok-v.png"></button>
            </div>
        </div>
    }
</div>


<div style="display: none">

    <div id="commentTemplate" class="template">
        @Html.Partial("_Comment", new PatientCommentModel() { ValidThrough = DateTime.Now })
    </div>

</div>
