﻿
  <style type="text/css">
      input {
          margin-right: -50px;
      }

      .row {
          margin-bottom: 5px;
      }
      /*label {
        width: 170px;
        text-align: right;
        margin-right: 12px;
    }*/
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style=" width: 27px; height: 25px; font-size: 20px; top: 8px;color:black">×</button>    
    <h3>@RapidVet.Resources.Controllers.Account.ForgotPasswordCaption</h3>
</div>

@using (Ajax.BeginForm("ResetMyPasswordRequest", "Account", new AjaxOptions() { HttpMethod = "GET" }, new { @class = "form-horizontal",  id = "resetPassword", enctype = "multipart/form-data" }))
{
    <div class="modal-body">
       @RapidVet.Resources.Controllers.Account.ForgotPasswordText
        <br />
        <br />
         <div class="row">
            <div class="span2">
                @RapidVet.Resources.Controllers.Account.Username
            </div>
            <div class="controls">
                <label>
                    <input type="text" id="username" name="username" class="input-medium" />
                </label>
            </div>

        </div>
     </div>  
        <div class="modal-footer">
            <div class="row">
                <div class="span6" style="margin-top: 15px; position:relative;text-align: center;">
                    <a class="btn btn-primary" onclick="resetMyPassword()" style="width:100px;">@RapidVet.Resources.Global.Ok</a>

                    <a onclick="$('#forgotPasswordModal').modal('hide')" class="btn btn-inverse" style="width:100px;">@RapidVet.Resources.Global.Cancellation</a>
                </div>

            </div>
          
        </div>
        }


<script type="text/javascript">
    function resetMyPassword() {
        $('#resetPassword').submit();
        $('#forgotPasswordModal').modal('hide')
       
    }
</script>


