﻿@model string
  
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style=" width: 27px; height: 25px; font-size: 20px; top: 8px;color:black">×</button>    
    <h3>@RapidVet.Resources.Controllers.Account.ForgotPasswordCaption</h3>
</div>

    <div class="modal-body">
       @Model
        
     </div>  
        <div class="modal-footer">
            <div class="row">
                <div class="span6" style="margin-top: 15px; position:relative;text-align: center;">
                   
                    <a onclick="$('#forgotPasswordStatusModal').modal('hide')" class="btn btn-primary" style="width:100px;">@RapidVet.Resources.Global.Ok</a>
                </div>

            </div>
         </div>
        




