﻿@if (Request.IsAuthenticated)
{
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user">
        </i>@User.Identity.Name <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @* <li class="divider"></li>*@
            <li><a href="@Url.Action("LogOff", "Account")">@RapidVet.Resources.Controllers.Account.LogOff</a></li>
        </ul>
    </div>
}
else
{
        
    <a class="btn pull-right" href="@Url.Action("LogOn", "Account")">@RapidVet.Resources.Controllers.Account.LogOn</a>
}
