﻿@model RapidVet.WebModels.Users.LogOnModel
@{
    ViewBag.Title = RapidVet.Resources.WebModels.Account.LogOnTitle;
    Layout = "";
}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Rapid Vet @typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/RapidCssBundle.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
    <style>
        body {
            padding-top: 190px;
            padding-bottom: 40px;
        }

        #UserName, #Password {
            position: absolute;
            right: 120px;
            margin-top: -1px;
            margin-right: 0px;
        }
    </style>
</head>
<body dir="rtl" id="login-page" style="background-color: #EBE6E0">
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
        improve your experience.</p>
    <![endif]-->
    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->


    <div class="container" style="width: 69vw; background-color: white; height: initial; margin-top: -7vw; box-shadow: 4px -4px 30px 1px;" align="center">
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-inline" }))
        {
@*@Html.Partial("_FormValidationSummary")*@
            if (!Html.ViewData.ModelState.IsValid)
            {
            <div class="alert alert-error" align="center" style="font-size: small; height: auto; padding-left: 30px; padding-top: 15px; width: 310px; top: 24vh;right: 16vw;">
                @Html.ValidationSummary()
            </div>
            }
            
            <div class="row" style="margin-top: 9vw;" align="center">
                <div class=" right">
                    <div style="color: gray; font-size: 4vw; line-height: 18vh; margin-bottom: -12vh;">
                כניסה למערכת
            </div>
                    <div class="input" style="margin-top: 115px; width: 65vw; border: 0px; background-color: white; border-radius: 0px;" >
                        <label>
                            @* <span>שם משתמש:</span>*@@Html.TextBoxFor(m => m.UserName, new { style = "background-color: white;border-bottom: 1px solid lightgray; width: 43vw;font-size: 2vw;height: 8vh;", @placeholder = "שם משתמש" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </label>
                    </div>

                    <div class="input" style="width: 65vw; border: 0px; background-color: white; border-radius: 0px;margin-bottom: 4vh;margin-top: 4vw;">
                        <label>
                            @* <span>סיסמה:</span>*@@Html.PasswordFor(m => m.Password, new { style = "width: 20vw;background-color: white;border-bottom: 1px solid lightgray; width: 43vw;font-size: 2vw;height: 8vh;", @placeholder = "סיסמה" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </label>
                    </div>
                    <div class="checkbox-controler " style="float: right; margin-top: 6vw; width: 29vw; margin-right: 13vw;">

                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "styled", @style = "float: right;" })
                        <label style="position: relative;">זכור משתמש במיקום זה</label>

                    </div>

                    <div class=" right" align="center">
                        <img style="right: 29vw;width: 8vw;top: 5vh;position:absolute;" class="logo" src="/Content/img/RapidVet/LargeLogo.png">
                        <button style="position: relative; font-size: 3vw; top: 4vh; height: 58px; width: 22vw;" type="submit" class="btn btn-primary ok" onclick="if($(this).valid()){$('#loder').show();}">כניסה</button>

                    </div>
                    <div style="display: block; position: static; margin-top: 8vw;" align="center">
                        <a style="font-size: 16px; text-decoration: underline;"
                            onclick="showResetPasswordDialog()" href="#">שכחתי סיסמה</a>
                    </div>
                </div>


            </div>
           
             

        }


    </div>
    <div style="margin-left: auto; margin-right: auto; width: 64vw;margin-top: 1vh;">
        <div class=" row">
            <div class="" style="float: right; font-size: 17px;">
                לתמיכה צור קשר עם מרכז התמיכה של רפיד 073-2-615615
            </div>
            <div style="margin: auto; position: relative; float: left; left: 23px;">Version: @typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version</div>

        </div>
    </div>

    <script src="@Url.Content("~/Scripts/CDN/jquery-1.8.3.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
    @Html.Partial("_Scripts")

    <script>
        $(function () {
            $("input[type=text]:first").focus();


        });



    </script>

    <div id="loder">
        <div id="fountainG">
            <div id="fountainG_1" class="fountainG">
            </div>
            <div id="fountainG_2" class="fountainG">
            </div>
            <div id="fountainG_3" class="fountainG">
            </div>
            <div id="fountainG_4" class="fountainG">
            </div>
            <div id="fountainG_5" class="fountainG">
            </div>
            <div id="fountainG_6" class="fountainG">
            </div>
            <div id="fountainG_7" class="fountainG">
            </div>
            <div id="fountainG_8" class="fountainG">
            </div>
        </div>
    </div>


    <div id="forgotPasswordModal" class="modal hide fade" role="dialog" aria-hidden="true" style="width: 500px"></div>
    <div id="forgotPasswordStatusModal" class="modal hide fade" role="dialog" aria-hidden="true" style="width: 500px"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#loder').hide();
        });

        var hideInterval;
        var checkInterval;
        var time = 10000;

        function showResetPasswordDialog() {
            GetModal('@Url.Action("ForgotPassword", "Account")', 'forgotPasswordModal');
            var visible = $('#forgotPasswordModal').hasClass('in');

            hideInterval = setInterval(hideInformation, 500);
        }

        function hideInformation() {

            if (!$('#forgotPasswordModal').hasClass('in')) {
                clearInterval(hideInterval);
                checkInterval = setInterval(checkInformation, 1000);
            }
        }

        function checkInformation() {

            if (time > 0) {
                getCookieMessages();
                time = time - 1000;
            }
            else {
                clearInterval(checkInterval);
                time = 10000;
            }
        }







    </script>
</body>
</html>
