﻿@model RapidVet.WebModels.Users.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "";
}


<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Rapid Vet @typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/RapidCssBundle.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
    <script src="@Url.Content("~/Scripts/CDN/jquery-1.8.3.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>

    <style type="text/css">
        body {
            padding-top: 190px;
            padding-bottom: 40px;
        }

        #ConfirmPassword, #NewPassword {
            position: absolute;
            right: 120px;
            margin-top: -1px;
            margin-right: 0px;
        }

        #login-page label {
            font-size: 1.1em;
        }

        #login-page .logo {
            position: absolute;
            left: 2vw;
            top: 2vh;
            width: 8vw;
            right: inherit;
        }

       .field-validation-error{
            position: relative;
            right: 120px;
            float: left;
            width: 250px;
        }
    </style>
</head>
<body dir="rtl" id="login-page">

    <div class="container" style="width: 750px;padding-right: 15px;">
        <br /><br />

        <h1>@RapidVet.Resources.Controllers.Account.ResetPassword</h1>
        <br />
        <label>
            @string.Format(RapidVet.Resources.WebModels.Account.ChangePasswordCaption, Model.UserName)
        </label>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-inline" }))
        {
            
           <input type="hidden" name="Id" value="@Model.Id.Value" />
           <input type="hidden" name="UserName" value="@Model.UserName" />
            <div class="row">
                <div class="span6 right">
                    <div style="margin-top: 35px;">
                        <label>
                            @Html.LabelFor(m => m.NewPassword)
                        </label>
                        @Html.PasswordFor(m => m.NewPassword, new { style = "width: 200px;" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div>
                        <label>
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </label>

                        @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width: 200px;" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>


                    <button type="submit" class="btn btn-small ok" 
                            style="width: 30%; position: relative; top: 30px; height: 50px; right: 0px;">
                        <img src="/Content/img/RapidVet/ok-v.png" style="width:40%;">
                    </button>

                </div>
                <div class="span6 left">
                    <img class="logo" src="/Content/img/RapidVet/LargeLogo.png">
                </div>
            </div>
        }
    </div>
    <div id="loder">
        <div id="fountainG">
            <div id="fountainG_1" class="fountainG">
            </div>
            <div id="fountainG_2" class="fountainG">
            </div>
            <div id="fountainG_3" class="fountainG">
            </div>
            <div id="fountainG_4" class="fountainG">
            </div>
            <div id="fountainG_5" class="fountainG">
            </div>
            <div id="fountainG_6" class="fountainG">
            </div>
            <div id="fountainG_7" class="fountainG">
            </div>
            <div id="fountainG_8" class="fountainG">
            </div>
        </div>
    </div>

</body>
</html>