﻿@model IEnumerable<RapidVet.WebModels.Finance.Reports.SalesReportWebModel>
    @{
    var lastItemId = 0;
    var counter = 0;
    }





    <table class="table table-bordered fix-negativ">
        <thead>
            <tr>
                @if (ViewBag.GroupBySeller)
            {
                    <th>@RapidVet.Resources.SalesReport.AddedBy</th>
            }
                <th>@RapidVet.Resources.SalesReport.ItemName</th>
                <th>@RapidVet.Resources.SalesReport.CatalogNumber</th>
                <th>@RapidVet.Resources.SalesReport.Category</th>
                <th>@RapidVet.Resources.SalesReport.Date</th>
                <th>@RapidVet.Resources.SalesReport.Quantity</th>
                <th>@RapidVet.Resources.SalesReport.Sum</th>
                <th>@RapidVet.Resources.SalesReport.CustomerName</th>
                <th>@RapidVet.Resources.SalesReport.RelatedDoc</th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @if (!ViewBag.GroupBySeller)
        {
            foreach (var itemId in ViewBag.itemIds)
            {
                var items = Model.Where(m => m.PriceListItemId == itemId).OrderBy(m => m.Created);
                if (items.Any())
                { 
                foreach (var i in items)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelI => i.ItemName)</td>
                        <td>@Html.DisplayFor(modelI => i.CatalogNumber)</td>
                        <td>@Html.DisplayFor(modelI => i.CategoryName)</td>
                        <td>
                            @if (i.Created != DateTime.MinValue)
                        {
                                @i.Created.ToShortDateString()
                        }
                        </td>
                        <td>@Html.DisplayFor(modelI => i.Quantity)</td>
                        <td>@Html.DisplayFor(modelI => i.Price)</td>
                        @if(i.ClientId != 0)
                        { 
                        <td><a href="@Url.Action("PaymentsHistory", "Clients", new { id = i.ClientId })">@Html.DisplayFor(modelI => i.ClientName)</a></td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelI => i.ClientName)</td>
                        }
                        <td>@Html.DisplayFor(modelI => i.Doctor)</td>
                        @*<td>
                                <a href="@Url.Action("PaymentsHistory", "Clients", new { id = i.ClientId })" class="btn btn-primary" style="width: 86px;">
                                <i class="icon-user"></i>
                                @RapidVet.Resources.SalesReport.ClientFile
                                </a>
                            </td>*@
                    </tr>
                }
                <tr class="well ">
                    <td colspan="9" style="direction:rtl;">
                        @if (itemId == 0)
                        {
                            <strong>@RapidVet.Resources.SalesReport.NonPriceItem </strong>
                        }
                        else
                        {
                            <strong>@items.First().ItemName </strong>                            
                        }
                        |
                        <strong>@RapidVet.Resources.SalesReport.PriceSum </strong>
                        <label style="display: inline-block;direction:ltr;">@items.Sum(m => m.Price).ToString("N2")</label>
                        |
                        <strong>@RapidVet.Resources.SalesReport.QuantitySum </strong>
                        <label style="display: inline-block;direction:ltr;">@items.Sum(m => m.Quantity)</label>
                    </td>
                </tr>
                }
            }
        }
        else
        {
            foreach (var userId in ViewBag.userIds)
            {
                var items = Model.Where(m => m.AddedByUserId == userId).OrderBy(m => m.Created);
                if (items.Any())
                { 
                foreach (var i in items)
                {
                <tr>
                    <td>@Html.DisplayFor(modelI => i.AddedBy)</td>
                    <td>@Html.DisplayFor(modelI => i.ItemName)</td>
                    <td>@Html.DisplayFor(modelI => i.CatalogNumber)</td>
                    <td>@Html.DisplayFor(modelI => i.CategoryName)</td>
                    <td>
                        @if (i.Created != DateTime.MinValue)
                        {
                            @i.Created.ToShortDateString()
                        }
                    </td>
                    <td>@Html.DisplayFor(modelI => i.Quantity)</td>
                    <td>@Html.DisplayFor(modelI => i.Price)</td>
                    @if (i.ClientId != 0)
                    {
                        <td><a href="@Url.Action("PaymentsHistory", "Clients", new { id = i.ClientId })">@Html.DisplayFor(modelI => i.ClientName)</a></td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelI => i.ClientName)</td>
                    }
                    <td>@Html.DisplayFor(modelI => i.Doctor)</td>
                        @*<td>
                                <a href="@Url.Action("PaymentsHistory", "Clients", new { id = i.ClientId })" class="btn btn-primary" style="width: 86px;">
                                <i class="icon-user"></i>
                                @RapidVet.Resources.SalesReport.ClientFile
                                </a>
                            </td>*@
                </tr>
                }
                <tr class="well ">
                    <td colspan="9" style="direction:rtl;">
                        <strong>@items.First().AddedBy </strong>
                        |
                        <strong>@RapidVet.Resources.SalesReport.PriceSum </strong>
                        <label style="display: inline-block;direction:ltr;">@items.Sum(m => m.Price).ToString("N2")</label>
                        |
                        <strong>@RapidVet.Resources.SalesReport.QuantitySum </strong>
                        <label style="display: inline-block;direction:ltr;">@items.Sum(m => m.Quantity)</label>
                    </td>
                </tr>
                }
            }
    }
</tbody>
</table>
