﻿@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/AnnualBalance.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<style>
    td {
        direction: ltr; text-align: right
    }
        .validationMessage {
        color: red !important;
    }
</style>

<h2>מאזן שנתי</h2>

<div class="form-inline well">
    <div class="row control-group">
        <div class="span1">
            <label>מנפיק</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="value: issuerId, options: issuers, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>
        <div class="span1">
            <label>שנה</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="value: selectedYear, options: years, optionsCaption: 'בחר..'"></select>
            </label>
        </div>
    </div>
    <button class="btn btn-primary btn-large" data-bind="click: search">
        <i class="icon-search"></i>
        חיפוש
    </button>
</div>
<div data-bind="visible: dislpayResult">
    <br />
    <br />
    <a class="btn btn-primary" data-bind="attr: { href: printUrl }" target="_blank">
        <i class="icon-print"></i>
        הדפס
    </a>
    <a class="btn btn-primary" data-bind="attr: { href: fileUrl }" target="_blank">
        <i class="icon-download"></i>
        ייצוא לאקסל
    </a>
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>חודש</th>
                <th>הכנסות</th>
                <th>הוצאות</th>
                <th>השקעה בציוד קבוע</th>
                <th>מקדמות</th>
                <th>מע"מ לתשלום</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: months">
            <tr>
                <td data-bind="text: MonthName"></td>
                <td data-bind="text: Income"></td>
                <td data-bind="text: Expenses"></td>
                <td data-bind="text: PermanentAssets"></td>
                <td data-bind="text: Advances().toFixed(2)"></td>
                <td data-bind="text: VatToPay().toFixed(2)"></td>
            </tr>
        </tbody>
    </table>
</div>
