﻿@model dynamic

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/DailyCashFlow.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new viewModel();

            ko.applyBindings(viewModel);
        });

    </script>

}


<h2>דוח תזרים מזומנים</h2>

<div class="form-inline well">
    <div class="row control-group">
            <div class="span1">
                <label>
                   חודש:</label>
            </div>
            <div class="span2">
                <label>
                    @*         <input class="date input-small " data-bind="value: fromDate">*@
                    <select  data-bind="options: months,optionsValue: 'Value',optionsText: 'Name',value: selectedMonth" class="input-small"></select>
                </label>
            </div>
       
  
            <div class="span1">
                <label>שנה</label>
            </div>
            <div class="span2">
                <label>
                    @*      <input class="date input-small" data-bind="value: toDate">*@
                    <select data-bind="options: years,value:selectedYear" class="input-small"></select>
                </label>
            </div>
        <div class="span2"><label>מנפיק</label></div>
        <div class="span3">
            <label>
                <select class="input-medium" data-bind="options: issuers,optionsText:'Text',optionsValue:'Value',value:selectedIssuer"></select>
            </label>
        </div>
    </div>
    <div class="row ">
        <label>
            <button class="btn btn-primary" data-bind="click: display">הצג</button>
        </label>
    </div>
</div>

<div class="row" data-bind="visible: displayResult">
    <table class="table table-bordered table-striped">
        <thead>
            <th>תאריך</th>
            <th>הכנסות</th>
            <th>הוצאות</th>
        </thead>
        <tbody data-bind="foreach: result">
            <tr>
                <td data-bind="text: Date"></td>
                <td data-bind="text: Incoming"></td>
                <td data-bind="text: Outgoing"></td>
            </tr>
        </tbody>
    </table>
</div>