﻿@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/Cheques.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>דו"ח המחאות</h2>
<br />
<br />


<div class="well form-inline">
    <div class="row control-group">
        <div class="span1">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date" readonly data-bind="value: fromDate" />
            </label>
        </div>

        <div class="span1">
            <label>עד תאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date" readonly data-bind="value: toDate" />
            </label>
        </div>
        
        <div class="span2">
            <label>מנפיק</label>
        </div>
        <div class="span2">
            <label><select data-bind="options: issuers,optionsText: 'Text',optionsValue:'Value',value: selectedIssuer"></select></label>
        </div>
    </div>
    @*##################*@
    <div class="row control-group">
        <div class="span3">
            <input type="radio" value="0" data-bind="checked: documentType" />הצג חשבונית
        </div>
        <div class="span3">
            <input type="radio" value="1" data-bind="checked: documentType" />הצג קבלות
        </div>
        <div class="span3">
            <input type="radio" value="true" data-bind="checked: paidCheques" />הצג המחאות שנפרעו
        </div>
        <div class="span3">
            <input type="radio" value="false" data-bind="checked: paidCheques" />הצג המחאות עתידיות
        </div>

    </div>
    <div class="row control-group">
        <div class="span12">
            <label>
                <button class="btn btn-primary" data-bind="click: getData, disable: noSearch">
                    <i class="icon-search"></i>
                    הצג
                </button>
            </label>
        </div>
    </div>
</div>
<br />
<br />
<a class="btn btn-primary" target="_blank" data-bind="attr:{href: printUrl}">
    <i class="icon-print"></i>
    הדפסה
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הלקוח</th>
            <th>בנק</th>
            <th>סניף</th>
            <th>מספר חשבון</th>
            <th>מספר המחאה</th>
            <th>סכום</th>
            <th>מספר חשבונית</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: cheques">
        <tr>
            <td data-bind="text: DateStr"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: BankName"></td>
            <td data-bind="text: BankBranch"></td>
            <td data-bind="text: AccountNumber"></td>
            <td data-bind="text: ChequeNumber"></td>
            <td data-bind="text: Amount"></td>
            <td data-bind="text: FinanceDocumentSerial"></td>
        </tr>
    </tbody>
</table>
