﻿@{

    <script type="text/javascript" src="@Url.Content("~/Scripts/Grid/jquery.jqGrid.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/jquery-ui-1.10.4.min.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/ui.jqgrid.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/css/grid.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/ClientsInDebt.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Grid/grid.locale-he.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Grid/grid.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        BackClick = function () {
            $('#fsMain').show("fast");
            $('#dGrid').hide();
            $('#dBackBtn').hide();
        }
        function ShowGrid() {
            SetReportGrid($('#ReportType').val(), $('#ddlDocType').val());
        }

        function GetWidth(per) {
            return winWidth * per / 100 + "px";
        }

        var winWidth = $(window).width() - 60;
        var isLoaded = false;
        var l = document.location.toString();
        var url = l.substr(0, l.toLocaleLowerCase().indexOf('/financereports/'));
        function GetClientInDebtData() {
            $('#fsMain').hide("fast");
            $('#dGrid').show("fast");
            $('#dBackBtn').show();

            if (isLoaded) {
                setTimeout("ReLoadGrid(\"" + url + "/FinanceReports/GetClientInDebtDataGrid?isToSearch=true&fromSum=" + escape($('#fromSum').val()) + "&toSum=" + escape($('#toSum').val())
                    + "&vetID=" + escape(($('#cbIsVet')[0].checked ? $(".Vet").val() : "0")) + "&dtNotVisitedUfter=" + escape(($('#cbIsVetVisitedAfter')[0].checked ? $("#dpVetVisitedAfter").val() : "0"))
                    + "&dtFrom=" + escape(($('#cbIsdpVet')[0].checked ? $("#dpVetFrom").val() : "0")) + "&dtTo=" + escape(($('#cbIsdpVet')[0].checked ? $("#dpVetTo").val() : "0")) + "\");", 10);
                return;
            }
            GridURL = url + "/FinanceReports/GetClientInDebtDataGrid?isToSearch=true&fromSum=" + escape($('#fromSum').val()) + "&toSum=" + escape($('#toSum').val())
                    + "&vetID=" + escape(($('#cbIsVet')[0].checked ? $(".Vet").val() : "0")) + "&dtNotVisitedUfter=" + escape(($('#cbIsVetVisitedAfter')[0].checked ? $("#dpVetVisitedAfter").val() : "0"))
                    + "&dtFrom=" + escape(($('#cbIsdpVet')[0].checked ? $("#dpVetFrom").val() : "0")) + "&dtTo=" + escape(($('#cbIsdpVet')[0].checked ? $("#dpVetTo").val() : "0"));

            $("#jqGrid").jqGrid({
                url: GridURL,
                mtype: "POST",
                datatype: "json",
                data: "",
                colModel: [
                    { label: 'שם', name: 'ClientName', width: GetWidth(25), align: "Right", editable: true, stype: "text", sorttype: "text" },//key: true,
                    {
                        label: 'סכום החוב', name: 'DebtAmount', width: GetWidth(25), align: "Right", editable: true, stype: "text", sorttype: "float", formatter: MoneyShekelFormatter,
                        searchoptions: {
                            searchOperators: true,
                            searchOnEnter: true,
                            sopt: ['eq', 'gt', 'lt']
                        },
                    },
                    { label: 'קישור לתיק לקוח', name: 'ClientUrl', width: GetWidth(25), align: "Right", editable: true, stype: "link", sorttype: "text", formatter: LinkFormatterTik },
                    {
                        label: 'תאריך ביקור אחרון', name: 'LastVisitStr', width: GetWidth(25), align: "Right", editable: true, stype: "text", sorttype: "date", formatoptions: { newformat: 'd/m/Y' }, datefmt: 'd/m/Y',
                        searchoptions: {
                            searchOperators: true,
                            searchOnEnter: true,
                            sopt: ['gt', 'eq', 'lt'],
                            dataInit: function (elem) {
                                $(elem).datepicker({
                                    dateFormat: 'dd/mm/yy',
                                    changeYear: true,
                                    changeMonth: true,
                                    showWeek: true,
                                    onSelect: function (dateText, inst) {
                                        setTimeout(function () {
                                            $('#jqGrid')[0].triggerToolbar();
                                        }, 100);
                                    }
                                });
                            }
                        },
                        formatoptions: {
                            srcformat: 'd/m/Y',
                            newformat: 'd/m/Y'


                        }
                    }
                ],
                loadError: function (xhr, st, err) {
                    //debugger;
                    //;alert("Type: " + st + "; Response: " + xhr.status + " " + xhr.statusText);
                },
                altRows: true,
                direction: "rtl",
                viewrecords: true,
                height: 510,
                rowNum: 300,
                pager: "#jqGridPager",
                loadonce: true,
                pager: '#jQGridPager',
                prmNames: { page: "pageNumber", rows: "rowSize" },
                viewrecords: true,
                sortname: "ClientName",
                sortorder: 'asc',
                caption: "<div id='dHeaderT'>דוח חובות</div>",
                toppager: false,
                lang: "he",
                loadComplete: function (data) {
                    isLoaded = true;
                    SetExport(GridURL, 'jqGrid');
                   
                }
            });
            $('#jqGrid').jqGrid('filterToolbar', { searchOnEnter: true, ignoreCase: true, searchOperators: true, defaultSearch: 'cn', stringResult: false, sopt: ['gt', 'eq', 'lt'] });
            $('#jqGrid').jqGrid('navGrid', '#jQGridPager', {
                edit: false,
                add: false,
                del: false,
                refresh: true
            });
            //fixSearchOperators();
        }
        function fixSearchOperators() {
            var $grid = $("#jqGrid"),
                columns = $grid.jqGrid('getGridParam', 'colModel'),
                filterToolbar = $($grid[0].grid.hDiv).find("tr.ui-search-toolbar");

            filterToolbar.find("th").each(function (index) {
                var $searchOper = $(this).find(".ui-search-oper");
                if (!(columns[index].searchoptions && columns[index].searchoptions.searchOperators)) {
                    $searchOper.hide();
                }
            });
        }
    </script>
}


@*@using (Html.BeginForm())
    {*@
@using (Ajax.BeginForm("Create", "Archives", new AjaxOptions() { HttpMethod = "POST" }, new { @class = "form-inline", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            <h2>חובות</h2>
        </div>
    </div>
    <div id="dBackBtn" style="display:none;">
        <a class="btn btn-primary" href="javascript:BackClick();">
            <i class="icon-search"></i>
            << חיפוש
        </a>
    </div>
    <br />
    <div style="direction: rtl; width: 700px; float: right; height: 480px;display:none;" align="center" id="dGrid">
        <table id="jqGrid"></table>
        <div id="jQGridPager" class="pager">
        </div>
    </div>

    <fieldset id="fsMain">
        <div class="leg">סינונים</div>
        <table cellpadding="2" cellspacing="2" width="100%" class="tblFilters">
            <tr>
                <td class="HeadDoch">
                    מסכום:
                </td>
                <td>
                    <input type="number" id="fromSum" autocomplete="off" class="FilterDebt msum" value="1.00" />
                </td>
                <td class="HeadDoch">
                    עד סכום:
                </td>
                <td>
                    <input type="number" id="toSum" autocomplete="off" class="FilterDebt" value="999999.00" />
                </td>
            </tr>
            <tr>
                <td class="HeadDoch">
                    <input type="checkbox" id="cbIsVet" />
                </td>
                <td class="HeadDoch" colspan="3">
                    <table cellpadding="2" cellspacing="2" style="" width="100%">
                        <tr>
                            <td class="HeadDoch" style="padding-right:5px;">
                                חתך וטרינר:
                            </td>
                            <td>
                                <select data-bind="options: doctors, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedDoctorId" class="FilterDebt FilterSelect Vet">
                                    @foreach (var d in Model.Doctors)
                                    {
                                        <option value="@d.Value">@d.Text</option>
                                    }
                                </select>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="HeadDoch">
                    <input type="checkbox" id="cbIsVetVisitedAfter" />
                </td>
                <td class="HeadDoch" colspan="3">
                    <table cellpadding="2" cellspacing="2" style="" width="100%">
                        <tr>
                            <td class="HeadDoch" style="padding-right:5px;">
                                לא ביקרו לאחר:
                            </td>
                            <td>
                                <input type="text" class="dpVetVisitedAfter" readonly="" autocomplete="off" id="dpVetVisitedAfter" style="width: 148px;">

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="HeadDoch">
                    <input type="checkbox" id="cbIsdpVet" />
                </td>
                <td class="HeadDoch" colspan="3">
                    <table cellpadding="2" cellspacing="2" style="" width="100%">
                        <tr>
                            <td>
                                <input type="text" class="dpVet" readonly="" autocomplete="off" id="dpVetFrom" style="width: 148px;">
                            </td>
                            <td class="HeadDoch">
                                ועד
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                <input type="text" class="dpVet" readonly="" autocomplete="off" id="dpVetTo" style="width: 148px;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div align="center">
            <button class="btn btn-primary btn-large" id="btnSearchDebt" data-bind="click: search" onclick="GetClientInDebtData();">
                <i class="icon-search"></i>
                הצג נתונים
            </button>
        </div>
    </fieldset>
}
@section scripts{
    <script type="text/javascript">
        function InitDP(id) {
            $("#" + id).datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onSelect: function (dateText, inst) {
                }
            });
        }
        function Init() {
            $.datepicker.setDefaults($.datepicker.regional["he"]);

            InitDP('dpVetVisitedAfter');
            InitDP('dpVetFrom');
            InitDP('dpVetTo');

            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var output = (day < 10 ? '0' : '') + day + '/' +
                            (month < 10 ? '0' : '') + month + '/' +
                            d.getFullYear();
            $("#dpVetVisitedAfter").val(output);

            $("#dpVetFrom").val("01/01/" + d.getFullYear());
            $("#dpVetTo").val("31/12/" + d.getFullYear());
        }
        Init();
        $('#tblRes').css("display", "none");
    </script>
}
