﻿@model List<SelectListItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/ExpensesDistribution.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new viewModel(@Html.Raw(Json.Encode(Model)));

            ko.applyBindings(viewModel);
        });

    </script>

}
<h2>התפלגות הוצאות</h2>
<div class="form-inline well">
    <div class="row">
        <div class="row">
            <span class="span2">
                <label>
                    מתאריך:</label>
            </span>
            <span class="span3">
                <label>
                    <input class="date input-small " data-bind="value: fromDate" readonly>
                </label>
            </span>
        </div>
        <div class="row">
            <span class="span2">
                <label>עד תאריך</label>
            </span>
            <span class="span3">
                <label>
                    <input class="date input-small" data-bind="value: toDate" readonly>
                </label>
            </span>
        </div>
    </div>
    
    <div style="position:relative; display:none; color:red; font-weight:bold;" id="datesError">אנא הזן תאריכים</div>
    <br />
    <div class="row">
        <div data-bind="foreach: items">
            <span style="padding: 10px; display: -webkit-inline-box;">
                <input type="checkbox" data-bind="checked: Selected, disable: ($parent.selectedNumber() >= 6) && !Selected()" />
                <span data-bind="text: Text"></span>
            </span>
        </div>
    </div>
    <div class="row ">
        <label>
            <button class="btn btn-primary" data-bind="click: display">הצג</button>
        </label>
    </div>
</div>

<div class="row" data-bind="if: displayGraph">
    <img id="result" style="display: block; margin-left:auto;margin-right:auto" src=""/>
</div>