﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/Income.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>@RapidVet.Resources.Income.Title</h2>


<div class="form-inline well">
    <div class="row control-group">
        <div class="span1">
            <label>@RapidVet.Resources.Income.Issuer</label>
        </div>
        <div class="span3">
            <label>
                
                <select data-bind="value: issuerId, options: issuers, optionsCaption: optionsCaption, optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>



        <div class="span2">
            <label>@RapidVet.Resources.Income.PaymentMethod</label>
        </div>
        <div class="span5" data-bind="foreach: paymentTypes" style="line-height: 44px;">
            <input type="checkbox" data-bind="checked: Slected" />
            <span data-bind="text: Text"></span>
        </div>
    </div>
    <div class="row control-group">
        <div class="span1">
            <label>@RapidVet.Resources.Income.DocType</label>
        </div>

        <div class="span7" data-bind="foreach: documentTypes" style="line-height: 44px;">
            <input type="checkbox" data-bind="checked: Slected" />
            <span data-bind="text: Text"></span>
        </div>
    </div>


    @*##############################################*@
    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.Income.FromDate</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: fromDate" />
            </label>
        </div>

        <div class="span2">
            <label>@RapidVet.Resources.Income.ToDate</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: toDate" />
            </label>
        </div>
    </div>

    <button class="btn btn-primary btn-large" data-bind="click: search">
        <i class="icon-search"></i>
        @RapidVet.Resources.Income.Search
    </button>
</div>


<a class="btn btn-primary" target="_blank" data-bind="attr: { href: printUrl }">
    <i class="icon-print"></i>
    @RapidVet.Resources.Income.Print
</a>
@if (CurrentUser.IsExcelExport)
{
    <a class="btn btn-primary" target="_blank" data-bind="attr: { href: exportUrl }">
        <i class="icon-download"></i>
        @RapidVet.Resources.Income.Download
    </a>
}

<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Income.Date</th>
            <th>@RapidVet.Resources.Income.ClientName</th>
            <th>@RapidVet.Resources.Income.Status</th>
            <th>@RapidVet.Resources.Income.DocId</th>
            <th>@RapidVet.Resources.Income.DocType</th>
            <th>@RapidVet.Resources.Income.PriceSum</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: documents">
        <tr>
            <td data-bind="text: CreatedDate"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: ClientStatus"></td>
            <td data-bind="text: DocumentSerialNumber"></td>
            <td data-bind="text: FinanceDocumentType"></td>
            <td data-bind="text: TotalToPay" style="direction: ltr;"></td>
            <td><a class="btn btn-primary" data-bind="attr: { href: PrintUrl }">
                <i class="icon-print"></i>
                @RapidVet.Resources.Income.Print
            </a></td>
        </tr>
    </tbody>
</table>

<h4>
    <span>@RapidVet.Resources.Income.FoundDocs</span>
    <span data-bind="text: documents().length"></span>
    <span>&nbsp;|&nbsp;</span>
    <span>@RapidVet.Resources.Income.SumDocs</span>
    
    <span style="display: inline-block;" class="fix-negativ" data-bind="text: totalDocmentsSum"></span>
</h4>


