﻿<h2>דוח"ות פיננסיים</h2>


<ul class="nav nav-tabs nav-stacked">
    <li>
        <a href="@Url.Action("Income", "FinanceReports")">הכנסות</a>
    </li>
    <li>
        <a href="@Url.Action("ClientsInDebt", "FinanceReports")">חובות</a>
    </li>
    <li>
        <a href="@Url.Action("PaymentMethodsSegmentation","FinanceReports")">התפלגות אמצעי תשלום</a>
    </li>
    <li>
        <a href="@Url.Action("ChequesReport","FinanceReports")">דו"ח המחאות</a>
    </li>
    <li>
        <a href="@Url.Action("InvoiceReport","FinanceReports")">פירוט חשבוניות תקופתי</a>
    </li>
    <li>
        <a href="@Url.Action("ExpensesDistribution","FinanceReports")">התפלגות הוצאות</a>
    </li>
    <li>
        <a href="@Url.Action("CashFlow","FinanceReports")">תזרים מזומנים </a>
    </li>
    <li>
        <a href="@Url.Action("YearlyCashFlow","FinanceReports")">תזרים מזומנים שנתי</a>
    </li>
</ul>
