﻿@{
    bool redirected = false;

    if (Request.QueryString["RedirectedFromReciptToInvoice"] != null)
    {
        redirected = true;
    }
    
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/InvoiceReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">  
    label > select {
        width: 159px !important;
        margin-top: -2px;
        position: relative;
    }
       
</style>

<input type="hidden" id="redirected" name="redirected" value="@redirected" />   
 <input type="hidden" id="invoiceString" name="invoiceString" value="@RapidVet.Resources.Enums.Finances.FinanceDocumentType.ResourceManager.GetString(RapidVet.Enums.Finances.FinanceDocumentType.Invoice.ToString())" />
<input type="hidden" id="invoiceReciptString" name="invoiceReciptString" value="@RapidVet.Resources.Enums.Finances.FinanceDocumentType.ResourceManager.GetString(RapidVet.Enums.Finances.FinanceDocumentType.InvoiceReceipt.ToString())" />
<input type="hidden" id="refundString" name="refundString" value="@RapidVet.Resources.Enums.Finances.FinanceDocumentType.ResourceManager.GetString(RapidVet.Enums.Finances.FinanceDocumentType.Refound.ToString())" />


<h2>פירוט חשבוניות תקופתי</h2>

<div class="form-inline well">

    <div class="row">
        <div class="span1">
            <label>
                מנפיק
            </label>
        </div>
        <div class="span2" style=" margin-left: 50px;">
            <label>
                <select data-bind="options: issuers,optionsText:'Text',optionsValue:'Value',value: selectedIssuer"></select></label>
        </div>
        <div class="span1">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: fromDate" />
            </label>
        </div>

        <div class="span1">
            <label>עד תאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: toDate" />
            </label>
        </div>
        <div class="span3">
            <input type="checkbox" data-bind="checked: onlyConvertedInvoices" style="margin-top: 2px;" />
            הצג רק חשבוניות שהומרו מקבלה
        </div>
    </div>
    <br />
    <button class="btn btn-primary btn-large" data-bind="click: search">
        <i class="icon-search"></i>
        חיפוש
    </button>
        <button class="btn btn-primary btn-large" data-bind="click: print">
        <i class="icon-print"></i>
        הדפסה
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: ExportToExcel">
        <i class="icon-download"></i>
        יצוא לExcel
    </button>
</div>

<table class="table table-bordered table-striped ">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הלקוח</th>
            <th>מזומן</th>
            <th>העברה בנקאית</th>
            <th>חברת אשראי</th>
            <th>סוג עסקה</th>
            <th>סכום באשראי</th>
            <th>בנק</th>
            <th>סניף</th>
            <th>מספר חשבון</th>
            <th>מספר המחאה</th>
            <th>סכום המחאה</th>
            <th>סה"כ סכום</th>
            <th>סוג</th>
            <th>מספר</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: results" >
        <tr>
            <td data-bind="text: Date"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: Cash" class="fix-negativ"></td>
            <td data-bind="text: Transfer" class="fix-negativ"></td>
            <td data-bind="text: CreditCardCompany"></td>
            <td data-bind="text: CreditCardBusinessType"></td>
            <td data-bind="text: CreditAmount" class="fix-negativ"></td>
            <td data-bind="text: BankName"></td>
            <td data-bind="text: BankBranchName"></td>
            <td data-bind="text: BankAccountNumber"></td>
            <td data-bind="text: ChequeNumber"></td>
            <td data-bind="text: ChequeAmount" class="fix-negativ"></td>
            <td data-bind="text: TotalAmount" class="fix-negativ"></td>
            <td data-bind="text: FinanceDocumentType"></td>
            <td data-bind="text: FinanceDocumentSerialNumber"></td>
        </tr>
    </tbody>
</table>

<div data-bind="visible: showSummary">
    
    <div class="row">
        <div class="span2">
            <label>
                סה"כ בחשבוניות מס קבלה:
            </label>
        </div>
        <div class="span3">
            <label data-bind="text: totalInvoiceRecipts" class="fix-negativ">                
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>
                סה"כ בחשבוניות מס:
            </label>
        </div>
        <div class="span3">
            <label data-bind="text: totalInvoices" class="fix-negativ">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>
                סה"כ בחשבוניות זיכוי:
            </label>
        </div>
        <div class="span3">
            <label data-bind="text: totalRefunds" class="fix-negativ">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>
                סה"כ ללא מע"מ:
            </label>
        </div>
        <div class="span3">
            <label data-bind="text: totalWithoutVat" class="fix-negativ">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>
                המע"מ:
            </label>
        </div>
        <div class="span3">
            <label data-bind="text: totalVat" class="fix-negativ">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>
                סה"כ כולל מע"מ:
            </label>
        </div>
        <div class="span3">
            <label data-bind="text: totalIncludingVat" class="fix-negativ">
            </label>
        </div>
    </div>
</div>