﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/PaymentMethodsSegmentation.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>התפלגות אמצעי תשלום</h2>
<br />
<br />

<div class="well form-inline">
    <div class="row control-group">
        <div class="span1">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date" readonly data-bind="value: fromDate" />
            </label>
        </div>

        <div class="span1">
            <label>עד תאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date" readonly data-bind="value: toDate" />
            </label>
        </div>
        <div class="span2">
            <label>מנפיק</label>
        </div>
        <div class="span2">
            <label>
                <select data-bind="options: issuers, optionsText: 'Text',optionsValue:'Value',value: selectedIssuer"></select>
            </label>
        </div>
    </div>
    @*##################*@
    <div class="row control-group">
        <div class="span6">
            <input type="radio" value="true" data-bind="checked: createdDate" />הצג לפי תאריך הנפקה
        </div>
        <div class="span6">
            <input type="radio" value="false" data-bind="checked: createdDate" />הצג לפי תאריך פרעון
        </div>

    </div>
    <div class="row control-group">
        <div class="span12">
            <label>
                <button class="btn btn-primary" data-bind="click: getData, disable: noSearch">
                    <i class="icon-search"></i>
                    הצג
                </button>
            </label>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>מזומן</th>
            <th>המחאות</th>
            <th>כרטיסי אשראי</th>
            <th>העברות בנקאיות</th>
            <th>סה"כ כולל מע"מ</th>
            @*<th>סה"כ ללא מע"מ</th>*@
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-bind="text: cash"></td>
            <td data-bind="text: cheques"></td>
            <td data-bind="text: creditCards"></td>
            <td data-bind="text: transfers"></td>
            <td data-bind="text: totalIncludeVat"></td>
            @*<td data-bind="text: totalNoVat"></td>*@
        </tr>
    </tbody>
</table>
