﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/PeriodTaxCalculation.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {

            viewModel = new viewModel();

            ko.applyBindings(viewModel);
        });

    </script>
}
<style>
    td {
        direction: ltr;
        text-align: right;
    }

    .validationMessage {
        color: red !important;
    }
</style>

<h2>חישוב מס תקופתי</h2>
<div class="form-inline well">

    <div class="row control-group">
        <div class="row">
            <span class="span2">
                <label>
                    מתאריך:</label>
            </span>
            <span class="span3">
                <label>
                    <input class="date input-small" data-bind="value: FromDate" />
                </label>
            </span>
        </div>
        <div class="row">
            <span class="span2">
                <label>עד תאריך</label>
            </span>
            <span class="span3">
                <label>
                    <input class="date input-small" data-bind="value: ToDate" />
                </label>
            </span>

        </div>
        <div class="row">
            <span class="span2">
                <label>מנפיק</label>
            </span>
            <span class="span3">
                <label>
                    <select data-bind="options: issuers, optionsText: 'Text', optionsValue: 'Value', value: selectedIssuer"></select>                   
                </label>
            </span>
            <span class="span2">
                <label>
                    <button class="btn btn-primary" data-bind="click: LoadData">הצג</button>
                </label>
            </span>
        </div>
    </div>

</div>
<div data-bind="visible: reportVisible">
    <!----------------------------------------INCOME TAX REPORT------------------------------------------------------------>
    <h3>דו"ח מס הכנסה</h3>
    <div class="form-inline">
        <div class="row control-group">

            <table class="report-table">
                <tbody>
                    <tr>
                        <td>
                            <label>מחזור עסקי ללא מע"מ</label>
                        </td>
                        <td>
                            <label data-bind="text: TuroverNoVAT().toFixed(2)"></label>
                        </td>
                        <td>
                            <label>אחוז מקדמות</label>
                        </td>
                        <td>
                            <label data-bind="text: AdvancedPaymentPercent"></label>
                        </td>
                        <td>
                            <label>מקדמה על פי % מהמחזור העסקי</label>
                        </td>
                        <td class="span2">
                            <label data-bind="text: AdvanceByTurnoverPercent().toFixed(2)"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>ניכויים במקור לקיזוז </label>
                        </td>
                        <td>
                            <label>
                                <input type="number" class="input-mini" data-bind="value: OriginDeduction" />
                            </label>
                        </td>
                        <td>
                            <label>סה"כ ניכויים</label></td>
                        <td>
                            <label>
                                <input type="number" class="input-mini" data-bind="value: OverallDeductions" />
                            </label>
                        </td>
                        <td>
                            <label>סה"כ ניכויים + מחזור עסקי</label></td>
                        <td>
                            <label data-bind="text: DeductionAndTurnover().toFixed(2)"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                סה"כ לתשלום
                            </label>
                        </td>
                        <td>
                            <label data-bind="text: OverallToPay().toFixed(2)"></label>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>
    <!-------------------------------------------------------VAT REPORT------------------------------------------------>
    <div>
        <h3>דו"ח מע"מ</h3>
        <div class="form-inline">
            <div class="row control-group">
                <table class="report-table">
                    <tbody>
                        <tr>
                            <td>
                                <label>עסקאות פטורות</label></td>
                            <td>
                                <label data-bind="text: NoVATDeals().toFixed(2)"></label>
                            </td>
                            <td>
                                <label>עסקאות חייבות</label></td>
                            <td>
                                <label data-bind="text: WithVATDeals().toFixed(2)"></label>
                            </td>
                            <td>
                                <label>מע"מ על העסקאות</label></td>
                            <td>
                                <label data-bind="text: VATonDeals().toFixed(2)"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>מס תשומות על ציוד ונכסים קבועים</label></td>
                            <td>
                                <label data-bind="text: PermanentAssetsInputTax().toFixed(2)"></label>
                            </td>
                            <td>
                                <label>מס על תשומות אחרות</label></td>
                            <td>
                                <label data-bind="text: OtherInputTax().toFixed(2)"></label>
                            </td>
                            <td>
                                <label></label>
                            </td>
                            <td>
                                <label></label>
                            </td>
                        </tr>
                        <tr>
                            <td>סה"כ לתשלום</td>
                            <td colspan="5">
                                <label data-bind="text: OverallVAT().toFixed(2)"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
