﻿@model IEnumerable<RapidVet.WebModels.Finance.Reports.DetectionWebModel>
    @{
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }
    @{        
        decimal sum = 0;
    }
    <h2>דו"ח תקבולים</h2>
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>שם הלקוח</th>
                <th>סטטוס</th>
                <th>מספר מסמך</th>
                <th>סוג מסמך</th>
                <th>סכום שהתקבל</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelR => r.CreatedDate)</td>
                    <td>@Html.DisplayFor(modelR => r.ClientName)</td>
                    <td>@Html.DisplayFor(modelR => r.ClientStatus)</td>
                    <td>@Html.DisplayFor(modelR => r.DocumentSerialNumber)</td>
                    <td>@Html.DisplayFor(modelR => r.FinanceDocumentType)</td>
                    <td style="direction: ltr;text-align: right;">@Html.DisplayFor(modelR => r.TotalToPay)</td>
                </tr>
                
                sum += r.TotalToPay;
            }
        </tbody>
    </table>
    <h4>
        <span>@RapidVet.Resources.Income.FoundDocs</span>
        <span >@Model.Count()</span>
        <span>&nbsp;|&nbsp;</span>
        <span>@RapidVet.Resources.Income.SumDocs</span>

        <span style="display: inline-block;direction:ltr;text-align:right;">@sum.ToString("#.##")</span>
    </h4>

