﻿@model IEnumerable<RapidVet.WebModels.Finance.Reports.ChequeReportModel>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<h2>דו"ח המחאות</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הלקוח</th>
            <th>בנק</th>
            <th>סניף</th>
            <th>מספר חשבון</th>
            <th>מספר המחאה</th>
            <th>סכום</th>
            <th>מספר חשבונית</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelR => r.DateStr)</td>
                <td>@Html.DisplayFor(modelR => r.ClientName)</td>
                <td>@Html.DisplayFor(modelR => r.BankName)</td>
                <td>@Html.DisplayFor(modelR => r.BankBranch)</td>
                <td>@Html.DisplayFor(modelR => r.AccountNumber)</td>
                <td>@Html.DisplayFor(modelR => r.ChequeNumber)</td>
                <td>@Html.DisplayFor(modelR => r.Amount)</td>
                <td>@Html.DisplayFor(modelR => r.FinanceDocumentSerial)</td>
            </tr>
        }
    </tbody>
</table>
