﻿@model IEnumerable<RapidVet.WebModels.Finance.Reports.InvoiceReportWebModel>
    @{
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }

    <style type="text/css">
        .fix-negativ{
            direction: ltr;
            text-align: right;
        }

        
        label {
            display: block;
            margin-bottom: 5px;            
        }

        .span2 {
            width: 165px;
            float: right;
        }

        .span3 {
            width: 220px;
        }
    </style>

    @{
        decimal totalInvoiceRecipts = 0;
        decimal totalInvoices = 0;
        decimal totalRefunds = 0;
        decimal totalWithoutVat = 0;
        decimal totalVat = 0;
        decimal totalIncludingVat = 0;
                
    }

    <h2>פירוט חשבוניות תקופתי</h2>
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>תאריך</th>
                <th>שם הלקוח</th>
                <th>מזומן</th>
                <th>העברה בנקאית</th>
                <th>חברת אשראי</th>
                <th>סוג עסקה</th>
                <th>סכום באשראי</th>
                <th>בנק</th>
                <th>סניף</th>
                <th>מספר חשבון</th>
                <th>מספר המחאה</th>
                <th>סכום המחאה</th>
                <th>סה"כ סכום</th>
                <th>סוג</th>
                <th>מספר</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {             
                <tr>
                    <td>@r.Date</td>
                    <td>@r.ClientName</td>
                    <td class="fix-negativ">@r.Cash</td>
                    <td class="fix-negativ">@r.Transfer</td>
                    <td>@r.CreditCardCompany</td>
                    <td>@r.CreditCardBusinessType</td>
                    <td class="fix-negativ">@r.CreditAmount</td>
                    <td>@r.BankName</td>
                    <td>@r.BankBranchName</td>
                    <td>@r.BankAccountNumber</td>
                    <td>@r.ChequeNumber</td>
                    <td class="fix-negativ">@r.ChequeAmount</td>
                    <td class="fix-negativ">@r.TotalAmount</td>
                    <td>@r.FinanceDocumentType</td>
                    <td>@r.FinanceDocumentSerialNumber</td>
                </tr>
                
                if (r.FinanceDocumentType == RapidVet.Resources.Enums.Finances.FinanceDocumentType.Invoice)
                {
                    if (r.TotalAmount.HasValue)
                    {
                        totalInvoices += r.TotalAmount.Value;
                    }
                }
                else if (r.FinanceDocumentType == RapidVet.Resources.Enums.Finances.FinanceDocumentType.InvoiceReceipt)
                {
                    if (r.TotalAmount.HasValue)
                    {
                        totalInvoiceRecipts += r.TotalAmount.Value;
                    }
                }
                else if (r.FinanceDocumentType == RapidVet.Resources.Enums.Finances.FinanceDocumentType.Refound)
                {
                    if (r.TotalAmount.HasValue)
                    {
                        totalRefunds += r.TotalAmount.Value;
                    }
                }

                decimal beforeVat = decimal.Round(r.TotalAmount.Value / r.VAT, 2, MidpointRounding.AwayFromZero); 
                totalWithoutVat += beforeVat;
                totalVat += r.TotalAmount.Value - beforeVat;
                totalIncludingVat += r.TotalAmount.Value;                
            }
        </tbody>
    </table>
    <br />
    <div>

        <div class="row">
            <div class="span2">
                <label>
                    סה"כ בחשבוניות מס קבלה:
                </label>
            </div>
            <div class="span3">
                <label>@decimal.Round(totalInvoiceRecipts, 2, MidpointRounding.AwayFromZero).ToString("F")
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>
                    סה"כ בחשבוניות מס:
                </label>
            </div>
            <div class="span3">
                <label>@decimal.Round(totalInvoices, 2, MidpointRounding.AwayFromZero).ToString("F")
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>
                    סה"כ בחשבוניות זיכוי:
                </label>
            </div>
            <div class="span3">
                <label>@decimal.Round(totalRefunds, 2, MidpointRounding.AwayFromZero).ToString("F")
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>
                    סה"כ ללא מע"מ:
                </label>
            </div>
            <div class="span3">
                <label>@decimal.Round(totalWithoutVat, 2, MidpointRounding.AwayFromZero).ToString("F")
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>
                    המע"מ:
                </label>
            </div>
            <div class="span3">
                <label>@decimal.Round(totalVat, 2, MidpointRounding.AwayFromZero).ToString("F")
                </label>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <label>
                    סה"כ כולל מע"מ:
                </label>
            </div>
            <div class="span3">
                <label>@decimal.Round(totalIncludingVat, 2, MidpointRounding.AwayFromZero).ToString("F")
                </label>
            </div>
        </div>
    </div>
