﻿@model IEnumerable<RapidVet.WebModels.Finance.Reports.AnnualBalanceWebModel>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}


<h2>מאזן שנתי לשנת @ViewBag.Year</h2>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>חודש</th>
            <th>הכנסות</th>
            <th>הוצאות</th>
            <th>השקעה בציוד קבוע</th>
            <th>מקדמות</th>
            <th>מע"מ לתשלום</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var month in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelMonth => month.MonthName)</td>
                <td>@Html.DisplayFor(modelMonth => month.Income)</td>
                <td>@Html.DisplayFor(modelMonth => month.Expenses)</td>
                <td>@Html.DisplayFor(modelMonth => month.PermanentAssets)</td>
                <td>@Html.DisplayFor(modelMonth => month.Advances)</td>
                <td>@Html.DisplayFor(modelMonth => month.VatToPay)</td>
            </tr>
        }
    </tbody>
</table>
