﻿@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/ReciptReport.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Scripts/App/Finance/moment.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    label > select {
        width: 159px !important;
        margin-top: -2px;
        position: relative;
    }
</style>


<h2>פירוט קבלות תקופתי</h2>

<div class="form-inline well">

    <div class="row">
        <div class="span1">
            <label>
                מנפיק
            </label>
        </div>
        <div class="span2" style=" margin-left: 50px;">
            <label>
                <select data-bind="options: issuers,optionsText:'Text',optionsValue:'Value',value: selectedIssuer"></select>
            </label>
        </div>
        <div class="span1">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: fromDate" />
            </label>
        </div>

        <div class="span1">
            <label>עד תאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" class="date input-small" readonly data-bind="value: toDate" />
            </label>
        </div>
    </div>
    <br />
    <button class="btn btn-primary btn-large" data-bind="click: search">
        <i class="icon-search"></i>
        חיפוש
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: print">
        <i class="icon-print"></i>
        הדפסה
    </button>
    <button class="btn btn-primary btn-large" data-bind="click: ExportToExcel">
        <i class="icon-download"></i>
        יצוא לExcel
    </button>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>שם הלקוח</th>
            <th>מזומן</th>
            <th>העברה בנקאית</th>
            <th>חברת אשראי</th>
            <th>סוג עסקה</th>
            <th>סכום באשראי</th>
            <th>בנק</th>
            <th>סניף</th>
            <th>מספר חשבון</th>
            <th>מספר המחאה</th>
            <th>סכום המחאה</th>
            <th>סה"כ סכום</th>
            <th>סוג</th>
            <th>מספר</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: results">
        <tr>
            <td data-bind="text: Date"></td>
            <td data-bind="text: ClientName"></td>
            <td data-bind="text: Cash" class="fix-negativ"></td>
            <td data-bind="text: Transfer" class="fix-negativ"></td>
            <td data-bind="text: CreditCardCompany"></td>
            <td data-bind="text: CreditCardBusinessType"></td>
            <td data-bind="text: CreditAmount" class="fix-negativ"></td>
            <td data-bind="text: BankName"></td>
            <td data-bind="text: BankBranchName"></td>
            <td data-bind="text: BankAccountNumber"></td>
            <td data-bind="text: ChequeNumber"></td>
            <td data-bind="text: ChequeAmount" class="fix-negativ"></td>
            <td data-bind="text: TotalAmount" class="fix-negativ"></td>
            <td data-bind="text: FinanceDocumentType"></td>
            <td data-bind="text: FinanceDocumentSerialNumber"></td>
        </tr>
    </tbody>
</table>

<div data-bind="visible: showSummary">

    <div class="row">
        <div class="span2">
            <table>
                <tr>
                    <td>
                        <label for="lbltot">
                            סה"כ
                        </label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <label id="lbltot" data-bind="text: totalWithoutVat">
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>