﻿@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/Sales.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
     <script src="../../Scripts/App/Finance/moment.min.js"></script>
}
@{
    var issuerOptions = (List<SelectListItem>)ViewBag.Issuers;
}
<style>
    .validationMessage {
        color: red !important;
    }
</style>
<h2>@RapidVet.Resources.SalesReport.Title</h2>

<div class="form-inline well">

    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.SalesReport.FromDate</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" id="from" class="date input-small" data-bind="value: from" readonly/>               
            </label>
        </div>

        <div class="span2">
            <label>@RapidVet.Resources.SalesReport.ToDate</label>
        </div>
        <div class="span2">
            <label>
               
                <input type="text" id="to" class="date input-small" data-bind="value: to" readonly/>
            </label>
        </div>
    </div>
    @*####################################*@
    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.SalesReport.Category</label>
        </div>
        <div class="span4">
            <label>
                <select data-bind="value: categoryId, options: categories, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>

        <div class="span1">
            <label>@RapidVet.Resources.SalesReport.Item</label>
        </div>
        <div class="span4">
            <label>
                <select data-bind="value: ItemId, options: items, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>


    </div>
    @*####################################*@
    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.SalesReport.Issuer</label>
        </div>
        <div class="span4">           
                <label>                         
                     <select data-bind="options: issuers, optionsText: 'itemText', optionsValue: 'itemValue', value: issuerId, optionsCaption: 'בחר מנפיק...'"></select>
                </label>            
        </div>
        <div class="span4">
            <div style="position: relative; top: 3px; margin: 0px;">
                <input type="checkbox" data-bind="checked: groupBySeller" />
                <label style="position: relative; top: 2px; display: inline;">
                    @RapidVet.Resources.SalesReport.GroupBySeller
                </label>
            </div>
            <div style="position: relative; top: 3px; margin: 0px;">
                <input type="checkbox" data-bind="checked: showAllItems" />
                <label style="position: relative; top: 2px; display: inline;">
                    @RapidVet.Resources.SalesReport.ShowAllItems
                </label>
            </div>
        </div>
        </div>
</div>
<button class="btn btn-primary btn-large" data-bind="click: search">
    <i class="icon-search"></i>
    @RapidVet.Resources.SalesReport.Search
</button>
<br/><br/>

<div data-bind="html: results"></div>
