﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/Reports/YearlyCashFlow.js?v="+ typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        var viewModel;
        $(function () {
            viewModel = new viewModel();

            ko.applyBindings(viewModel);
        });

    </script>

}
<h2>תזרים מזומנים שנתי</h2>
<div class="form-inline well">
    <div class="row control-group">
        <div class="row">
            <div class="span2">
                <label>
               שנה
                </label>
            </div>
            <div class="span2">
                <label>   <select class="input-small" data-bind="options: yearOptions, value: year"></select></label>

            </div>
            <div class="span2">
                <label>
                    מנפיק
                </label>
            </div>
            <div class="span2">
                <label>
                    <select data-bind="options: issuers, optionsText: 'Text', optionsValue: 'Value', value: selectedIssuer"></select>
                </label>
            </div>
        </div>

    </div>

    <div class="row ">
        <label>
            <button class="btn btn-primary" data-bind="click: display">הצג</button>
        </label>
    </div>
</div>

<div class="row">
    <img id="result" style="display: block; margin-left: auto; margin-right: auto" src="" />
</div>
