﻿@model RapidVet.WebModels.VaccinesAndTreatments.TreatmentDistributionWebModel
@{
    if (Request.QueryString["DoctorId"] != null)
    {
        foreach (var doctor in Model.Doctors.Where(doctor => doctor.Value == Request.QueryString["DoctorId"]))
        {
            doctor.Selected = true;
        }
    }

    Layout = ViewBag.ToPrint
          ? "~/Views/Shared/_PrintingLayout.cshtml"
          : "~/Views/Shared/_Layout.cshtml";

    var fromDateStr = Request.QueryString["fromTime"];
    if (string.IsNullOrWhiteSpace(fromDateStr))
    {
        fromDateStr = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToShortDateString();
    }

    var toDateStr = @Request.QueryString["toTime"];
    if (string.IsNullOrWhiteSpace(toDateStr))
    {
        toDateStr = DateTime.Now.Date.AddHours(23).ToShortDateString();
    }
}
<h2>@RapidVet.Resources.TreatmentsDistributionReport.Title</h2>

@if (!ViewBag.ToPrint)
{
    <div class="well">
        <div class="form-inline">
            <div class="row control-group">
                <div class="span1">
                    <label>@RapidVet.Resources.TreatmentsDistributionReport.DoctorsName</label>
                </div>
                <div class="span4">
                    <label>
                        <select id="doctors">
                            <option value="">@RapidVet.Resources.Global.Select</option>
                            @foreach (var doctor in Model.Doctors)
                            {
                                <option value="@doctor.Value" @if (doctor.Selected)
                                                              {
                                                                  <text>selected="selected"</text>
                                                              }>@doctor.Text</option>
                            }
                        </select>
                    </label>
                </div>

                <div class="span1">
                    <label>@RapidVet.Resources.TreatmentsDistributionReport.FromDate</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="" id="from" readonly value="@fromDateStr" />

                    </label>
                </div>

                <div class="span1">
                    <label>@RapidVet.Resources.TreatmentsDistributionReport.ToDate</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="" id="to" readonly value="@toDateStr" />

                    </label>
                </div>

                <div class="span2">
                    <label>
                        <a id="refreshLink" class="btn btn-primary">
                            <i class="icon-refresh"></i>
                            @RapidVet.Resources.TreatmentsDistributionReport.Refresh
                        </a>
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <a class="btn btn-primary" onclick="PrintTreatmentDistributionReport()">
        <i class="icon-print"></i>
        @RapidVet.Resources.Global.Print
    </a>
    
                            if (CurrentUser.IsExcelExport)
                            {
    <a id="csvLink" class="btn btn-primary">
        <i class="icon-download-alt"></i>
        @RapidVet.Resources.Global.Export
    </a>
                            }

    <a id="graphLink" class="btn btn-primary" data-bind="click: display">
        <i class="icon-signal"></i>
        @RapidVet.Resources.TreatmentsDistributionReport.ShowChart

    </a>
    <br />
    <br />
}

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>@RapidVet.Resources.TreatmentsDistributionReport.Description</th>
            <th>@RapidVet.Resources.TreatmentsDistributionReport.Quantity</th>
            <th>@RapidVet.Resources.TreatmentsDistributionReport.Percentage</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.TreatmentsDistributions.Any())
        {
            foreach (var item in Model.TreatmentsDistributions.OrderByDescending(i => i.Percent))
            {
            <tr>
                <td>
                    <span>@item.Name</span>
                </td>
                <td>
                    <span>@item.Quantity</span>
                </td>
                <td>
                    <span>@string.Format("{0:n2}", item.Percent)%</span>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </tbody>
</table>


@if (!ViewBag.ToPrint)
{

    <div id="pieModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 align="center">@RapidVet.Resources.TreatmentsDistributionReport.TreatmentDistributionChart</h3>
        </div>
        <div class="modal-body" style="min-height: 600px; overflow-y: no-display; background-color: white">
            <img id="result" style="display: block; margin-left: auto; margin-right: auto" src="" />
        </div>
        <div class="modal-footer" style="background-color: white">
            <a href="#" data-dismiss="modal" class="btn btn-primary">@RapidVet.Resources.TreatmentsDistributionReport.Close</a>
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">

        function viewModel() {
            var self = this;
            self.graphActionSrc = ko.computed(function () {
                return $('#graphLink').attr('href');
            });

            self.display = function () {
                $('#result').attr('src', self.graphActionSrc());
                $('#pieModal').modal('show').css({
                    'width': '50%',
                    'margin-right': function () { return -($(this).width() / 2); },
                    'height': '58%',
                    'top': '30%',
                    'min-height': '718px'
                });
            };
        }


        function PrintTreatmentDistributionReport() {
            var url = window.location.href + '?toPrint=true';
            if (document.location.search != "") {
                window.location.href = window.location.href + '&toPrint=true';
            }
            window.open(url, '_blank');
        }


        $(function () {
            $('#refreshLink').attr('href', '/TreatmentsDistributionReport/index?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
            $('#csvLink').attr('href', '/TreatmentsDistributionReport/CsvFile?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
            $('#graphLink').attr('href', '/TreatmentsDistributionReport/Graph?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());

            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#from").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    $('#refreshLink').attr('href', '/TreatmentsDistributionReport/index?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                    $('#csvLink').attr('href', '/TreatmentsDistributionReport/CsvFile?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                    $('#graphLink').attr('href', '/TreatmentsDistributionReport/Graph?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                },
                isRTL: true
            });
            $("#to").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    $('#refreshLink').attr('href', '/TreatmentsDistributionReport/index?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                    $('#csvLink').attr('href', '/TreatmentsDistributionReport/CsvFile?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                    $('#graphLink').attr('href', '/TreatmentsDistributionReport/Graph?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                },
                isRTL: true
            });

            $('#doctors').on('change', function () {
                $('#refreshLink').attr('href', '/TreatmentsDistributionReport/index?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                $('#csvLink').attr('href', '/TreatmentsDistributionReport/CsvFile?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                $('#graphLink').attr('href', '/TreatmentsDistributionReport/Graph?doctorId=' + $('#doctors').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
            });

            viewModel = new viewModel();

            ko.applyBindings(viewModel);
        });

    </script>
}