﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.ClinicGroups.ClinicGroupCreate
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.ClinicGroup.NewClinicGroup</h3>
</div>
@using (Ajax.BeginForm("Create", "ClinicGroups", new AjaxOptions()
                                                         {
                                                             HttpMethod = "Post",
                                                             InsertionMode = InsertionMode.Replace,
                                                             UpdateTargetId = "clinicGroupsGrid",
                                                             OnSuccess = "Success"
                                                         },
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = ClinicGroupConsts.CREATE_MODAL_ID
                                                             }))
{
    <div class="modal-body">
        @Html.Partial("_FormValidationSummary")
        <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Name)</label>
            <div class="controls">@Html.EditorFor(m => m.Name)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Comments)</label>
            <div class="controls">@Html.EditorFor(m => m.Comments)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Comments)</span>
            </div>
        </div>
    @*    <div class="control-group">
            <label class="control-label">@Html.LabelFor(model => model.LogoImage)</label>
            <div class="controls">
                <input type="file" id="LogoImage" name="LogoImage" title="@RapidVet.Resources.Global.SelectFile" value="@RapidVet.Resources.Global.SelectFile"  accept="image/*"/>
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LogoImage)</span>
            </div>
        </div>*@
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                &nbsp;
            </div>
            <div class="span6">
                <button class="btn ok" type="submit">@RapidVet.Resources.Global.Create</button>
            </div>

        </div>
    </div>
}
