﻿@model RapidVet.WebModels.ClinicGroups.ClinicGroupEdit
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.ClinicGroup.DeleteClinicGroup</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "ClinicGroups", FormMethod.Post, new { @class = "form-horizontal", id = "clinicGroupDelete" }))
    {
        @Html.HiddenFor(model => model.Id)
        <button type="submit" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
        <button class="btn btn-large btn-primary" data-dismiss="modal">@RapidVet.Resources.Global.Cancel</button>
    }

</div>
