﻿@model RapidVet.Model.Clinics.ClinicGroup
@if (Model != null)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            @Model.Name
        </h3>
    </div>
    using (Html.BeginForm("DuplicateClinicGroup", "ClinicGroups", FormMethod.Post, new { @class = "form-horizontal", @id = "duplicateForm" }))
    {
    <input type="hidden" name="clinicGroupId" id="clinicGroupId" value="@Model.Id"/>
    <div class="modal-body">
        <label>@RapidVet.Resources.ClinicGroup.NameOfNewClinicGroup</label>
        <input type="text" name="newClinicGroupName" id="newClinicGroupName" />
        <span>@RapidVet.Resources.Global.DuplicateCanTakeTime</span>
    </div>
    <div class="modal-footer">
        <br />
        <div style="width: 40%; float: left">
            <button id="submitBtn" type="submit" class="btn btn-primary btn-large">@RapidVet.Resources.ClinicGroup.Duplicate</button>
        </div>
    </div>
    }
}
else
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Global.ErrorMessage</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button data-dismiss="modal">
                    @RapidVet.Resources.Global.Cancel
                </button>
            </div>
        </div>
    </div>
}

<script>
    $(function() {
        $('#duplicateForm').submit(function () {
            $('#submitBtn').hide();
            return;
        });
    });
</script>