﻿@{
    var clinicGroupId = Url.RequestContext.RouteData.Values["id"];
    var containerId = Url.RequestContext.RouteData.Values["container"];
}
<ul class="nav nav-list affix">

    <li>
        <a id="clinic-group-edit" onclick="PageLoad('@Url.Action("Edit")','@containerId' , this)" href="#">
            @RapidVet.Resources.ClinicGroupNavigation.ClinicGroup
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a id="users-edit" onclick=" PageLoad('@Url.Action("Index", "Users")','@containerId' , this)" href="#">
            @RapidVet.Resources.ClinicEditNavigation.Users
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
     <li>
        <a  href="#" onclick="PageLoad('@Url.Action("IndexGrid", "Clinics")','@containerId',this)">
            @RapidVet.Resources.ClinicGroupNavigation.GroupClinics
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a href="#" onclick="PageLoad('@Url.Action("Index", "AnimalKinds")','@containerId' , this)">
            @RapidVet.Resources.ClinicGroupNavigation.Animals
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>

    <li>
        <a  href="#" onclick="PageLoad('@Url.Action("Index", "ClientStatuses")','@containerId',this)">
            @RapidVet.Resources.ClinicGroupNavigation.ClientStatus
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>
    <li>
        <a  href="#" onclick="PageLoad('@Url.Action("Index", "AnimalColors")','@containerId',this)">
            @RapidVet.Resources.ClinicGroupNavigation.Colors
            <i class="icon-chevron-left icon-white"></i>
        </a>
    </li>

</ul>
