﻿@model RapidVet.WebModels.ClinicGroups.ClinicGroupEdit
<div class="well">
    <h3>@RapidVet.Resources.ClinicGroup.EditClinicGroup</h3>

    @using (Html.BeginForm("Edit", "ClinicGroups", FormMethod.Post,
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "ClinicGroupEdit",
                                                                 enctype = "multipart/form-data"
                                                             }))
    {
        @Html.Partial("_FormValidationSummary")
        <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Name)</label>
            <div class="controls">@Html.EditorFor(m => m.Name)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Comments)</label>
            <div class="controls">@Html.EditorFor(m => m.Comments)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Comments)</span>
            </div>
        </div>
        
        <div class="control-group">
            <div style="text-align: center;">
                <img src="@Url.Action("LogoImage", "ClinicGroups")" style="max-height: 300px;max-width: 300px;"/>
            </div>
            <label class="control-label">@Html.LabelFor(model => model.LogoImage)</label>
            <div class="controls">
                <input type="file" name="LogoImage" id="LogoImage" accept="image/*"/>
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LogoImage)</span>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls" style="text-align: left;">
                <button type="submit" class="btn ok">
                    <img src="/Content/img/RapidVet/ok-v.png"></button>
            </div>
        </div>
    }
</div>
