﻿@using RapidVet.RapidConsts.Controllers
@model System.Linq.IQueryable<RapidVet.Model.Clinics.ClinicGroup>
@{
    var modalId = "moveClinicTo";
    var modal2Id = "duplicateGroup";
}
<table id="clinicGroupsTable" class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @RapidVet.Resources.ClinicGroup.Name
        </th>
        <th class="span2"></th>
        <th>
            @RapidVet.Resources.ClinicGroup.Comments
        </th>

        <th></th>
    </tr>

    @foreach (var clinicGroup in Model)
    {
        <tr>

            <td>
                <strong>@clinicGroup.Name</strong>&nbsp;
                <br />
                <br />
                @if (clinicGroup.Clinics.Any())                  
                {
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var clinic in clinicGroup.Clinics.Where(cl => cl.Active))
                            {
                                <tr>
                                    <td>
                                        <span>
                                            @clinic.Name
                                        </span>
                                        &nbsp;&nbsp;&nbsp;
                                        <a onclick="GetModal('@Url.Action("MoveClinic", new { clinicId = clinic.Id })','@modalId');">
                                            <i class="icon-retweet"></i>&nbsp;@RapidVet.Resources.ClinicGroup.Move
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </td>
            <td>
              <a onclick="GetModal('@Url.Action("DuplicateClinicGroup", new { clinicGroupId = clinicGroup.Id })','@modal2Id');"><i class="icon-tag"></i>&nbsp;@RapidVet.Resources.ClinicGroup.Duplicate</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => clinicGroup.Comments)
            </td>
            <td>
                @if (clinicGroup.HasLogo)
                {
                    <img src="@Url.Action("LogoImage", "ClinicGroups", new { id = clinicGroup.Id })" style="max-height: 150px; max-width: 150px;"/>
                }
                else
                {
                    <span>-- No Image --</span>
                }
            </td>

        </tr>
    }

</table>
<div id="@ClinicGroupConsts.CREATE_MODAL_ID" class="modal hide fade">
</div>

<div id="@modalId" class="modal hide fade">
</div>

<div id="@modal2Id" class="modal hide fade">
</div>