﻿@model RapidVet.WebModels.ClinicGroups.ClinicGroupCreate
     
<style type="text/css">
    .wideLabel {
        width: 200px !important;
        text-align: right !important;
    }
</style>      

<div class="control-group">
    <label class="control-label wideLabel">@Html.LabelFor(m => m.Name)</label>
    <div class="controls">@Html.TextBox("Name", Model.Name, new { style = "border:1px solid grey;" })
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label wideLabel">@Html.LabelFor(m => m.Comments)</label>
    <div class="controls">@Html.TextBox("Comments", Model.Comments, new { style = "border:1px solid grey;" })
        <span class="help-inline">@Html.ValidationMessageFor(m => m.Comments)</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label wideLabel">@Html.LabelFor(m => m.MaxConcurrentUsers)</label>
    <div class="controls">@Html.TextBox("MaxConcurrentUsers", Model.MaxConcurrentUsers, new { style = "border:1px solid grey;" })
        <span class="help-inline">@Html.ValidationMessageFor(m => m.MaxConcurrentUsers)</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label wideLabel">@Html.LabelFor(m => m.TimeToDisconnectInactiveUsersInMinutes)</label>
    <div class="controls">@Html.TextBox("TimeToDisconnectInactiveUsersInMinutes", Model.TimeToDisconnectInactiveUsersInMinutes, new { style = "border:1px solid grey;" })
        <span class="help-inline">@Html.ValidationMessageFor(m => m.TimeToDisconnectInactiveUsersInMinutes)</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label wideLabel">@Html.LabelFor(m => m.MaxGoogleSyncAllowed)</label>
    <div class="controls">
        @Html.TextBox("MaxGoogleSyncAllowed", Model.MaxGoogleSyncAllowed, new { style = "border:1px solid grey;" })
    <span class="help-inline">@Html.ValidationMessageFor(m => m.MaxGoogleSyncAllowed)</span>
</div>
</div>
<div class="control-group">
    <label class="control-label wideLabel">@Html.LabelFor(model => model.LogoImage)</label>
    <div class="controls">
        <input type="file" id="LogoImage" name="LogoImage" title="@RapidVet.Resources.Global.SelectFile" value="@RapidVet.Resources.Global.SelectFile"  @*accept="image/*"*@/>
        <span class="help-inline">@Html.ValidationMessageFor(model => model.LogoImage)</span>
    </div>
</div>
