﻿@model System.Linq.IQueryable<RapidVet.Model.Clinics.ClinicGroup>
@{
    int clinicId = ViewBag.ClinicId;
    string clinicName = "";

    var selectedClinicGroup = Model.SingleOrDefault(cg => cg.Clinics.Any(c => c.Id == clinicId));
    if (selectedClinicGroup != null)
    {
        var selectedClinic = selectedClinicGroup.Clinics.SingleOrDefault(c => c.Id == clinicId);
        if (selectedClinic != null)
        {
            clinicName = selectedClinic.Name;
        }
    }
}
@if (clinicId != 0)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            @if (selectedClinicGroup != null)
            {
                @selectedClinicGroup.Name 
                <text> - </text>
            }
            @clinicName
        </h3>
    </div>
    using (Html.BeginForm("MoveClinic", "ClinicGroups", FormMethod.Post, new { @class = "form-horizontal", @id = "moveForm" }))
            {
    <input type="hidden" name="clinicId" id="clinicId" value="@clinicId"/>
    <div class="modal-body">
        <label>@RapidVet.Resources.Global.MoveTo</label>
        <select name="targetClinicGroupId" id="targetClinicGroupId">
            @foreach (var cg in Model)
            {
                if (selectedClinicGroup != null && cg.Id == selectedClinicGroup.Id)
                {
                    continue;
                }
                <option value="@cg.Id">@cg.Name</option>
            }
        </select>
        <span>@RapidVet.Resources.Global.TransferCanTakeTime</span>
    </div>
    <div class="modal-footer">
        <br />
        <div style="width: 40%; float: left">
            <button id="submitBtn" type="submit" class="btn btn-primary btn-large">@RapidVet.Resources.Global.Move</button>
        </div>
    </div>
            }
}
else
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.Global.ErrorMessage</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button data-dismiss="modal">
                    @RapidVet.Resources.Global.Cancel
                </button>
            </div>
        </div>
    </div>
}


<script>
    $(function() {
        $('#moveForm').submit(function () {
            $('#submitBtn').hide();
            return;
        });
    });
</script>