﻿@model RapidVet.WebModels.ClinicGroups.ClinicGroupEdit
@using (Html.BeginForm("SendTestMail", "ClinicGroups", FormMethod.Post))
{
    <h3>@RapidVet.Resources.ClinicGroup.EditClinicGroupEmail</h3>
   
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailPort)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailPort)
        </div>@ViewBag.EmailPort
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailSmtp)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailSmtp)
        </div>@ViewBag.EmailSmtp
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailAddress)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailAddress)
        </div>@ViewBag.EmailAddress
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailUserName)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailUserName)
        </div>@ViewBag.EmailUserName
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailPassword)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailPassword)
        </div>@ViewBag.EmailPassword
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.IsSecuredSmtp)</label>
        <div class="controls">@Html.EditorFor(m => m.IsSecuredSmtp)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailMaxRecipients)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailMaxRecipients)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailPauseInSeconds)</label>
        <div class="controls">@Html.EditorFor(m => m.EmailPauseInSeconds)
        </div>
    </div>
    <div class="control-group">
        <button class="btn btn-large btn-info" type="submit" name="SendTestMail">
            <i class="icon-envelope"></i>
            בדוק שליחת מייל
        </button>
    </div>
    <label class="control-label" id="statusMsg">@ViewBag.EmailStatusMsg</label>
}
