﻿@using RapidVet.RapidConsts.Controllers
@model RapidVet.WebModels.ClinicGroups.ClinicGroupCreate
@{
    var formId = "clinicGroupCreate";
    var submitBtnId = "clinicGroupSubmit";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            HideValidFormSubmitBtn('@formId', '@submitBtnId');
        });
    </script>
}
<h2>@RapidVet.Resources.ClinicGroup.NewClinicGroup</h2>
<br />
<br />
<div class="row">
    @using (Html.BeginForm("Create", "ClinicGroups", FormMethod.Post, new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 enctype = "multipart/form-data",
                                                                 id = formId
                                                             }))
    {

        @Html.Partial("_FormValidationSummary")
        @Html.Partial("_MainForm", Model)
        <div class="control-group">
            <div class="controls">
                <button class="btn ok" type="submit" id="@submitBtnId">@RapidVet.Resources.Global.Create</button>
            </div>
        </div>
    }
</div>
