﻿@model RapidVet.Model.Clinics.ClinicGroup
@{
    ViewBag.Title = string.Format(RapidVet.Resources.Controllers.ClinicGroupController.DetailsTitle, Model.Name);
}

<h2>@ViewBag.Title</h2>
<fieldset>
    <div class="display-label">@RapidVet.Resources.Global.Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>
    <div class="display-label">@RapidVet.Resources.ClinicGroup.Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">@RapidVet.Resources.ClinicGroup.Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>
    <div class="display-label">@RapidVet.Resources.ChangeTracker.CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>
    <div class="display-label">@RapidVet.Resources.ChangeTracker.CreatedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedById)
    </div>
    <div class="display-label">@RapidVet.Resources.ChangeTracker.UpdatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>
    <div class="display-label">@RapidVet.Resources.ChangeTracker.UpdatedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedById)
    </div>
</fieldset>
<h3>@RapidVet.Resources.ClinicGroup.Clinics</h3>
@Html.ActionLink(RapidVet.Resources.Controllers.ClinicGroupController.AddClinic, "Create", "Clinics", new { id = Model.Id }, new { })
@Html.Partial("~/Views/clinics/_ClinicListPartialView.cshtml", Model.Clinics)
<p>
    @Html.ActionLink(RapidVet.Resources.Global.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(RapidVet.Resources.Global.Back, "Index")
</p>
