﻿@using RapidVet.Helpers
@model RapidVet.WebModels.ClinicGroups.ClinicGroupEdit
@{
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ClinicGroup/EditClientsReportTemplates.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    label {
        width: 177px;
        text-align:right;        
    }

    div.span9.well input {
        top: 4px;
        position: relative;
    }
</style>

<div style="float:left;cursor: pointer;" data-bind="click: showKeyWordsHelpModal">
    <img src="/Content/img/RapidVet/help.png">
</div>
<h3>@RapidVet.Resources.ClinicGroup.EditClientsTemplate</h3>

@using (Html.BeginForm("EditClientsReportTemplates", "ClinicGroups", FormMethod.Post,
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "ClinicGroupEdit",
                                                                 enctype = "multipart/form-data",
                                                                 data_bind = "submit: fillTemplates"
                                                             }))
{

    <div class="control-group">
        <label>@Html.LabelFor(m => m.ClientsStikerTemplate)</label>
        @Html.HiddenFor(m => m.ClientsStikerTemplate)
        <textarea id="ClientsStikerTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.ClientsStikerTemplate)
        </textarea>        
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.ClientsEmailSubject)</label>
        <div class="controls">
            @Html.EditorFor(m => m.ClientsEmailSubject)
    </div>
</div>

    <div class="control-group">
        <label>@Html.LabelFor(m => m.ClientsEmailTemplate)</label>
        @Html.HiddenFor(m => m.ClientsEmailTemplate)
        <textarea id="ClientsEmailTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.ClientsEmailTemplate)
        </textarea>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.ClientsSmsTemplate)</label>      
        <div class="controls">
            @Html.EditorFor(m => m.ClientsSmsTemplate)
    </div>
</div>


    <div class="control-group">
        <div class="controls">
            <button class="btn ok" type="submit" name="Edit">@RapidVet.Resources.Global.Save</button>
        </div>
    </div>

}


<div class="modal hide fade" id="KeyWordsHelpModal">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideKeyWordsHelpModal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.ClinicGroup.TemplateKeyWordsHelpModalCaption</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table">
                <tbody data-bind="foreach: TemplateKeywords">
                    <tr>
                        <td data-bind="text: KeyWord"></td>
                        <td data-bind="text: KeyWordComment"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>