﻿@using RapidVet.Helpers
@model RapidVet.WebModels.ClinicGroups.ClinicGroupEdit
@{
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ClinicGroup/EditPreventiveRemindersTemplates.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    label {
        width: 177px;
        text-align:right;        
    }

    div.span9.well input {
        top: 4px;
        position: relative;
    }
</style>

<div style="float:left;cursor: pointer;" data-bind="click: showKeyWordsHelpModal">
    <img src="/Content/img/RapidVet/help.png">
</div>
<h3>@RapidVet.Resources.ClinicGroup.EditPreventiveMedicineTemplate</h3>

@using (Html.BeginForm("EditPreventiveRemindersTemplates", "ClinicGroups", FormMethod.Post,
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "ClinicGroupEdit",
                                                                 enctype = "multipart/form-data",
                                                                 data_bind = "submit: fillTemplates"
                                                             }))
{
    <div class="control-group">
        @Html.EditorFor(model => model.UnitePreventiveReminders)
        <label style="display: inline-block; margin-right: 10px; vertical-align: text-top;">
            @Html.LabelFor(model => model.UnitePreventiveReminders, new { @style = "width:350px"})
        </label>

    </div>
    
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.PreventiveMedicineSmsTemplate)</label>        
        <div class="controls">
            @Html.EditorFor(m => m.PreventiveMedicineSmsTemplate)
         </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.PreventiveMedicineSmsMultiAnimalsTemplate)</label>
        <div class="controls">
            @Html.EditorFor(m => m.PreventiveMedicineSmsMultiAnimalsTemplate)
        </div>
    </div>

    <div class="control-group">
        <label>@Html.LabelFor(m => m.PreventiveMedicineLetterTemplate)</label>
        @Html.HiddenFor(m => m.PreventiveMedicineLetterTemplate)
        <textarea id="PreventiveMedicineLetterTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicineLetterTemplate)
        </textarea>       
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.PreventiveMedicineLetterMultiAnimalsTemplate, new { @style = "width:200px" })
        @Html.HiddenFor(m => m.PreventiveMedicineLetterMultiAnimalsTemplate)
        <textarea id="PreventiveMedicineLetterMultiAnimalsTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicineLetterMultiAnimalsTemplate)
        </textarea>       
    </div>

    <div class="control-group">

        <label>@Html.LabelFor(m => m.PreventiveMedicinePostCardTemplate)</label>
        @Html.HiddenFor(m => m.PreventiveMedicinePostCardTemplate)
        <textarea id="PreventiveMedicinePostCardTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicinePostCardTemplate)
        </textarea>    
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.PreventiveMedicinePostCardMultiAnimalsTemplate, new { @style = "width:200px" })
        @Html.HiddenFor(m => m.PreventiveMedicinePostCardMultiAnimalsTemplate)
        <textarea id="PreventiveMedicinePostCardMultiAnimalsTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicinePostCardMultiAnimalsTemplate)
        </textarea>      
    </div>

    <div class="control-group">
        <label>@Html.LabelFor(m => m.PreventiveMedicineStikerTemplate)</label>
        @Html.HiddenFor(m => m.PreventiveMedicineStikerTemplate)
        <textarea id="PreventiveMedicineStikerTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicineStikerTemplate)
        </textarea>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.PreventiveMedicineEmailSubject)</label>
        <div class="controls">
            @Html.EditorFor(m => m.PreventiveMedicineEmailSubject)
    </div>
</div>

    <div class="control-group">
        <label>@Html.LabelFor(m => m.PreventiveMedicineEmailTemplate)</label>
        @Html.HiddenFor(m => m.PreventiveMedicineEmailTemplate)
        <textarea id="PreventiveMedicineEmailTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicineEmailTemplate)
        </textarea>      
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.PreventiveMedicineEmailMultiAnimalsSubject)</label>
        <div class="controls">
            @Html.EditorFor(m => m.PreventiveMedicineEmailMultiAnimalsSubject)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.PreventiveMedicineEmailMultiAnimalsTemplate, new { @style = "width:200px" })
        @Html.HiddenFor(m => m.PreventiveMedicineEmailMultiAnimalsTemplate)
        <textarea id="PreventiveMedicineEmailMultiAnimalsTemplateEditor" rows="10" cols="80">
            @Html.Raw(Model.PreventiveMedicineEmailMultiAnimalsTemplate)
        </textarea>        
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn ok" type="submit" name="Edit">@RapidVet.Resources.Global.Save</button>
        </div>
    </div>

}


<div class="modal hide fade" id="KeyWordsHelpModal">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideKeyWordsHelpModal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.ClinicGroup.TemplateKeyWordsHelpModalCaption</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table">
                <tbody data-bind="foreach: TemplateKeywords">
                    <tr>
                        <td data-bind="text: KeyWord"></td>
                        <td data-bind="text: KeyWordComment"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>