﻿@using RapidVet.Helpers
@model RapidVet.WebModels.ClinicGroups.ClinicGroupEdit
@{
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/FileUploadRest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ClinicGroup/ClinicTestEmailValidation.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    label {
        width: 177px;
        text-align: right;
    }

    div.span9.well input {
        top: 4px;
        position: relative;
    }
</style>

<h3>@RapidVet.Resources.ClinicGroup.EditClinicGroup</h3>

@using (Html.BeginForm("Edit", "ClinicGroups", FormMethod.Post,
                                                         new
                                                             {
                                                                 @class = "form-horizontal",
                                                                 id = "ClinicGroupEdit",
                                                                 enctype = "multipart/form-data",
                                                                 data_bind = "submit: isValid"
                                                             }))
{
    @Html.Partial("_FormValidationSummary")
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Name)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Name)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.Comments)</label>
        <div class="controls">
            @Html.EditorFor(m => m.Comments)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.Comments)</span>
        </div>
    </div>

    <div class="control-group">
        <div style="text-align: center;">
            <img src="@Url.Action("LogoImage", "ClinicGroups")" style="max-height: 300px;max-width: 300px;" />
        </div>
        <label class="control-label">@Html.LabelFor(model => model.LogoImage)</label>
        <div class="controls">
            <input type="file" name="LogoImage" id="LogoImage" accept="image/*">
            <span class="help-inline">@Html.ValidationMessageFor(model => model.LogoImage)</span>
        </div>
    </div>
    <div id="fileError" style="margin-top: -15px; color:red; display:none;">

    </div>
    <h3>@RapidVet.Resources.ClinicGroup.LicensingOptions</h3>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.MaxConcurrentUsers)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.MaxConcurrentUsers, new { data_bind = "enable: isAdmin, value: maxConcurrentUsers" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.MaxConcurrentUsers)</span>
        </div>

    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.TimeToDisconnectInactiveUsersInMinutes)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.TimeToDisconnectInactiveUsersInMinutes, new { data_bind = "enable: isAdmin, value: timeToDisconnectInactiveUsersInMinutes" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.TimeToDisconnectInactiveUsersInMinutes)</span>

        </div>

    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.MaxGoogleSyncAllowed)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.MaxGoogleSyncAllowed, new { data_bind = "enable: isAdmin, value: MaxGoogleSyncAllowed" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.MaxGoogleSyncAllowed)</span>
        </div>

    </div>

    <div class="control-group">
        <label class="control-label" style="text-align: right;width: 163px;">@RapidVet.Resources.ClinicGroup.ActiveUsers</label>
        <label class="control-label" id="lbl_activeUsers" style="position:relative;width:37px;text-align:right;" data-bind="text: activeUsers"></label>
    </div>
    <div class="control-group">
        <label class="control-label" style="text-align: right;width: 163px;">@RapidVet.Resources.ClinicGroup.NonActiveUsere</label>
        <label class="control-label" style="position:relative;width:37px;text-align:right;" data-bind="text: nonActiveUsers"></label>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.HSModule)</label>
        <div class="controls">
            @Html.CheckBoxFor(m => m.HSModule, new { data_bind = "enable: isAdmin, value: hsModule" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.HSModule)</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.StockModule)</label>
        <div class="controls">
            @Html.CheckBoxFor(m => m.StockModule, new { data_bind = "enable: isAdmin, value: stockModule" })
            <span class="help-inline">@Html.ValidationMessageFor(m => m.StockModule)</span>
        </div>
    </div>


    <div class="control-group" data-bind="visible: isAdmin">
        <label class="control-label">@Html.LabelFor(m => m.TrialPeriod)</label>
        <div class="span1" style="margin-left:25px;">
            @Html.CheckBoxFor(m => m.TrialPeriod, new { data_bind = "enable: isAdmin, value: trialPeriod" })

        </div>        
        <div class="span2">
            <label>
                @Html.TextBoxFor(m => m.ExpirationDate, new { data_bind = "enable: trialPeriod(), value: expirationDate", @class = "date input-small", @readonly = true })


              @*  <input type="text" id="ExpirationDate" name="ExpirationDate" data-bind="enable: trialPeriod(), value: expirationDate" class="date input-small" readonly />*@
            </label>
        </div>
    </div>

    <h3>@RapidVet.Resources.ClinicGroup.EditClinicGroupSms</h3>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.UnicellUserName)</label>
        <div class="controls">
            @Html.EditorFor(m => m.UnicellUserName)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.UnicellPassword)</label>
        <div class="controls">
            @Html.EditorFor(m => m.UnicellPassword)
        </div>
    </div>



    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.SignatureSmsTemplate)</label>
        <div class="controls">
            <input class="phone-number" type="text" name="SignatureSmsTemplate" maxlength="10" id="SignatureSmsTemplate" value="@Model.SignatureSmsTemplate" />
          @*  @Html.EditorFor(m => m.SignatureSmsTemplate)*@
        </div>
    </div>

    <h3>@RapidVet.Resources.ClinicGroup.EditClinicGroupEmail</h3>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailAddress)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.EmailAddress, new { data_bind = "value:emailAddress" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.EmailBusinessName)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.EmailBusinessName, new { data_bind = "value:emailBusinessName" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.RabiesReportCC)</label>
        <div class="controls">
            @Html.CheckBoxFor(m => m.RabiesReportCC)
            <span class="help-inline">@Html.ValidationMessageFor(m => m.RabiesReportCC)</span>
        </div>
    </div>
      
    <div class="control-group">
        <button class="btn btn-large btn-info" type="submit" data-bind="click: submitForm,enable: isValid">
            <i class="icon-envelope"></i>
            בדוק שליחת מייל
        </button>
    </div>

    <p class="control-label" id="statusMsg" style="display:block;position:relative;margin:auto;text-align: right;width:100%;height:auto;font-weight:bold;"></p>

    <br />
    <br />
    <br />
    <h3>@RapidVet.Resources.ClinicGroup.EditClinicGroupPostCard</h3>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.PostCardWidth)</label>
        <div class="controls">
            @Html.EditorFor(m => m.PostCardWidth)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.PostCardHight)</label>
        <div class="controls">
            @Html.EditorFor(m => m.PostCardHight)
        </div>
    </div>
    <h3>@RapidVet.Resources.ClinicGroup.EditClinicGroupStiker</h3>
    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.StikerColumns)</label>
        <div class="controls">
            @Html.EditorFor(m => m.StikerColumns)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.StikerRows)</label>
        <div class="controls">
            @Html.EditorFor(m => m.StikerRows)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.StikerRowHight)</label>
        <div class="controls">
            @Html.EditorFor(m => m.StikerRowHight)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.StickerSideMargin)</label>
        <div class="controls">
            @Html.EditorFor(m => m.StickerSideMargin)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">@Html.LabelFor(m => m.StikerTopMargin)</label>
        <div class="controls">
            @Html.EditorFor(m => m.StikerTopMargin)
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn ok" type="submit" name="Edit">@RapidVet.Resources.Global.Save</button>
        </div>       
    </div> 
}