﻿@using RapidVet.RapidConsts.Controllers

@{
    var modalId = ClinicGroupConsts.CREATE_MODAL_ID;
}
<h2>@RapidVet.Resources.Navigation.ClinicGroups</h2>

<div>
    <a href="@Url.Action("Create", "ClinicGroups")" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
</div>
<br />
<div id="@ClinicGroupConsts.CLINIC_GROUP_INDEX_ID">
    @Html.Action("IndexGrid")


</div>



<div id="EditArea">
</div>


