﻿@model RapidVet.Model.Clinics.ClinicGroup

@{
    ViewBag.Title = "Remove";
}

<h2>@RapidVet.Resources.Controllers.ClinicGroupController.RemoveClinicGroup</h2>

<fieldset>
    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Comments</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
    <div class="display-label">CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">CreatedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedById)
    </div>
</fieldset>
<a class="btn-large btn-danger " data-toggle="modal" onclick="$('#removeClinicGroupModal').modal('show')"  style="cursor: pointer;">@RapidVet.Resources.Controllers.ClinicGroupController.RemoveClinicGroup</a>

<div class="modal hide" id="removeClinicGroupModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>@RapidVet.Resources.Controllers.ClinicGroupController.RemoveClinicGroup</h3>
  </div>
    <div class="modal-body">
        <p>
            @RapidVet.Resources.Controllers.ClinicGroupController.RemoveClinicGroupWarning
        </p>
        <p>@using (Html.BeginForm()) {
               <p>
                   <input type="submit" class="btn-large btn-danger " value="@RapidVet.Resources.Global.Remove" /> 
                   <br/>

                   <a href="@Url.Action("Index","ClinicGroups")">@RapidVet.Resources.Global.Back</a>
               </p>
           }</p>
    </div>
</div>