﻿@model List<string>
              
    
    <p>
        @foreach (var element in Model)
        {
            @element <br />
        }
    </p>   


    <a href="@Url.Action("Index" , "Issuers")">לחץ כאן לעדכון</a>
