﻿@model RapidVet.Model.Archives.ArchiveDocument

@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/FileUploadRest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Archives/Create.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Vendor/jquery.form.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    <script type="text/javascript">
        (function () {

            var bar = $('.progress-bar');
            var percent = $('.progress-bar');

            $('form').ajaxForm({
                beforeSend: function () {
                    var percentVal = '0%';
                    bar.width(percentVal)
                    $('#progressID').removeClass('hide');
                    $('#progressID').addClass('row');
                    percent.html('starting download');
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html((position / 1000000).toFixed(2) + 'MB / ' + (total / 1000000).toFixed(2) + 'MB');
                },
                success: function () {
                    window.location.href = document.referrer;
                },
                complete: function (xhr) {
                    percent.html('download completed');
                }
            });

        })();
    </script>
}

@section clientDetailsBar
{
    @Html.Action("GetClientDetailsBar", "Base", new { id = patientId })
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<style type="text/css">
    #KeyWord1, #KeyWord2, #KeyWord3, #KeyWord4 {
        width: 100px;
        margin-right: -35px;
    }

    .progress-bar {
        height: 18px;
        background: #7DBA00;
        width: 0%;
    }

    .progress {
        position: relative;
        width: 40%;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 3px;
    }
</style>

<h2>העלאת מסמך לארכיון</h2>


<div data-bind="visible: isImage">
    <a class="btn btn-primary" data-bind="click: addFileInput"><i class="icon-plus"></i>הוסף קובץ להעלאה</a>
    <br /><br />
</div>


@*@using (Html.BeginForm("Create", "Archives", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))*@
@using (Ajax.BeginForm("Create", "Archives", new AjaxOptions() { HttpMethod = "POST" }, new { @class = "form-inline", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="patientId" id="patientId" value="@patientId" />

    <div class="row">
        <div class="span2">
            <label>
                <span>@RapidVet.Resources.ArchiveDocumant.FileTypeId</span>
            </label>
        </div>
        <div class="span3" style="margin-left: 15px;">
            <label>
                <select name="FileTypeId" data-bind="options: fileTypes, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedFileTypeId " id="drpArchive"></select>
            </label>
        </div>
        <div id="fileTypeError" style="color:red;display:none;">
            אנא בחר סוג מסמך
        </div>
    </div>

    <br />
    <div>
        <div class="row">
            <div class="span2">
                <label>בחר קובץ</label>
            </div>
            <div class="span3" style="margin-left: 15px;">
                <ul data-bind="foreach: files" style="list-style-type: none;">
                    <li>
                        <label>
                            <input type="file" data-bind="attr: { name: name }" id="ArchiveDoc" accept=".csv,.docx,.doc,.xlsx,.xls,.pdf" style="display:none" multiple />
                            <input type="file" data-bind="attr: { name: name }" id="ArchiveVed" accept=".avi,.mp4,.wav" style="display:none" multiple />
                            <input type="file" data-bind="attr: { name: name }" id="ArchiveImg" accept=".bmp,.png,.jpg" style="display:none" multiple />
                            <a data-bind="click: $root.removeFileInput, visible: $root.removeButtonVisible"><i class="icon-remove"></i></a>
                        </label>
                    </li>
                </ul>
            </div>
            <div id="fileError" style="margin-top: -15px; color:red; display:none;">

            </div>
            <span id="progressID" class="hide">
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success">0%</div>
                </div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <label>שם</label>
        </div>
        <div class="span3" style="margin-left: 15px;">
            <label>
                @Html.TextBox("Title", Model.Title)
            </label>
        </div>
        <div id="nameError" style="color:red;display:none;">
            אנא הזן שם
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span2">
            <label>@RapidVet.Resources.ArchiveDocumant.Comments</label>
        </div>
        <div class="span8">
            <label>
                @Html.TextAreaFor(m => m.Comments)
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span12">
            <label>
                @Html.CheckBox("ShowInPatientHistory", Model.ShowInPatientHistory, new { @class = "styled" })
                @RapidVet.Resources.ArchiveDocumant.ShowInPatientHistory
            </label>

            @Html.HiddenFor(m => m.ShowInPatientHistory)
        </div>
    </div>
    <br />
    <div data-bind="visible: isImage">

        <div class="row" style=" max-width: 550px">

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord1)
                </label>
            </div>

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord2)
                </label>
            </div>

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord3)
                </label>
            </div>

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord4)
                </label>
            </div>

        </div>
    </div>

    <br />
    <div class="row">
        <div class="controls" style="text-align: right;">
            <button type="submit" class="btn ok" onclick="return createArchiveFile()">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>

}

