﻿@model RapidVet.Model.Archives.ArchiveDocument
@using RapidVet.Enums


<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">
<link rel="stylesheet" href="@Url.Content("~/Content/Jcrop/jquery.Jcrop.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)">

@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    var documentId = Request.QueryString["documentId"];
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/FileUploadRest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Archives/Create.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Vendor/jquery.form.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Content/WAMI/gui.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Content/WAMI/recorder.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="@Url.Content("~/Scripts/Vendor/jquery.Jcrop.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>

    <script>
        (function () {

            inputFileControlsCount = 1;
            var bar = $('.progress-bar');
            var percent = $('.progress-bar');

            $('form').ajaxForm({
                beforeSend: function () {
                    var percentVal = '0%';
                    bar.width(percentVal)
                    $('#progressID').removeClass('hide');
                    $('#progressID').addClass('row');
                    percent.html('starting download');
                },
                uploadProgress: function (event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html((position / 1000000).toFixed(2) + 'MB / ' + (total / 1000000).toFixed(2) + 'MB');
                },
                success: function () {
                    window.location.href = document.referrer;
                },
                complete: function (xhr) {
                    percent.html('download completed');
                }
            });

            $("#contrastSlider").slider({
                min: -0.5,
                max: 0.5,
                step: 0.01,
                value: 0,
                change: function (event, ui) {
                    $('#Contrast').val(ui.value);
                    updateImageFilters();
                }
            });
            $("#brightnessSlider").slider({
                min: -0.5,
                max: 0.5,
                step: 0.01,
                value: 0,
                change: function (event, ui) {
                    $('#Brithness').val(ui.value);
                    updateImageFilters();
                }
            });

            $('#docImage').Jcrop({
                onChange: updateCords,
                onSelect: updateCords
            });


            $("#docImage").load(function () {
                jQuery('#CropHeight').val($('#docImage').height());
                jQuery('#CropWidth').val($('#docImage').width());
            });


            updateImageFilters();


            //WAMI
            setupRecorder();
        })();

        function isEmptyOrWhiteSpaces(str) {
            return typeof str == "undefined" || str === null || str.match(/^ *$/) !== null;
        }

        function updateImageFilters() {

            var c = parseFloat($('#Contrast').val()) + 1;

            var b = parseFloat($('#Brithness').val()) + 1;

            var filterValue = 'contrast(' + c + ') brightness(' + b + ')';

            var docImage = $('.jcrop-holder img');

            docImage.css('-webkit-filter', filterValue);
            docImage.css('-moz-filter', filterValue);
            docImage.css('-o-filter', filterValue);
            docImage.css('-ms-filter', filterValue);
        }

        function updateCords(c) {
            jQuery('#CroopX').val(c.x);
            jQuery('#CroopY').val(c.y);
            jQuery('#CroopX2').val(c.x2);
            jQuery('#CroopY2').val(c.y2);

        }

        //WAMI
        function setupRecorder() {
            Wami.setup({
                id: "wami",
                onReady: setupGUI
            });
        }
        function setupGUI() {
            var gui = new Wami.GUI({
                id: "wami",
                recordUrl: "/Archives/RecordAudion/@documentId",
                playUrl: "/Archives/GetDocument/@documentId?isAudio=true"
            });
            gui.setRecordEnabled(true);
            gui.setPlayEnabled(false);
        }       
    </script>
}
@section clientDetailsBar
{
    @Html.Action("GetClientDetailsBar", "Base", new { id = patientId })
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}
<style type="text/css">
    #KeyWord1, #KeyWord2, #KeyWord3, #KeyWord4 {
        width: 100px;
        margin-right: -35px;
    }
</style>
<h2>עריכת מסמך ארכיון</h2>

@using (Html.BeginForm("Edit", "Archives", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary()

    //Hiddens input for the image proccecing
    <input type="hidden" id="CroopX" name="CroopX" value="" />
    <input type="hidden" id="CroopY" name="CroopY" value="" />
    <input type="hidden" id="CroopX2" name="CroopX2" value="" />
    <input type="hidden" id="CroopY2" name="CroopY2" value="" />
    <input type="hidden" id="Contrast" name="Contrast" value="0" />
    <input type="hidden" id="Brithness" name="Brithness" value="0" />
    <input type="hidden" id="CropHeight" name="CropHeight" value="" />
    <input type="hidden" id="CropWidth" name="CropWidth" value="" />

    <input type="hidden" name="Id" value="@Model.Id" />
    if (Model.FileType == ArchivesFileType.Image)
    {
        <img id="docImage" src="@Url.Action("GetDocument", "Archives", new { id = Model.Id })" style="width: 400px;" />
        <br />
        <br />

        <div class="row">
            <div class="span2">
                <label>בהירות</label>
            </div>
            <div class="span4">

                <div style="width: 216px;" id="brightnessSlider"></div>

            </div>
        </div>

        <div class="row">
            <div class="span2">
                <label>ניגודיות</label>
            </div>
            <div class="span4">

                <div style="width: 216px;" id="contrastSlider"></div>

            </div>
        </div>

    }
    else
    {
        <div class="row">
            <div class="span12">
                <label>
                    <a href="@Url.Action("GetDocument", "Archives", new { id = Model.Id })" target="_blank">לפתיחת הקובץ הקיים</a>
                </label>
            </div>
        </div>
    }


    <div class="row">
        <div class="span2">
            <label>שם</label>
        </div>
        <div class="span3" style="margin-left:15px;">
            <label>@Html.TextBoxFor(m => m.Title)</label>
        </div>
        <div id="nameError" style="color:red;display:none;">
            אנא הזן שם
        </div>
    </div>

    <div class="row">
        <div class="span2">
            <label>בחר קובץ</label>
        </div>
        <div class="span3">
            <label>
                <input type="file" name="file" />
            </label>
        </div>
        <div id="fileError" style="color:red; display:none;">

        </div>
        <span id="progressID" class="hide">
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-success">0%</div>
            </div>
        </span>
    </div>


    <div class="row">
        <div class="span2">
            <label>@RapidVet.Resources.ArchiveDocumant.Comments</label>
        </div>
        <div class="span10">
            <label>@Html.TextAreaFor(m => m.Comments)</label>
        </div>
    </div>

    <br />


    if (Model.FileType == ArchivesFileType.Image)
    {


        <div class="row" style=" max-width: 550px">

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord1)
                </label>
            </div>

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord2)
                </label>
            </div>

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord3)
                </label>
            </div>

            <div class="span1">
                מפתח
            </div>
            <div class="span2">
                <label>
                    @Html.EditorFor(model => model.KeyWord4)
                </label>
            </div>

        </div>

        <br />
        @*<div class="row">
                <div class="span2">
                    <label>העלאת קובץ אודיו</label>
                </div>
                <div class="span10">
                    <label>
                        <input type="file" accept=".wav" name="audioFile" /></label>
                </div>
            </div>


            <div class="row">
                <div class="span2">
                    <label>הקלטת קובץ אודיו</label>
                </div>
                <div class="span10">

                        <div id="wami"></div>

                </div>
            </div>*@

    }

    <br />
    <div class="row">
        <div class="span12">
            <label>
                @Html.EditorFor(m => m.ShowInPatientHistory)
                @RapidVet.Resources.ArchiveDocumant.ShowInPatientHistory
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="controls" style="text-align: right;">
            <button type="submit" class="btn ok" onclick="return editArchiveFile();">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>

}

