﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Archives/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<style>
    .btn-primary {
        width: 180px;
    }

    .btn-primary.small {
        width: 90px;
    }

      .btn-primary.mini {
        width: 45px;
    }
</style>

<input type="hidden" name="patientId" id="patientId" value="@patientId"/>

<div>
    @Muze.CreateButton(Url.Action("Create", "Archives", new { id = patientId }), "הוסף תוכן לארכיון")

    <a href="@Url.Action("GetImagesAsPdf" , new {id = Url.RequestContext.RouteData.Values["id"]})" class="btn btn-primary"><i class="icon-download"></i>ייצא תמונות ל PDF</a>

    <a class="btn btn-primary" data-bind="attr: { href: sideBySideImagesUrl }"><i class="icon-th"></i>הצג תמונות נבחרות במקביל</a>

    <a class="btn btn-primary" data-bind="click: clearSelectedImages"><i class="icon-refresh"></i>נקה תמונות שנבחרו</a>

</div>

<br />
<div class="row well">
    <div class="span4">
        <div class="form-search">
            <input type="text" class="input-medium search-query" data-bind="value: searchQuery" />
            <button data-bind="click: search" class="btn btn-primary small">חפש</button>
        </div>
    </div>
    <div class="span2">
        <a class="btn btn-primary small" data-bind="click: clearSearch"><i class="icon-refresh"></i>נקה חיפוש</a>
    </div>
</div>
<div class="row" data-bind="visible: queryResults().length == 0">
    <div class="span2">
        <br />
        <br />
        <a href="#other" class="btn btn-primary small"><i class="icon-file"></i>מסמכים</a>
        <br />
        <br />
        <a href="#images" class="btn btn-primary small"><i class="icon-camera"></i>תמונות</a>
        <br />
        <br />
        <a href="#videos" class="btn btn-primary small"><i class="icon-film"></i>סרטי וידאו</a>
    </div>
    <div class="span10">
        <div id="other">
            <h3>מסמכים</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>סוג</th>
                        <th>תאריך</th>
                        <th>שעה</th>
                        <th>הערות</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: other">
                    <tr>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: TypeName"></td>
                        <td data-bind="text: Date"></td>
                        <td data-bind="text: Time"></td>
                        <td data-bind="text: Comments"></td>
                        <td>
                            <a class="btn btn-primary mini" data-bind="attr: { href: ViewUrl }"><i class="icon-eye-open"></i>צפה</a>
                            |
                            <a class="btn btn-primary mini" data-bind="attr: { href: EditUrl }"><i class="icon-edit"></i>ערוך</a>
                            |
                            <a class="btn btn-primary mini" data-bind="click: $root.showDeleteModal"><i class="icon-trash"></i>מחק</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="images">
            <h3>תמונות</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 10px;"></th>
                        <th>שם</th>
                        <th>סוג</th>
                        <th>תאריך</th>
                        <th>שעה</th>
                        <th>הערות</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: images">
                    <tr>
                        <td>
                            <input type="checkbox" data-bind="checked: Selected" />
                        </td>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: TypeName"></td>
                        <td data-bind="text: Date"></td>
                        <td data-bind="text: Time"></td>
                        <td data-bind="text: Comments"></td>
                        <td>
                            <a class="btn btn-primary mini" data-bind="attr: { href: ViewUrl }"><i class="icon-eye-open"></i>צפה</a>
                            |
                            <a class="btn btn-primary mini" data-bind="attr: { href: EditUrl }"><i class="icon-edit"></i>ערוך</a>
                            |
                            <a class="btn btn-primary mini" data-bind="click: $root.showDeleteModal"><i class="icon-trash"></i>מחק</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="videos">
            <h3>סרטי וידאו</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>שם</th>
                        <th>סוג</th>
                        <th>תאריך</th>
                        <th>שעה</th>
                        <th>הערות</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: videos">
                    <tr>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: TypeName"></td>
                        <td data-bind="text: Date"></td>
                        <td data-bind="text: Time"></td>
                        <td data-bind="text: Comments"></td>
                        <td>
                            <a class="btn btn-primary mini" data-bind="attr: { href: ViewUrl }"><i class="icon-eye-open"></i>צפה</a>
                            |
                            <a class="btn btn-primary mini" data-bind="attr: { href: EditUrl }"><i class="icon-edit"></i>ערוך</a>
                            |
                            <a class="btn btn-primary mini" data-bind="click: $root.showDeleteModal"><i class="icon-trash"></i>מחק</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div data-bind="visible: queryResults().length > 0">
    <h3>תוצאות חיפוש</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>שם</th>
                <th>סוג</th>
                <th>תאריך</th>
                <th>שעה</th>
                <th>הערות</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: queryResults">
            <tr>
                <td data-bind="text: Title"></td>
                <td data-bind="text: TypeName"></td>
                <td data-bind="text: Date"></td>
                <td data-bind="text: Time"></td>
                <td data-bind="text: Comments"></td>
                <td>
                    <a class="btn btn-primary mini" data-bind="attr: { href: ViewUrl }"><i class="icon-eye-open"></i>צפה</a>
                    |
                    <a class="btn btn-primary mini" data-bind="attr: { href: EditUrl }"><i class="icon-edit"></i>ערוך</a>
                    |
                    <a class="btn btn-primary mini" data-bind="click: $root.showDeleteModal"><i class="icon-trash"></i>מחק</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>מחיקת <span data-bind="text: elementToDeleteTypeName"></span></h3>
    </div>
    <div class="modal-body">
        <h3>
            @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <button data-bind="click: deleteDocument" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-bind="click: clearDeleteModal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    </div>
</div>

