﻿@model  RapidVet.Model.Archives.ArchiveDocument[]
@{
    Layout = ViewBag.Print
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_PatientsLayout.cshtml";
    var rowSize = 2;
    var rowCounter = Model.Count() % 2 == 0
                         ? Model.Count() / 2
                         : Model.Count() / 2 + 1;
    var location = 0;
    var patientId = Url.RequestContext.RouteData.Values["id"];
    var imageIds = Request.Params["imageIds"];
    
}

<style>
    .sbsImage {
        width: 49%;
        margin-right: auto;
        margin-left: auto;
    }
</style>


@section clientDetailsBar
{
    @if (!ViewBag.Print)
    { 
        @Html.Action("GetClientDetailsBar", "Base", new { id = patientId })
    }
}

@if (!ViewBag.Print)
{
    @Muze.PrintButton(Url.Action("SideBySideImages", "Archives", new { id = patientId, imageIds = imageIds, print = true }))
}

<table>
    @if (Model.Any())
    {
        for (int i = 0; i < rowCounter; i++)
        {
        <tr>
            @for (int j = 0; j < rowSize; j++)
            {

                if (location < Model.Length)
                {
                <td class="sbsImage">
                    <img src="@Url.Action("GetDocument", "Archives", new { id = Model[location].Id })" class="sbsImage"/>
                </td>
                
                }
                else
                {
                    break;
                }
                location++;
            }
        </tr>
        }
    }
</table>
