﻿@model RapidVet.Model.Archives.ArchiveDocument
@using RapidVet.Enums

@{
    Layout = ViewBag.Print
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_PatientsLayout.cshtml";

    var videoSource = string.Format("/Archives/GetDocument/{0}", Model.Id);
    var documentId = Request.QueryString["documentId"];
    var patientId = Url.RequestContext.RouteData.Values["id"];
 
}


@section scripts
{
    @*    <script type="text/javascript" src="@Url.Content("~/Scripts/Vendor/flowplayer.js")"></script>*@

    @*<script src="@Url.Content("~/Content/WAMI/gui.js")"></script>
    <script src="@Url.Content("~/Content/WAMI/recorder.js")"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script>
        //WAMI
        function setupRecorder() {
            Wami.setup({
                id: "wami",
                onReady: setupGUI
            });
        }
        function setupGUI() {
            var gui = new Wami.GUI({
                id: "wami",
                recordUrl: null,
                playUrl: "/Archives/GetDocument/@documentId?isAudio=true"
            });
            gui.setRecordEnabled(false);
            gui.setPlayEnabled(true);
        }

        $(function () {
            //WAMI
            setupRecorder();
        });

    </script>*@

}

@section clientDetailsBar
{
    @if (!ViewBag.Print)
    {
        @Html.Action("GetClientDetailsBar", "Base", new { id = Model.PatientId })
    }
}
@section patientDetailsBar
{
    @if (!ViewBag.Print)
    {
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
    }
}

@*<link rel="stylesheet" href="@Url.Content("~/Content/skin/minimalist.css")"/>*@
@if (!ViewBag.Print)
    {
        <h2>תצוגת מסמך ארכיון</h2>
    }
@if (Model.FileType == ArchivesFileType.Image && !ViewBag.Print)
{
    <a class="btn btn-primary" target="_blank" href="@Url.Action("View", "Archives", new { id = Model.PatientId, documentId = Model.Id, print = true })">
        <i class="icon-print"></i>
        הדפס
    </a>
    @*if (Model.HasAudio)
    {
        <a class="btn btn-primary" target="_blank" href="@Url.Action("GetDocument", new { id = Model.Id , isAudio = true })">
            <i class="icon-play"></i>
         נגן קובץ קול מצורף
        </a>
    }*@
        <a class="btn btn-primary" target="_blank" href="@Url.Action("Edit", "Archives", new { id = Model.PatientId, documentId = Model.Id, print = true })">
        <i class="icon-edit"></i>
        עריכה
    </a>
}
@if (!ViewBag.Print)
{
    <br />
    <br />
    <h2>@Html.DisplayFor(m => m.Title)</h2>

    <div>
        @Html.DisplayFor(m => m.Comments)
    </div>

    <div class="row">
        מילות מפתח: @Html.DisplayFor(m => m.KeyWord1)&nbsp;&nbsp;
        @Html.DisplayFor(m => m.KeyWord2)&nbsp;&nbsp;
        @Html.DisplayFor(m => m.KeyWord3)&nbsp;&nbsp;
        @Html.DisplayFor(m => m.KeyWord4)
    </div>
}
@*<div class="row">
    @if (Model.FileType == ArchivesFileType.Image && Model.HasAudio)
    {
        <div id="wami" style="margin-right: 159px; margin-top: -152px"></div>
        <div style="background-color: white; margin-right: 263px; margin-top: 21px; width: 70px; height: 68px; z-index: 999; position: absolute;"></div>
    }

</div>*@

<br />
<br />
@switch (Model.FileType)
{
    case ArchivesFileType.Image:
    <div>
        <img style="max-width: 100%;" src="@Url.Action("GetDocument", "Archives", new { id = Model.Id })"/>
    </div>
        break;
    case ArchivesFileType.Video:
    
    
        <a class="btn btn-primary" href="@Url.Action("GetDocument", new { id = Model.Id })">
            <i class="icon-play-circle"></i>
            צפיה בסרט
        </a>
    

@*
        <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167">
            <video>
                <source type="@Model.ContentType" src="@videoSource">
            </video>
        </div>

    <div>
        <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <video class="video-js vjs-default-skin" controls
            preload="auto" width="640" height="480"
            data-setup="{}">
            <source src="@Url.Action("GetDocument", new { id = Model.Id })" type="@Model.ContentType">
        </video>
    </div>*@
        break;
    case ArchivesFileType.Document:
    <div>
        <a href="@Url.Action("GetDocument", "Archives", new { id = Model.Id })" target="_blank">לפתיחת הקובץ </a>
    </div>
        break;
}




