﻿@using RapidVet.Enums
@model RapidVet.Model.Clinics.LetterTemplate
           

@section scripts
{    
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/LetterTemplates.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<div style="float:left;cursor: pointer;" onclick="$('#KeyWordsHelpModal').modal('show')">
    <img src="/Content/img/RapidVet/help.png">
</div>
<h2>@RapidVet.Resources.Enums.LetterTemplateEnum.ResourceManager.GetString(((LetterTemplateType)Model.LetterTemplateTypeId).ToString())</h2>
<br />
@using (Html.BeginForm("Edit", "LetterTemplates", FormMethod.Post, new { @class = "form-horizontal", id = "letter" }))
{
    @Html.HiddenFor(m => m.LetterTemplateTypeId)
   
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        @Html.Raw(Model.Content)
    </textarea>   

    <input type="hidden" name="Content" id="Content" />
    
    <br />
    <br />
    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button onclick="sendForm();" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
}


<div class="modal hide fade" id="KeyWordsHelpModal">
    <div class="modal-header">
        <button type="button" class="close" onclick="$('#KeyWordsHelpModal').modal('hide')" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.ClinicGroup.TemplateKeyWordsHelpModalCaption</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table">
                <tbody>
                    @foreach(var item in ViewBag.TemplateKeywords)
                    { 
                    <tr>
                        <td>@item.KeyWord</td>
                        <td>@item.KeyWordComment</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>