﻿@using RapidVet.Enums

<script type="text/javascript" src="@Url.Content("~/Scripts/App/LetterTemplateIndex.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

<h2>@RapidVet.Resources.LetterTemplate.EditLetterTemplates</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@RapidVet.Resources.LetterTemplate.Template</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LetterTemplateType l in Enum.GetValues(typeof(LetterTemplateType)))
        {
            if (l != LetterTemplateType.PersonalLetter && l != LetterTemplateType.MinistryOfAgricultureReport)
            { 
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "LetterTemplates", new { id = (int)l })">
                        @RapidVet.Resources.Enums.LetterTemplateEnum.ResourceManager.GetString(l.ToString())
                    </a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>

<h3>@RapidVet.Resources.LetterTemplate.PersonalLetterTemplates</h3>

<a class="btn btn-primary" data-bind="click: showCreatePersonalLetter">
    <i class="icon-plus"></i>
    @RapidVet.Resources.LetterTemplate.Add
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 60%;">@RapidVet.Resources.LetterTemplate.Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: plTemplates">

        <tr>
            <td><a data-bind="text: name, attr: { href: editUrl }"></a></td>
            <td>
                <a class="btn btn-primary tblBtn" data-bind="click: $parent.showEditPersonalTemplate">
                    <i class="icon-edit"></i>
                    @RapidVet.Resources.LetterTemplate.Edit
                </a>

                <a class="btn btn-danger tblBtn" data-bind="click: $parent.showDeletePersonalTemplate">
                    <i class="icon-remove"></i>
                    @RapidVet.Resources.LetterTemplate.Delete
                </a>

            </td>
        </tr>
    </tbody>
</table>


<div class="modal hide fade" id="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 data-bind="text: modalTitle"></h3>
    </div>
    <div class="modal-body">
        <form method="POST" id="form" class="form-inline" data-bind="attr: { action: formAction }">
            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.LetterTemplate.Name</label>
                </div>
                <div class="span4">
                    
                        <input type="text" required name="TemplateName" data-bind="value: pTemplateName" />
                    
                </div>
            </div>
            <br />
            <div>
                <div class="controls" style="text-align: center;">
                    <button data-bind="click: submit" class="btn ok">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal hide fade" id="deletemodal" data-bind="with: pTemplateToDelete">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.LetterTemplate.DeletePersonalTemplate:  <span data-bind="text: name" ></span></h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("DeletePersonalLetter", "LetterTemplates", FormMethod.Post, new { id = "deleteForm", @class = "form-horizontal" }))
        {
            <input type="hidden" name="Id" data-bind="value: id " />
            <div class="row-fluid">
                <br />
                <div class="row" style="text-align:center;">
                    <button data-bind="click: $parent.deletePersonalTemplate" class="btn btn-danger btn-large">@RapidVet.Resources.Global.Delete</button>
                </div>
                
            </div>
        }
    </div>
</div>