﻿

<img src="/ClinicGroups/LogoImage" style="max-width: 100%;float:left;max-height: 150px;max-width: 150px;">
<br /><br />

<div class="row">
    <div class="span4">
        <h3>@Html.DisplayFor(m => m.ClinicName)</h3>
        <span>@Html.DisplayFor(m => m.ClinicAddress)</span>
        <br />
        <span>טל':</span><span>@Html.DisplayFor(m => m.ClinicPhone)</span>
        <br />
        <span>פקס:</span><span>@Html.DisplayFor(m => m.ClinicFax)</span>
        <br />
        <span>email</span><span>@Html.DisplayFor(m => m.ClinicEmail)</span>
    </div>
    <div class="span4">&nbsp;</div>
    <div class="span4">&nbsp;</div>
</div>

