﻿@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineItemCreateModel

<input type="hidden" id="initialClientId" value="@Model.ClientId"/>
<input type="hidden" id="initialPatientId" value="@Model.PatientId"/>

<input type="hidden" data-bind="value: selectedPatientId" name="patientId" id="patientId" />
<input type="hidden" data-bind="value: selectedClientId" name="clientId" id="clientId" />

<style type="text/css">
    #SchedualedDate
    {
        width:212px !important;
    }
</style>

<div class="row control-group">
    <div class="span2">
        <label>@RapidVet.Resources.PreventiveReminders.OwnerName</label>
    </div>
    <div class="span10" style="height: 38px;">
        <div class="span3" style="margin-top: -6px; margin-right: -3px;">
            <label>
                <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
            </label>
        </div>
        <div class="span3">
            <label class="no-results" style="display:none; position: relative;"> לא נמצאו תוצאות</label>
        </div>
        @*<label>
            <select required data-bind="value: selectedClientId, options: clients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>*@
    </div>
</div>

<div class="row control-group">
    <div class="span2">
        <label>@RapidVet.Resources.PreventiveReminders.AnimalName</label>
    </div>
    <div class="span10">
        <label>
            <select required data-bind="value: selectedPatientId, options: patients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
        </label>
    </div>
</div>

<div class="row control-group">
    <div class="span2">
        <label>@RapidVet.Resources.PreventiveReminders.VaccinTreatmentName</label>
    </div>
    <div class="span10">
        <label>
            @Html.EditorFor(m => m.PriceListItemId)
        </label>
    </div>
</div>

<div class="row control-group">
    <div class="span2">
        <label>@RapidVet.Resources.PreventiveReminders.Venue</label>
    </div>
    <div class="span10">
        <label>@Html.TextBox("SchedualedDate", Model.SchedualedDate.ToShortDateString(), new { @class = "date"})</label>
    </div>
</div>

<div class="row control-group">
    <div class="span2">
        <label>@RapidVet.Resources.PreventiveReminders.Comment</label>
    </div>
    <div class="span10">
        <label>@Html.TextAreaFor(m => Model.Comment, new { @style = "width: 758px;", rows = "3" })</label>
    </div>
</div>

@Muze.OkButton()