﻿@model RapidVet.WebModels.PreventiveMedicine.PreventiveMedicineItemCreateModel

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/MedicalProcedures/Manage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>@RapidVet.Resources.PreventiveReminders.EditPreventiveReminder</h2>

@using(Html.BeginForm("Edit","PreventiveMedicineReminders",FormMethod.Post, new{@class = "form-inline"}))
{
    @Html.HiddenFor(m => m.PreventiveMedicineItemId)

@Html.Partial("_MainForm",Model)

}