﻿
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/PreventiveReminders/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/App/Finance/moment.min.js")'></script>
}
<style>
    errorBackgroundCss {
        background-color: #FFA5A5 !important;
    }

    .viewBtn {
        width: 64px;
    }

    .showRemindersCount {
        display: inline-block;
        margin-right: 10px;
        margin-left: -118px;
    }

    .hideRemindersCount {
        display: none;
    }

    table {
        border-collapse: collapse;
    }

    td, th {
        padding: 0 2px 0 2px;
    }

    .outer-container {
        /*background-color: #ccc;*/
        position: relative;
        top: 0;
        left: 160px;
        right: 0;
        bottom: 40em;
        height: 450px;
        width: 100%;
        min-width: 1330px;
    }

    .inner-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .table-header {
        position: relative;
    }

    .table-body {
        overflow: auto;
        height: 100%;
    }

    .header-cell {
        /*background-color: yellow;   */
        height: 40px;
        font-weight: bold;
        text-align: right;
        vertical-align: middle;
    }

    .body-cell {
        /*  background-color: blue;*/
        word-break: break-all;
        display: table-cell;
        text-align: right;
        vertical-align: middle;
    }

    .col1 {
        width: 1%;
        min-width: 15px;
    }

    .col2, .col9, .col10, .col12, .col13, .col16 {
        width: 5%;
        min-width: 67px;
    }

    .col3 {
        width: 7%;
        min-width: 93px;
    }

    .col4 {
        width: 6%;
        min-width: 80px;
    }

    .col5, .col6 {
        width: 4%;
        min-width: 53px;
    }

    .col15 {
        width: 3%;
        min-width: 40px;
    }

    .col7, .col8 {
        width: 10%;
        min-width: 133px;
    }


    .col11 {
        width: 11%;
        min-width: 146px;
    }

    .col14 {
        width: 12%;
        min-width: 120px;
    }

    #headertable div.sortable {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        #headertable div.sortable i {
            width: 13px;
            margin-left: 7px;
            display: inline-block;
        }
</style>
<script src="@Url.Content("~/Scripts/App/FixedHeader/jquery.fixedheadertable.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<link href="@Url.Content("~/Scripts/App/FixedHeader/defaultTheme.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" rel="stylesheet" />
<link href="@Url.Content("~/Content/css/Paging.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" rel="stylesheet" />
<h2>@RapidVet.Resources.PreventiveReminders.Title</h2>
<br />
<div class="well" style="margin-top: -15px;">
    <div class="form-inline">

        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.PreventiveReminders.FromDate</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="date input-small" readonly data-bind="value: filterFromDate" id="filterFromDateID" />
                </label>
            </div>

            <div class="span2">
                <label>@RapidVet.Resources.PreventiveReminders.ToDate</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="date input-small" readonly data-bind="value: filterToDate" id="filterToDateID" />
                </label>
            </div>
            <div class="span7">
                <label id="errorFilterToDate" title="@RapidVet.Resources.PreventiveReminders.ErrorStartEndDateSequence" class="error-message" style="font-size: 20px;" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.PreventiveReminders.FromReminder</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="date input-small" readonly data-bind="value: filterFromReminderDate" id="filterFromReminderDateID" />
                </label>
            </div>

            <div class="span2">
                <label>@RapidVet.Resources.PreventiveReminders.ToReminder</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="date input-small" readonly data-bind="value: filterToReminderDate" id="filterToReminderDateID" />
                </label>
            </div>
            <div class="span7">
                <label id="errorFilterToReminderDate" title="@RapidVet.Resources.PreventiveReminders.ErrorStartEndDateSequence"
                       class="error-message" style="font-size: 20px;" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span2">
                <label>@RapidVet.Resources.PreventiveReminders.RegionalCouncil</label>
            </div>
            <div class="span3" style=" width: 140px;">
                <label>
                    <select data-bind="options: regionalCouncils, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedRegionalCouncilId" class="input-medium"></select>
                </label>
            </div>
            <div class="span1">
                <label>@RapidVet.Resources.PreventiveReminders.AnimalKind</label>
            </div>
            <div class="span3">
                <label>
                    <select data-bind="options: animalKinds, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedAnimalKindId" class="input-medium"></select>
                </label>
            </div>
            <div class="span1">
                <label>@RapidVet.Resources.Controllers.Views.PatientIndex.TreatingDoctor</label>
            </div>
            <div class="span2">
                <label>
                    <select data-bind="options: doctors, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedDoctorId" class="input-medium"></select>
                </label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="span1">
                <label>@RapidVet.Resources.PreventiveReminders.VaccinesAndPreventive</label>
                <label style="font-size: 10px;color: gray;margin-top:-5px;">@RapidVet.Resources.PreventiveReminders.MultipleSelectionHint</label>
            </div>
            <div class="span3">
                <label style="height:110px;">
                    <select multiple="multiple" size="2" style="height:110px;"
                            data-bind="options: preventiveItems, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: preventiveItemIdsList"></select>
                </label>
            </div>
            <div class="span1">
                <label>@RapidVet.Resources.Client.City</label>
                <label style="font-size: 10px;color: gray;margin-top:-5px;">@RapidVet.Resources.PreventiveReminders.MultipleSelectionHint</label>
            </div>
            <div class="span3">
                <label style="height:110px;">
                    <select multiple="multiple" size="2" style="height:110px;"
                            data-bind="options: cities, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: citiesIdsList"></select>
                </label>
            </div>
            <div class="span3">
                <div class="span3">
                    <input type="checkbox" data-bind="checked: filterOnlyFutureReminders" />
                    @RapidVet.Resources.PreventiveReminders.OnlyNotPreformed
                </div>
                <div class="span3">
                    <input type="checkbox" data-bind="checked: filterIncludeInactiveClients" />
                    @RapidVet.Resources.PreventiveReminders.IncludeNotActiveClients
                </div>
                <div class="span3">
                    <input type="checkbox" data-bind="checked: filterIncludeInactivePatients" />
                    @RapidVet.Resources.PreventiveReminders.IncludeNotActivePatients
                </div>
                <div class="span3">
                    <input type="checkbox" data-bind="checked: dontDisplayClientsWithFutureCalendarEntries" />
                    @RapidVet.Resources.PreventiveReminders.DontDisplayClientsWithFutureCalendarEntries
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="text-align: center;">
        <div class="span4" style="float: right;height:0px;margin-top:6px;margin-right: -47px;position:absolute;right:0;">
            <button data-bind="click: getReportData" class="btn btn-primary btn-large">
                <i class="icon-search"></i>
                @RapidVet.Resources.PreventiveReminders.ShowData
            </button>
            <label data-bind="class: remindersCountClass">מציג: <span data-bind="text:remindersCount()"></span> מתוך <span id="spanCurrentDataCount"></span> רשומות</label>
        </div>
        <div style="float: left;margin-top: 15px;">
            <div class="span1">
                <label>@RapidVet.Resources.PreventiveReminders.SelectFilter</label>
            </div>
            <div class="span3">
                <label>
                    <select data-bind="options: filters, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', value: selectedFilterId"></select>
                </label>
            </div>
            <div class="span2">
                <label>
                    <button class="btn btn-primary" data-bind="click: loadSelectedFilter">
                        <i class="icon-refresh"></i>
                        @RapidVet.Resources.PreventiveReminders.LoadFilter
                    </button>
                </label>
            </div>
            <div class="span2">
                <label>
                    <button class="btn btn-primary" data-bind="click: showFilterModal">
                        <i class="icon-file"></i>
                        @RapidVet.Resources.PreventiveReminders.SaveFilter
                    </button>
                </label>
            </div>
        </div>
    </div>
</div>


<a class="btn btn-primary" href="@Url.Action("Create", "PreventiveMedicineReminders")">
    <i class="icon-plus"></i>
    @RapidVet.Resources.PreventiveReminders.AddReminder
</a>
<a class="btn btn-primary" data-bind="attr: { href: printUrl }" target="_blank">
    <i class="icon-print"></i>
    @RapidVet.Resources.Global.Print
</a>
@if (CurrentUser.IsExcelExport)
{
    <a class="btn btn-primary" data-bind="attr: { href: excelUrl }">
        <i class=" icon-download-alt"></i>
        @RapidVet.Resources.Global.Export
    </a>
}
else
{
    <a class="btn btn-primary disabled">
        <i class=" icon-download-alt"></i>
        @RapidVet.Resources.Global.Export
    </a>
}
@*if (ViewBag.Letter)
    {*@
<button data-bind="css: LetterCssClass, disable: LetterDisabled(),  click: lettersUrl">
    <i class=" icon-inbox"></i>
    @RapidVet.Resources.PreventiveReminders.PrintLetters
</button>
@*}
    else
    {
        <a class="btn btn-primary disabled">
            <i class=" icon-inbox"></i>
            @RapidVet.Resources.PreventiveReminders.PrintLetters
        </a>
    }*@

@*@if (ViewBag.PostCards)
    {*@
<button data-bind="css: PostCardsCssClass, disable: PostCardsDisabled(),  click: postCardsUrl ">
    <i class="icon-th"></i>
    @RapidVet.Resources.PreventiveReminders.PrintPostcards
</button>
@*}
    else
    {
        <button class="btn btn-primary disabled">
            <i class=" icon-th"></i>
            @RapidVet.Resources.PreventiveReminders.PrintPostcards
        </button>
    }*@

@if (ViewBag.Stikers)
{
    <a class="btn btn-primary" data-bind="attr: { href: stickersUrl }" target="_blank">
        <i class="icon-th"></i>
        @RapidVet.Resources.PreventiveReminders.PrintStickers
    </a>
}
else
{
    <button class="btn btn-primary disabled">
        <i class=" icon-th"></i>
        @RapidVet.Resources.PreventiveReminders.PrintStickers
    </button>
}


<button data-bind="css: cssClass, click: markAsReminded">
    <i class="icon-ok-circle"></i>
    @RapidVet.Resources.PreventiveReminders.MarkAsReminded
</button>


@*@if (ViewBag.Sms)
    {*@
<button data-bind="css: SmsCssClass, disable: SmsDisabled(),  click: smsClients">
    <i class=" icon-envelope"></i>
    @RapidVet.Resources.PreventiveReminders.SendSMS
</button>
@*}
    else
    {
        <button class="btn btn-primary disabled">
            <i class=" icon-envelope"></i>
            @RapidVet.Resources.PreventiveReminders.SendSMS
        </button>
    }*@

@*@if (ViewBag.Email)
    {*@
<button data-bind="css: EmailCssClass, disable: EmailDisabled(), click: emailClients">
    <i class=" icon-tag"></i>
    @RapidVet.Resources.PreventiveReminders.SendEmail
</button>
@*}
    else
    {
        <button class="btn btn-primary disabled">
            <i class=" icon-tag"></i>
            @RapidVet.Resources.PreventiveReminders.SendEmail
        </button>
    }*@
<span style="float:left">
    <input type="checkbox" data-bind="checked: distinctClients" />
    @RapidVet.Resources.PreventiveReminders.UnifyPatientsForClient
</span>

<br />
<br />
<div style="width:100%;">
    @*<div align="center" class="paginationCUST hidePaging">*@
    <div align="center" class="paginationCUST" data-bind="click: $root.showPageRemindersCUST()">
        
    </div>
</div>
<br />
<div class="outer-container">
    <div class="inner-container">
        <div class="table-header">
            <table id="headertable">
                <thead>
                    <tr>
                        <th class="header-cell col1">
                            <input type="checkbox" id="markAll" onclick="toggle(this)" />
                        </th>
                        <!-- ko foreach: columns -->
                        <th data-bind="css: headerClass">

                            <div class="sortable " data-bind="click: $root.sortClick.bind(property)">
                                <span data-bind="html: header"></span><i data-bind="css: state"></i>
                            </div>
                        </th>

                        <!-- /ko -->

                        <th class="header-cell col16"></th>
                    </tr>
                </thead>
                @*<thead>
                        <tr>
                            <th class="header-cell col1"><input type="checkbox" id="markAll" onclick="toggle(this)" /> </th>
                            <th class="header-cell col2">@RapidVet.Resources.PreventiveReminders.Date
                                <div class="sortable" data-bind="click: $root.sortClick('scheduledDateStr')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col3">@RapidVet.Resources.PreventiveReminders.OwnerName
                                <div class="sortable" data-bind="click: $root.sortClick('clientName')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col4">@RapidVet.Resources.PreventiveReminders.AnimalName
                                <div class="sortable" data-bind="click: $root.sortClick('patientName')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col5">@RapidVet.Resources.PreventiveReminders.AnimalKind
                                <div class="sortable" data-bind="click: $root.sortClick('patientKind')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col6">@RapidVet.Resources.PreventiveReminders.Status
                                <div class="sortable" data-bind="click: $root.sortClick('clientStatus')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col7">@RapidVet.Resources.PreventiveReminders.TreatmentName
                                <div class="sortable" data-bind="click: $root.sortClick('priceListItemName')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col8">@RapidVet.Resources.PreventiveReminders.Address
                                <div class="sortable" data-bind="click: $root.sortClick('clientAddress')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col9">@RapidVet.Resources.PreventiveReminders.HomePhone
                                <div class="sortable" data-bind="click: $root.sortClick('clientHomePhone')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col10">@RapidVet.Resources.PreventiveReminders.CellPhone
                                <div class="sortable" data-bind="click: $root.sortClick('clientCellPhone')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col11">@RapidVet.Resources.PreventiveReminders.Email
                                <div class="sortable" data-bind="click: $root.sortClick('clientEmail')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col12">@RapidVet.Resources.PreventiveReminders.LastReminder
                                <div class="sortable" data-bind="click: $root.sortClick('lastReminderDateStr')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col13">@RapidVet.Resources.PreventiveReminders.NextAppointment
                                <div class="sortable" data-bind="click: $root.sortClick('nextAppointmentDateStr')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col14">@RapidVet.Resources.PreventiveReminders.Comments
                                <div class="sortable" data-bind="click: $root.sortClick('comments')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col15">#
                                <div class="sortable" data-bind="click: $root.sortClick('reminderCount')">
                                    <i data-bind="css: self.state"></i>
                                </div>
                            </th>
                            <th class="header-cell col16"></th>
                        </tr>
                    </thead>*@
            </table>
        </div>
        <div class="table-body">
            <table id="bodytable">
                @*<table id="remindersTable" class="table table-bordered ">*@
                @* class="table table-bordered ">*@

                <tbody data-bind="foreach: reminders">
                    <tr data-bind="style: { color: isPast() ? 'red' : 'black'}">


                        <td class="body-cell col1"><input class="preventiveItemIds" data-bind="attr: { id: pmiId }" type="checkbox" name="preventiveItemIds" /></td>@*data-bind="checked: Selected"*@
                        <td class="body-cell col2">
                            <span data-bind="text: scheduledDateStr"></span>
                        </td>
                        <td class="body-cell col3"><a data-bind="attr: { href: clientFileUrl },text: clientName,style:{ color: isPast() ? 'red' : 'black'}" style="text-decoration:underline;"></a></td>
                        <td class="body-cell col4"><a data-bind="attr: { href: patientFileUrl },text: patientName,style:{ color: isPast() ? 'red' : 'black'}" style="text-decoration:underline;"></a></td>
                        <td class="body-cell col5" data-bind="text: patientKind"></td>
                        <td class="body-cell col6" data-bind="text: clientStatus"></td>
                        <td class="body-cell col7" data-bind="text: priceListItemName"></td>
                        <td class="body-cell col8" data-bind="text: clientAddress"></td>
                        <td class="body-cell col9" data-bind="text: clientHomePhone"></td>
                        <td class="body-cell col10" data-bind="text: clientCellPhone"></td>
                        <td class="body-cell col11" data-bind="text: clientEmail"></td>
                        <td class="body-cell col12" data-bind="text: lastReminderDateStr"></td>
                        <td class="body-cell col13" data-bind="text: nextAppointmentDateStr"></td>
                        <td class="body-cell col14" data-bind="text: comments"></td>
                        <td class="body-cell col15" data-bind="text: reminderCount"></td>
                        <td class="body-cell col16" style="color:black;">
                            <a data-bind="attr: { href: editUrl }" data-toggle="tooltip" data-placement="top" title="עריכת רשומה" data-original-title="עריכת רשומה"><i class="icon-edit"></i></a>
                            |
                            <a data-bind="click: $root.showDeleteModal" data-toggle="tooltip" data-placement="top" title="מחיקת רשומה" data-original-title="מחיקת רשומה"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="filterModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.PreventiveReminders.FilterSaving</h3>
    </div>
    <div class="modal-body">

        <div class="row-fluid">
            <div class="span5">
                <h3>@RapidVet.Resources.PreventiveReminders.SelectExistingFilter</h3>
            </div>
            <div class="span5">
                <select data-bind="options: filters, optionsText: 'Text', optionsValue: 'Value', value: filterSaveToId, optionsCaption: 'בחר יעד לשמירה..'" class="input-medium"></select>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span3">
                <h2>@RapidVet.Resources.PreventiveReminders.Or</h2>
            </div>
            <div class="span3">&nbsp;</div>

        </div>

        <div class="row-fluid">
            <div class="span5">
                <h3>@RapidVet.Resources.PreventiveReminders.EnterNewName</h3>
            </div>
            <div class="span5">
                <input type="text" data-bind="value: filterRename" />
            </div>
        </div>

        <div class="form-horizontal">
            <div class="control-group">
                <div class="controls" style="text-align: left;">
                    <button type="submit" data-bind="click: saveFilter" class="btn ok btn-primary">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>מחיקת תזכורת</h3>
    </div>
    <div class="modal-body">
        <h3>
            @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <button data-bind="click: deleteReminder" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-bind="click: clearDeleteModal">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="sendSmsModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>שליחת הודעות</h3>
    </div>
    <div class="modal-body">
        <h3>
           אנא אשר שליחת
            <span data-bind="text: smsCount"></span>
             הודעות
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <button data-bind="click: sendSmsAfterVerification" class="btn btn-danger">@RapidVet.Resources.Global.Ok</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" data-bind="click: clearSMSModal">@RapidVet.Resources.Global.Cancellation</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="PostCards" name="PostCards" value="@ViewBag.PostCards">
<input type="hidden" id="MultiAnimalsPostCards" name="MultiAnimalsPostCards" value="@ViewBag.MultiAnimalsPostCards">
<input type="hidden" id="Sms" name="Sms" value="@ViewBag.Sms">
<input type="hidden" id="MultiAnimalsSms" name="MultiAnimalsSms" value="@ViewBag.MultiAnimalsSms">
<input type="hidden" id="Email" name="Email" value="@ViewBag.Email">
<input type="hidden" id="MultiAnimalsEmail" name="MultiAnimalsEmail" value="@ViewBag.MultiAnimalsEmail">
<input type="hidden" id="Letter" name="Letter" value="@ViewBag.Letter">
<input type="hidden" id="MultiAnimalsLetter" name="MultiAnimalsLetter" value="@ViewBag.MultiAnimalsLetter">
<input type="hidden" id="DistinctClients" name="DistinctClients" value="@ViewBag.DistinctClients">

<script type="text/javascript">

    $(document).ready(function () {
        $("#filterFromDateID").change(function (e) {
            validateDates($("#filterFromDateID"), $("#filterToDateID"), document.getElementById('errorFilterToDate'), e);
        });

        $("#filterToDateID").change(function (e) {
            validateDates($("#filterFromDateID"), $("#filterToDateID"), document.getElementById('errorFilterToDate'), e);
        });

        $("#filterFromReminderDateID").change(function (e) {
            validateDates($("#filterFromReminderDateID"), $("#filterToReminderDateID"), document.getElementById('errorFilterToReminderDate'), e);
        });

        $("#filterToReminderDateID").change(function (e) {
            validateDates($("#filterFromReminderDateID"), $("#filterToReminderDateID"), document.getElementById('errorFilterToReminderDate'), e);
        });

        function validateDates(fromD, toD, errorLblElem, e) {
            var from = moment(fromD.val(),"DD/MM/YYYY");
            var to = moment(toD.val(),"DD/MM/YYYY");
            if (fromD.val() != "" && toD.val() != "" && from > to) {
                fromD.css('background-color', '').css('background-color', errorBackground);
                toD.css('background-color', '').css('background-color', errorBackground);
                errorLblElem.innerText = errorLblElem.title;
            } else {
                fromD.css('background-color', '').css('background-color', '#e6e6e6');
                toD.css('background-color', '').css('background-color', '#e6e6e6');
                errorLblElem.innerText = '';
            }
        };
    });

</script>