﻿@model IEnumerable<string>
@{
    Layout = ViewBag.Print
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/CDN/jquery-1.8.3.min.js")" type="text/javascript"></script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/App/RapidVet.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>*@
<script type="text/javascript">

    $(document).ready(function () {
        breakeveryheader();
    });

    @{
       
        string chosenstyle;

        if (ViewBag.Print)
        {
            chosenstyle = "always";
        }
        else
        {
            chosenstyle = "auto";
        }
    }



    function breakeveryheader() {

        var thestyle = "@chosenstyle";
        // debugger;
        for (i = 0; i < document.getElementsByClassName("printpage").length; i++) {
            if (i == 0)
                document.getElementsByClassName("printpage")[i].style.pageBreakBefore = "auto";
            else
                document.getElementsByClassName("printpage")[i].style.pageBreakBefore = thestyle;

        }
    }
</script>

<br />
@if (!ViewBag.Print)
{
    <a class="btn btn-primary" href="@ViewBag.PrintUrl">
        <i class="icon-print"></i>
        @RapidVet.Resources.Global.Print
    </a>
    <a class="btn btn-inverse" onclick="closeWindow();">
        <i class="icon-trash"></i>
        @RapidVet.Resources.Global.Cancel
    </a>
    <br />
    <br />
}



@foreach (var item in Model)
{
    
    <div class="printpage">
        <div class="row">
            <div class="span4">
                <img class="logo" src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;" />
                <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span>
                <br />
                <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
                <br />
                <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
                <br />
                <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
                <br />
                <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
            </div>
            <div class="span4">&nbsp;</div>
            <div class="span4">&nbsp;</div>
        </div>

        <div style="float: left; direction: ltr;">
            @DateTime.Now.Date.ToString("dd/MM/yyyy")

        </div>

        <div>
            @Html.Raw(item)
        </div>
    </div>
@*
        if (ViewBag.Print)
        {
        <div class="page-break"></div>
        }*@
}




