﻿@model IEnumerable<string>
@{
    Layout = ViewBag.Print
                 ? "~/Views/Shared/_PrintingLayout.cshtml"
                 : "~/Views/Shared/_AuthenticatedLayout.cshtml";
    var pxToMm = (decimal)4.9;
    var width = string.Format("{0}px", ViewBag.Width * pxToMm);
    var height = string.Format("{0}px", ViewBag.Height * pxToMm);
    
}

    <style type="text/css">
         html, body {
            height: 97%;
        }

        div.page-break {
            display: block;
            height: auto;
            page-break-before: avoid;
            page-break-after: always;
        }

        .print:last-child {
            page-break-before: auto;
            page-break-after: avoid;
        }

        hr {
            border: transparent;
            height: 1px;
            width: 100%;
        }
        /*html, body {
            height: 99%;
        }

        div.page-break {
            display: block;
            height: auto;
            page-break-before: avoid;
            page-break-after: always;
        }

        .print:last-child {
            page-break-before: auto;
            page-break-after: avoid;
        }

        hr {
            border: transparent;
            height: 1px;
            width: 100%;
        }*/
    </style>



@*<script type="text/javascript" src="@Url.Content("~/Scripts/App/RapidVet.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>*@

@if (!ViewBag.Print)
{
    <a class="btn btn-primary" href="@ViewBag.PrintUrl">
        <i class="icon-print"></i>
        @RapidVet.Resources.Global.Print
    </a>
    <a class="btn btn-inverse" onclick="closeWindow();">
        <i class="icon-trash"></i>
        @RapidVet.Resources.Global.Cancel
    </a>
    <br />
    <br />
}

@foreach (var item in Model)
{

    if (ViewBag.Print)
    {
        @Html.Raw(item)
        <hr />
        <div class="page-break"></div>
        @*<hr />
        <div class="page-break">
            <div style="height: @height; width: @width;">
            @Html.Raw(item)
            </div>
        </div>*@
    }
    else
    {
        <div style="height: @height; width: @width;">
            @Html.Raw(item)
        </div>
    }
}
