﻿@model IEnumerable<RapidVet.WebModels.PreventiveMedicine.PreventiveReminderIndexModel>
@{
    Layout = "~/Views/Shared/_PrintingLandscapeLayout.cshtml";
}

<img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;">

<div class="row">
    <div class="span4">
        <span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span><br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
        <br />
        <span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
        <br />
        <span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
        <br />
        <span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
    </div>
    <div class="span4">&nbsp;</div>
    <div class="span4">&nbsp;</div>
</div>

<div style="position: relative; display: block; margin: auto; text-align: center;">
    @if (ViewBag.To != "")
    {
        <h3><b>תזכורות לחיסונים @ViewBag.To - @ViewBag.From</b></h3>
    }
    else
    {
        <h3><b>תזכורות לחיסונים</b></h3>
    }
</div>

<table style="font-size: smaller;">
    <thead>
        <tr>
            <th>@RapidVet.Resources.PreventiveReminders.Date</th>
            <th>@RapidVet.Resources.PreventiveReminders.OwnerName</th>
            <th>@RapidVet.Resources.PreventiveReminders.AnimalName</th>
            <th>@RapidVet.Resources.PreventiveReminders.AnimalKind</th>
            <th>@RapidVet.Resources.PreventiveReminders.Status</th>
            <th>@RapidVet.Resources.PreventiveReminders.TreatmentName</th>
            <th>@RapidVet.Resources.PreventiveReminders.Address</th>
            <th>@RapidVet.Resources.PreventiveReminders.HomePhone</th>
            <th>@RapidVet.Resources.PreventiveReminders.CellPhone</th>
            <th>@RapidVet.Resources.PreventiveReminders.Email</th>
            <th>@RapidVet.Resources.PreventiveReminders.LastReminder</th>
            @* <th>@RapidVet.Resources.PreventiveReminders.NextAppointment</th>*@
            <th style="width: 20px; vertical-align: middle; text-align: center;">#@*@RapidVet.Resources.PreventiveReminders.RemindersSoFar*@</th>
            <th>@RapidVet.Resources.PreventiveReminders.Comments</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelR => r.ScheduledDateStr)</td>
                <td>@Html.DisplayFor(modelR => r.ClientName)</td>
                <td>@Html.DisplayFor(modelR => r.PatientName)</td>
                <td>@Html.DisplayFor(modelR => r.PatientKind)</td>
                <td>@Html.DisplayFor(modelR => r.ClientStatus)</td>
                <td>@Html.DisplayFor(modelR => r.PriceListItemName)</td>
                <td>@Html.DisplayFor(modelR => r.ClientAddress)</td>
                <td>@Html.DisplayFor(modelR => r.ClientHomePhone)</td>
                <td>@Html.DisplayFor(modelR => r.ClientCellPhone)</td>
                <td style="text-align: left;">@Html.DisplayFor(modelR => r.ClientEmail)</td>
                <td>@Html.DisplayFor(modelR => r.LastReminderDateStr)</td>
                @* <td>@Html.DisplayFor(modelR => r.NextAppointmentDateStr)</td>*@
                <td style="vertical-align: middle; text-align: center;">@Html.DisplayFor(modelR => r.ReminderCount)</td>
                <td>@Html.DisplayFor(modelR => r.Comments)</td>
            </tr>
        }
    </tbody>
</table>
