﻿<h2>חלוקת הכנסה</h2>

<div>
    <h3>סכום כולל: <span class="fix-negativ" style=" display: inline-block;" data-bind="text: sum"></span></h3>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>שם הרופא</th>
            <th>סכום</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: divisions">
        <tr>
            <td>
                <span data-bind="text: DoctorName"></span>
            </td>
            <td>
                <span>
                    <input type="text" class="input-medium fix-negativ" data-bind="value: Amount, event: { change: function () { checkEqualSums() } }" />
                </span>
            </td>
        </tr>
    </tbody>
</table>



<form>
    <div class="row-fluid">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok" id="submit" data-bind="click: function () { saveDivisions() }, enable: isEnabled">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
            <br />
            <span data-bind="visible: !isEnabled()" style="color: red; margin-left: 5px;">חלוקה לא שווה</span>
        </div>
    </div>
</form>

<script>
    var docId = '@Request.QueryString["documentId"]';

    function viewModel() {
        var self = this;
        self.divisions = ko.mapping.fromJS([]);

        self.sum = ko.observable();
        self.calculatedSum = ko.observable();

        self.isEnabled = ko.observable(true);


        self.checkEqualSums = function () {
            self.calculatedSum(0);
            for (var i = 0; i < self.divisions().length; i++) {
                self.calculatedSum(parseFloat(self.calculatedSum()) + parseFloat(self.divisions()[i].Amount()));
            }
            if (calculatedSum() == sum()) {
                self.isEnabled(true);

            } else {
                self.isEnabled(false);
            }

            return true;
        };

        // get divisions
        self.getDivisions = function () {
            self.divisions([]);
            if (typeof (docId) != "undefined") {
                $.get('/FinanceDocumentDivision/GetDivisions?docId=' + docId + '&divisionsExists=@Request.QueryString["divisionsExists"]', function (data) {
                    ko.mapping.fromJS(data, self.divisions);

                    self.sum(0);
                    for (var i = 0; i < self.divisions().length; i++) {
                        self.sum(parseFloat(self.sum()) + parseFloat(self.divisions()[i].Amount()));
                    }
                });
            }
        };

        self.saveDivisions = function () {
           // debugger;
            $.post('/FinanceDocumentDivision/SaveDivisions/', {
                divisionsString: ko.toJSON(self.divisions()),
                documentIds: docId
            },
         function (data) {
             if (data > 0) {
                 window.location = "/Clients/Patients/" + data;
             }
             window.location = (data === null || data.trim() === "") ? "/" : data;
         }, 'json');
        };

        self.getDivisions();
    }


    $(function () {
        ko.applyBindings(viewModel());
    });
</script>
