﻿@using RapidVet.Enums.Finances
@using RapidVet.Repository.Clinics
@model List<RapidVet.Model.Finance.FinanceDocument>
@{
    List<SelectListItem> issuers;
    using (IIssuerRepository repository = new IssuerRepository())
    {
        issuers = repository.GetDropdownList(CurrentUser.ActiveClinicId, CurrentUser.Id, true);       
    }
    
    if (Request.QueryString["IssuerId"] != null)
    {
        foreach (var issuer in issuers)
        {
            issuer.Selected = issuer.Value == Request.QueryString["IssuerId"];
        }
    }
   string from;
   string to;
   
    if (Request.QueryString["fromTime"] == null && Request.QueryString["toTime"] == null)
     { 
        var now = DateTime.Now;
        from = (new DateTime(now.Year, now.Month, 1)).ToString("dd/MM/yyyy");
        to = (new DateTime(now.Year, now.Month, DateTime.DaysInMonth(now.Year, now.Month))).ToString("dd/MM/yyyy");
       
     }
    else
    {
        to = Request.QueryString["toTime"];
        from = Request.QueryString["fromTime"];
        
    }
     
}
<h2>חלוקה מחדש</h2>

<div class="well">
    <div class="form-inline">
        <div class="row ">
             <div class="span1" style="margin-right: 0px;">
                <label style="margin-top: 4px;">שם המנפיק</label>
            </div>
            <div class="span3">
                <label>
                    <select id="issuers">                       
                        @foreach (var issuer in issuers)
                        {
                            <option value="@issuer.Value" @if (issuer.Selected)
                                                          { <text>selected="selected"</text> }>@issuer.Text</option>
                        }
                    </select>
                </label>              
            </div>

            <div class="span1">
                <label style="margin-top: 4px;">מתאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="input-small" id="from" readonly value="@from" style="margin-top: 4px;" /></label>
            </div>

            <div class="span1">
                <label style="margin-top: 4px;">עד תאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="input-small" readonly id="to" value="@to" style="margin-top: 4px;" /></label>
            </div>

            <div class="span2">
                <label>
                    <a id="refreshLink" class="btn">רענן</a>
                </label>
                
            </div>
        </div>
    </div>
</div>

@{
    var rm = RapidVet.Resources.Enums.Finances.FinanceDocumentType.ResourceManager;
}
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>מספר המסמך</th>
            <th>סוג מסמך</th>
            <th>תאריך הנפקה</th>
            <th>שם לקוח</th>
            <th>חלוקה מחדש</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
    { 
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>@item.SerialNumber</span>
                </td>
                <td>@rm.GetString(item.FinanceDocumentType.ToString())</td>
                <td>@item.Created.ToString("dd/MM/yyyy")</td>
                <td>@item.ClientName</td>
                <td>
                    <span>
                        @if (item.FinanceDocumentTypeId == (int) FinanceDocumentType.Invoice || item.FinanceDocumentTypeId == (int) FinanceDocumentType.InvoiceReceipt ||
                            item.FinanceDocumentTypeId == (int)FinanceDocumentType.Receipt || item.FinanceDocumentTypeId == (int)FinanceDocumentType.Refound)
                        {
                            <a class="btn btn-primary" href="@Url.Action("Divisions", new { documentId = item.Id, divisionsExists = true, backURL = @Request.Url })">חלק מחדש</a>
                        }
                        else
                        {
                            <a class="btn btn-primary disabled">חלק מחדש</a>
                        }
                    </span>
                </td>
            </tr>
        }
    </tbody>
    }
</table>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#from").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    $('#refreshLink').attr('href', '/financedocumentdivision/index?issuerId=' + $('#issuers').val()  + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                },
                isRTL: true
            });
            $("#to").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    $('#refreshLink').attr('href', '/financedocumentdivision/index?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
                },
                isRTL: true
            });
            $('#issuers').on('change', function () {
                $('#refreshLink').attr('href', '/financedocumentdivision/index?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
            });

            $('#refreshLink').attr('href', '/financedocumentdivision/index?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val());
        });
               
    </script>
}