﻿@using RapidVet.Repository.Clinics
@model RapidVet.WebModels.Finance.FinanceDocumentReportModel
@{
    var doctorId = Request.QueryString["doctorId"];
    var dateType = Request.QueryString["dateType"];
    Model.SelectedDateTypeIndex = String.IsNullOrEmpty(dateType) ? 0 : Convert.ToInt32(dateType);
    if (!string.IsNullOrWhiteSpace(doctorId))
    {
        foreach (var doctor in Model.Doctors.Where(doctor => doctor.Value == doctorId))
        {
            doctor.Selected = true;
        }
    }

    var issuerId = Request.QueryString["issuerId"];
    if (!string.IsNullOrWhiteSpace(issuerId))
    {
        foreach (var issuer in Model.Issuers.Where(issuer => issuer.Value == issuerId))
        {
            issuer.Selected = true;
        }
    }
}
<h2>דוח חלוקת הכנסות</h2>

<div class="well">
    <div class="form-inline">
        <div class="row control-group">
            <div class="span1">
                <label>שם הרופא</label>
            </div>
            <div class="span3">
                <label>
                    <select id="doctors">
                        @if (Model.Doctors.Count != 1)
                        {
                            <option value="">בחר...</option>
                        }
                        @foreach (var doctor in Model.Doctors)
                        {
                            <option value="@doctor.Value" @if (doctor.Selected) { <text> selected="selected" </text>        }>@doctor.Text</option>
                        }
                    </select>
                </label>
            </div>
            <div class="span1">
                <label>שם מנפיק</label>
            </div>
            <div class="span3">
                <label>
                    <select id="issuers">
                        @if (Model.Issuers.Count != 1)
                        { 
                        <option value="">בחר...</option>
                        }
                        @foreach (var issuer in Model.Issuers)
                        {
                            <option value="@issuer.Value" @if (issuer.Selected) { <text> selected="selected" </text>        }>@issuer.Text</option>
                        }
                    </select>
                </label>
            </div>
        </div>
        <div class="row control-group">
            <div class="span2">
                <label>
                    מתאריך
                    <select id="dateTypetoSearch" style="width: 80px;">
                        <option value="0" @if (Model.SelectedDateTypeIndex == 0) { <text> selected="selected" </text>  }>רישום</option>
                        <option value="1" @if (Model.SelectedDateTypeIndex == 1) { <text> selected="selected" </text>  }>פרעון</option>
                    </select>
                </label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="" readonly id="from" value="@Request.QueryString["fromTime"]" />
                </label>
            </div>
            <div class="span2">
                <label>עד תאריך</label>
            </div>
            <div class="span2">
                <label>
                    <input type="text" class="" readonly id="to" value="@Request.QueryString["toTime"]" />

                </label>
            </div>

            <div class="span2">
                <label>
                    <a id="refreshLink" class="btn btn-primary">
                        <i class="icon-refresh"></i>
                        רענן
                    </a>
                </label>
            </div>
        </div>
    </div>
</div>

@if (Model.Reports.Any())
{
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>שם הרופא</th>
                <th>תאריך פרעון</th>
                <th>שם הלקוח</th>
                <th>הטיפול</th>
                <th>מספר חשבונית / מס קבלה</th>
                <th>סכום מזומן</th>
                <th>סכום בהמחאה</th>
                <th>סכום בכ.אשראי</th>
                <th>סכום בהעברה בנקאית</th>
                <th>תאריך רישום</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reports)
            {
                <tr>
                    <td>
                        <span>@item.DoctorName</span>
                    </td>
                    <td>
                        <span>@(item.CashedDate.HasValue ? item.CashedDate.Value.ToString("dd/MM/yyyy") : string.Empty)</span>
                    </td>
                    <td>
                        <span>@item.ClientName</span>
                    </td>
                    <td>
                        <span>@item.TreatmentName</span>
                    </td>
                    <td>
                        <span>@item.SerialNumber</span>
                    </td>
                    <td>
                        <span class="fix-negativ" style="display: inline-block;">@item.CashPaymentSum.ToString("f2")</span>
                    </td>
                    <td>
                        <span>@item.TotalChequesPayment.ToString("f2")</span>
                    </td>
                    <td>
                        <span>@item.TotalCreditPaymentSum.ToString("f2")</span>
                    </td>
                    <td>
                        <span>@item.BankTransferSum.ToString("f2")</span>
                    </td>
                    <td>
                        <span>@item.CreatedDate.ToString("dd/MM/yyyy")</span>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>לא נמצאו תוצאות</h2>
}



@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#refreshLink').attr('href', '/financedocumentdivision/report?doctorId=' + $('#doctors').val() + '&issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&dateType=' + $('#dateTypetoSearch').val() + '&firstRun=false');

            $.datepicker.setDefaults($.datepicker.regional["he"]);
            $("#from").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#to").datepicker("option", "minDate", selectedDate);
                    $('#refreshLink').attr('href', '/financedocumentdivision/report?doctorId=' + $('#doctors').val() + '&issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&dateType=' + $('#dateTypetoSearch').val() + '&firstRun=false');
                },
                isRTL: true
            });
            $("#to").datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onClose: function (selectedDate) {
                    $("#from").datepicker("option", "maxDate", selectedDate);
                    $('#refreshLink').attr('href', '/financedocumentdivision/report?doctorId=' + $('#doctors').val() + '&issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&dateType=' + $('#dateTypetoSearch').val() + '&firstRun=false');
                },
                isRTL: true
            });

            $('#doctors').on('change', function () {
                $('#refreshLink').attr('href', '/financedocumentdivision/report?doctorId=' + $('#doctors').val() + '&issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&dateType=' + $('#dateTypetoSearch').val() + '&firstRun=false');
            });

            $('#issuers').on('change', function () {
                $('#refreshLink').attr('href', '/financedocumentdivision/report?doctorId=' + $('#doctors').val() + '&issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&dateType=' + $('#dateTypetoSearch').val() + '&firstRun=false');
            });

            $('#dateTypetoSearch').on('change', function () {
                $('#refreshLink').attr('href', '/financedocumentdivision/report?doctorId=' + $('#doctors').val() + '&issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val() + '&toTime=' + $('#to').val() + '&dateType=' + $('#dateTypetoSearch').val() + '&firstRun=false');
            });
        });

    </script>
}