﻿@model RapidVet.WebModels.Users.WeeklyScheduleWebModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/Vendor/timepicker/jquery.timepicker.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)'></script>
    <link href='@Url.Content("~/Scripts/Vendor/timepicker/jquery.timepicker.css?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)' rel="stylesheet" />


    <script>
        $(function() {
            $.ajax({
                url: '/MetaData/GetClinicDoctors/',
                type: 'POST',
                data: {},
                success: function(data) {
                    $.each(data, function(i, value) {
                        if (value.Id == "@ViewBag.UserId") {
                            $('#clinicUsersId').append($('<option>').text(value.Name).attr('value', value.Id).attr('selected', true));
                        } else {
                            $('#clinicUsersId').append($('<option>').text(value.Name).attr('value', value.Id));
                        }
                    });
                    @CurrentUser.Id
                }
            });

            $('#clinicUsersId').on('change', function() {
                window.location.href = '/DailySchedule/Index/' + $('#clinicUsersId').val();
            });
        });

        function validSelection(startSelector, endSelector) {
            var startDate = $(startSelector).timepicker('getTime', new Date());
            var endDate = $(endSelector).timepicker('getTime', new Date());
            return endDate > startDate;
        }

        function highLightTimeSelection(startSelector, endSelector) {
            $(startSelector).addClass('timeValidationError');
            $(endSelector).addClass('timeValidationError');
        }

        function unHighlighTimeSelection(startSelector, endSelector) {
            $(startSelector).removeClass('timeValidationError');
            $(endSelector).removeClass('timeValidationError');
        }

        var sunValid, monValid, tueValid, wedValid, thuValid, friValid, satValid;

        sunValid = monValid = tueValid = wedValid = thuValid = friValid = satValid = true;

        function isValid() {
            return sunValid && monValid && tueValid && wedValid && thuValid && friValid && satValid;
        }

        function checkFormValid() {
            if (isValid()) {
                $('.save-button button').attr('disabled', false);
            } else {
                $('.save-button button').attr('disabled', true);
            }
        }


        @{
            var selectors = new String[,]
                {
                    {"#SundayStart", "#SundayEnd", "sunValid"},
                    {"#MondayStart", "#MondayEnd", "monValid"},
                    {"#TuesdayStart", "#TuesdayEnd", "tueValid"},
                    {"#WednesdayStart", "#WednesdayEnd", "wedValid"},
                    {"#ThursdayStart", "#ThursdayEnd", "thuValid"},
                    {"#FridayStart", "#FridayEnd", "friValid"},
                    {"#SaturdayStart", "#SaturdayEnd", "satValid"}

                };
            for (int i = 0; i < 7; i++)
            {
                var startSelector = selectors[i, 0];
                var endSelector = selectors[i, 1];
                var boolVariable = selectors[i, 2];
                <text>

        $('@startSelector, @endSelector').change(function () {
            if (!validSelection('@startSelector', '@endSelector')) {
                @boolVariable = false;
                highLightTimeSelection('@startSelector', '@endSelector');
            } else {
                @boolVariable = true;
                unHighlighTimeSelection('@startSelector', '@endSelector');
            }
            checkFormValid();
        });

        $('@startSelector, @endSelector').on('timeFormatError',function() {
            @boolVariable = false;
            highLightTimeSelection('@startSelector', '@endSelector');
        });
        </text>

            }
        }
    </script>
}

<style>
    .timeValidationError {
        background-color: rgb(248, 124, 144);
    }
</style>

<h2>@RapidVet.Resources.DailySchedule.DailyS</h2>
<br />


<div class="form-inline well">
    <div class="row control-group">
        <div class="span2">
            <label>@RapidVet.Resources.User.Username</label>
        </div>
        <div class="span2">
            <label>
                <select id="clinicUsersId"></select>
            </label>
        </div>
    </div>
</div>

@using (Html.BeginForm("Index", "DailySchedule", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="UserId" id="UserId" value="@Model.UserId" />
    <br />
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    @RapidVet.Resources.DailySchedule.Day
                </th>
                <th>
                    @RapidVet.Resources.DailySchedule.StartTime
                </th>
                <th>
                    @RapidVet.Resources.DailySchedule.EndTime
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Sunday
                    <input type="hidden" name="SundayId" id="SundayId" value="@Model.SundayId" />
                </td>
                <td>

                    @if (Model.SundayStart.HasValue)
                    {
                        @Html.TextBox("SundayStart", Model.SundayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("SundayStart", Model.SundayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.SundayEnd.HasValue)
                    {
                        @Html.TextBox("SundayEnd", Model.SundayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("SundayEnd", Model.SundayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#SundayStart').val('');$('#SundayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Monday
                    <input type="hidden" name="MondayId" id="MondayId" value="@Model.MondayId" />
                </td>
                <td>
                    @if (Model.MondayStart.HasValue)
                    {
                        @Html.TextBox("MondayStart", Model.MondayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("MondayStart", Model.MondayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.MondayEnd.HasValue)
                    {
                        @Html.TextBox("MondayEnd", Model.MondayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("MondayEnd", Model.MondayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#MondayStart').val('');$('#MondayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Tuesday
                    <input type="hidden" name="TuesdayId" id="TuesdayId" value="@Model.TuesdayId" />
                </td>
                <td>
                    @if (Model.TuesdayStart.HasValue)
                    {
                        @Html.TextBox("TuesdayStart", Model.TuesdayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("TuesdayStart", Model.TuesdayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.TuesdayEnd.HasValue)
                    {
                        @Html.TextBox("TuesdayEnd", Model.TuesdayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("TuesdayEnd", Model.TuesdayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#TuesdayStart').val('');$('#TuesdayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Wednesday
                    <input type="hidden" name="WednesdayId" id="WednesdayId" value="@Model.WednesdayId" />
                </td>
                <td>
                    @if (Model.WednesdayStart.HasValue)
                    {
                        @Html.TextBox("WednesdayStart", Model.WednesdayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("WednesdayStart", Model.WednesdayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.WednesdayEnd.HasValue)
                    {
                        @Html.TextBox("WednesdayEnd", Model.WednesdayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("WednesdayEnd", Model.WednesdayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#WednesdayStart').val('');$('#WednesdayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Thursday
                    <input type="hidden" name="ThursdayId" id="ThursdayId" value="@Model.ThursdayId" />
                </td>
                <td>
                    @if (Model.ThursdayStart.HasValue)
                    {
                        @Html.TextBox("ThursdayStart", Model.ThursdayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("ThursdayStart", Model.ThursdayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.ThursdayEnd.HasValue)
                    {
                        @Html.TextBox("ThursdayEnd", Model.ThursdayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("ThursdayEnd", Model.ThursdayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#ThursdayStart').val('');$('#ThursdayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Friday
                    <input type="hidden" name="FridayId" id="FridayId" value="@Model.FridayId" />
                </td>
                <td>
                    @if (Model.FridayStart.HasValue)
                    {
                        @Html.TextBox("FridayStart", Model.FridayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("FridayStart", Model.FridayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.FridayEnd.HasValue)
                    {
                        @Html.TextBox("FridayEnd", Model.FridayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("FridayEnd", Model.FridayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#FridayStart').val('');$('#FridayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    @RapidVet.Resources.DailySchedule.Saturday
                    <input type="hidden" name="SaturdayId" id="SaturdayId" value="@Model.SaturdayId" />
                </td>
                <td>
                    @if (Model.SaturdayStart.HasValue)
                    {
                        @Html.TextBox("SaturdayStart", Model.SaturdayStart.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("SaturdayStart", Model.SaturdayStart, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    @if (Model.SaturdayEnd.HasValue)
                    {
                        @Html.TextBox("SaturdayEnd", Model.SaturdayEnd.Value.ToShortTimeString(), new { @class = "time input-small" })
                    }
                    else
                    {
                        @Html.TextBox("SaturdayEnd", Model.SaturdayEnd, new { @class = "time input-small" })
                    }
                </td>
                <td>
                    <a href="#" onclick="$('#SaturdayStart').val('');$('#SaturdayEnd').val('');"><i class="icon-remove"></i></a>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="modal-footer save-button">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                        class="btn btn-primary">
                    <h3>@RapidVet.Resources.Global.Save</h3>
                </button>
            </div>
        </div>
    </div>
}