﻿@model RapidVet.WebModels.Expenses.SupplierWebModel
<div class="row-fluid control-group">
    <div class="span2">
        <label>שם</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.Name)
            <span class="inline">@Html.ValidationMessageFor(m => m.Name)</span>
        </label>
    </div>
</div>


<div class="row-fluid control-group">
    <div class="span2">
        <label>מזהה חיצוני</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ExternalId)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>ח.פ</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.CompanyId)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>כתובת</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.Address)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>טלפון</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.Phone)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>שם איש קשר 1</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ContactNameA)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>טלפון איש קשר 1</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ContactPhoneA,new { maxlength="10" })
        @*    @Html.TextBoxFor(m => m.ContactPhoneA, new { @class = "ContactPhoneA",@maxlength="10" })*@
           <span class="help-inline">@Html.ValidationMessageFor(m => m.ContactPhoneA)</span>
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>הערה איש קשר 1</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ContactCommentA)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>שם איש קשר 2</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ContactNameB)
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>טלפון איש קשר 2</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ContactPhoneB, new { @class = "ContactPhoneB" })
           @*  @Html.TextBoxFor(m => m.ContactPhoneB, new { @class = "ContactPhoneB",@maxlength="10" })*@
           <span class="help-inline">@Html.ValidationMessageFor(m => m.ContactPhoneB)</span>
        </label>
    </div>
</div>

<div class="row-fluid control-group">
    <div class="span2">
        <label>הערה איש קשר 2</label>
    </div>
    <div class="span9">
        <label>
            @Html.EditorFor(m => m.ContactCommentB)
        </label>
    </div>
</div>

@Muze.OkButton()