﻿@model IEnumerable<RapidVet.Model.Expenses.Supplier>

@{
    var modalId = "deleteModal";
}

<h2>ספקים</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "Suppliers")">
    <i class="icon-plus"></i>
    הוספת ספק
</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>שם</th>
            <th>מזהה חיצוני</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mE => s.Name)</td>
                <td>@Html.DisplayFor(mE => s.ExternalId)</td>
                <td>
                    <a class="btn btn-primary" onclick="GetModal('@Url.Action("Delete", "Suppliers", new { id = s.Id })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Suppliers", new { id = s.Id })">
                            <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="@modalId" class="modal hide fade"></div>
