﻿@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<input type="hidden" name="Id" value="@ViewBag.AnimalKindId"/>

<h4><span data-bind="text: animalKind().Value"></span></h4>
@RapidVet.Resources.VaccinesAndTreatments.PatternTitle

<br />
<br />
@RapidVet.Resources.VaccinesAndTreatments.PriceListItems:
<br />
<select data-bind="options: allItems, optionsText: 'name', optionsValue: 'id', value: selectedItem"></select>

<button style="margin-top: -11px" data-bind="click: addItem">@RapidVet.Resources.VaccinesAndTreatments.Add</button>
<br />
<br />
@RapidVet.Resources.VaccinesAndTreatments.CurrentItems:
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>@RapidVet.Resources.VaccinesAndTreatments.Name</th>
            <th>@RapidVet.Resources.VaccinesAndTreatments.Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: selectedItems">
        <tr>
            <td>
                <span data-bind="text: name"></span>
            </td>
            <td>
                <input type="number" data-bind="value: order" class="input-mini" />
            </td>
            <td>
                <button class="btn" data-bind="click: removeItem">@RapidVet.Resources.VaccinesAndTreatments.Remove</button>
            </td>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" data-bind="click: save">
    <i class="icon-ok"></i>
    @RapidVet.Resources.Global.Save
</button>

@section scripts
{
    <script src="@Url.Content("/Scripts/App/VaccineAndTreatmentPattern.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
