﻿@model List<RapidVet.WebModels.Patients.AnimalKindModel>
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}


<h4>חיסונים וטיפולים מונעים</h4>

<br />
<select id="animalId">
    <option value="0" selected>בחר חיה ...</option>
    @foreach (var animal in Model)
    {
        <option value="@animal.Id">@animal.Value</option>
    }
</select>
<button class="btn btn-primary" onclick="goToEditPattern()" style="margin-top: -11px">ערוך תבנית</button>

<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>שם החיסון/טיפול מונע
            </th>
            <th>המשך חיסונים/טיפולים מונעים
            </th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>

</table>

@section scripts
{
    <script>
        $("#animalId").on('change', function () {
            getVaccineAndTreatmentDataOfAnimal();
        });

        function goToEditPattern() {
            if ($('#animalId').val() == 0) {
                return;
            } else {
                window.location = '@Url.Action("EditVAndTPatternForAnimal")' + '/' + $('#animalId').val();
        }
    }

    function getVaccineAndTreatmentDataOfAnimal() {
        $.ajax(
            {
                url: "/VaccinesAndTreatments/GetVaccinesAndTreatmentsForAnimal/" + $("#animalId").val(),
                success: function (data) {
                    $('#tableBody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tableBody').append("<tr><td>" + data[i].PriceListItem.Name +
                            "</td><td><a class='btn' href='/VaccinesAndTreatments/NextVaccinesAndTreatments/" +
                            data[i].Id + "'>ערוך</a></td></tr>");
                    }
                    getCookieMessages();
                },
                error: function (error) {
                    $('#tableBody').empty();
                    //$('#tableBody').append("<tr><td>אירעה שגיאה!</td></tr>");
                    getCookieMessages();

                }
            }
        );
    }

    $(function () {
        getVaccineAndTreatmentDataOfAnimal();
    });

    </script>
}
