﻿@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}


<input type="hidden" name="Id" value="@ViewBag.VaccineOrTreatmentId"/>
<a class="btn btn-primary" onclick="history.back()">
    <i class="icon-chevron-right"></i>
    @RapidVet.Resources.Global.Back
</a>
<h2>חיה: <span data-bind="text: animalKind().Value"></span></h2>
<h4>חיסון/טיפול מונע: <span data-bind="text: vaccineOrTreatmentName"></span></h4>
<br />
חיסונים וטיפולים מונעים - המשך
<br />
<select data-bind="options: allItems, optionsText: 'name', optionsValue: 'id', value: selectedItem"></select>

<button style="margin-top: -11px" data-bind="click: addItem">הוסף</button>
<br />
<br />
פריטים נוכחים בהמשך:
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>שם חיסון/טיפול מונע</th>
            <th>משך זמן בימים לביצוע</th>
            <th>הסר</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: selectedItems">
        <tr>
            <td>
                <span data-bind="text: name"></span>
            </td>
            <td>
                <input type="number" data-bind="value: days" class="input-mini" />
            </td>
            <td>
                <button data-bind="click: removeItem">הסר</button>
            </td>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" data-bind="click: save">
    <i class="icon-ok"></i>
    שמור שינויים
</button>

@section scripts
{
    <script src="@Url.Content("/Scripts/App/NextVaccineAndTreatment.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
