﻿@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    var labTypeId = Request.Params["labTestTypeId"];
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Labs/Create.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/moment.min.js")"></script>
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<input type="hidden" name="patientId" id="patientId" value="@patientId" />
<input type="hidden" name="labTypeId" id="labTypeId" value="@labTypeId" />

<h2>הוספת בדיקת מעבדה</h2>
<div class="form-horizontal">
    <div class="control-group">

        <div class="span4">
            <label class="span2">תאריך הבדיקה</label>
            <input type="text" class="date input-small" name="date" data-bind="datepicker: testDate" readonly />
        </div>
    </div>
    <div class="control-group">
        <div class="span4">
            <label class="span1">תבנית</label>

            <label>
                <select data-bind="options: templateTypes, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..', value: selectedTemplateTypeId"></select>
            </label>
        </div>
        <div class="span4" data-bind="visible: selectedTemplateTypeId() > 0">
            <label class="span1">בדיקה</label>

            <label>
                <select data-bind="options: templateItems, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..', value: selectedTemplateId"></select>
            </label>
        </div>
        <div class="span4">
            <a class="btn btn-primary" data-bind="click: getSelectedTemplateItems"><i class="icon-plus"></i>הוסף בדיקה</a>
        </div>
    </div>
    
    <div class="control-group" data-bind="visible: patientLabTemplate().length == 0 && checkTestsExist()">
        <div class="controls" style="color: red;">
            לא מוגדרות בדיקות עבור תבנית זו.
            <a data-bind="    attr: { href: '/LabTests/EditLabTests/' + selectedTemplateId() }">הגדר בדיקות.</a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">&nbsp;</label>

        <table class="table table-bordered table-striped" data-bind="visible: patientLabTemplate().length > 0">
            <thead>
                <tr>
                    <th style="width:20%;">שם הבדיקה</th>
                    <th style="width:38%;">תוצאה</th>
                    <th style="width:12%;">ערך מינימום</th>
                    <th style="width:12%;">ערך מקסימום</th>
                    <th style="width:18%;"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: patientLabTemplate">
                <tr>
                    <td data-bind="text: name" class="nameColumn"></td>
                    <td class="numberColumn fix-negativ">
                        <input type="text" style="width:100%;" data-bind="value: result" />
                        <br />
                        <span style="color: red" data-bind="validationMessage: result"></span>
                    </td>
                    <td data-bind="text: min" class="numberColumn fix-negativ"></td>
                    <td data-bind="text: max" class="numberColumn fix-negativ"></td>
                    <td class="indicatorColumn patientLabTests fix-negativ" style="text-align: center;"><span data-bind="html: indicator"></span></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok btn-primary" data-bind="click: saveTest">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
</div>

