﻿@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
    var labId = Request.Params["labId"];
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Labs/EditTestDate.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Finance/moment.min.js")"></script>
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<input type="hidden" name="patientId" id="patientId" value="@patientId" />
<input type="hidden" name="labId" id="labId" value="@labId" />

<h2>עריכת בדיקת מעבדה</h2>
<div class="form-horizontal">
    <div class="control-group">

        <div class="span4">
            <label class="span2">תאריך הבדיקה</label>
            <input type="text" class="date input-small" name="date" data-bind="datepicker: testDate" readonly />
        </div>
    </div>

    <div class="control-group">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok btn-primary" data-bind="click: saveTest">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
</div>

