﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];
}


@section scripts
{

    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Labs/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<style type="text/css">
    .chosenElement {
        background-color: green;
        color: white;
    }

    .regularElement {
    }

    ul {
        padding: 0;
        margin: 0 15px 9px 0;
    }

    .ImportXMLObj {
        position: absolute;
        width: 280px;
        height: 225px;
        background-color: white;
        top: 200px;
        color: #529E00;
        /*box-shadow: 5px 5px 5px 5px #888888;*/
        border-radius: 5px;
        border: 2px solid #A39487;
    }

    .dData {
        width: 300px;
        padding-right: 50px;
        padding: 5px;
        vertical-align: top;        
    }

    .h3Head {
        padding-right: 5px;
        padding-top: 10px;
        color: #333333;
        margin-top: -4px;
        margin-right: -3px;
        height: 35px;
        padding-left:12px;
        width:260px;
    }

    .btnUploadAll {
        padding-right: 90px;
        padding-top: 10px;
    }

    .ddlAnimaleKind {
        width: 120px;
    }

    .anm {
        padding-top: -5px !important;
        float: right;
        padding-left: 3px;
    }
    .mainData {
        background-color:#FFFBBE;
        color:#333333;
        height:173px;
    }
</style>

<input type="hidden" name="patientId" id="patientId" value="@patientId" />
<input type="hidden" name="lastLabTestTypeId" id="lastLabTestTypeId" value="@ViewBag.lastLabTestTypeId" />
<input type="hidden" name="lastLabTestId" id="lastLabTestId" value="@ViewBag.lastLabTestId" />
<input type="hidden" name="labTestTemplateId" id="labTestTemplateId" value="@ViewBag.labTestTemplateId" />
<input type="hidden" name="lastLabTestTypeName" id="lastLabTestTypeName" value="@ViewBag.lastLabTestTypeName" />


<h2>@RapidVet.Resources.Labs.Title</h2>

<div class="alert alert-info" data-bind="visible: alert">
    <button type="button" class="close" data-bind="click: hideAlert">&times;</button>
    @RapidVet.Resources.Labs.SelectTypeFirst
</div>
<div class="alert alert-info" data-bind="visible: printAlert">
    <button type="button" class="close" data-bind="click: hidePrintAlert">&times;</button>
    @RapidVet.Resources.Labs.NoDataAlert
</div>

<a class="btn btn-primary" data-bind="click: newTest" @*data-bind="attr: { href: newTestUrl }*@>
    <i class=" icon-plus">
    </i>הוסף בדיקה חדשה
</a>
<a class="btn btn-primary" data-bind="click: openImportXMLTest" @*data-bind="attr: { href: newTestUrl }*@>
    <i class=" icon-adjust">
    </i>ייבוא מ-IDEXX
</a>
@*<a class="btn btn-primary" data-bind="click: clearAll"><i class="icon-refresh"></i>@RapidVet.Resources.Labs.Clean</a>*@
<a class="btn btn-primary" data-bind="click: print">
    <i class="icon-print">
    </i>@RapidVet.Resources.Labs.Print
</a>
<form id="formUpload" method="post" enctype="multipart/form-data">
    <div style="display:none;" id="ImportXMLObj" class="ImportXMLObj">
        <div class="close" style="color:black;padding-left:5px;" onclick="$('#ImportXMLObj').hide('fast');">x</div>
        <div class="ImportXMLHeader">
            @ViewBag.HeaderData
        </div>
    </div>
    <div style="display:none;">
        <input type="file" id="fuMain" name="fuMain" accept="application/xml" onchange="importXMLTest();" />
    </div>
</form>

<br />
<br />

<div class="row">
    <div class="span2 well" data-bind="visible: testTypes().length > 0">
        <ul data-bind="foreach: testTypes" style="list-style-type: none;">
            <li>
                <a data-bind="click: $root.testTypeSelected">
                    <div style="width: 90px; text-overflow: ellipsis; overflow: hidden">
                        <span data-bind="text: name, css:  $root.selectedTypeId() == id() ? 'chosenElement' : 'regularElement'"></span>
                        &nbsp;
                        <i class="icon-chevron-left"></i>
                    </div>

                </a>
                <ul data-bind="foreach: labTestTemplates, visible: $root.showTestTemplates($data)" style="list-style-type: none;">
                    <li>
                        <a data-bind="click: $root.testTemplateSelected">
                            <div style="width: 90px; text-overflow: ellipsis; overflow: hidden">
                                <span data-bind="text: Name, css:  $root.selectedTemplateId() == Id() ? 'chosenElement' : 'regularElement'"></span>
                                &nbsp;
                                <i class="icon-chevron-left"></i>
                            </div>

                        </a>
                        <ul data-bind="foreach: Dates, visible: $root.showDates($data)" style="list-style-type: none;">
                            <li style="display:inline-flex">
                                <a data-bind="click: $root.editTestDate" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה" style="margin-left:5px;">
                                    <i class="icon-edit"></i>
                                </a>
                                <a data-bind="click: $root.testDateSelected">
                                    <div style="width: 90px; text-overflow: ellipsis; overflow: hidden">

                                        <span data-bind="text: Date, css:  $root.selectedTestId() == Id() ? 'chosenElement' : 'regularElement'"></span>
                                        &nbsp;
                                        <i class="icon-chevron-left"></i>
                                    </div>

                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="width:76%;position:absolute; margin-right:210px;">
        <div data-bind="visible: selectedTestId() > 0 && !multipleLabsView() ">
            <table class="table table-bordered table-striped patientLabTests">
                <thead>
                    <tr>
                        <th>@RapidVet.Resources.Labs.TestName</th>
                        <th>@RapidVet.Resources.Labs.Result</th>
                        <th>@RapidVet.Resources.Labs.MinValue</th>
                        <th>@RapidVet.Resources.Labs.MaxValue</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: testResults">
                    <tr>
                        <td class="nameColumn"><a data-bind="click: (Min() != 0 && Max) != 0 ? function () { $parent.display(LabTestId()); } : null, style: { color: (Min() != 0 && Max) != 0 ? '#7dba00' : 'black', cursor: (Min() != 0 && Max) != 0 ? 'hand' : 'default'  }" href=" #"><span data-bind="text: Name"></span></a></td>
                        <td style="min-width:130px;">
                            <input type="text" data-bind="value: Result, enable: enableEdit,style: { backgroundColor: enableEdit() ? 'white' : 'transparent' }" class="input-medium fix-negativ" />
                        </td>
                        <td data-bind="text: Min" class="numberColumn fix-negativ"></td>
                        <td data-bind="text: Max" class="numberColumn fix-negativ"></td>
                        <td data-bind="html: Indicator" style="width:130px;" class="indicatorColumn fix-negativ"></td>
                        <td>
                            <span data-bind="visible: enableEdit() == false">
                                <a data-bind="click: $root.startEditing" data-toggle="tooltip" data-placement="top" title="עריכה" data-original-title="עריכה"><i class="icon-edit"></i></a>
                            </span>
                            <span data-bind="visible: enableEdit()">
                                <a data-bind="click: $root.finisheEditing" data-toggle="tooltip" data-placement="top" title="סיום עריכה" data-original-title="סיום עריכה"><i class="icon-ok"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="width:76%; position:absolute; margin-right:210px;">
        <div data-bind="visible: multipleLabsView ">
            <table class="table table-bordered table-striped patientLabTests">
                <thead>
                    <tr>
                        <th>@RapidVet.Resources.Labs.TestName</th>
                        <th>@RapidVet.Resources.Labs.MinValue</th>
                        <th>@RapidVet.Resources.Labs.MaxValue</th>
                        <!-- ko foreach: multipleLabsDates -->
                        <th data-bind="text: $data" style="min-width:130px;text-align:center;"></th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody data-bind="foreach: groupTestResults">
                    <tr>
                        <td class="nameColumn" style="vertical-align: middle;"><a data-bind="click: (Min() != 0 && Max) != 0 ? function () { $parent.display(LabTestId()); } : null, style: { color: (Min() != 0 && Max) != 0 ? '#7dba00' : 'black', cursor: (Min() != 0 && Max) != 0 ? 'hand' : 'default'  }" href=" #"><span data-bind="text: LabTestName"></span></a></td>
                        <td data-bind="text: Min" class="numberColumn fix-negativ" style="vertical-align: middle;"></td>
                        <td data-bind="text: Max" class="numberColumn fix-negativ" style="vertical-align: middle;"></td>

                        <!-- ko foreach: Results -->

                        <td class="fix-negativ" style="text-align: center;">
                            <span data-bind="html: Indicator" class="indicatorColumn"></span>
                            <br />
                            <span data-bind="text: Result" style="word-break: break-all;"></span>
                        </td>

                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div id="graphModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 align="center">@RapidVet.Resources.Labs.Chart</h3>
    </div>
    <div class="modal-body" style="min-height: 600px; overflow-y: no-display; background-color: white">
        <img id="result" style="display: block; margin-left: auto; margin-right: auto" src="" />
    </div>
    <div class="modal-footer" style="background-color: white">
        <a href="#" data-dismiss="modal" class="btn btn-primary">@RapidVet.Resources.Labs.Close</a>
    </div>
</div>



@if (ViewBag.HeaderData != null && ViewBag.HeaderData.ToString() != "")
{

    <script type="text/javascript">

        var txt = document.createElement("textarea");
        txt.innerHTML = "@ViewBag.LabTestTemplates";
        var opt = txt.value;

        txt.innerHTML = "@ViewBag.Patients";
        var Patients = txt.value;
        var htm = "";

        var error = "@ViewBag.Error";
        if (error.length == 0) {
            $('.ImportXMLObj').css("left", ($(window).width() - $('.ImportXMLHeader').width()) / 2);

            var obj = $('.ImportXMLHeader').html().toString().split('*');

            htm = "<div class='dData'><h3 class='h3Head'>נתוני הקובץ</h3></div>";
            htm += "<div class='mainData'><div class='dData'>לקוח: " + obj[0] + "</div>";
            htm += "<div class='dData'>חיה: " + obj[1] + "</div>";
            htm += "<div class='dData'>סוג בדיקה: " + obj[3] + "</div>";
            if (obj[2].toLowerCase() == "false") {
                //htm += "<div class='dData'><div class='anm'>סוג חיה:&nbsp;&nbsp;</div><select id='ddlAnimalKinds' name = 'ddlAnimalKinds' class='input-small'></select></div>";
                htm += "<div class='dData'><div class='anm'>תבנית: &nbsp;&nbsp;&nbsp;</div><select id='ddlLabTestTemplates' name = 'ddlLabTestTemplates' class='input-small'>" + opt.split('"').join('') + "</select></div>";
                $('.ImportXMLObj').height("225px");
            }

            //htm += "<div class='dData'><div class='anm'> חיה: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><select id='ddlPatients' name = 'ddlPatients' class='input-small'>" + Patients.split('"').join('') + "</select></div>";

            if (!obj[2].toLowerCase() == "false")
                htm += "<div class='dData'>&nbsp;</div>";

            htm += "<div class='btnUploadAll'><a class='btn btn-primary' onclick='uploadImportXMLTest(\"@ViewBag.ClientID\",\"" + obj[2].toLowerCase() + "\");'><i class=' icon-book'></i>קלוט קובץ</a><div><div>";
        }
        else {
            htm = "<div class='dData'><h3 class='h3Head'>אראה שגיאה</h3></div>";
        }
        $('.ImportXMLHeader').html(htm);

        $('#ImportXMLObj').show("fast");



        function uploadImportXMLTest(clientId, isNoNewTavnit) {
            //if (isNoNewTavnit.toLowerCase() == "false" && $('#ddlAnimalKinds').val() == "0") {
            //    alert("אנא בחר סוג חיה");
            //    return;
            //}
            if (isNoNewTavnit.toLowerCase() == "false" && $('#ddlLabTestTemplates').val() == "0") {
                alert("אנא בחר תבנית");
                return;
            }
            //if ($('#ddlPatients').val() == "-1") {
            //    alert("אנא בחר חיה");
            //    return;
            //}
            var AnimalKindID = "0";
            if ($('#ddlAnimalKinds').length > 0)
                AnimalKindID = $('#ddlAnimalKinds').val();

            var LabTestTemplateID = "0";
            if ($('#ddlLabTestTemplates').length > 0)
                LabTestTemplateID = $('#ddlLabTestTemplates').val();

            $.ajax({
                type: "POST",
                url: "/Labs/UploadXML/@ViewBag.ID?cc=" + clientId + "&PatientID=" + "0" + "&AnimalKindID=" + AnimalKindID + "&LabTestTemplateID=" + LabTestTemplateID,
                data: {
                },
                success: function (data) {
                    var url = window.location.href;
                    if (url.indexOf('?') > -1)
                        url = url.substring(0, url.indexOf('?'));

                    window.location.href = url;
                },
                failure: function (e) {
                    alert(e.responseText);
                }
            });
            //$('#formUpload')[0].action = importXMLTesUploadtUrl + "?clientId=" + clientId;
            //$('#formUpload')[0].submit();
        }
    </script>
}
