﻿@model RapidVet.WebModels.PatientsLabTests.PatientLabTestPrintIndexModel
@{
    Layout = Url.Content("~/Views/Shared/_PrintingLayout.cshtml");
}


@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.ClientDetailsModel)
}
@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = Model.PatientId })
}


<div class="row">
    @if (!Model.isPrintingComparativeTestData)
    {
        <h2>@RapidVet.Resources.Labs.Title @Model.PatientLabTestData.Created</h2>
        <div style="width:98%;position:absolute;">
            <div>
                <table class="table table-bordered table-striped patientLabTests">
                    <thead>
                        <tr>
                            <th>@RapidVet.Resources.Labs.TestName</th>
                            <th>@RapidVet.Resources.Labs.Result</th>
                            <th>@RapidVet.Resources.Labs.MinValue</th>
                            <th>@RapidVet.Resources.Labs.MaxValue</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in Model.PatientLabTestData.Results)
                        {
                            <tr>
                                <td class="nameColumn">@result.Name</td>
                                <td style="min-width:130px;">@result.Result</td>
                                <td class="numberColumn fix-negativ">@result.Min</td>
                                <td class="numberColumn fix-negativ">@result.Max</td>
                                <td>@Html.Raw(result.Indicator)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <h2>@RapidVet.Resources.Labs.Title</h2>
        <div style="width:98%; position:absolute;">
            <div>
                <table class="table table-bordered table-striped patientLabTests">
                    <thead>
                        <tr>
                            <th>@RapidVet.Resources.Labs.TestName</th>
                            <th>@RapidVet.Resources.Labs.MinValue</th>
                            <th>@RapidVet.Resources.Labs.MaxValue</th>
                            @foreach (var date in Model.PatientLabTestGroupResult.First().Results)
                            {
                                <th style="min-width:130px;text-align:center;">@date.Created</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in Model.PatientLabTestGroupResult)
                        {
                            <tr>
                                <td class="nameColumn" style="vertical-align: middle;">@test.LabTestName</td>
                                <td class="numberColumn fix-negativ" style="vertical-align: middle;">@test.Min</td>
                                <td class="numberColumn fix-negativ" style="vertical-align: middle;">@test.Max</td>

                                @foreach (var result in test.Results)
                                {

                                    <td class="fix-negativ" style="text-align: center;">
                                        <span class="indicatorColumn">@Html.Raw(result.Indicator)</span>
                                        <br />
                                        <span style="word-break: break-all;">@result.Result</span>
                                    </td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>


