﻿<h2>@RapidVet.Resources.Navigation.ImportRapidFile</h2>

@using (Html.BeginForm("Index", "ImportRapidFile", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input type="file" name="file" />
    <input type="submit" value="העלה" /> 
}
