﻿@model System.Collections.Generic.List<int>
           @{
               var sb = new System.Text.StringBuilder();
               foreach (var line in Model)
               {
                   sb.Append(line.ToString() + ", ");
               }
               sb.Remove(sb.Length - 2, 2);
               var lines = sb.ToString();
           }
<h2>שורות לא תקינות</h2>
<p>השורות הבאות אינן תקינות: </p>

<h2>@lines</h2>

<p> כדי להימנע מכפילות במערכת יש להעלות מחדש רק שורות אלו ולא את כל הקובץ.</p>

<a href="@Url.Action("Index","ImportRapidFile")" class="btn btn-primary">נסה שוב</a>