﻿@using RapidVet.RapidConsts
@{
    ViewBag.Title = "NoRabiesPriceListItem";
}

<h2>
    @*    יש להוסיף תחילה חיסון למחירון של המרפאה בשם: 
    @RepositoryConsts.RABIES_VACCINE_NAME*@
    יש להוסיף תחילה חיסון כלבת למחירון של המערכת
    &nbsp;&nbsp;<a href="@Url.Action("Categories", "PriceListItems")" class="btn btn-primary">למחירון</a>
</h2>

