﻿@model RapidVet.WebModels.Visits.DiagnosisAdminModel
@{
    
    var modalId = "diagnosisModal";
    var indexGridId = "diagnosesGrid";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Diagnosis.Create</h3>
</div>

@using (Html.BeginForm("Create", "Diagnoses", new { @class = "form-horizontal", id = "diagnosisCreate" }))
{
    <div class="modal-body">
        @Muze.AjaxFormHidden(modalId, indexGridId, Url.Action("Index"))

        <div class="row">
            <div class="span2">@RapidVet.Resources.Diagnosis.Name</div>
            @Html.TextBoxFor(m => m.Name, new { autofocus="autofocus"})
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            
        </div>
    </div>
    <div class="modal-footer" >
        <div class="control-group" style="width: 38%; margin: 0 auto;">
            <div class="span2">
                <button type="submit"
                        class="btn btn-primary">
                    @RapidVet.Resources.Global.Create
                </button>
            </div>
        </div>
    </div>
}

