﻿@model RapidVet.WebModels.Visits.DiagnosisAdminModel
@{
    
    var modalId = "diagnosisModal";
    var indexGridId = "diagnosesGrid";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Diagnosis.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "Diagnoses", new { @class = "form-horizontal", id = "diagnosisDelete"}))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        @Muze.AjaxFormHidden(modalId, indexGridId, Url.Action("Index"))
        @Muze.DeleteButtons()

    }

</div>
