﻿@model IEnumerable<RapidVet.WebModels.Visits.DiagnosisAdminModel>
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";

    var modalId = "diagnosisModal";
    var gridId = "diagnosesGrid";
}

<div id="@gridId">
    <h2>@RapidVet.Resources.Diagnosis.Diagnoses</h2>
    <div>
        <a onclick="GetModal('@Url.Action("Create", new { id = @CurrentUser.ActiveClinicId })','@modalId');" class="btn btn-primary">
            <i class="icon-plus"></i>
            @RapidVet.Resources.Global.Create
        </a>
    </div>
    <br />
    <table id="categoriesTable" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>@RapidVet.Resources.Diagnosis.Name
            </th>
            <th></th>
        </tr>

        @if (Model.Any())
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modeItem => item.Name)
                </td>
                <td>
                    <a onclick="GetModal('@Url.Action("Delete", new { id = item.Id })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |
                        <a onclick="GetModal('@Url.Action("Edit", new { id = item.Id })','@modalId');">
                            <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit </a>
                </td>
            </tr>

            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }

    </table>

    <div id="@modalId" class="modal hide fade">
    </div>
</div>
