﻿@model RapidVet.Model.Clients.Details.City
@{
}
@if (Model.Id == 0)
{
    <h3>הוספת עיר חדשה</h3>
}
else
{
    <h3>עריכת עיר</h3>
}

<br />

@using (Html.BeginForm("Edit", "Cities", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="id" id="id" value="@Model.Id"/>
    <input type="hidden" name="active" id="active" value="@Model.Active"/>
    <div class="well">
        <br />
        <div class="control-group">
            <label class="control-label">שם: </label>
            <div class="controls">@Html.EditorFor(m => m.Name)
                <span class="help-inline"></span>
            </div>
        </div>
        <br />
        <div class="control-group">
            <label class="control-label"> רשות מקומית: </label>
            <div class="controls">@Html.EditorFor(m => m.RegionalCouncilId)
                <span class="help-inline"></span>
            </div>
        </div>

        <div class="modal-footer">
            <div class="control-group">
                <div class="controls">
                    <button type="submit"
                        class="btn btn-primary">
                        @if (Model.Id == 0)
                        {
                            <h3>@RapidVet.Resources.Global.Create</h3>
                        }
                        else
                        {
                            <h3>@RapidVet.Resources.Global.Save</h3>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
}