﻿@model IEnumerable<RapidVet.Model.Clients.Details.City>
@{
    var modalId = "cityTypeModal";
}

<h2>ניהול ערים</h2>
 
<br />
<a class="btn btn-primary" href="@Url.Action("Edit")" style="margin-top: -11px"><i class="icon-plus"></i>הוסף עיר</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>שם העיר
            </th>
            <th>שם רשות מקומית</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var city in Model)
            {
            <tr>
                <td>@city.Name</td>
                <td>@city.RegionalCouncil.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Cities", new { id = city.Id})" title="ערוך"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                    |   
                            <a onclick=" GetModal('@Url.Action("Remove", new { id = city.Id })', '@modalId'); ">
                                <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>

</table>
<div id="cityTypeModal" class="modal hide fade">
</div>
