﻿@model RapidVet.WebModels.Patients.AnimalColorModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Controllers.AnimalColorController.Edit</h3>
</div>
@using (Html.BeginForm("Edit", "AnimalColors", FormMethod.Post, new { id = "animalColorEdit", @class = "form-horizontal" }))
{
    <div class="modal-body">

        @Html.Partial("_FormValidationSummary")
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClinicGroupId)


        <div class="control-group">
            <label class="control-label">@RapidVet.Resources.Controllers.AnimalColorController.Value</label>
            <div class="controls">
                @Html.EditorFor(model => model.Value)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Value)</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                    @RapidVet.Resources.Global.Edit
                </button>
            </div>
        </div>
    </div>
}

