﻿@model IEnumerable<RapidVet.WebModels.Patients.AnimalColorModel>
@{
    var modalId = "animalColorModal";
    Layout = "~/Views/Shared/_ClinicGroupSettingsLayout.cshtml";
}

<div id="animalColorGrid">
    <div>
        <a href="javascript:GetModal('@Url.Action("Create", "AnimalColors")','@modalId');" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Global.Create</a>
    </div>
    <h2>@RapidVet.Resources.Controllers.AnimalColorController.Colors</h2>

    <table id="animalColorsGrid" class="table table-striped table-bordered table-condensed">
        <tr>
            <th>
                @RapidVet.Resources.Controllers.AnimalColorController.Value
            </th>
            <th></th>
        </tr>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a href="javascript:GetModal('@Url.Action("Delete", "AnimalColors", new { id = @item.Id })','@modalId');">
                        <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                    |
                    <a href="javascript:GetModal('@Url.Action("Edit", "AnimalColors", new { id = @item.Id })','@modalId');">
                        <i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </table>
    <div id="animalColorModal" class="modal hide fade">
    </div>
</div>
