﻿@model RapidVet.WebModels.Finance.TariffModel
@using RapidVet.RapidConsts.Controllers;

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Tariff.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    @using (Html.BeginForm("Delete", "Tariffs", FormMethod.Post,new {@class = "form-horizontal"}))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
       
        @Muze.DeleteButtons()

    }

</div>
