﻿@model RapidVet.WebModels.Finance.TariffModel
@using RapidVet.RapidConsts.Controllers;

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Tariff.Edit</h3>
</div>
@using (Html.BeginForm("Edit", "Tariffs", FormMethod.Post,new { @class = "form-horizontal"}))
{
    <div class="modal-body">
        @Html.HiddenFor(model => model.ClinicId)
        @Html.HiddenFor(model => model.Id)

        <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Name)</label>
            <div class="controls">@Html.TextBoxFor(m => m.Name, new { autofocus = "autofocus" })
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
        </div>
        
         <div class="control-group">
            <label class="control-label">@Html.LabelFor(m => m.Active)</label>
            <div class="controls">@Html.EditorFor(m => m.Active)
                <span class="help-inline">@Html.ValidationMessageFor(m => m.Active)</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="control-group" style="width: 38%; margin: 0 auto;">
            <div class="span2">
                <button type="submit"
                        class="btn btn-primary">
                    @RapidVet.Resources.Global.Save
                </button>
            </div>
        </div>
    </div>
}
