﻿@model IEnumerable<RapidVet.WebModels.Finance.TariffModel>
@using RapidVet.RapidConsts.Controllers;

@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<div class="row-fluid" id ="@TariffConsts.TARIFF_GRID_ID">
    <a onclick="GetModal('@Url.Action("Create", "Tariffs")','@TariffConsts.TARIFF_MODAL_ID');" class="btn btn-primary">
        <i class="icon-plus"></i>@RapidVet.Resources.Tariff.CreateTariff
    </a>


    <div>&nbsp;</div>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th>
                @RapidVet.Resources.Tariff.Name
            </th>
            <th></th>
        </tr>

        @if (Model.Any())
        {
            foreach (var tariff in Model)
            {
            <tr>
                <td>
                       @Html.DisplayFor(modelItem => tariff.Name)
                </td>
                <td>
                    <a onclick="GetModal('@Url.Action("Edit", "Tariffs", new { id = tariff.Id })','@TariffConsts.TARIFF_MODAL_ID')">
                        <i class="icon-edit"></i>
                        @RapidVet.Resources.Global.Edit
                    </a>
                    <a onclick="GetModal('@Url.Action("Delete", "Tariffs", new { id = tariff.Id })','@TariffConsts.TARIFF_MODAL_ID')">
                        <i class="icon-trash"></i>
                        @RapidVet.Resources.Global.Delete
                    </a>
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20">
                    @Muze.EmptyGridMessage()
                </td>
            </tr>
        }

    </table>

</div>
@Muze.ModalDiv(TariffConsts.TARIFF_MODAL_ID)

