﻿@model IEnumerable<RapidVet.WebModels.Finance.TariffModel>
           
@{
    var id = Url.RequestContext.RouteData.Values["elementId"] ?? "TariffId";
}

<select id="@id" name="@id" style="width: auto;">
    <option value="0">@RapidVet.Resources.Tariff.SelectTariff</option>
    @foreach (var tariff in Model)
    {
        <option value="@tariff.Id">@Html.DisplayFor(modelTariff => tariff.Name)</option>
    }
</select>