﻿@model System.Collections.Generic.List<RapidVet.Model.Patients.AnimalKind>

@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<br/>
<h2>
בחר סוג חיה
    </h2>
<br/>
<form action="@Url.Action("TemplatesIndex")" method="GET">
<select name="id">
    @foreach (var kind in Model)
    {
        
        <option value="@kind.Id">@kind.Value</option>
    }
</select>
<br/>
<br/>
<button type="submit" class="btn btn-primary">המשך</button>
</form>