﻿@model RapidVet.WebModels.LabTests.LabTestTypeEdit

@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}
<div class="modal-header">
    @if (Model.Id == 0)
    {
        <h3>@RapidVet.Resources.Global.Create</h3>
    }
    else
    {
        <h3>@RapidVet.Resources.Global.Edit</h3>
    }
</div>

@using (Html.BeginForm("EditLabTestType", "LabTests", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input type="hidden" name="id" id="id" value="@Model.Id"/>
    <input type="hidden" name="clinicId" id="clinicId" value="@Model.ClinicId"/>
    <input type="hidden" name="kind" value="@ViewBag.Kind"/>
    <br/>
    <div class="control-group">
        <label class="control-label">שם: </label>
        <div class="controls">@Html.EditorFor(m => m.Name)
            <span class="help-inline"></span>
        </div>
    </div>
    
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls">
                <button type="submit"
                    class="btn btn-primary">
                    @if (Model.Id == 0)
                    {
                        <h3>@RapidVet.Resources.Global.Create</h3>
                    }
                    else
                    {
                        <h3>@RapidVet.Resources.Global.Save</h3>
                    }
                </button>
            </div>
        </div>
    </div>
}
