﻿@{
    var labTestTemplateId = Url.RequestContext.RouteData.Values["id"];
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/LabTest.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}
<style>
    .validationMessage {
        color: red;
    }
</style>

<h2>@ViewBag.testName</h2>



<input type="hidden" name="labTestTemplateId" id="labTestTemplateId" value="@labTestTemplateId"/>

<a data-bind="click: addTest" class="btn btn-primary"><i class="icon-plus"></i>@RapidVet.Resources.Labs.AddTest</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Labs.Name</th>
            <th>@RapidVet.Resources.Labs.MinValue</th>
            <th>@RapidVet.Resources.Labs.MaxValue</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: tests">
        <tr>
            <td>
                <input type="text" maxlength="40" data-bind="value: name" autofocus/>
            </td>
            <td>
                <input type="text" data-bind="value: minValue" class="input-small fix-negativ" />
            </td>
            <td>
                <input type="text" data-bind="value: maxValue" class="input-small fix-negativ" />
            </td>
            <td><a data-bind="click: $root.removeTest"><i class="icon-remove"></i></a></td>
        </tr>
    </tbody>

</table>

<a class="btn btn-primary" data-bind="click: saveData">
    <i class="icon-ok"></i>
    @RapidVet.Resources.Global.Save
</a>
