﻿@model List<RapidVet.Model.Clinics.LabTestType>
@{
    var modalId = "labTestTypeModal";
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h4>סוגי בדיקות מעבדה</h4>

<br />
<a class="btn btn-primary" href="/LabTests/EditLabTestType?id=0&kind=@ViewBag.Id" style="margin-top: -11px"><i class="icon-plus"></i>צור סוג בדיקת מעבדה</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>סוג בדיקת מעבדה
            </th>
            <th>תבניות
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var labTestType in Model)
            {
            <tr>
                <td>@labTestType.Name</td>
                <td>
                    <a class="btn btn-primary" href="/LabTests/TemplateIndex/@labTestType.Id">ערוך תבניות</a>
                </td>
                <td>
                    <a href="/LabTests/EditLabTestType/@labTestType.Id" title="ערוך"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                    |   
                            <a onclick=" GetModal('@Url.Action("Remove", new { id = labTestType.Id })', '@modalId'); ">
                                <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete </a>
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>

</table>
<div id="labTestTypeModal" class="modal hide fade">
</div>
