﻿@model RapidVet.WebModels.LabTests.LabTestTemplateIndexModel
@{
    var modalId = "labTestTemplateModal";
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>תבניות בדיקות מעבדה</h2>
<br />
<h4>@ViewBag.LabTestTypeName</h4>
<br />
<select id="animalId">
    <option value="0">בחר חיה ...</option>
    @foreach (var animal in Model.AnimalKinds)
    {
        <option value="@animal.Id">@animal.Value</option>
    }
</select>

<br />
<br />
<a class="btn btn-primary" id="createNewTemplate" href="#" style="margin-top: -11px"><i class="icon-plus"></i>צור תבנית בדיקת מעבדה</a>
<br />
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>סוג תבנית בדיקת מעבדה
            </th>
            <th>בדיקות
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">

@*        @foreach (var labelTestTemplate in Model.LabTestTemplates)
        {
            <tr>
                <td>@labelTestTemplate.Name</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("EditLabTests", new { labTestTemplateId = labelTestTemplate.Id })">ערוך בדיקות</a>
                </td>
                <td></td>
                <td>
                    <a href="@Url.Action("EditLabTestTemplate", new { id = labelTestTemplate.Id })" title="ערוך"><i class="icon-edit"></i>@RapidVet.Resources.Global.Edit</a>
                    |   
                        <a onclick=" GetModal('@Url.Action("RemoveTemplate", new { id = labelTestTemplate.Id })', '@modalId'); ">
                            <i class="icon-trash"></i>@RapidVet.Resources.Global.Delete</a>
                </td>
            </tr>
        }*@

    </tbody>

</table>

<div id="labTestTemplateModal" class="modal hide fade">
</div>

@section scripts
{
    <script>
        $("#animalId").on('change', function () {
            getTemplateOfAnimal();
        });

        function getTemplateOfAnimal() {
            if ($("#animalId").val() == 0) {
                $('#tableBody').empty();
                $('#createNewTemplate').attr('href', '#');
                $('#createNewTemplate').attr('onclick', 'alert("בחר חיה!")');
                return;
            }
            $('#createNewTemplate').attr('onclick', '');
            $('#createNewTemplate').attr('href', '/LabTests/EditLabTestTemplate/0?animalKindId=' + $("#animalId").val() + '&labTestTypeId=@ViewBag.LabTestTypeId');

             $.ajax(
                 {
                     url: "/LabTests/GetTemplateOfAnimal/" + "@ViewBag.LabTestTypeId" + "?animalKindId=" + $("#animalId").val(),
                success: function (data) {
                    $('#tableBody').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#tableBody').append("<tr><td>" + data[i].Name + "</td><td><a class='btn btn-primary' href='/LabTests/EditLabTests/" + data[i].Id + "'>ערוך בדיקות</a></td>" +
                            "<td class = 'nassar'><a href=\"/LabTests/EditLabTestTemplate/" + data[i].Id + "\" title='ערוך'><i class='icon-edit'></i>@RapidVet.Resources.Global.Edit</a> | " +
                            "<a onclick=\"GetModal('/LabTests/RemoveTemplate/" + data[i].Id + "', '@modalId');\">" +
                            "<i class=\"icon-trash\"></i>@RapidVet.Resources.Global.Delete</a></td></tr>");
                    }
                },
                error: function (error) {
                    $('#tableBody').empty();
                    $('#tableBody').append("<tr><td>אירעה שגיאה!</td></tr>");

                }
            }
        );
    }

    $(function () {
        getTemplateOfAnimal();
    });

    </script>

}
