﻿@model RapidVet.WebModels.LabTests.LabTestTemplateIndexModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
 
}

<style>
    .validationMessage {
        color: red;
    }
</style>

@section Scripts{
    <script type="text/javascript">

        ko.validation.rules['maxLength'].message = "מקסימום תווים: 140";

        function option(value, text) {
            var self = this;
            self.Value = ko.observable(value);
            self.Text = ko.observable(text);
        }

        function template(id, name, type, typename) {
            var self = this;
            self.edit = ko.observable(false);
            self.Id = ko.observable(id);
            self.Name = ko.observable(name).extend({ maxLength: 140 });
            ;
            self.LabTestTypeId = ko.observable(type);
            self.LabTestTypeName = ko.observable(typename).extend({ maxLength: 140 });
            ;

            self.openForEdit = function() {
                self.edit(true);
            };

            self.openLabTests = function() {
                window.location = '@Url.Action("EditLabTests", "LabTests")/' + self.Id();
            };

            self.save = function(template) {
                if (self.LabTestTypeId() == 0 && self.validate()) {
                    $.post('/LabTests/AddType?name=' + self.LabTestTypeName(), function(res) {
                        if (isNaN(res)) {
                            //error
                            return;
                        } else {
                            viewModel.typeOptions.unshift(new option(res, self.LabTestTypeName()));
                            self.LabTestTypeId(res);
                            self.sendChanges();
                        }
                    });

                } else {
                    self.sendChanges();
                }
            };

            self.validate = function() {
                var errors = ko.validation.group(this, { deep: true });
                errors.showAllMessages();
                return errors().length == 0;
            };

            self.sendChanges = function() {
                var qs = {
                    Id: self.Id(),
                    Name: self.Name(),
                    LabTestTypeId: self.LabTestTypeId(),
                    AnimalKindId: '@Model.AnimalKindId'
                };
                if (self.validate()) {
                    $.post('/LabTests/SaveLabTestTemplate', $.param(qs), function(res) {
                        self.Id(res);
                        getCookieMessages();
                        self.edit(false);
                    });
                }
            };
        }

        function viewModel() {
            var self = this;
            self.templates = ko.observableArray([]);

            var mapped = $.map(@Html.Raw(ViewBag.JSON), function(item) {
                return new template(item.Id, item.Name, item.LabTestTypeId, item.LabTestTypeName);
            });
            self.templates(mapped);

            self.typeOptions = ko.mapping.fromJS(@Html.Raw(ViewBag.TemplateOptions));

            self.add = function() {
                var temp = new template(0, '', '', '');
                temp.edit(true);
                self.templates.push(temp);
            };

            self.remove = function(template) {
                ShowLoder();
                $.post('/LabTests/RemoveLabTestTemplate?id=' + template.Id(), function(res) {

                    if (res) {
                        self.templates.remove(template);
                    }
                    getCookieMessages();
                    hideLoder();
                });

            };
        }

        var viewModel;
        $(function() {
            viewModel = new viewModel();
            ko.applyBindings(viewModel);
        });
    </script>
}
<a class="btn btn-primary" data-bind="click: add"><i class="icon-plus"></i>הוסף תבנית</a>
<br />
<br />
<table class="table table-bordered table-striped" >
    <thead>
        <tr>
            <th>סוג תבנית</th>
            <th>שם תבנית</th>
            <th>בדיקות</th>
            <th>פעולות</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: templates">

        <tr>

            <td >
                <select style ="width: 300px;" data-bind="visible: LabTestTypeId()!=0 , options: $parent.typeOptions, optionsText:'Text',optionsValue:'Value',value: LabTestTypeId, attr:{disabled: !edit() }" />
                <input style ="width: 300px;" type="text"   maxlength="35"  data-bind="visible: LabTestTypeId()==0 , value: LabTestTypeName" />
            </td>
            <td>
                <input style ="width: 300px;"  type="text"  maxlength="35" data-bind="value: Name, attr:{readonly: !edit()}" />
            </td>
            <td>
                <button class="btn btn-primary" data-bind="visible: !edit(),click: openLabTests">
                    בדיקות
                </button>
            </td>
            <td>
                <button class="btn btn-primary" data-bind="visible: !edit(),click: openForEdit">
                    <i class="icon-edit"></i>
                    ערוך
                </button>
                <button class="btn btn-primary" data-bind="visible: edit, click: save">
                     <i class="icon-ok"></i>
                    שמור
                </button>
                <button class="btn btn-danger" data-bind="visible: !edit(), click: $parent.remove">
                     <i class="icon-trash"></i>
                    מחק
                </button>
            </td>


        </tr>

    </tbody>

</table>
