﻿
/* Validation Error */
input.input-validation-error {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
}

/*hide this element*/
.inactive {
    display: none;
}

.grid-active {
    display: block;
}