﻿@model IEnumerable<RapidVet.WebModels.Tools.ClinicBackgroundJobWebModel>
    <style>
        .viewBtn {
            width: 110px;
        }
    </style>

    @section breadcrumb
{
        <li>
            <a href="/">@RapidVet.Resources.BreadCrums.Main</a>
            <span class="divider">&gt;</span>
        </li>
        <li>
            @CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
        </li>
        <li class="active">@RapidVet.Resources.BackgroundJobs.Title</li>
    }

    <h2>@RapidVet.Resources.BackgroundJobs.Title</h2>
    <br />


    @Html.CheckBox("cb_DisplayFinishedJobs", (bool)ViewBag.DisplayFinishedJobs) @RapidVet.Resources.BackgroundJobs.DisplayFinishedJobs


    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@RapidVet.Resources.BackgroundJobs.StartTime</th>
                <th>@RapidVet.Resources.BackgroundJobs.JobModule</th>
                <th>@RapidVet.Resources.BackgroundJobs.InitiatingUserName</th>
                <th>@RapidVet.Resources.BackgroundJobs.Processed</th>
                <th>@RapidVet.Resources.BackgroundJobs.Total</th>
                <th>@RapidVet.Resources.BackgroundJobs.WasCancelled</th>
                <th>@RapidVet.Resources.BackgroundJobs.CancellingUserName</th>
                <th>@RapidVet.Resources.BackgroundJobs.EndTime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StartTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.JobModule</td>
                        <td>@item.InitiatingUserName</td>
                        <td>@item.Processed</td>
                        <td>@item.Total</td>
                        <td>@(item.WasCancelled ? RapidVet.Resources.Global.Yes : RapidVet.Resources.Global.No)</td>
                        <td>@item.CancellingUserName</td>
                        <td>@(item.EndTime.HasValue ? item.EndTime.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                        <td>
                            @if (!item.EndTime.HasValue && !item.WasCancelled && (CurrentUser.IsClinicManager || CurrentUser.Id == item.InitiatingUserId))
                            {
                                <a class="btn btn-primary" href="@Url.Action("CancelJob", "BackgroundJobs", new { id = item.JobId })">
                                    <i class="icon-trash"></i>
                                    @RapidVet.Resources.Global.Cancel
                                </a>
                            }
                            </td>
                        </tr>
                }
            }
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        //  $(document).ready(function () {
                        $("#cb_DisplayFinishedJobs").change(function () {
                            var checked = $(this).is(':checked');
                            var url = '@Url.Action("Index", "BackgroundJobs")' + '?displayFinishedJobs=' + checked;

                            // redirect
                            window.location.href = url;
                        });
                        //  });


                    </script>
