﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@RapidVet.Resources.Visit.Delete</h3>
</div>
<div class="modal-body">
    <h3>
        @Html.Raw(RapidVet.Resources.OperationMessgaes.DeleteMessage)
    </h3>
</div>
<div class="modal-footer">
    <div class="row-fluid">
        <div class="span3" style="text-align:center;margin:auto;margin-top:15px;float:inherit;">
            <button onclick="deactivateVisitFunc()" class="btn btn-danger">@RapidVet.Resources.Global.Ok</button>
        </div>
    </div>
</div>
