﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var patientId = Url.RequestContext.RouteData.Values["id"];

}

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}

@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<style>
    table {
        border-collapse: collapse;
    }
    /* Ensure no space between cells   */
    tr.strikeout td {
        position: relative;
    }
        /* Setup a new coordinate system   */
        tr.strikeout td:before { /* Create a new element that       */
            content: " "; /* …has no text content            */
            position: absolute; /* …is absolutely positioned       */
            left: 0;
            top: 50%;
            width: 100%; /* …with the top across the middle */
            border-bottom: 1px solid #000; /* …and with a border on the top   */
        }

    .PrintParametersObj {
        position: absolute;
        width: 250px;
        height: 220px;
        background-color: white;
        top: 500px;
        color: #529E00;
        /*box-shadow: 5px 5px 5px 5px #888888;*/
        border-radius: 5px;
        border: 2px solid #A39487;
        left: 44%;
        display: none;
    }

    .dTblParms {
        padding-top: 10px;
        padding-right: 5px;
        background-color: #FFFBBE;
        color: #333333;
        height: 168px;
    }

    .h3Head {
        padding-right: 5px;
        padding-top: 10px;
        color: #333333;
        margin-top: -4px;
        margin-right: -3px;
        height: 35px;
        padding-left: 12px;
        width: 260px;
    }

    .BtnObj {
        text-align: center;
        padding-top:10px;
    }
    .dpVetd {
        background-color:gray !important;
        cursor:not-allowed !important;
    }
    .dpVetdEn {
        background-color:white !important;
        cursor:pointer !important;
    }
</style>

<input type="hidden" name="patientId" id="patientId" value="@patientId" />

<h4><span>היסטוריה</span></h4>
<br />

<a class="btn btn-primary" href="javascript:ShowPrintParametrs();" target="_blank">
    <i class="icon-print"></i>
    הדפסה
</a>
<br />
<br />



<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>פריט</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: historyDates">
        <tr>
            <td>
                <span data-bind="text: DateString"></span>
            </td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th class="span2" style="min-width:90px">שעת הטיפול</th>
                            <th class="span18" style="min-width:375px">שם הטיפול</th>
                            <th class="span3" style="min-width:110px">הרופא המטפל</th>
                            <th class="span3" style="min-width:100px">ימים מהטיפול</th>
                            <th class="span2" style="min-width:86px">סכום לחיוב</th>
                            <th style="min-width:52px"></th>
                            <th style="min-width:52px"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Items">
                        <tr @*data-bind="css: { strikeout: Active() != null && !Active() }"*@>
                            <td data-bind="style: { color: Color() }">
                                <span data-bind="text: DateToShortTime"></span>
                            </td>
                            <td data-bind="style: { color: Color(), textDecoration: Active() != null && !Active() ? 'line-through' : 'initial' }">
                                @*<a data-bind="html: Name, attr: { href: Url }"></a>*@
                                <span style="overflow:hidden; word-wrap:break-word;" data-bind="html: Name"></span>
                            </td>
                            <td data-bind="style: { color: Color() }">
                                <span data-bind="text: HandlingDoctor"></span>
                            </td>
                            <td data-bind="style: { color: Color() }">
                                <span data-bind="text: DaysFromTreatment"></span>
                            </td>
                            <td data-bind="style: { color: Color(), textDecoration: Active() != null && !Active() ? 'line-through' : 'initial' }">
                                <span data-bind="text: Sum"></span>
                            </td>
                            <td style="min-width: 42px;">
                                <div @*data-bind="visible: Active() == null || Active() == true"*@>
                                    <a data-bind="attr: { href: Url }, visible: ItemType() != 'followUp' && ItemType() != 'archive' && ItemType() != 'ministry' && (Active() == null || Active() == true)">עריכה</a>@* && Active()*@
                                    <a data-bind="attr: { href: Url }, visible: ItemType() == 'archive' && (Active() == null || Active() == true)">תצוגה</a>
                                    <a data-bind="attr: { href: Url }, visible: !Active() && ItemType() == 'visit'">צפייה</a>
                                    <span data-bind="visible: ItemType() == 'followUp' ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                            </td>
                            <td style="min-width: 42px;">
                                <div data-bind="visible: Active() == null || Active() == true">
                                    <a data-bind="visible: ItemType() == 'visit', click: function () { deactivateVisit(Id()) }" style="color: red" href="#">בטל</a>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<div id="visitDeleteModel" class="modal hide fade">
    @Html.Partial("_Delete");
</div>
<div class="PrintParametersObj">
    <div class="close" style="color:black;padding-left:5px;" onclick="$('.PrintParametersObj').hide('fast');">x</div>
    <h3 class="h3Head">
        הדפסת היסטורייה
    </h3>
    <div class="dTblParms">
        <table cellpadding="2" cellspacing="2" style="" width="220px">
            <tr>
                <td class="HeadDoch" colspan="2">
                    סנן ע"פ תאריכים
                
                    <input type="checkbox" id="cbEn" class="cb" onchange="ChechCange(this.checked);">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="HeadDoch">
                    מתאריך
                </td>
                <td>
                    <input type="text" class="dpVet dpVetd" readonly="" autocomplete="off" id="dpVetFrom" style="width: 148px;">
                </td>
            </tr>
            <tr>
                <td class="HeadDoch">
                    ועד
                    &nbsp;&nbsp;
                </td>
                <td>
                    <input type="text" class="dpVet dpVetd" readonly="" autocomplete="off" id="dpVetTo" style="width: 148px;">
                </td>
            </tr>
            <tr>
                <td class="HeadDoch">
                    הצג סכומים
                </td>
                <td>
                    <input type="checkbox" id="cbMoney" class="cb" checked="checked">
                </td>
            </tr>
        </table>
        <div colspan="2" class="BtnObj">
            <a class='btn btn-primary' onclick="Print();"><i class=' icon-print'></i>הדפס</a>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("/Scripts/App/Patients/PatientHistory.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        function ShowPrintParametrs() {
            $('.PrintParametersObj').show('fast');
        }
        function InitDP(id) {
            $("#" + id).datepicker({
                defaultDate: "+0",
                dateFormat: 'dd/mm/yy',
                onSelect: function (dateText, inst) {
                }
            });
        }
        function Init() {
            $.datepicker.setDefaults($.datepicker.regional["he"]);

            InitDP('dpVetVisitedAfter');
            InitDP('dpVetFrom');
            InitDP('dpVetTo');

            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var output = (day < 10 ? '0' : '') + day + '/' +
                            (month < 10 ? '0' : '') + month + '/' +
                            d.getFullYear();
            $("#dpVetVisitedAfter").val(output);

            $("#dpVetFrom").val("01/01/" + d.getFullYear());
            $("#dpVetTo").val("31/12/" + d.getFullYear());

            $('#dpVetFrom')[0].disabled = true;
            $('#dpVetFrom')[0].className = "dpVetd";

            $('#dpVetTo')[0].disabled = true;
            $('#dpVetTo')[0].className = "dpVetd";
        }
        function Print()
        {
            var url = "@Url.Action("PrintHistory", new {id = patientId})";
            url += "?dtFrom=" + ($('#cbEn')[0].checked ? escape($('#dpVetFrom').val()) : escape("01/01/1980"));
            url += "&dtTo=" + ($('#cbEn')[0].checked ? escape($('#dpVetTo').val()) : escape("01/01/2045"));
            url += "&isToShowMoney=" + escape($('#cbMoney')[0].checked);
            
            var win = window.open(url, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                //alert('Please allow popups for this website');
            }
            $('.PrintParametersObj').hide('fast');
            Init();
        }
        function ChechCange(val) {
            if (val) {
                $('#dpVetFrom')[0].disabled = false;
                $('#dpVetFrom')[0].className = "dpVetdEn";

                $('#dpVetTo')[0].disabled = false;
                $('#dpVetTo')[0].className = "dpVetdEn";
            }
            else {
                $('#dpVetFrom')[0].disabled = true;
                $('#dpVetFrom')[0].className = "dpVetd";

                $('#dpVetTo')[0].disabled = true;
                $('#dpVetTo')[0].className = "dpVetd";
            }
        }

        Init();
        InitDP('dpVetFrom');
        InitDP('dpVetTo');
    </script>
}