﻿@model RapidVet.WebModels.Patients.PatientHistoryIndexModel
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";

    var patientId = Url.RequestContext.RouteData.Values["id"];

}

<style>
    table {
        border-collapse: collapse;
    }
    /* Ensure no space between cells   */
    tr.strikeout td {
        position: relative;
    }
        /* Setup a new coordinate system   */
        tr.strikeout td:before { /* Create a new element that       */
            content: " "; /* …has no text content            */
            position: absolute; /* …is absolutely positioned       */
            left: 0;
            top: 50%;
            width: 100%; /* …with the top across the middle */
            border-bottom: 1px solid #000; /* …and with a border on the top   */
        }

    .dontPrint {
        display: none;
    }
</style>



<img class="logo" src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;" />
<span><b>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Name)</b></span>
<br />
<span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Address)</span>
<br />
<span>טל': </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Phone)</span>
<br />
<span>פקס: </span><span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Fax)</span>
<br />
<span>@Html.DisplayFor(m => CurrentUser.ActiveClinic.Email)</span>
<br /><br />

@Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.Client)
<br />
@Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })




<input type="hidden" name="patientId" id="patientId" value="@patientId" />

<h4><span>היסטוריה</span></h4>
<br />


<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>תאריך</th>
            <th>פריט</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: historyDates">
        @foreach (var historyDate in Model.HistoryDates)
        {
            <tr>
                <td>
                    <span>@historyDate.DateString</span>
                </td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th class="span2" style="min-width:90px">שעת הטיפול</th>
                                <th class="span18" style="min-width:375px">שם הטיפול</th>
                                <th class="span3" style="min-width:110px">הרופא המטפל</th>
                                <th class="span3" style="min-width:100px">ימים מהטיפול</th>
                                @if (ViewBag.isToShowMoney == "true")
                                {
                                    <th class="span2" style="min-width:86px">סכום לחיוב</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in historyDate.Items)
                            {
                                <tr @*data-bind="css: { strikeout: Active() != null && !Active() }"*@>
                                    <td style="background-color: @item.Color">
                                        <span>@item.DateToShortTime</span>
                                    </td>
                                    <td style="background-color: @item.Color; text-decoration: @(item.Active.HasValue && !item.Active.Value ? "line-through" : "initial" )">
                                        @*<a data-bind="html: Name, attr: { href: Url }"></a>*@
                                        <span style="overflow:hidden; word-wrap:break-word;">@Html.Raw(item.Name)</span>
                                    </td>
                                    <td style="background-color: @item.Color">
                                        <span>@item.HandlingDoctor</span>
                                    </td>
                                    <td style="background-color: @item.Color">
                                        <span> @item.DaysFromTreatment</span>
                                    </td>
                                    @if (ViewBag.isToShowMoney == "true")
                                    {
                                        <td style="background-color: @item.Color; text-decoration: @(item.Active.HasValue && !item.Active.Value ? "line-through" : "initial")">
                                            <span>@item.Sum</span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
