﻿@model RapidVet.WebModels.Visits.EditVisitModel
@*using (Ajax.BeginForm("CurrentVisit", "Patients", new AjaxOptions()
    {
        HttpMethod = "Post",
        //  InsertionMode = InsertionMode.Replace,
        OnSuccess = ""
    },
                       new
                           {
                               @class = "form-inline",
                               id = "",
                           }))*@

<form class="form-inline">

    <input type="hidden" value="@ViewBag.ClientId" id="clientId"/>
    <input type="hidden" value="@ViewBag.PatientId" id="patientId"/>
      <input type="hidden" value="@ViewBag.VisitId" id="visitId"/>
    <div data-bind="with: visitData">

        @Html.Partial("_GeneralData", Model)

        <div class="row control-group">
            <div class="span12">
                <label>
                    <span>@RapidVet.Resources.Controllers.Views.PatientIndex.MainComplaint</span>
                    <textarea data-bind="value: MainComplaint" rows="3" cols="200"></textarea>
                </label>
            </div>
        </div>
    </div>
    <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Examinations</h2>
    <a class="examination-add" style="cursor: pointer;" data-bind="click: addExamination"><i class="icon-plus"></i>@RapidVet.Resources.Controllers.Views.PatientIndex.AddExamination</a>
    <a class="examination-add" style="cursor: pointer;" data-bind="click: addExaminationFromPL"><i class="icon-plus"></i>הוסף בדיקה ממחירון</a>
    <div>
        <div class="row control-group">
            @Html.Partial("_Examinations")
        </div>
    </div>


    <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Diagnoses</h2>
    <a href="#" style="cursor: pointer;" data-bind="click: addDiagnosis"><i class="icon-plus"></i>@RapidVet.Resources.Controllers.Views.PatientIndex.AddDiagnosis</a>
    <a href="#" style="cursor: pointer;" data-bind="click: addDiagnosisFromList"><i class="icon-plus"></i>הוסף אבחנה מרשימה</a>

    <div class="row control-group">
        @Html.Partial("_Diagnoses")
    </div>


    <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Treatments</h2>
    <a href="#" style="cursor: pointer;" data-bind="click: addTreatment"><i class="icon-plus"></i>@RapidVet.Resources.Controllers.Views.PatientIndex.AddTreatment</a>
    <a href="#" style="cursor: pointer;" data-bind="click: addTreatmentFromPL"><i class="icon-plus"></i>הוסף טיפול ממחירון</a>

    <div class="row control-group">
        @Html.Partial("_Treatments")
    </div>


    <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Medications</h2>
    <a href="#" style="cursor: pointer;" data-bind="click: addMedicationFromList"><i class="icon-plus"></i>@RapidVet.Resources.Controllers.Views.PatientIndex.AddMedication</a>
    <div class="row control-group">
        @Html.Partial("_Medications")
    </div>
</form>
<button type="button" class="btn btn-inverse">@Html.ActionLink("ביטול","Patients","Clients",new {id = ViewBag.ClientId},null)</button>
<button type="button" class="btn btn-primary" data-bind="click: save">שמור</button>
<button type="button" class="btn btn-info" data-bind="click: print">הדפס</button>