﻿<div id="dangerousDrugsModal"  class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideDangerousDrugsModal" aria-hidden="true" style="margin-bottom:5px;">×</button>
    </div>
    <div class="modal-body" style="margin-top:22px;">
        <div class="well">
            <div>
                <label>
                    @RapidVet.Resources.DangerousDrugs.NameVolume
                    <select data-bind="value: dangerousDrugId, options: dangerousMedicationsList, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..'"></select>
                </label>
            </div>
            <div>
                <label>
                    @RapidVet.Resources.DangerousDrugs.Injected
                    <input type="text" data-bind="value: dangerousDrugInjected" />
                </label>
            </div>
            <div>
                <label>
                    @RapidVet.Resources.DangerousDrugs.Destroyed
                    <input type="text" data-bind="value: dangerousDrugDesytoyed" />
                </label>
            </div>
            <a class="btn btn-primary" data-bind="click: addDangerousDrug">
                <i class="icon-plus"></i>
                @RapidVet.Resources.DangerousDrugs.AddReport
            </a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>שם המוצר</th>
                    <th>@RapidVet.Resources.DangerousDrugs.Injected</th>
                    <th>@RapidVet.Resources.DangerousDrugs.Destroyed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: dangerousDrugs">
                <tr>
                    <td data-bind="text: MedicationName"></td>
                    <td data-bind="text: AmountInjected"></td>
                    <td data-bind="text: AmountDestroyed"></td>
                    <td><a class="" data-bind="click: $root.removeDangerousDrug">X</a></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


