﻿<div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:15%;">@RapidVet.Resources.Diagnosis.Category</th>
                    <th style="width:36%;">@RapidVet.Resources.Diagnosis.DiagnosisSingle</th>
                    <th style="width:12%;">@RapidVet.Resources.Diagnosis.AddedBy</th>
                    <th style="width:2%;"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: visitDiagnoses">
                <tr>
                    <td>
                        <input type="text" placeholder="@RapidVet.Resources.Diagnosis.Category" data-bind="value: CategoryName" style="width: 98%;" />
                    </td>
                    <td>
                        <textarea rows="1" cols="200" data-val="true" placeholder="@RapidVet.Resources.Diagnosis.DiagnosisSingle" data-bind="value: Name" class="input-xlarge multi-line" style="width:98%"></textarea>
                    </td>
                     
                   
                    <td data-bind="text: AddedBy">
                        
                    </td>
                    <td>
                        <a data-bind="click: $root.removeDiagnosis">X</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="diagnosesModal" class="modal hide fade in" style="display: none;" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideDiagnosesModal" aria-hidden="true">×</button>
        @RapidVet.Resources.Diagnosis.DiagnosesList
        <input data-bind="value: searchQuery, valueUpdate: 'keyup',placeholder: 'חיפוש' " />
    </div>
    <div class="price-list-modal">
        <table class="table table-striped">
            <thead>
            <th>@RapidVet.Resources.Diagnosis.DiagnosisSingle</th>
            <th></th>
            </thead>
            <tbody data-bind="foreach: diagnosesOptions">
                <tr>
                    <td data-bind="text: Name"></td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-bind="click: $parent.addDiagnosis">
                            @RapidVet.Resources.Diagnosis.Add
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
