﻿<div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="vertical-align: middle; width:15%;">@RapidVet.Resources.Examinations.Category</th>
                    <th style="vertical-align: middle; width:30%;">@RapidVet.Resources.Examinations.Examination</th>
                    <th style="vertical-align: middle; width:7%;">@RapidVet.Resources.Examinations.Quantity</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Examinations.UnitPrice</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Examinations.DiscountPercent</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Examinations.Discount</th>
                    <th style="vertical-align: middle; width:12%;">@RapidVet.Resources.Examinations.Amount</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Examinations.AddedBy</th>
                    <th style="vertical-align: middle; width:2%;"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: visitExaminations">
                <tr>
                    <td>
                        <input type="text" class="input-mini" placeholder="@RapidVet.Resources.Examinations.Category" data-bind="value: CategoryName" style="width: 98%;" /></td>
                    <td>
                        <textarea rows="1" cols="200" data-val="true" placeholder="@RapidVet.Resources.Examinations.Examination" data-bind="value: Name" class="input-xlarge multi-line" style="width:98%"></textarea></td>
                    <td>    
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: Quantity" /></td>
                    <td>
                        <input type="number" class="text-box single-line input-mini fix-negativ" data-bind="value: UnitPrice.extend({ required: true, number: true, max: maxInt, min: 0 })" /></td>
                    
                    <td>
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: DiscountPercent.extend({ number: true })" />
                    </td>
                    <td>
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: Discount.extend({ number: true })" />
                    </td>
                    <td>
                        <span data-bind="text: CalculatedPrice" />
                    </td>
                    <td data-bind="text: AddedBy"></td>
                    <td class="close-button-column"><a data-bind="click: $root.removeExamination">X</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="examinationsModal" class="modal hide fade in" style="display: none;" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideExaminationsModal" aria-hidden="true">×</button>
        <div class="row-fluid">
            <h3>@RapidVet.Resources.Examinations.ExaminationPriceList</h3>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <select class="input-medium" data-bind="value: selectedCategoryId, options: categories, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..'"></select>
            </div>
            <div class="span4">
                <input class="input-medium" placeholder="@RapidVet.Resources.Global.Search" data-bind="value: searchQuery, valueUpdate: 'keyup'" />
            </div>
        </div>
        <div class="price-list-modal">
            <table class="table table-striped">
                <thead>
                    <th>@RapidVet.Resources.Examinations.Type</th>
                    <th>@RapidVet.Resources.Examinations.Examination</th> 
                    <th>@RapidVet.Resources.Examinations.Catalog</th>
                    <th>@RapidVet.Resources.Examinations.Barcode</th>
                    <th>@RapidVet.Resources.Examinations.Amount</th>
                    <th></th>
                </thead>
                <tbody data-bind="foreach: examinationsOptions">
                    <tr>
                        <td data-bind="text: ItemType"></td>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Catalog"></td>
                        <td data-bind="text: Barcode"></td>
                        <td data-bind="text: Price"></td>
                        <td>
                            <button type="submit" class="btn btn-primary" data-bind="click: $parent.addExamination">
                                @RapidVet.Resources.Examinations.Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
