﻿<div class="row control-group">
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Weight</span>
            <input class="text-box single-line" data-bind="value: weight" type="text">
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Temperature</span>
            <input class="text-box single-line" data-bind="value: temp" type="text">
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Pulse</span>
            <input class="text single-line" data-bind="value: hr" type="text">
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.BPM</span>
            <input class="text-box single-line" data-bind="value: bpm" type="text">
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.BCS</span>
            <input class="text-box single-line" data-bind="value: bcs" type="text">
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Mucosa </span>
            <input class="text-box single-line" data-bind="value: mucosa" type="text">
        </label>
    </div>
    <div class="span2" data-bind="visible: dangerousDrugs().length > 0">

        <p class="label label-important" style="margin-top: 10%;">@RapidVet.Resources.DangerousDrugs.Title</p>

    </div>
</div>

<div class="row control-group">

    <div class="span4">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.TreatingDoctor
            </span>
            <select data-bind=" value: selectedDoctorId, options: doctors, optionsText: 'Name', optionsValue: 'Id'"></select>
        </label>
    </div>
    <div class="span3" dir="ltr">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Colors
            </span>
            @*color picker here*@
            <span class='simpleColor'></span>
            <input type="hidden" name="color" id="color" data-bind="value: color" />
        </label>
    </div>
    <div class="span2">
        <label>
            <span>
                @RapidVet.Resources.Controllers.Views.PatientIndex.Price
            </span>
            <input type="text" data-bind="value: displayedVisitPrice" />
        </label>
    </div>
<div class="span1">
    <label>
        <a data-bind="click: clearVisitFixedPrice" class="btn btn-primary mini" data-toggle="tooltip" data-placement="top" title="@RapidVet.Resources.Visit.RecalculatePrice" data-original-title="@RapidVet.Resources.Visit.RecalculatePrice">
            <i class="icon-refresh"></i>
        </a>
    </label>
</div>
    </div>
<div class="row control-group">

    <div class="span2">
        <label>
            <span>
                @RapidVet.Resources.Controllers.Views.PatientIndex.Date
        </span>
        @*date picker here*@
            <input id="datepicker" type="text" class="date" readonly data-bind="value: date" />
    </label>
</div>
<div class="span2">
    <label>
        <span>
            @RapidVet.Resources.Controllers.Views.PatientIndex.Time
    </span>
    @*time picker here*@
        <input type="time" min="01:00" max="24:00" data-bind="value: time" style="max-width:85px; direction: ltr;" />
</label>
</div>
    <div class="span8">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.MainComplaint</span>
            <textarea data-bind="value: mainComplaint" rows="1" cols="200" style="width:350px"></textarea>
        </label>
    </div>
</div>
