﻿<style type="text/css">
    #medicineName {
        width: 80% !important;
    }

    #medicineInstructions, #medicineDoctorInfo {
        width: 80% !important;
    }
</style>

@model dynamic
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.MedicationName</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Administration</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Dosage</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Repetes</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Interval</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Instructions</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.TotalAmount</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.UnitPrice</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.DiscountPercent</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Discount</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.TotalPrice</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.AddedBy</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: visitMedications">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: MedicationAdministrationTypeName">

            <td>
                <input type="text" class="input-mini fix-negativ" data-bind="value: Dosage">
            </td>
            <td>
                <input type="number" class="input-mini fix-negativ" data-bind="value: TimesPerDay.extend({ number: true })">
            </td>
            <td>
                <input type="number" class="input-mini fix-negativ" data-bind="value: NumberOfDays.extend({ number: true })">
            </td>
            <td>
                <input data-bind="value: Insturctions">
            </td>
            <td>
                <input type="number" class="input-mini fix-negativ" data-bind="value: OverallAmount">
            </td>
            <td>
                <input type="number" class="input-mini fix-negativ" data-bind="value: UnitPrice">
            </td>
            <td>
                <input type="number" class="input-mini fix-negativ" data-bind="value: DiscountPercent">
            </td>
            <td>
                <input type="number" class="input-mini fix-negativ" data-bind="value: Discount">
            </td>
            <td>
                <span data-bind="text: Total" />
            </td>
            <td data-bind="text: AddedBy"></td>
            <td style="text-align: left">
                <a class="" data-bind="click: $root.removeMedication">X</a>
            </td>
        </tr>
    </tbody>
</table>


<div id="medicationsModal" class="modal hide fade in" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideMedicationsModal" style="margin-bottom: 5px;" aria-hidden="true">×</button>
        <div class="row-fluid" style="margin-bottom: 5px;">
            <h3>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.AddMedicine</h3>
        </div>
    </div>
    <div class="modal-body" style="max-height: 500px;">
        <div class="form-inline">
            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.SelectMedication</label>
                </div>
                <div class="span9">
                    <label>
                        <select data-bind="value: selectedMedicationId, options: medications, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..'"></select>
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Administration</label>
                </div>
                <div class="span9">
                    <label>
                        <select data-bind="value: selectedMedicationMedicationAdministrationTypeId, options: medicationAdministrationTypes, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..'"></select>
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Name</label>
                </div>
                <div class="span9">
                    <label>
                        <input style="width:80%;" id="medicineName" type="text" data-bind="value: selectedMedicationName" />
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Dosage</label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" data-bind="value: selectedMedicationDosage" />
                    </label>
                </div>
            </div>


            <div class="row-fluid">
                <div class="span2">
                    <label>
                        @RapidVet.Resources.Controllers.Views.PatientIndexMedication.DailyRepeats
                    </label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" data-bind="value: selectedMedicationTimesPerDay" />
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Days</label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" data-bind="value: selectedMedicationNumberOfDays" />
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>
                        @RapidVet.Resources.Controllers.Views.PatientIndexMedication.UnitPrice
                    </label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" data-bind="value: selectedMedicationUnitPrice" />
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Instructions</label>
                </div>
                <div class="span9">
                    <label>
                        <textarea type="text" id="medicineInstructions" data-bind="value: selectedMedicationInsturctions"></textarea>
                    </label>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <input type="checkbox" data-bind="checked: selectedMedicationDangerousDrug" />
                    @RapidVet.Resources.Controllers.Views.PatientIndexMedication.DangerousDrug
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <label>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.DoctorInfo</label>
                </div>
                <div class="span9">
                    <label>
                        <textarea id="medicineDoctorInfo" data-bind="value: selectedMedicationDoctorInfo"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span5">
                <a class="btn btn-primary" data-bind="click: addSelectedMedication(-1)">
                    <i class="icon-plus"></i>
                    @RapidVet.Resources.Controllers.Views.PatientIndexMedication.AddToVisit
                </a>
            </div>
            @if (CurrentUser.IsClinicGroupManager)
            { 
            <div class="span5">
                <a class="btn btn-primary" data-bind="click: createNewMedication">
                    <i class="icon-file"></i>
                    @RapidVet.Resources.Controllers.Views.PatientIndexMedication.SaveAsNew
                </a>
            </div>
            }
            else
            {
                <text>יש לפנות למנהל קבוצת מרפאות כדי להוסיף תרופה חדשה</text>
            }
        </div>
    </div>
</div>


