﻿<div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="vertical-align: middle; width:15%;">@RapidVet.Resources.Treatment.Category</th>
                    <th style="vertical-align: middle; width:30%;">@RapidVet.Resources.Treatment.TreatmentSingle</th>
                    <th style="vertical-align: middle; width: 7%;">@RapidVet.Resources.Treatment.Quantity</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Treatment.UnitPrice</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Treatment.DiscountPercent</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Treatment.Discount</th>
                    <th style="vertical-align: middle; width:12%;">@RapidVet.Resources.Treatment.Total</th>
                    <th style="vertical-align: middle; width:10%;">@RapidVet.Resources.Treatment.AddedBy</th>
                    <th style="vertical-align: middle; width:2%;"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: visitTreatments">
                <tr>
                    <td>
                        <input type="text" class="input-mini" placeholder="@RapidVet.Resources.Treatment.Category" data-bind="value: CategoryName"  style="width: 98%;"/></td>
                    <td>
                        <textarea rows="1" cols="200" data-val="true" placeholder="@RapidVet.Resources.Treatment.Specifics" data-bind="value: Name" class="input-xlarge multi-line" style="width:98%"></textarea>
                       
                    </td>
                    <td>
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: Quantity" /></td>
                    <td>
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: UnitPrice.extend({ required: true, number: true })" style="width: 50px;" /></td>
                   
                    <td>
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: DiscountPercent" />

                    </td>
                    <td>
                        <input class="text-box single-line input-mini fix-negativ" type="number" data-bind="value: Discount.extend({ number: true })" />

                    </td>
                    <td>
                        <span class="fix-negativ" data-bind="text: CalculatedPrice" />
                    </td>
                    <td>
                        <span data-bind="text: AddedBy" />
                    </td>
                    <td class="close-button-column"><a data-bind="click: $root.removeTreatment">X</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


<div id="treatmentsModal" class="modal hide fade in" style="display: none;" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hideTreatmentsModal" aria-hidden="true">×</button>
        <div class="row-fluid">
            <h3>@RapidVet.Resources.Treatment.TreatmentsPriceList</h3>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <select class="input-medium" data-bind="value: selectedCategoryId, options: categories, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..'"></select>
            </div>
            <div class="span4">
                <input class="input-medium" placeholder="@RapidVet.Resources.Global.Search" data-bind="value: searchQuery, valueUpdate: 'keyup'" />
            </div>
        </div>
    </div>
    <div class="price-list-modal">
        <table class="table table-striped">
            <thead>
                <th>@RapidVet.Resources.Treatment.Type</th>
                <th>@RapidVet.Resources.Treatment.TreatmentSingle</th>
                <th>@RapidVet.Resources.Treatment.Catalog</th>
                <th>@RapidVet.Resources.Treatment.Barcode</th>
                <th>@RapidVet.Resources.Treatment.Amount</th>
                <th></th>
            </thead>
            <tbody data-bind="foreach: treatmentsOptions">
                <tr>
                    <td data-bind="text: ItemType"></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Catalog"></td>
                    <td data-bind="text: Barcode"></td>
                    <td data-bind="text: Price"></td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-bind="click: $root.addTreatment">
                            @RapidVet.Resources.Treatment.Add
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

