﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    Layout = "~/Views/Shared/_PatientsLayout.cshtml";
    var patientId = Url.RequestContext.RouteData.Values["id"];

    var visitId = Request.Params["visitId"] ?? "0";
}
@section scripts
{
    <script>
        var maxInt = @int.MaxValue;
        var maxDecimal = @decimal.MaxValue;
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Patients/CurrentVisit.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           // console.log("1");
            //  changes mouse cursor when highlighting loawer right of box
            $(document).on('mousemove', 'textarea', function(e) {
                var a = $(this).offset().top + $(this).outerHeight() - 16,	//	top border of bottom-right-corner-box area
                    b = $(this).offset().left + $(this).outerWidth() - 16;	//	left border of bottom-right-corner-box area
                $(this).css({
                    cursor: e.pageY > a && e.pageX > b ? 'nw-resize' : ''
                });
            })
           
            //  the following simple make the textbox "Auto-Expand" as it is typed in
            .on('keyup', 'textarea', function(e) {
                //  the following will help the text expand as typing takes place
                while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth"))) {
                    $(this).height($(this).height()+1);
                };
            });
        });
    </script>
}

<style>
    /*.btn-primary, .btn-warning {
        width: 150px;
    }*/

        .btn-primary.mini {
            width: 10px;
        }

    .validationMessage {
        color: red !important;
    }

    .simpleColorContainer {
        right: -10px;
    }
</style>

@section clientDetailsBar
{
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)
}

@section patientDetailsBar
{
    @Html.Action("GetPatientDetailsBar", "Base", new { id = patientId })
}

<div class="form-inline">

    <input type="hidden" name="patientId" id="patientId" value="@patientId" />
    <input type="hidden" name="visitId" id="visitId" value="@visitId" />
    <input type="hidden" value="@ViewBag.ClientId" id="clientId" />
    <input type="hidden" value="@ViewBag.PatientId" id="patientId" />
    <input type="hidden" value="@ViewBag.VisitId" id="visitId" />
    <input type="hidden" value="@CurrentUser.IsClinicGroupManager" id="IsClinicGroupManager" />
    <div id="visitDiv">

        @Html.Partial("_GeneralData", Model)

        @*<div class="row control-group">
                <div class="span12">
                    <label>
                        <span>@RapidVet.Resources.Controllers.Views.PatientIndex.MainComplaint</span>
                        <textarea data-bind="value: mainComplaint" rows="1" cols="200"></textarea>
                    </label>
                </div>
            </div>*@

        <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Examinations</h2>
        <a data-bind="click: addBlankExamination" class="btn btn-primary">
            <i class="icon-plus"></i>
            @RapidVet.Resources.Controllers.Views.PatientIndex.AddExamination
        </a>
        <a data-bind="click: showExaminationsModal" class="btn btn-primary">
            <i class="icon-th-list"></i>
            @RapidVet.Resources.Visit.AddExaminationFromPriceList
        </a>
        <br />
        <br />
        <div>
            <div class="row control-group">
                @Html.Partial("_Examinations")
            </div>
        </div>


        <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Diagnoses</h2>
        <a data-bind="click: addBlankDiagnosis" class="btn btn-primary">
            <i class="icon-plus"></i>
            @RapidVet.Resources.Controllers.Views.PatientIndex.AddDiagnosis
        </a>
        <a data-bind="click: showDiagnosesModal" class="btn btn-primary">
            <i class="icon-th-list"></i>
            @RapidVet.Resources.Visit.AddDiagnosisFromList
        </a>
        <br />
        <br />
        <div class="row control-group">
            @Html.Partial("_Diagnoses")
        </div>

        <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Treatments</h2>
        <a data-bind="click: addBlankTreatment" class="btn btn-primary">
            <i class="icon-plus"></i>
            @RapidVet.Resources.Controllers.Views.PatientIndex.AddTreatment
        </a>
        <a data-bind="click: showTreatmentsModal" class="btn btn-primary">
            <i class="icon-th-list"></i>
            @RapidVet.Resources.Visit.AddTreatmentFromPriceList
        </a>
        <br />
        <br />
        <div class="row control-group">
            @Html.Partial("_Treatments")
        </div>


        <h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Medications</h2>
        <a data-bind="click: showMedicationsModal" class="btn btn-primary">
            <i class="icon-th-list"></i>
            @RapidVet.Resources.Controllers.Views.PatientIndex.AddMedication
        </a>
        <a data-bind="click: showDangerousDrugsModel" class="btn btn-warning">
            <i class="icon-warning-sign"></i>
            &nbsp; @RapidVet.Resources.DangerousDrugs.Title
        </a>
        <input type="checkbox" data-bind="checked: printPrescriptionValidityComment" class="styled" />
        @RapidVet.Resources.Visit.ShowPrescriptionValidity
        <br />
        <br />
        <div class="row control-group">
            @Html.Partial("_Medications")
            @Html.Partial("_DangerousDrugs")
        </div>
    </div>
   
        <div>
            <h2> @RapidVet.Resources.Global.Comment</h2>
        </div>
        <div>
            <textarea style="width: 55%; background-color: #e6e6e6; border: ridge 1px #a8a8a8; height: 55px; margin-bottom: 10px;" data-bind="value: visitNote"></textarea>
        </div>
   
    <div data-bind="visible: active()">
        <input type="checkbox" data-bind="checked: closeVisit" class="styled" />
        @RapidVet.Resources.Visit.CloseVisit
    </div>
    <br />
    <br />
    <div>
        <a id="back" class="btn btn-inverse" href="@Url.Action("Patients", "Clients", new { id = Model.Id })">@RapidVet.Resources.Visit.CancelWithoutSaving</a>
        <a class="btn btn-primary" data-bind="click: saveVisit, visible: active()">
            <i class="icon-file"></i>
            @RapidVet.Resources.Global.Save
        </a>
        <a class="btn btn-primary" data-bind="click: saveAndPrint, visible: active()">
            <i class="icon-print"></i>
            @RapidVet.Resources.Visit.SaveAndPrintVisit
        </a>
        <a data-bind="click: saveAndPrintSubscription, visible: active()" class="btn btn-primary">
            <i class="icon-list-alt"></i>
            @RapidVet.Resources.Visit.SaveAndPrintPrescription
        </a>
    </div>
    <span class="validationMessage" id="validateSummary" style="display: none">@RapidVet.Resources.Controllers.Views.PatientIndex.CannotSave</span>
</div>
