﻿@model RapidVet.Model.Visits.Visit
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}


<h2>ביקור רופא</h2>

<table>
    <tr>
        <td><span style="font-weight: bold;">שם חיה</span></td>
        <td>
            @Model.Patient.Name
        </td>
        <td>סוג</td>
        <td>@Model.Patient.AnimalRace.AnimalKind.Value</td>
        <td>
            <span style="font-weight: bold;">@RapidVet.Resources.Client.LocalId</span>
        </td>
        <td>
            @Model.Patient.LocalId
        </td>
    </tr>
</table>
<br />
<div class="row control-group">
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Weight: </span>
            @Model.Weight
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Temperature: </span>
            @Model.Temp
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Pulse: </span>
            @Model.Pulse
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.BPM: </span>
            @Model.BPM
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.BCS: </span>
            @Model.BCS
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Mucosa: </span>
            @Model.Mucosa
        </label>
    </div>
</div>

<div class="row control-group">

    <div class="span5">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.TreatingDoctor: </span>
            @Model.Doctor.Name
        </label>
    </div>

    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Date: </span>
            @Model.VisitDate.ToShortDateString()
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Time: </span>
            @Model.VisitDate.ToShortTimeString()
        </label>
    </div>
    <div class="span2">
        <label>
            <span>@RapidVet.Resources.Controllers.Views.PatientIndex.Price: </span>
            @Model.Price
        </label>
    </div>
</div>

<h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Examinations: </h2>
<div>
    <div class="row-fluid">
        <table>
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Category</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Examination</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.UnitPrice</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Quantity</th>
                    <th>@RapidVet.Resources.Examinations.DiscountPercent</th>
                    <th>@RapidVet.Resources.Examinations.Discount</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var examination in Model.Examinations)
                {
                    <tr>
                        <td>
                        @examination.CategoryName</td>
                        <td>
                            @examination.Name
                        </td>
                        <td>
                            @examination.UnitPrice
                        </td>
                        <td>
                            @examination.Quantity
                        </td>
                        <td>
                            @examination.DiscountPercent
                        </td>
                        <td>
                            @examination.Discount
                        </td>
                        <td>
                            @examination.Price
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Diagnoses</h2>
<div>
    <div class="row-fluid">
        <table>
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Category</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Diagnosis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var diagnosis in Model.Diagnoses)
                {
                    <tr>
                        <td>
                            @diagnosis.CategoryName
                        </td>
                        <td>
                            @diagnosis.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Treatments</h2>
<div>
    <div class="row-fluid">
        <table>
            <thead>
                <tr>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Category</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Treatment</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.UnitPrice</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Quantity</th>
                    <th>@RapidVet.Resources.Examinations.DiscountPercent</th>
                    <th>@RapidVet.Resources.Examinations.Discount</th>
                    <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var treatment in Model.Treatments)
                {
                    <tr>
                        <td>
                        @treatment.CategoryName</td>
                        <td>
                            @treatment.Name
                        </td>
                        <td>
                        @treatment.UnitPrice</td>
                        <td>
                        @treatment.Quantity</td>
                        <td>
                            @treatment.DiscountPercent
                        </td>
                        <td>
                            @treatment.Discount
                        </td>
                        <td>
                            @( ((treatment.UnitPrice * treatment.Quantity) - treatment.UnitPrice * treatment.Quantity * (treatment.DiscountPercent / 100) - treatment.Discount).ToString("#.##"))
                            @*@(treatment.UnitPrice*treatment.Quantity - treatment.Discount)*@
                        </td>
                    </tr>
                }
                @foreach (var preventive in Model.PreventiveMedicineItems)
                {
                    <tr>
                        <td>
                        @preventive.PriceListItem.Category.Name</td>
                        <td>
                            @preventive.PriceListItem.Name
                        </td>
                        <td>
                            @preventive.Price
                        <td>
                        @preventive.Quantity</td>
                        <td>
                            @preventive.DiscountPercent
                        </td>
                        <td>
                            @preventive.Discount
                        </td>
                        <td>
                            @( (preventive.Price * preventive.Quantity) - preventive.Price * preventive.Quantity * (preventive.DiscountPercent / 100) - preventive.Discount)
                             @*@(preventive.Price*preventive.Quantity - preventive.Discount)*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


<h2>@RapidVet.Resources.Controllers.Views.PatientIndex.Medications</h2>
<table>
    <thead>
        <tr>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.MedicationName</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Administration</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Dosage</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Repetes</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Interval</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.TotalAmount</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndexMedication.Instructions</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndex.UnitPrice</th>
            <th>@RapidVet.Resources.Examinations.DiscountPercent</th>
            <th>@RapidVet.Resources.Examinations.Discount</th>
            <th>@RapidVet.Resources.Controllers.Views.PatientIndex.Total</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var medication in Model.Medications)
        {
            <tr>
                <td>
                @medication.Name</td>
                <td>
                    @medication.Medication.MedicationAdministrationType.ToString()
                </td>
                <td>
                    @medication.Dosage
                </td>
                <td>
                    @medication.TimesPerDay
                </td>
                <td>
                    @medication.NumberOfDays
                </td>
                <td>
                    @medication.OverallAmount
                </td>
                <td>
                    @medication.Instructions
                </td>
                <td>
                    @medication.UnitPrice
                </td>
                <td>
                    @medication.DiscountPercent
                </td>
                <td>
                    @medication.Discount
                </td>
                <td>
                    @medication.Total
                </td>
            </tr>
        }
    </tbody>
</table>


