﻿@using RapidVet.Enums;
@model RapidVet.WebModels.Visits.PrescriptionModel
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";
}

<img src="/ClinicGroups/LogoImage" style="max-width: 100%; float: left;max-height: 150px;max-width: 150px;">

<div class="row">
    <div class="span4">
        <h3>@Html.DisplayFor(m => m.ClinicName)</h3>
        <span>@Html.DisplayFor(m => m.ClinicAddress)</span>
        <br />
        <span>טל': </span><span>@Html.DisplayFor(m => m.ClinicPhone)</span>
        <br />
        <span>פקס: </span><span>@Html.DisplayFor(m => m.ClinicFax)</span>
        <br />
        <span>@Html.DisplayFor(m => m.ClinicEmail)</span>
    </div>
    <div class="span4">&nbsp;</div>
    
</div>




<div class="row">
    <div style="display: block; position: relative; float: left; margin-left: 35px;"><b>תאריך: @DateTime.Now.ToShortDateString() </b></div>
    @if (Model.PrintComments)
    {
        <div class="row">
            <div class="span2">&nbsp;</div>
            <div class="span8" style="position:relative; margin:auto; text-decoration: underline;display:block; 
                                      text-align: center; font-size: 18px;font-weight:bold;">
                מרשם זה בתוקף ל-10 ימים בלבד
            </div>
            <div class="span2">&nbsp;</div>
        </div>
    }
   <br />
    <div class="span4">
        <span>שם הרופא המנפק:</span>
        <span>@Html.DisplayFor(m => m.DoctorName)</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>מס' רשיון:</span>
        <span>@Html.DisplayFor(m => m.DoctorLicenseNumber)</span>
    </div>
    <div class="span4">&nbsp;</div>

</div>
<div class="row">
    <div class="span4">
        
            <span>שם הבעלים: </span><span>@Html.DisplayFor(m => m.ClientName)</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>ת.ז: </span> <span>@Html.DisplayFor(m => m.ClientIdCard)</span>
        
        <br />
            <span>כתובת: </span><span>@Html.DisplayFor(m => m.ClientAddress)</span>
       <br />
            <span>שם בעל החיים: </span><span>@Html.DisplayFor(m => m.PatientName)</span>
    </div>
</div>


<div style="position: relative; display: block; float: left; direction: ltr; margin-left: 35px;">Rp.</div>
<br />
<br />
<br />
<table class="table table-bordered" style="width: 100%; margin: auto; vertical-align: middle;">

    <thead>
        <tr>
            <th style="width: 250px;">שם התרופה</th>
            <th style="text-align: center;width: 60px;">תצורה</th>
            <th style="text-align: center;width: 40px;">מנה</th>
            <th style="text-align: center;width: 60px;">מס' פעמים ביום</th>
            <th style="width: 90px;">משך זמן לקיחה בימים</th>
            <th style="text-align: center;width: 50px;">סך-הכל כמות</th>
            <th style="width: 150px;">הוראות שימוש</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.VisitMedications.Any())
        {
            foreach (var vm in Model.VisitMedications)
            {
            <tr>
                <td>@Html.DisplayFor(modelVm => vm.Name)</td>
                <td style="text-align: center;">@(((MedicationAdministrationType)vm.MedicationAdministrationTypeId).ToString())</td>
                <td style="text-align: center;">@Html.DisplayFor(modelVm => vm.Dosage)</td>
                <td style="text-align: center;">@Html.DisplayFor(modelVm => vm.TimesPerDay)</td>
                <td style="text-align: center;">@Html.DisplayFor(modelVm => vm.NumberOfDays)</td>
                <td style="text-align: center;">@Html.DisplayFor(modelVm => vm.OverallAmount)</td>
                <td>@Html.DisplayFor(modelVm => vm.Insturctions)</td>
            </tr>
            }
        }
    </tbody>
</table>

<br />
<div class="row">
    הערה: במקרה של הופעת פריחה, גירוד או כל תופעת לוואי אחרת, יש להפסיק את נטילת התרופה וליצור קשר עם הרופא המטפל
</div>


<div class="row">
    <div class="span4">
        &nbsp;
    </div>
    <div class="span4">&nbsp;</div>
    <div class="span4">
        <span>_______________</span>
        <br />
        @Html.DisplayFor(m => m.DoctorName)

    </div>
</div>
