﻿@model RapidVet.Model.PatientFollowUp.FollowUp
@{
    int defaultDr = CurrentUser.DefaultDrId.HasValue ? CurrentUser.DefaultDrId.Value : 0;
}
@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li><@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">מעקבים</li>
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/FollowUps/Create.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style type="text/css">
    .validationMessage{
        color: red !important;
        float: none !important;
    }
</style>

@*@using (Html.BeginForm("Create", "FollowUps", FormMethod.Post, new { @class = "form-inline", data_bind="submit: isValid" }))
{*@
    @*<input type="hidden" name="patient_id" data-bind="value: patientId" />*@
    @*<input type="hidden" name="userId" data-bind="value: doctorId" />*@
<div class="form-inline">
    <input type="hidden" id="defaultDr" name="defaultDr" value="@defaultDr" />

    <div class="row control-group">
        <div class="span2">
            <label style="height: 24px;">לקוח</label>
        </div>
        <div style="display:inline-block;">
            <label style="width: 220px; margin-right:18px;">
                <input type="text" class="client-search search-query" style="border:1px solid gray; width: 190px;padding-top: 3px;margin-bottom: 0px;" placeholder="@RapidVet.Resources.Global.Search" />
            </label>
            <label class="no-results" style="display:inline;right: 15px; position: relative;"> לא נמצאו תוצאות</label>
        </div>
        @*<div class="span10">
            <label>
                <select data-bind="value: clientId, options: clients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>*@
    </div>

    <div class="row control-group">
        <div class="span2">
            <label style="height: 24px;">חיה</label>
        </div>
        <div class="span10">
            <label>
                <select data-bind="value: patientId, options: patients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label style="height: 24px;">תאריך</label>
        </div>
        <div class="span10">
            <label style="width:233px;">
                @Html.TextBox("DateTime", Model.DateTime.ToShortDateString(), new {  @readonly = "readonly", data_bind = "datepicker: date" })
            </label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label style="height: 40px;">הערה</label>
        </div>
        <div class="span10">
            <label>
                @Html.TextAreaFor(m => m.Comment, new { data_bind = "value: comments" })
            </label>
        </div>
    </div>

    <div class="row control-group">
        <div class="span2">
            <label style="height: 24px;">רופא</label>
        </div>
        <div class="span10">
            <label>
                <select data-bind="value: doctorId, options: doctors, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
            </label>
        </div>
    </div>

    <div class="control-group" style="text-align:left;">
        <button type="submit" class="btn btn-primary" data-bind="click: submitForm" style=" width: 150px;">
            @*<i class="icon-ok"></i>*@<img src="/Content/img/RapidVet/ok-v.png">
        </button>
    </div>

    @*@Muze.OkButton()*@
    @* } *@

</div>