﻿@section breadcrumb
{
    <li>
        <a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>
        @CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">מעקבים</li>
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/FollowUps/Index.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<style>
    .viewBtn {
        width: 85px;
    }

    .barBtn {
        width: 110px;
    }
</style>

<input type="hidden" name="from" id="from" value="@ViewBag.From" />
<input type="hidden" name="to" id="to" value="@ViewBag.To" />

<h2>מעקבים</h2>
<br />
<div class="form-inline well">
    <div class="row-fluid ">
        <div class="span1">
            <label>רופא:</label>
        </div>
        <div class="span2">
            <label>
                <select id="users">
                    @if (ViewBag.Doctors != null)
                    {
                        foreach (var doc in ViewBag.Doctors)
                        {
                            <option value="@doc.Id">@doc.Name</option>
                        }
                    }
                </select>
            </label>
        </div>
        <div class="span1">
            <label>מתאריך</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="datepicker: from" readonly autocomplete="OFF" />
            </label>
        </div>
        <div class="span1">
            <label>
                עד תאריך
            </label>

        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="datepicker: to" readonly autocomplete="OFF" />
            </label>
        </div>
        <div class="span2">
            <a class="btn btn-primary" data-bind="click: getData">
                <i class="icon-search"></i>
                חפש
            </a>
        </div>
    </div>
    <div class="row ">
        <div class="span12">
            <input type="checkbox" data-bind="checked: IncludeInactivePatients" />
            כלול בעלי חיים לא פעילים
        </div>
    </div>
</div>
<br />
<a href="@Url.Action("Create", "FollowUps")" class="btn btn-primary barBtn">
    <i class="icon-plus"></i>
    יצירת מעקב חדש
</a>
<a class="btn btn-primary barBtn" data-bind="click: showRenewAllModal">
    <i class="icon-calendar"></i>
    חידוש מעקבים
</a>
@if (ViewBag.Email)
{
    <a class="btn btn-primary barBtn" data-bind="click: emailAll">
        <i class="icon-tag"></i>
        שלח דוא"ל
    </a>
}
else
{
    <button class="btn btn-primary disabled barBtn">
        <i class="icon-tag"></i>
        שלח דוא"ל
    </button>
}
@if (ViewBag.Sms)
{
    <a class="btn btn-primary barBtn" data-bind="click: smsAll">
        <i class="icon-envelope"></i>
        שלח SMS
    </a>
}
else
{
    <button class="btn btn-primary disabled barBtn">
        <i class="icon-envelope"></i>
        שלח SMS
    </button>
}
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>תאריך מעקב</th>
            <th>שם הלקוח</th>
            <th>שם החיה</th>
            <th>סוג</th>
            <th>מין</th>
            <th>כתובת</th>
            <th>טלפון בבית</th>
            <th>טלפון סלולארי</th>
            <th>רופאים</th>
            <th>הערה</th>
            <th>מועד התור הבא</th>
            <th style="width: 219px;"></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: clients">
        <tr>
            <td>
                <input type="checkbox" data-bind="checked: Selected" />
            </td>
            <td data-bind="text: DateTime"></td>
            <td><a data-bind="text: ClientName, attr: { href: clientUrl }" target="_blank"></a></td>
            <td data-bind="text: PatientName"></td>
            <td data-bind="text: PatientKind"></td>
            <td data-bind="text: PatientGender"></td>
            <td data-bind="text: Address"></td>
            <td data-bind="text: HomePhone"></td>
            <td data-bind="text: CellPhone"></td>
            <td data-bind="text: Doctors"></td>
            <td data-bind="text: Comment"></td>
            <td data-bind="text: NextAppointment"></td>
            <td>
                @if (ViewBag.Email)
                {
                    <a class="btn btn-primary viewBtn" data-bind="click: $parent.emailSingle">
                        <i class="icon-tag"></i>
                        דוא"ל
                    </a>
                }
                else
                {
                    <a class="btn btn-primary viewBtn disabled">
                        <i class="icon-tag"></i>
                        דוא"ל
                    </a>
                }

                @if (ViewBag.Sms)
                {
                    <a class="btn btn-primary viewBtn" data-bind="click: $parent.smsSingle">
                        <i class=" icon-envelope"></i>
                        SMS
                    </a>
                }
                else
                {
                    <a class="btn btn-primary viewBtn disabled">
                        <i class=" icon-envelope"></i>
                        SMS
                    </a>
                }

                @if (ViewBag.Letter)
                {
                    <a class="btn btn-primary viewBtn" data-bind="click: $parent.showPersonalLetterModal">
                        <i class="icon-print"></i>
                        מכתב אישי
                    </a>
                }
                else
                {
                    <button class="btn btn-primary disabled">
                        <i class="icon-print"></i>
                        מכתב אישי
                    </button>
                }

                <a class="btn btn-primary viewBtn" data-bind="click: $parent.showRenewSingle">
                    <i class="icon-calendar"></i>
                    חידוש מעקב
                </a>
                <a class="btn btn-primary viewBtn" data-bind="click: $parent.showEditModal">
                    <i class="icon-edit"></i>
                    עריכה
                </a>
                <a class="btn btn-primary viewBtn" data-bind="click: $parent.showDeleteModal">
                    <i class="icon-trash"></i>
                    מחיקה
                </a>
            </td>
        </tr>
    </tbody>
</table>

@*---- renew all followUps ----*@
<div id="renewAllModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>חידוש מעקבים גורף</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <div class="row-fluid ">
                <div class="span7">
                    <label>סף מינימום בימים מתאריך המעקב ללא קביעת תור</label>
                </div>
                <div class="span4">
                    <label>
                        <input type="number" data-bind="value: minDaysFromFollowUpWithoutAppointment" />
                    </label>
                </div>
            </div>
            <div class="row-fluid ">
                <div class="span7">
                    <label>מספר חודשים לקביעת התזכורת הבאה</label>
                </div>
                <div class="span4">
                    <label>
                        <input type="number" data-bind="value: remindersAddMonths" />
                    </label>
                </div>
            </div>
            <div class="row-fluid ">
                <div class="span5"></div>
                <div class="span6"></div>
            </div>
        </div>

        <button class="btn btn-primary" data-bind="click: renewAll">
            <i class="icon-ok"></i>
            אישור
        </button>
        <button class="btn btn-inverse" onclick="$('#renewAllModal').modal('hide');">
            <i class="icon-trash"></i>
            ביטול
        </button>
    </div>
</div>
@*---- renew all end------*@

@*----- renew single followUp------*@
<div id="renewSingleModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>חידוש מעקב</h3>
    </div>
    <div class="modal-body" data-bind="with: renewSingleElement">
        <div class="form-inline">
            <div class="row-fluid ">
                <div class="span3">
                    <label>תאריך</label>
                </div>
                <div class="span8">
                    <label>
                        <input type="text" id="renewSingleDate" data-bind="value: NextAppointment" />
                    </label>
                </div>
            </div>
            <button class="btn btn-primary" data-bind="click: $parent.renewSingle">
                <i class="icon-ok"></i>
                אישור
            </button>
            <button class="btn btn-inverse" onclick="$('#renewSingleModal').modal('hide');">
                <i class="icon-trash"></i>
                ביטול
            </button>
        </div>
    </div>
</div>
@*----renew single modal end*@


@*----edit followUp modal------*@
<div id="editModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>עריכת מעקב</h3>
    </div>
    <div class="modal-body" data-bind="with: followUpToEdit">
        <div class="form-inline">
            <div class="row-fluid ">
                <div class="span2">
                    <label>תאריך</label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" id="editDate" data-bind="value: DateTime" />
                    </label>
                </div>
            </div>
            <div class="row-fluid ">
                <div class="span2">
                    <label>הערות</label>
                </div>
                <div class="span9">
                    <label>
                        <textarea data-bind="value: Comment"></textarea>
                    </label>
                </div>
            </div>
            <div class="row-fluid ">
                <div class="span2">
                    <label>רופא</label>
                </div>
                <div class="span9">
                    <label>
                        <select required data-bind="value: DoctorId, options: $parent.doctors, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" data-bind="click: $parent.saveFollowUp">
            <i class="icon-ok"></i>
            שמירה
        </button>
    </div>
</div>
@*---edit modal end --------*@

@*----delete followUp modal---------*@
<div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>מחיקת מעקב</h3>
    </div>
    <div class="modal-body">
        <h3>
            פעולה זו אינה ניתנת לביטול
        </h3>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span6">
                <button data-bind="click: deleteFollowUp" class="btn btn-danger">@RapidVet.Resources.Global.Delete</button>
            </div>
            <div class="span6">
                <button class="btn btn-primary" onclick="$('#deleteModal').modal('hide');">@RapidVet.Resources.Global.Cancel</button>
            </div>
        </div>

    </div>
</div>

<div class="modal hide fade" id="personalLetterModal">
    <div class="modal-header">
        <button type="button" class="close" data-bind="click: hidePersonalLetterModal" aria-hidden="true">&times;</button>
        <h3>@RapidVet.Resources.LetterTemplate.SelectPersonalLetter</h3>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <input type="hidden" data-bind="value: followUpId" />
            <div data-bind="visible: personalTemplateError" class="row" style="color:red;">
                <div class="span2">
                    @RapidVet.Resources.LetterTemplate.SelectTemplateError
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    <label>@RapidVet.Resources.LetterTemplate.TemplateName:</label>
                </div>
                <div class="span3">
                    <label>
                        <select required data-bind="options: personalLetters, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'בחר..', value: selectedLetterId"></select>
                    </label>
                </div>
                <br />
                <br />
                <div data-bind="visible:selectedLetterId()>0" style="height:100px;width:100%;overflow:auto;border: 1px gray solid">
                    <label data-bind="html: selectedLetterContent"></label>
                </div>
            </div>
        </div>
        <br />
        <div class="controls" style="text-align: center;">
            <button data-bind="click: sendPersonalLetter" class="btn ok btn-primary">
                <img src="/Content/img/RapidVet/ok-v.png">
            </button>
        </div>
    </div>
</div>


