﻿@{
    if (ViewBag.Print)
    {
        Layout = "~/Views/Shared/_PrintingLayout.cshtml";
    }
}


@if (!ViewBag.Print)
{

    <a class="btn btn-primary btn-large" href="@ViewBag.PrintUrl">
        <i class="icon-print"></i>
        הדפס
    </a>
    <a class="btn btn-inverse btn-large" onclick="window.close();">
        <i class="icon-remove"></i>
        ביטול
    </a>
}

<div>
    @Html.Raw(ViewBag.Letter)
</div>
