﻿@model RapidVet.WebModels.PatientFollowUps.FollowUpSettingsModel
@{
    Layout = "~/Views/Shared/_ClinicSettingsLayout.cshtml";
}

<h2>הגדרות מעקבים</h2>
<br />
<br />
@using (Html.BeginForm("Settings", "FollowUps", FormMethod.Post, new { @class = "form-inline" }))
{
    <h3>חתך ברירת מחדל</h3>
    <div class="control-group row-fluid">

        <div class="span2">
            <label>סוג </label>
        </div>
        <div class="span9">
            <label>
                @Html.EditorFor(m => m.FollowUpTimeRangeId)
            </label>
        </div>
    </div>
    
    <div class="row-fluid control-group">
        <div class="span2">
            <label>כמות אחורה</label>
        </div>
        <div class="span3">
            <label>@Html.EditorFor(m => m.FollowUpPast)</label>
        </div>
        <div class="span2">
            <label>כמות קדימה</label>
        </div>
        <div class="span3">
            <label>@Html.EditorFor(m => m.FollowUpFuture)</label>
        </div>
    </div>
    
    <h3>ברירת מחדל למעקב</h3>
    <div class="row-fluid control-group">
        <div class="span2">
            <label>סוג</label>
        </div>
        <div class="span9">
            <label>
                @Html.EditorFor(m => m.DefaultFollowUpTypeId)
            </label>
        </div>
    </div>
    
    <div class="row-fluid control-group">
        <div class="span2">
            <label>כמות קדימה</label>
        </div>
        <div class="span9">
            <label>@Html.EditorFor(m => m.DefaultFollowUpTime)</label>
        </div>
    </div>

    
    <div class="row control-group">
        <div class="span4">
            &nbsp;
        </div>
        <div class="span7">
            @Html.EditorFor(m => m.AutomaticallySetFollowUpsAfterVisit)
            צור מעקב אוטומטית לאחר ביקור
        </div>
    </div>
    
    <div class="row control-group">
        <div class="span4">
            &nbsp;
        </div>
        <div class="span7">
            @Html.EditorFor(m => m.ShowFollowUpsInPatientHistory)
            הצג מעקבים בהסטוריית חיה
        </div>
    </div>
    
    @Muze.OkButton()

}