﻿@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Tools/ClinicTasks.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    <script type="text/javascript">
        var viewModel;
        ko.bindingHandlers.datepicker = {
            init: function(element, valueAccessor, allBindingsAccessor) {
                //initialize datepicker with some optional options              
                $(element).datepicker({
                    changeYear: true,
                    changeMonth: true
                });

                //handle the field changing
                ko.utils.registerEventHandler(element, "change", function() {
                    var observable = valueAccessor();
                    observable($(element).val()); //.datepicker("getDate"));
                });

            },
            update: function(element, valueAccessor) {
                var value = ko.utils.unwrapObservable(valueAccessor());

                //handle date data coming via json from Microsoft
                if (String(value).indexOf('/Date(') == 0) {
                    value = new Date(parseInt(value.replace(/\/Date\((.*?)\)\//gi, "$1")));
                }

                var current = $(element).val(); //.datepicker("getDate");

                if (value - current !== 0) {
                    $(element).val(value); //.datepicker("setDate", value);
                }
            }
        };

        $(function () {         
                     
          

            viewModel = new viewModel();
            ko.applyBindings(viewModel);       
        });
    </script>
}

<style>
    .smbtn {
        width: 38px;
    }
</style>

<h2>@RapidVet.Resources.ClinicTasks.Title</h2>

<div class="form-inline">
    <div class="row control-group">
        <span class="span5">
            <label>
                @RapidVet.Resources.ClinicTasks.FilterBy
            <select data-bind="options: taskFilterOptions, optionsValue: 'Value',optionsText:'Text',value: statusFilter"></select>
            </label>
        </span>
    </div>
</div>

<div class="form-inline">
    <div class="row ">
        <button class="btn btn-primary" data-bind="click: addTask">
            <i class="icon-plus"></i>
            @RapidVet.Resources.ClinicTasks.Add
        </button>
        <button class="btn btn-primary" data-bind="click: print">
            <i class="icon-print"></i>
            @RapidVet.Resources.ClinicTasks.Print
        </button>
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <th>@RapidVet.Resources.ClinicTasks.Name</th>
                <th>@RapidVet.Resources.ClinicTasks.Description</th>
                <th>@RapidVet.Resources.ClinicTasks.StartDate</th>
                <th>@RapidVet.Resources.ClinicTasks.EndDate</th>
                <th>@RapidVet.Resources.ClinicTasks.Status</th>
                <th>@RapidVet.Resources.ClinicTasks.AssignedEmployee</th>
                <th>@RapidVet.Resources.ClinicTasks.Urgency</th>
                <th></th>
            </thead>
            <tbody data-bind="foreach: shownTasks">
                <tr>
                    <td>
                        <label>
                            <input type="text" class="input-medium" data-bind="value: Name" />
                        </label>
                    </td>
                    <td>
                        <label>
                            <textarea rows="4" class="input-xlarge" data-bind="value: Description"></textarea></label>
                    </td>
                    <td>
                        <label>
                            <input type="text" class="input-mini" data-bind="    datepicker: StartDate" /></label>
                    </td>
                    <td>
                        <label>
                            <input type="text" class="input-mini" data-bind="datepicker: TargetDate" /></label>
                    </td>
                    <td>
                        <label>
                            <select class="input-small" data-bind="options: $parent.taskStatusOptions,  optionsText: 'Text', optionsValue: 'Value', value: Status"></select>
                        </label>
                    </td>
                    <td>
                        <label>
                            <select class="input-small" data-bind="options: $parent.userOptions, optionsText: 'Text', optionsValue: 'Value', value: DesignatedUserId"></select>
                        </label>
                    </td>
                    <td>
                    @*    <label>
                            <input type="text" class="input-small" data-bind="value: Urgency" />
                        </label>*@
                        
                           <label>
                            <select class="input-small" data-bind="options: $parent.urgencyOptions, optionsText: 'Text', optionsValue: 'Value', value: UrgencyId"></select>
                        </label>
                    </td>

                    <td>
                        <button class="btn btn-primary btn-small smbtn" data-bind="click: save, visible: Id() > 0" style="display: none;"><i class="icon-ok"></i></button>
                        <button class="btn btn-primary btn-small smbtn" data-bind="click: create, visible: Id() == 0"><i class="icon-ok"></i></button>
                        <button class="btn btn-danger btn-small smbtn" data-bind="click: remove"><i class="icon-remove"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
