﻿@model System.Collections.Generic.List<RapidVet.Model.ClinicTask>
@{
    Layout = "~/Views/Shared/_PrintingLayout.cshtml";


    var rm = RapidVet.Resources.Enums.ClinicTaskStatus.ResourceManager;
}


<h2>משימות</h2>


        <table >
            <thead>
                <th>שם</th>
                <th>תיאור</th>
                <th>תאריך התחלה</th>
                <th>תאריך יעד</th>
                <th>סטטוס</th>
                <th>עובד מוקצה</th>
                <th>דחיפות</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <label>
                                 @item.Name
                            </label>
                        </td>
                        <td>
                            <label>
                             @item.Description</label>
                        </td>
                        <td>
                            <label>
                                @{
                    var startDate = item.StartDate.HasValue ? item.StartDate.Value.ToString("dd/MM/yyyy") : "";
                                    @startDate
                                }
                            </label>
                        </td>
                        <td>
                            <label>
                                @{
                                    var targetDate = item.TargetDate.HasValue ? item.TargetDate.Value.ToString("dd/MM/yyyy") : "";
                            @targetDate
                                }
                            </label>
                        </td>
                        <td>
                            <label>
                                @rm.GetString(item.Status.ToString())
                            </label>
                        </td>
                        <td>
                            <label>
                                @item.DesignatedUser.Name
                            </label>
                        </td>
                        <td>
                            <label>
                               @RapidVet.Resources.Enums.ClinicTasksUrgency.ResourceManager.GetString(item.Urgency.ToString())
                            </label>
                        </td>
               
                    </tr>
                }
            </tbody>
        </table>
