﻿@model RapidVet.WebModels.Clients.Details.AddressModel
@using RapidVet.Web.Infra
<style>
    .ui-autocomplete.ui-front {
        z-index: 9999;
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .zip{
        width: 50px !important;
    }
</style>

<div class="control-group row-fluid address" style="position: relative;">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="span4" style="margin-right: 0;">
        <label>
            <span>@RapidVet.Resources.Details.City</span>
            @Html.TextBoxFor(m => m.CityName, new { data_autocomplete_url = Url.Action("Autocomplete") })
        </label>
    </div>
    <div class="span4">
        <label>
            <span>@RapidVet.Resources.Details.Street</span> @Html.EditorFor(model => model.Street)
        </label>
    </div>
    <div class="span3">
        <label style="height: 20px;">
            <span>@RapidVet.Resources.Details.ZipCode</span> @Html.TextBoxFor(model => model.ZipCode, new { @class = "zip" })
            <button class="btn btn-primary btn-small" onclick="return FindZipCode(this);" style="float: left; position: absolute; padding: 5px; left: 15px;">@RapidVet.Resources.Details.FindZipCode</button>
            <a href="#" class="close-btn" onclick="RemoveElement(this,'address');">X</a>
        </label>
    </div>
    
</div>



