﻿@model RapidVet.WebModels.Clients.ClientDetailsModel

<table class="table table-bordered table-condensed">
    <tr>
        <td><span style="font-weight: bold;">@RapidVet.Resources.Global.Name: </span>@Html.DisplayFor(m => m.Name)</td>
        <td><span style="font-weight: bold;">@RapidVet.Resources.Client.LocalId: </span>@Html.DisplayFor(m => m.LocalId)</td>
        <td><span style="font-weight: bold;">@RapidVet.Resources.Client.ClientStatus: </span>
            @if (Model.StatusId != null)
            {
                @Html.DisplayFor(m => m.Status.Name)
            }
            else
            {
                @RapidVet.Resources.Client.NoStatus
            }

            @*@if (!Model.Active)
            {
                @RapidVet.Resources.Client.InActive
            }*@
        </td>
        <td>
            <span style="font-weight: bold; float: right">יתרה: </span>
            <div style="direction: ltr; text-align: left; float: right">
                <span class="@(Model.Balance >= 0 ? "positiveBalance" : "negativeBalance")">&nbsp;@Html.DisplayFor(m => m.Balance)&nbsp;</span>
            </div>
        </td>
        <td>
            <span style="font-weight: bold; float: right">תור לקוח הבא: </span>
            <div style="direction: ltr; text-align: left; float: right">
                <span>&nbsp;<a id="aNextEntry" style="display:none;" onclick="NavToCalenderEntry('@ViewBag.NextEntryID');">@Html.DisplayFor(m => m.NextClientAppointment)</a>&nbsp;</span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold; float: right">ת.ז: </span>
            <div style="direction: ltr; text-align: left; float: right">               
                <span>&nbsp;@Html.DisplayFor(m => m.IdCard)&nbsp;</span>
            </div>
              
        </td>
        <td><span style="font-weight: bold;">@RapidVet.Resources.Client.Address: 
            </span>@if (Model.Addresses.Any())
            {
                var address = Model.Addresses.OrderBy(a => a.Id).Take(1).Single();
                <span>@(string.Format("{0} {1}", address.Street, address.CityName))</span>
            }
                  </td>
        <td >
            <span style="font-weight: bold; float: right">נייד: &nbsp;</span>
            @if (Model.Phones.Any())
            {
                foreach (var phone in Model.Phones.Where(c=>c.PhoneTypeId == 1).Take(2))
                {
                    <span>@phone.PhoneNumber @phone.Comment</span>
                    <span>&nbsp;|&nbsp;</span><span>&nbsp;&nbsp;</span>
                }
            }
        </td>
        <td>
            <span style="font-weight: bold; float: right">בית: &nbsp;</span>
            @if (Model.Phones.Any())
            {
                foreach (var phone in Model.Phones.Where(c => c.PhoneTypeId == 2).Take(2))
                {
                    <span>@phone.PhoneNumber @phone.Comment</span>
                    <span>&nbsp;|&nbsp;</span><span>&nbsp;&nbsp;</span>
                }
            }
        </td>
        <td>
            <span style="font-weight: bold; float: right">מעקב לקוח הבא: </span>
            <div style="direction: ltr; text-align: left; float: right">
                <span>&nbsp;@Html.DisplayFor(m => m.NextClientWatch)&nbsp;</span>
            </div>
        </td>
    </tr>
    <tr>
       
        <td>
            <a href="@Url.Action("PaymentsHistory", "Clients", new { id = Model.Id })" class="btn btn-primary">
                <i class="icon-folder-open"></i>
                תשלומי לקוח
            </a>
        </td>
        <td>
            <a href="@Url.Action("InvoiceReceipt", "FinanceDocument", new { clientId = Model.Id })" class="btn btn-primary"  style="width: 86px;">
                <i class="icon-shopping-cart"></i>
                לתשלום
            </a>
        </td>
        <td>
            <a href="@Url.Action("Patients", "Clients", new { id = Model.Id })" class="btn btn-primary" style="width: 86px;">
                <i class="icon-user"></i>
                תיק לקוח
            </a>
        </td>
        <td class="dontPrint">@Html.Action("ClientPatientsDropDownList", "Base", new { id = Model.Id })</td>
        <td></td>
    </tr>

</table>

<script type="text/javascript">
    var CookieName = "ClientId";

    $(function () {
        if(getCookie(CookieName))
        {
            delCookie(CookieName);
        }

        setCookieMessage(CookieName, @Model.Id, 0, 0, 5);
    });
    function NavToCalenderEntry(id)
    {
        if (id && id.length > 0)
            window.location.href = "../../Calender/Weekly?EntryId=" + id;
        else
            window.location.href = '/calender/weekly/0';

    }

    if('@ViewBag.NextEntryID' != '' && '@ViewBag.NextEntryID' != '0')
    {
        $('#aNextEntry').show();
    }
    
    if('@ViewBag.NextWatchID' != '' && '@ViewBag.NextWatchID' != '0')
    {
        $('#aNextWatch').show();
    }
</script>