﻿@model IEnumerable<RapidVet.Model.Patients.Patient>
<select onchange="switchPatients(this); switchPatients(this); $('#aNextEntry').hide(); $('#aNextWatch').hide();" style="background-color: #e6e6e6;">
    <option value="-1">בחר חיה</option>
    @foreach (var item in Model)
    {
        if (ViewBag.HideInActive != null && ViewBag.HideInActive == true && !item.Active)
        {
            continue;
        }
        <option value="@Url.Action("Index", "Patients", new { id = item.Id })">@item.Name</option>
    }
</select>