﻿@model RapidVet.WebModels.Clients.Details.EmailModel
<style type="text/css">
.Email{
        width: 500px !important;
    }
</style>


<div class="control-group row-fluid email"  style="position: relative;">
      <input type="hidden" name="Id" value="@Model.Id"/>
    <div > 
        <label>
            <span>@RapidVet.Resources.Details.EmailAddress</span>
            @Html.TextBoxFor(model => model.Name, new { @class = "Email", lang = "en" })
               <a href="#" class="close-btn" onclick="RemoveElement(this,'email');">X</a>
        </label>
    </div>
</div>
