﻿@using RapidVet.WebModels.Clients.Details
@model RapidVet.WebModels.Clients.ClientCreateModel
@{
    var birthDate = string.Empty;
    if (Model.BirthDate > DateTime.MinValue)
    {
        birthDate = Model.BirthDate.Value.ToShortDateString();
    }

    var createdDate = string.Empty;
    if (Model.CreatedDate > DateTime.MinValue)
    {
        createdDate = Model.CreatedDate.Value.ToShortDateString();
    }
    
    //if (Model.Id == 0)
    //{
    //    Model.RegionalCounilId = CurrentUser.ActiveClinic.RegionalCouncilId;
    //}
}

<div class="row-fluid" >
    <div class="span7">
        <div class="row-fluid control-group small-controller-group">
            <div class="span4">
                <label>
                    <span>@RapidVet.Resources.Client.FirstName</span>@Html.EditorFor(model => model.FirstName)
                </label>
            </div>

            <div class="span4">
                <label>
                    <span>@RapidVet.Resources.Client.LastName</span>@Html.EditorFor(model => model.LastName)
                </label>
            </div>
            <div class="span4">
                <label>
                    <span>@RapidVet.Resources.Client.IdCard</span>@Html.EditorFor(model => model.IdCard)
                </label>
            </div>
        </div>
        <a class="client-add-btn" href="#" onclick="AppendAddress();"><i class="icon-plus"></i>@RapidVet.Resources.Client.AddAddress</a>
        <div class="client-item-container" id="addresses">
            @if (Model.Addresses.Any())
            {
                foreach (var address in Model.Addresses)
                {
                @Html.Partial("_Address", address)
                }
            }
            else
            {
                @Html.Partial("_Address", new AddressModel() { }) 
            }
        </div>
        <a href="#" class="client-add-btn" onclick="AppendEmail();"><i class="icon-plus"></i>@RapidVet.Resources.Client.AddEmail</a>
        <div id="emails" class="client-item-container">
            @if (Model.Emails.Any())
            {
                foreach (var email in Model.Emails)
                {
                @Html.Partial("_Email", email)
                }
            }
            else
            {
                @Html.Partial("_Email", new EmailModel() { })
            }
        </div>
        <div class="row-fluid control-group small-controller-group">
            <div class="span6">
                <label>
                    <span>@RapidVet.Resources.Client.WorkePlace</span>
                    @Html.EditorFor(model => model.WorkePlace)
                </label>
            </div>
            <div class="span6">
                <label>
                    <span>@RapidVet.Resources.Client.Practice</span>
                    @Html.EditorFor(model => model.Practice)
                </label>
            </div>
        </div>
        <a href="#" class="client-add-btn" onclick="AppendPhone();"><i class="icon-plus"></i>@RapidVet.Resources.Client.AddPhone</a>
        <div id="phones">
            @if (Model.Phones.Any())
            {
                foreach (var phone in Model.Phones)
                {
                @Html.Partial("_Phone", phone)
                }
            }
            else
            {
                @Html.Partial("_Phone", new PhoneModel() { })
            }
        </div>
        <div class="row-fluid">
            <div class="span4 checkbox-controler">
                @Html.CheckBox("ApproveEmailTranfer", Model.ApproveEmailTranfer, new { @class = "styled" })
                <label>
                    @RapidVet.Resources.Client.ApproveEmailTranfer
                </label>
            </div>
            <div class="span4" style="text-align:left;">
                <label style="color:red;" id="errorMsg"></label>

            </div>
        </div>
        <div class="row checkbox-controler">
            @Html.CheckBox("ApproveDisplayPhone", Model.ApproveEmailTranfer, new { @class = "styled" })
            <label>
                @RapidVet.Resources.Client.ApproveDisplayPhone
            </label>
        </div>
        @*<div class="row-fluid checkbox-controler">
            @Html.CheckBox("Active", Model.Active, new { @class = "styled" })
            <label>
                @RapidVet.Resources.Client.Active
            </label>
        </div>*@

    </div>
    @*<div class="span1">&nbsp;</div>*@
    <div class="span5">
        <div class="row-fluid control-group">
            <div class="span4">
                <label>
                    <span>@RapidVet.Resources.Client.Title</span> @Html.EditorFor(model => model.TitleId)
                </label>
            </div>
            <div class="span5">
                <label>
                    <span>@RapidVet.Resources.Client.BirthDate</span> @Html.TextBox("BirthDate", birthDate, new { /*onblur = "DateToAge();",*/ @class = "date", @readonly="readonly" })
                </label>
            </div>
            <div class="span2 createdDate">
                <label style="margin-bottom: -20px; top: -8px; position: relative">
                    <span style="margin-left: 15px;">@RapidVet.Resources.Client.CreatedDate</span><span> @createdDate</span>
                </label>
            </div>
            @*       <div class="span3">
                <label>
                    <span>@RapidVet.Resources.Client.Age</span> @Html.EditorFor(model => model.Age, new { onblur = "AgeToDate();" })
                </label>
            </div>*@
        </div>
        <div class="row-fluid control-group">
            <div class="span6">
                <label>
                    <span>@RapidVet.Resources.Client.ReferredBy</span>
                    @Html.EditorFor(model => model.ReferredBy)
                </label>
            </div>
            <div class="span6">
                <label>
                    <span>@RapidVet.Resources.Client.ExternalVet</span>
                    @Html.EditorFor(model => model.ExternalVet)
                </label>
            </div>
        </div>
        <div class="row-fluid control-group">
            <div class="span6">
                <label>
                    <span>@RapidVet.Resources.Client.Vet</span>@Html.EditorFor(model => model.VetId)
                </label>
            </div>
            <div class="span6">
                <label><span>@RapidVet.Resources.Tariff.TariffSingle</span>@Html.EditorFor(model => model.TariffId)</label>
            </div>
        </div>
        <div class="row-fluid control-group">
            <label>
                <span>@RapidVet.Resources.Client.ClientStatus</span>
                @Html.EditorFor(model => model.StatusId)
            </label>
        </div>
        @*<div class="row-fluid control-group">
            <label>
                <span>רשות מקומית</span>
                @Html.EditorFor(model => model.RegionalCounilId)
            </label>
        </div>*@
        <div class="row-fluid control-group">
            <ul id="commentNav" class="nav nav-tabs">
                <li class="active"><a href="#visibleComment" data-toggle="tab">@RapidVet.Resources.Client.VisibleComment</a></li>
                <li><a href="#hiddenComment" data-toggle="tab">@RapidVet.Resources.Client.HiddenComment</a></li>
            </ul>
            <div id="comments" class="tab-content">
                <div class="tab-pane fade active in comment" id="visibleComment">
                    @Html.TextAreaFor(model => model.VisibleComment)
                </div>
                <div class="tab-pane fade in comment" id="hiddenComment">
                    @Html.TextAreaFor(model => model.HiddenComment)
                </div>
            </div>
        </div>
 

    </div>
</div>
