﻿@model RapidVet.WebModels.Clients.Details.PhoneModel
<div class="control-group row-fluid phone" style="position: relative;">
    <input type="hidden" name="Id" value="@Model.Id"/>
    <div class="span5">
        <label>
            <span>@RapidVet.Resources.Details.PhoneNumber</span>
    @*        @Html.EditorFor(model => model.PhoneNumber)*@
            <input class="phone-number" type="text" name="Phone" maxlength="10" id="PhoneNumber" value="@Model.PhoneNumber"/>
        </label>
    </div>
    <div class="span3">
        <label>
           
            @Html.EditorFor(model => model.PhoneTypeId)
        </label>
    </div>
    <div class="span3">
        <label>
            <input class="phone-comment" type="text" name="Comment" id="PhoneComment" value="@Model.Comment" />
            <a href="#" class="close-btn" onclick="RemoveElement(this,'phone');">X</a>
        </label>
    </div>
</div>
