﻿@model RapidVet.WebModels.Finance.AddInternalSettlementModel
<div class="row control-group">
    @Html.Action("GetClientDetailsBar", "Base", new { id = Model.ClientId , isPatientId=false})
</div>
<div class="span9 well">
    
@using (Html.BeginForm("AddInternalSettlement" ,"Clients" , new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m=>m.ClientId)
    <div class="control-group">
        <label class="control-label">סכום</label>
        <div class="controls fix-negativ">@Html.EditorFor(m => m.Sum)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">תיאור</label>
        <div class="controls">@Html.EditorFor(m => m.Description)
        </div>
    </div>
    <button class="btn btn-primary">הוספה</button>
}
</div>
