﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ClientsAdvancedSearch.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<h2>@RapidVet.Resources.AdvancedClientsSearch.Title</h2>

<input type="hidden" id="SearchByContaining" value="@ViewBag.SearchByContaining">
<div id="clientsForm" class="form-inline well">
    <div class="row">
        <div>
            <label>
                <input id="searchByContaining" type="checkbox" data-bind="checked: searchByContaining" />
                @RapidVet.Resources.AdvancedClientsSearch.SearchByContaining
            </label>
        </div>
    </div>
    <br />
    <div class="row " style="margin-right: -20px;">
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.FirstName</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: firstName" class="input-small" />
            </label>
        </div>
        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.LastName</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: lastName" class="input-small" />
            </label>
        </div>
        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.ClientIdCard</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: idCard" class="input-small" />
            </label>
        </div>
        
        
        @*---------------*@
       
       
    </div>
    <br />
    <div class="row " style="margin-right: -20px;">
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.Street</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: street" class="input-small" />
            </label>
        </div>

        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.City</label>
        </div>
        <div class="span2">
            <label>
                <select data-bind="value: selectedCity, options: cities, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'" class="input-medium"></select>
            </label>
        </div>
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.ClientEmail</label>
        </div>
        <div class="span3">
            <label>
                <input type="text" data-bind="value: email" class="input-medium" />
            </label>
        </div>
    </div>
    <br />
    <div class="row " style="margin-right: -20px;">
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.ClientPhone</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: phone" class="input-small" />
            </label>
        </div>

        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.PatientName</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: patientName" class="input-small" />
            </label>
        </div>
        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.AnimalKind</label>
        </div>
        <div class="span2">
            <label>
                <select data-bind="value: selectedAnimalKind, options: animalKinds, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'" class="input-small"></select>
            </label>
        </div>
        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.Client.ClientStatus</label>
        </div>
        <div class="span2">
            <label>
                <select class="input-medium" data-bind="options: clientStatuses, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'בחר..', selectedOptions: selectedClientStatusId"></select>
            </label>
        </div>
    </div>
    <br />
    <div class="row " style="margin-right: -20px;">
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.PatientLicense</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: license" class="input-small" />
            </label>
        </div>
        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.PatientChip</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: chip" class="input-small" />
            </label>
        </div>
        @*---------------*@
        <div class="span1">
            <label>@RapidVet.Resources.AdvancedClientsSearch.SaginNumber</label>
        </div>
        <div class="span2">
            <label>
                <input type="text" data-bind="value: sagir" class="input-small" />
            </label>
        </div>
        @*---------------*@
        <div>
            <label>
                <input id="inactivePatients" type="checkbox" data-bind="checked: includeInactivePatients" />
                @RapidVet.Resources.AdvancedClientsSearch.ShowInactivePatients
            </label>
        </div>
        @*---------------*@
    </div>
    <br />
    <button class="btn btn-primary btn-large" id="btnSearch" data-bind="click: search">
        <i class="icon-search"></i>
        @RapidVet.Resources.Global.Search
    </button>
    <span id="errorSpan" class="error-message hide" style="font-size: 18px !important; margin-right: 50px !important;">
        @RapidVet.Resources.AdvancedClientsSearch.PleaseProvideAtLeast2CharachtersInOneField
    </span>
</div>
<table id="tablePages" class="hide" style="height: 40px;">
    <thead>
        <tr>
            <th style="width: 50px;"></th>
            <th style="width: 80px;"></th>
            <th style="width: auto;"></th>
        </tr>
    </thead>
    <tr>
        <td>
            <div class="span2" style="width: auto;">
                <label>@RapidVet.Resources.AdvancedClientsSearch.PageNumber</label>
            </div>
        </td>
        <td>
            <div>
                <select id="pageSelect" data-bind="value: selectedPage, options: pages,event: { change: bindPageDataToView }" style="width: 70px; margin-bottom:0px;"></select>
            </div>
        </td>
        <td>
            <span>@RapidVet.Resources.AdvancedClientsSearch.FromTotal</span><span id="lblPagesCount"></span>
        </td>
    </tr>
    <tr>
        <td>
            <span>@RapidVet.Resources.AdvancedClientsSearch.View</span>
        </td>
        <td>
            <div>
                <select id="pagesSumSelect" data-bind="event: { change: setNewTotalPages }" style="width: 70px; margin-bottom:0px;">
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                    <option>200</option>
                </select>
            </div>
        </td>
        <td>
            <span>@RapidVet.Resources.AdvancedClientsSearch.Pages</span>
        </td>
    </tr>
</table>
<table class="table table-bordered table-condensed table-striped table-hover" id="resultsTable">
    <thead>
        <tr>
            <th style="width: 250px;"></th>
            <th style="width: 250px;">@RapidVet.Resources.AdvancedClientsSearch.FirstName</th>
            <th style="width: 250px;">@RapidVet.Resources.AdvancedClientsSearch.LastName</th>
            <th style="width: 250px;">@RapidVet.Resources.AdvancedClientsSearch.Address</th>
            <th style="width: 250px;">@RapidVet.Resources.AdvancedClientsSearch.ClientCellPhone</th>
            <th style="width: 250px;">@RapidVet.Resources.AdvancedClientsSearch.ClientIdCard</th>
            <th style="width: 250px;">@RapidVet.Resources.AdvancedClientsSearch.PatientNames</th>
            <th style="width: 100px;">@RapidVet.Resources.AdvancedClientsSearch.AnimalKind</th>


        </tr>
    </thead>
    <tbody data-bind="foreach: clients">
        @*<tr data-bind="style: { cursor: ClientUrlVisible() ? 'pointer' : 'default' }, click: ClientUrlVisible() ?  $root.goToPatientClick : null">*@
        <tr data-bind="style: { cursor: 'pointer'}, click: $root.goToPatientClick">
            <td>
                <a id="animalPage" data-bind="if: !ClientUrlVisible(), attr: { href: PatientUrl }">
                    <i class="icon-user"></i>
                    @RapidVet.Resources.AdvancedClientsSearch.PatientFile
                </a>
                <a id="clientPage" data-bind="if: ClientUrlVisible, attr: { href: ClientUrl }">
                    <i class="icon-user"></i>
                    @RapidVet.Resources.AdvancedClientsSearch.ClientFile
                </a>
            </td>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Address"></td>
            <td data-bind="text: Phone"></td>
            <td data-bind="text: IdCard"></td>
            <td data-bind="text: AllPatientNames"></td>
            <td data-bind="text: AnimalKind"></td>
        </tr>
    </tbody>
</table>