﻿@model RapidVet.WebModels.Clients.ClientDetailsModel
@{
    var clientId = Url.RequestContext.RouteData.Values["id"];
}

@Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model)


<h2>העלאת מכתב ללקוח</h2>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <th>מפתח
        </th>
        <th>ערך
        </th>
    </thead>
    <tbody>
        <tr>
            <td>*|FIRSTNAME|*
            </td>
            <td>שם פרטי
            </td>
        </tr>
        <tr>
            <td>*|LASTNAME|*
            </td>
            <td>שם משפחה
            </td>
        </tr>
        <tr>
            <td>*|PHONE|*
            </td>
            <td>טלפון
            </td>
        </tr>
        <tr>
            <td>*|MOBILE|*
            </td>
            <td>נייד
            </td>
        </tr>
        <tr>
            <td>*|ADDRESS|*
            </td>
            <td>כתובת
            </td>
        </tr>
    </tbody>
</table>



@using (Html.BeginForm("ClientLetter", "Clients", new { id = Url.RequestContext.RouteData.Values["id"] }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>בחר מסמך וורד להעלאה בפורמט DOCX</label>
    <input type="file" name="docFile" id="docFile" accept=".csv,.docx,.doc" />
    //<input type="file" name="docFile" id="docFile" accept="application/docx,application/doc" />
    //<input id="fileSelect" type="file" accept=".csv,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
    <button class="btn btn-primary" type="submit" style="width: 120px;"><i class="icon-upload"></i>העלאה</button>
    <a class="btn btn-primary" href="@Url.Action("Patients", "Clients", new { id = clientId })"><i class="icon-home"></i>חזרה לתיק לקוח</a>
}
