﻿@using RapidVet.WebModels.Clients.Details
@model RapidVet.WebModels.Clients.ClientCreateModel
@{
    var formId = "clientCreate";
    var submitBtnId = "clientSubmit";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Client.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/autocomplete.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script>
        $(function () {
            InitCreateForm();
            HideValidFormSubmitBtn('@formId', '@submitBtnId');
        });
    </script>
}
@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.BreadCrums.NewClient</li>
}

@using (Html.BeginForm("Create", "Clients", FormMethod.Post, new { @class = "form-inline", id = formId, autocomplete = "off" }))
{
    
    <input type="hidden" name="isDirectedFromCalender" id="isDirectedFromCalender" value="@Request.QueryString["isDirectedFromCalender"]"/>
    @Html.Partial("_MainForm", Model)

    <div>&nbsp;</div>
    <div class="row-fluid">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok" id ="@submitBtnId">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
    
}

<div style="display: none">

    <div id="emailTemplate" class="template">@Html.Action("Email")</div>

    <div id="phoneTemplate" class="template">@Html.Action("Phone")</div>

    <div id="addresTemplate" class="template">@Html.Action("Address")</div>
</div>
