﻿@using RapidVet.WebModels.Clients.Details
@model RapidVet.WebModels.Clients.ClientCreateModel
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Client.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/autocomplete.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script>
        $(function () {
            InitEditForm();

        });
    </script>
}
@section breadcrumb
{
    <li><a href="/">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@Model.FirstName @Model.LastName
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@RapidVet.Resources.BreadCrums.EditClient</li>
}

@using (Html.BeginForm("Edit", "Clients", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("_MainForm",Model)

    <div>&nbsp;</div>
    <div class="row-fluid">
        <div class="controls" style="text-align: left;">
            <button type="submit" class="btn ok">
                <img src="/Content/img/RapidVet/ok-v.png"></button>
        </div>
    </div>
    
}

<div style="display: none">

    <div id="emailTemplate" class="template">@Html.Action("Email")</div>

    <div id="phoneTemplate" class="template">@Html.Action("Phone")</div>

    <div id="addresTemplate" class="template">@Html.Action("Address")</div>
</div>
