﻿@model RapidVet.WebModels.Patients.PatientIndexModel
@section breadcrumb
{
    <li><a href="@Url.Action("Index", "Home")">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@Model.Client.Name</li>
}


<div class="row control-group">
    @Html.Partial("~/Views/Clients/_ClientDetailsBar.cshtml", Model.Client)
</div>

<div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span11">
        <div class="row-fluid">
            <a href="@Url.Action("Create", "Patients", new { id = Model.Client.Id })" class="btn btn-primary">
                <i class="icon-plus"></i>@RapidVet.Resources.Client.AddPatient
            </a>
            <a href="@Url.Action("Edit", "Clients", new { id = Model.Client.Id })" class="btn btn-primary">
                <i class=" icon-edit"></i>@RapidVet.Resources.Client.Edit
            </a>
            <a href="@Url.Action("Index", "Quotations", new { id = Model.Client.Id })" class="btn btn-primary">
                <i class=" icon-cog"></i>הצעות מחיר
            </a>
            <a href="@Url.Action("PaymentsHistory", "Clients", new { id = Model.Client.Id })" class="btn btn-primary">
                <i class=" icon-cog"></i>מאזן ותשלומים</a>
            @if (Model.HasSmsAccount)
            {
                <a onclick="" class="btn btn-primary" href="#smsModal" role="button" data-toggle="modal">
                    <i class="icon-comment"></i>הודעת טקסט
                </a>
            }
            else
            {
                <a onclick="" class="btn btn-primary btn-" disabled role="button" data-toggle="modal">
                    <i class="icon-comment"></i>הודעת טקסט
                </a> 
            }
            @*<a  class="btn btn-primary" href="@Url.Action("ClientLetter", "Clients", new { id = Model.Client.Id})">
                <i class="icon-envelope"></i>הכנת מכתב
            </a>*@
            <a class="btn btn-primary" data-bind="click: showModal">
                <i class="icon-user"></i>
                החלפת בעלות
            </a>
            <a class="btn btn-primary" data-bind="click: showDiary">
                <i class="icon-user"></i>
                יומן פגישות
            </a>
           
        </div>
        <div>&nbsp;</div>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">חיות פעילות - @Model.Patients.Count()
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="row " id="activePatients">
                            @if (Model.Patients.Any())
                            {
                                <ul id="patientList">
                                    @foreach (var patient in Model.Patients)
                                    {
                                        <li>
                                            <div>
                                                <div class="patient-image-container">

                                                    <a href="@Url.Action("Index", "Patients", new { id = patient.Id })">
                                                        <img class="patient-image" style="max-width:170px"  src="@Url.Action("ProfileImage", "Patients", new { id = patient.Id })" />
                                                    </a>
                                                    <div class="patient-edit-link"><a href="@Url.Action("Edit", "Patients", new { id = patient.Id })"><i class="icon-edit"></i>@RapidVet.Resources.Patient.Edit</a></div>
                                                </div>

                                                <div class="patient-name">
                                                    <a href="@Url.Action("Index", "Patients", new { id = patient.Id })">@Html.DisplayFor(modelPAtient => patient.Name)
                                                        @if (!string.IsNullOrWhiteSpace(patient.ElectronicNumber))
                                                        {
                                                            <br />
                                                            <span>(@patient.ElectronicNumber)</span>
                                                        }
                                                    </a>
                                                   
                                                </div>
                                            </div>

                                        </li>
                                    }
                                </ul>

                            }
                            else
                            {
                                <h2>@RapidVet.Resources.Client.NoPatients</h2>

                                <div>
                                    <a href="@Url.Action("Create", "Patients", new { id = Model.Client.Id })" class="btn btn-primary">
                                        <i class="icon-plus"></i>@RapidVet.Resources.Client.AddPatient
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">חיות לא פעילות - @Model.InactivePatients.Count() 
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">

                        <div class="row">
                            @if (Model.InactivePatients.Any())
                            {
                                <ul id="patientList">
                                    @foreach (var patient in Model.InactivePatients)
                                    {
                                        <li>
                                            <div>
                                                <div class="patient-image-container">

                                                    <a href="@Url.Action("Index", "Patients", new { id = patient.Id })">
                                                        <img class="patient-image" style="max-width:170px" src="@Url.Action("ProfileImage", "Patients", new { id = patient.Id })" />
                                                    </a>
                                                    <div class="patient-edit-link"><a href="@Url.Action("Edit", "Patients", new { id = patient.Id })"><i class="icon-edit"></i>@RapidVet.Resources.Patient.Edit</a></div>
                                                </div>

                                                <div class="patient-name">
                                                    <a href="@Url.Action("Index", "Patients", new { id = patient.Id })">@Html.DisplayFor(modelPAtient => patient.Name)</a>
                                                </div>
                                            </div>

                                        </li>
                                    }
                                </ul>

                            }
                            else
                            {
                                <h2>אין חיות לא פעילות</h2>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" id="smsModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>שליחת הודעת טקסט ללקוח</h3>
    </div>
    <div class="modal-body" style="direction: rtl;">
        <label>מספר טלפון:</label>
        <select id="smsPhone">
            @foreach (var phone in Model.Client.Phones.Where(p => p.PhoneTypeId == 1))
            {
                <option value="@phone.PhoneNumber">@phone.PhoneNumber</option>
            }
        </select>
        <label>תוכן:</label>
        <br />
        <textarea id="smsContent"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" onclick="sendSms()">שליחה</a>
        <a href="#" data-dismiss="modal" class="btn">ביטול</a>

    </div>
</div>

<div class="modal hide fade" id="ownershipModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>העברת בעלות על חיה</h3>
    </div>
    <div class="modal-body" style="direction: rtl;">
        @using (Html.BeginForm("ChangeOwnership", "Clients", FormMethod.Post, new { @class = "form-inline" }))
        {
            <input type="hidden" name="clientId" id="clientId" value="@Model.Client.Id"/>
            <input type="hidden" name="id" value="@Model.Client.Id"/>
            <input type="hidden" name="patientId" data-bind="value: selectedPatientId" />
            <input type="hidden" name="destinationOwnerId" data-bind="value: selectedClientId" />
            <div class="row-fluid">
                <div class="span2">
                    <label>בחר חיה</label>
                </div>
                <div class="span9">
                    <label>
                        <select required data-bind="value: selectedPatientId, options: patients, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </div>
            </div>
            <br />
            <div class="row-fluid ">
                <div class="span2">
                    <label>בחר לקוח</label>
                </div>
                <div class="span9">
                    <label>
                        <input type="text" class="client-search search-query" 
                               style="border:1px solid gray; width: 190px;padding-top: 3px;" placeholder="@RapidVet.Resources.Global.Search" />
                    </label>
                    <label class="no-results" style="display:none;top: 5px; position: relative;"> לא נמצאו תוצאות</label>
                </div>
               
                @*<div class="span9">
                    <label>

                        <select required data-bind="value: selectedClientId, options: clientOptions, optionsCaption: 'בחר..', optionsText: 'Text', optionsValue: 'Value'"></select>
                    </label>
                </div>*@
            </div>

            <br />
            <div>
                <div class="controls" style="text-align: right;">
                    <button type="submit" class="btn ok">
                        <img src="/Content/img/RapidVet/ok-v.png">
                    </button>
                </div>
            </div>
        }

    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ClientPatients.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>

    <script>
    function sendSms() {
        $('#smsModal').modal('hide');
        ShowLoder();
        $.post("../SendSms", { phone: $('#smsPhone').val(), message: $('#smsContent').val(), clientId: @Model.Client.Id }, function (data) {
            toastr.options.positionClass = "toast-top-left";
            if (data == true) {
                toastr.success("ההודעה נמסרה למשלוח");
            } else {
                toastr.error("לא ניתן לשלוח הודעה ללקוח. נא לבדוק הגדרות חשבון.");
            }
            hideLoder();
        });
    }
    </script>
}
