﻿@using RapidVet.WebModels.Clients
@model RapidVet.WebModels.Clients.ClientPaymentsWebModel
@section breadcrumb
{
    <li><a href="@Url.Action("Index", "Home")">@RapidVet.Resources.BreadCrums.Main</a>
        <span class="divider">&gt;</span>
    </li>
    <li>@CurrentUser.ActiveClinic.Name
        <span class="divider">&gt;</span>
    </li>
    <li class="active">@Model.ClientName</li>
}
<style>
    .balance-minus {       
        color: red;
    }
    .balance-pluse {
        color: green;
    }
    .active{
       text-decoration: initial;
    }
    .inactive{
        text-decoration: line-through;
    }
</style>

<div class="row control-group">
      @Html.Action("GetClientDetailsBar", "Base", new { id = Model.ClientId , isPatientId=false})
</div>
<a href="@Url.Action("AddInternalSettlement" , new{ id = Model.ClientId})" class="btn btn-primary" style="width: 86px;margin-left: 20px;">
    התאמה ידנית
</a>
@Html.CheckBox("cb_ShowTreatmentDetails", (bool)ViewBag.ShowTreatmentDetails) הצג פירוט ביקורים
<br/>
<br/>
<table class="table table-bordered table-condensed" id="tableId">
    <thead>
        <tr>
            <th>סוג מסמך</th>
            <th style="width: 40px;text-align: center;">מספר מסמך</th>
            <th>תאריך</th>
            <th>פירוט</th>
            <th style="display:none;">אסמכתא</th>
            <th>זכות</th>
            <th>חובה</th>
            <th>יתרה</th>
            <th>מתוכם נפרעו</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Payments.Any())
        {
            decimal balance = 0;
            foreach (var item in Model.Payments)
            {
                balance += item.Credit;
                balance -= item.Debt;

                if ((item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment && !item.Active) || (item.ClientPaymentInfoType == ClientPaymentInfoType.Proforma))
                { 
                    balance -= item.Credit;
                    balance += item.Debt;
                }
                
                string balanceClass;
                if (balance < 0)
                {
                    balanceClass = "balance-minus";
                }
                else
                {
                    balanceClass = "balance-pluse";
                }
            <tr >
               
                <td class='@(!item.Active && item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment ? "inactive" : "active")'>
                    @switch (item.ClientPaymentInfoType)
                    {
                        case ClientPaymentInfoType.Invoice:  
                            if(!item.ConvertedFromRecipt)
                            {
                                 <text>חשבונית מס</text>
                            }
                            else
                            {
                                <text>@RapidVet.Resources.FinanceDocumentCollectivePrinting.SpecialInvoice</text>
                            }
                            break;
                        case ClientPaymentInfoType.InvoiceCredit:
                        <text>חשבונית זיכוי</text>
                            break;
                        case ClientPaymentInfoType.InvoiceReciept:
                        <text>חשבונית מס קבלה</text>
                            break;
                        case ClientPaymentInfoType.ManualChange:
                        <text>התאמה</text>
                            break;
                        case ClientPaymentInfoType.Reciept:
                        <text>קבלה</text>
                            break;
                        case ClientPaymentInfoType.Treatment:
                        <text>טיפול</text>
                            break;
                        case ClientPaymentInfoType.Proforma:
                        <text>חשבונית עסקה</text>
                            break;
                        case ClientPaymentInfoType.Appointment:
                        <text>פגישה</text>
                            break;
                    }

                </td>
                <td style="text-align: center;">
                    @if (item.ClientPaymentInfoType != ClientPaymentInfoType.Treatment && item.ClientPaymentInfoType != ClientPaymentInfoType.ManualChange)
                    {
                        @item.InvoiceNumber
                    }
                </td>
                <td class='@(!item.Active && item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment ? "inactive" : "active")'>@item.Date.ToShortDateString()</td>
                <td class='@(!item.Active && item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment ? "inactive" : "active")'>@Html.Raw(item.Details) </td>
                <td style="display:none;">
                    @if (item.ClientPaymentInfoType != ClientPaymentInfoType.Treatment)
                    {
                       <text> @item.FinanceDocumentId </text>
                        @*<a target="_blank"  href="@Url.Action("Print", "FinanceDocument", new {id = item.FinanceDocumentId, preview = true})"> @item.InvoiceNumber</a>*@
                    }
                </td>
                <td class='@(!item.Active && item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment ? "inactive" : "active")' style="direction: ltr">@item.Credit.ToString("F") ₪</td>
                <td class='@(!item.Active && item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment ? "inactive" : "active")' style="direction: ltr">@item.Debt.ToString("F") ₪</td>

                <td class='@balanceClass' style="direction: ltr;">@balance ₪</td>
                <td class="fix-negativ">
                    @if (item.Redeemed.HasValue)
                    { 
                        <text>@item.Redeemed ₪</text>
                    }
                </td>
                <td>
                    @if (item.ClientPaymentInfoType != ClientPaymentInfoType.Treatment && item.ClientPaymentInfoType != ClientPaymentInfoType.ManualChange && item.ClientPaymentInfoType != ClientPaymentInfoType.Appointment)
                    {
                        <a class="btn btn-small" href="@Url.Action("Print" , "FinanceDocument" , new{id = item.FinanceDocumentId})"  target="_blank"><i class="icon-print"></i></a>
                        @*if (item.PrintDate != null)
                        {
                            @item.PrintDate.Value.ToShortDateString()
                        }*@
                    }
                    else if (item.ClientPaymentInfoType == ClientPaymentInfoType.Treatment)
                    {
                        <a  onclick="deactivateVisit(@item.InvoiceNumber)" style="color: red" href="#">בטל</a>
                    }
                </td>
            </tr>
            }
        }
        else
        {
            @Muze.EmptyGridMessage()
        }
    </tbody>
</table>

<div id="visitDeleteModel" class="modal hide fade">
    @Html.Partial("_DeleteVisit");
</div>
<script type="text/javascript">
     
    $("#cb_ShowTreatmentDetails").change(function () {
        var checked = $(this).is(':checked');
        var url = '@Url.Action("PaymentsHistory", "Clients")' + '?ShowTreatmentDetails=' + checked;

        // redirect
        window.location.href = url;
    });
    var visitToDeactivateId = null;

    function deactivateVisit (visitId) {
        $('#visitDeleteModel').modal();
        visitToDeactivateId = visitId;
        
    };

    var deactivateVisitFunc = function () {
        $.getJSON('/Visit/DeactivateVisit?id=null&visitId=' + visitToDeactivateId, function (data) {
            if (data == true) {
                visitToDeactivateId = null
                location.reload();
            }
        });
    };


</script>