﻿@{
    Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Admin/EmailsUsage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>דו"ח ניצול מיילים</h2>

<div class="well form-inline">
   
    <div class="row">

        <div class="span1">
            <label>
                חודש:
            </label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="options: months,optionsValue: 'Value',optionsText: 'Name',value: selectedMonth"></select>
            </label>
        </div>


        <div class="span1">
            <label>שנה</label>
        </div>
        <div class="span3">
            <label>
                <select data-bind="options: years,value:selectedYear"></select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <input type="radio" value="true" data-bind="checked: showAll" />הצג הכל
        </div>
        <div class="span2">
            <input type="radio" value="false" data-bind="checked: showAll" />הצג חורגות
        </div>


        <div class="span2" style="float:left;">
            <label>
                <button class="btn btn-primary" data-bind="click: getData">
                    <i class="icon-search"></i>
                    רענן
                </button>
            </label>
        </div>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>קבוצת מרפאות</th>
            <th>שם המרפאה</th>
            <th>מיילים שנשלחו</th>
            <th>מסרונים שנשלחו</th>            
        </tr>
    </thead>
    <tbody data-bind="foreach: clinics">
        <tr>
            <td data-bind="text: ClinicGroup"></td>
            <td data-bind="text: ClinicName"></td>
            <td data-bind="text: EmailsCount"></td>
            <td data-bind="text: SmsCount"></td>          
        </tr>
    </tbody>
</table>
