﻿@{
    Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";
}

<h2>@RapidVet.Resources.AdminNavigation.ExportClinic</h2>
@using (Html.BeginForm("ExportClinic", "Admin", FormMethod.Post, new { @id = "frm_ExportClinic" }))
{
    <div class="form-inline control-group ">
        <div class="row">
            <div class="span2">
                <label>קבוצת מרפאות</label>
            </div>
            <div class="span3">
                <label>
                    <select class="input-medium" data-bind="options: clinicGroups, value: byclinicGroupsID, optionsCaption: 'בחר...', optionsText: 'itemText', optionsValue: 'itemValue'" onchange="getMetaDataByClinicGroupSelectionFuc(this)"></select>
                </label>
            </div>
            <div class="span2">
                <label>מרפאה</label>
            </div>
            <div class="span3">
                <label>
                    <select class="input-medium" data-bind="options: clinics, value: byclinicID, optionsCaption: 'בחר...', optionsText: 'itemText', optionsValue: 'itemValue'"></select>
                </label>
            </div>
            <input type="hidden" name="clinicId" id="clinicId" data-bind="value: byclinicID" />
        </div>

        <br />
        <div>
            <div class="span2">
                <label>
                    מייל לעדכון בסיום הייצוא
                </label>
            </div>
            <div class="span3">
                <label>
                    <input type="text" id="notifyEmail" name="notifyEmail" data-bind="value: email" />
                </label>
            </div>
        </div>
        <br />
        <br />
        <div>

            <button class="btn btn-primary" onclick="return lockoutSubmit(this)">ייצא</button>
        </div>
    </div>
}
<script type="text/javascript">
    function isEmptyOrWhiteSpaces(str) {
        return typeof str == "undefined" || str === null || str.match(/^ *$/) !== null; //str.match(/^$|\s+/) !== null;
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function lockoutSubmit(button) {
        if (!isEmptyOrWhiteSpaces($('#clinicId').val())) {
            if (!isEmptyOrWhiteSpaces($('#notifyEmail').val()) && validateEmail($('#notifyEmail').val())) {
                ShowLoder();
                button.setAttribute('disabled', true);
                //   button.value = '...processing...';

                //setTimeout(function () {
                // //   button.value = oldValue;
                //    button.removeAttribute('disabled');
                //}, 10000);


                document.forms["frm_ExportClinic"].submit();

                return true;
            }
            else {
                alert("יש להזין כתובת תקינה למשלוח מייל");
                return false;
            }
        } else {
            alert('אנא בחר מרפאה');
            return false;
        }


    }



    function SelectItem(value, text) {
        var self = this;
        self.itemValue = value;
        self.itemText = text;
    }

    function viewModel() {
        var self = this;
        self.email = ko.observable();
        self.byclinicGroupsID = ko.observable();
        self.byclinicID = ko.observable();
        self.clinicGroups = ko.observable([]);
        self.clinics = ko.observable([]);

        self.getMetaData = function () {
            $.get('/Admin/GetAllClinicGroups', function (data) {
                var mappedClinicGroups = $.map(data, function (item) {
                    return new SelectItem(item.Id, item.Name);
                });
                self.clinicGroups(mappedClinicGroups);
            }, 'json');
        };

        self.getMetaDataByClinicGroupSelection = function (val) {
            self.clinics([]);
            $.get('/Admin/GetClinicsOfClinicGroup?clinicGroup=' + val, function (data) {
                var mappedClinics = $.map(data, function (item) {
                    return new SelectItem(item.Id, item.Name);
                });
                self.clinics(mappedClinics);
            }, 'json');
        };

        self.getMetaData();
    }

    function getMetaDataByClinicGroupSelectionFuc(sel) {
        var val = sel.value;
        var self = this;
        self.getMetaDataByClinicGroupSelection(val);
    }

    $(function () {
        ko.validation.configure({
            messagesOnModified: true,
            insertMessages: true
        });
        ko.applyBindings(viewModel(), document.body);
        $(".validationMessage").css("color", "red");

    });

</script>
