﻿@model RapidVet.Model.Tools.GeneralSettings
@{
    Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";
}

@section scripts
{
   <script src="@Url.Content("~/ckeditor/ckeditor.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
    <script src="@Url.Content("~/Scripts/App/AdminSettings.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}

<input type="hidden" id="MessageId" name="MessageId" value="@Model.Id" />

<h1>הגדרות כלליות</h1>

<h2>טקסט כללי בדף הבית</h2>


<div class="form-horizontal">   

    <div class="control-group">
        <textarea name="editor1" id="editor1" rows="10" cols="80">
            @Html.Raw(Model.GeneralText)
        </textarea>   
    </div>

    <br />
    <br />

    <button class="btn btn-primary" id="btnSave" data-bind="click: saveForm">
        <i class="icon-file"></i>
        שמור
    </button>

</div>
