﻿@using RapidVet.Enums.Finances
@using RapidVet.Repository.Clinics
@model List<RapidVet.Model.Finance.FinanceDocumentPayment>
             
    @{
        Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";
        List<SelectListItem> issuers;
        using (IIssuerRepository repository = new IssuerRepository())
        {
            issuers = repository.GetDropdownList(CurrentUser.ActiveClinicId, -1);
        }

        if (Request.QueryString["IssuerId"] != null)
        {
            foreach (var issuer in issuers)
            {
                issuer.Selected = issuer.Value == Request.QueryString["IssuerId"];
            }
        }
        string from;
        string to;

        if (Request.QueryString["fromTime"] == null)
        {
            var now = DateTime.Now;
            from = (new DateTime(now.Year, now.Month, 1)).ToString("dd/MM/yyyy");            

        }
        else
        {            
            from = Request.QueryString["fromTime"];

        }

    }




    <h2>העברת קבלות שטרם נפרעו למנפיק אחר</h2>

    <div class="well">
        <div class="form-inline">
            <div class="row ">
                <div class="span1">
                    <label style="margin-top: 4px;">שם המנפיק</label>
                </div>
                <div class="span4">
                    <label>
                        <select id="issuers" name="issuers">
                            @foreach (var issuer in issuers)
                            {
                                <option value="@issuer.Value" @if (issuer.Selected) { <text> selected="selected" </text>   }>@issuer.Text</option>
                            }
                        </select>
                    </label>
                </div>

                <div class="span1">
                    <label style="margin-top: 4px;">מתאריך</label>
                </div>
                <div class="span2">
                    <label>
                        <input type="text" class="input-small" id="from" readonly value="@from" style="margin-top: 4px;" />
                    </label>
                </div>              

                <div class="span2">
                    <label>
                        <a id="refreshLink" class="btn">רענן</a>
                    </label>

                </div>
            </div>
        </div>
    </div>



    @if (Model.Count() > 0)
    {
        <h3>בחר קבלות להעברה</h3>
        using (Html.BeginForm("MoveRecieptsToAnotherIssuer", "Admin", FormMethod.Post, new { @id = "frm_RecieptToNewIssuer" }))
        {
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="max-width:15px;"><input type="checkbox" id="markAll" onclick="toggle(this)" /></th>
                        <th style="width:17%;">תאריך הפקת הקבלה</th>
                        <th style="width:17%;">לקוח</th>
                        <th style="width:17%;">קבלה</th>
                        <th style="width:17%;">תאריך פרעון</th>
                        <th style="width:17%;">אמצעי תשלום</th>
                        <th style="width:17%;">סכום</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" value="@item.Id" name="paymentsIds" />
                            </td>
                            <td>
                                @item.Recipt.Created.ToShortDateString()
                            </td>
                            <td>
                                @item.Recipt.ClientName
                            </td>
                            <td>@item.Recipt.SerialNumber</td>
                            <td>
                                @if (item.DueDate != null)
                                {
                                    @item.DueDate.Value.ToShortDateString()
                                }
                        </td>
                        <td>@RapidVet.Resources.Enums.Finances.PaymentType.ResourceManager.GetString(item.PaymentType.ToString())</td>
                        <td>@item.Sum.ToString("F")</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="span2">
                <label style="margin-top: 4px;">העבר למנפיק</label>
            </div>
            <div class="span4">
                <label>
                    <select id="newIssuerId" name="newIssuerId">
                        @foreach (var issuer in issuers)
                        {
                            <option value="@issuer.Value">@issuer.Text</option>
                        }
                    </select>
                </label>
            </div>
            
            <div>
                <button class="btn btn-danger" onclick="if ($('#newIssuerId').val() != null) { ShowLoder(); return true; } else { alert('אנא בחר מנפיק להעברה'); return false; }">העבר</button>
            </div>
        }
    }
    else
    {
        <h3>לא נמצאו קבלות להעברה</h3>
    }


    @section scripts
{
        <script type="text/javascript">
            $(function () {
                $.datepicker.setDefaults($.datepicker.regional["he"]);
                $("#from").datepicker({
                    defaultDate: "+0",
                    dateFormat: 'dd/mm/yy',
                    onClose: function (selectedDate) {                       
                        $('#refreshLink').attr('href', '/Admin/MoveRecieptsToAnotherIssuer?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val());
                    },
                    isRTL: true
                });

                $('#issuers').on('change', function () {
                    $('#refreshLink').attr('href', '/Admin/MoveRecieptsToAnotherIssuer?issuerId=' + $('#issuers').val() + '&fromTime=' + $('#from').val());

                    disableChosenIssuer();
                });
                disableChosenIssuer();
            });

            function toggle(source) {
                checkboxes = document.getElementsByName('paymentsIds');
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    checkboxes[i].checked = source.checked;
                }
            }

            function disableChosenIssuer()
            {
                var options = document.forms['frm_RecieptToNewIssuer']['newIssuerId'].options;
                for (var i = 0, iLen = options.length; i < iLen; i++) {
                    if (options[i].value == $("#issuers").val()) {
                        options[i].disabled = true;
                    }
                    else {
                        options[i].disabled = false;
                    }
                }
            }
        </script>
    }
