﻿@model string
@{
    Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";
}
    <!--Reference the SignalR library. -->
<script src="@Url.Content("~/Scripts/jquery.signalR-1.2.1.min.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)" type="text/javascript"></script>

<h2>@RapidVet.Resources.AdminNavigation.RecalculatePatientNames</h2>
@*@using (Html.BeginForm("RecalculateBalance", "Admin", FormMethod.Post, new { @id = "frm_RecalculateBalance" }))
{*@
<button class="btn btn-danger" disabled="disabled" id="tasker" type="submit" onclick="startTask()">עדכן שמות חיות עבור כל לקוחות המרפאה</button>
    <br /><br />
    
<div class="progress" style="width:40%;">
    <div class="bar bar-success" id="workDone">
    </div>
    </div>
<br /><br />

@* } *@
@section scripts
{
    <script type="text/javascript">
        var connectionId;
        $(function () {
            $.connection.hub.start().done(function () {
                connectionId = $.connection.hub.id;
                $("#tasker").removeAttr("disabled");
            });
        });

        function startTask() {
            $.post("/Admin/RecalculatePatientNames/" + connectionId);
        }

        var theHub = $.connection.progressHub;
        theHub.client.updateProgressBar = function (taskId, percentage) {
            if (taskId == connectionId) {
                $("#workDone").text(percentage + '%');
                $('.bar')
                      .css('width', percentage + '%')
                      .css('background-image', 'none')
                      .css('background-color', '#7dba00');
            }
        };
    </script>
}