﻿@{
    Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Admin/StorageUsage.js?v=" + typeof(RapidVet.Web.MvcApplication).Assembly.GetName().Version)"></script>
}


<h2>דו"ח ניצול נפח מרפאה</h2>

<div class="well form-inline">
   
    <div class="row">
        <div class="span2">
            <input type="radio" value="true" data-bind="checked: showAll" />הצג הכל
        </div>
        <div class="span2">
            <input type="radio" value="false" data-bind="checked: showAll" />הצג חורגות
        </div>


        <div class="span2" style="float:left;">
            <label>
                <button class="btn btn-primary" data-bind="click: getData">
                    <i class="icon-search"></i>
                    רענן
                </button>
            </label>
        </div>
    </div>
</div>
<br />


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>קבוצת מרפאות</th>
            <th>שם המרפאה</th>
            <th>הקצאה</th>
            <th>גודל פיזי בשימוש</th>            
            <th>% ניצול</th>  
        </tr>
    </thead>
    <tbody data-bind="foreach: clinics">
        <tr>
            <td data-bind="text: ClinicGroup"></td>
            <td data-bind="text: ClinicName"></td>
            <td data-bind="text: Allocation"></td>
            <td data-bind="text: UsageSize"></td>          
            <td data-bind="text: UsagePercent().toFixed(2)"></td>  
        </tr>
    </tbody>
</table>
