﻿@using RapidVet.Enums.Finances
@using RapidVet.Repository.PreventiveMedicine
@model List<RapidVet.Model.Finance.PriceListItem>

    @{
        Layout = "~/Views/Shared/_AdminSettingsLayout.cshtml";

        List<SelectListItem> preventiveItems;
        using (IPreventiveMedicineRepository repository = new PreventiveMedicineRepository())
        {
            preventiveItems = repository.GetPreventiveMedicineItemsDropDownForClinic(CurrentUser.ActiveClinicId);
        }

       
     }




    <h2>איחוד חיסונים</h2>
    @using (Html.BeginForm("UnitePreventiveItems", "Admin", FormMethod.Post, new { @id = "frm_UnitePreventiveItems" }))
    {
    <div class="well">
        <div class="form-inline">
            <div class="row ">
                <div class="span1">
                    <label style="margin-top: 4px;">חיסון ראשי</label>
                </div>
                <div class="span4">
                    <label>
                        <select id="preventiveItemMasterId" name="priceListItemMasterId">
                            @foreach (var pi in preventiveItems)
                            {
                                <option value="@pi.Value" @if (pi.Selected) { <text> selected="selected" </text>         }>@pi.Text</option>
                            }
                        </select>
                    </label>
                </div>

                <button id="markSimilar" class="btn btn-primary" onclick="return findSimilar()">סמן דומים</button>

                <button class="btn btn-primary" onclick="return clearSelection()">נקה בחירה</button>
                <button class="btn btn-danger" onclick="ShowLoder(); return true;">אחד</button>
            </div>
        </div>
    </div>



        
            <table id="preventiveTable" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="max-width:15px;"><input type="checkbox" id="markAll" onclick="toggle(this)" /></th>
                        <th>שם</th>                       
                    </tr>
                </thead>
                <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" id="itemId" value="@item.Id" name="priceListItemIds" />
                            </td>
                            <td id="itemName">
                                @item.Name
                            </td>                            
                        </tr>
                    } 
                }
                </tbody>
            </table>            
           
        }
   
   


    @section scripts
{
        <script type="text/javascript">
          
            function toggle(source) {
                checkboxes = document.getElementsByName('priceListItemIds');
                for (var i = 0, n = checkboxes.length; i < n; i++) {
                    checkboxes[i].checked = source.checked;
                }
            }

            function disableChosenIssuer() {
                var options = document.forms['frm_RecieptToNewIssuer']['newIssuerId'].options;
                for (var i = 0, iLen = options.length; i < iLen; i++) {
                    if (options[i].value == $("#issuers").val()) {
                        options[i].disabled = true;
                    }
                    else {
                        options[i].disabled = false;
                    }
                }
            }

            function findSimilar() {
                var selectedValue = $("#preventiveItemMasterId option:selected").text();

                var splittedText = selectedValue.split("-");
                var stringToFind = "";

                for(var i=0; i<splittedText.length-1;i++)
                {
                    stringToFind = stringToFind + splittedText[i];
                }

                stringToFind = stringToFind.trim();
                stringToFind = stringToFind + " -";

                $('#preventiveTable > tbody  > tr').each(function () {
                    var item = $(this).find("#itemName").html().trim();
                    item = item + " -";
                    // if(item.match("^" + stringToFind) != null)
                    if(item.substr(0, stringToFind.length) == stringToFind)
                    {
                        $(this).find("#itemId").prop('checked', true);
                    }
                });

                return false;
            }

            function clearSelection()
            {
                $('#preventiveTable > tbody  > tr').each(function () {
                        $(this).find("#itemId").prop('checked', false);
                });

                return false;
            }

        </script>
    }
